= form_for( resource, as: resource_name, url: confirmation_path( resource_name ), html: { method: :post }) do |f|
  %h1 Confirm your email address
  %p
    You must have a working email address to use iNaturalist. When you signed up for an account, you should have received a confirmation email with a link to click to confirm that your email address works, but if you didn't you can send yourself another confirmation email here.
  - unless resource.errors[:confirmation_token].blank?
    .error= formatted_error_sentence_for( resource, :confirmation_token )
  .form-group.text-field.email
    = f.text_field :email, autofocus: true, autocomplete: "email", autocorrect: "off", autocapitalize: "off", required: true, placeholder: t( :email ), type: "email", class: "form-control", value: ( resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email )
    - unless resource.errors[:email].blank?
      .error= formatted_error_sentence_for( resource, :email )
  .actions
    = f.submit "Send confirmation email", class: "btn btn-inat btn-primary btn-lg"
