<%- content_for(:title) do -%>
  <%= @title = t(:getting_started) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "help", "jquery/ui.tabs.css" %>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag 'jquery/jquery.ui.all.packed' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#tabs').tabs();
    });
  </script>
<%- end -%>
<div id="pagheader">
  <h2><%= @title %></h2>
</div>

<%= render :partial => 'nav' %>

<div class="last column span-20">
  <p>
    ¡Hola y bienvenido a <%= SITE_NAME %>! Esta guía le mostrará algunas de las características principales del sitio.
  </p>
  
  <div id="tabs" class="ui-tabs">
    <ul>
      <li><a href="#observations"><span><%=t :observations %></span></a></li>
      <li><a href="#photos"><span><%=t :Photos %></span></a></li>
      <li><a href="#lists"><span><%=t :lists %></span></a></li>
      <li><a href="#species"><span><%=t :species %></span></a></li>
    </ul>
    
    <div id="observations">
      <h3><%=t :observations %></h3>
      <p>
        Las observaciones son el punto medular de <%= SITE_NAME %>. Una observación es básicamente una especia que usted observó, una hora y un lugar.
      </p>

      <div class="clear">
        <%= image_tag "help/add_obs.jpg", :alt => "drop-down menu", :class => "right" %>
        <h4><%=t :adding_observations %></h4>
        <p>
          Siempre puede agregar observaciones nuevas haciendo clic en la flechita arriba a la derecha de la página y usando el menú desplegable.
        </p>
      </div>

      <p>
        El formulario de observación es así
      </p>

      <%= image_tag "help/add_obs_form.jpg", :alt => "observation form" %>

      <p>
        Es importante que haga click
        <a class="button" style="display: inline-block; float: none; margin: 0 5px"><%=t :lookup %></a>
        y seleccione un taxón de la lista que concuerde. Si no termina con algo como
        <%= image_tag "help/matched_taxon.jpg", :alt => "matched taxon", :style => "vertical-align: middle" %>, your
        su observación no será asociada con otras observaciones de esta especie y su lista de vida no será actualizada.
      </p>

      <p>
        Si <%= SITE_NAME %> no puede encontrar un taxón que concuerde con el nombre que usted ingrese en nuestra base de datos, usted verá algo como
      </p>

      <%= image_tag "help/unmatched_taxon.jpg", :style => "margin: 0 auto 10px; display: block;" %>

      <p>
        Si no sabe realmente lo que vió, ¡no hay problema! Si lo sabe, debería hacer click <strong class="ui">Buscar proveedores externos de nombres</strong>. Esto le indicará a <%= SITE_NAME %> que busque el nombre en algunas bases de datos taxonómicos externas y que trate de importar lo que encuentre.
      </p>

      <p>
        ¡Esas son las bases para agregar observaciones! Hay muchas otras cosas que puede hacer, como buscar y filtrar sus observaciones o modificarlas como un grupo, pero esto debería ser auto explicativo.
      </p>

      <p>
        <%= link_to_function "#{t(:photos)} &rarr;".html_safe , "$('#tabs').tabs('select', 'photos')", :class => "right" %>
        <%= link_to t(:start_adding_observations), new_observation_path, :class => "readmore", :rel => "nofollow" %>
      </p>
    </div>

    <div id="photos">
      <%= image_tag "help/photo_selector.jpg", :alt => "Seleccionador de fotos", :class => "right" %>
      <h3>Integración de fotos</h3>
      
      <p>
         No alojamos fotos en <%= SITE_NAME %>, pero sí permitimos que usted asocie sus observaciones con fotos de <a href="http: //www.flickr.com/">Flickr</a> or <a href="http: //picasaweb.google.com/">Picasa</a>. 
         Si utiliza cualquiera de estos servicios, puede vincular sus cuentas y siempre ver una lista de sus fotos más recientes cuando se añaden nuevas observaciones.
      </p>
      
      <p>
        <%= link_to t(:link_your_flickr_account), {:controller => "flickr" , :action => "options"}, :class => "readmore" %>
      </p>
      <p>
        <%= link_to t(:link_your_picasa_account), {:controller => "picasa" , :action => "options"}, :class => "readmore" %>
      </p>
      
      <h4><%=t :flickr_tagger %></h4>
      
      <p>
        <%= SITE_NAME %> también puede ayudarle a agregar etiquetas taxonómicas a sus fotos de Flickr usando la
        <%= link_to t(:taxonomic_tags_for_flickr), :controller => "taxa", :action => "flickr_tagger" %>
        herramienta. Esta herramienta agrega etiquetas a sus fotos de todos los nombres comunes y científicos del taxón que usted observó y los nombres de sus ancestros. Entonces si su observación es de un
        <span class="species taxon_links"><%= link_to "Spring Peeper", "/taxa/Spring_Peeper", :class => "taxon Amphibia" %></span>,
        usted obtendrá las siguientes etiquetas
      </p>
      
      <code>
        Animalia
        Chordata
        Amphibia
        Hylidae
        Pseudacris
        taxonomy:kingdom=Animalia
        taxonomy:phylum=Chordata
        "Pseudacris crucifer"
        "rainette crucifère"
        "Spring Peeper"
        taxonomy:class=Amphibia
        taxonomy:order=Anura Anura
        taxonomy:family=Hylidae
        taxonomy:genus=Pseudacris
        taxonomy:species=crucifer
        "taxonomy:binomial=Pseudacris crucifer"
        "taxonomy:common=rainette crucifère"
        "taxonomy:common=Spring Peeper"
      </code>
      
      <p>
        Etiquetas como taxonomía <code>binomial=Pseudacris crucifer</code> are <a href="http: //www.flickr.com/help/tags#613430">machine tags</a>.
        Ellos ayudan a los ingenieros de programación dar sentido a sus etiquetas, y son requeridos por algunos grupos de Flickr como la <a href="http: //www.flickr.com/groups/encyclopedia_of_life/">Enciclopedia de la Vida</a> grupo de imágenes.</a>
      </p>
      
      <p>
        También puede agregar etiquetas de Flickr cuando modifique una observación o grupos de observaciones.
      </p>
      
      <p>
        <%= link_to_function "#{t :lists} &rarr;".html_safe, "$('#tabs').tabs('select', 'lists')", :class => "right" %>
      </p>
      
    </div>

    <div id="lists">
      <%= image_tag "help/list.jpg", :class => "right" %>
      <h3><%=t :lists %></h3>

      <p>
        Las listas son listas de especies (u otros taxones), como una lista de vida de todas las aves que ha visto o una lista de sus salamandras favoritas. Esas <em>no</em> son listas de observaciones.
      </p>

      <p>Las listas vienen en tres variedades:</p>
      <dl>
        <dt>Listas</dt>
        <dd>
          Las listas ordinarias son listas arbitrarias de taxones que puede crear. Tal vez le gustaría mantener una lista de especies que desea ver, o de aves que no ha visto en su jardín.
        </dd>
        <dt>Listas de vida</dt>
        <dd>
          Las lista de vida se llenan automáticamente con base en sus
          observaciones y un conjunto de reglas y también se pueden agregar
          manualmente. Por el momento, la única regla que tenemos es si una
          especie está o no en un taxón de nivel más alto. Entonces usted
          puede hacer una lista de vida de todos los mamíferos que haya visto
          al asociarlos con el tazón <a href="/taxa/Mammalia">Mammalia</a>.
          Todos en <%= SITE_NAME %> tienen una lista de vida por defecto, la
          cual registra todos los taxones que hayan visto.
        </dd>
        <dt>Listas de verificación</dt>
        <dd>
          Las listas de verificación representan todos los taxones que se
          presentan dentro de un lugar en particular. A diferencia de las
          listas ordinarias y las listas de vida, las listas de verificación
          puede modificarlas cualquier persona de <%= SITE_NAME %>. Ya que los
          lugares pueden contener otros lugares (por ejemplo:  Connecticut es
          un estado de los Estados Unidos), las listas de verificación
          automáticamente se actualizan con cambios de contenido en los
          lugares. Entonces si yo agrego "Northern Cardinal" a la lista de
          verificación de Connecticut, se agregará a la lista de verificación
          de EE.UU. también. Los lugares también pueden tener varias listas de
          verificación para los diferentes taxones (por ejemplo:  "Plantas de
          Australia") que usan reglas taxonóicas como listas de vida.
        </dd>
      </dl>
      
      <p class="meta readable">
        <%= link_to_function "#{t(:species)} &rarr;".html_safe, "$('#tabs').tabs('select', 'species')", :class => "right" %>
        <%= link_to t(:start_a_new_list), new_list_path, :class => "readmore", :rel => "nofollow" %>
        <% if logged_in? -%>
          &nbsp;or&nbsp; <%= link_to t(:view_your_life_lists), current_user.life_list, :class => 'readmore' %>
        <% end -%>
      </p>
    </div>

    <div id="species">
      <h3>Especies y otros taxones</h3>
      
      <p>
        <%= SITE_NAME %> mantiene una gran base de datos de especies y otros taxones y tenemos páginas individuales para cada uno, mostrando fotos de Flickr, observaciones, nuestra clasificación y una descripción de Wikipedia. Aquí está la página para
        <span class="species taxon_links"><%= link_to "Homo sapiens", "/taxa/Homo_sapiens", :class => "sciname taxon Mammalia" %></span>.
      </p>
      
      <h4><%=t :names %></h4>

      <p>
        Importamos nuestros datos taxonómicos de algunas bases de datos taxonómicos externas, incluyendo el Catálogo de Vida y uBio. Algunos de nuestros taxones también han sido ingresados manualmente y cualquier usuario puede agregar nombres nuevos para los taxones. Si no puede encontrar un taxón o un nombre, pruebe
        <%= link_to "a buscar lo", search_taxa_path %>.
        Si su búsqueda regresa vacía, debería ver algunas cajas de búsqueda para repetir la búsqueda a través de nuestros proveedores externos de nombres:
      </p>
      
      <%= image_tag "help/search_external.jpg", :style => "margin: 0 auto 10px; display: block;" %>
      
      <p>
        Si ellos saben el nombre, «Bioexplorador» importará y guardará los datos.
      </p>
      
      <h4><%=t :help_out! %></h4>
      
      <p>
       ¡Usted puede ayudar a que nuestras páginas de especies sean más útiles agregando datos!  Aquí hay algunas formas en las que puede ayudar:
      </p>
      
      <ul class="readable">
        <li>buscar nuevos taxones</li>
        <li>agregar nombres comunes a taxones existentes</li>
        <li>agregar colores</li>
        <li>seleccionar buenas fotos por defecto del grupo de fotos de Creative Commons en Flickr</li>
        <li>agregar taxones a lugares</li>
      </ul>
    </div>
  </div>
</div>
