<%- content_for(:title) do -%>
  <%= @title = t(:getting_started) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "help", "jquery/ui.tabs.css" %>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag 'jquery/jquery.ui.all.packed' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#tabs').tabs();
    });
  </script>
<%- end -%>
<div id="pagheader">
  <div class="breadcrumbs">
    <strong><%= link_to "#{raw t(:back_to_help)}", help_path %></strong>
  </div>
  <h2><%= @title %></h2>
</div>

<%= render :partial => 'nav' %>

<div class="last column span-20">
  <p>
  <%=t :hi_and_welcome_to %> 
  </p>
  
  <div id="tabs" class="ui-tabs">
    <ul>
      <li><a href="#observations"><span><%=t :observations %></span></a></li>
      <li><a href="#photos"><span><%=t :photos %></span></a></li>
      <li><a href="#lists"><span><%=t :lists %></span></a></li>
      <li><a href="#species"><span><%=t :species %></span></a></li>
    </ul>
    
    <div id="observations">
      <h3><%=t :observations %></h3>
      <p>
        <%=t :observations_lie_at_the_core %>
      </p>

      <div class="clear">
        <%= image_tag "help/add_obs.jpg", :alt => "drop-down menu", :class => "right" %>
        <h4><%=t :adding_observations %></h4>
        <p>
          <%=t :you_can_always_add_new %>
        </p>
      </div>

      <p>
        <%=t :the_observation_form_looks %>
      </p>

      <%= image_tag "help/add_obs_form.jpg", :alt => "observation form" %>

      <p>
        <%=t :its_important_that_you %>click
        <a class="button" style="display: inline-block; float: none; margin: 0 5px"><%=t :lookup %></a>
        <%=t :and_choose_a_matching_taxon %> 
        <%= image_tag "help/matched_taxon.jpg", :alt => "matched taxon", :style => "vertical-align: middle" %>, your
       <%=t :your_observation_wont_get %> 
      </p>

      <p>
        <%=t :if_inat_cant_find_taxon %> 
      </p>

      <%= image_tag "help/unmatched_taxon.jpg", :style => "margin: 0 auto 10px; display: block;" %>

      <p>
        <%= raw t(:if_you_really_dont_know_what) %>
      </p>

      <p>
        <%=t :those_are_the_basics_of %>
      </p>

      <p>
        <%= link_to_function t(:photos_next) , "$('#tabs').tabs('select', 'photos')", :class => "right" %>
        <%= link_to t(:start_adding_observations), new_observation_path, :class => "readmore", :rel => "nofollow" %>
      </p>
    </div>

    <div id="photos">
      <%= image_tag "help/photo_selector.jpg", :alt => t(:photo_selector), :class => "right" %>
      <h3><%=t :photo_integration %></h3>
      
      <p>
         <%= raw t( :we_dont_host_photos_at) %>
      </p>
      
      <p>
        <%= link_to t(:link_your_flickr_account), {:controller => "flickr" , :action => "options"}, :class => "readmore" %>
      </p>
      <p>
        <%= link_to t(:link_your_picasa_account), {:controller => "picasa" , :action => "options"}, :class => "readmore" %>
      </p>
      
      <h4><%=t :flickr_tagger %></h4>
      
      <p>
        <%=t :inat_can_also_help_you_add %>
        <%= link_to "Taxonomic Tags for Flickr", :controller => "taxa", :action => "flickr_tagger" %>
        <%=t :this_tool_will_add_tags %>
        <span class="species taxon_links"><%= link_to "Spring Peeper", "/taxa/Spring_Peeper", :class => "taxon Amphibia" %></span>,
        <%=t :you_would_get_the %>
      </p>
      
      <code>
        Animalia
        Chordata
        Amphibia
        Hylidae
        Pseudacris
        taxonomy:kingdom=Animalia
        taxonomy:phylum=Chordata
        "Pseudacris crucifer"
        "rainette crucifère"
        "Spring Peeper"
        taxonomy:class=Amphibia
        taxonomy:order=Anura Anura
        taxonomy:family=Hylidae
        taxonomy:genus=Pseudacris
        taxonomy:species=crucifer
        "taxonomy:binomial=Pseudacris crucifer"
        "taxonomy:common=rainette crucifère"
        "taxonomy:common=Spring Peeper"
      </code>
      
      <p>
      <%=t :tags_like_taxonomy_binomial %>
      </p>
      
      <p>
       <%=t :you_can_also_add_flickr %>      </p>
      
      <p>
        <%= link_to_function "Lists &rarr;", "$('#tabs').tabs('select', 'lists')", :class => "right" %>
      </p>
      
    </div>

    <div id="lists">
      <%= image_tag "help/list.jpg", :class => "right" %>
      <h3><%=t :lists %></h3>

      <p>
      <%= raw t(:lists_are_lists_of_species) %>
      </p>

      <p><%=t :lists_come_in_three %>:</p>
      <dl>
        <dt>Lists</dt>
        <dd>
          Ordinary lists are just arbitrary lists of taxa you can create. Maybe
          you'd like to keep a list of species you'd like to see, or birds you've
          seen at your bird feeder.
        </dd>

        <%=t :dt_lists %>
        <%= raw t(:dt_life_lists) %>
        <%= raw t(:dt_check_lists) %>
      </dl>
      
      <p class="meta readable">
        <%= link_to_function t(:species) +" &rarr;", "$('#tabs').tabs('select', 'species')", :class => "right" %>
        <%= link_to t(:start_a_new_list), new_list_path, :class => "readmore", :rel => "nofollow" %>
        <% if logged_in? -%>
          &nbsp;or&nbsp; <%= link_to t(:view_your_life_lists), current_user.life_list, :class => 'readmore' %>
        <% end -%>
      </p>
    </div>

    <div id="species">
      <h3><%=t :species_and_other_taxa %></h3>
      
      <p>
      <%=t :inaturalist_matinains_a_big %>
      <span class="species taxon_links"><%= link_to "Homo sapiens", "/taxa/Homo_sapiens", :class => "sciname taxon Mammalia" %></span>.
      </p>
      
      <h4><%=t :names %></h4>

      <p>
      <%=t :we_import_our_taxonomic_data %> 
      <%= link_to "searching for it", search_taxa_path %>.
      <%=t :if_your_search_comes_up %>:
      </p>
      
      <%= image_tag "help/search_external.jpg", :style => "margin: 0 auto 10px; display: block;" %>
      
      <p>
        <%=t :if_they_know_about %> 
      </p>
      
      <h4><%=t :help_out! %></h4>
      
      <p>
       <%=t :you_can_help_make_our %>:
      </p>
      
      <ul class="readable">
        <li><%=t :search_for_new_taxa %></li>
        <li><%=t :add_common_names_for %></li>
        <li><%=t :add_colors %></li>
        <li><%=t :choose_good_default_photos %></li>
        <li><%=t :add_taxa_to_places %></li>
      </ul>
    </div>
    
  </div>
  
</div>
