<%- content_for(:title) do -%>
  <%= @title = "Getting Started" %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "help", "jquery/ui.tabs.css" %>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag 'jquery/jquery.ui.all.packed' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#tabs > ul').tabs();
    });
  </script>
<%- end -%>
<div id="pagheader">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo; Back to Help", help_path %></strong>
  </div>
  <h2><%= @title %></h2>
</div>

<%= render :partial => 'nav' %>

<div class="last column span-20">
  <p>
    Hi and welcome to iNat! This guide will walk you through some of the main
    features of the site.
  </p>
  
  <div id="tabs" class="ui-tabs">
    <ul>
      <li><a href="#observations"><span>Observations</span></a></li>
      <li><a href="#photos"><span>Photos</span></a></li>
      <li><a href="#lists"><span>Lists</span></a></li>
      <li><a href="#species"><span>Species</span></a></li>
    </ul>
    
    <div id="observations">
      <h3>Observations</h3>
      <p>
        Observations lie at the core of iNaturalist. An observation is basically a
        species you observed, a time, and a place.
      </p>

      <div class="clear">
        <%= image_tag "help/add_obs.jpg", :alt => "drop-down menu", :class => "right" %>
        <h4>Adding Observations</h4>
        <p>
          You can always add new observations by clicking the little arrow on the
          upper right of the page and using the drop down menu.
        </p>
      </div>

      <p>
        The observation form looks like this:
      </p>

      <%= image_tag "help/add_obs_form.jpg", :alt => "observation form" %>

      <p>
        It's important that you click
        <a class="button" style="display: inline-block; float: none; margin: 0 5px">Lookup</a>
        and choose a matching taxon from the list.  If you don't end up with something like
        <%= image_tag "help/matched_taxon.jpg", :alt => "matched taxon", :style => "vertical-align: middle" %>, your
        observation won't get associated with other observations of this species,
        and your life list won't get updated.
      </p>

      <p>
        If iNat can't find taxon matching the name you provided in its database, you'll see something like
      </p>

      <%= image_tag "help/unmatched_taxon.jpg", :style => "margin: 0 auto 10px; display: block;" %>

      <p>
        If you really don't know what
        you saw, that's fine! If you do know, you should click
        <strong class="ui">Search external name providers</strong>. This will ask iNat to
        search some external taxonomic databases for the name and try to import
        anything it finds.
      </p>

      <p>
        Those are the basics of adding observations! There are plent of other
        things you can do, like searching and filtering your observations or
        editing them as a batch, but they should be pretty self-explanatory.
      </p>
      
      <p>
        <%= link_to_function "Photos &rarr;", "$('#tabs > ul').tabs('select', 'photos')", :class => "right" %>
        <%= link_to "Start adding observations", new_observation_path, :class => "readmore", :rel => "nofollow" %>
      </p>
    </div>

    <div id="photos">
      <%= image_tag "help/photo_selector.jpg", :alt => "The iNaturalist photo selector", :class => "right" %>
      <h3>Photo Integration</h3>
      
      <p>
        We don't host photos at iNat, but we do allow you to associate your
        observations with photos from <a href="http://www.flickr.com/">Flickr</a> 
        or <a href="http://picasaweb.google.com/">Picasa</a>. If you use 
        either of those services, you can link your accounts and always see a
        list of your most recent photos when adding new observations.
      </p>
      
      <p>
        <%= link_to "Link your Flickr account", {:controller => "flickr" , :action => "options"}, :class => "readmore" %>
      </p>
      <p>
        <%= link_to "Link your Picasa account", {:controller => "picasa" , :action => "options"}, :class => "readmore" %>
      </p>
      
      <h4>Flickr Tagger</h4>
      
      <p>
        iNat can also help you add taxonomic tags to your Flickr photos using
        the <%= link_to "Taxonomic Tags for Flickr", :controller => "taxa", :action => "flickr_tagger" %>
        tool. This tool will add tags to your photos for all the common and
        scientific names of the taxon you observed, and the names of its
        ancestor taxa. So if your observation is of a
        <span class="species taxon_links"><%= link_to "Spring Peeper", "/taxa/Spring_Peeper", :class => "taxon Amphibia" %></span>,
        you would get the following tags:
      </p>
      
      <code>
        Animalia
        Chordata
        Amphibia
        Hylidae
        Pseudacris
        taxonomy:kingdom=Animalia
        taxonomy:phylum=Chordata
        "Pseudacris crucifer"
        "rainette crucifère"
        "Spring Peeper"
        taxonomy:class=Amphibia
        taxonomy:order=Anura Anura
        taxonomy:family=Hylidae
        taxonomy:genus=Pseudacris
        taxonomy:species=crucifer
        "taxonomy:binomial=Pseudacris crucifer"
        "taxonomy:common=rainette crucifère"
        "taxonomy:common=Spring Peeper"
      </code>
      
      <p>
        Tags like <code>taxonomy:binomial=Pseudacris crucifer</code> are
        <a href="http://www.flickr.com/help/tags#613430">machine tags</a>. 
        They help engineers programmatically make sense of your tags, and are
        required by some Flickr groups like the
        <a href="http://www.flickr.com/groups/encyclopedia_of_life/">Encyclopedia of Life Images</a>
        group.
      </p>
      
      <p>
        You can also add Flickr tags when editing an observation, or when
        batch editing your observations.
      </p>
      
      <p>
        <%= link_to_function "Lists &rarr;", "$('#tabs > ul').tabs('select', 'lists')", :class => "right" %>
      </p>
      
    </div>

    <div id="lists">
      <%= image_tag "help/list.jpg", :class => "right" %>
      <h3>Lists</h3>

      <p>
        Lists are lists of species (or other taxa), like a life list of all the
        birds you've seen or a list of your favorite salamanders.  They are 
        <em>not</em> lists of observations.
      </p>

      <p>Lists come in three varieties:</p>
      <dl>
        <dt>Lists</dt>
        <dd>
          Ordinary lists are just arbitrary lists of taxa you can create. Maybe
          you'd like to keep a list of species you'd like to see, or birds you've
          seen at your bird feeder.
        </dd>

        <dt>Life Lists</dt>
        <dd>
          Life lists are automatically filled in based on your observations
          and a set of rules, and they can also be added to manually. At the
          moment, the only rule we support is whether or not a species in some
          higher level taxon. So you could make a life list of
          all the mammals you've seen by associating with the taxon 
          <a href="/taxa/Mammalia">Mammalia</a>. Everyone on iNat has one life
          list by default which records all the taxa they've seen.
        </dd>

        <dt>Check Lists</dt>
        <dd>
          Check lists represent all the taxa that occur within a particular
          <%= link_to "place", :controller => "places" %>. Unlike ordinary lists
          and life lists, check lists can be edited by anyone on iNat. Since
          places can contain other places (e.g. Connecticut is a state in the
          USA), check lists automatically get updated by changes to contained
          places. So if I add "Northern Cardinal" to the checklist for
          Connecticut, it will get added to the USA checklist as well. Places can
          also have multiple checklists for different taxa (e.g. "Plants of
          Australia") that use taxonomic rules like life lists.
        </dd>
      </dl>
      
      <p class="meta readable">
        <%= link_to_function "Species &rarr;", "$('#tabs > ul').tabs('select', 'species')", :class => "right" %>
        <%= link_to "Start a new list", new_list_path, :class => "readmore", :rel => "nofollow" %>
        <% if logged_in? -%>
          &nbsp;or&nbsp; <%= link_to "View your life list", current_user.life_list, :class => 'readmore' %>
        <% end -%>
      </p>
    </div>

    <div id="species">
      <h3>Species and Other Taxa on iNat</h3>
      
      <p>
        iNaturalist matinains a big database of species and other taxa, and we
        have individual pages for each one, showing Flickr photos,
        observations, our classification, and a description from Wikipedia.
        Here's the page for
        <span class="species taxon_links"><%= link_to "Homo sapiens", "/taxa/Homo_sapiens", :class => "sciname taxon Mammalia" %></span>.
      </p>
      
      <h4>Names</h4>

      <p>
        We import our taxonomic data from some external taxonomic databases,
        include the Catalogue of Life and uBio. A few of our taxa have also
        been entered manually, and any user can add new names for taxa.  If 
        you can't find a taxon or a name, try
        <%= link_to "searching for it", search_taxa_path %>.  If your search 
        comes up empty, you should see some search boxes to repeat the search
        through our external name providers:
      </p>
      
      <%= image_tag "help/search_external.jpg", :style => "margin: 0 auto 10px; display: block;" %>
      
      <p>
        If they know about the name, iNat will import and save the data.
      </p>
      
      <h4>Help Out!</h4>
      
      <p>
        You can help make our species pages more useful by adding data!
        Here are a couple ways you can help:
      </p>
      
      <ul class="readable">
        search for new taxa
        add common names for existing taxa
        add colors
        choose good default photos from the pool of Creative Commons photos on Flickr
        add taxa to places
      </ul>
    </div>
    
  </div>
  
</div>
