<%- content_for(:title) do -%>
  <%= @title = "Help" %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "help" %>
<%- end -%>

<div id="pagheader">
  <h2><%= @title %></h2>
</div>

<%= render :partial => 'nav' %>

<div class="last column span-20">
  <p>
  <%= t(:welcome_help_message, :getting_started => "#{link_to :getting_started, :action => "getting_started"}") %>
  </p>
  
  <h3><%=t :faq %></h3>
  
  <div id="toc" class="box">
    <h4>
      <%=t :general %>
    </h4>
    <ol>
      <li><a href="#general1"><%=t :what_is_inaturalist? %></a></li>
      <li><a href="#general2"><%=t :who_is_behind_inaturalist? %></a></li>
      <li><a href="#general3"><%=t :what_technologies_does_the_project_use? %></a></li>
      <li><a href="#general4"><%=t :what_can_i_do_to_help_inaturalist? %></a></li>
      <li><a href="#general5"><%=t :how_do_i_contact_inaturalist? %></a></li>
      <li><a href="#general6"><%=t :what_are_admins_and_curators? %></a></li>
      <li><a href="#inappropriate"><%=t :what_is_considered_inappropriate_content? %></a></li>
    </ol>
    <h4>
      <%=t :observations %>
    </h4>
    <ol>
      <li><a href="#observations1"><%=t :what_is_an_observation? %></a></li>
      <li><a href="#observations2"><%=t :why_doesnt_inaturalist_recognize_the_name_ive_entered? %></a></li>
      <li><a href="#observations3"><%=t :how_can_i_get_help_identifying_what_i_saw? %></a></li>
      <li><a href="#observations4"><%=t :what_does_it_mean_to_link_inaturalist_to_my_flickr_account? %></a></li>
      <li><a href="#observations5"><%=t :can_i_add_photos_without_a_flickr_account? %></a></li>
      <li><a href="#observations6"><%=t :what_are_tags? %></a></li>
      <li><a href="#observations7"><%=t :can_i_include_my_observations_on_my_blog? %></a></li>
      <li><a href="#observations8"><%=t :what_kind_of_photos_should_i_attach %></a></li>
      <li><a href="#geoprivacy"><%=t :what_is_geoprivacy? %></a></li>
      <li><a href="#obscured"><%=t :what_is_does_it_mean_for %></a></li>
      <li><a href="#quality"><%=t :what_is_the_quality_assessment %></a></li>
    </ol>

    <h4>
      <%=t :lists %>
    </h4>
    <ol>
      <li><a href="#lists1"><%=t :what_is_a_life_list? %></a></li>
      <li><a href="#lists2"><%=t :i_observed_a_species %></a></li>
    </ol>
  </div>
       
  <h4>
    <%=t :general %>
  </h4>
  <ol>
    <li>
      <h5><a name="general1"><%=t :what_is_inaturalist? %></a></h5>
      <p>
        <%=t :inaturalist_provides_a_place_to %>
      </p>
    </li>
    <li>
      <h5><a name="general2"><%=t :who_is_behind_inaturalist? %></a></h5>
      <p>
      <%=t :inaturalist_was_originally_the_masterss_final %>
      </p>
    </li>
    <li>
      <h5><a name="general3"><%=t :what_technologies_does_the_project_use? %></a></h5>
      <p>
      <%=t :inaturalist_is_built_using %> 
      </p>
    </li>
    <li>
      <h5><a name="general4"><%=t :what_can_i_do_to_help_inaturalist? %></a></h5>
      <p>
      <%=t :you_can_help_inaturalist_by_giving_us_your_feedback %>
      </p>
    </li>
    <li>
      <h5><a name="general5"><%=t :how_do_i_contact_inaturalist? %></a></h5>
      <p>
      <%=t :you_can_contact_us_at_, :help_email => "#{APP_CONFIG[:help_email]}" %>
      </p>
    </li>
    
    <a name="curators"></a>
    <li>
      <h5><a name="general6"><%=t :what_are_admins_and_curators? %></a></h5>
      <p>
      <%=t :inat_admins_are_the_people_who %>
      </p>
      <p>
        <%=t :curators_are_inat_users_who_volunteer_to %>      </p>
    </li>
    
    <li>
      <h5><a name="inappropriate"><%=t :what_is_considered_inappropriate_content? %></a></h5>
      <p>
        <%=t :you_know_it_when_you_see_it %>
      </p>
    </li>
  </ol>
  
  <h4>
    <%=t :observations %>
  </h4>
  <ol>
    <li>
      <h5><a name="observations1"><%=t :what_is_an_observation? %></a></h5>
      <p>
      <%=t :an_observation_is_the_what_where_and_when %>
      </p>
    </li>
    <li>
      <h5><a name="observations2"><%=t :why_doesnt_inaturalist_recognize_the_name_ive_entered? %></a></h5>
      <p>
      <%=t :inaturalist_has_name_information_for_mammals %> 
      </p>
    </li>
    <li>
      <h5><a name="observations3"><%=t :how_can_i_get_help_identifying_what_i_saw? %></a></h5>
      <p>
        <%=t :check_the_id_please_checkbox_when %>       </p>
    </li>
    <li>
      <h5><a name="observations4"><%=t :what_does_it_mean_to_link_inaturalist_to_my_flickr_account? %></a></h5>
      <p>
        <%=t :inaturalist_can_link_directly_to_the_flickr_photo_service %>      </p>
    </li>
    <li>
      <h5><a name="observations5"><%=t :can_i_add_photos_without_a_flickr_account? %></a></h5>
      <p>
        <%=t :we_also_support_picasa %></a>
      </p>
      <p>
       <%=t :we_also_support_uploading_photos %>
      </p>
    </li>
    <li>
      <h5><a name="observations6"><%=t :what_are_tags? %></a></h5>
      <p>
        <%=t :tags_are_keywords_you_can_add_to_an %>
      </p>
    </li>
    <li>
      <h5><a name="observations7"><%=t :can_i_include_my_observations_on_my_blog? %></a></h5>
      <p>
        <%=t :sure_check_out_our_widget %></a>.
      </p>
    </li>
    <li>
      <h5><a name="observations8"><%=t :what_kind_of_photos_should_i_attach %></a></h5>
      <p>
      <%=t :photos_attached_to_observations_should_be %>
      </p>
      
      <p>
      <%=t :please_do_not_upload_pictures_you_didnt_take %>
      </p>
    </li>
    
    <li>
      <h5><a name="geoprivacy"><%=t :what_is_geoprivacy? %></a></h5>
      <p>
        <%=t :geoprivacy_is_a_setting_you_can %>       </p>
      <dl class="readable">
        <% for privacy, description in Observation::GEOPRIVACY_DESCRIPTIONS %>
          <dt><%= privacy || "open" %></dt>
          <dd><%= description %></dd>
        <% end %>
      </dl>
      <p>
      <%=t :note_that_curators_of %>
      </p>
    </li>
    
    <li>
      <h5><a name="obscured"><%=t :what_is_does_it_mean_for %> </a></h5>
      <p>
      <%=t :when_coordinates_are_obscured_it_means_that %>
      </p>
      
      <p>
      <%=t :coordinates_are_obscured_for_all_taxa %>
      </p>
      
      <p>
        <%=t :you_can_also_obscure_the_coordinates %>       </p>
    </li>
    
    <li>
      <h5><a name="quality"><%=t :what_is_the_quality_assessment %></a></h5>
      <%= render :partial => 'quality_metrics/quality_assessment_help' %>
    </li>
  </ol>
  
  
  <h4>
    <%=t :lists %>
  </h4>
  <ol>
    <li>
      <h5><a name="lists1"><%=t :what_is_a_life_list? %></a></h5>
      <p><%=t :is_a_list_of_every_species_that_you_have_seen %></p>
    </li>
    <li>
      <h5><a name="lists2"><%=t :i_observed_a_species %></a></h5>
      <p>
      <%=t :while_the_life_list_is_automatically_populated %>
      </p>
    </li>
  </ol>
</div>
