<%- content_for(:title) do -%>
  <%= @title = "Help" %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "help" %>
<%- end -%>

<div id="pagheader">
  <h2><%= @title %></h2>
</div>

<%= render :partial => 'nav' %>

<div class="last column span-20">
  <p>
  <%=t 'views.help.index.welcome_message_html', 
    :url => url_for(:action => "getting_started"), 
    :site_name => SITE_NAME,
    :getting_started => t(:getting_started),
    :feedback_url => CONFIG.feedback_url %>
  </p>
  
  <h3><%=t :faq %></h3>
  
  <div id="toc" class="box">
    <h4>
      <%=t :general %>
    </h4>
    <ol>
      <li><a href="#general1"><%=t 'views.help.index.what_is_inaturalist?', :site_name => SITE_NAME %></a></li>
      <li><a href="#general2"><%=t 'views.help.index.who_is_behind_inaturalist?', :site_name => SITE_NAME %></a></li>
      <li><a href="#general3"><%=t 'views.help.index.what_technologies_does_the_project_use?' %></a></li>
      <li><a href="#general4"><%=t 'views.help.index.what_can_i_do_to_help_inaturalist?', :site_name => SITE_NAME %></a></li>
      <li><a href="#general5"><%=t 'views.help.index.how_do_i_contact_inaturalist?', :site_name => SITE_NAME %></a></li>
      <li><a href="#general6"><%=t 'views.help.index.what_are_admins_and_curators?' %></a></li>
      <li><a href="#inappropriate"><%=t 'views.help.index.what_is_considered_inappropriate_content?' %></a></li>
    </ol>
    <h4>
      <%=t :observations %>
    </h4>
    <ol>
      <li><a href="#observations1"><%=t 'views.help.index.what_is_an_observation?' %></a></li>
      <li><a href="#observations2"><%=t 'views.help.index.why_doesnt_inaturalist_recognize_the_name_ive_entered?', :site_name => SITE_NAME %></a></li>
      <li><a href="#observations3"><%=t 'views.help.index.how_can_i_get_help_identifying_what_i_saw?' %></a></li>
      <li><a href="#observations4"><%=t 'views.help.index.what_does_it_mean_to_link_inaturalist_to_my_flickr_account?', :site_name => SITE_NAME %></a></li>
      <li><a href="#observations5"><%=t 'views.help.index.can_i_add_photos_without_a_flickr_account?' %></a></li>
      <li><a href="#observations6"><%=t 'views.help.index.what_are_tags?' %></a></li>
      <li><a href="#observations7"><%=t 'views.help.index.can_i_include_my_observations_on_my_blog?', :site_name => SITE_NAME_SHORT %></a></li>
      <li><a href="#observations8"><%=t 'views.help.index.what_kind_of_photos_should_i_attach' %></a></li>
      <li><a href="#geoprivacy"><%=t 'views.help.index.what_is_geoprivacy?' %></a></li>
      <li><a href="#obscured"><%=t 'views.help.index.what_is_does_it_mean_for' %></a></li>
      <li><a href="#quality"><%=t 'views.help.index.what_is_the_quality_assessment' %></a></li>
    </ol>

    <h4>
      <%=t :lists %>
    </h4>
    <ol>
      <li><a href="#lists1"><%=t 'views.help.index.what_is_a_life_list?' %></a></li>
      <li><a href="#lists2"><%=t 'views.help.index.i_observed_a_species' %></a></li>
    </ol>
  </div>
       
  <h4>
    <%=t :general %>
  </h4>
  <ol>
    <li>
      <h5><a name="general1"><%=t 'views.help.index.what_is_inaturalist?', :site_name => SITE_NAME %></a></h5>
      <p>
        <%=t 'views.help.index.inaturalist_provides_a_place_to', :site_name => SITE_NAME %>
      </p>
    </li>
    <li>
      <h5><a name="general2"><%=t 'views.help.index.who_is_behind_inaturalist?', :site_name => SITE_NAME %></a></h5>
      <p>
        <%=t 'views.help.index.inaturalist_was_originally_the_masters_final_html', :site_name => SITE_NAME %>
      </p>
    </li>
    <li>
      <h5><a name="general3"><%=t 'views.help.index.what_technologies_does_the_project_use?' %></a></h5>
      <p>
        <%=t 'views.help.index.inaturalist_is_built_using_html', :site_name => SITE_NAME_SHORT %> 
      </p>
    </li>
    <li>
      <h5><a name="general4"><%=t 'views.help.index.what_can_i_do_to_help_inaturalist?', :site_name => SITE_NAME %></a></h5>
      <p>
        <%=t 'views.help.index.you_can_help_inaturalist_by_giving_us_your_feedback_html', :site_name => SITE_NAME, :feedback_url => CONFIG.feedback_url %>
      </p>
    </li>
    <li>
      <h5><a name="general5"><%=t 'views.help.index.how_do_i_contact_inaturalist?', :site_name => SITE_NAME %></a></h5>
      <p>
        <%=t 'views.help.index.you_can_contact_us_at_html', :help_email => CONFIG.help_email %>
      </p>
    </li>
    
    <a name="curators"></a>
    <li>
      <h5><a name="general6"><%=t 'views.help.index.what_are_admins_and_curators?' %></a></h5>
      <p>
        <%=t 'views.help.index.inat_admins_are_the_people_who', :site_name => SITE_NAME_SHORT %>
      </p>
      <p>
        <%=t 'views.help.index.curators_are_inat_users_who_volunteer_to_html', :site_name => CONFIG.site_name_short, :help_email => CONFIG.help_email %>
      </p>
    </li>
    
    <li>
      <h5><a name="inappropriate"><%=t 'views.help.index.what_is_considered_inappropriate_content?' %></a></h5>
      <p>
        <%=t 'views.help.index.you_know_it_when_you_see_it_html' %>
      </p>
    </li>
  </ol>
  
  <h4>
    <%=t :observations %>
  </h4>
  <ol>
    <li>
      <h5><a name="observations1"><%=t 'views.help.index.what_is_an_observation?' %></a></h5>
      <p>
        <%=t 'views.help.index.an_observation_is_the_what_where_and_when_html', :site_name => SITE_NAME %>
      </p>
    </li>
    <li>
      <h5><a name="observations2"><%=t 'views.help.index.why_doesnt_inaturalist_recognize_the_name_ive_entered?', :site_name => SITE_NAME %></a></h5>
      <p>
        <%=t 'views.help.index.inaturalist_has_name_information_for_mammals', :site_name => SITE_NAME %> 
      </p>
    </li>
    <li>
      <h5><a name="observations3"><%=t 'views.help.index.how_can_i_get_help_identifying_what_i_saw?' %></a></h5>
      <p>
        <%=t 'views.help.index.check_the_id_please_checkbox_when_html', :url => id_please_url %>
      </p>
    </li>
    <li>
      <h5><a name="observations4"><%=t 'views.help.index.what_does_it_mean_to_link_inaturalist_to_my_flickr_account?', :site_name => SITE_NAME %></a></h5>
      <p>
        <%=t 'views.help.index.inaturalist_can_link_directly_to_the_flickr_photo_service', :site_name => SITE_NAME %>
      </p>
    </li>
    <li>
      <h5><a name="observations5"><%=t 'views.help.index.can_i_add_photos_without_a_flickr_account?' %></a></h5>
      <p>
        <%=t 'views.help.index.we_also_support_picasa_html', :url => url_for(:controller => :picasa, :action => 'options') %></a>
      </p>
      <p>
        <%=t 'views.help.index.we_also_support_uploading_photos', :site_name => SITE_NAME %>
      </p>
    </li>
    <li>
      <h5><a name="observations6"><%=t 'views.help.index.what_are_tags?' %></a></h5>
      <p>
        <%=t 'views.help.index.tags_are_keywords_you_can_add_to_an_html' %>
      </p>
    </li>
    <li>
      <h5><a name="observations7"><%=t 'views.help.index.can_i_include_my_observations_on_my_blog?', :site_name => SITE_NAME %></a></h5>
      <p>
        <%=t 'views.help.index.sure_check_out_our_widget_html', :url => observations_widget_url %>
      </p>
    </li>
    <li>
      <h5><a name="observations8"><%=t 'views.help.index.what_kind_of_photos_should_i_attach' %></a></h5>
      <p>
        <%=t 'views.help.index.photos_attached_to_observations_should_be' %>
      </p>
      
      <p>
        <%=t 'views.help.index.please_do_not_upload_pictures_you_didnt_take_html' %>
      </p>
    </li>
    
    <li>
      <h5><a name="geoprivacy"><%=t 'views.help.index.what_is_geoprivacy?' %></a></h5>
      <p>
        <%=t 'views.help.index.geoprivacy_is_a_setting_you_can' %>       </p>
      <dl class="readable">
        <% for privacy, description in Observation::GEOPRIVACY_DESCRIPTIONS %>
          <dt><%= t(privacy || "open").downcase %></dt>
          <dd><%=t description %></dd>
        <% end %>
      </dl>
      <p>
        <%=t 'views.help.index.note_that_curators_of' %>
      </p>
    </li>
    
    <li>
      <h5><a name="obscured"><%=t 'views.help.index.what_is_does_it_mean_for' %> </a></h5>
      <p>
        <%=t 'views.help.index.when_coordinates_are_obscured_it_means_that', :km => Observation::M_TO_OBSCURE_THREATENED_TAXA / 1000 %>
      </p>
      
      <p>
        <%=t 'views.help.index.coordinates_are_obscured_for_all_taxa', :site_name => SITE_NAME_SHORT %>
      </p>
      
      <p>
        <%=t 'views.help.index.you_can_also_obscure_the_coordinates_html' %>
      </p>
    </li>
    
    <li>
      <h5><a name="quality"><%=t 'views.help.index.what_is_the_quality_assessment' %></a></h5>
      <%= render :partial => 'quality_metrics/quality_assessment_help' %>
    </li>
  </ol>
  
  
  <h4>
    <%=t :lists %>
  </h4>
  <ol>
    <li>
      <h5><a name="lists1">What are lists?</a></h5>
      
      <p>
        Lists are simply lists of taxa (not observations). For example, you
        could make a list called "My Favorite Turtles" and add all your favorite
        turtles.  There are a number of different kinds of lists, and they behave in different ways.
      </p>
      
      <dl>
        <dt><%=t :list %></dt>
        <dd><p><%=t 'views.help.index.just_a_simple_list' %></p></dd>
        
        <dt>Life List</dt>
        <dd>
          <p>
            <%=t 'views.help.index.automatically_updates_based_on_your_observations' %>
          </p>
          <p>
            <%=t 'views.help.index.you_can_also_make_additional_life_lists' %>
          </p>
        </dd>
        
        <dt><%=t :project_list %></dt>
        <dd>
          <p>
            <%=t 'views.help.index.a_project_list_belongs' %>
          </p>
        </dd>
        
        <dt><%=t 'views.help.index.check_list' %></dt>
        <dd>
          <p>
            <%=t 'views.help.index.a_check_list_is_html' %>
          </p>
          
          <p>
            <%=t 'views.help.index.inat_users_can_also', :site_name => SITE_NAME_SHORT %>
          </p>
        </dd>
      </dl>
    </li>
    <li>
      <h5><a name="lists2"><%=t 'views.help.index.i_observed_a_species' %></a></h5>
      <p>
        <%=t 'views.help.index.while_the_life_list_is_automatically_populated', :site_name => SITE_NAME_SHORT %>
      </p>
    </li>
  </ol>
</div>
