<%- add_to_list ||= nil
    list ||= add_to_list || @list -%>
<%- species_guess ||= '' -%>
    <% lt = ListedTaxon.new(:list => list) %>
    <%= form_for(lt, 
        :remote => true,
        :method => :post,
        :html => {
          "data-type" => 'json',
          :class => 'add_to_list'
        }
      ) do |f| %>
      <div>          
        <%= text_field_tag :species_guess, species_guess, :size => '', :class => "text" %>
        <%= f.hidden_field :taxon_id %>
      </div>
      <%= f.hidden_field :list_id %>
      <%= hidden_field_tag 'success_msg', t(:list_updated) %>
      <div class="inline buttonrow" style="text-align:center">
        <%= f.submit t(:add), :id => "listed_taxon_submit", :class => 'default inline button inlineblock' %>
        <%= image_tag('spinner.gif', :id => 'listed_taxon_loading', :style => 'display: none') %>
      </div>
    <% end %>
    
    <script type="text/javascript" charset="utf-8">
      $('form.add_to_list')
        .bind('ajax:beforeSend', function() {
          $('#listed_taxon_submit').hide()
          $('#listed_taxon_loading').show()
        })
        .bind('ajax:complete', function() {
          $('#listed_taxon_submit').show()
          $('#listed_taxon_loading').hide()
        })
        .bind('ajax:success', function(event, request, options) {
          afterTaxonAdded(request)
        })
        .bind('ajax:error', function(event, request) {
          afterTaxonAddedFailure(request)
        })
        
      function afterTaxonAdded(json) {
        $.fn.simpleTaxonSelector.unSelectTaxon($('.simpleTaxonSelector').get(0));
        $('#listed_taxon_submit').addClass('disabled').attr('disabled', 'disabled');
        $.fn.simpleTaxonSelector.setStatus(
          $('.simpleTaxonSelector').get(0),
          'matched',
          $('<span>'+I18n.t('added!')+'</span>')
        );
        
        if ($('#add').length > 0) $('#add').effect('highlight', {}, 1000);
        
        // Append html to the list
        $('#justadded').fadeIn();
        $('#justadded .listed_taxa').append(
          $('<li class="clear"></li>').append(json.html)
        );
        $('#listed_taxon_'+json.instance.id).effect('highlight', {}, 1000);
        
        $('#species_guess').focus();
      }

      function afterTaxonAddedFailure(request) {
        try {
          var json = eval("(" + request.responseText + ")");
        } catch (e) {
          console.log("ERROR: ", e);
        };

        switch (request.status) {
          case 422:
            var errorStr = $.map(json.errors, function(error, i) {
              if (error[0] == 'taxon_id') {
                error[0] = 'That taxon';
              };
              return error.join(' ');
            }).join(', ');
            $.fn.simpleTaxonSelector.setStatus(
              $('.simpleTaxonSelector').get(0), 
              'error', 
              errorStr
            );
            break;
          default:
            $.fn.simpleTaxonSelector.setStatus($('.simpleTaxonSelector').get(0), 
              'error', 'Something went wrong updating your list!');
            break;
        }
      }
      
      
      $('#species_guess').simpleTaxonSelector({
        buttonText: I18n.t('find'),
        afterSelect: function() {
          $('#listed_taxon_submit').removeClass('disabled').attr('disabled', null);
          $('#listed_taxon_submit').focus();
        }
      });

      // Disable the submit button by default
      $('#listed_taxon_submit').addClass('disabled').attr('disabled', 'disabled');
    </script>
    