<%-
  if add_taxon_batch_line.is_a?(ListedTaxon) 
    line = add_taxon_batch_line.taxon.name
    other = add_taxon_batch_line 
  else
    line, other = add_taxon_batch_line || [nil, nil] 
  end 
-%>

<%- 
  row_class = if other.is_a?(ListedTaxon)
    "added"
  elsif other.is_a?(String) && other.match('already')
    "already"
  else
    ""
  end
-%>
<%= content_tag :tr, :id => line.parameterize, :class => row_class do %>
  <td><%= line %></td>
  <td class="ltstatus">
    <% case other.class.to_s when "ListedTaxon" %>
      <%=t :added %>!
    <% when "String" %>
      <%= other %>
    <% else %>
      <span class="loading status"><%=t :loading %></span>
    <% end %>
  </td>
  <td class="actions">
    <% case other.class.to_s when "ListedTaxon" %>
      <div class="listed_taxa">
        <%= render_in_format :html, :partial => "lists/listed_taxon", :object => other, :locals => {:list => @list} %>
      </div>
    <% when "String" %>
      <% unless other.match('already') -%>
        <div class="buttonrow">
          <div class="inter">
            <%= text_field_tag :species_guess, line, :id => "#{line.parameterize}_guess", :class => "text species_guess" %>
            <%= link_to_function t(:lookup), 
              "$('##{line.parameterize}_guess').simpleTaxonSelector({" + 
                "taxonIDField: '##{line.parameterize}_taxon_id'," +
                "inputWidth: 445," +
                "afterSelect: function() {" + 
                  "$('##{line.parameterize}_add').attr('disabled', false).removeClass('disabled');" +
                "}" + 
              "});" +
              "$(this).hide();",
              :class => "button" %>
          </div>

          <%= form_for ListedTaxon.new(:list => @list), 
              :url => listed_taxa_path(:format => 'json'),
              :method => :post,
              :remote => true,
              :html => {
                "data-type" => "json"
              } do |f| %>
            <%= f.hidden_field :list_id %>
            <%= hidden_field_tag :partial, "add_taxon_batch_line" %>
            <%= f.hidden_field :taxon_id, :id => "#{line.parameterize}_taxon_id" %>
            <%= f.submit t(:add_to_list), :disabled => true, :id => "#{line.parameterize}_add", 
              :class => "disabled default button", "data-loading-click" => "Adding..." %>
          <% end %>
        </div>
        
      <% end -%>
    <% else %>
      &nbsp;
    <% end %>
  </td>
<% end %>
