<div id="add_batch_dialog" style="display: none" class="modalbox dialog">
  <span class="close corner">&times;</span>

  <div class="clear stacked">
    <h2 class="header"><%=t :add_a_batch_of_taxa %></h2>
    <p class="description"><%=t :paste_in_a_bunch_of_names %></p>
    <%= form_tag :action => 'add_taxon_batch', :id => @list do %>
      <label for="names"><%=t :names %></label>
      <%= text_area_tag :names, '', :style => 'width: 580px; height:200px;' %>
      <%= submit_tag t(:add_taxa), :class => 'default button', "data-loading-click" => t(:adding) %>
    <% end %>
  </div>
  
  <h3><%= t :upload_a_csv_file %></h3>
  <p class="meta ui">
    <%= t :file_should_be_in_the_following_format %><% if @list.is_a?(CheckList) %>, <%= t :occurrence_status_establishment_means %><% end %>. <%= t :csv_should_not_contain_a_header_row %>.
    <% if @list.is_a?(CheckList) %>
      <br/><%= t :allowed_occurrence_status_values %>: <%= ListedTaxon::OCCURRENCE_STATUSES.join(', ') %>
      <br/><%= t :allowed_establish_means_values %>: <%= ListedTaxon::ESTABLISHMENT_MEANS.join(', ') %>
    <% end -%>
  </p>

  <%= form_for ListedTaxaFromCsvFlowTask.new, :url => flow_tasks_url do |f| %>
    <%= f.hidden_field :redirect_url, :value => list_batch_edit_url(@list) %>
    <%= f.fields_for :inputs, f.object.inputs.build(:resource => @list) do |fi| %>
      <%= fi.hidden_field :resource_type %>
      <%= fi.hidden_field :resource_id %>
    <% end -%>
    <%= f.fields_for :inputs, f.object.inputs.build do |fi| %>
      <div class="clear stacked">
        <%= fi.file_field :file %>
      </div>
    <% end -%>
    <%= f.submit "#{t(:upload)} CSV", :class => "default button" %>
  <% end -%>
</div>
