<div id="add_batch_dialog" style="display: none" class="modalbox dialog">
  <span class="close corner">&times;</span>
  <h2 class="header"><%=t :add_a_batch_of_taxa %></h2>
  <p class="description"><%=t :paste_in_a_bunch_of_names %></p>
  <% form_tag :action => 'add_taxon_batch', :id => @list do %>
    <label for="names"><%=t :names %></label>
    <%= text_area_tag :names, '', :style => 'width: 580px' %>
    <%= submit_tag t(:add_taxa), :class => 'default button', "data-loading-click" => t(:adding) %>
  <% end %>
</div>
