<%- 
  list ||= form ||= @list
  optionscol ||= nil
-%>
<%= error_messages_for :list %>
<%= form_for list.becomes(List), :builder => DefaultFormBuilder do |f| -%>
  <%= render :partial => 'form_fields', :locals => {:f => f} %>

  <div class="column span-24">
    <div class="tools buttons">
      <%= f.submit t(:save), :class => 'default button', "data-loading-click" => t(:saving) %>
      <% if @list.persisted? && !@list.is_a?(ProjectList) -%>
        <%= link_to t(:delete), @list, :method => :delete, :data => {:confirm => t(:you_sure_delete_list)}, 
          :class => "minor delete button",
          "data-loading-click" => t(:deleting) %>
      <% end -%>
    </div>
  </div>
<%- end -%>
