<%- optionscol ||= nil -%>
<%- list ||= form_fields ||= @list -%>
<div class="column span-12">
  <%= f.text_field :title, :class => 'text' %>
  <%= f.text_area :description %>
</div>
<div class="column span-12 last">
  <% if optionscol -%>
    <%= optionscol %>
  <% else -%>
    <% if list.new_record? -%>
      <div id="typescol" class="column span-12 last">
        <%= f.check_box :type, {}, 'LifeList', {:label => t(:make_it_a_life_list?), :label_after => true} %>
        <div class="description">
         <%=t :life_lists_automatically_fill %>
        </div>
      </div>

      <div id="optionscol" class="column span-12 last">
        <div id="lifelist_fields" class="type_fields">
          <h3><%=t :what_do_you_want_to_list? %></h3>
          <p class="ui description">
          <%=t :check_list_description %>
          </p>

          <div class="field">
            <label for="taxon_input_1"><%=t :add_higher_level_taxon %></label><br/>
            <input type="text" name="taxon_name" id="taxon_input_1" class="text" />
            <input type="hidden" name="taxa[][taxon_id]" value="" id="taxa_1"/>
          </div>
        </div><!-- /lifelist_fields -->
      </div>
      
    <% elsif @taxon_rule %>
      <div id="life_list_taxon" class="life_list_taxon description stacked">
        <%= taxon_image(@taxon_rule.operand, :style => "width: 20px; vertical-align: middle") %>
        <%=t :this_is_a_life_list_of %>
        <%= render :partial => 'shared/taxon', 
                   :locals => { :taxon => @taxon_rule.operand,
                                :link_url => url_for(@taxon_rule.operand) } %>
      </div>
    <% end -%>
    
    <div id="rankcol" class="column span-12 last">
      <h3>Rank restrictions</h3>
      <%= f.radio_button :rank_rule, "any", :label => t(:allow_any), :label_after => true %>
      <%= f.radio_button :rank_rule, "species?", :label => t(:only_species), :label_after => true %>
      <%= f.radio_button :rank_rule, "species_or_lower?", :label => t(:only_species_and_subspecies), :label_after => true %>

      <h3>Select photos to display</h3>
      <%= f.radio_button :show_obs_photos, "true", :label => t(:show_observation_photos), :label_after => true %>
      <%= f.radio_button :show_obs_photos, "false", :label => t(:show_default_taxon_photos), :label_after => true %>
    </div>
  <% end -%>
</div>
