<%- optionscol ||= nil -%>
<%- list ||= object ||= @list -%>
<div class="column span-12">
  <%= f.text_field :title, :class => 'text' %>
  <%= f.text_area :description %>
</div>
<div class="column span-12 last">
  <% if optionscol -%>
    <%= optionscol %>
  <% elsif list.new_record? -%>
    <div id="typescol" class="column span-12 last">
        <%= f.check_box :type, {}, 'LifeList', {:label => "Make it a life list?", :label_after => true} %>
        <div class="description">
          Life lists automatically fill up with new taxa as you observe them,
          and they can be restricted to higher level parent taxa, e.g. a life
          list of birds in the crow family (Corvidae).
        </div>
    </div>

    <div id="optionscol" class="column span-12 last">
      <div id="lifelist_fields" class="type_fields">
        <h3>What do you want to list?</h3>
        <p class="ui description">
          Choose a high-level taxon you'd like to show in this life list, like
          "Aves" for birds, or "Amphibia" for amphibians.
        </p>

        <div class="field">
          <label for="taxon_input_1">Add a taxon (e.g. "birds")</label>
          <input type="text" name="taxon_name" id="taxon_input_1" class="text" />
          <input type="hidden" name="taxa[][taxon_id]" value="" id="taxa_1"/>
        </div>
      </div><!-- /lifelist_fields -->
    </div>
  <% elsif list.is_a?(LifeList) && !list.rules.empty? && list.rules.first.operand.is_a?(Taxon) %>
    <div id="life_list_taxon" class="life_list_taxon description">
      <%= taxon_image(@list.rules.first.operand, :style => "width: 20px; vertical-align: middle") %>
      This is a life list of
      <%= render :partial => 'shared/taxon', 
                 :locals => { :taxon => @list.rules.first.operand,
                              :link_url => url_for(@list.rules.first.operand) } %>
    </div>
  <% else -%>
    &nbsp;
  <% end -%>
</div>
