<%- 
  listed_taxon ||= @listed_taxon
  list ||= @list ||= listed_taxon.list
  if list.is_a?(CheckList)
    primary_listed_taxon ||= @primary_listed_taxa_by_taxon_id[listed_taxon.taxon_id] if @primary_listed_taxa_by_taxon_id
    primary_listed_taxon ||= listed_taxon.primary_listed_taxon
  end
  primary_listed_taxon ||= listed_taxon
  editable ||= @listed_taxa_editble_by_current_user
  editable ||= list.listed_taxa_editable_by?(current_user)
  photo ||= if @photos_by_listed_taxon_id && @photos_by_listed_taxon_id[listed_taxon.id]
    @photos_by_listed_taxon_id[listed_taxon.id]
  else
    listed_taxon.taxon.photos.first
  end
-%>
<%- rendered_taxon_name = capture do -%>
  <%= render(:partial => 'shared/taxon', :formats => [:html], :object => listed_taxon.taxon) -%>
<%- end -%>
<div id="listed_taxon_<%= listed_taxon.id %>" class="listed_taxon clear <%= listed_taxon.taxon.iconic_taxon.name rescue 'Unkown' %> taxon-<%= listed_taxon.taxon.id %>">
  <div class="column image">
    <%- if photo -%>
      <%= modal_image(photo) %>
    <% else -%>
      <%= link_to '', listed_taxon.taxon %>
    <% end -%>
  </div>
  <div class="actions">
    <% if logged_in? && listed_taxon.removable_by?(current_user) -%>
      <%= link_to("&times;".html_safe, 
        listed_taxon_path(listed_taxon, :format => :json), 
        :remote => true,
        :method => :delete,
        :type => 'text',
        :data => {:confirm => t(:you_sure_delete_taxon_from_list?, :taxon => default_taxon_name(listed_taxon.taxon))}, 
        :title => t(:remove_from_list),
        :class => "description removelink") %>
    <% end -%>
    <div class="seenit">
      <%= link_to(
        t(:add_an_observation), 
        new_observation_path(:taxon_id => listed_taxon.taxon), 
        :title => t(:add_an_observation_of, :taxon=> "#{default_taxon_name(listed_taxon.taxon)}"),
        :class => '') %>
    </div>
  </div>
  <div class="column details">
    <div class="ui">
      <%= link_to rendered_taxon_name, listed_taxon.taxon %>
    </div>
    
    <% if primary_listed_taxon.occurrence_status || primary_listed_taxon.establishment_means -%>
      <div class="occurrence description">
        <label><%= t :status %>: </label>
        <%=
          pieces = []
          unless primary_listed_taxon.occurrence_status.blank?
            pieces << t("occurrence_status_levels.#{primary_listed_taxon.occurrence_status.to_s.downcase}", :default => primary_listed_taxon.occurrence_status)
          end
          unless primary_listed_taxon.establishment_means.blank?
            pieces << t("establishment.#{primary_listed_taxon.establishment_means.to_s.downcase}",:default => primary_listed_taxon.establishment_means)
          end
          pieces.join(' / ')
        -%>
      </div>
    <% end -%>
    
    <% unless listed_taxon.description.blank? -%>
      <%- txt = sanitize(listed_taxon.description, tags: []) -%>
      <p class="ui clear description">
        <%= truncate txt, :length => 200 %>
        <% if txt.size > 200 -%>
          <%= link_to t(:more), listed_taxon, :class => "readmore" %>
        <% elsif editable -%>
          <%= link_to t(:edit), listed_taxon, :class => "readmore" %>
        <% end -%>
      </p>
    <% end -%>
    
    <div class="description">
      <% if list.is_a?( CheckList ) && primary_listed_taxon.last_observation %>
        <span class="observation">
          <%=t :bold_label_colon_value_html, label: t( :last_observation ), value: link_to( primary_listed_taxon.last_observation.to_plain_s( viewer: current_user ), primary_listed_taxon.last_observation ) %>
          &nbsp;
          <span class="button"><%= link_to "(#{t :view_all})", observations_path( place_id: list.place_id, taxon_id: primary_listed_taxon.taxon_id ) %></span>
        </span>
        |
      <% end %>

      <nobr class="counts">
        <%= link_to t(:x_comments_html, count: listed_taxon.comments_count ), listed_taxon %>
      </nobr>
      
      <% if editable -%>
        | <%= link_to t(:edit), listed_taxon %>
      <% end -%>
    </div>
  </div>
</div>
