<%- 
  listed_taxon ||= nil
  list ||= listed_taxon ? listed_taxon.list : nil
  taxon_id ||= listed_taxon ? listed_taxon.taxon_id : nil
  last ||= false
-%>
<li class="list_selector_row clear<%= ' added' if listed_taxon %><%= ' last' if last %>">
  <span class="controls">
    <%= link_to t(:add), listed_taxa_path(:format => :json),
      :remote => true,
      :method => :post,
      "data-params" => "listed_taxon[list_id]=#{list.id}&listed_taxon[taxon_id]=#{taxon_id}}",
      :id => "add_to_list_link_#{list.id}",
      :class => 'action addlink',
      :style => "#{'display: none' if listed_taxon}" %>
    <%= link_to t(:remove), list_remove_taxon_path(list, taxon_id, :format => "json"),
      :remote => true,
      :method => :delete,
      :id => "remove_from_list_link_#{list.id}",
      :class => 'action removelink',
      :style => "#{'display: none' unless listed_taxon}" %>
    <span class="loading on_eeeeee" style="display: none">&nbsp;</span>
  </span>
  <%= link_to truncate(list.title, :length => 35), list_path(list) %>
</li>
