<%- lists = listed_taxa.map(&:list).uniq -%>
<%- login = lists.first.user.login -%>
<div class="activitybatch clear">
  <% for listed_taxon in listed_taxa %>
    <%- default_name = default_taxon_name(listed_taxon.taxon) -%>
    <% if listed_taxon.taxon.photos.empty? %>
      <% link_to listed_taxon.list, :class => "icon #{listed_taxon.taxon.iconic_taxon.name if listed_taxon.taxon.iconic_taxon}" do %>
        <%= taxon_image(listed_taxon.taxon, :title => default_name, :alt => default_name) %>
        <div class="small"><%= default_name %></div>
      <% end %>
    <% else %>
      <%= link_to taxon_image(listed_taxon.taxon, :alt => default_name), listed_taxon.taxon %>
    <% end -%>
  <% end %>
</div>
<div class="description">
  to
  <% if lists.size == 1 && list = lists.first -%>
    the list <%= link_to(list.title, list) %>
  <% else %>
    the following lists:
    <% lists.each_with_index do |list, i| %>
      <%= link_to(list.title, list) %><%= ',' if i+1 < lists.size %>
    <% end %>
  <% end -%>
</div>

