<%- 
  listed_taxon ||= object || @listed_taxon
  list ||= @list ||= listed_taxon.list
  current_user_life_list_taxon_ids ||= @current_user_life_list_taxon_ids 
  seenit ||= current_user_life_list_taxon_ids && current_user_life_list_taxon_ids.include?(listed_taxon.taxon.id) 
  seenit ||= false
  editable ||= @listed_taxa_editble_by_current_user
  editable = list.listed_taxa_editable_by?(current_user) if editable.nil?
  photo ||= if @photos_by_listed_taxon_id && @photos_by_listed_taxon_id[listed_taxon.id]
    @photos_by_listed_taxon_id[listed_taxon.id]
  else
    listed_taxon.taxon.photos.first
  end
-%>
<%- rendered_taxon_name = capture do -%>
  <%= render(:partial => 'shared/taxon.html.erb', :object => listed_taxon.taxon) -%>
<%- end -%>
<div id="listed_taxon_<%= listed_taxon.id %>" class="listed_taxon clear <%= listed_taxon.taxon.iconic_taxon.name rescue 'Unknown' %> taxon-<%= listed_taxon.taxon.id %>">
  <div class="column image">
    <%- if photo -%>
      <%= modal_image(photo) %>
    <% else -%>
      <%= link_to '', listed_taxon.taxon %>
    <% end -%>
  </div>
  <div class="actions">
    <% if logged_in? && listed_taxon.removable_by?(current_user) -%>
      <%= link_to_remote("&times;", 
        :url => listed_taxon_path(listed_taxon, :format => :json), 
        :method => :delete,
        :datatype => 'text',
        :confirm => "Are you sure you want to remove #{default_taxon_name(listed_taxon.taxon)} from this list?", 
        :loading => "$('#listed_taxon_#{listed_taxon.id}').fadeOut().parents('.listed_taxon_photo:first').fadeOut()",
        :html => {
          :title => "Remove from list",
          :class => "description removelink"
        }) %>
    <% end -%>
    <div class="seenit">
      <%= link_to("Add an observation", 
        new_observation_path(:taxon_id => listed_taxon.taxon), 
        :title => "Add an observation of #{default_taxon_name(listed_taxon.taxon)}",
        :class => '') %>
    </div>
  </div>
  <div class="column details">
    <p class="ui">
      <%= link_to rendered_taxon_name, listed_taxon.taxon %>
    </p>
    
    <% if listed_taxon.occurrence_status || listed_taxon.establishment_means -%>
      <div class="occurrence description">
        <label>Occurrence: </label>
        <%= [listed_taxon.occurrence_status, listed_taxon.establishment_means].compact.join(' / ') %>
      </div>
    <% end -%>
    
    <% unless listed_taxon.description.blank? -%>
      <%- txt = h(strip_tags(listed_taxon.description)) -%>
      <p class="ui clear description">
        <%= truncate txt, :length => 200 %>
        <% if txt.size > 200 -%>
          <%= link_to "More", listed_taxon, :class => "readmore" %>
        <% elsif editable -%>
          <%= link_to "Edit", listed_taxon, :class => "readmore" %>
        <% end -%>
      </p>
    <% end -%>
    
    <div class="description">
      <% if listed_taxon.last_observation %>
        <span class="observation">
          Last seen
          <a href="<%= observation_url(listed_taxon.last_observation) %>">
            <%= one_line_observation listed_taxon.last_observation, :skip => %w(user taxon) %>
          </a>
        </span>
        |
      <% end %>

      <nobr class="counts">
        <%= link_to color_pluralize(listed_taxon.comments_count, "comment"), listed_taxon %>
      </nobr>
      
      <% if editable -%>
        | <%= link_to "Edit", listed_taxon %>
      <% end -%>
    </div>
  </div>
</div>