<ul class="listed_taxa taxonomic_view first">
  <% if @unclassified && !@unclassified.empty? -%>
    <li>
      <%=t :unclassified %>
      <ul class="listed_taxa taxonomic_view">
        <% for lt in @unclassified %>
          <li class="clear">
            <%= render :partial => 'lists/show_listed_taxon', :locals => {
              :listed_taxon => lt
            } %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end -%>
  
  <% taxonomic_taxon_list(@arranged_taxa, :class => "clear") do |taxon| %>
    <% if lt = @listed_taxa_by_taxon_id[taxon.id] -%>
      <%= render :partial => 'lists/show_listed_taxon', :locals => {
        :listed_taxon => lt
      } %>
    <% else %>
      <div class="containertaxon">
        <%= render :partial => "shared/taxon", :locals => { 
          :taxon => taxon,
          :link_url => url_for(taxon)
         } %>
         <span class="button taxonfilterbutton"><%= link_to t(:filter_list_by_this_taxon), url_for_params(:without => [:page], :taxon => taxon.id) %></span>
      </div>
    <% end -%>
  <% end %>
</ul>
