<%- listed_taxa ||= @listed_taxa -%>
<%- photo_size ||= 'small' -%>
<% content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    ul.photo_view {
      list-style: none;
      margin: 0;
    }
    .photo_view li {
      float: left;
      width: 216px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    
    .photo_view li.first {
      clear: left;
    }
    
    .photo_view li.last {
      margin-right: 0px;
    }
    
    .photo_view li .image {
      max-width: 216px;
      max-height: 216px;
      margin: 0 auto;
    }
    
    .listed_taxon .image,
    .listed_taxon .actions .seenit {
      display: none;
    }
    
    .listed_taxon .actions {
      float: right;
      display: inline;
      width: auto;
      margin: 0;
    }
    
    .listed_taxon .details {
      float: none;
      margin: 0;
    }
    
    .column-separator {
      clear: both;
    }
  </style>
<% end -%>
<ul class="clear photo_view listed_taxa">
  <% listed_taxa.each_with_index do |listed_taxon, i| %>
    <%-
      cycle_class = cycle('first', '', 'last')
      photo = if @photos_by_listed_taxon_id && @photos_by_listed_taxon_id[listed_taxon.id]
        @photos_by_listed_taxon_id[listed_taxon.id]
      else
        listed_taxon.taxon.photos.first
      end
    -%>
    <% if cycle_class == 'first' && i != 0 -%>
      <div class="column-separator">
        <img src="<%= image_path('logo-eee-15px.png') %>">
      </div>
    <% end -%>
    <li class="listed_taxon_photo clear <%= cycle_class %>">
      <%- prepend = capture do -%>
        <% if photo -%>
          <%= modal_image photo, :size => photo_size %>
        <%- else -%>
          <%= render :partial => 'taxa/nophoto', :object => listed_taxon.taxon %>
        <% end -%>
        <div class="clear"></div>
      <%- end -%>
      <%= render :partial => "lists/show_listed_taxon", :locals => { 
        :listed_taxon => listed_taxon, 
        :list => @list,
        :prepend => prepend
      } %>
    </li>
  <% end %>
</ul>
