    <% for grouper, listed_taxa in @grouped_listed_taxa -%>
      <% if grouper -%>
        <% if grouper.name == "Animalia" -%>
          <% grouper_name = render(:partial => 'shared/taxon', :locals => {:taxon => grouper, :comname => 'Other Animals'}) -%>
        <% else -%>
          <% grouper_name = render(:partial => 'shared/taxon', :locals => {:taxon => grouper}) -%>
        <% end -%>
      <% else -%>
        <% grouper_name = t(:unclassified) -%>
      <% end -%>
      <% grouper_class = grouper.name rescue t(:unknown) -%>
      <a name="<%= grouper_class %>"></a>
      <div class="listed_taxa_group <%= grouper_class %>">
        <h2 class="title">
          <%= grouper_name %>
          <span class="small description"><%= listed_taxa.size %> <%=t :total %></span>
        </h2>
        <ul class="listed_taxa plain_view">
          <% for listed_taxon in listed_taxa %>
            <li class="clear">
              <%= render :partial => 'lists/show_listed_taxon', :locals => {
                :listed_taxon => listed_taxon
              } %>
            </li>
          <% end %>
        </ul>
      </div>
      <% unless grouper == @grouped_listed_taxa.to_a.last.first %>
        <div class="column-separator">
          <img src="<%= image_path('logo-eee-15px.png') %>">
        </div>
      <% end %>
    <% end %>
