<%- content_for(:title) do -%>
  <%= strip_tags(@pagetitle = t(:add_taxon_batch_to, :list => link_to(@list.title, @list)).html_safe) %>
<%- end -%>
<% content_for(:extracss) do %>
  <%= render :partial => 'lists/show_css' %>
  <style type="text/css" media="screen">
    td, th {
      padding-left: 10px;
      vertical-align: middle;
    }
    th.statuscol { min-width: 150px; }
    .buttonrow input.species_guess {
      width: 350px;
    }
    
    .buttonrow { min-width: 400px;}
    .buttonrow .inter {padding: 0;}
    .buttonrow label,
    .buttonrow .inter,
    .buttonrow input.text,
    .buttonrow .button,
    a.button {
      margin-bottom: 0;
    }
    
    .added { background-color: #E6EFC2; }
    .already { background-color: #eee; }
    table { width: 100%; }
    td.actions { min-width: 550px; width: 100%; }
    .actions form {
      display: inline;
      margin: 0;
    }
    
    .listed_taxon,
    .listed_taxon:hover {
      background: none;
      border-color: transparent;
    }

    .listed_taxon .details {width: 460px;}
    tr.removed {opacity: 0.5;color:#666;}
  </style>
<% end -%>

<% content_for(:extrajs) do %>
  <%= javascript_include_tag 'jquery/plugins/jquery.string.1.0' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#new_listed_taxon').show()
      window.todo = <%=json_escape @lines_taxa.map{|l,o| l if o.blank?}.compact.in_groups_of(@batch_size).reverse.to_json.html_safe %>
      loadNextBatch()
    })

    $(document)
      .on('ajax:success', 'table .actions form', function(event, json, status, request) {
        $(this).parents('tr:first').replaceWith(json.html)
      })
      .on('ajax:error', 'table .actions form', function(event, request, settings) {
        var json = eval('(' + request.responseText + ')')
        alert(json.full_messages)
      })
    $(document)
      .on('ajax:success', '.listed_taxon .removelink', function(event, json, status, request) {
        $(this).parents('tr:first').removeClass('added').addClass('removed')
        $(this).parents('tr:first').find('td.ltstatus').html('removed')
        $(this).hide()
      })
      .on('ajax:error', '.listed_taxon .removelink', function(event, request, settings) {
        var json = eval('(' + request.responseText + ')')
        alert(json.full_messages || json.error)
      })
    
    function loadNextBatch() {
      var batch = todo.pop();
      if (batch != null) {
        $.ajax({
          type: "post",
          url: '<%= url_for %>',
          data: {names: batch.join("\n"), authenticity_token: $('meta[name=csrf-token]').attr('content')},
          dataType: "json",
          success: function(data, textStatus, XMLHttpRequest) {
            $.each(data, function() {
              if ($('#'+this.parameterized_name)) {
                $('#'+this.parameterized_name).replaceWith(this.html)
              } else {
                $('#nametable').append(this.html)
              }
            })
            loadNextBatch()
          }
        });
      };
    }
    
  </script>
<% end %>

<div id="pagheader">
  <div class="breadcrumbs">
    <%= link_to t(:back_to_x, noun: @list.title), list_path(@list), :class => "back crumb" %>
  </div>
  <h2><%= @pagetitle %></h2>
</div>

<table id="#nametable" border="0">
  <tr>
    <th class="linecol"><%=t :name_entered %></th>
    <th class="statuscol"><%=t :status %></th>
    <th class="actionscol"><%=t :actions %></th>
  </tr>
  <%= render :partial => 'lists/add_taxon_batch_line', :collection => @lines_taxa %>
</table>

<%= link_to t(:back_to_x, noun: @list.title), list_path(@list), :class => "back crumb" %>
