- content_for(:extracss) do
  :css
    td { vertical-align:top;}
    .listed_taxon_row input.taxon_name {width:250px;}
    textarea.text {width: 200px; height:16px;}
    .message {display:none;}
    .error tr.message {display:table-row;}
    .error tr:first-child td {border-bottom: 0 transparent;}
    .message td {text-align:center;}
    .occurrence_status, .establishment_means {display:none;}
    .check_list .occurrence_status, .check_list .establishment_means {display:table-cell;}
    .selected {background-color: lightyellow;}
    thead {background-color:white;}
    thead.sticky {position:fixed; top: 0; z-index: 100;}

    th.check, td.check { width: 17px;}
    th.taxon, td.taxon { width: 264px;}
    th.desc, td.desc { width: 214px;}
    th.occurrence_status, td.occurrence_status { width: 109px;}
    th.establishment_means, td.establishment_means { width: 109px;}
    th.actions, td.actions { width: 150px;}
- content_for :extrajs do
  = javascript_include_tag 'jquery/plugins/jquery.labelize', 'lists/batch_edit', 'jquery/plugins/waypoints.min'


#pageheader
  %h2
    Batch Edit
    = link_to @list.title, @list

%table{:class => @list.type.to_s.underscore}
  %thead
    %tr
      %th.check
      %th.taxon Taxon
      %th.desc Description
      %th.occurrence_status Occurrence status
      %th.establishment_means Establishment means
      %th.actions
    %tr
      %th.meta{:colspan => 3}
        Select
        = link_to_function "All", "$(this).parents('table').find('input[type=checkbox]').selectRows(true)"
        |
        = link_to_function "None", "$(this).parents('table').find('input[type=checkbox]').selectRows(false)"
        |
        = link_to_function "With errors", "$(this).parents('table').find('.error input[type=checkbox]').selectRows(true)"
        %span.meta
          = surround '(', ')' do
            %span.count 0
            selected
      %th.occurrence_status
        .nobr
          = select_tag :occurrence_status_level, options_for_select(ListedTaxon::OCCURRENCE_STATUS_LEVELS.invert.to_a.sort_by(&:last).reverse), :include_blank => "unknown"
          %span{:class => "occurrence_tip_target description helptip", :rel => "#occurrence_tip"}
        = link_to_function "&darr; Apply to selected".html_safe, "applyOccurrenceStatus()", :class => "small nobr"
      %th.establishment_means
        .nobr
          = select_tag :establishment_means, options_for_select(ListedTaxon::ESTABLISHMENT_MEANS), :include_blank => "unknown"
          %span{:class => "establishment_tip_target description helptip", :rel => "#establishment_tip"}
        = link_to_function "&darr; Apply to selected".html_safe, "applyEstablishmentMeans()", :class => "small nobr"
      %th.buttonrow.smallbuttons.inline.nobr
        = link_to_function "&darr; Save".html_safe, "saveSelected()", :class => "default button"
        = link_to_function "&darr; Remove".html_safe, "removeSelected()", :class => "delete button"
    = render :partial => 'batch_edit_row', :collection => @listed_taxa

- if @listed_taxa.respond_to?(:total_pages)
  = will_paginate @listed_taxa