<% content_for(:title) do -%>
  <%= @title = "#{possessive(@selected_user, :capitalize => @selected_user == current_user)} Lists" %>
<% end -%>
<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'barchart', 'lists' %>
  <style type="text/css" media="screen">
    .owners_life_list {
      background-color: lightyellow;
    }
    
    #lists .list {
      padding: 0.5em;
      margin-bottom: 1em;
    }
    
    .list .attr.description {
      margin-bottom: 0.5em;
    }
    
    .list .attr.title {
      font-size: 140%;
    }
    
    .remainder .label {
      color: #666;
    }
    
    .photos img {
      width: 32px;
    }
    
    .barchart {
      width: 310px;
      float: none;
    }
    
    .life_list_taxon {
      margin-top: 0.5em;
    }
    
    .list .photos.empty {
      display: block;
      background-color: #eee;
      color: #aaa;
      text-align: center;
      padding: 50px 0px;
    }
  </style>
<% end -%>

<%- tools = capture do -%>
  <% if logged_in? && current_user == @selected_user %>
    <div id="tools" class="buttonrow">
      <%= link_to 'New List', new_list_path, :id => 'newlistbutton', :class => 'default button'%>
    </div>
  <% end %>
<% end %>
<%= render :partial => "shared/by_login_header", :locals => { :after => tools } %>

<div class="column span-24">
  <div id="lists" class="clear">
    <% for list in @lists %>
      <div class="column span-12 <%= cycle('', 'last') %>">
        <div id="list-<%= list.id %>" class="clear list <%= 'owners_life_list' if @life_list.id == list.id %>">
          <% cache List.icon_preview_cache_key(list) do %>
            <a href="<%= list_path(list) %>" class="attr photos column span-3 <%= 'empty' if @iconic_taxa_for[list.id].blank? %>">
              <% if @iconic_taxa_for[list.id].blank? %>
                No taxon images
              <% else %>
                <% for taxon in @iconic_taxa_for[list.id] %>
                  <%= taxon_image(taxon, :width => 32) %>
                <% end %>
              <% end %>
            </a>
          <% end %>
          <div class="last column span-8">
            <div class="readable title attr"><%= link_to h(list.title), list_path(list) %></div>

            <div class="attr readable description">
              <%= truncate(strip_tags(list.description), :length => 75) %>
              <%= link_to "View &raquo;", list_path(list), :style => "white-space: nowrap" %>
            </div>

            <div class="barchart">
              <%= render :partial => "shared/barchart_datum", :locals => { 
                :value => list.listed_taxa.count(:conditions => "last_observation_id IS NOT NULL"), 
                :max => list.listed_taxa.count, 
                :label_text => "of #{list.listed_taxa.count} observed",
                :min_value_label_width => 30 } %>
              <div class="clear"></div>
            </div>
            
            <% if list.is_a?(LifeList) && !list.rules.empty? && list.rules.first.operand.is_a?(Taxon) -%>
              <div class="life_list_taxon description">
                <%= taxon_image(list.rules.first.operand) %>
                Life list of
                <%= render :partial => 'shared/taxon', 
                           :locals => { :taxon => list.rules.first.operand,
                                        :link_url => url_for(list.rules.first.operand) } %>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <% if logged_in? -%>
    <% form_for :preferences, :url => url_for do |f| %>
      <%= f.label :per_page %>
      <%= f.select :per_page, ApplicationController::PER_PAGES, {}, 
        :onchange => "$(this).parents('form:first').submit()" %>
      <span class="meta">&middot;</span>
      <%= f.label :lists_by_login_sort, "Order" %>
      <%= f.select :lists_by_login_sort, 
        [['date created', 'id'], 'title'],
        {},
        :onchange => "$(this).parents('form:first').submit()" %>
      <%= f.radio_button :lists_by_login_order, "asc", :onchange => "$(this).parents('form:first').submit()" %>
      <%= f.label :lists_by_login_order_asc, "asc" %>
      <%= f.radio_button :lists_by_login_order, "desc", :onchange => "$(this).parents('form:first').submit()" %>
      <%= f.label :lists_by_login_order_desc, "desc" %>
    <% end %>
  <% end -%>
  
  <%= will_paginate @lists, :renderer => INatLinkRenderer %>
</div>