<%
  observation_by_login_title = if is_me?(@selected_user)
    t('lists_by_login.title.current_user',
      default: t(:second_person_possessive_singular, :noun => t(:lists).downcase))
  else
    t('lists_by_login.title.login', login: @login,
      default: t(:third_person_possessive_singular, :noun => t(:lists).titleize, :object_phrase => @login))
  end
%>
<% content_for(:title) do -%>
  <%= @title ||= observation_by_login_title %>
<% end -%>
<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'barchart', 'lists' %>
  <style type="text/css" media="screen">
    .lifelist-button {
      background-color: #74ac00;
      color: white;
      border-color: #74ac00;
      border-radius: 100px;
      padding: 3px 12px 3px 12px;
      line-height: 1.42857143;
      display: inline-block;
      margin-bottom: 0;
      margin-left: 50px;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      font-size: 140%;
    }

    .lifelist-button:hover {
      background-color: #93C14B;
      color: white;
    }

    #no_lists_message {
      font-size: 150%;
      margin: 2em;
      text-align: center;
    }

    .dynamic_life_list {
      background-color: #D6E6B4;
    }
    
    #lists .list {
      padding: 0.5em;
      margin-bottom: 1em;
    }
    
    .list .attr.description {
      margin-bottom: 0.5em;
    }
    
    .list .attr.title {
      font-size: 140%;
    }
    
    .remainder .label {
      color: #666;
    }
    
    .photos img {
      width: 32px;
    }
    
    .barchart {
      width: 310px;
      float: none;
    }
    
    .list .photos.empty {
      display: block;
      background-color: #eee;
      color: #aaa;
      text-align: center;
      padding: 50px 0px;
    }

    .box.announcement {
      font-size: 1.2em;
      text-align: center;
      background: white;
      box-shadow: 0px 1px 3px #666;
      border-radius: 10px;
      padding: 0px;
      max-width: 700px;
      margin: 0px auto;
      margin-bottom: 20px;
    }
    .box.announcement .logo-bird {
      float: left;
      padding-left: 15px;
      position: absolute;
    }
    .box.announcement .logo-bird img {
      height: 100px;
      width: 100px;
    }
    .box.announcement .contents {
      padding: 20px;
      letter-spacing: 0.2px;
      margin-left: 50px;
    }
    .box.announcement .message {
      font-size: 1.1em;
    }
    .box.announcement .buttons {
      margin-top: 15px;
    }
    .box.announcement .btn {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.1px;
      font-size: 13px;
      padding: 6px 15px;
    }
    .box.announcement .btn:not(:first-child) {
      margin-left: 15px;
    }
  </style>
<% end -%>

<%- tools = capture do -%>
  <% if logged_in? && current_user == @selected_user %>
    <div id="tools" class="buttonrow">
      <%= link_to t(:new_list), new_list_path, :id => 'newlistbutton', :class => 'default button'%>
    </div>
  <% end %>
<% end %>
<%= render :partial => "shared/by_login_header", :locals => { :after => tools, title: observation_by_login_title } %>

<div class="column span-24">
  <div id="lists" class="clear">
    <div class="column span-12 <%= cycle('', 'last') %>">
        <div id="life-list" class="clear list dynamic_life_list">
          <div class="last column span-8">
            <div id="pageheader" class="byloginheader column span-24">
              <%= image_tag(@selected_user.icon.url(:medium), class: 'parenticon usericon', style: "width: 86.5px; vertical-align:middle") %>
              <%= link_to t(:view_dynamic_lifelist).upcase, by_login_lifelists_path( login: @selected_user.login ), class: 'lifelist-button'%>
            </div>
          </div>
        </div>
      </div>
    <% if @lists.empty? %>
      <div class="column span-12 <%= cycle('', 'last') %>">
        <div id="life-list" class="clear list">
          <div class="last column span-8">
            <div id="no_lists_message" class="description">
              <%=t :no_lists_yet %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% for list in @lists %>
      <div class="column span-12 <%= cycle('', 'last') %>">
        <div id="list-<%= list.id %>" class="clear list">
          <% cache List.icon_preview_cache_key(list) do %>
            <a href="<%= list_path(list) %>" class="attr photos column span-3 <%= 'empty' if @iconic_taxa_for[list.id].blank? %>">
              <% if @iconic_taxa_for[list.id].blank? %>
                <%=t :no_taxa_listed %>
              <% else %>
                <% for taxon in @iconic_taxa_for[list.id] %>
                  <%= taxon_image(taxon, :width => 32) %>
                <% end %>
              <% end %>
            </a>
          <% end %>
          <div class="last column span-8">
            <div class="readable title attr"><%= link_to list.title, list_path(list) %></div>

            <div class="attr readable description">
              <%= truncate(strip_tags(list.description =~ /^Every species seen by / ? list.description.gsub('Every species seen by', t(:every_species_seen_by)) : list.description), :length => 75) %>
              <%= link_to "#{t(:view)} &raquo;".html_safe, list_path(list), :style => "white-space: nowrap" %>
            </div>
            <div class="barchart">
              <%- lt_count = list.listed_taxa.where("last_observation_id IS NOT NULL").count %>
              <%= render :partial => "shared/barchart_datum", :locals => { 
                :value => lt_count,
                :max => list.listed_taxa.count, 
                label_text: t(:x_of_count_observed, x: lt_count, count: list.listed_taxa.count ),
                :min_value_label_width => 30 } %>    
              <div class="clear"></div>
            </div>
            
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <% if logged_in? -%>
    <%= form_for :preferences, :url => url_for do |f| %>
      <%= f.label :per_page, t(:per_page) %>
      <%= f.select :per_page, ApplicationController::PER_PAGES, {}, 
        :onchange => "$(this).parents('form:first').submit()" %>
      <span class="meta">&middot;</span>
      <%= f.label :list_by_login_sort, t(:order) %>
      <%= f.select :lists_by_login_sort, 
        [[t(:date_created), 'id'], [t(:title), 'title']],
        { selected: @prefs["lists_by_login_sort"] },
        :onchange => "$(this).parents('form:first').submit()" %>
      <%= f.radio_button :lists_by_login_order, "asc", :onchange => "$(this).parents('form:first').submit()",
        checked: @prefs["lists_by_login_order"] == "asc" %>
      <%= f.label :lists_by_login_order_asc, t(:asc) %>
      <%= f.radio_button :lists_by_login_order, "desc", :onchange => "$(this).parents('form:first').submit()",
        checked: @prefs["lists_by_login_order"] == "desc" %>
      <%= f.label :lists_by_login_order_desc, t(:desc) %>
    <% end %>
  <% end -%>
  
  <%= will_paginate @lists, :renderer => INatLinkRenderer %>
</div>
