<% content_for(:title) do -%>
  Comparing <%= @list.title %> with <%= @with.title %>
<% end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'lists', 'barchart', 'lists/show' %>
  <style type="text/css" media="screen">
    #listed_taxa .span-8{width:325px;}
    .owners{clear:left}
    .barchart{width:103px;}
    .stat .title{clear:none;}
    .header{border-bottom:1px solid #eee;padding:5px 0;}
    .listed_taxon{padding:0;}
    .listed_taxon:hover{border-color:transparent;background-color:none;}
    .listed_taxon .image{width:60px;}
    .listed_taxon .actions{display:none;}
    .listed_taxon .details{width:250px;margin-right:0;}
    .pair{padding:10px 0;border-bottom:1px solid #eee;}
    .pair.match{background-color:#FFFEDF;}
    .pair:hover{background-color:#F7F7F7;}
    .pair .seenit{margin:0 auto;width:150px;text-align:center;}
    .seenit .button{white-space:normal;}
    .stat .title{background-position:50% 50%;margin:0 5px;}
    .barchart.owners .datum .value,
    .barchart.owners .datum .remainder{float:right;}
    .barchart.owners .label{text-align:left;}
    .barchart.owners .label,
    h3.stat .owners{text-align:right;}
    .listcontrols{font-size:smaller;}
  </style>
  <!--[if lt IE 7]>
    <%= stylesheet_link_tag 'blueprint/ie' %>
    <style type="text/css" media="screen">
      .span-17 {
        width: 600px;
      }
    </style>
  <![endif]-->
<% end -%>

<% content_for(:extrajs) do -%>

<%= javascript_include_tag "jquery/plugins/jquery.scrollTo-min.js",
                           'jquery/plugins/jqModal', 
                           'modal_image',
                           "jquery/plugins/inat/fixed_follower.js" %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#sidebar').fixedFollower();
  });
  
  function afterTaxonAdded(jsonStr) {
    try {
      var json = eval("(" + jsonStr + ")");
    } catch (e) {};
    
    // Append html to the list
    $('#seenit_'+json.instance.taxon_id).replaceWith(
      $(json.html)
    ).effect('highlight', {}, 1000);
    $('#listed_taxon_'+json.instance['id']).parents('.pair').addClass('match');
  }
  
  function afterTaxonAddedFailure(request) {
    try {
      var json = eval("(" + request.responseText + ")");
    } catch (e) {};

    switch (request.status) {
      case 422:
        var errorStr = $.map(json.errors, function(error, i) {
          return error.join(' ');
        }).join(', ');
        alert("Something went wrong adding that species to your list: " + 
          errorStr);
        break;
      default:
        alert("Something went wrong adding that species to your list!");
        break;
    }
  }
</script>
<% end -%>
<div id="pageheader" class="column span-24 last">
  <span class="breadcrumbs">
    <%= link_to "Back to #{@list.title}", @list, :class => 'back crumb' %>
  </span>
  <h2>
    Comparing <%= link_to(@list.title, @list) %> with 
    <%= link_to(@with.title, @with) %>
  </h2>
</div>

<div id="listed_taxa" class="column span-17">
  <div class="clear header description">
    <div class="column span-8">
      <%= @list.title %>
      <div class="listcontrols">
        <% if @show_list == "left" -%>
          <strong>only showing taxa from this list</strong>
          <%= link_to "(show taxa from both lists again)", url_for_params(:without => [:show, :page]) %>
        <% else %>
          <%= link_to "only show taxa from this list", url_for_params(:show => "left", :without => [:page]) %>
        <% end -%>
      </div>
      
    </div>
    <div class="column span-8">
      <%= @with.title %>
      <div class="listcontrols">
        <% if @show_list == "right" -%>
          <strong>only showing taxa from this list</strong>
          <%= link_to "(show taxa from both lists again)", url_for_params(:without => [:show, :page]) %>
        <% else %>
          <%= link_to "only show taxa from this list", url_for_params(:show => "right", :without => [:page]) %>
        <% end -%>
      </div>
    </div>
  </div>
  <% for owners, others in @pairs %>
    <%- pair = [owners, others] -%>
    <%- taxon = pair.compact.first.taxon -%>
    <div class="clear pair<%= ' match' if owners && others %>">
      <% for listed_taxon in pair %>
        <%- list = listed_taxon == pair.first ? @list : @with %>
        <div class="column span-8">
          <% if listed_taxon %>
            <% cache(:controller => 'listed_taxa', :action => 'show', 
                     :id => listed_taxon.id) do %>
              <%= render :partial => 'lists/listed_taxon',
                         :locals => {:listed_taxon => listed_taxon} %>
            <% end %>
          <% elsif list.editable_by?(current_user) %>
            <div id="seenit_<%= taxon.id %>" class="seenit">
              <%- lt = ListedTaxon.new(:list => list, :taxon => taxon) -%>
              <% remote_form_for(lt, 
                :url => listed_taxa_path(lt, :format => 'json'),
                :loading  => "$('#listed_taxon_submit_#{lt.taxon_id}').hide(); $('#listed_taxon_loading_#{lt.taxon_id}').show();",
                :complete => "$('#listed_taxon_submit_#{lt.taxon_id}').show(); $('#listed_taxon_loading_#{lt.taxon_id}').hide();",
                :success  => "afterTaxonAdded(request);",
                :failure  => "afterTaxonAddedFailure(request);") do |f| %>
                <%= f.hidden_field :list_id %>
                <%= f.hidden_field :taxon_id %>
                <%= f.submit("Add to #{list.id == current_user.life_list_id ? 'your life list!' : list.title}", 
                  :id => "listed_taxon_submit_#{lt.taxon_id}", :class => 'button') %>
                <%= image_tag('spinner.gif', :id => "listed_taxon_loading_#{lt.taxon_id}", :style => 'display: none') %>
              <% end %>
            </div>
          <% else %>
            <div class="seenit description">
              Not on this list.
            </div>
          <% end -%>
        </div>
      <% end %>
    </div>    
  <% end %>
  <% if @pairs.empty? %>
    Looks like neither have any taxa!
  <% end %>
  
  <div class="column span-17">
    <%= will_paginate(@paginating_listed_taxa, :renderer => INatLinkRenderer) %>
  </div>
</div>

<div class="last column span-7">
  <div id="sidebar">
    <div id="stats" class="clear">
      <h3 class="clear stat">
        <div class="owners barchart fadednowrap fadednowrap_ddd">
          <%= h(@list.title) %>
        </div>

        <div class="readable title">
          &nbsp;
        </div>

        <div class="barchart fadednowrap fadednowrap_ddd">
          <%= h(@with.title) %>
        </div>
      </h3>
      
      <a href="<%= url_for(:with => @with) %>" class="clear stat total<%= ' current' unless @filter_taxon %>">
        <div class="owners barchart">
          <%= render :partial => "shared/barchart_datum", :locals => { 
            :value => @total_listed_taxa, 
            :max => @max_total_listed_taxa,
            :min_inside_label_width => 20 } %>
        </div>
        
        <div class="readable title">
          &nbsp;
        </div>
        
        <div class="others barchart">
          <%= render :partial => "shared/barchart_datum", :locals => {
            :value => @with_total_listed_taxa, 
            :max => @max_total_listed_taxa, 
            :label_text => "total",
            :min_inside_label_width => 20 } %>
        </div>
      </a>
      <% if !@paired_iconic_taxon_counts.blank? %>
        <% for iconic_taxon, counts in @paired_iconic_taxon_counts %>
          <% if iconic_taxon.respond_to?(:common_name) && iconic_taxon.common_name %>
            <% grouper_name = iconic_taxon.common_name.name rescue 'Unclassified' -%>
          <% elsif iconic_taxon.respond_to?(:name) %>
            <% grouper_name = iconic_taxon.name -%>
          <% else %>
            <% grouper_name = 'Unclassified' -%>
          <% end -%>
          <a href="<%= url_for(params.merge(:taxon => iconic_taxon.id)) %>" class="<%= iconic_taxon.name %> clear stat<%= ' current' if @filter_taxon && @filter_taxon.id == iconic_taxon.id %>">
            <div class="owners barchart">
              <%= render :partial => "shared/barchart_datum", :locals => { 
                :value => counts[0], :max => @max_total_listed_taxa,
                :min_inside_label_width => 20 } %>
            </div>
            <div class="readable title">
              &nbsp;
            </div>
            <div class="others barchart">
              <%= render :partial => "shared/barchart_datum", :locals => { 
                :value => counts[1], :max => @max_total_listed_taxa, 
                :label_text => grouper_name,
                :min_inside_label_width => 20 } %>
            </div>
          </a>
        <% end %>
      <% else %>

      <% end %>
    </div>    
  </div>
</div>
  
