<h1><%=t :listing_lists %></h1>

<table>
  <tr>
  <% for column in List.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
    <th><%=t :owner %></th>
    <th><%=t :taxa %></th>
  </tr>

<% for list in @lists %>
  <tr>
  <% for column in List.content_columns %>
    <td><%=h list.send(column.name) %></td>
  <% end %>
    <td><%= link_to list.user.login, "/people/#{list.user.login}" %></td>
    <td>
    </td>
    <td><%= link_to t(:show), :controller => :lists, :action => :show, :id => list %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_list), new_list_path %>
