<% content_for(:title) do -%>
  <%=t :new_list %>
<% end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'lists/form' %>
<% end -%>
<% content_for(:extrajs) do -%>
  <%= javascript_include_tag 'lists/form' %>
<% end -%>
<div id="pageheader" class="column span-24 last">
  <span class="breadcrumbs">
    <%= link_to raw(is_me?(@list.user) ? t(:back_to_your_lists) : t(:back_to_lists, name: possessive(@list.user).downcase)),
                lists_by_login_path(:login => @list.user.login),
                :class => 'back crumb' %>
  </span>
  <h2><%=t :new_list %></h2>
</div>

<div class="column span-24">
  <%= render :partial => 'form' %>
</div>
