<% content_for(:title) do %>
  <%- 
    @title = @list.title
    unless @title.index(@list.owner_name)
      @title += ", #{link_to(@list.owner_name, @list.user ? lists_by_login_path(@list.user.login) : @list.owner)}"
    end
  -%>
  <%= strip_tags(@title) %>
<% end %>

<% content_for(:extracss) do %>
  <%= render :partial => 'show_css' %>
<% end -%>

<% content_for(:extrajs) do %>
  <%= render :partial => 'show_js' %>
<% end %>

<div id="pageheader" class="column span-24 last">
  <div class="clear">
    <%- if logged_in? %>
      <div class="toolset inline buttonrow smallbuttons" style="float: right">
        <%= render :partial => 'lists/compare_form' %>

        <form action="<%= url_for %>" method="get" style="display: inline-block; margin-left: 10px">
          <input type="text" name="q" value="<%= @q %>" class="text" />
          <input type="submit" value="Search List" class="default button" style="margin-right: 0"/>
        </form>
      </div>
    <%- end -%>

    <span class="breadcrumbs">
      <% if @list.user -%>
        <%= link_to "Back to #{possessive(@list.user)} lists", 
                    lists_by_login_path(:login => @list.user.login),
                    :class => 'back crumb' %>
      <% else %>
        <%= link_to "Back to #{@list.owner_name}", @list.owner, :class => "back crumb" %>
      <% end -%>
    </span>
  </div>

  <h2>
    <%= @title %>
  </h2>
</div>

<div id="maincol" class="column span-17">
  <%= render :partial => 'tools' %>
  
  <div id="description" class="readable description">
    <%= formatted_user_text(@list.description) %>
  </div>
  
  <% if @taxon_rule -%>
    <div id="life_list_taxon" class="life_list_taxon description">
      <%= taxon_image(@taxon_rule.operand) %>
      This is a life list of
      <%= render :partial => 'shared/taxon', 
                 :locals => { :taxon => @taxon_rule.operand,
                              :link_url => url_for(@taxon_rule.operand) } %>
    </div>
  <% end -%>
  <% if @list.rank_rule != "any" -%>
    <div id="life_list_rank_rule" class="description">
      This list only accepts taxa that are <%= @list.rank_rule.gsub(/[_?]+/, ' ').strip %>.
    </div>
  <% end -%>
  
  <div class="column-separator">
    <img src="/images/logo-eee-15px.png">
  </div>
  
  <% if @q -%>
    <div id="searchresults" class="description quiet box">
      <%= render :partial => "shared/page_results", :object => @listed_taxa %>
      for <strong>"<%= @q %>"</strong>
      <%= link_to "clear", url_for_params(:without => [:page, :q]) %>
    </div>
  <% end -%>
  
  <div id="justadded" style="display: none">
    <h2 class="title">Just Added!</h2>
    <ul class="listed_taxa">
      <li style="display: none">Stuff you've just added...</li>
    </ul>
    
    <div class="column-separator">
      <img src="/images/logo-eee-15px.png">
    </div>
  </div>
  
  <div id="toppagination">
    <%= will_paginate @listed_taxa, :renderer => INatLinkRenderer %>
  </div>
  
  <%= render :partial => "show_#{@view}" %>
  
  <% if @listed_taxa.empty? %>
    <div id="empty" class="readable description">
      <% if @add_taxa_from_observations_job && @add_taxa_from_observations_job.last_error.blank? -%>
        <div class="loading status">Loading taxa from your observations...</div>
        <script type="text/javascript" charset="utf-8">
          setTimeout("window.location.reload()", 5000);
        </script>
      <% elsif logged_in? && current_user.id == @list.user_id %>
        You haven't observed any species to list yet! Try 
        <%= link_to "adding some observations", new_observation_path %>
        or just adding species using the form on this page.
      <% elsif @q %>
        No results matching "<%= @q %>"
      <% else %>
        No species on this list yet!
      <% end %>
    </div>
  <% end %>
  
  <div id="pagination">
    <%= will_paginate @listed_taxa, :renderer => INatLinkRenderer %>
  </div>
  
  <div class="clear meta feeds">
    <%= separator %>
    <strong>Download</strong>
    <%= link_to "CSV", list_path(@list, :format => 'csv'), 
      :class => "delayedlink csvlink", 
      "data-delayed-link-msg" => 
        "Please hold on while the file is generated.  It can take a couple minutes for large lists.",
      :rel => "nofollow" %>
      
    <%= link_to "Taxonomic CSV", list_show_formatted_view_path(@list, :view_type => "taxonomic", :format => "csv"), 
      :class => "delayedlink csvlink", 
      "data-delayed-link-msg" => 
        "Please hold on while the file is generated.  It can take a couple minutes for large lists.",
      :rel => "nofollow" %>
  </div>
</div>

<div class="last column span-7">
  <div id="sidebar">
    <% if @list.editable_by?(current_user) %>
    <div id="add" class="clear">
      <%= link_to_function "Add Batch", "$('#add_batch_dialog').jqmShow()", :class => "right small", :style => 'padding-top: 3px' %>
      <h3>
        <%= link_to_function(
          'Add to Your List', 
          "$('#new_listed_taxon').slideToggle();",
          :id => 'addlink') %>
      </h3>
      <%= render :partial => 'add_to_list' %>
    </div>
    <% end %>
    
    <% unless @list.listed_taxa.empty? -%>
      <div id="stats" class="clear">
        <a href="<%= url_for_params(:without => [:page, :taxon, :q]) %>" class="clear stat total<%= ' current' unless @filter_taxon %>">
          <div class="readable title">
            &nbsp;
          </div>

          <div class="barchart">
            <%= render :partial => "shared/barchart_datum", :locals => { 
              :value => @total_observed_taxa, 
              :max => @total_listed_taxa, 
              :label_text => "of #{@total_listed_taxa} taxa observed",
              :min_value_label_width => 30 } %>
          </div>
        </a>
        <% for grouper, count in @iconic_taxon_counts -%>
          <%-
            next unless count
            if grouper.respond_to?(:common_name) && grouper.common_name
              grouper_name = grouper.common_name.name rescue 'Unclassified'
            elsif grouper.respond_to?(:name)
              grouper_name = grouper.name
            else
              grouper_name = 'Unclassified'
            end
            grouper_class = grouper.name rescue 'Unknown'
            url_params = {:taxon => grouper.id, :without => [:page, :q, :taxon, :iconic_taxon]}
            if grouper_name.downcase == 'animals'
              grouper_name = 'Other Animals'
              url_params[:taxon] = nil
              url_params[:iconic_taxon] = grouper.id
            end
          -%>
          <a class="clear stat <%= grouper_class %><%= ' current' if @filter_taxon && @filter_taxon.id == grouper.id %>" href="<%= url_for_params(url_params) %>">
            <div class="readable title">
              &nbsp;
            </div>

            <div class="barchart">
              <%= render :partial => "shared/barchart_datum", :locals => {
                :value => count, 
                :max => @total_listed_taxa, 
                :label_text => grouper_name } %>
            </div>
          </a>
        <% end %>
      </div><!-- /stats -->
    <% end -%>
  </div><!-- /sidebar -->
</div>

<%= render :partial => 'lists/add_batch_dialog' %>
