<%= content_for :extrajs do %>
<script>
  $(document).ready(function(){

    $('.assessment-preview-button').click(function(){
      var button = this
      $.ajax($(this).parents('form').attr('action'), {
        type: 'POST',
        data: $(this).parents('form').serialize() + '&preview=true',
        dataType: 'html',
        beforeSend: function() {
          $(button).hide()
          $(button).nextAll('.loading').show()
        }
      }).done(function(data) {
        $(button).show()
        $(button).nextAll('.loading').hide()
        var html = '<div class="dialog">'+data+'</div>'
        $(html).dialog({
          modal: true, 
          title: I18n.t('preview'),
          width: '980px'
        })
      })
      return false
    });

    $(document).ready(function(){
      $('#cocoon-sections').bind('cocoon:after-insert', function(e, inserted_item) {
        $(inserted_item).css('display', 'none')
        $(inserted_item).slideDown()
      })
      $('#cocoon-sections').bind('cocoon:before-remove', function(e, removed_item) {
        $(this).data('remove-timeout', 1000)
        removed_item.slideUp()
      })
    })
  })
</script>
<% end %>

<% if params[:commit] == 'Preview' %>
  <% params[:commit] = 'Create' %>
  <div class="assessment-preview-content">
    <%= render :partial => 'show', :locals => { :assessment => @assessment } %>
  </div>
<% end %>

<%= form_for(@assessment, :builder => DefaultFormBuilder, :html => {:class => 'assessment_form'}) do |f| %>
  <div class="column span-24 first last">
    <%= error_messages_for :assessment %>
  </div>

  <div class="column span-12 first">
    <%= f.text_area :description %>
    <div class="stacked small meta">
      <strong><%=t :allowed_html %>:</strong>
      <%= Post::ALLOWED_TAGS.to_a.sort.join(', ') %>
    </div>
  </div>

  <div class="column span-12 last">
    <label for="project">
      <%=t :project %>
    </label>
    <p>
      <%= @assessment.project.title %>
    </p>
    
    <label for="taxon">
      <%=t :taxon %>
    </label>

    <script>
        $(document).ready(function() {
          $('#species_guess').simpleTaxonSelector();
        });
    </script>
    <div class="simpleTaxonSelector" >
      <input id="species_guess" type="text" class="text" style="width: 400px;" />
      <%= f.hidden_field :taxon_id, :id => 'taxon_id' %>
    </div>

    <%= f.hidden_field :project_id, :value => @assessment.project.id %>

    <p>
    </p>

    <label for="completed">
      <%=t :completed %>
    </label>
    <p>
      <%= check_box_tag("completed", "yes", @assessment.completed_at.present?) %>
      <%=t :assessment_has_benn_completed %>
    </p>

  </div>

  <div class="column span-24 first last">
    <h3><%=t :assessment_sections %></h3>
    <div id="cocoon-sections">
      <%= f.fields_for :sections do |section_form| %>
        <%= render 'section_fields', :f => section_form %>
      <% end %>
      <div class="stacked">
        <%= link_to_add_association t(:add_another_section), f, :sections %>
      </div>

      <div class="actions buttons">
        <%= f.submit f.object.new_record? ? t(:create) : t(:update), :class => "default button" %>
        <%= link_to t(:cancel), project_path(@assessment.project), :class => "button" %>
        <a href="#" class="button assessment-preview-button"><%=t :preview %></a>
        <%= link_to t(:delete), assessment_path(@assessment), 
          :data => {:confirm => t(:are_you_sure_you_want_to_delete_this_assessment?)}, 
          :method => :delete, 
          :class => "delete button right" unless f.object.new_record? %>
      </div>
    </div>

  </div>
<% end %>

