<%- content_for(:title) do -%>
    <%= t(:x_project_journal, :project => strip_tags(@project.title), :name => t(:assessments)) %>
<%- end -%>
<% content_for(:extracss) { stylesheet_link_tag "assessments" } %>

<%= render :partial => "shared/by_project_header", :locals => { :model_name => "Assessments", :project => @project } %>

<div class="column span-4">
  <h3><%=t :filters %></h3>
  <%= form_for :filters, :builder => DefaultFormBuilder, :html => {:method => :get, :class => "clear stacked"} do |f| %>
    <%= hidden_fields_for_params :without => [:page, :filters, :commit] %>
    <%= f.text_field :q, :value => @q, :label => t(:search) %>
    <%= f.select :complete, [[t(:yes), 'yes'], [t(:no), 'no']], {:include_blank => t(:either), :selected => @complete, :label => t(:complete)}, {} %>
    <%= f.submit t(:filter) %>
  <% end -%>

  <div id="statuses">
    <h3><%=t :conservation_statuses %></h3>
    <% @conservation_statuses.keys.sort.each do |authority| %>
      <div class="clear stacked">
        <label><%= authority %></label>
        <ul class="plain">
          <% @conservation_statuses[authority].sort.each do |status| %>
            <li><%= link_to status, url_for_params(:authority => authority, :status => status, :without => [:page]), :class => @authority == authority && @status == status ? "selected" : nil %></li>
          <% end -%>
        </ul>
      </div>
    <% end -%>
    <div>
      <%= link_to t(:any_status), url_for_params(:without => [:page, :authority, :status]), :class => @authority.blank? && @status.blank? ? 'selected' : nil %>
    </div>
  </div>
</div>

<div class="last column span-20">
  <%= link_to(t(:add_an_assessment), new_project_assessment_path(@project), :class => "readmore new-assessment-link") if @project.curated_by?(current_user) %>
  <h3>
    <%=t :assessments %>
  <% helptip_for :colors do %>
    <%=t :taxon_assessments_are %>
  <% end -%>
  </h3>
  
  <% if @assessments.blank? -%>
    <div class="description noresults">
      <%=t :no_assessments_have_been_added_to_this_project_yet %>
    </div>
  <% else %>
    <% for project_assessment in @assessments %>
      <%= render :partial => 'projects/project_assessment', :locals => {:assessment => project_assessment, :num_sections => 5} %>
    <% end %>
  <% end %>

  <%= will_paginate @assessments %>
</div>
