:ruby
  taxon_reference ||= show_taxon_reference[:taxon_reference]
  taxon ||= show_taxon_reference[:taxon]
%p Relationship: #{taxon_reference.relationship == "match" ? "Match" : "Deviation"}
%table.table.table-bordered
  %thead
    %tr
      %th= taxon_reference.concept.source.title
      %th 
      %th iNaturalist
  %tbody
    - (0..([taxon_reference.taxa.count,taxon_reference.external_taxa.count].max-1)).each do |i|
      %tr
        - if taxon_reference.external_taxa[i]
          - if taxon_reference.external_taxa[i].url
            %td= link_to taxon_reference.external_taxa[i].rank.capitalize + " " + taxon_reference.external_taxa[i].name + " (parent: " + taxon_reference.external_taxa[i].parent_rank.capitalize + " " + taxon_reference.external_taxa[i].parent_name + ")", taxon_reference.external_taxa[i].url
          - else
            %td= taxon_reference.external_taxa[i].rank.capitalize + " " + taxon_reference.external_taxa[i].name + " (parent: " + taxon_reference.external_taxa[i].parent_rank.capitalize + " " + taxon_reference.external_taxa[i].parent_name + ")"
        %td= taxon_reference.relationship.capitalize if i==0
        - if taxon_reference.taxa[i]
          - if taxon && taxon_reference.taxa[i].id == taxon.id
            %td= taxon_reference.taxa[i].rank.capitalize + " " +taxon_reference.taxa[i].name + " (parent: " + taxon_reference.taxa[i].parent.rank.capitalize + " " + taxon_reference.taxa[i].parent.name + ")"
          - else
            %td= link_to taxon_reference.taxa[i].rank.capitalize + " " +taxon_reference.taxa[i].name + " (parent: " + taxon_reference.taxa[i].parent.rank.capitalize + " " + taxon_reference.taxa[i].parent.name + ")", taxonomy_details_for_taxon_path(taxon_reference.taxa[i])