- content_for :title do
  Taxon Explain
- content_for :extracss do
  = stylesheet_link_tag "taxa/geo_explain"
- content_for :extrajs do
  :javascript
    var SERVER_PAYLOAD = {
      taxon: #{ @node_taxon_json.encode.html_safe }.results[0]
    };
    var GEO_MODEL_TAXON = #{ @geo_model_taxon.to_json.html_safe };
    var TAXON_RAW_ENV_DATA = #{ @raw_env_data.to_json.html_safe };
    var TAXON_RAW_NO_ENV_DATA = #{ @raw_no_env_data.to_json.html_safe };
    var PRESENCE_ABSENCE_DATA = #{ @presence_absence.to_json.html_safe };
    var TAXON_RANGE_DATA = #{ @taxon_range.to_json.html_safe };
    var TILESERVER_PREFIX = "#{CONFIG.tile_servers.elasticsearch}";
  = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js"
  = javascript_include_tag "https://unpkg.com/h3-js"
  = javascript_include_tag "geo-model-explain-webpack"
#app
  #initial-loading.text-center
    .loading_spinner
