- content_for :title do
  = @trip.title
- content_for :extracss do
  :css
    .observations.medium.grid .observation, .observations.medium.grid .photos, .observations.medium.grid .icon {
      width: 170px;
      height: 170px;
    }
    #sidenav {
      width: 210px;
      padding: 0;
      background-color: #fff;
    }
    #sidenav > li:first-child > a {
      -webkit-border-radius: 6px 6px 0 0;
      -moz-border-radius: 6px 6px 0 0;
      border-radius: 6px 6px 0 0;
    }
    #sidenav > li:last-child > a {
      -webkit-border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px;
      border-radius: 0 0 6px 6px;
    }
    #sidenav > li > a {
      display: block;
      width: 210px \9;
      margin: 0 0 -1px;
      padding: 8px 14px;
      border: 1px solid #e5e5e5;
    }
    .observationcontrols {margin-top:10px;}
- content_for :extrajs do
  :javascript
    $('.observationcontrols').observationControls()
    $('body').scrollspy()
.container
  %ul.breadcrumb
    %li
      = link_to t(:journal), journal_by_login_path(@trip.user.login)
      %span.divider /
    %li.active= link_to @trip.title, @trip
    %li.pull-right
      - if @prev
        = link_to @prev do
          %i.fa.fa-chevron-left
          = truncate @prev.title
      - if @next
        = '|' if @prev
        = link_to @next do
          = truncate @next.title
          %i.fa.fa-chevron-right
  .row
    .span3
      %ul#sidenav.sidenav.nav.nav-list{:data => {:spy => "affix"}}
        %li= link_to t(:summary), "#summary"
        - unless @trip.body.blank?
          %li= link_to t(:description), "#description"
        %li= link_to t(:observations), "#observations"
        %li= link_to t(:check_list), "#check_list"
        %li= link_to t(:comments), "#comments"
    .span9
      %section{:id => "summary"}
        - if @trip.editable_by?(current_user)
          .btn-group.pull-right
            = link_to edit_trip_path(@trip), :class => "btn" do
              %i.fa.fa-edit
              = t(:edit)
        %h1= @trip.title
        .subtitle.muted.lead
          = l(@trip.start_time, :format => :long) if @trip.start_time
          \-
          = l(@trip.stop_time, :format => :long) if @trip.start_time

      - unless @trip.body.blank?
        %section{:id => "description"}
          = formatted_user_text @trip.body
      %section{:id => "observations"}
        .observationcontrols.pull-right
        %h2=t :observations
        - if @trip.trip_observations.blank?
          .muted.nocontent=t :no_matching_observations
        - else
          .observations.medium.grid
            - compact do
              = render :partial => "observations/cached_component", :collection => @trip.trip_observations
          .muted
            :ruby
              obs_params = {
                :d1 => @trip.start_time.iso8601,
                :d2 => @trip.stop_time.iso8601,
                :user_id => @trip.user_id
              }
              obs_params[:place_id] = @trip.place_id unless @trip.place_id.blank?
            = link_to observations_url(obs_params), :class => "readmore" do
              View observations made between 
              =l @trip.start_time, :format => :short
              =t :and
              =l @trip.stop_time, :format => :short

      %section{:id => "check_list"}
        %h2=t :check_list
        - if @trip.trip_taxa.blank?
          .muted.nocontent=t :no_taxa_listed
        - else
          %ul.taxon_links.plain
            - for trip_taxon in @trip.trip_taxa
              %li
                = render "shared/taxon", :taxon => trip_taxon.taxon, :link_url => trip_taxon.taxon
      %section{:id => "comments"}
        - if @trip.published_at
          = render :partial => 'comments/comments', :locals => { :parent => @trip, :header_tag => :h2 }
        - else
          = render :partial => 'comments/comments', :locals => { :parent => @trip, :header_tag => :h2, :hide_form => true }
