- fromto = @box == Message::INBOX ? "from" : "to"
- if @messages.blank?
  .nocontent.meta
    =t :no_messages_yet
- else
  %table
    %thead
      %tr
        %th= t(fromto).capitalize
        %th= t(:subject)
        %th= t(:date_)
    %tbody
      - for message in @messages
        %tr{:class => message.read_at ? nil : 'unread', id: dom_id(message)}
          %td.nobr
            = user_image message.send("#{fromto}_user")
            = link_to_user message.send("#{fromto}_user")
          %td.subject
            = link_to message.subject.blank? ? t(:no_subject_parens) : message.subject, message_path(message, :box => @box)
          %td.meta.nobr
            =l message.created_at, format: :long
  = will_paginate @messages, :params => {:box => @box, :anchor => @box, :partial => nil}
