= content_for :title do
  =t :new_message
  - if @message.to_user
    =t :to_recipient
    = @message.to_user.login
= content_for :extracss do
  :css
    #new_message textarea {min-height: 300px;}
    #new_message .user-field { display: flex; }
    #new_message .user-field .ac-chooser { width: 100%; }
    #new_message .user-field .usericon { max-height: 34px; margin-right: 10px; }
= content_for :extrajs do
  = javascript_include_tag "messages/new"
.container
  .row
    .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      %h2
        =t :new_message
        - if @message.to_user
          =t :to_recipient
          = link_to user_image(@message.to_user, :size => "thumb"), @message.to_user
          = link_to_user @message.to_user
      = error_messages_for @message

      = form_for @message, :builder => BootstrapFormBuilder do |f|
        - if @message.to_user
          = f.hidden_field :to_user_id
        - else
          .form-group
            %label=t "views.messages.to"
            .user-field
              = image_tag User.new.icon.url(:thumb), class: "user_image usericon", data: { original_src: User.new.icon.url(:thumb) }
              %input.user_name.form-control{ type: "text", placeholder: t(:start_typing_someones_name) }
            = f.hidden_field :to_user_id
        = f.text_field :subject
        = f.text_area :body

        .buttonrow
          = f.submit t(:send).capitalize, :class => "btn btn-primary", "data-loading-click" => t(:sending)
          = link_to t(:preview), @message.new_record? ? messages_path : message_path(@message), :class => 'btn btn-default previewbutton commentpreviewbutton'
          .inter.meta.loading{:style => "display:none;"}=t :loading
          = link_to t(:cancel), :back, :class => "btn btn-default"
