%ul
  - if @messages.blank?
    %li.meta.nobr
      %span=t :no_new_messages
  - for message in @messages
    %li
      %a{:href => url_for(message)}
        = user_image(message.from_user, :size => 'thumb')
        %span.inlineblock
          %span.small.meta
            - if true
              = t(:from)
              = message.from_user.try(:login) || t(:deleted_user)
              - date = compact_date(message.created_at)
              = message.created_at.today? ? t(:at_time, :time => date) : t(:on_date, :date => date)
            - else
              - date = compact_date(message.created_at)
              - from_user_name = message.from_user.try(:login) || t(:deleted_user)
              - msg_header_key = message.created_at.today? ? :message_from_user_at_time : :message_from_user_on_date
              - msg_header_vars = { user: from_user_name, date: date }
              - msg_header_vars = { user: from_user_name, time: date } if message.created_at.today?
              =t msg_header_key, msg_header_vars
          %br/
          = message.subject
  %li
    %center
      = link_to t(:view_your_inbox), messages_url, :class => 'readmore'
