= content_for :title do
  = @message.subject
= content_for :extracss do
  :css
    .bootstrap .table > tbody > tr.reply > td {vertical-align: top; padding-top: 20px;}
    tr.reply h3 { margin-top: 0; }
    .messages > tbody > tr:first-child > td { border-top: 0 transparent; }
    td.body {overflow:hidden; max-width: 600px; }
    textarea {min-height:300px;}

.container
  .row
    .col-xs-12.col-lg-8.col-lg-offset-2
      - if @flag
        .alert.alert-warning=t "views.messages.show.flag_notice_html", date: link_to( l(@flag.created_at.to_date, format: :long), @flag )
      #pageheader
        .right.nobr.meta.date= l(@messages.first.created_at.to_datetime, :format => :long)
        .breadcrumbs
          = link_to t(:back_to_x, :noun => t(@box)), messages_path(:box => @box, :anchor => @box), :class => "back crumb"
        %h2= @thread_message.subject

      %table.messages.table
        = render :partial => "row", :collection => @messages
        - if @thread_message.user_id == current_user.id && !@messages.detect{|m| m.from_user_id != current_user.id}
          %tr
            %td.nobr.from
              = link_to user_image(@thread_message.to_user, :size => "thumb"), @thread_message.to_user
              = link_to_user @thread_message.to_user
            %td.body
              .nocontent.meta
                =t :no_reply_yet
            %td.nobr.meta.date
        %tr.reply
          %td
            %h3=t :reply
          %td{ colspan: 2 }
            - if @new_correspondent
              .alert.alert-warning
                %p=t :messages_new_correspondent_it_looks_like
                %ul
                  %li
                    %p=t :messages_new_correspondent_specimens
                  %li
                    %p=t :messages_new_correspondent_personal
                %p=t :messages_new_correspondent_actions_html, tos_url: "/terms", guidelines_url: wiki_page_url( "community+guidelines" )
            = form_for Message.new(:to_user => @reply_to, :thread_id => @thread_message.thread_id), :builder => BootstrapFormBuilder do |f|
              = f.hidden_field :thread_id
              = f.hidden_field :to_user_id
              = f.text_area :body, :label => false
              .buttonrow
                = f.submit t(:send).capitalize, :class => "btn btn-primary", "data-loading-click" => t(:sending)
                = link_to t(:preview), messages_path, :class => 'btn btn-default previewbutton commentpreviewbutton'
                .inter.loading{:style => "display:none;"}=t :loading
                .right
                  = link_to t(:delete_conversation), @message, :method => :delete, 
                    :data => {:confirm => t(:are_you_sure_you_want_to_delete_this)}, 
                    :class => "btn btn-link"
                  - if @flaggable_message
                    = link_to t(:flag), new_flag_path("message_id" => @flaggable_message), :class => "flaglink btn btn-link"
                  = link_to_dialog t(:privacy), link: { class: "btn btn-link" } do
                    =t "views.messages.show.privacy_notice_html"
