- preview = defined?( preview ) && preview
- create_announcement_impression( announcement ) unless preview

- if announcement.prefers_embed_fru? && !content_for?( :fundraise_up_script )
  - content_for( :extrahead ) do
    = fundraise_up_js.html_safe
    = javascript_include_tag "fundraise_up/fundraise_up"
  - content_for( :fundraise_up_script, "loaded" )

- scoped_body = Nokogiri::HTML.fragment( announcement.body )
- scoped_body.css( "style" ).each do |style_tag|
  - style_tag.content = "@scope {\n#{style_tag.content}\n}"
%div{ id: "announcement-#{announcement.id}", class: "announcement" }
  .bootstrap
    .announcement
      = scoped_body.to_html.html_safe
      - if announcement.dismissible? && current_user && !preview
        = button_to dismiss_announcement_path( announcement ), method: :put, remote: true, form_class: "dismiss-announcement", class: "dismiss-announcement-link", title: t(:dismiss) do
          %i.fa.fa-close
      - if announcement.prefers_embed_fru?
        %a{ class: "fru-fallback-link" , href: fru_donate_url }
          .fru-fallback
            =t( :donate ) + " $5 (USD)"
        %noscript
          %p= t( :donate_enable_javascript )
        :javascript
          initFruFallback( "#announcement-#{announcement.id}" );
