- content_for :extracss do
  :css
    #new_announcement textarea,
    .edit_announcement textarea {
      width: 100%;
      min-height: 300px;
    }
- content_for :extrajs do
  :javascript
    var PLACEMENT_CLIENTS = #{ Announcement::CLIENTS.to_json.html_safe }
  = javascript_include_tag "announcements/form"
= form_for @announcement, :builder => DefaultFormBuilder do |f|
  = f.error_messages
  = f.select :placement, Announcement::PLACEMENTS
  - clients = Announcement::CLIENTS[@announcement.placement] || []
  = f.select :clients, clients, { include_blank: t( :all ) }, {      |
    multiple: true,                                                  |
    description: t( "views.announcements.clients_desc" ),            |
    size: [clients.length + 1, 5].min }                              |
  :ruby
    month_names = I18n.t( "date.month_names" )
    if month_names.is_a?( Hash )
      month_names = [nil, I18n.t( "date.month_names" ).values].flatten
    end
  = f.datetime_select :start, use_month_names: month_names, order: [:year, :month, :day]
  = f.datetime_select :end, use_month_names: month_names, order: [:year, :month, :day]
  - if current_user.is_admin?
    = f.select :site_ids, @sites.map{ |s| [s.name, s.id] }, { include_blank: t(:all) }, multiple: true
  - else
    = f.hidden_field :site_ids
  = f.check_box :dismissible, label_after: true
  = f.check_box :prefers_target_staff, label_after: true
  = f.check_box :prefers_target_unconfirmed_users, label_after: true
  = f.select :locales, I18N_SUPPORTED_LOCALES, {}, { multiple: true, label: I18n.t( "locales_" ), description: t( "views.announcements.locales_desc" ) }
  = f.text_area :body
  .actions.buttons
    = f.submit f.object.new_record? ? t(:create) : t(:update), :class => "default button"
    = link_to t(:cancel), announcements_path, :class => "button"
