<h1><%=t :listing_announcements %></h1>

<table>
  <tr>
    <th><%=t :placement %></th>
    <th><%=t :start %></th>
    <th><%=t :end %></th>
    <th><%=t :body %></th>
  </tr>

<% @announcements.each do |announcement| %>
  <tr>
    <td><%=h announcement.placement %></td>
    <td><%=h announcement.start %></td>
    <td><%=h announcement.end %></td>
    <td><%=h announcement.body %></td>
    <td><%= link_to t(:show), announcement %></td>
    <td><%= link_to t(:edit), edit_announcement_path(announcement) %></td>
    <td><%= link_to t(:destroy), announcement, :data => {:confirm => t(:are_you_sure?)}, :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @announcements %>

<br />

<%= link_to t(:new_announcement), new_announcement_path %>
