- content_for(:title) do
  = t(:announcements)
= content_for(:extracss) do
  :css
    #controls { display: flex; justify-content: space-between; }
    #controls .btn-primary { margin-right: 20px; }
    #controls form { max-width: 50%; }
    .sidebar-body { max-width: 360px; }
    .sidebar-body img, .general-body img { max-width: 100%; }
.container
  .row
    .col-xs-12
      %h1= t :announcements
      #controls.stacked
        = link_to t(:new_announcement), new_announcement_path, class: "btn btn-primary"
        = form_tag url_for, method: :get, class: "pull-right" do
          = hidden_fields_for_params
          .input-group
            = text_field_tag :q, params[:q], class: "form-control"
            .input-group-btn
              %button.btn.btn-default=t :search
      %table.table
        %thead
          %tr
            %th= t :placement
            %th= t :sites, default: "Sites"
            %th= t :start
            %th= t :end
            %th= t :body
        %tbody
          - @announcements.each do |announcement|
            %tr
              %td= h announcement.placement
              %td= announcement.site_ids.empty? ? t(:all)  : announcement.sites.map(&:name).join(", ")
              %td=l announcement.start
              %td=l announcement.end
              %td
                - if announcement.placement === "users/dashboard#sidebar"
                  %div.sidebar-body=raw announcement.body
                - else
                  %div.general-body=raw announcement.body
              %td= link_to t(:show), announcement
              %td= link_to t(:edit), edit_announcement_path(announcement)
              %td= link_to t(:destroy), announcement, :data => {:confirm => t(:are_you_sure?)}, :method => :delete
      = will_paginate @announcements
      = link_to t(:new_announcement), new_announcement_path, class: "btn btn-primary"
