<p>
  <b><%=t :placement %>:</b>
  <%=h @announcement.placement %>
</p>

<p>
  <b><%=t :start %>:</b>
  <%=h @announcement.start %>
</p>

<p>
  <b><%=t :end %>:</b>
  <%=h @announcement.end %>
</p>

<p>
  <b><%=t :body %>:</b>
  <%= @announcement.body %>
</p>


<%= link_to t(:edit), edit_announcement_path(@announcement) %> |
<%= link_to t(:back), announcements_path %>
