:ruby
  meta_attributes = %w(
    created_at
    updated_at
    user
    placement
    clients
    include_observation_oauth_application_ids
    exclude_observation_oauth_application_ids
    target_group_type
    target_group_partition
    start
    end
    locales
    site_ids
    excludes_non_site
    ip_countries
    exclude_ip_countries
    dismissible
    dismissals_count
    impressions_count
    target_creator
    target_curators
    target_project_admins
    prefers_target_staff
    prefers_target_unconfirmed_users
    target_logged_in
    prefers_exclude_monthly_supporters
    include_donor_start_date
    include_donor_end_date
    exclude_donor_start_date
    exclude_donor_end_date
    include_virtuous_tags
    exclude_virtuous_tags
    min_observations
    max_observations
    min_identifications
    max_identifications
    last_observation_start_date
    last_observation_end_date
    user_created_start_date
    user_created_end_date
  )
- content_for :title do
  =strip_tags t( :bold_label_colon_value_html, label: t( "activerecord.models.announcement" ), value: @announcement.id )
- content_for :extracss do
  :css
    .table th {
      white-space: nowrap;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .table td {
      width: 100%;
    }
- content_for :extrajs do
  :javascript
    window.addEventListener( "DOMContentLoaded", function( ) {
      var iframe = $( "#announcement iframe" ).get( 0 );
      if ( iframe ) {
        $( iframe ).height( iframe.contentWindow.document.body.scrollHeight );
      }
    } );
.container
  .row
    .col-xs-12
      %span.breadcrumbs
        = link_to t(:back), announcements_path, class: "back crumb"
      = link_to edit_announcement_path(@announcement), class: "btn btn-primary pull-right" do
        %i.fa.fa-pencil
        = t :edit
      %h2=t :bold_label_colon_value_html, label: t( "activerecord.models.announcement" ), value: @announcement.id
      .row
        - meta_attributes.in_groups( 3 ) do | group |
          .col-xs-4
            %table#announcement.table.table-bordered
              - group.compact.each do |a|
                - attr_name = t "activerecord.attributes.announcement.#{a}", default: t( "#{a}_", default: t( a ) )
                %tr
                  %th{ title: attr_name }=attr_name
                  %td
                    - val = @announcement.send( a )
                    - if a == "ip_countries"
                      = val.map { | code | Place::COUNTRIES_BY_NAME.values.detect { | country | country[:code] == code }.try(:[], :name) }.sort.join( ", " )
                    - elsif a == "exclude_ip_countries"
                      = val.map { | code | Place::COUNTRIES_BY_NAME.values.detect { | country | country[:code] == code }.try(:[], :name) }.sort.join( ", " )
                    - elsif a == "locales"
                      = val.map { | locale | I18n.t( "locales.#{locale}" ) }.sort.join( ", " )
                    - elsif a == "user"
                      = link_to( user_image( @announcement.user), @announcement.user ) if @announcement.user
                      = link_to_user @announcement.user, missing: t( :unknown )
                    - elsif val.is_a?( Array)
                      = val.sort.join( ", " )
                    - elsif val.is_a?( String ) || [true, false].include?( val )
                      =t val, default: val
                    - else
                      = val
      %table.table.table-bordered
        %tr
          %th=t :body
          - width = @announcement.placement == "users/dashboard#sidebar" ? "360px" : "100%"
          %td
            - if @announcement.placement =~ /^mobile/
              %iframe{src: url_for( body: true ), style: "width: 100%; border: 0;"}
              %p Preview is in an iframe because mobile announcements do not get any extra styling like web announcements.
              %p
                = link_to "View in new window", url_for( body: true ), class: "readmore"
            - else
              %div{style: "width: #{width};"}
                = render "announcements/announcement", announcement: @announcement, preview: true
        %tr
          %th=t :dismissed_by
          %td
            - unless @announcement.dismissible?
              .alert.alert-info
                %p Announcement is not currently dismissible.
            = @announcement.dismiss_user_ids.size
            users
            - if @announcement.dismiss_user_ids.include?( current_user.id )
              including you
            = link_to_toggle_box "show user IDs" do
              = @announcement.dismiss_user_ids
      = link_to t(:back), announcements_path, class: "back crumb"
