<%-
  establishment_field ||= nil
  listed_taxon ||= establishment_field || @primary_listed_taxon || @listed_taxon
  list ||= listed_taxon.list || @list
-%>
<div class="establishmentfield">
  <div class="establishment">
    <label><%=t :establishment_means %>:</label>
    <% if listed_taxon.establishment_means.blank? -%>
      <%= t(:unknown).downcase %>
    <% else %>
      <%= t("establishment.#{listed_taxon.establishment_means.downcase}", :default => listed_taxon.establishment_means) %>
    <% end -%>
    <% if list.listed_taxa_editable_by?(current_user) -%>
      <%= link_to_function t(:edit), "$(this).parents('.establishment').hide(); $(this).parents('.establishmentfield').find('form').show()",
        :class => "small" %>
    <% end -%>
    <span class="establishment_tip_target description helptip" rel="#establishment_tip"></span>
  </div>
  <% if list.listed_taxa_editable_by?(current_user) -%>
    <%= form_for listed_taxon, :builder => DefaultFormBuilder, :html => {
        :id => dom_id(listed_taxon, "edit_establishment"), 
        :class => "clear box listed_taxon_form inline buttonrow smallbuttons", 
        :style => "display: none"} do |f| %>
      <%= f.select :establishment_means, ListedTaxon::ESTABLISHMENT_MEANS.map{|e| [t("establishment.#{e}", :default => e), e]}, :include_blank => t(:unknown) %>
      <span class="establishment_tip_target description helptip" rel="#establishment_tip"></span>
      <%= f.hidden_field :occurrence_status_level %>
      <%= f.submit t(:save), :class => "default button" %>
      <%= link_to_function t(:cancel), "$(this).parents('.establishmentfield').find('.establishment').show(); $(this).parents('.establishmentfield').find('form').hide()",
        :class => "minor button" %>
    <% end %>
    <% if current_user.is_curator? && listed_taxon.establishment_means != ListedTaxon::ENDEMIC -%>
      <%= form_for listed_taxon, :builder => DefaultFormBuilder, :html => {
          :id => dom_id(listed_taxon, "edit_establishment"), 
          :class => "clear box listed_taxon_form inline buttonrow smallbuttons", 
          :style => "display: none"} do |f| %>
          <%= f.hidden_field :force_trickle_down_establishment_means, :value => "true" %>
          <%= f.submit t(:apply_establishment_means_to_descendant_places), 
            :class => "default button",
            :data => {:confirm => t('views.listed_taxa.establishment_field.confirmation')} %>
          <div class="small ui">
            <%=t 'views.listed_taxa.establishment_field.description_html', place_name: listed_taxon.place.display_name, place_url: place_url(listed_taxon.place), establishment_means: listed_taxon.establishment_means %>
          </div>
      <% end %>
    <% end -%>
  <% end -%>
  <div id="establishment_tip" style="display:none">
    <p class="ui">
      <%= raw t(:establishment_means_describes_how) %> 
    </p>
    <dl>
      <% for identifier in ListedTaxon::ESTABLISHMENT_MEANS %>
        <dt><%=t "establishment.#{ identifier }", default: identifier %></dt>
        <dd><%=t "establishment_means_descriptions.#{identifier}" %></dd>
      <% end %>
    </dl>
  </div>
</div>
