<%-
  guide_taxon ||= nil
  listed_taxon ||= guide_taxon || @listed_taxon
  taxon ||= listed_taxon.taxon
-%>
<%- upperright = capture do %>
  <% if listed_taxon.endemic? || listed_taxon.introduced? || taxon.threatened?(:place => listed_taxon.place) -%>
    <%= render 'listed_taxa/taxon_blobs', :taxon => taxon, :listed_taxon => listed_taxon %>
  <% end -%>
  <% if taxon.iucn_extinct? -%>
    <div class="extinct crossout">
      <div><%=t :extinct %></div>
    </div>
  <% end -%>
<% end -%>
<div class="listed_taxon inlineblock" href="<%= listed_taxon_path(listed_taxon) %>">
  <%= render :partial => "taxa/taxon", :object => taxon, :locals => {
    :include_full_name => true,
    :image_options => {:size => 'small'},
    :link_name => true,
    :link_image => true,
    :extra_class => "inlineblock",
    :hide_wikipedia_summary => true,
    :after_image => upperright.to_s
  } %>

  <% if obs = listed_taxon.first_observation -%>
    <div class="upperleft firstobs">
      <%= link_to image_tag(obs.user.icon(:mini)), obs %>
      <span>
        <strong><%= obs.user.login %></strong>,
        <%=t :first_observer %>
      </span>
    </div>
  <% elsif listed_taxon.observations_count > 0 %>
    <div class="upperleft confirmobs">
      <%= link_to "", observations_url(:place_id => listed_taxon.place_id, :taxon_id => listed_taxon.taxon_id), 
        :class => "ui-icon ui-icon-flag inlineblock" %>
      <span><%=t :help_confirm_observations! %></span>
    </div>
  <% end -%>
  
</div>
