<%-
  listed_taxon ||= object || @listed_taxon
  list ||= @list || listed_taxon.list
  place ||= listed_taxon.place
  taxon ||= listed_taxon.taxon
  taxon_range ||= TaxonRange.without_geom.first(:conditions => ["taxon_id = ?", taxon])
  map_tag_attrs = setup_map_tag_attrs(taxon, :place => place, :taxon_range => taxon_range)
  obs_url = observations_path(:place_id => listed_taxon.place_id, :taxon_id => listed_taxon.taxon_id)
  photos = taxon.taxon_photos.sort_by{|tp| tp.id}.map{|tp| tp.photo}
-%>
<div class="listed_taxon_guide clear">
  <div class="side">
    <div class="stacked photos">
      <% if photos.blank? -%>
        <%= render :partial => 'taxa/nophoto', :object => taxon %>
      <% else %>
        <div class="stacked">
          <%= link_to image_tag(photos[0].medium_url), photos[0].becomes(Photo) %>
          <div class="meta">
            Photo: <%= link_to photos.first.attribution, native_url_for_photo(photos.first) %>
          </div>
        </div>
        <% for photo in photos[1..4] %>
          <%= link_to image_tag(photo.square_url), photo.becomes(Photo) %>
        <% end %>
      <% end -%>
    </div>
    
    <div class="observationcounts stacked">
      <div class="ui description">
        <strong><%= listed_taxon.observations_count %></strong>
        <%= listed_taxon.observations_count == 1 ? 'observation' : 'observations' %>
        from in this place,
        <strong class="count"><%= listed_taxon.confirmed_observations_count %></strong>
        research grade
      </div>
      <% unless listed_taxon.observation_month_stats.blank? -%>
        <div class="statsgraphs stacked">
          <div class="observedgraph">
            <%= month_graph listed_taxon.observation_month_stats %>
          </div>
          <div class="confirmedgraph">
            <%= month_graph listed_taxon.confirmed_observation_month_stats, 
              :max => @listed_taxon.observation_month_stats.values.max %>
          </div>
        </div>
      <% end -%>
    </div>
    
    <% if listed_taxon.first_observation -%>
      <p class="ui description">
        First confirmed iNat observation
        <%= link_to one_line_observation(listed_taxon.first_observation, :skip => %w(user taxon)), listed_taxon.first_observation %>
        by 
        <%= link_to user_image(listed_taxon.first_observation.user), listed_taxon.first_observation.user %>
        <%= link_to you_or_login(listed_taxon.first_observation.user), listed_taxon.first_observation.user %>,
        added <%= listed_taxon.first_observation.created_at.to_date.to_s(:long) %>
      </p>
    <% end -%>

    <% if listed_taxon.last_observation -%>
      <p class="ui description">
        Last confirmed observation
        <%= link_to one_line_observation(listed_taxon.last_observation, :skip => %w(user taxon)), listed_taxon.last_observation %>
        by 
        <%= link_to user_image(listed_taxon.last_observation.user), listed_taxon.last_observation.user %>
        <%= link_to you_or_login(listed_taxon.last_observation.user), listed_taxon.last_observation.user %>
      </p>
    <% end -%>
    
    <div class="clear stacked">
      <div id="occurrence">
        <label>Occurrence status:</label>
        <%= listed_taxon.occurrence_status || "unknown" %>
        <%= link_to "edit", listed_taxon, :class => "small" %>
      </div>

      <div class="establishment stacked">
        <label>Establishment means:</label>
        <%= listed_taxon.establishment_means || "unknown" %>
        <%= link_to "edit", listed_taxon, :class => "small" %>
      </div>
    </div>
    
    <div class="meta stacked">
      <strong>Source:</strong> <%= citation_for @listed_taxon.citation_object %>
    </div>
    
    <div>
      <%= link_to "View taxon page for this #{@place ? 'place' : 'list' }", listed_taxon, :class => "readmore" %>
    </div>
    <div>
      <%= link_to "View taxon page", taxon, :class => "readmore" %>
    </div>
    
  </div>
  <!-- end side -->
  
  <div class="desc">
    <div class="stacked tabs">
      <ul>
        <li><%= link_to "Info", "##{dom_id(listed_taxon, 'infotab')}" %></li>
        <li><%= link_to "All photos", "##{dom_id(listed_taxon, 'photostab')}" %></li>
        <li><%= link_to "Observations", obs_url, :rel => obs_url, :title => dom_id(listed_taxon, 'observationstab') %></li>
      </ul>

      <div id="<%= dom_id(listed_taxon, 'infotab') %>">
        <!-- <iframe class="map" src="<%= taxon_map_url(taxon, :place_id => place) %>">Loading...</iframe> -->
        <!-- <div class="right map" data-taxon-id="<%= taxon.id %>" data-taxon-range-kml="<%=  %>"></div> -->
        <%= content_tag :div, '', map_tag_attrs.merge(:class => "stacked map") %>
        <div class="stacked">
          <%= taxon.wikipedia_summary %>
          <%= link_to "Read the full Wikipedia description", taxon, :class => "readmore" %>
        </div>
        <div class="stacked">
          <h3>Place Notes</h3>
          <%= listed_taxon.description %>
          <% if listed_taxon.description.blank? -%>
            <div class="noresults ui description">
              No one has added any notes for this place.
              <%= link_to "Add some now", listed_taxon, :class => "readmore" %>
            </div>
          <% else %>
            <%= link_to "Edit notes", listed_taxon, :class => "readmore" %>
          <% end -%>
        </div>

        <div class="stacked clear comments">
          <%= render :partial => "comments/comments", :object => listed_taxon %>
        </div>
      </div>

      <div id="<%= dom_id(listed_taxon, 'photostab') %>" class="photostab">
        <% for photo in photos %>
          <div class="inlineblock">
            <%= link_to image_tag(photo.medium_url, :class => "medium photo"), photo.becomes(Photo) %>
            <div class="meta">
              Photo: <%= link_to photo.attribution, native_url_for_photo(photo) %>
            </div>
          </div>
        <% end %>
      </div>

      <div id="<%= dom_id(listed_taxon, 'observationstab') %>" class="mini observations">
        <div class="loading status">
          Loading...
        </div>
      </div>
    </div>
  </div>
</div>
