<%-
  listed_taxon ||= object || @listed_taxon
  list ||= listed_taxon.list || @list
-%>
<div class="occurrencefield">
  <div id="occurrence">
    <label>Occurrence status:</label>
    <%= listed_taxon.occurrence_status || "unknown" %>
    <% if list.listed_taxa_editable_by?(current_user) -%>
      <%= link_to_function "edit", "$(this).parents('.occurrence').hide(); $(this).parents('.occurrencefield').find('form').show()",
        :class => "small" %>
    <% end -%>
    <span class="occurrence_tip_target description helptip" rel="#occurrence_tip"></span>
  </div>
  <% if list.listed_taxa_editable_by?(current_user) -%>
    <% form_for listed_taxon, :builder => DefaultFormBuilder, :html => {
        :id => dom_id(listed_taxon, "edit_occurrence"), 
        :class => "clear box listed_taxon_form smallbuttons inline buttonrow", 
        :style => "display: none"} do |f| %>
      <%= f.select :occurrence_status_level, ListedTaxon::OCCURRENCE_STATUS_LEVELS.invert.to_a.sort_by(&:last).reverse, :include_blank => "unknown" %>
      <span class="occurrence_tip_target description helptip" rel="#occurrence_tip"></span>
      <%= f.submit "Save", :class => "default button" %>
      <%= link_to_function "Cancel", "$(this).parents('.occurrence'); $(this).parents('.occurrencefield').find('form').hide()", 
        :class => "minor button" %>
    <% end %>
  <% end -%>
  <div id="occurrence_tip" style="display:none">
    <p class="ui">
      Occurence status describes how common or rare a taxon is in a given area.
      See DarwinCore for 
      <a href="http://code.google.com/p/darwincore/wiki/Occurrence#occurrenceStatus">more information on terminology</a>.
    </p>
    <dl>
      <% for identifier, description in ListedTaxon::OCCURRENCE_STATUS_DESCRIPTIONS %>
        <dt><%= identifier %></dt>
        <dd><%= description %></dd>
      <% end %>
    </dl>
  </div>
</div>
