<%-
  occurrence_field ||= nil
  listed_taxon ||= occurrence_field || @primary_listed_taxon || @listed_taxon
  list ||= listed_taxon.list || @list
-%>
<div class="occurrencefield">
  <div id="occurrence">
    <label><%=t :occurrence_status %>:</label>
    <% if listed_taxon.occurrence_status.blank? %>
      <%= t(:unknown).downcase %>
    <% else %>
      <%= t("occurrence_status_levels.#{listed_taxon.occurrence_status}", :default => listed_taxon.occurrence_status) || t(:unknown).downcase %>
    <% end -%>
    <% if list.listed_taxa_editable_by?(current_user) -%>
      <%= link_to_function t(:edit), "$(this).parents('#occurrence').hide(); $(this).parents('.occurrencefield').find('form').show()",
        :class => "small" %>
    <% end -%>
    <span class="occurrence_tip_target description helptip" rel="#occurrence_tip"></span>
  </div>
  <% if list.listed_taxa_editable_by?(current_user) -%>
    <%= form_for listed_taxon, :builder => DefaultFormBuilder, :html => {
        :id => dom_id(listed_taxon, "edit_occurrence"), 
        :class => "clear box listed_taxon_form smallbuttons inline buttonrow", 
        :style => "display: none"} do |f| %>
      <%= f.select :occurrence_status_level, ListedTaxon::OCCURRENCE_STATUS_LEVELS.invert.to_a.sort_by(&:last).reverse.map{|s, v| [t("occurrence_status_levels.#{s}", :default => s), v]}, :include_blank => t(:unknown) %>
      <span class="occurrence_tip_target description helptip" rel="#occurrence_tip"></span>
      <%= f.submit t(:save), :class => "default button" %>
      <%= f.hidden_field :establishment_means %>
      <%= link_to_function t(:cancel), "$(this).parents('.occurrencefield').find('#occurrence').show( ); $(this).parents('.occurrencefield').find('form').hide()",
        :class => "minor button" %>
    <% end %>
  <% end -%>
  <div id="occurrence_tip" style="display:none">
    <p class="ui">
    <%= raw t(:occurence_status_describes_how)%> 
    </p>
    <dl>
      <% for identifier, description in ListedTaxon::OCCURRENCE_STATUS_DESCRIPTIONS %>
        <dt><%=t "occurrence_status_levels.#{identifier}", default: identifier %></dt>
        <dd><%=t "occurrence_status_descriptions.#{identifier}", default: description %></dd>
      <% end %>
    </dl>
  </div>
</div>
