<%- 
  listed_taxon ||= place_tip || @listed_taxon
  editable = listed_taxon.list.listed_taxa_editable_by?(current_user)
-%>
<div class="meta">
  <%= render(:partial => 'shared/taxon.html.erb', :object => listed_taxon.taxon) -%>
  in
</div>

<div class="large">
  <%= link_to h(listed_taxon.place.display_name), listed_taxon.place, :class => 'namelink' %>
  <span class="small description">
    <%= listed_taxon.place.place_type_name %>
  </span>
</div>

<% unless listed_taxon.description.blank? -%>
  <div class="description stacked">
    <%= truncate_with_more listed_taxon.description, :length => 100 %>
  </div>
<% end -%>

<div id="occurrence">
  <label><%=t :occurrence_status %>:</label>
  <%= listed_taxon.occurrence_status || "unknown" %>
  <% if editable -%>
    <%= link_to t(:edit), listed_taxon, :class => "small" %>
  <% end -%>
</div>

<div class="establishment stacked">
  <label><%=t :establishment_means %>:</label>
  <%= listed_taxon.establishment_means || "unknown" %>
  <% if editable -%>
    <%= link_to t(:edit), listed_taxon, :class => "small" %>
  <% end -%>
</div>

<div class="ui description">
  <%=t :added_by_user_on_date_html,
    user: link_to_user( listed_taxon.user, missing: t(:site_admins) ),
    date: listed_taxon.created_at.to_s(:long)
  %>
</div>

<div class="stacked ui description">
  <%=t :updated_by_user_on_date_html,
    user: link_to_user( listed_taxon.updater, missing: t(:site_admins) ),
    date: listed_taxon.updated_at.to_s(:long)
  %>
</div>

<div>
  <% if listed_taxon.last_observation %>
    <span class="observation">
      <%=t :last_seen %>
      <a href="<%= observation_url(listed_taxon.last_observation) %>">
        <%= one_line_observation listed_taxon.last_observation, :skip => %w(user taxon) %>
      </a>
    </span>
    |
  <% end %>

  <nobr class="counts">
    <%= link_to t(:x_comments_html, count: listed_taxon.comments_count ), listed_taxon %>
  </nobr>

  <% if editable -%>
    | <%= link_to t(:edit_remove), listed_taxon %>
  <% end -%>
  </div>
</div>
