:ruby
  taxon_blobs ||= nil
  listed_taxon ||= taxon_blobs || @listed_taxon
  taxon ||= listed_taxon.taxon || @taxon
  taxon ||= conservation_status.taxon if defined? conservation_status && conservation_status
  conservation_status ||= taxon.threatened_status(:place_id => listed_taxon.place_id) if listed_taxon
  conservation_status ||= taxon.threatened_status
  show_place_name ||= false
.upperright
  - if listed_taxon && (listed_taxon.endemic? || listed_taxon.introduced?)
    = establishment_blob(listed_taxon, :show_place_name => show_place_name)
  - if cs = conservation_status
    :ruby
      tip = "#{t(:conservation_status)}: <strong>#{cs.status_name} #{"(#{cs.status})" if cs.status_name != cs.status}</strong>"
      tip += " in #{cs.place.display_name}" if cs.place
      tip += " (#{cs.authority})"
      tip += "<br/>#{cs.description}" unless cs.description.blank?
      blob_attrs = {
        :class => "blob conservation_status #{cs.iucn_status}", 
        "data-tip" => tip, 
        "data-tip-position-at" => "bottom center", 
        "data-tip-style-classes" => "ui-tooltip-#{cs.iucn_status} ui-tooltip-shadow", 
        :title => taxon.conservation_status_name
      }
    %div{blob_attrs}
      %strong= cs.iucn_status_code
