<%- content_for(:title) do -%>
  <%- @title = capture do %>
    <%= iconic_taxon_image @taxon, :style => "vertical-align: middle" %>
    <% link_to @taxon do %>
      <%= render :partial => "shared/taxon" %>
    <% end %>
    on
    <%= link_to truncate(h(@list.title), :length => 85), @list %>
  <% end -%>
  <%= strip_tags @title %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "lists", "observations", "jquery/ui.tabs" %>
  <style type="text/css" media="screen">
    #taxonimage { margin-bottom: 10px; }
    #taxonimage .iconic {
      display: block;
      margin: 10px auto;
    }
    .listed_taxon_form textarea {
      width: 636px; 
      height: 100px; 
      margin-right: 0;
    }
    form.inline { margin-bottom: 10px;}
    .monthgraph .month_0 { display: none;}
    #comments > h3 { display: none;}
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag("jquery/jquery-ui-1.8.11.min", 'jquery/plugins/jqModal' ) %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.tabs').tabs()
    })
  </script>
<%- end -%>
<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo #{@list.title}", @list, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  
  <h2><%= @title %></h2>
</div>

<div class="column span-7">
  <div id="taxonimage" class="photo_view">
    <% if @taxon.photos.blank? -%>
      <%= render :partial => 'taxa/nophoto', :object => @taxon %>
    <% else %>
      <%= link_to taxon_image(@taxon, :size => :small), @taxon %>
      <p class="ui attribution description">
        Photo: 
        <%= link_to @taxon.photos.first.attribution, @taxon.photos.first.native_page_url %>
      </p>
    <% end -%>
  </div>
  
  <div class="stacked ui description">
    Observed
    <span class="count"><%= @listed_taxon.observations_count %></span>
    <%= @listed_taxon.observations_count == 1 ? 'time' : 'times' %>
  </div>
  <%= month_graph @listed_taxon.observation_month_stats %>
  <div class="stacked meta">(research-grade observations only)</div>
  
  <% if @listed_taxon.first_observation -%>
    <p class="ui description">
      First iNat observation
      <%= link_to one_line_observation(@listed_taxon.first_observation, :skip => %w(user taxon)), @listed_taxon.first_observation %>
      <% if is_not_me?(@list.user) -%>
        by 
        <%= link_to user_image(@listed_taxon.first_observation.user), @listed_taxon.first_observation.user %>
        <%= link_to you_or_login(@listed_taxon.first_observation.user), @listed_taxon.first_observation.user %>,
        added <%= @listed_taxon.first_observation.created_at.to_date.to_s(:long) %>
      <% end -%>
    </p>
  <% end -%>
  
  <% if @listed_taxon.last_observation -%>
    <p class="ui description">
      Last observation
      <%= link_to one_line_observation(@listed_taxon.last_observation, :skip => %w(user taxon)), @listed_taxon.last_observation %>
      <% if is_not_me?(@list.user) -%>
        by 
        <%= link_to user_image(@listed_taxon.last_observation.user), @listed_taxon.last_observation.user %>
        <%= link_to you_or_login(@listed_taxon.last_observation.user), @listed_taxon.last_observation.user %>
      <% end -%>
    </p>
  <% end -%>
  
  <%= separator %>
  
  <p class="ui description">
    Added 
    <% if @listed_taxon.user %>
      by 
      <%= link_to user_image(@listed_taxon.user), @listed_taxon.user %>
      <%= link_to you_or_login(@listed_taxon.user), @listed_taxon.user %>
    <% end %>
    on <%= @listed_taxon.created_at.to_s(:long) %>
  </p>
  
  <p class="ui description">
    Updated
    <% if @listed_taxon.updater %>
      by 
      <%= link_to user_image(@listed_taxon.updater), @listed_taxon.updater %>
      <%= link_to you_or_login(@listed_taxon.updater), @listed_taxon.updater %>
    <% end %>
    on <%= @listed_taxon.updated_at.to_s(:long) %>
  </p>
  
  <% if @list.editable_by?(current_user) -%>
    <p class="ui description" style="margin-top: 10px">
      <%= link_to "Remove from #{h(@list.title)}", @listed_taxon, :method => :delete, 
        :confirm => "Are you sure you want to remove this taxon from #{h(@list.title)}?",
        :class => "small description" %>
    </p>
  <% end -%>
  
</div>

<div class="last column span-17">  
  <div id="description" class="description">
    <% if @listed_taxon.description.blank? && @list.listed_taxa_editable_by?(current_user) -%>
      <p class="ui description inplaceedit">
        <%= link_to_function "Add a description", "$('#description').hide(); $('##{dom_id(@listed_taxon, "edit_description")}').show()" %>
      </p>
    <% else %>
      <div class="clear readable">
        <%= formatted_user_text(@listed_taxon.description) %>
      </div>
      <% if @list.listed_taxa_editable_by?(current_user) -%>
        <p class="ui"><%= link_to_function "edit description", "$('#description').hide(); $('##{dom_id(@listed_taxon, "edit_description")}').show()" %></p>
      <% end -%>
    <% end -%>
  </div>
  
  <% if @list.listed_taxa_editable_by?(current_user) -%>
    <% form_for @listed_taxon, :builder => DefaultFormBuilder, :html => {
        :id => dom_id(@listed_taxon, "edit_description"), :class => "clear box listed_taxon_form", :style => "display: none"} do |f| %>
      <%= f.text_area :description %>
      <%= f.submit "Save", :class => "default button" %>
      <%= link_to_function "Cancel", "$('#description').show(); $('##{dom_id(@listed_taxon, "edit_description")}').hide()", 
        :class => "minor button" %>
    <% end %>
  <% end -%>
  
  <% if @list.is_a?(CheckList) -%>
    <div class="stacked">
      <%= render :partial => 'occurrence_field' %>
      <%= render :partial => 'establishment_field' %>
    </div>
  <% end -%>
  
  <div class="tabs">
    <%-
      obs_tab_txt = case @list.class.to_s
      when 'CheckList'
        "Observations from this place"
      when 'ProjectList'
        "Observations from this project"
      else
        is_me?(@list.user) ? "Observations by you" : "Observations by #{@list.user.login}"
      end
    -%>
    <ul>
      <li><%= link_to content_tag(:span, "Comments"), '#comments' %></li>
      <li><%= link_to content_tag(:span, obs_tab_txt), '#observations' %></li>
    </ul>
    <div id="comments">
      <%= render :partial => "comments/comments", :object => @listed_taxon %>
    </div>
    <div id="observations">
      <div class="mini observations">
        <% if @observations.blank? -%>
          <p class="noresults description">
            No observations yet.
          </p>
        <% else %>
          <%= render :partial => "observations/cached_component", :collection => @observations %>
          <% if @observations.total_pages > 1 -%>
            <% if @list.is_a?(CheckList) -%>
              <%= link_to "View more", observations_path(:place_id => @check_list.place_id, :taxon_id => @listed_taxon.taxon_id) %>
            <% elsif @list.is_a?(ProjectList) %>
              <%= link_to "View more", project_observations_path(:id => @check_list.place_id, :taxon_id => @listed_taxon.taxon_id) %>
            <% elsif @list.user %>
              <%= link_to "View more", observations_by_login_path(:login => @list.user.login, :taxon_id => @listed_taxon.taxon_id) %>
            <% end -%>
          <% end -%>
        <% end -%>
      </div>
    </div>
  </div>
</div>
