<%-
  listed_taxon ||= @primary_listed_taxon || @listed_taxon
  @list_title = display_list_title(@list)
-%>

<%- content_for(:title) do -%>
  <%- @title = capture do %>
    <%= iconic_taxon_image @taxon, :style => "vertical-align: middle" %>
    <%= link_to @taxon do %>
      <%= render :partial => "shared/taxon" %>
    <% end %>
    <%=raw t(:on_).downcase %>
        <%= link_to @list_title, @list %>
  <% end -%>
  <%= strip_tags(@title).html_safe %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "lists", "jquery/ui.tabs" %>
  <style type="text/css" media="screen">
    #taxonimage { margin-bottom: 10px; }
    #taxonimage .iconic {
      display: block;
      margin: 10px auto;
    }
    #taxonimage .small.photo {max-width:270px;}
    .listed_taxon_form textarea {
      width: 636px; 
      height: 100px; 
      margin-right: 0;
    }
    form.inline { margin-bottom: 10px;}
    .monthgraph .month_0 { display: none;}
    #comments > h3 { display: none;}
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag('jquery/plugins/jqModal' ) %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.tabs').tabs({
        ajaxOptions: {
          data: "partial=cached_component"
        },
        load: function(event, ui) {
          $('.observations', ui.panel).append(
            $('<a rel="nofollow">' + I18n.t('view_more') + '</a>').addClass('readmore').attr('href', $(ui.tab).attr('href'))
          )
        }
      })
    })
  </script>
<%- end -%>
<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo; #{@list_title}".html_safe, @list, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  
  <h2><%= @title %></h2>
</div>

<div class="column span-7">
  <div id="taxonimage" class="photo_view">
    <% if @photo -%>
      <%= link_to image_tag(@photo.small_url, :class => "small photo"), @taxon %>
      <p class="ui attribution description">
        <%=t :photo %>: 
        <%= link_to @photo.attribution, @photo.native_page_url %>
      </p>
    <% else %>
      <%= render :partial => 'taxa/nophoto', :object => @taxon %>
    <% end -%>
  </div>
  
  <div class="observationcounts stacked">
    <div class="ui description">
      <strong><%= listed_taxon.observations_count %></strong>
      <%= (listed_taxon.observations_count == 1 ? t(:observation).downcase : t(:observations).downcase) -%>,
      <%= t :research_grade %>
    
    <% if logged_in? && current_user.is_admin? -%>
      <span class="button">
        <%= link_to t(:refresh).downcase, {
            :controller => 'listed_taxa',
            :action => 'refresh_observationcounts',
            :listed_taxon_id => listed_taxon.id },
          :method => :post,
          "data-loading-click" => t(:refreshing) -%></span>
    <% end -%>
    </div>
  </div>

  <% if listed_taxon.first_observation -%>
    <p class="ui description">
      <%=t :first_inat_observation, :site_name => SITE_NAME_SHORT %>
      <%= link_to one_line_observation(listed_taxon.first_observation, :skip => %w(user taxon)), listed_taxon.first_observation %>
      <% if @list.is_a?(CheckList) -%>
        <%= t(:by).downcase %>
        <%= link_to user_image(listed_taxon.first_observation.user), listed_taxon.first_observation.user %>
        <%= link_to you_or_login(listed_taxon.first_observation.user), listed_taxon.first_observation.user %>,
        <%= t(:added).downcase %> <%= l(listed_taxon.first_observation.created_at.to_date, :format => :long) %>
      <% end -%>
    </p>
  <% end -%>
  
  <% if listed_taxon.last_observation -%>
    <p class="ui description">
      <%=t :last_observation %>
      <%= link_to one_line_observation(listed_taxon.last_observation, :skip => %w(user taxon)), listed_taxon.last_observation %>
      <% if @list.is_a?(CheckList) -%>
        <%= t(:by).downcase %>
        <%= link_to user_image(listed_taxon.last_observation.user), listed_taxon.last_observation.user %>
        <%= link_to you_or_login(listed_taxon.last_observation.user), listed_taxon.last_observation.user %>
      <% end -%>
    </p>
  <% end -%>
  
  <%= separator %>
  
  <p class="ui description">
    <%= t(:added).titleize %>
    <% if @listed_taxon.user %>
      <%= t(:by).downcase %>
      <%= link_to user_image(@listed_taxon.user), @listed_taxon.user %>
      <%= link_to you_or_login(@listed_taxon.user), @listed_taxon.user %>
    <% end %>
    <%=t :on_day %> <%= l(@listed_taxon.created_at.to_date, :format => :long) %>
  </p>
  
  <p class="ui description">
    <%=t :updated %>
    <% if @listed_taxon.updater %>
      <%= t(:by).downcase %>
      <%= link_to user_image(@listed_taxon.updater), @listed_taxon.updater %>
      <%= link_to you_or_login(@listed_taxon.updater), @listed_taxon.updater %>
    <% end %>
    <%=t :on_day %> <%= l(@listed_taxon.updated_at.to_date, :format => :long) %>
  </p>
  
  <%- if(@related_listed_taxa.present?) %>
    <div>
      <%= render :partial => 'all_listings' %>
    </div>
  <% end %>
  
  <div class="meta">
    <strong><%=t :source %>:</strong> <%= citation_for @listed_taxon.citation_object %>
  </div>
  
  <% if @listed_taxon.removable_by?(current_user) -%>
    <p class="ui description" style="margin-top: 10px">
      <%= link_to "#{t(:remove_from)} #{@list_title}", @listed_taxon, :method => :delete,
        :data => {:confirm => t(:you_sure_remove_taxon_from?, :list => @list.title)},
        :class => "small description" %>
    </p>
  <% end -%>
  
</div>

<%- description_name = @list.is_a?(CheckList) ? t(:place_notes) : t(:description) %>
<div class="last column span-17">  
  <div id="description" class="description">
    <% if @listed_taxon.description.blank? && @list.listed_taxa_editable_by?(current_user) -%>
      <p class="ui description inplaceedit">
      <%= link_to_function t(:add_description, :description_name => description_name.downcase), "$('#description').hide(); $('##{dom_id(@listed_taxon, "edit_description")}').show()" %>
      </p>
    <% else %>
      <div class="clear readable">
        <%= formatted_user_text(@listed_taxon.description) %>
      </div>
      <% if @list.listed_taxa_editable_by?(current_user) -%>
        <p class="ui"><%= link_to_function "#{t(:edit)} #{description_name.downcase}", "$('#description').hide(); $('##{dom_id(@listed_taxon, "edit_description")}').show()" %></p>
      <% end -%>
    <% end -%>
  </div>
  
  <% if @list.listed_taxa_editable_by?(current_user) -%>
    <%= form_for @listed_taxon, :builder => DefaultFormBuilder, :html => {
        :id => dom_id(@listed_taxon, "edit_description"), :class => "clear box listed_taxon_form", :style => "display: none"} do |f| %>
      <%= f.text_area :description, :label => description_name.capitalize,
        :placeholder => t(:add_notes_about_this_taxon) %>
      <%= f.submit t(:save), :class => "default button" %>
      <%= link_to_function t(:cancel), "$('#description').show(); $('##{dom_id(@listed_taxon, "edit_description")}').hide()", 
        :class => "minor button" %>
    <% end %>
  <% end -%>
  
  <% if @list.is_a?(CheckList) -%>
    <div class="stacked">
      <%= render :partial => 'occurrence_field' %>
      <%= render :partial => 'establishment_field' %>
    </div>
  <% end -%>
  
  <div class="tabs">
    <%-
      case @list.class.to_s
      when 'CheckList'
        obs_tab_txt = t(:observations_from_this_place)
        obs_url = observations_path(:place_id => @listed_taxon.place_id, :taxon_id => @listed_taxon.taxon_id)
      when 'ProjectList'
        obs_tab_txt = t(:observations_from_this_project)
        obs_url = project_observations_path(@list.project_id, :taxon_id => @listed_taxon.taxon_id)
      else
        obs_tab_txt = is_me?(@list.user) ? t(:observations_by_you) : t(:observations_by_user, :user => @list.user.login)
        obs_url = observations_by_login_path(@list.user.login, :taxon_id => @listed_taxon.taxon_id, :place_id => @list.place_id)
      end
    -%>
    <ul>
      <li><%= link_to content_tag(:span, t(:comments)), '#comments' %></li>
      <li><%= link_to content_tag(:span, obs_tab_txt), obs_url, :title => "observations" %></li>
    </ul>
    <div id="comments">
      <%= render :partial => "comments/comments", :object => @listed_taxon %>
    </div>
    <div id="observations" class="mini observations"></div>
  </div>
</div>
