<%- content_for(:title) do -%>
  <%= t(:sign_in) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .providerlink, .button.providerlink { width: 140px; }
  </style>
<%- end -%>
<div class="column span-8 prepend-2">
  <img src="/images/bird.png" width="300" height="239" />
</div>
<div class="column span-7">
  <% form_tag session_path do %>
    <p class="ui">
      <%= label_tag 'login', t(:username_or_email) %><br/>
      <%= text_field_tag 'login', @login, {:class => "text", :tabindex => 1, :autocorrect => "off", :autocapitalize => "off"} %>
    </p>
    <p class="ui">
      <%= label_tag 'password', t(:password) %><br/>
      <%= password_field_tag 'password', nil, {:class => "text", :tabindex => 2} %>
    </p>
    <p class="ui">
      <%= check_box_tag 'remember_me', '1', t(:remember_me) %>
      <%= label_tag 'remember_me',  t(:remember_me) %>
    </p>
    <div class="clear buttonrow">
      <%= submit_tag t(:sing_in_exclamation), :class => "default button" %>
      <span class="small inter ui nobr description" style="line-height: 1.6">
        or
        <%= link_to t(:start_new_account), new_user_path, :class => "readmore" %>
      </span>
    </div>
  <% end -%>
  
  <p class="ui">
    <%= link_to t(:forgot_your_password), forgot_password_path %>
  </p>
</div>

<div class="last column span-6">
  <div class="clear stacked">
    <div style="margin-bottom: 0.5em;">
      <label> <%= t(:or_you_can) %></label>
    </div>
    <%- ProviderAuthorization::AUTH_URLS.each do |provider, url| -%>
      <%= link_to t(:sign_in_with_provider, :provider => "#{provider}"), url, :class => "button providerlink #{provider.downcase}" %>
    <%- end -%>
  </div>
  
  <%= link_to_toggle t(:if_you_already_have_inat_account), "#already" %>
  <p id="already" class="ui description" style="display: none;">
    <%= t(:and_you_havent_linked) %>
  </p>
</div>
