<%- content_for(:title) do -%>
  Sign in
<%- end -%>
<div class="column prepend-4 span-8">
  <img src="/images/logo-bird-300px-trans.png" width="300" height="237" />
</div>
<div class="column span-8 append-4 last">
  <% form_tag session_path do %>

    <p class="ui">
      <%= label_tag 'login', 'Username or email' %><br/>
      <%= text_field_tag 'login', @login, {:class => "text", :tabindex => 1} %>
    </p>

    <p class="ui">
      <%= label_tag 'password', 'Password' %><br/>
      <%= password_field_tag 'password', nil, {:class => "text", :tabindex => 2} %>
    </p>
  
    <p class="ui">
      <%= check_box_tag 'remember_me', '1', 'Remember me' %>
      <%= label_tag 'remember_me', 'Remember me' %>
    </p>

    <p><%= submit_tag 'Sign in!', :class => "default button", :style => "float: none;" %></p>

  <% end -%>

  <p class="ui">
    <%= link_to 'Forgot your password?', forgot_password_path %>
  </p>
</div>