<%- content_for(:title) do -%>
  Sign in
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .providerlink, .button.providerlink { width: 140px; }
  </style>
<%- end -%>
<div class="column span-8 prepend-2">
  <img src="/images/bird.png" width="300" height="239" />
</div>
<div class="column span-6">
  <% form_for :session, :builder => DefaultFormBuilder do |f| %>
    <%= f.text_field :login, :label => "Email / username", :class => "text" %>
    <%= f.password_field :password, :class => "text" %>
    <%= f.check_box :remember_me, :label_after => true %>
    <%= f.submit "Sign in!", :class => "default inline button" %>
  <% end %>
  
  <p class="ui">
    <%= link_to 'Forgot your password?', forgot_password_path %>
  </p>
</div>

<div class="last column prepend-1 span-6">
  <div class="clear stacked">
    <div style="margin-bottom: 0.5em;">
      <label>Or you can...</label>
    </div>
    <%- {
      "facebook" => "/auth/facebook",
      "twitter" => "/auth/twitter",
      "Google" => "/auth/open_id?openid_url=https://www.google.com/accounts/o8/id",
      "Yahoo" => "/auth/open_id?openid_url=https://me.yahoo.com",
    }.each do |provider, url| -%>
      <%= link_to "Sign in with #{provider}", url, :class => "button providerlink #{provider.downcase}" %>
    <%- end -%>
  </div>
  
  <%= link_to_toggle "If you already have an iNat account...", "#already" %>
  <p id="already" class="ui description" style="display: none;">
    ...and you haven't linked one of these
    external accounts, you should sign in through iNat first, then edit your
    profile and link your account from there. Otherwise iNat may not be able
    to tell that the two accounts are connected and try to create a new
    account for you instead!
  </p>
</div>
