<%- 
  photo ||= change_taxon.photos.first
  taxon_range ||= change_taxon.taxon_ranges.first
  taxon_change ||= @taxon_change
-%>

<%- rendered_taxon_name = capture do -%>
  <%= render(:partial => 'shared/taxon.html.erb', :object => change_taxon) -%>
<%- end -%>

<div id="change_taxon_<%= change_taxon.id %>" class="change_taxon clear <%= change_taxon.iconic_taxon.name rescue 'Unknown' %> taxon-<%= change_taxon.id %>">
  <% image_and_content taxon_image(change_taxon), :image_size => 75 do %>
    <%= link_to rendered_taxon_name, change_taxon %>
    
    <div class="stacked">
      <%= link_to change_taxon.observations_count, observations_path(:taxon_id => change_taxon.id) %> Obs
      <%= "<span class='meta'>|</span> #{change_taxon.conservation_status_code}" unless change_taxon.conservation_status.nil? %>
      <%= "<span class='meta'>|</span> #{link_to 'Range', taxon_path(change_taxon, :anchor => 'taxon_range')}" if taxon_range %>
      <%= change_taxon.is_active ? "| <span class='active'>Active</span>" : "| <span class='inactive'>Inactive</span>" %>
    </div>
    <div class="meta">
      <div class="small description">
        <% for taxon_scheme in change_taxon.taxon_schemes %>
          <%= taxon_scheme.title  %><br/>
        <% end %>
        <% if taxon_change.class.name == 'TaxonSplit' || taxon_change.class.name == 'TaxonMerge'%>
          <% for swap in change_taxon.taxon_swaps %> 
            <% aka_name = swap.old_taxon.name %>
            <% for aka_scheme in swap.old_taxon.taxon_schemes %>
              <%= link_to "#{aka_scheme.title} (as #{aka_name})", taxon_change_path(swap) %><br/>
            <% end %>
          <% end %>
          <% for tct in change_taxon.taxon_change_taxa %> 
            <% swap = tct.taxon_change %>
            <% if swap.class.name == "TaxonSwap" %>
              <% aka_name = swap.taxon.name %>
              <% for aka_scheme in swap.taxon.taxon_schemes %>
                <%= link_to "#{aka_scheme.title} (as #{aka_name})", taxon_change_path(swap) %><br/>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end -%>
</div>
