<%- content_for(:extracss) do -%>
  <style type="text/css">
    .taxon_change_taxon input.text {width: 300px;}
    textarea {width:455px;}
    fieldset.span-8 {width:274px;}
    fieldset.span-16 {width:594px;}
    fieldset.span-12 {width:434px;}
    fieldset.span-24 {width:915px;}
    #singletaxon {margin-left: 0; margin-right: 0}
    #multiple_taxa {margin-left: 0; margin-right: 0}
    .add_taxon_link {margin-right: 10px;}
    #errorExplanation {clear:both;}
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <script type="text/javascript">
    function addTaxonChangeTaxonField(markup) {
      var index = $('#new_taxon_change_taxa').children().length
      markup = markup.replace(/taxon_change_taxa_attributes\]\[0\]/g, "taxon_change_taxa_attributes]["+index+"]")
      $('#new_taxon_change_taxa').append(markup)
      $('#new_taxon_change_taxa input.text:last').simpleTaxonSelector({
        isActive: 'any',
        includeID: true
      })
    }

    function rearrangeTaxonFieldsets() {
      var changeType = $('input[name="taxon_swap[type]"]:checked').val() || $('input[name*="[type]"]').val()
      if (changeType == 'TaxonStage' || changeType == 'TaxonDrop') {
        $('#singletaxon').removeClass('right').addClass('left').show()
        $('#multiple_taxa').removeClass('right').addClass('left').hide()
      } else if (changeType == 'TaxonSwap' || changeType == 'TaxonMerge') {
        $('#singletaxon').removeClass('left').addClass('right').show()
        $('#singletaxon legend').text(I18n.t('output_taxon'))
        $('#multiple_taxa').removeClass('right').addClass('left').show()
        $('#multiple_taxa legend').text(I18n.t('input_taxon'))
      } else {
        $('#singletaxon').removeClass('right').addClass('left').show()
        $('#singletaxon legend').text(I18n.t('input_taxon'))
        $('#multiple_taxa').removeClass('left').addClass('right').show()
        $('#multiple_taxa legend').text(I18n.t('output_taxon'))
      }
    }
    $(document).ready(function() {
      $('.taxon_change_taxon').each(function() {
        var taxonIDField = $('input[name*="[taxon_id]"]', this).get(0)
        $('input.text', this).simpleTaxonSelector({
          taxonIDField: taxonIDField,
          isActive: 'any',
          includeID: true
        })
      })
      rearrangeTaxonFieldsets()
      $('input[name="taxon_swap[type]"]').change(rearrangeTaxonFieldsets)
    })
  </script>
<%- end -%>
<%- 
  taxon_change ||= @taxon_change
  taxon_change_type = taxon_change.class.name
-%>

<%= form_for(taxon_change, :builder => DefaultFormBuilder, :html => {:multipart => true}) do |f| %>
  <%= error_messages_for :taxon_change %>
  
  <div class="column span-24">
    <% if taxon_change.committed? -%>
      <div class="alert box clear">
        <%= t(:this_taxon_change_has_been_commited).html_safe %>
      </div>  
    <% end -%>
    <% if taxon_change.new_record? -%>
      <fieldset class="column span-8">
        <legend>
          <%= t :type %>
          <% helptip_for "type" do %>
            <%= t :choose_what_kind_of_change_youre_creating %>
          <% end -%>
        </legend>
        <%= f.radio_button :type, 'TaxonSplit', { :checked => true }, :label_after => true, :label => t("change_types.split"),
          :description => t("change_descriptions.split") %>
        <%= f.radio_button :type, 'TaxonMerge', :label_after => true, :label => t("change_types.merge"),
          :description => t("change_descriptions.merge") %>
        <%= f.radio_button :type, 'TaxonSwap', :label_after => true, :label => t("change_types.swap"),
          :description => t("change_descriptions.swap") %>
        <%= f.radio_button :type, 'TaxonDrop', :label_after => true, :label => t("change_types.drop"),
          :description => t("change_descriptions.drop") %>
        <%= f.radio_button :type, 'TaxonStage', :label_after => true, :label => t("change_types.stage"),
          :description => t("change_descriptions.stage") %>
      </fieldset>
    <% else %>
      <%= f.hidden_field :type %>
    <% end %>

    <fieldset id="sourcing" class="last column span-<%= taxon_change.new_record? ? '16' : '24' %>">
      <legend>
        <%= t :sourcing %>
        <% helptip_for "source" do %>
          <%= t :please_add_a_citation_for_this_change %>
        <% end -%>
      </legend>
      <div class="stacked">
        <%= render :partial => 'sources/nested_form_fields', :locals => {:f => f} %>
      </div>

      <%= f.select :change_group, @change_groups, :include_blank => t(:none), :selected => taxon_change.try(:change_group), :label=>t(:change_group) %>
      <%- new_change_group_field = capture do %>
        <%= f.text_field :change_group, :description => t(:label_to_group_a_batch_of_taxon_changes), :label=>t(:change_group) %>
      <% end -%>
      <%= link_to_function t(:add_a_new_change_group), "$('.change_group_field').replaceWith('#{escape_javascript new_change_group_field}'); $(this).remove()" %>
    </fieldset>
  </div>

  <div class="column span-24">
    <fieldset id="singletaxon" class="column span-12">
      <legend><%= taxon_change_type == 'TaxonSplit' ? t(:input_taxon) : t(:output_taxon) %></legend>

      <% if @taxon_change.committed? -%>
        <div class="taxon_links">
          <%= render 'shared/taxon', :taxon => @taxon_change.taxon, :link_url => @taxon_change.taxon, :include_id => true, :taxon_class => "inlineblock" %>
        </div>
      <% else %>
        <%= f.text_field :taxon_id, :class => 'text', :id => "taxon_change_taxon_id", :label=>t(:taxon_id) %><br/>
        <%= label_tag t(:taxon_name) %><br/>
        <%= text_field_tag :taxon_name, taxon_change.taxon ? taxon_change.taxon.name : '', :id => 'taxon_name', :class => 'text' %>
        <%= link_to_function t(:browse_all_species), "$('#taxonchooser').jqmShow();" %>
        <div class="description stacked">
          <%= t :this_is_a_more_convenient_way_to_find_a_taxon_id %>
        </div>
        <%= link_to t(:create_a_new_taxon), new_taxon_url, :target => "_blank" %>
      <% end -%>
    </fieldset>

    <% if taxon_change.new_record? || taxon_change_type == "TaxonSplit" || taxon_change_type == "TaxonMerge" || taxon_change_type == "TaxonSwap" %>
      <fieldset id="multiple_taxa" class="last column span-12">
        <% if taxon_change.new_record? -%>
          <legend><%= t :multiple_taxa_for_taxon_change %></legend>
        <% else %>
          <legend>
            <%= 
              case taxon_change_type
              when 'TaxonSplit' then "Output taxa"
              when 'TaxonMerge' then "Input taxa"
              when 'TaxonSwap' then "Input taxon"
              else ''
              end
            %>
          </legend>
        <% end %>
        
        <% if @taxon_change.committed? -%>
          <ul class="taxon_links plain">
            <% for taxon in @taxon_change.taxa %>
              <li><%= render 'shared/taxon', :taxon => taxon, :link_url => taxon, :include_id => true, :taxon_class => "inlineblock" %></li>
            <% end %>
          </ul>
        <% else %>
          <%= f.fields_for :taxon_change_taxa, :builder => DefaultFormBuilder do |tct| %> 
            <div class="taxon_change_taxon">
              <%= tct.hidden_field :taxon_change_id %>
              <%= tct.hidden_field "_destroy" %>
              <%= link_to_function t(:remove),
                "$(this).prev().val(1); $(this).parents('.taxon_change_taxon').slideUp().attr('id', '')", 
                :class => "right" %>
              <%= tct.form_field :taxon_name, :label=>t(:taxon_name) do %>
                <input type="text" class="text"/>
                <%= tct.hidden_field :taxon_id %>
                <%= tct.hidden_field :nested %>
              <% end -%>
            </div>
          <% end -%>
          <%- tct_form_fields = capture do -%>
            <%= f.fields_for :taxon_change_taxa, taxon_change.taxon_change_taxa.build, :builder => DefaultFormBuilder do |tct| %>
              <div class="taxon_change_taxon">
                <%= tct.hidden_field :taxon_change_id %>
                <%= tct.hidden_field "_destroy" %>
                <%= link_to_function t(:remove),
                  "$(this).prev().val(1); $(this).parents('.taxon_change_taxon').slideUp().attr('id', '')", 
                  :class => "right" %>
                <%= tct.form_field :taxon_name, :label=>t(:taxon_name) do %>
                  <input type="text" class="text"/>
                  <%= tct.hidden_field :taxon_id %>
                  <%= tct.hidden_field :nested %>
                <% end -%>
              </div>
            <% end -%>
          <% end -%>
          <div id="new_taxon_change_taxa"></div>
          <span class="add_taxon_link inlineblock">
            <%= link_to_function t(:add_a_taxon), "addTaxonChangeTaxonField('#{escape_javascript(tct_form_fields)}')" %>
          </span>
          <%= link_to t(:create_a_new_taxon), new_taxon_url, :target => "_blank" %>
        <% end -%>
      </fieldset>
    <% end -%>
  </div>
  
  <div class="column span-24">
    <%= f.text_area :description, :label=>t(:description) %>
  </div>
  
  <div class="column span-24 buttonrow">
    <%= f.submit t(:save), :class => 'default button', "data-loading-click" => t(:saving) %>
    <%= link_to t(:cancel), taxon_change, :class => 'button' %>
    <%= link_to t(:delete), taxon_change,
                :method => :delete,
                :data => {:confirm => t(:are_you_sure_you_want_to_delete_this_taxon_change)},
                :class => 'minor delete button' %>
  </div>
<% end %>
