- taxon_change = update_email_committed || taxon_change
- user = updates.first.subscriber
%table
  %tr
    %td{:style => "vertical-align:top;"}
      %table{:cellspacing => 0, :cellpadding => 0, :border => 0}
        - for taxon in taxon_change.input_taxa
          %tr
            %td{:style => "vertical-align:top;padding-right:5px;"}
              %center= link_to taxon_image(taxon), taxon
            %td{:style => "vertical-align:top;padding-right:5px;"}
              %i= link_to taxon.name, taxon
    %td{:style => "vertical-align:top;padding-right:5px;"}
      %strong
        = taxon_change.verb_phrase
    %td{:style => "vertical-align:top;"}
      %table
        - for taxon in taxon_change.output_taxa
          %tr
            %td{:style => "vertical-align:top;padding-right:5px;"}
              %center= link_to taxon_image(taxon), taxon
            %td{:style => "vertical-align:top;"}
              %i= link_to taxon.name, taxon

= taxon_change.description

%p
  Taxon changes represent changes to iNaturalist's taxonomy. Most of the time iNat will automatically 
  keep your content up-to-date when these changes happen (unless you've opted-out), but we still want 
  to let you know when and how your data is changing.
  - if taxon_change.automatable?
    - if user.prefers_automatic_taxonomic_changes?
      Your content related to these taxa will be updated automatically.
    - else
      You have some content related to these taxa that you may want to update.
  - else
    iNat cannot update your content automatically for this change.
= link_to "View details", taxon_change, :class => "readmore"
- if !taxon_change.automatable? || !user.prefers_automatic_taxonomic_changes?
  &nbsp;
  = link_to "Update your content", taxon_change_commit_for_user_path(taxon_change), :class => "readmore"
