- taxon_change ||= update_committed
%table.table{ :style => "border-bottom:1px solid #ddd;" }
  %thead{ :style => "background-color:#fbeed7;" }
    %tr
      %th
        Taxon
      %th
        = taxon_change.verb_phrase.capitalize
  %tbody
    %tr
      %td
        - for taxon in taxon_change.input_taxa
          = render "shared/taxon", :taxon => taxon, :link_url => taxon          
      %td
        - for taxon in taxon_change.output_taxa
          = render "shared/taxon", :taxon => taxon, :link_url => taxon

.ui
  = formatted_user_text taxon_change.description

.timeline-footer
  = link_to "View details", taxon_change, :class => "btn btn-sm btn-primary"
  = link_to "Update your content", taxon_change_commit_for_user_path(taxon_change), :class => "btn btn-sm btn-default"
  About Taxon Changes
  %span.glyphicon.glyphicon-info-sign{"data-toggle" => "popover", "data-content"=>"Taxon changes represent changes to #{CONFIG.site_name}'s taxonomy. Most of the time #{CONFIG.site_name_short} will automatically keep your content up-to-date when these changes happen (unless you've opted-out), but we still want to let you know when and how your data is changing."}

    

