- taxon_change ||= update_committed
.timeline-body
  %table.table{ :style => "border-bottom:1px solid #ddd;" }
    %thead{ :style => "background-color:#fbeed7;" }
      %tr
        %th
          =t :taxon
        %th
          =t taxon_change.verb_phrase.gsub(" ","_").downcase.to_sym, default: "replaced with"
    %tbody
      %tr
        %td
          - for taxon in taxon_change.input_taxa
            = render "shared/taxon", :taxon => taxon, :link_url => taxon          
        %td
          - for taxon in taxon_change.output_taxa
            = render "shared/taxon", :taxon => taxon, :link_url => taxon
  %p
    = formatted_user_text taxon_change.description
.timeline-footer
  = link_to t(:view_details), taxon_change, :class => "btn btn-sm btn-primary"
  = link_to t(:update_your_content), taxon_change_commit_for_user_path(taxon_change), :class => "btn btn-sm btn-default"    

