<% content_for(:title) do %>
  <%- @title = capture do %>
    <%=t :editing %>
    <%=t @taxon_change.class.name.underscore %>
    (<%= @taxon_change.committed? ? t(:committed_on, date: l( @taxon_change.committed_on ) ) : t(:draft) %>)
  <% end -%>
  <%= strip_tags @title %>
<% end %>
<%= render :partial => 'form_head' %>

<div id="pageheader" class="last column span-24">
  <span class="breadcrumbs">
    <%= link_to t(:back_to_x, :noun => t(@taxon_change.class.name.underscore)), 
                taxon_change_path(@taxon_change), :class => 'back crumb' %>
  </span>
  <h2><%= @title %></h2>

</div>

<%= render :partial => "form" %>
