<% content_for(:title) do %>
  <% @title = capture do %>
    Taxonomic changes
    <% if @taxon -%>
      for
      <i><%= link_to @taxon.name, taxon_path(@taxon) %></i>
      (<%= @taxon.is_active ? 'active' : 'inactive' %>)"
    <% end -%>
  <% end -%>
  <%= strip_tags(@title) %>
<% end %>

<%- content_for(:extracss) do %>
<%= stylesheet_link_tag 'taxon_changes' %>
<% end %>

<h2><%= @title %></h2>

<% if @taxon_changes.empty? %>
  <p class="description">No taxonomic changes matching those criteria</p>
<% end %>
<% for taxon_change in @taxon_changes %>
  <%= render :partial => 'show_change_taxon', :object => taxon_change %>
<% end %>

<%= will_paginate @taxon_changes %>
