<% content_for(:title) do %><%= @title=t(:new_taxonomic_change) %><% end %>

<%= render :partial => 'form_head' %>

<h2><%= @title %></h2>
<p class="description"><%= t :use_this_form_to_create_a_new %></p>

<%= render :partial => 'form' %>
