<% content_for(:title) do %>
  Taxonomic <%= @taxon_change.class.name.split('Taxon')[1] %>
  (<%= @taxon_change.committed_on.nil? ? "Draft" : "Committed on #{@taxon_change.committed_on}" %>)
<% end %>

<%- content_for(:extracss) do %>
<%= stylesheet_link_tag 'taxon_changes' %>
<style type="text/css" media="screen">
  .change_taxon {margin-bottom: 10px; width: 440px;}
</style>
<% end %>

<%= render :partial => 'show_change_taxon', :object => @taxon_change %>

<div id="mapwrapper" class="stacked">
  <iframe width="100%" height="600" class="stacked" src="<%= taxa_map_url(:taxa => [@taxon_change.taxon, @taxon_change.taxa].flatten.compact.map{|t| t.id})%>">
  </iframe>
</div>

<script type="text/javascript" charset="utf-8">
  $('#mapwrapper').shades('open', {
    css: {'background-color': 'white'}, 
    content: '<center style="margin: 100px;"><span class="loading bigloading status inlineblock">Loading map...</span></center>'
  })
  $('iframe').load(function() {
    $('#mapwrapper').shades('close')
  })
</script>

<div id="comments">
  <%= render :partial => "comments/comments", :object => @taxon_change %>
</div>
