<% content_for(:title) do %>
  Taxonomic <%= @taxon_change.class.name.split('Taxon')[1] %>
  (<%= @taxon_change.committed_on.nil? ? "Draft" : "Committed on #{@taxon_change.committed_on}" %>)
<% end %>

<%- content_for(:extracss) do %>
<%= stylesheet_link_tag 'taxon_changes' %>
<style type="text/css" media="screen">
  .change_taxon {margin-bottom: 10px; width: 440px;}
</style>
<% end %>

<% unless @existing.blank? -%>
  <div class="notice box">
    <p class="ui">
      <strong>HEADS UP:</strong>
      there
      <%= @existing.size == 1 ? "is" : "are" %>
      <%= @existing.size %> other taxon 
      change<%= @existing.size == 1 ? "" : "s" %>
      with the same input taxa:
    </p>
    <ul>
      <% for tc in @existing %>
        <li>
          (<%= 
            tc.input_taxa.map{|it| 
              "#{it.name} #{it.id}"
            }.join(', ') 
          %>)
          <strong><%= tc.verb_phrase %></strong>
          (<%= tc.output_taxa.map{|it| "#{it.name} #{it.id}"}.join(', ') %>)
          (<%= tc.committed_on.blank? ? "Draft" : "Committed on #{tc.committed_on}" %>)
          <%= link_to t(:view), tc, :class => "readmore" %>
        </li>
      <% end %>
    </ul>
    <p class="ui">
      You should probably delete this taxon change, or at least come figure
      out some kind of solution with the person / people who made the other
      change(s).
    </p>
  </div>
<% end -%>

<div id="pageheader">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo #{t :back_to_taxon_changes}".html_safe, taxon_changes_path, :class => 'crumb' %></strong>
  </div>
  <%= render :partial => 'show_change_taxon', :object => @taxon_change %>
</div>

<div id="mapwrapper" class="stacked">
  <iframe width="100%" height="600" class="stacked" src="<%= taxa_map_url(:taxa => [@taxon_change.taxon, @taxon_change.taxa].flatten.compact.map{|t| t.id})%>">
  </iframe>
</div>

<script type="text/javascript" charset="utf-8">
  $('#mapwrapper').shades('open', {
    css: {'background-color': 'white'}, 
    content: '<center style="margin: 100px;"><span class="loading bigloading status inlineblock"><%= t :loading_map %></span></center>'
  })
  $('iframe').load(function() {
    $('#mapwrapper').shades('close')
  })
</script>

<div id="comments" class="column span-18">
  <%= render :partial => "comments/comments", :object => @taxon_change %>
</div>
