<% content_for(:title) do %>
  Taxonomic <%= @taxon_change.class.name.split('Taxon')[1] %>
  (<%= @taxon_change.committed_on.nil? ? "Draft" : "Committed on #{@taxon_change.committed_on}" %>)
<% end %>

<%- content_for(:extracss) do %>
<%= stylesheet_link_tag 'taxon_changes' %>
<% end %>

<%= render :partial => 'show_change_taxon', :object => @taxon_change %>

<div id="comments">
  <%= render :partial => "comments/comments", :object => @taxon_change %>
</div>
