- content_for(:title) do
  = @title = t(:editing_this, elem: @source.title)
.container
  .row
    .col-xs-8.col-xs-offset-2
      %h2= @title
      = form_for @source, builder: BootstrapFormBuilder do |f|
        = f.text_field :title
        = f.text_field :in_text
        = f.text_field :url
        = f.text_area :citation
        = f.submit t(:save), class: "btn btn-primary"
        = link_to t(:cancel), @source, class: "btn btn-default"
        = link_to t(:delete), @source, method: :delete, data: { confirm: t(:are_you_sure?) }, class: "btn btn-default pull-right"
