<%- content_for(:title) do -%>
  <%= @title = t(:sources) %>
<%- end -%>

<form method="get" class="inline buttonrow right">
  <input type="text" name="q" value="<%= @q %>" id="search" class="text" placeholder="Search sources">
  <input type="submit" value="Search" class="inline default button">
</form>

<h2><%= @title %></h2>
<p class="description">
  Sources track the origin of external data incorporated into <%= @site.site_name_short %>, usually in the form of a citation.
</p>

<table width="100%">
  <tr>
    <th>id</th>
    <th>title</th>
    <th>details</th>
    <th>actions</th>
  </tr>
  <% for source in @sources %>
    <tr>
      <th><%= source.id %></th>
      <th><%= source.title %></th>
      <td>
        <dl class="stacked">
          <% for c in Source.column_names - %w(id title) %>
            <dt><%= c.humanize %></dt>
            <dd><%= source.send(c) %></dd>
          <% end %>
        </dl>
      </td>
      <td>
        <%= link_to "show", source %>
        <% if source.editable_by?(current_user) %>
          <%= link_to "edit", edit_source_path(source) %>
        <% end -%>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @sources %>
