<%- update ||= nil %>
<% if update && observations.blank? -%>
  <%= link_to t(:view_user_observation, :user=> "#{update.user.login}"), observations_by_login_path(update.user.login), :class => "readmore" %>
<% else %>
  <%- place_guesses = observations.map(&:place_guess).reject(&:blank?).uniq -%>
  <%- login = observations.first.user.login -%>
  <div class="activitybatch clear">
    <% for observation in observations %>
      <% if url = observation_image_url(observation) -%>
        <%= link_to image_tag(url, :title => observation.to_plain_s, :alt => observation.to_plain_s), observation %>
      <% elsif observation.taxon.blank? || observation.taxon.photos.blank? %>
        <% link_to observation, :class => "icon #{observation.iconic_taxon.name if observation.iconic_taxon}" do %>
          <%= taxon_image(observation.taxon, :title => observation.to_plain_s, :alt => observation.to_plain_s) %>
          <div class="small"><%= observation.species_guess %></div>
        <% end %>
      <% else %>
        <%= link_to taxon_image(observation.taxon, :alt => observation.to_plain_s), observation %>
      <% end -%>
    <% end %>
  </div>
  <div class="description">
    <%= link_to t(:view_user_observation, :user=> "#{update.user.login}"), observations_by_login_path(login) %>
    <% unless place_guesses.blank? -%>
      from
      <% place_guesses.each_with_index do |pg, i| %>
        <%= link_to(pg, observations_by_login_path(login, :q => pg, :search_on => "place")) %><%= ',' if i+1 < place_guesses.size %>
      <% end %>
    <% end -%>
  </div>

<% end -%>
