<%- item = object || item -%>
<div id="<%= id_for(item) %>" class="<%= item.class.name.humanize.underscore %> item clear stacked">
  <div class="item_user column">
    <%= link_to(
      image_tag(item.user.icon.url(:thumb), :class => 'usericon'),
      person_path(item.user)) %>
  </div>
  <div class="item_content last column">
    <%- if item.is_a? Identification %>
      <%= render :partial => "identifications/identification", :locals => { :identification => item } %>
    <%- end -%>
    
    <% unless item.body.blank? -%>
      <div class="readable body"><%= formatted_user_text(item.body) %></div>
    <% end -%>
    
    <div class="meta">
      Posted by <%= link_to(truncate(you_or_login(item.user), :length => 20), person_path(item.user)) %>
      <span class="when">
        <span class="date"><%= time_ago_in_words(item.created_at) %></span> ago
      </span>
      <%- if is_me?(item.user) -%>
        <span class="comment_actions">
          (<%= link_to "Edit", item.is_a?(Identification) ? edit_identification_path(item) : edit_comment_path(item) %> |
          <%= link_to "Delete", item, 
                      :confirm => "Are you sure you want to delete this comment?", 
                      :method => :delete, 
                      :id => "delete_comment_#{item.id}_button" %>)
        </span>
      <%- end -%>
    </div>
  </div>
</div>