<div id="mobilenav" class="open">
  <%= link_to_function "&laquo; Nav".html_safe, "showMobileNav()", :id => "show_mobile_nav_link", :class => "topcontrol", :style => "display: none" %>
  <%= link_to_function "&times;".html_safe, "hideMobileNav()", :id => "hide_mobile_nav_link", :class => "topcontrol" %>

  <% if @order == ListedTaxon::ALPHABETICAL_ORDER -%>
    <div id="alphanav" class="gotonav">
      <label class="topcontrol"><%=t :jump_to_letter %></label>
      <div id="alphanav_letters">
        <% "ABCDEFGHIJKLMNOPQRSTUVWXYZ".each_char do |letter| %>
          <a href="#anchor_<%= letter %>" id="link_<%= letter %>" class="letter"><%= letter %></a>
        <% end %>
      </div>
    </div>
  <% else %>
    <div id="taxanav" class="gotonav">
      <select name="taxanav" id="taxanavselect" onchange="window.location = $(this).val()">
        <option value="#"><%=t :taxonomic_order %></option>
        <% for order in @orders %>
          <optgroup label="<%= order.name %>">
            <% for family in @families.select{|f| f.ancestry.index(order.child_ancestry)} %>
              <option value="#<%= dom_id(family) %>">
                <%= family.default_name.name %>
              </option>
            <% end %>
          </optgroup>
        <% end %>
      </select>
    </div>
    <div id="alphanav" class="gotonav">
      <select name="alphanav" id="alphanavselect" onchange="window.location = $(this).val()">
        <option value="#"><%=t :alphabetical_order %></option>
        <% for listed_taxon in @listed_taxa_alphabetical %>
          <option value="#<%= dom_id(listed_taxon.taxon) %>"><%= listed_taxon.taxon.default_name.name %></option>
        <% end %>
      </select>
    </div>
  <% end -%>
</div>
<div id="taxa" class="<%= @order %>">
  <% if @order == ListedTaxon::TAXONOMIC_ORDER -%>
    <% for order in @orders %>
      <h3><%= render :partial => "shared/taxon.html.erb", :object => order %></h3>
      <% for family in @families.select{|f| f.ancestry.index(order.child_ancestry)} %>
        <a name="<%= dom_id(family) %>"></a>
        <h4><%= render :partial => "shared/taxon.html.erb", :object => family %></h4>
        <ul class="listed_taxa">
          <%= render :partial => 'add_from_list_li.html.erb', 
            :collection => @listed_taxa.select {|lt| lt.taxon.ancestry.index(family.child_ancestry) } %>
        </ul>
      <% end %>
    <% end %>

  <% else %>
    <ul class="listed_taxa">
      <%= render :partial => 'add_from_list_li.html.erb', :collection => @listed_taxa %>
    </ul>
  <% end -%>
</div>
