<%- listed_taxon ||= add_from_list_li -%>
        <li id="<%= dom_id(listed_taxon.taxon) %>" class="listed_taxon clear">
          <%- 
            rendered_taxon_name = render(:partial => "shared/taxon.html.erb", :object => listed_taxon.taxon) 
            stripped_taxon_name = strip_tags(rendered_taxon_name).strip
            prevletter ||= nil
            letter = stripped_taxon_name.first.upcase
          -%>
          <% if letter != prevletter -%>
            <a name="anchor_<%= letter %>"></a>
          <% end -%>
          <a name="<%= dom_id(listed_taxon.taxon) %>"></a>
          <%- prevletter = letter -%>
          <label for="<%= dom_id(listed_taxon.taxon, "checkbox") %>" class="photolabel">
            <%= taxon_image listed_taxon.taxon %>
          </label>
          <%= check_box_tag "taxa[]", listed_taxon.taxon_id, false, :id => dom_id(listed_taxon.taxon, "checkbox") %>
          <%= label_tag dom_id(listed_taxon.taxon, "checkbox"), rendered_taxon_name %>
        </li>