%br
%br
- if @observation.annotations.any?
  - opts = { locale: I18n.locale }
  - opts[:taxon] = @observation.taxon if @observation.taxon
  .annotations
    - @observation.annotations.each do |ctr|
      - atr_label_term = ctr.controlled_attribute.term_label(opts)
      - val_label_term = ctr.controlled_value.term_label(opts)
      .annotation
        .attribute
          = link_to atr_label_term.label, observations_path(term_id: ctr.controlled_attribute.id)
          \=>
        .value
          = link_to val_label_term.label, observations_path(term_id: ctr.controlled_attribute.id, term_value_id: ctr.controlled_value.id)
          - if val_label_term.icon.exists?
            = image_tag val_label_term.icon.url, style: "max-width: 30px; max-height: 30px;"
        .actions
          - if logged_in? && (current_user == ctr.user || current_user == @observation.user)
            = link_to t(:delete), ctr, method: :delete, data: { confirm: t(:are_you_sure?) }
          - unless logged_in? && current_user == ctr.user
            Up | Down
- attrs = ControlledTerm.active.attributes
- attrs = attrs.for_taxon(@observation.taxon_id) if @observation.taxon_id
- unless attrs.blank?
  = "Can you fill in any of this information?"
  = form_for Annotation.new do |f|
    - values = [ ]
    - attrs.each do |a|
      - values << [a.label(opts), nil]
      - a.values.each{ |b| values << [raw(("&nbsp;"*4)+b.label(opts)), b.id] }
    = f.hidden_field :resource_type, value: "Observation"
    = f.hidden_field :resource_id, value: @observation.id
    = f.label :controlled_attribute_id
    = f.select :controlled_attribute_id, attrs.map{ |a| [a.label(opts), a.id] }.unshift(["", nil])
    = f.label :controlled_value_id
    = f.select :controlled_value_id, values.unshift(["", nil])
    = f.submit "Assign"
