.column.span-24
  %h4
    = title
    %span.small.meta.ui
      = surround "(",")" do
        = link_to_function t(:all), "$('##{table_id} :checkbox').prop('checked', true)"
        %span.meta
          |
        = link_to_function t(:none), "$('##{table_id} :checkbox').prop('checked', false)"
  %table{ id: table_id }
    - for grp in observation_fields.in_groups_of( 4 )
      %tr
        - for of in grp.compact
          %td
            = f.check_box "field:#{of.normalized_name( escape: true )}", label: "field:#{of.normalized_name}", label_after: true, wrapper: of.description.blank? ? nil : { data: { tip: of.description, position_at: "left bottom" } }
