<% 
  selected_taxa ||= []
  if @place && @place.html.blank?
    @place.html = render(:partial => "places/autocomplete_item.html.erb", :object => @place)
  end
%>
<div id="search_filter" class="row">
  <label class="label" for="q">Search</label>
  <input type="text" name="q" value="<%= @q %>" id="q" class="text" placeholder="Enter search terms"/>
  <select name="search_on" id="search_on">
    option
    <option value="" class="description">search all fields</option>
    <option <% if @search_on == 'names' %>selected="selected"<% end %> value="names">species names</option>
    <option <% if @search_on == 'tags' %>selected="selected"<% end %> value="tags">tags</option>
    <option <% if @search_on == 'description' %>selected="selected"<% end %> value="description">description</option>
    <option <% if @search_on == 'place' %>selected="selected"<% end %> value="place">place name</option>
  </select>
</div>
<div id="attribute_filters" class="row">
  <strong id="attributes_filters_label" class="label">Filter by</strong>
  <fieldset>
    <input type="checkbox" name="has[]" id="with_photos_checkbox" 
           value="photos" <% if @with_photos %>checked="checked"<% end %>/>
    <label for="with_photos_checkbox">w/ photos only</label>
    <input type="checkbox" name="has[]" id="id_please_checkbox" 
           value="id_please" <% if @id_please %>checked="checked"<% end %>/>
    <label for="id_please_checkbox">ID Please</label>
    
    <input type="checkbox" name="quality_grade" value="<%= Observation::RESEARCH_GRADE %>" id="research_grade_checkbox" <% if @quality_grade == Observation::RESEARCH_GRADE %>checked="checked"<% end %>>
    <label for="research_grade_checkbox">Research quality</label>
    
    <input type="checkbox" name="out_of_range" value="true" id="out_of_range_checkbox" <% if @out_of_range %>checked="checked"<% end %>>
    <label for="out_of_range_checkbox">Out of range</label>
    
  </fieldset>
  <fieldset>
    <strong>Identifications</strong>
    <% for state in %w"any most_agree some_agree most_disagree" %>
      <% if @identifications == state %>
        <%= radio_button_tag :identifications, state, :checked => 'checked' %>
      <% else %>
        <%= radio_button_tag :identifications, state %>
      <% end %>
      <%= label :identifications, state %>
    <% end %>
  </fieldset>
</div>
<div id="iconic_taxon_filters" class="row">
  <div id="iconic_taxon_filters_label" class="label">
    <strong>Show only</strong>
  </div>
  <%-
    all_iconic_taxa = Taxon::ICONIC_TAXA
  -%>
  <% for iconic_taxon in all_iconic_taxa -%>
    <div id="iconic_taxon_<%= iconic_taxon.name.downcase %>" class="iconic_taxon_filter">
      <input type="checkbox" name="iconic_taxa[]" 
             value="<%= iconic_taxon.name %>" 
             id="iconic_taxon_<%= iconic_taxon.name.downcase %>_checkbox" <%= 'checked="checked"' if selected_taxa.include?(iconic_taxon) %>/>
      <label for="iconic_taxon_<%= iconic_taxon.name.downcase %>_checkbox" <%= 'class="selected"' if selected_taxa.include?(iconic_taxon) %>>
        <%- if iconic_taxon.name == 'Animalia' -%>
        <span>Other Animals</span>
        <%- else -%>
        <span><%= iconic_taxon.common_name.name rescue iconic_taxon.name %></span><!-- This should really be a common name -->
        <%- end -%>
      </label>
    </div>
  <% end -%>
  <% if selected_taxa.include? nil %>
  <div id="iconic_taxon_unknown" class="iconic_taxon_filter">
    <input type="checkbox" name="iconic_taxa[]" 
           value="unknown" checked="checked"
           id="iconic_taxon_unknown_checkbox" />
    <label for="iconic_taxon_unknown_checkbox" class="selected">
      <span>Unknown</span>
    </label>
  </div>
  <% else %>
  <div id="iconic_taxon_unknown" class="iconic_taxon_filter">
    <input type="checkbox" name="iconic_taxa[]" 
           value="unknown" 
           id="iconic_taxon_unknown_checkbox" />
    <label for="iconic_taxon_unknown_checkbox">
      <span>Unknown</span>
    </label>
  </div>
  <% end %>

  <small>
    Select
    <%= link_to_function "All", 'selectAllIconicTaxa()' %>,
    <%= link_to_function "None", 'deSelectAllIconicTaxa()' %>
  </small>
</div>

<div class="stacked clear row">
  <div id="place_filter" class="left">
    <div id="place_filter_label" class="label">
      <strong>Place</strong>
    </div>
    <div class="left">
      <div class="buttons">
        <%-
          opts = {:id => "obs_filter_place_name", :class => "text", :placeholder => "Start typing a place name"}
          opts["data-json"] = @place.to_json(:methods => [:html]) unless @place.blank?
        -%>
        <%= text_field_tag :place_id, @place.try(:id) || @place_id, opts %>
      </div>
    </div>
  </div>
  <% if @filters_open -%>
    <script type="text/javascript" charset="utf-8">
      $('#filters input[name=place_id]').chooser({
        collectionUrl: 'http://'+window.location.host + '/places/autocomplete.json',
        resourceUrl: 'http://'+window.location.host + '/places/{{id}}.json?partial=autocomplete_item',
        chosen: eval('(' + $('#filters input[name=place_id]').attr('data-json') + ')')
      })
    </script>
  <% end -%>
  
  <div class="left latlon">
    <label>SW Lat.</label>
    <input type="text" class="text" name="swlat" id="swlat" value="<%= @swlat %>"/>
  </div>
  <div class="left latlon">
    <label>SW Lon.</label>
    <input type="text" class="text" name="swlng" id="swlng" value="<%= @swlng %>"/>
  </div>
  <div class="left latlon">
    <label>NE Lat.</label>
    <input type="text" class="text" name="nelat" id="nelat" value="<%= @nelat %>"/>
  </div>
  <div class="left latlon">
    <label>NE Lon.</label>
    <input type="text" class="text" name="nelng" id="nelng" value="<%= @nelng %>"/>
    &nbsp;
    <%= link_to_function "Clear", "$('.latlon input').val('')", :class => "small" %>
  </div>
</div>

<div class="clear row">
  <div id="taxon_filter" class="left">
    <div id="taxon_filter_label" class="label">
      <strong>Taxon</strong>
    </div>
    <div class="left">
      <div class="buttons">
        <%= text_field_tag :taxon_name, @observations_taxon_name || @observations_taxon.try(:name), :id => "obs_filter_taxon_name", :class => "text",
          :placeholder => "Type taxon name and click lookup" %>
        <%-
          alt_attr = if @observations_taxon
            css_class =  [
                'taxon', 
                'sciname', 
                @observations_taxon.rank, 
                Taxon::ICONIC_TAXA_BY_ID[@observations_taxon.iconic_taxon_id].try(:name)
              ].compact.join(' ')
            "<span class='#{css_class}'>#{@observations_taxon.name}</span>"
          end
        -%>
        <%= hidden_field_tag :taxon_id, @observations_taxon.try(:id) || @observations_taxon_id,
          :alt => alt_attr,
          :rel => (@observations_taxon ? taxon_image_url(@observations_taxon) : nil) %>
      </div>
    </div>
  </div>
  <% if @filters_open -%>
    <script type="text/javascript" charset="utf-8">
      $('#filters input[name=taxon_name]').simpleTaxonSelector()
    </script>
  <% end -%>
  
  <div id="observed_on_filters" class="left">
    <div id="observed_on_filters_label" class="label">
      <strong>Observed on</strong>
    </div>
    <div class="left">
      <%= select_tag :year, options_for_select([["Year", nil]] + (1970..Date.today.year).to_a.reverse.map{|n| [n,n]}, :selected => @observed_on_year) %>
      <%= select_tag :month, options_for_select([["Month", nil]] + (1..12).to_a.map{|n| [Date::MONTHNAMES[n],n]}, :selected => @observed_on_month) %>
      <%= select_tag :day, options_for_select([["Day", nil]] + (1..31).to_a.map{|n| [n,n]}, :selected => @observed_on_day) %>
    </div>
  </div>
  
  <div id="order_filters" class="left">
    <div id="order_filters_label" class="label">
      <strong>Order</strong>
    </div>
    <div class="left">
      <%= select_tag :order_by, observations_order_by_options %>
      <%= select_tag :order, options_for_select(%w(asc desc), @order) %>
    </div>
  </div>
</div>

<% unless @ofv_params.blank? -%>
  <div id="ofv_filters" class="clear row">
    <div id="ofv_filters_label" class="label">
      <strong>Fields</strong>
    </div>
    <div class="left">
      <% for k,v in @ofv_params %>
        <span class="ofv">
          <%- field, value = v[:observation_field], v[:value] -%>
          <label><%= field.name %>=<%= value %></label>
          <%= hidden_field_tag "field:#{field.normalized_name}", value %>
          <%= link_to_function "&times;".html_safe, "$(this).parents('.ofv:first').fadeOut(function(){$(this).remove()})" %>
        </span>
      <% end %>
    </div>
  </div>
<% end -%>


<input type="hidden" name="tdate" id="tdate"/>
<input type="hidden" name="filters_open" id="filters_open" value="<%= @filters_open == false ? 'false' : 'true' %>"/>
<input type="hidden" name="view" id="view_input" value="<%= @view %>"/> <!-- Temporary! Inputs not specific to the filtering don't really belong here... -->

<input id="submit_filters_button" type="submit" value="Search" class="default inline button" data-loading-click="Searching..."/>
