<% 
  selected_taxa ||= []
  if @place && @place.html.blank?
    @place.html = render(:partial => "places/autocomplete_item", :object => @place)
  end
  hide_buttons ||= false
  show_user_field ||= false
  show_project_field ||= !@projects.blank?
  show_multiple_taxa_field ||= !@observations_taxon_ids.blank?
  show_extra_date_fields ||= false
%>
<div id="search_filter" class="row">
  <label class="label" for="q">
    <%=t :search %>
    <% helptip_for "q" do %>
      <%=t :observations_text_search_warning %>
    <% end %>
  </label>
  <input type="text" name="q" value="<%= @q %>" id="q" class="text" />
  <select name="search_on" id="search_on">
    <option value="" class="description"><%=t :search_all_fields %></option>
    <option <% if @search_on == 'names' %>selected="selected"<% end %> value="names"><%=t :species_names %></option>
    <option <% if @search_on == 'tags' %>selected="selected"<% end %> value="tags"> <%=t :tags %> </option>
    <option <% if @search_on == 'description' %>selected="selected"<% end %> value="description"> <%=t :description %> </option>
    <option <% if @search_on == 'place' %>selected="selected"<% end %> value="place"><%=t :place_name %></option>
  </select>
</div>
<div id="attribute_filters" class="clear row">
  <strong id="attributes_filters_label" class="label"><%=t :filter_by %></strong>
  <fieldset class="nobr left">
    <nobr>
      <input type="checkbox" name="has[]" id="with_photos_checkbox" 
             value="photos" <% if @with_photos %>checked="checked"<% end %>/>
      <label for="with_photos_checkbox"><%=t :w_photos_only %></label>
      <input type="checkbox" name="has[]" id="with_sounds_checkbox" 
             value="sounds" <% if @with_sounds %>checked="checked"<% end %>/>
      <label for="with_sounds_checkbox"><%=t :w_sounds %></label>
      <input type="checkbox" name="out_of_range" value="true" id="out_of_range_checkbox" <% if @out_of_range %>checked="checked"<% end %>>
      <label for="out_of_range_checkbox"><%= t(:out_of_range, :default => "out of range").downcase %></label>
    </nobr>

    <nobr>
      <strong><%=t :quality_grade %></strong>
      <input type="radio" name="quality_grade" value="any" id="any_grade_checkbox" <% unless Observation::QUALITY_GRADES.include?(@quality_grade) %>checked="checked"<% end %>>
      <label for="any_grade_checkbox"><%= t(:any, :default => "any").downcase %></label>
      <input type="radio" name="quality_grade" value="<%= Observation::RESEARCH_GRADE %>" id="research_grade_checkbox" <% if @quality_grade == Observation::RESEARCH_GRADE %>checked="checked"<% end %>>
      <label for="research_grade_checkbox"><%= t(:research, :default => "research") %></label>
      <input type="radio" name="quality_grade" value="<%= Observation::NEEDS_ID %>" id="needs_id_checkbox" <% if @quality_grade == Observation::NEEDS_ID %>checked="checked"<% end %>>
      <label for="needs_id_checkbox"><%= t(:needs_id, :default => "Needs ID") %></label>
    </nobr>

    <nobr>
      <strong><%=t :reviewed %></strong>
      <input type="radio" name="reviewed" value="" id="any_reviewed_checkbox" <% unless @reviewed %>checked="checked"<% end %>>
      <label for="any_reviewed_checkbox"><%= t(:any, :default => "any").downcase %></label>
      <input type="radio" name="reviewed" value="true" id="reviewed_checkbox" <% if @reviewed.yesish? %>checked="checked"<% end %>>
      <label for="reviewed_checkbox"><%= t(:yes).downcase %></label>
      <input type="radio" name="reviewed" value="false" id="unreviewed_checkbox" <% if !@reviewed.nil? && @reviewed.noish? %>checked="checked"<% end %>>
      <label for="unreviewed_checkbox"><%= t(:no).downcase %></label>
    </nobr>

    <% if is_me?(@selected_user) -%>
      <nobr>
        <strong><%=t :geoprivacy %></strong>
        <%= select_tag :geoprivacy, options_for_select([
          [t(:any, :default => "any").downcase, nil],
          [t(Observation::OPEN, :default => Observation::OPEN).downcase, Observation::OPEN],
          [t(Observation::OBSCURED, :default => Observation::OBSCURED).downcase, Observation::OBSCURED],
          [t(Observation::PRIVATE, :default => Observation::PRIVATE).downcase, Observation::PRIVATE],
          [t('obscured_or_private', :default => "obscured or private"), "obscured_private"]
        ], @geoprivacy) %>
      </nobr>
    <% end -%>
    <br/>

    <nobr>
      <strong><%=t :identifications %></strong>
      <% for state in %w"any most_agree some_agree most_disagree" %>
        <% if @identifications == state || (state == "any" && @identifications.nil?) %>
          <%= radio_button_tag :identifications, state, :checked => 'checked' %>
        <% else %>
          <%= radio_button_tag :identifications, state %>
        <% end %>
        <%= label :identifications, state, t(state, :default => state).downcase %>
      <% end %>
    </nobr>
    
    <nobr>
      <strong><%=t :captive_cultivated %></strong>
      <input type="radio" name="captive" value="" id="any_captive_checkbox" <%
        unless @captive === true || @captive === false %>checked="checked"<% end %>>
      <label for="any_captive_checkbox"><%= t(:any, :default => "any").downcase %></label>
      <input type="radio" name="captive" value="true" id="captive_checkbox" <% if @captive == true %>checked="checked"<% end %>>
      <label for="captive_checkbox"><%= t(:yes, :default => "yes").downcase %></label>
      <input type="radio" name="captive" value="false" id="wild_checkbox" <% if @captive == false %>checked="checked"<% end %>>
      <label for="wild_checkbox"><%= t(:no, :default => "no").downcase %></label>
    </nobr>
  </fieldset>
</div>
<div id="iconic_taxon_filters" class="row">
  <div id="iconic_taxon_filters_label" class="label">
    <strong><%=t :show_only %></strong>
  </div>
  <%-
    all_iconic_taxa = Taxon::ICONIC_TAXA
  -%>
  <% for iconic_taxon in all_iconic_taxa -%>
    <div id="iconic_taxon_<%= iconic_taxon.name.downcase %>" class="iconic_taxon_filter">
      <input type="checkbox" name="iconic_taxa[]" 
             value="<%= iconic_taxon.name %>" 
             id="iconic_taxon_<%= iconic_taxon.name.downcase %>_checkbox" <%= 'checked="checked"' if selected_taxa.include?(iconic_taxon) %>/>
      <label for="iconic_taxon_<%= iconic_taxon.name.downcase %>_checkbox" <%= 'class="selected"' if selected_taxa.include?(iconic_taxon) %>>
        <%- if iconic_taxon.name == 'Animalia' -%>
        <span><%=t :other_animals %></span>
        <%- else -%>
        <span><%= iconic_taxon.common_name.name rescue iconic_taxon.name %></span><!-- This should really be a common name -->
        <%- end -%>
      </label>
    </div>
  <% end -%>
  <% if selected_taxa.include? nil %>
  <div id="iconic_taxon_unknown" class="iconic_taxon_filter">
    <input type="checkbox" name="iconic_taxa[]" 
           value="unknown" checked="checked"
           id="iconic_taxon_unknown_checkbox" />
    <label for="iconic_taxon_unknown_checkbox" class="selected">
      <span><%=t :unknown %></span>
    </label>
  </div>
  <% else %>
  <div id="iconic_taxon_unknown" class="iconic_taxon_filter">
    <input type="checkbox" name="iconic_taxa[]" 
           value="unknown" 
           id="iconic_taxon_unknown_checkbox" />
    <label for="iconic_taxon_unknown_checkbox">
      <span><%=t :unknown %></span>
    </label>
  </div>
  <% end %>

  <small>
    <%=t :select %>
    <%= link_to_function t(:all), 'selectAllIconicTaxa()' %>,
    <%= link_to_function t(:none), 'deSelectAllIconicTaxa()' %>
  </small>
</div>

<div class="stacked clear row">
  <div id="place_filter" class="left">
    <div id="place_filter_label" class="label">
      <strong><%=t :place %></strong>
    </div>
    <div class="left">
      <div class="buttons">
        <%-
          opts = {:id => "obs_filter_place_name", :class => "text", :placeholder => t(:start_typing_place_name)}
          opts["data-json"] = @place.to_json(:methods => [:html]) unless @place.blank?
        -%>
        <%= text_field_tag :place_id, @place.try(:id) || @place_id, opts %>
      </div>
    </div>
  </div>
  <% if @filters_open -%>
    <script type="text/javascript" charset="utf-8">
      $('#filters input[name=place_id]').chooser({
        collectionUrl: '/places/autocomplete.json?with_geom=t',
        resourceUrl: '/places/{{id}}.json?partial=autocomplete_item',
        chosen: eval('(' + $('#filters input[name=place_id]').attr('data-json') + ')')
      })
    </script>
  <% end -%>
  
  <div class="left latlon">
    <label><%= t :sw_lat %></label>
    <input type="text" class="text" name="swlat" id="swlat" value="<%= @swlat %>"/>
  </div>
  <div class="left latlon">
    <label><%= t :sw_lon %></label>
    <input type="text" class="text" name="swlng" id="swlng" value="<%= @swlng %>"/>
  </div>
  <div class="left latlon">
    <label><%= t :ne_lat %></label>
    <input type="text" class="text" name="nelat" id="nelat" value="<%= @nelat %>"/>
  </div>
  <div class="left latlon">
    <label><%= t :ne_lon %></label>
    <input type="text" class="text" name="nelng" id="nelng" value="<%= @nelng %>"/>
    &nbsp;
    <%= link_to_function t(:clear), "$('.latlon input').val('')", :class => "small" %>
  </div>
</div>

<div class="clear row">
  <div id="taxon_filter"class="left">
    <div id="taxon_filter_label" class="label">
      <strong><%=t :taxon %></strong>
    </div>
    <div class="left">
      <div class="buttons">
        <%= search_field_tag :taxon_name, @observations_taxon_name || @observations_taxon.try(:name), :id => "obs_filter_taxon_name", :class => "text",
          :placeholder => t(:start_typing_taxon_name),
          "data-iconic-taxon-id" => @observations_taxon ? @observations_taxon.iconic_taxon_id : nil,
          "data-default-photo-url" => ( @observations_taxon && @observations_taxon.default_photo ) ?
            @observations_taxon.default_photo.best_url(:square) : nil %>
        <%-
          alt_attr = if @observations_taxon
            css_class =  [
                'taxon', 
                'sciname', 
                @observations_taxon.rank, 
                Taxon::ICONIC_TAXA_BY_ID[@observations_taxon.iconic_taxon_id].try(:name)
              ].compact.join(' ')
            "<span class='#{css_class}'>#{@observations_taxon.name}</span>"
          end
        -%>
        <%= hidden_field_tag :taxon_id, @observations_taxon.try(:id) || @observations_taxon_id,
          :alt => alt_attr,
          :rel => (@observations_taxon ? taxon_image_url(@observations_taxon) : nil) %>
      </div>
    </div>
  </div>
  <% if @filters_open -%>
    <script type="text/javascript" charset="utf-8">
      $('#filters input[name=taxon_name]').taxonAutocomplete()
    </script>
  <% end -%>
  
  <div id="observed_on_filters" class="left">
    <div id="observed_on_filters_label" class="label">
      <strong><%=t :observed_on %></strong>
    </div>
    <div class="left">
      <%= select_tag :day, options_for_select([[ t(:day), nil]] + (1..31).to_a.map{|n| [n,n]}, :selected => @observed_on_day) %>
      <%= select_tag :month, options_for_select([[t(:month), nil]] + (1..12).to_a.map{|n| [t("date_format.month.#{Date::MONTHNAMES[n].downcase}"),n]}, :selected => @observed_on_month) %>
      <%= select_tag :year, options_for_select([[t(:year), nil]] + (1970..Date.today.year).to_a.reverse.map{|n| [n,n]}, :selected => @observed_on_year) %>
    </div>
  </div>
  
  <div id="order_filters" class="left">
    <div id="order_filters_label" class="label">
      <strong><%=t :order %></strong>
    </div>
    <div class="left">
      <%= select_tag :order_by, observations_order_by_options %>
      <%= select_tag :order, options_for_select(%w(asc desc).map{|o| t(o)}, @order) %>
    </div>
  </div>
</div>

<% unless @ofv_params.blank? -%>
  <div id="ofv_filters" class="clear row">
    <div id="ofv_filters_label" class="label">
      <strong><%= t(:fields, default: 'Fields').capitalize %></strong>
    </div>
    <div class="left">
      <% for k,v in @ofv_params %>
        <span class="ofv">
          <%- field, value = v[:observation_field], v[:value] -%>
          <label>
            <%= field.name %>=<%= value %>
          </label>
          <%= hidden_field_tag "field:#{field.normalized_name(escape: true)}", value %>
          <%= link_to_function "&times;".html_safe, "$(this).parents('.ofv:first').fadeOut(function(){$(this).remove()})" %>
        </span>
      <% end %>
    </div>
  </div>
<% end -%>

<% if @project -%>
  <div class="clear row">
    <div class="label"><strong><%=t :project %></strong></div>
    <div class="left">
      <nobr>
        <strong><%=t :curator_identification %></strong>
        <% for state in %w"any yes no" %>
          <% if params[:pcid] == state %>
            <%= radio_button_tag :pcid, state, :checked => 'checked' %>
          <% else %>
            <%= radio_button_tag :pcid, state %>
          <% end %>
          <%= label :pcid, state, t(state, :default => state).downcase %>
        <% end %>
      </nobr>
    </div>
  </div>
<% end -%>

<div class="clear row upstacked">
  <div class="left">
    <div class="label">
      <strong><%=t :exact_rank %></strong>
    </div>
    <div class="left">
      <%= select_tag :rank, options_for_select(Taxon::VISIBLE_RANKS.map{|r| [t("ranks.#{r}", :default => r).downcase, r]}, @rank), :include_blank => t(:any) %>
    </div>
  </div>
  <div class="left">
    <div class="label">
      <strong><%=t :highest_rank %></strong>
    </div>
    <div class="left">
      <%= select_tag :hrank, options_for_select(Taxon::VISIBLE_RANKS.map{|r| [t("ranks.#{r}", :default => r).downcase, r]}, @hrank), :include_blank => t(:any) %>
    </div>
  </div>
  <div class="left">
    <div class="label">
      <strong><%=t :lowest_rank %></strong>
    </div>
    <div class="left">
      <%= select_tag :lrank, options_for_select(Taxon::VISIBLE_RANKS.map{|r| [t("ranks.#{r}", :default => r).downcase, r]}, @lrank), :include_blank => t(:any) %>
    </div>
  </div>
</div>

<% if params[:month].is_a?(Array) && !params[:month].blank? -%>
  <div class="clear row upstacked radio">
    <div class="left">
      <div class="label">
        <strong><%=t :months %></strong>
      </div>
      <div class="left">
        <% (1..12).to_a.each do |i| -%>
          <input type="checkbox" name="month[]" value="<%= i %>" id="month_<%= i %>" checked="<%= params[:month] && params[:month].include?(i.to_s) %>">
          <label for="month_<%= i %>"><%= t("date_format.month.#{Date::MONTHNAMES[i].downcase}") %></label>
        <% end -%>
      </div>
    </div>
  </div>
<% end -%>
<% if @photo_license -%>
  <div class="clear row upstacked radio">
    <div class="left">
      <div class="label">
        <strong><%=t :photo_licensing %></strong>
      </div>
      <div class="left">
        <%= select_tag :photo_license, options_for_select(Observation::LICENSES.map{ |l| [l[0],l[0]] }, @photo_license), :include_blank => t(:any) %>
      </div>
    </div>
  </div>
<% end -%>
<% if @verifiable -%>
  <%= render(partial: "yes_no_any_field", locals: { field: "verifiable", value: @verifiable }) %>
<% end -%>
<% if @threatened -%>
  <%= render(partial: "yes_no_any_field", locals: { field: "threatened", value: @threatened }) %>
<% end -%>
<% if @introduced -%>
  <%= render(partial: "yes_no_any_field", locals: { field: "introduced", value: @introduced }) %>
<% end -%>
<% if @popular -%>
  <%= render(partial: "yes_no_any_field", locals: { field: "popular", value: @popular }) %>
<% end -%>

<% if show_user_field -%>
  <div class="clear row upstacked">
    <div class="label"><strong><%=t :user %></strong></div>
    <div class="left">
      <input type="text" name="user_id" id="user_id_input" value="<%= @selected_user.try(:id) %>" class="smalltext text"/>
      <%= link_to_function t(:clear), "$(this).siblings(':input').val(null).change()", :class => "small" %>
      <div class="small"><%= t :username_or_user_id %></div>
    </div>
  </div>
<% end -%>

<% if show_project_field -%>
  <div class="clear row upstacked">
    <div class="label"><strong><%=t :project %></strong></div>
    <div class="left">
      <input type="text" name="projects[]" id="project_id_input" value="<%= @project.try(:id) %>" class="smalltext text"/>
      <%= link_to_function t(:clear), "$(this).siblings(':input').val(null).change()", :class => "small" %>
      <div class="small"><%= t :project_id_or_url_slug %></div>
    </div>
  </div>
<% end -%>

<% if @not_in_project -%>
  <div class="clear row upstacked">
    <div class="label"><strong><%=t :not_in_project %></strong></div>
    <div class="left">
      <input type="text" name="not_in_project" id="not_in_project_input" value="<%= @not_in_project.try(:slug) %>" class="smalltext text"/>
      <%= link_to_function t(:clear), "$(this).siblings(':input').val(null).change()", :class => "small" %>
      <div class="small"><%= t :project_that_does_not_contain_these_observations %></div>
    </div>
  </div>
<% end -%>

<% if show_multiple_taxa_field %>
  <div class="clear row upstacked">
    <div class="label"><strong><%=t :taxon_ids %></strong></div>
    <div class="left">
      <input type="text" name="taxon_ids[]" id="taxon_ids_input" value="<%= [@observations_taxon_ids].flatten.compact.join(',') %>" class="smalltext text"/>
      <%= link_to_function t(:clear), "$(this).siblings(':input').val(null).change()", :class => "small" %>
      <div class="small"><%= t :multiple_taxon_ids_separated_by_commas %></div>
    </div>
  </div>
<% else %>
  <input type="hidden" name="taxon_ids[]" id="taxon_ids_input" value="<%= [@observations_taxon_ids].flatten.compact.join(',') %>"/>
<% end %>

<% if show_extra_date_fields %>
  <div class="clear row upstacked">
    <div class="label"><strong><%=t :date_range %></strong></div>
    <div class="left">
      <input type="text" name="d1" id="d1" value="<%= @d1 %>" class="smalltext text" placeholder="<%=t :start, default: 'start' %>"/>
      <input type="text" name="d2" id="d2" value="<%= @d2 %>" class="smalltext text" placeholder="<%=t :end, default: 'stop' %>"/>
      <%= link_to_function t(:clear), "$(this).siblings(':input').val(null).change()", :class => "small" %>
      <div class="small"><%= t 'views.observations.export.date_range_help' %></div>
    </div>
  </div>
  <div class="clear row upstacked">
    <div class="label"><strong><%=t :created_on %></strong></div>
    <div class="left">
      <input type="text" name="created_on" id="created_on" value="<%= @created_on %>" class="smalltext text"/>
      <%= link_to_function t(:clear), "$(this).siblings(':input').val(null).change()", :class => "small" %>
      <div class="small"><%= t 'views.observations.export.created_on_help' %></div>
    </div>
  </div>
<% else %>
  <input type="hidden" name="d1" id="d1" value="<%= @d1 %>"/>
  <input type="hidden" name="d2" id="d2" value="<%= @d2 %>"/>
  <input type="hidden" name="created_on" id="created_on" value="<%= @created_on %>"/>
<% end %>

<input type="hidden" name="site" value="<%= @site_uri %>">
<input type="hidden" name="tdate" id="tdate"/>
<input type="hidden" name="list_id" id="list_id" value="<%= @list.try(:id) %>"/>
<input type="hidden" name="filters_open" id="filters_open" value="<%= @filters_open == false ? 'false' : 'true' %>"/>
<input type="hidden" name="view" id="view_input" value="<%= @view %>"/>

<% unless hide_buttons -%>
  <div class="inline buttonrow upstacked">
    <input id="submit_filters_button" type="submit" value="<%=t :search %>" class="default inline button" data-loading-click="<%=t :searching %>"/>
  </div>
<% end -%>
