<%- i ||= 0 -%>
<%= fields_for observation do |o| %>
  <div class="column span-24 observation stacked">
    <% unless observation.errors.empty? %>
    <%= error_messages_for('observation', :object => observation) %>
    <% end %>
    <div class="column span-7">
      <div class="field species_guess_field">
        <%= o.label :species_guess, t(:what_did_you_see?) %>
        <%= o.text_field(:species_guess, :class => 'species_guess text') %>
        <%-
          alt = if observation.taxon
            "<span class='taxon sciname #{observation.taxon.rank} #{Taxon::ICONIC_TAXA_BY_ID[observation.taxon.iconic_taxon_id].try(:name)}'>#{observation.taxon.name}</span>".html_safe
          else
            nil
          end
        -%>
        <%= o.hidden_field(:taxon_id, :alt => alt, :rel => (observation.taxon ? taxon_image_url(observation.taxon) : nil)) %>
        <div class="id_please">
          <%= o.check_box(:id_please) %>
          <%= o.label(:id_please, t(:full_id_please?)) %>
        </div>
      </div>
      
      <div class="field">
        <%= link_to_function t(:browse_all_species), "$('#taxonchooser').dialog('open')" %>
      </div>
      
      <div class="field<%= ' error' if observation.errors[:observed_on] && !observation.errors[:observed_on].empty? %>">
        <%= o.label :observed_on_string, t(:when_did_you_see_it?) %>
        <%= o.text_field(:observed_on_string, 
                         :class => 'observed_on_string text') %>
        <%= o.error_message_on(:observed_on) %>
        <%= o.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, {:class => 'time_zone'} %>
        <div class="small description">
          e.g. "<%= Date.today.to_s(:long) %>" or "yesterday"
        </div>
      </div>
      
      <div class="field">
        <%= o.label(:description, t(:description)) %>
        <%= o.text_area(:description, :class => "text") %>
      </div>
      
      <div class="field">
        <%= o.label :tag_list, t(:tags) %>
        <span class="small description">
          <%=t :comma_separated_please %>
        </span>
        <% helptip_for "tags" do %>
          Tags are a way to organize your observations. For example, you might
          tag all your tidepool observations "tidepools" to make them easier
          to find later.
        <% end -%>
        <%= o.text_field :tag_list, :class => "text" %>
      </div>
    </div>
    <div class="column span-9">
      <div class="place_guess_field field">
        <%= o.label(:place_guess, t(:where_were_you?)) %>
        <%= o.text_field(:place_guess, :class => 'place_guess text', :placeholder => "Name of the place you made the observation") %>
      </div>
      <div id="coordinates_<%= i %>" class="latlonfields status stacked">
        <%= o.label(:latitude, 'Lat', :class => "inlineblock") %>
        <%= o.text_field(:latitude, :class => 'latitude text', "data-tip" => "Latitude in decimal degrees, e.g. 38.123") %>
        
        <%= o.label(:longitude, 'Lon', :class => "inlineblock") %>
        <%= o.text_field(:longitude, :class => 'longitude text', "data-tip" => "Longitude in decimal degrees, e.g. -122.123") %>

        <span class="button">
          <%= link_to_function("edit", 
            "$('#coordinates_#{i}').toggleClass('status').toggleClass('open'); " +
            "$(this).hide(); " + 
            "$(this).next().show(); " + 
            "if ($('#observation_positional_accuracy').val()) {$.fn.latLonSelector.editAccuracy()};" +
            "return false;") %>
          <%= link_to_function("hide", "$('#coordinates_#{i}').toggleClass('status').toggleClass('open'); $(this).hide(); $(this).prev().show(); $.fn.latLonSelector.stopEditAccuracy(); return false;", :style => 'display: none') %>
        </span>
        
        <%= o.hidden_field(:map_scale, :class => 'map_scale') %>
        <%= o.hidden_field(:location_is_exact, :class => 'location_is_exact') %>
        
        <%= o.label(:positional_accuracy, 'Acc (m)', :class => "inlineblock") %>
        <%= o.text_field(:positional_accuracy, :class => 'positional_accuracy text inlineblock', "data-tip" => "Accuracy of the coordinates in meters. You can edit this by click the \"edit\" link above or by clicking on the map marker and dragging the handles. Try to make the circle big enough that you're sure you were somewhere inside it.") %>
        <%= o.label(:positional_accuracy, 'Src', :class => "inlineblock", "data-tip" => "Source of coordinates and accuracy measure, set automatically.") %>
        <%= o.text_field(:positioning_method, :class => 'positioning_method text inlineblock', :disabled => true) %>
        <%= o.hidden_field(:positioning_device, :class => 'positioning_device', :disabled => true) %>
      </div>
      <div id="mapcontainer" class="stacked">
        <div id="map"></div>
        <% if observation.latitude.blank? -%>
          <div class="floating dark description">
            <strong>Click the map</strong> to add a location.
          </div>
        <% end -%>
      </div>
      <div id="geoprivacy_<%= i %>" class="geoprivacyfield">
        <label for="observations_<%= i %>_geoprivacy">Change geoprivacy</label>
        <%= o.select :geoprivacy, Observation::GEOPRIVACIES, :include_blank => "open" %>
        <span class="geoprivacy_tip_target description helptip" rel="#geoprivacy_<%= i %>_tip"></span>
        <div id="geoprivacy_<%= i %>_tip" class="geoprivacy_tip" style="display:none">
          <p>Changing the geoprivacy alters how other people see the location of your observation.</p>
          <dl>
            <% for privacy, description in Observation::GEOPRIVACY_DESCRIPTIONS %>
              <dt><%= t( privacy ) || t(:open) %></dt>
              <dd><%= t(description) %></dd>
            <% end %>
          </dl>
        </div>
      </div>
    </div>
    <div class="last column span-8">
      <div class="field">
        <label>
          <%=t :add_photos %>
        </label>
        
        <div id="photos_<%= i %>" class="observation_photos">
          <%-
            # if the photo was invalid, we can't show new local_photos
            photos = if observation.new_record? && !observation.valid?
              observation.photos.reject do |p|
                p.is_a?(LocalPhoto)
              end
            else
              observation.photos
            end
          -%>
          <%= render :partial => "photos/photo_list_form", :locals => { 
            :photos => photos, 
            :index => i,
            :checked => true,
            :synclink_base => observation.new_record? ? new_observation_path : edit_observation_path(observation),
            :photo_identity => @photo_identities.first,
            :local_photos => @photo_identities.blank? || observation.photos.first && observation.photos.first.is_a?(LocalPhoto)
          } %>
        </div>
        
        <% if @photo_identities.blank? %>
        
          <div class="column-separator"><img src="/images/logo-eee-15px.png"></div>
          
          <p class="ui description">
            <%= raw t :we_also_support %>
          </p>
          
          <div class="clear buttons">
            <%= link_to t(:link_your_flickr_account),
              {:controller => 'flickr', :action => 'link'}, :class => "button" %>
            <%= link_to t(:link_your_picasa_account),
              {:controller => 'picasa', :action => 'options'}, :class => "button" %>
            <%= link_to t(:link_your_facebook_account), "/auth/facebook", :class => "button" %>
          </div>

        <% end %>
        
        <div>
          <% if @photo_identities && @photo_identities.map(&:class).include?(FlickrIdentity) -%>
            <%= link_to_function t(:add_taxonomic_tags_to).html_safe,
              "var flickrPhotoParams = $.map($('#photos_#{i} input[type=checkbox]:checked'), " +
                "function(inp) {return 'flickr_photos[]='+$(inp).val()}" +
              ").join('&');" +
              "window.open('#{url_for(:controller => 'taxa', :action => 'flickr_tagger')}?" + 
                "taxon_id='+$('#observations_#{i}_taxon_id').val()+'&'+flickrPhotoParams)" %>
          <% end -%>

          <% unless observation.photos.empty? || observation.new_record? -%>
            <br/>
            <%= link_to t(:re_order_photos).html_safe, edit_observation_photos_path(observation) %>
          <% end -%>
        </div>
      </div>
    </div>


    <% if @project && !@project.project_observation_fields.blank? -%>
      <fieldset id="projectobservationfields" class="stacked">
        <legend>
          Fields for <%= @project.title %>
          <% helptip_for "observation_fields" do %>
            Extra pieces of data the managers of this project are interested in.
          <% end -%>
        </legend>
        <div class="observation_fields">
          <% @project.project_observation_fields.each do |pof| %>
            <%-
              observation_field_value = o.object.observation_field_values.detect{|ofv| ofv.observation_field_id == pof.observation_field_id}
              observation_field_value ||= ObservationFieldValue.new(:observation_field => pof.observation_field, :observation => o.object)
            -%>
            <%= o.fields_for(:observation_field_values, observation_field_value) do |ofv| %>
              <%= render 'observation_field_row', 
                :builder => ofv, 
                :removable => false, 
                :required => pof.required %>
            <% end -%>
          <% end -%>
        </div>
        <% if @project.project_observation_fields.detect{|pof| pof.required?} -%>
          <div class="required">* required</div>
        <% end -%>
      </fieldset>
    <% end -%>

    <fieldset id="morefields">
      <legend>
        More fields
        <% helptip_for "observation_fields" do %>
          <p>
            Observation fields are extra pieces of data associated with an
            observation, like number of individuals observed, habitat
            description, or whatever you want! Projects can also specify fields
            they'd like you to fill out.
          </p>

          <p>
            <strong>Note:</strong> If you'd like to
            create a field, check to see if someone else has already made it to
            avoid duplication.
          </p>
        <% end -%>
      </legend>
      <%= render "observation_field_form_fields", :builder => o %>
    </fieldset>
    
  </div>
<% end %>
