<%- i ||= 0 -%>
<% fields_for observation do |o| %>
  <div class="column span-24 observation stacked">
    <% unless observation.errors.empty? %>
    <%= error_messages_for('observation', :object => observation) %>
    <% end %>
    <div class="column span-7">
      <div class="field species_guess_field">
        <%= o.label :species_guess, "What did you see?" %>
        <%= o.text_field(:species_guess, :class => 'species_guess text') %>
        <%= o.hidden_field(:taxon_id, 
          :alt => (observation.taxon ? 
            content_tag(:span, observation.taxon.name, 
              :class => "taxon sciname #{observation.taxon.rank} #{Taxon::ICONIC_TAXA_BY_ID[observation.taxon.iconic_taxon_id].try(:name)}") : nil),
          :rel => (observation.taxon ? taxon_image_url(observation.taxon) : nil)) %>
        
        <div class="id_please">
          <%= o.check_box(:id_please) %>
          <%= o.label(:id_please, "ID Please!") %>
        </div>
      </div>
      
      <div class="field">
        <%= link_to_function "Browse all species", "$('#taxonchooser').jqmShow();" %>
      </div>
      
      <div class="field<%= ' error' if observation.errors.on(:observed_on) && !observation.errors.on(:observed_on).empty? %>">
        <%= o.label :observed_on_string, "When did you see it?" %>
        <%= o.text_field(:observed_on_string, 
                         :class => 'observed_on_string text') %>
        <%= o.error_message_on(:observed_on) %>
        <%= o.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, {:class => 'time_zone'} %>
        <div class="small description">
          e.g. "<%= Date.today.to_s(:long) %>" or "yesterday"
        </div>
      </div>
      
      <div class="field">
        <%= o.label(:description, 'Description') %>
        <%= o.text_area(:description, :class => "text") %>
      </div>
      
      <div class="field">
        <%= o.label :tag_list, "Tags" %>
        <span class="small description">
          Comma-separated, please
        </span>
        <% helptip_for "tags" do %>
          Tags are a way to organize your observations. For example, you might
          tag all your tidepool observations "tidepools" to make them easier
          to find later.
        <% end -%>
        <%= o.text_field :tag_list, :class => "text" %>
      </div>
    </div>
    <div class="column span-9">
      <div class="place_guess_field field">
        <%= o.label(:place_guess, 'Where were you?') %>
        <%= o.text_field(:place_guess, :class => 'place_guess text', :placeholder => "Name of the place you made the observation") %>
      </div>
      <div id="coordinates_<%= i %>" class="latlonfields status stacked">
        <%= o.label(:latitude, 'Lat', :class => "inlineblock") %>
        <%= o.text_field(:latitude, :class => 'latitude text') %>
        
        <%= o.label(:longitude, 'Lon', :class => "inlineblock") %>
        <%= o.text_field(:longitude, :class => 'longitude text') %>

        <span class="button">
          <%= link_to_function("edit", 
            "$('#coordinates_#{i}').toggleClass('status').toggleClass('open'); " +
            "$(this).hide(); " + 
            "$(this).next().show(); " + 
            "if ($('#observation_positional_accuracy').val()) {$.fn.latLonSelector.editAccuracy()};" +
            "return false;") %>
          <%= link_to_function("hide", "$('#coordinates_#{i}').toggleClass('status').toggleClass('open'); $(this).hide(); $(this).prev().show(); $.fn.latLonSelector.stopEditAccuracy(); return false;", :style => 'display: none') %>
        </span>
        
        <%= o.hidden_field(:map_scale, :class => 'map_scale') %>
        <%= o.hidden_field(:location_is_exact, :class => 'location_is_exact') %>
        
        <%= o.label(:positional_accuracy, 'Acc (m)', :class => "inlineblock", "data-tip" => "Accuracy of the coordinates in meters. You can edit this by click the \"edit\" link above or by clicking on the map marker and dragging the handles. Try to make the circle big enough that you're sure you were somewhere inside it.") %>
        <%= o.text_field(:positional_accuracy, :class => 'positional_accuracy text inlineblock') %>
        <%= o.label(:positional_accuracy, 'Src', :class => "inlineblock", "data-tip" => "Source of coordinates and accuracy measure, set automatically.") %>
        <%= o.text_field(:positioning_method, :class => 'positioning_method text inlineblock', :disabled => true) %>
        <%= o.hidden_field(:positioning_device, :class => 'positioning_device', :disabled => true) %>
      </div>
      <div id="mapcontainer" class="stacked">
        <div id="map"></div>
        <% if observation.latitude.blank? -%>
          <div class="floating dark description">
            <strong>Click the map</strong> to add a location.
          </div>
        <% end -%>
      </div>
      <div id="geoprivacy_<%= i %>" class="geoprivacyfield">
        <label for="observations_<%= i %>_geoprivacy">Change geoprivacy</label>
        <%= o.select :geoprivacy, Observation::GEOPRIVACIES, :include_blank => "open" %>
        <span class="geoprivacy_tip_target description helptip" rel="#geoprivacy_<%= i %>_tip"></span>
        <div id="geoprivacy_<%= i %>_tip" class="geoprivacy_tip" style="display:none">
          <p>Changing the geoprivacy alters how other people see the location of your observation.</p>
          <dl>
            <% for privacy, description in Observation::GEOPRIVACY_DESCRIPTIONS %>
              <dt><%= privacy || "open" %></dt>
              <dd><%= description %></dd>
            <% end %>
          </dl>
        </div>
      </div>
    </div>
    <div class="last column span-8">
      <div class="field">
        <label>
          Add photos
        </label>
        
        <div id="photos_<%= i %>" class="observation_photos">
          <%-
            # if the photo was invalid, we can't show new local_photos
            photos = if observation.new_record? && !observation.valid?
              observation.photos.reject do |p|
                p.is_a?(LocalPhoto)
              end
            else
              observation.photos
            end
          -%>
          <%= render :partial => "photos/photo_list_form", :locals => { 
            :photos => photos, 
            :index => i,
            :checked => true,
            :synclink_base => observation.new_record? ? new_observation_path : edit_observation_path(observation),
            :photo_identity => @photo_identities.first,
            :local_photos => @photo_identities.blank? || observation.photos.first && observation.photos.first.is_a?(LocalPhoto)
          } %>
        </div>
        
        <% if @photo_identities.blank? %>
        
          <div class="column-separator"><img src="/images/logo-eee-15px.png"></div>
          
          <p class="ui description">
            We also support <a href="http://flickr.com">Flickr</a>,
            <a href="http://picasaweb.google.com">Picasa</a>, and
            <a href="http://facebook.com">Facebook</a>
            for image hosting.
          </p>
          
          <div class="clear buttons">
            <%= link_to "Link your Flickr account",
              {:controller => 'flickr', :action => 'link'}, :class => "button" %>
            <%= link_to "Link your Picasa account",
              {:controller => 'picasa', :action => 'options'}, :class => "button" %>
            <%= link_to "Link your Facebook account", "/auth/facebook", :class => "button" %>
          </div>

        <% end %>
        
        <div>
          <% if @photo_identities && @photo_identities.map(&:class).include?(FlickrIdentity) -%>
            <%= link_to_function "Add taxonomic tags to selected Flickr photos &raquo;",
              "var flickrPhotoParams = $.map($('#photos_#{i} input[type=checkbox]:checked'), " +
                "function(inp) {return 'flickr_photos[]='+$(inp).val()}" +
              ").join('&');" +
              "window.open('#{url_for(:controller => 'taxa', :action => 'flickr_tagger')}?" + 
                "taxon_id='+$('#observations_#{i}_taxon_id').val()+'&'+flickrPhotoParams)" %>
          <% end -%>

          <% unless observation.photos.empty? || observation.new_record? -%>
            <br/>
            <%= link_to "Re-order photos &raquo;", edit_observation_photos_path(observation) %>
          <% end -%>
        </div>
      </div>
    </div>
    
    <% if is_admin? -%>
      <div id="morefields" class="admin column span-24">
        <h3>More fields</h3>
        <div class="observation_fields">
          <% o.fields_for :observation_field_values, :builder => DefaultFormBuilder do |ofv| %>
            <div id="<%= ofv.object.observation_field ? dom_id(ofv.object.observation_field) : nil %>"
                class="observation_field stacked">
              <%= ofv.hidden_field :observation_field_id, :class => "observation_field_id" %>
              <%= ofv.text_field :value, :label => h(ofv.object.observation_field.try(:name).try(:capitalize)), 
                :description => h(ofv.object.observation_field.try(:description)),
                "data-json" => ofv.object.observation_field.to_json %>
              <%= ofv.hidden_field "_destroy" %>
              <%= link_to_function "Remove", "$(this).prev().val(1); $(this).parents('.observation_field').slideUp().attr('id', '')" %>
            </div>
          <% end -%>
        </div>
        <div>
          <%- new_ofv_fields = capture do %>
            <% o.fields_for :observation_field_values, o.object.observation_field_values.build, :builder => DefaultFormBuilder do |ofv| %>
              <div class="observation_field stacked">
                <%= ofv.hidden_field :observation_field_id, :class => "observation_field_id" %>
                <%= ofv.text_field :value, :description => "" %>
                <%= ofv.hidden_field "_destroy" %>
                <%= link_to_function "Remove", "$(this).prev().val(1); $(this).parents('.observation_field').slideUp().attr('id', '')" %>
              </div>
            <% end -%>
          <% end -%>
          <div class="inline buttonrow">
            <label>Add a field</label>
            <%= content_tag :input, "",
              :name => "observation_field",
              :class => "observation_field_chooser",
              :type => :text,
              :placeholder => "Start typing field name...",
              "data-chooser-default-sources" => @observation_fields.to_json %>
            <%= link_to_function "Add a field", "newObservationField('#{escape_javascript(new_ofv_fields)}')", :class => "button addfieldbutton" %>
            <%= link_to "Create a new field", new_observation_field_path, :id => "createfieldbutton", :class => "button" %>
          </div>
        </div>
      </div>
    <% end -%>
    
  </div>
<% end %>
