      <% fields_for("observations[]", observation, :index => i) do |o| %>
        <div class="column span-24 observation">
          <% unless observation.errors.empty? %>
          <%= error_messages_for('observation', :object => observation) %>
          <% end %>
          <div class="column span-7">
            <div class="field">
              <%= o.label :species_guess, "What did you see?" %>
              <%= o.text_field(:species_guess, :class => 'species_guess') %>
              <%= o.hidden_field(:taxon_id) %>
              
              <div class="id_please">
                <%= o.check_box(:id_please) %>
                <%= o.label(:id_please, "ID Please!") %>
              </div>
            </div>
            
            <div class="field<%= ' error' if observation.errors.on(:observed_on) && !observation.errors.on(:observed_on).empty? %>">
              <%= o.label :observed_on_string, "When did you see it?" %>
              <span class="small description">
                e.g. "<%= Date.today.to_s(:long) %>" or "yesterday"
              </span>
              <%= o.text_field(:observed_on_string, 
                               :class => 'observed_on_string') %>
              <%= o.error_message_on(:observed_on) %>
              <%# A bug in select prevents us from relying on the fields_for index until the bug fix is pushed in 2.2.  See http://rails.lighthouseapp.com/projects/8994/tickets/518 and http://rails.lighthouseapp.com/projects/8994/tickets/518 %>
              <%= time_zone_select("observations[#{i}]", :time_zone, 
                                    TimeZone.us_zones, 
                                    {:include_blank => true, :object => observation}, 
                                    {:class => 'time_zone'}) %>
            </div>
            
            <div class="field">
              <%= o.label(:description, 'Description') %>
              <%= o.text_area(:description) %>
            </div>
            
            <div class="field">
              <%= o.label :tag_list, "Tags" %>
              <span class="small description">
                Comma-separated, please
              </span>
              <%= o.text_field :tag_list %>
            </div>
          </div>
          <div class="column span-9">
            <div class="field">
              <%= o.label(:place_guess, 'Where were you?') %>
              <%= o.text_field(:place_guess, :class => 'place_guess') %>
            </div>
            <div class="description">Click on the map to place your observation</div>
            <div id="mapcontainer"></div>
            <div id="coordinates_<%= i %>" class="latlonfields status">
              <%= o.label(:latitude, 'Lat') %>
              <%= o.text_field(:latitude, :class => 'latitude') %>
              
              <%= o.label(:longitude, 'Lon') %>
              <%= o.text_field(:longitude, :class => 'longitude') %>

              <span class="button">
                <%= link_to_function("edit", "$('#coordinates_#{i}').toggleClass('status'); $(this).hide(); $(this).next().show(); return false;") %>
                <%= link_to_function("hide", "$('#coordinates_#{i}').toggleClass('status'); $(this).hide(); $(this).prev().show(); return false;", :style => 'display: none') %>
              </span>
              <%= o.hidden_field(:map_scale, :class => 'map_scale') %>
              <%= o.hidden_field(:location_is_exact, :class => 'location_is_exact') %>
            </div>
          </div>
          <div class="last column span-8">
            <div class="field">
              <label>
                Did you post any photos on Flickr?
              </label>
              <% if logged_in? && current_user.flickr_identity %>
                <div id="photos_<%= i %>" class="observation_photos">
                  <% for photo in observation.flickr_photos %>
                    <div class="flickr_photo">
                      <%= check_box_tag("flickr_photos[#{i}][]", 
                          photo.flickr_native_photo_id, 
                          true,
                          :id => "flickr_photo_#{i}_#{photo.flickr_native_photo_id}", 
                          :class => 'checkbox') %>
                      <label for="flickr_photo_<%= i %>_<%= photo.flickr_native_photo_id %>">
                        <%= image_tag(photo.square_url) %>
                      </label>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <span>We currently support Flickr for image hosting.</span>
                <%= link_to "You can activate your Flickr account with " + 
                            "iNaturalist to add photos by clicking on this link.",
                            :controller => 'flickr',
                            :action => 'link' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>