      <% fields_for("observations[]", observation, :index => i) do |o| %>
        <div class="column span-24 observation">
          <% unless observation.errors.empty? %>
          <%= error_messages_for('observation', :object => observation) %>
          <% end %>
          <div class="column span-7">
            <div class="field species_guess_field">
              <%= o.label :species_guess, "What did you see?" %>
              <%= o.text_field(:species_guess, :class => 'species_guess') %>
              <%= o.hidden_field(:taxon_id, :rel => (observation.taxon ? taxon_image_url(observation.taxon) : nil)) %>
              
              <div class="id_please">
                <%= o.check_box(:id_please) %>
                <%= o.label(:id_please, "ID Please!") %>
              </div>
            </div>
            
            <div class="field">
              <%= link_to_function "Browse all species", "$('#taxonchooser').jqmShow();" %>
            </div>
            
            <div class="field<%= ' error' if observation.errors.on(:observed_on) && !observation.errors.on(:observed_on).empty? %>">
              <%= o.label :observed_on_string, "When did you see it?" %>
              <%= o.text_field(:observed_on_string, 
                               :class => 'observed_on_string') %>
              <%= o.error_message_on(:observed_on) %>
              <%= o.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, {:class => 'time_zone'} %>
              <div class="small description">
                e.g. "<%= Date.today.to_s(:long) %>" or "yesterday"
              </div>
            </div>
            
            <div class="field">
              <%= o.label(:description, 'Description') %>
              <%= o.text_area(:description) %>
            </div>
            
            <div class="field">
              <%= o.label :tag_list, "Tags" %>
              <span class="small description">
                Comma-separated, please
              </span>
              <%= o.text_field :tag_list %>
            </div>
          </div>
          <div class="column span-9">
            <div class="field">
              <%= o.label(:place_guess, 'Where were you?') %>
              <%= o.text_field(:place_guess, :class => 'place_guess') %>
            </div>
            <div class="description">Click on the map to place your observation</div>
            <div id="mapcontainer"></div>
            <div id="coordinates_<%= i %>" class="latlonfields status">
              <%= o.label(:latitude, 'Lat') %>
              <%= o.text_field(:latitude, :class => 'latitude') %>
              
              <%= o.label(:longitude, 'Lon') %>
              <%= o.text_field(:longitude, :class => 'longitude') %>

              <span class="button">
                <%= link_to_function("edit", "$('#coordinates_#{i}').toggleClass('status'); $(this).hide(); $(this).next().show(); return false;") %>
                <%= link_to_function("hide", "$('#coordinates_#{i}').toggleClass('status'); $(this).hide(); $(this).prev().show(); return false;", :style => 'display: none') %>
              </span>
              <%= o.hidden_field(:map_scale, :class => 'map_scale') %>
              <%= o.hidden_field(:location_is_exact, :class => 'location_is_exact') %>
            </div>
          </div>
          <div class="last column span-8">
            <div class="field">
              <label>
                Did you post any photos on Flickr?
              </label>
              <% if logged_in? && current_user.flickr_identity %>
                <div id="photos_<%= i %>" class="observation_photos">
                  <%= render :partial => "flickr/photo_list_form", :locals => { 
                    :photos => observation.photos, 
                    :index => i,
                    :checked => true,
                    :synclink_base => observation.new_record? ? new_observation_path : edit_observation_path(observation) } %>
                </div>
              <% else %>
                <span>We currently support Flickr for image hosting.</span>
                <%= link_to "You can activate your Flickr account with " + 
                            "iNaturalist to add photos by clicking on this link.",
                            :controller => 'flickr',
                            :action => 'link' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
