<%-
  observations ||= @observations
  @iconic_taxa ||= []
  @view ||= params[:view] || 'map'
  observations_html ||= nil
-%>
<% content_for(:extrajs) do %>
  <%= google_maps_js %>
  <%= javascript_include_tag 'inaturalist/map3', 
                             'jquery/plugins/jquery.url.packed.js',
                             'jquery/plugins/jqModal',
                             'modal_image' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      // Setup the Map
      var map = iNaturalist.Map.createMap({
        observationsTileServer: '<%= OBSERVATIONS_TILE_SERVER %>',
        overviewMapControl: true
      });
      window.map = map;
      
      // Add the observations
      var observations = <%= observations.to_json(:viewer => current_user, :include => { :user => { :only => :login }, :taxon => {}, :iconic_taxon => {} }).html_safe %>;
      window.observations = observations;
      $.each(observations, function() {
        // Add the obs
        var obs = map.addObservation(this);
        
        // Bind the clicks on the obs icon to popup the infowindow
        if (obs.marker) {
          $('#observation-'+this.id).click(function() {
            if ($(this).parents('.observations').hasClass('mini')) {
              map.openInfoWindow.apply(obs.marker);
            };
          });
        };
      });
      
      // Zoom the map to contain the observation markers or the selected 
      // bounding box. If it's hidden, GMaps will have trouble calculating a 
      // zoom, so just center correctly
      // and zoom to 2
      if ($('#map:visible').length > 0) {
        <%- if !@swlat.blank? && !@swlng.blank? && !@nelat.blank? && !@nelng.blank? -%>
          var bounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(<%= @swlat %>, <%= @swlng %>),
            new google.maps.LatLng(<%= @nelat %>, <%= @nelng %>)
          );
          map.fitBounds(bounds)
        <%- else -%>
          map.zoomToObservations();
        <%- end -%>
      } else {
        map.setZoom(2);
      }
      
      // Bind the divider toggle
      $('#mapdivider').click(function(){
        $(this).toggleClass('closed');
        $('#mapobservations').toggle();
        if ($(this).hasClass('closed')) {
          $('#map, .map').css({
            width: '940px'
          });
        } else {
          $('#map, .map').css({
            width: '640px'
          });
        };
        google.maps.event.trigger(map, 'resize')
      });
    });
  </script>
<% end %>
<% content_for(:extracss) do %>
  <style type="text/css" media="screen">
    .observations.map{float:left;width:640px;}
    #map{width:640px;height:500px;}
    #mapcontrols{width:640px;float:left;clear:left;margin-top:0.2em;}
    #mapdivider{float:left;width:10px;height:500px;background:50% 50% url(/images/toggle_arrow_right.png) no-repeat;}
    #mapdivider.closed{background:50% 50% url(/images/toggle_arrow_left.png) no-repeat;}
    #mapdivider:hover{background-color:#FFC;cursor:pointer;}
    #mapobservations{position:relative;}
    #mapobservations.mini{float:left;width:300px;height:520px;overflow:auto;}
  </style>
<% end %>
<div class="column span-24">
  <div class="observations map"<% unless @view && @view == 'map' %> style="display: none"<% end %>>
    <div id="map"></div>
    <div id="mapcontrols"<% unless @view && @view == 'map' %> style="display: none"<% end %>>
      <%= link_to_function t(:redo_search_in_map_area), "redoSearchInMapArea()", :id => 'redo_search_in_map_area_button' %>
      <span id="redo_search_in_map_area_loading" class="loading status" style="display: none">Loading...</span>
      <% if logged_in? && params[:test] == "true" -%>
        |
        <%= link_to_function "View species guide for this area", 
          "linkWithBoundingBox(#{url_for(:controller => "places", :action => "guide").inspect})" %>
      <% end -%>
    </div>
  </div>

  <div id="mapdivider"<% unless @view && @view == 'map' %> style="display: none"<% end %>>
    &nbsp;
  </div>

  <div id="mapobservations" class="observations <%= (@view && @view == 'map') ? 'mini' : 'table' %>">
    <% if @view && @view == 'map' %>
      <%= render :partial => 'observations/observations_table_header', :locals => {:display => 'none'} %>
    <% else %>
      <%= render :partial => 'observations/observations_table_header' %>
    <% end %>
    <%= observations_html ? observations_html : render(:partial => 'observations/cached_component', :collection => observations) %>
    <% if @observations.empty? %>
      <p id="noresults" class="readable description">
        <%= t :no_matching_observations %>
      </p>
    <% end %>
  </div>
</div>
