- observations ||= @observations
- @iconic_taxa ||= []
- @view ||= params[:view] || 'map'
- observations_html ||= nil
- force_coordinate_visibility ||= false
= google_maps_js
= javascript_include_tag 'map_bundle', 'wax.g'
:javascript
  $(document).ready(function() {
    $("#map").taxonMap( );
    window.map = $("#map").data("taxonMap");
    // Bind the divider toggle
    $('#mapdivider').click(function(){
      $(this).toggleClass('closed');
      $('#mapobservations').toggle();
      if ($(this).hasClass('closed')) {
        $('#map, .map').css({
          width: '940px'
        });
      } else {
        $('#map, .map').css({
          width: '640px'
        });
      };
      google.maps.event.trigger(map, 'resize')
    });
  });
%style{ type: "text/css", media: "screen" }
  \.observations.map{float:left;width:640px;}
  \#map{width:640px;height:500px;}
  \#mapcontrols{width:640px;float:left;clear:left;margin-top:0.2em;}
  = "#mapdivider{float:left;width:10px;height:500px;background:50% 50% url(#{ image_path('toggle_arrow_right.png') }) no-repeat;}"
  = "#mapdivider.closed{background:50% 50% url(#{ image_path('toggle_arrow_left.png') }) no-repeat;}"
  \#mapdivider:hover{background-color:#FFC;cursor:pointer;}
  \#mapobservations{position:relative;}
  \#mapobservations.mini{float:left;width:300px;height:520px;overflow:auto;}
.column.span-24
  .observations.map{ style: (@view && @view == "map") ? nil : "display: none" }
    - map_options = { observations: observations,
      min_x: @swlng, min_y: @swlat, max_x: @nelng, max_y: @nelat,
      map_style: "summary" }
    - if @display_map_tiles
      - if @enable_show_all_layer
        - map_options.merge!(enable_show_all_layer: true)
      - elsif @map_params
        - map_options.merge!(@map_params)
    #map{ setup_map_tag_attrs(map_options) }
    #mapcontrols{ style: (@view && @view == "map") ? nil : "display: none" }
      = link_to_function t(:redo_search_in_map_area), "redoSearchInMapArea()", :id => 'redo_search_in_map_area_button'
      %span#redo_search_in_map_area_loading.loading.status{ style: "display: none" }
        Loading...
      - if logged_in? && params[:test] == "true"
        \|
        = link_to_function "View species guide for this area",
          "linkWithBoundingBox(#{url_for(:controller => "places", :action => "guide").inspect})"
  #mapdivider{ style: (@view && @view == "map") ? nil : "display: none" }
    &nbsp;
  #mapobservations.observations{ class: (@view && @view == 'map') ? 'mini' : 'table' }
    - if @view && @view == 'map'
      = render :partial => 'observations/observations_table_header', :locals => {:display => 'none'}
    - else
      = render :partial => 'observations/observations_table_header'
    = observations_html ? observations_html : render(:partial => 'observations/cached_component', :collection => observations)
    - if @observations.empty?
      %p#noresults.readable.description
        = t(:no_matching_observations)
