<%-
  observations ||= @observations
  @iconic_taxa ||= []
  @view = params[:view] ||= 'map'
-%>
<% content_for(:extrajs) do %>
  <!-- Note: The parent view should include the GMaps libs! -->
  <%= javascript_include_tag 'inaturalist/map2', 
                             'jquery/plugins/jquery.url.packed.js',
                             'jquery/plugins/jqModal',
                             'modal_image',
                             'jquery/plugins/inat/taxon_selectors' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      // Setup the Map
      var map = iNaturalist.Map.createMap({observationsTileServer: '<%= OBSERVATIONS_TILE_SERVER %>'});
      window.map = map;
      
      // Add some fancy-pants controls
      map.addControl(new GOverviewMapControl());
      map.enableGoogleBar();
      
      // Add the observations
      var observations = <%= observations.to_json(:include => { :user => { :only => :login }, :taxon => {}, :iconic_taxon => {} }) %>;
      window.observations = observations;
      $.each(observations, function() {
        // Add the obs
        var obs = map.addObservation(this);
        
        // Bind the clicks on the obs icon to popup the infowindow
        if (obs.marker) {
          $('#observation-'+this.id).click(function() {
            if ($(this).parents('.observations').hasClass('mini')) {
              map.openInfoWindow.apply(obs.marker);
            };
          });
        };
      });
      
      // Zoom the map to contain the observation markers or the selected 
      // bounding box. If it's hidden, GMaps will have trouble calculating a 
      // zoom, so just center correctly
      // and zoom to 2
      if ($('#map:visible').length > 0) {
        <%- if !@swlat.blank? && !@swlng.blank? && !@nelat.blank? && !@nelng.blank? -%>
          var bounds = new GLatLngBounds(
            new GLatLng(<%= @swlat %>, <%= @swlng %>),
            new GLatLng(<%= @nelat %>, <%= @nelng %>)
          );
          map.setZoom(map.getBoundsZoomLevel(bounds));
          map.setCenter(bounds.getCenter());
        <%- else -%>
          map.zoomToObservations();
        <%- end -%>
      } else {
        map.setZoom(2);
      }
      
      // Bind the divider toggle
      $('#mapdivider').click(function(){
        $(this).toggleClass('closed');
        $('#mapobservations').toggle();
        if ($(this).hasClass('closed')) {
          $('#map, .map').css({
            width: '940px'
          });
        } else {
          $('#map, .map').css({
            width: '640px'
          });
        };
        map.checkResize();
      });
    });
  </script>
<% end %>
<% content_for(:extracss) do %>
  <style type="text/css" media="screen">
    .observations.map {
      float: left;
      width: 640px;
    }
    
    #map {
      width: 640px;
      height: 500px;
    }
    
    #mapcontrols {
      width: 640px;
      float: left;
      clear: left;
      margin-top: 0.2em;
    }
    
    #mapdivider {
      float: left;
      width: 10px;
      height: 500px;
      background: 50% 50% url(/images/toggle_arrow_right.png) no-repeat;
    }
    
    #mapdivider.closed {
      background: 50% 50% url(/images/toggle_arrow_left.png) no-repeat;
    }
    
    #mapdivider:hover {
      background-color: #FFC;
      cursor: pointer;
    }
    
    #mapobservations {
      position: relative;
    }
    
    #mapobservations.mini {
      float: left;
      width: 300px;
      height: 520px;
      overflow: auto;
    }
    
    #redo_search_in_map_area_button {
      background: 0% 50% url(/images/silk/arrow_refresh.png) no-repeat;
      padding-left: 20px;
    }
    
    #redo_search_in_map_area_loading.loading {
      display: inline;
    }
  </style>
<% end %>

<div class="column span-24">
  <div class="observations map"<% unless @view && @view == 'map' %> style="display: none"<% end %>>
    <div id="map"></div>
    <div id="mapcontrols"<% unless @view && @view == 'map' %> style="display: none"<% end %>>
      <%= link_to_function "Redo search in map area", "redoSearchInMapArea()", :id => 'redo_search_in_map_area_button' %>
      <span id="redo_search_in_map_area_loading" class="loading status" style="display: none">Loading...</span>
      | <%= link_to_function "Show all observations", 
        "map.showAllObsOverlay(); $(this).hide(); $('#hide_all_obs_button').show()", 
        :id => 'show_all_obs_button' %>
      <%= link_to_function "Hide all observations", 
        "map.hideAllObsOverlay(); $(this).hide(); $('#show_all_obs_button').show()", 
        :id => 'hide_all_obs_button', :style => 'display: none' %>
      <span class="description">(experimental)</span>
    </div>
  </div>

  <div id="mapdivider"<% unless @view && @view == 'map' %> style="display: none"<% end %>>
    &nbsp;
  </div>

  <div id="mapobservations" class="observations <%= (@view && @view == 'map') ? 'mini' : 'table' %>">
    <% if @view && @view == 'map' %>
      <%= render :partial => 'observations_table_header', :locals => {:display => 'none'} %>
    <% else %>
      <%= render :partial => 'observations_table_header' %>
    <% end %>
    <%= render :partial => 'observations/cached_component', :collection => observations %>
    <% if @observations.empty? %>
      <p id="noresults" class="readable description">
        No matching observations!
      </p>
    <% end %>
  </div>
</div>
