<% 
=begin
= Mini Observation Partial

Markup for an observation to be viewed as a mini component of another view, 
e.g. in GMaps infowindow.  
    
Requirements:
 * pass in a local variable called 'observation'
 
Note:
  * see observations.css for styles
=end

observation ||= object || @observation
image_size ||= nil
-%>
<% cache("observations/_mini/#{observation.id}") do %>
<div id="mini-observation-<%= observation.id %>" class="clear mini observation">
  <a href="<%= observation_url(observation) %>">
    <%= image_tag observation_image_url(observation, :size => image_size) || 
      iconic_taxon_image_url(observation.iconic_taxon, :size => image_size), :class => "left" %>
  </a>
  <div class="title">
    <% unless observation.species_guess.nil? or observation.species_guess.empty? %>
    <%= link_to observation.species_guess, observation_url(observation) %>,
    <% else %>
    <%= link_to '<i>Something...</i>', observation_url(observation) %>,
    <% end %>
    observed by <%= link_to observation.user.login, 
                            observations_by_login_url(observation.user.login) %>
  </div>
  <div class="meta">
    <% if observation.observed_on %>
      <span class="observed_on">on <span class="date"><%= observation.observed_on.strftime('%b %d %Y') %></span></span>
    <% end %>
    <% unless observation.place_guess.blank? %>
      <span class="place_guess">in <%=h observation.place_guess %></span>
    <% end %>
  </div>
  
  <% if defined? include_description and include_description %>
  <div class="readable description attribute">
    <% description_length ||= 140 %>
    <%= truncate(strip_links(observation.description), :length => description_length) %>
    <%= link_to("View full observation", observation, :class => "readmore")%>
  </div>
  <% end %>
</div>
<% end %>