<% 
=begin
= Mini Observation Partial

Markup for an observation to be viewed as a mini component of another view, 
e.g. in kml description element.  
    
Requirements:
 * pass in a local variable called 'observation'
 
Note:
  * kml does not support css
=end
-%>
  
  <% unless observation.photos.empty? %>
    <a href="<%= observation_url(observation) %>">
      <%= image_tag observation.photos[0].medium_url, :class => "left photo" %>
    </a>
    <br />
  <% end %>
  <% unless observation.species_guess.nil? or observation.species_guess.empty? %>
    <%= link_to observation.species_guess, observation_url(observation) %>,
  <% else %>
    <%= link_to '<i>Something...</i>', observation_path(observation) %>,
  <% end %>

  observed by <%= link_to observation.user.login, 
                            observations_by_login_url(observation.user.login), :type=>'text/html' %>

  <% if observation.time_observed_at %>
    at
    <span class="date">
      <%=h observation.time_observed_at.strftime("%I:%M %p %Z") %>
    </span>
  <% end %>
  <% if observation.observed_on %>
    on <span class="date"><%=h observation.observed_on.to_s(:long) %></span>
  <% end %>
  <% if observation.place_guess and not observation.place_guess.empty? and observation.place_guess != 'Type the name of a place' %><% # poor form, I know, but it works for now, sorta %>
    in <%=h observation.place_guess %>
  <% end %>
  
  <% if defined? include_description and include_description %>
    <% description_length ||= 140 %>
    <%= truncate(strip_links(observation.description), :length => description_length) %>
    <%= link_to("View full observation", observation, :class => "readmore")%>
  <% end %>