<% 
=begin
= Mini Observation Partial

Markup for an observation to be viewed as a mini component of another view, 
e.g. in GMaps infowindow.  
    
Requirements:
 * pass in a local variable called 'observation'
 
Note:
  * see observations.css for styles
=end
observation ||= mini || @observation
image_size ||= nil
image_style ||= nil
description_length ||= 140
include_description ||= false
image_url ||= observation_image_url(observation, :size => image_size) || 
  iconic_taxon_image_url(observation.iconic_taxon, :size => image_size)
-%>
<div id="mini-observation-<%= observation.id %>" class="clear mini observation">
  <a href="<%= observation_url(observation) %>">
    <%= image_tag image_url, 
      :width => image_size == "square" ? 75 : nil,
      :height => image_size == "square" ? 75 : nil,
      :class => "left", :style => "#{image_style}" %>
  </a>
  <div class="title">
    <% if observation.species_guess.blank? %>
    <%= link_to t(:something), observation_url(observation) %>,
    <% else %>
    <%= link_to observation.species_guess, observation_url(observation) %>,
    <% end %>
    <%=t :observed_by %> <%= link_to observation.user.login, observations_by_login_url(observation.user.login) %>
  </div>
  <div class="meta">
    <% if observation.observed_on %>
      <span class="observed_on"><span class="date"><%=l observation.observed_on %></span></span>
    <% end %>
    <% unless observation.place_guess.blank? %>
      <span class="place_guess"><%=h observation.place_guess %></span>
    <% end %>
  </div>
  
  <% if include_description %>
  <div class="readable description attribute">
    <%= truncate(strip_links(observation.description), :length => description_length) %>
  </div>
  <% end %>
  
  <div class="meta">
    <%= link_to(t(:view_full_observation), observation_url(observation), :class => "readmore") %>
  </div>
</div>
