<% 
=begin
= Observation Component Partial

Markup for an observation to be viewed as a component of another view.  

Some assumptions:

 * a page view for a single observation has different markup needs, and should 
   have its own view
 * this partial will render inside a div with the class ".observations"
 * visual type of the component observations is specified in the container, 
   like
    <div class="observations mini">
      <div id="obs-1" ...>
      ...
    </div>
  * a local variable named "observation" was passed to this partial containing 
    an Observation object
    
Some notes:
  * see observations.css for styles
  * elements with style="display: none" are set that way to enable fancy 
    schmancy Javascript effects, like blinddowns
  * some such effects will require some DOM finagling in Javascript to get 
    them to work right.  Since the interactive requirements for an 
    observations are likely to change based on the context, I'm leaving that 
    to the view developer.  If you find yourself repeating yourself, feel free 
    to make a observations.js library.
=end
-%>
<%-
  observation_component ||= nil
  observation ||= observation_component
  check_box_name ||= false
  check_box_checked ||= false
  top ||= false
  obs_url = observation_path(observation)
  css_class = "observation"
  css_class += ' longdesc' if !observation.description.blank? && observation.description.size > 200
  if observation.needs_id?
    css_class += ' id_please'
    css_class += ' idandrg' if observation.research_grade?
  elsif observation.quality_grade == Observation::RESEARCH_GRADE
    css_class += ' research_grade'
  end
-%>
<div id="observation-<%= observation.id rescue rand(999) %>" class="<%= css_class %>" 
    data-taxon-id=<%= observation.taxon_id %>
    data-iconic-taxon-id=<%= observation.iconic_taxon_id %>
    data-latitude=<%= is_me?(observation.user) && observation.private_latitude ? observation.private_latitude : observation.latitude %>
    data-longitude=<%= is_me?(observation.user) && observation.private_longitude ? observation.private_longitude : observation.longitude %>
    <% if !is_me?(observation.user) && observation.coordinates_obscured? %>data-coordinates-obscured="true"<% end %>
    data-iconic-taxon-name=<%= observation.iconic_taxon_name %>>
  <%= top if top %>
  <% if check_box_name -%>
    <div class="check_box attribute">
      <%= check_box_tag check_box_name, observation.id, check_box_checked %>
    </div>
  <% end -%>
  <div class="icon attribute">
    <%= iconic_taxon_image(observation.taxon, :size => 15, 
      "data-square-url" => iconic_taxon_image_url(observation.taxon, :size => 15),
      "data-small-url" => iconic_taxon_image_url(observation.taxon, :size => 32)) %>
  </div>
  <div class="photos attribute">
    <h4 class="label"><%= t :'sounds.photos_sounds' %></h4>
    <div class="photolist">
      <% photo_count, sound_count, link_text =
        observation.observation_photos_finished_processing.size,
        observation.observation_sounds_count, [] %>
      <% if photo_count == 0 && sound_count == 0 -%>
        <div class="photo nophoto description">
          <%=t :'sounds.no_photos_sounds' %>
        </div>
      <% else %>
        <% if photo_count > 0 %>
          <%- 
            photos = observation.observation_photos_finished_processing.sort_by{|op|
              op.position || photo_count + op.id.to_i
            }.map{|op| op.photo}.compact
            photo = photos.first
          %>
          <% if photo %>
            <%= link_to image_tag(photo.square_url,
              "data-square-url" => photo.square_url,
              "data-small-url" => photo.small_url,
              "data-medium-url" => photo.medium_url
            ), obs_url, :class => 'flickr photo'%>
            <% if photo_count > 1 -%>
              <% link_text << t(:photos_size_photos, :photos_size => photos.size).downcase %>
            <% end -%>
          <% end %>
        <% end -%>
        <% if sound_count > 0 %>
          <%= link_to '<i class="fa fa-volume-up fa-4x"></i>'.html_safe, obs_url, :class => "sound-icon#{' with-photo' if photo}" %>
          <% if sound_count > 1 %>
            <% link_text << t(:'sounds.sounds_size_sounds', :sounds_size => sound_count).downcase %>
          <% end -%>
        <% end %>
        <% unless link_text.blank? -%>
          <%= link_to link_text.join(',<br/>').html_safe, obs_url, :class => 'readmore' %>
        <% end -%>
      <% end -%>
    </div>
  </div>
  <div class="readable species_guess attribute">
    <h4 class="label"><%=t :what %></h4>
    <% if observation.taxon %>
      <%= render :partial => 'shared/taxon', 
                 :locals => {
                    :taxon => observation.taxon,
                    :link_url => obs_url,
                    :include_parens => false} %>
    <% elsif !observation.species_guess.blank? %>
      <span class="taxon">
        <%= link_to observation.species_guess, obs_url %>
      </span>
    <% else %>
      <span class="taxon">
        <%= link_to "#{t(:something)}...", obs_url %>
      </span>
    <% end %>
    <!-- <span class="button detailsctrl">Show Details</span> -->
  </div>
  <div class="user attribute">
    <h4 class="label"><%=t :observer_short %></h4>
    <%= link_to(observation.user.login, observations_by_login_path(observation.user.login)) %>
  </div>
  <div class="observed_on attribute">
    <h4 class="label"><%=t :observation_date %></h4>
    <span class="date" title="<%= observation.observed_on ? observation.observed_on.strftime("%Y-%m-%d") : '' %>">
      <%#= observation.observed_on ? observation.observed_on.strftime("%b. %e, %Y") : 'the past' %>
      <% if observation.observed_on -%>
        <%= link_to t("date_format.month.#{observation.observed_on.strftime('%B').downcase}").titleize,
          observations_by_login_path(observation.user.login, :on => "#{observation.observed_on.year}-#{observation.observed_on.month}") %>
        <%= link_to observation.observed_on.day, 
          observations_by_login_path(observation.user.login, :on => "#{observation.observed_on.year}-#{observation.observed_on.month}-#{observation.observed_on.day}") %>,
        <%= link_to observation.observed_on.year, 
          observations_by_login_path(observation.user.login, :on => observation.observed_on.year) %>
      <% else %>
        <%=t :the_past %>
      <% end -%>
    </span>
    <% if observation.time_observed_at %>
    <span class="time">
      <%= observation.time_observed_at.in_time_zone(observation.time_zone).strftime("%I:%M %p %Z")  %>
    </span>
    <% end %>
  </div>
  <div class="place attribute">
    <h4 class="label"><%=t :place %></h4>
    <%= observation_place_guess observation, :truncate_coordinates => true %>
  </div>
  <% unless observation.created_at.blank? -%>
    <div class="created_at attribute" style="display:none">
      <h4 class="label"><%=t :date_added %></h4>
      <span class="date">
        <%= l(observation.created_at.in_time_zone(observation.user.time_zone || 'UTC'), :format => :day_month_year) %>
      </span>
      <span class="time">
        <%= observation.created_at.in_time_zone(observation.user.time_zone || 'UTC').strftime("%I:%M %p %Z") %>
      </span>
    </div>
  <% end -%>
  <div id="obs-<%= observation.id %>-details" class="details attribute">
    <% unless observation.description.blank? %>
      <h4 class="label"><%=t :description %></h4>
      <div class="description">
        <%= formatted_user_text observation.description %>
      </div>
    <% end %>
  </div>
  <div id="obs-<%= observation.id %>-tags" class="tags attribute">
    <% unless observation.cached_tag_list.blank? %>
      <h4 class="label"><%=t :tags %></h4>
      <div class="description">
        <%=raw observation.cached_tag_list.split(',').map(&:strip).map {|t| link_to(t, observations_path(:q => t, :search_on => "tags"), :rel => "nofollow") }.join(', ') %>
      </div>
    <% end %>
  </div>
  <div class="actions attribute">
    <% if observation.comments_count > 0 || observation.num_identifications_by_others > 0 -%>
      <ul class="counts">
        <% if observation.comments_count > 0 -%>
          <li class="comments_count">
            <a href="<%= obs_url %>">
              <span class="count"><%= observation.comments_count %></span>
              <span class="ui-icon ui-icon-comment inlineblock">comment<%= 's' if observation.comments_count != 1 %></span>
            </a>
          </li>
        <% end -%>
        <% if observation.num_identifications_by_others > 0 -%>
          <li class="identifications_count">
            <a href="<%= obs_url %>">
              <span class="count"><%= observation.num_identifications_by_others %></span>
              <%= t(:id) if observation.num_identifications_by_others == 1 %>
              <%= t(:ids) if observation.num_identifications_by_others != 1 %>
            </a>
          </li>
        <% end -%>
      </ul>
    <% end -%>
    <%- if observation.needs_id? || observation.research_grade? %>
      <ul class="bubbles">
        <% if observation.needs_id? -%>
          <li class="last">
            <%= link_to t(:needs_id_expandable_html), obs_url, :class => "id_please_notice",
              "data-tip" => t(:needs_to_be_identified),
              "data-tip-show-delay" => 1000 %>
          </li>
        <%- elsif observation.quality_grade == Observation::RESEARCH_GRADE %>
          <li class="last">
            <%= link_to t(:research_grade_short_html), observation_url(observation, :anchor => "data_quality_assessment"),
              :class => "research_grade_notice", 
              "data-tip" => t(:research_grade_observations_have),
              "data-tip-show-delay" => 1000 %>
          </li>
        <% end -%>
      </ul>
    <%- end -%>
    <ul class="editview">
      <% if logged_in? && current_user.id == observation.user_id && !observation.new_record? -%>
        <li class="editlink"><%= link_to t(:edit), edit_observation_path(observation) %></li>
      <% end -%>
      <li class="last viewlink">
        <%= link_to t(:view), obs_url, :class => 'readmore' %>
      </li>
    </ul>
  </div>
</div>
