<% 
=begin
= Observation Component Partial

Markup for an observation to be viewed as a component of another view.  

Some assumptions:

 * a page view for a single observation has different markup needs, and should 
   have its own view
 * this partial will render inside a div with the class ".observations"
 * visual type of the component observations is specified in the container, 
   like
    <div class="observations mini">
      <div id="obs-1" ...>
      ...
    </div>
  * a local variable named "observation" was passed to this partial containing 
    an Observation object
    
Some notes:
  * see observations.css for styles
  * elements with style="display: none" are set that way to enable fancy 
    schmancy Javascript effects, like blinddowns
  * some such effects will require some DOM finagling in Javascript to get 
    them to work right.  Since the interactive requirements for an 
    observations are likely to change based on the context, I'm leaving that 
    to the view developer.  If you find yourself repeating yourself, feel free 
    to make a observations.js library.
=end
-%>
<%- 
  observation ||= observation_component
  check_box_name ||= false
  check_box_checked ||= false
  top ||= false
  css_class = "observation #{cycle('odd', 'even')}"
  css_class += ' longdesc' if !observation.description.blank? && observation.description.size > 200
  if observation.research_grade?
    css_class += ' research_grade'
  elsif observation.id_please
    css_class += ' id_please'
  end
-%>
<div id="observation-<%= observation.id rescue rand(999) %>" class="<%= css_class %>" 
    data-taxon-id=<%= observation.taxon_id %>
    data-iconic-taxon-id=<%= observation.iconic_taxon_id %>
    data-latitude=<%= observation.latitude %>
    data-longitude=<%= observation.longitude %>
    data-iconic-taxon-name=<%= observation.iconic_taxon_name %>>
  <%= top if top %>
  <% if check_box_name -%>
    <div class="check_box attribute">
      <%= check_box_tag check_box_name, observation.id, check_box_checked %>
    </div>
  <% end -%>
  <div class="icon attribute">
    <%= iconic_taxon_image(observation.taxon, :size => 15, 
      "data-square-url" => iconic_taxon_image_url(observation.taxon, :size => 15),
      "data-small-url" => iconic_taxon_image_url(observation.taxon, :size => 32)) %>
  </div>
  <div class="photos attribute">
    <h4 class="label">Photos</h4>
    <div class="photolist clear">
      <% if observation.photos.empty? %>
        <div class="photo nophoto description">
          No photos
        </div>
      <% else %>
        <%- photos = observation.observation_photos.sort_by{|op| 
          op.position || observation.photos.size + op.id.to_i
        }.map{|op| op.photo}.compact %>
        <%= link_to image_tag(photos.first.square_url,
          "data-square-url" => photos.first.square_url,
          "data-small-url" => photos.first.small_url,
          "data-medium-url" => photos.first.medium_url
        ), observation, :class => 'flickr photo'%>
        <% if photos.size > 1 -%>
          <%= link_to "#{photos.size} photos", observation, :class => 'readmore' %>
        <% end -%>
      <% end %>
    </div>
  </div>
  <div class="readable species_guess attribute">
    <h4 class="label">What</h4>
    <% if observation.taxon %>
      <% if observation.species_guess.blank? || observation.taxon.default_name.name.downcase.strip == observation.species_guess.downcase.strip -%>
        <%= render :partial => 'shared/taxon', 
                   :locals => {
                     :taxon => observation.taxon,
                     :link_url => url_for(observation),
                     :include_parens => false} %>
      <% elsif observation.species_guess.downcase.strip == observation.taxon.name.downcase.strip %>
        <%= render :partial => 'shared/taxon', 
                   :locals => {
                     :taxon => observation.taxon,
                     :link_url => url_for(observation),
                     :no_common => true} %>
      <% else %>
        <%= link_to observation.species_guess, observation %>
      <% end -%>
    <% elsif !observation.species_guess.blank? %>
      <span class="taxon">
        <%= link_to observation.species_guess, observation %>
      </span>
    <% else %>
      <span class="taxon">
        <%= link_to "(Something&hellip;)", observation %>
      </span>
    <% end %>
    <!-- <span class="button detailsctrl">Show Details</span> -->
  </div>
  <div class="user attribute">
    <h4 class="label">Observer</h4>
    <%= link_to(observation.user.login, observations_by_login_path(observation.user.login)) %>
  </div>
  <div class="observed_on attribute">
    <h4 class="label">Date</h4>
    <span class="date" title="<%= observation.observed_on ? observation.observed_on.strftime("%Y-%m-%d") : '' %>">
      <%#= observation.observed_on ? observation.observed_on.strftime("%b. %e, %Y") : 'the past' %>
      <% if observation.observed_on -%>
        <%= link_to observation.observed_on.strftime('%b'), 
          observations_by_login_path(observation.user.login, :on => "#{observation.observed_on.year}-#{observation.observed_on.month}") %>
        <%= link_to observation.observed_on.day, 
          observations_by_login_path(observation.user.login, :on => "#{observation.observed_on.year}-#{observation.observed_on.month}-#{observation.observed_on.day}") %>,
        <%= link_to observation.observed_on.year, 
          observations_by_login_path(observation.user.login, :on => observation.observed_on.year) %>
      <% else %>
        the past
      <% end -%>
    </span>
    <% if observation.time_observed_at %>
    <span class="time">
      <%= observation.time_observed_at.in_time_zone(observation.time_zone).strftime("%I:%M %p %Z") %>
    </span>
    <% end %>
  </div>
  <div class="place attribute">
    <h4 class="label">Place</h4>
    <%= observation_place_guess observation, :truncate_coordinates => true %>
  </div>
  <% unless observation.created_at.blank? -%>
    <div class="created_at attribute" style="display:none">
      <h4 class="label">Date added</h4>
      <span class="date">
        <%= observation.created_at.in_time_zone(observation.user.time_zone || 'UTC').strftime("%b. %e, %Y") %>
      </span>
      <span class="time">
        <%= observation.created_at.in_time_zone(observation.user.time_zone || 'UTC').strftime("%I:%M %p %Z") %>
      </span>
    </div>
  <% end -%>
  <div id="obs-<%= observation.id %>-details" class="details attribute">
    <% unless observation.description.blank? %>
      <h4 class="label">Description</h4>
      <div class="description">
        <%= formatted_user_text observation.description %>
      </div>
    <% end %>
    
    <% unless observation.tags.empty? %>
      <h4 class="label">Tags</h4>
      <div class="description">
        <%= observation.tags.map {|t| link_to(t.name, observations_path(:q => t.name, :search_on => "tags")) }.join(', ') %>
      </div>
    <% end %>
  </div>
  <div class="actions attribute">
    <% if observation.comments.count > 0 || observation.num_identifications_by_others > 0 -%>
      <ul class="counts">
        <% if observation.comments.count > 0 -%>
          <li class="comments_count">
            <a href="<%= url_for(observation) %>">
              <span class="count"><%= observation.comments.count %></span>
              <span class="ui-icon ui-icon-comment inlineblock">comment<%= 's' if observation.comments.count != 1 %></span>
            </a>
          </li>
        <% end -%>
        <% if observation.num_identifications_by_others > 0 -%>
          <li class="identifications_count">
            <a href="<%= url_for(observation) %>">
              <span class="count"><%= observation.num_identifications_by_others %></span>
              ID<%= 's' if observation.num_identifications_by_others != 1 %>
            </a>
          </li>
        <% end -%>
      </ul>
    <% end -%>
    <%- if observation.id_please? %>
      <ul>
        <li class="last">
          <%= link_to "ID<span class='full'> Please</span>!", observation, :class => "id_please_notice", 
            "data-tip" => "#{observation.user.login} would like some help identifying this!",
            "data-tip-show-delay" => 1000 %>
        </li>
      </ul>
    <%- elsif observation.research_grade? %>
      <ul>
        <li class="last">
          <%= link_to "R<span class='full'>esearch </span>G<span class='full'>rade</span>", observation_url(observation, :anchor => "data_quality_assessment"), 
            :class => "research_grade_notice", 
            "data-tip" => "\"Research grade\" observations have a date, photo, coordinates, and a community-supported ID.  Click through to see the data quality assessment.",
            "data-tip-show-delay" => 1000 %>
        </li>
      </ul>
    <% end -%>
    <ul class="editview">
      <% if logged_in? && current_user.id == observation.user_id -%>
        <li class="editlink"><%= link_to "Edit", edit_observation_path(observation) %></li>
      <% end -%>
      <li class="last viewlink">
        <%= link_to "View", observation, :class => 'readmore' %>
      </li>
    </ul>
  </div>
</div>
