<% observations ||= @observations -%>
<% observations.each_with_index do |observation, i| %>
  <% unless observation.valid? %>
    <div class="column span-24 stacked">
      <pre>
        <%= @rows[i].join(', ') %>
      </pre>
      <div class="error">
        <%= observation.errors.full_messages.to_sentence %>
      </div>
      <%=t :required_columns_in_order %>
      <ul>
        <li><span <%= 'class="error status"' if observation.errors[:species_guess] %>><%=t :species_guess %>: <%= observation.species_guess %></span></li>
        <li><span <%= 'class="error status"' if observation.errors[:observed_on] %>><%=t :observed_on %>: <%= observation.observed_on_string %>, which was interpreted as <%= observation.datetime.to_s %></span></li>
        <li><span <%= 'class="error status"' if observation.errors[:description] %>><%=t :description %>: <%= observation.description %></span></li>
        <li><span <%= 'class="error status"' if observation.errors[:place_guess] %>><%=t :place_guess %>: <%= observation.place_guess %></span></li>
      </ul>
      <%=t :optional_columns_note_for_any %>
      <ul>
        <li><span <%= 'class="error status"' if observation.errors[:latitude] %>><%=t :latitude %>: <%= observation.latitude %></span></li>
        <li><span <%= 'class="error status"' if observation.errors[:longitude] %>><%=t :longitude %>: <%= observation.longitude %></span></li>
        <li><span <%= 'class="error status"' if observation.errors[:location_is_exact] %>><%=t :location_is_exact %>: <%= observation.location_is_exact %></span></li>
      </ul>
    </div>
  <% end %>
<% end %>
