<%-
  o ||= builder if defined?(builder)
  index ||= nil
  observation_fields ||= @observation_fields
-%>
<div class="observation_fields_form_fields">
  <div class="observation_fields">
    <%= o.fields_for :observation_field_values do |ofv| %>
      <%- ofv.object_name.gsub!(/^(\w+)\[\]/, "\\1[#{o.object.id}]") -%>
      <%= render 'observation_field_row', builder: ofv, removable: false %>
    <% end -%>
  </div>
  <div>
    <%- new_ofv_fields = capture do %>
      <% if index -%>
        <%= fields_for "observations[#{index}][observation_field_values_attributes][]", o.object.observation_field_values.build do |ofv| %>
          <%= render 'observation_field_row', :builder => ofv %>
        <% end -%>
      <% else %>
        <%= o.fields_for :observation_field_values, o.object.observation_field_values.build do |ofv| %>
          <%= render 'observation_field_row', :builder => ofv %>
        <% end -%>
      <% end -%>
    <% end -%>
    <div class="inline buttonrow">
      <label><%=t :add_a_field %></label>
      <input name="observation_field" 
             class="observation_field_chooser" 
             type="text" 
             placeholder="<%=t :start_typing_field_name %>"
             data-chooser-default-sources="<%= observation_fields.to_json %>">
      <%= link_to_function t(:add_a_field), "$(this).parents('.observation_fields_form_fields:first').newObservationField('#{escape_javascript(new_ofv_fields)}')", :class => "button addfieldbutton" %>
      <%= link_to t(:create_a_new_field), new_observation_field_path, :id => "createfieldbutton", :class => "button" %>
      <%= link_to t(:view_all_n, :n => t(:fields)), observation_fields_path, :class => "inter", :target => "_blank" %>
    </div>
  </div>
</div>
