<%- 
  observation = observations.first
  for_idents ||= false
  target_id ||= bootstrapTargetID
-%>
<%- if observations.size == 1 %>
  <div class="media <%= "for_idents" if for_idents %>">
    <div class="media-left"> 
      <% photo_count, sound_count, link_text =
        observation.observation_photos_finished_processing.size,
        observation.observation_sounds_count, [] %>
      <% if photo_count == 0 && sound_count == 0 -%>
        <%= link_to observation_path(observation) do %>
          <i class="icon icon-iconic-<%= observation.iconic_taxon.nil? ? 'unknown' : observation.iconic_taxon.name.downcase %>" style="vertical-align: middle;font-size: 105px; color:rgb(238,238,238);"></i>
        <% end -%>
      <% else %>
        <% if photo_count > 0 %>
          <%- 
            photos = observation.observation_photos_finished_processing.sort_by{|op|
              op.position || photo_count + op.id.to_i
            }.map{|op| op.photo}.compact
            photo = photos.first
          %>
          <% if photo %>
            <% if sound_count > 0 %>
              <%= link_to observation_path(observation) do %>
                <div class="scaledimg icon_container" style="background-image: url('<%= "#{photo.small_url}" %>')">
                  <i class="fa fa-volume-up fa-4x" style="vertical-align: middle;font-size: 105px;color:rgb(238,238,238);"></i>
                </div>
              <% end %>
            <% else %>
              <%= link_to observation_path(observation) do %>
                <div class="scaledimg" style="background-image: url('<%= "#{photo.small_url}" %>')"></div>
              <% end %>
            <% end %>        
          <% end %>
        <% else -%>
          <%= link_to observation_path(observation) do %>
            <i class="fa fa-volume-up" style="line-height: 150px;vertical-align: middle;font-size: 105px;color:rgb(238,238,238);"></i>
          <% end -%>
        <% end %>
      <% end -%>
    </div>
    <div class="media-body">
      <h3>
        <% if observation.taxon %>
          <%= render :partial => 'shared/taxon', 
                     :locals => {
                        :taxon => observation.taxon,
                        :link_url => observation_path(observation),
                        :include_parens => false} %>
        <% elsif !observation.species_guess.blank? %>
          <span class="taxon">
            <%= link_to observation.species_guess, observation_path(observation) %>
          </span>
        <% else %>
          <span class="taxon">
            <%= link_to "#{t(:something)}...", observation_path(observation) %>
          </span>
        <% end %>
      </h3>
      <ul>
        <li> 
          <span class="observer"><i class="glyphicon glyphicon-user"></i>
            <%= link_to(observation.user.login, observations_by_login_path(observation.user.login)) %>
          </span>
          <span class="date_observed"><i class="glyphicon glyphicon-calendar"></i>
            <% if observation.observed_on -%>
              <%= link_to t("date_format.month.#{observation.observed_on.strftime('%B').downcase}").titleize,
                observations_by_login_path(observation.user.login, :on => "#{observation.observed_on.year}-#{observation.observed_on.month}") %>
              <%= link_to observation.observed_on.day, 
                observations_by_login_path(observation.user.login, :on => "#{observation.observed_on.year}-#{observation.observed_on.month}-#{observation.observed_on.day}") %>,
              <%= link_to observation.observed_on.year, 
                observations_by_login_path(observation.user.login, :on => observation.observed_on.year) %>
            <% else %>
              <%=t :the_past %>
            <% end -%>
          </span>
          <% if observation.num_identifications_by_others > 0 -%>
            <span class="ids_by_others">
              <%= observation.num_identifications_by_others %>
              <%= t(:id) if observation.num_identifications_by_others == 1 %>
              <%= t(:ids) if observation.num_identifications_by_others != 1 %>
            </span>
          <% end -%>
          <%- if observation.research_grade? %>
            <span class="label_research_grade"><%= t(:research_grade_short_html) %></span>  
          <%- end -%>
        </li>
        <li>
          <span class="location_observed"><i class="glyphicon glyphicon-map-marker"></i>
            <%= observation_place_guess observation, :truncate_coordinates => true %>
          </span>
        </li>
      </ul>
      <p>
        <%= link_to t(:view_observation), observation_path(observation), class: "btn btn-sm btn-primary"%>
      </p>
    </div>
  </div>
<%- else %>
  <div class="row">
    <ul>
      <% for observation in observations[0..3] %>
        <%= render partial: "shared/mult_obs_component_for_dashboard", :locals => {:observation => observation} %>
      <% end %>
    </ul>
  </div>
  <% if observations.count > 4 -%>
    <div class="row collapse out", id="<%= "expand#{target_id}" %>">
      <ul>
        <% for observation in observations[4..-1] %>
          <%= render partial: "shared/mult_obs_component_for_dashboard", :locals => {:observation => observation} %>
        <% end %>
      </ul>
    </div>
  <% end %>
<%- end %>
