<% observations ||= @observations -%>
<% observations.each_with_index do |observation, i| %>
  <% i = observation.id unless observation.new_record? -%>
  <% fields_for("observations[]", observation, :index => i) do |o| %>
    <div class="column span-24 observation" <%= "id='observation-#{observation.id}'" unless observation.new_record? %>>
      <% unless observation.errors.empty? %>
      <div class="errorcol last column span-21 prepend-1 append-2">
        <div class="error">
          <strong>There were some problems saving this observation:</strong>
          <ul>
            <% for error in observation.errors %>
            <li><%= error.first.humanize %> <%= error.last %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>
      <% if @observation_photos -%>
        <% existing_observation_photo = @observation_photos.detect do |op|
          observation.photos.map(&:native_photo_id).include?(op.photo.native_photo_id)
        end %>
        <% if existing_observation_photo -%>
          <div class="clear notice existing_obs_notice">
            <%= image_tag existing_observation_photo.photo.thumb_url %>
            <strong>Heads up:</strong> this photo is already associated with an
            <%= link_to "existing observation", existing_observation_photo.observation, :class => "readmore", :target => "_blank" %>
          </div>
        <% end -%>
      <% end -%>
      <div class="column span-24 field">
        <div class="column span-1">
          <%#= check_box_tag("selected")%>
          &nbsp;
        </div>
        <div class="column span-7">
          <%= o.text_field(:species_guess, :class => 'text species_guess') %>
          <% if observation.taxon -%>
            <%- alt_name = capture do -%>
              <%= render :partial => "shared/taxon", :locals => { :taxon => observation.taxon, :no_common => true } -%>
            <%- end -%>
            <%= o.hidden_field(:taxon_id, :alt => alt_name, :rel => taxon_image_url(observation.taxon)) %>
          <%- else -%>
            <%= o.hidden_field(:taxon_id) %>
          <% end -%>
          
          <div class="id_please_field">
            <%= o.check_box :id_please %>
            <%= o.label :id_please, "ID Please!", :class => 'description' %>
          </div>
        </div>
        <div class="column span-7">
          <%= o.text_field(:observed_on_string, 
                           :class => 'text observed_on_string') %>
              <%= o.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, {:class => 'time_zone'} %>
        </div>
        <div class="column span-7">
          <%= o.text_field(:place_guess, :class => 'text place_guess') %>
          <div id="coordinates_<%= i %>" class="latlonfields status">
            <%= o.label(:latitude, 'Lat', :class => "inlineblock") %>
            <%= o.text_field(:latitude, :class => 'latitude text') %>

            <%= o.label(:longitude, 'Lon', :class => "inlineblock") %>
            <%= o.text_field(:longitude, :class => 'longitude text') %>

            <span class="button">
              <%= link_to_function("edit", "$('#coordinates_#{i}').toggleClass('status'); $(this).hide(); $(this).next().show(); return false;") %>
              <%= link_to_function("hide", "$('#coordinates_#{i}').toggleClass('status'); $(this).hide(); $(this).prev().show(); return false;", :style => 'display: none') %>
            </span>
            
            <div>
              <%= o.label(:positional_accuracy, 'Acc (m)', :class => "inlineblock", "data-tip" => "Accuracy of the coordinates in meters. You can edit this by click the \"edit\" link above or by clicking on the map marker and dragging the handles. Try to make the circle big enough that you're sure you were somewhere inside it.") %>
              <%= o.text_field(:positional_accuracy, :class => 'positional_accuracy text inlineblock') %>
              <%= o.label(:positional_accuracy, 'Src', :class => "inlineblock", "data-tip" => "Source of coordinates and accuracy measure, set automatically.") %>
              <%= o.text_field(:positioning_method, :class => 'positioning_method text inlineblock', :disabled => true) %>
            </div>
          </div>
          <%= o.hidden_field(:map_scale, :class => 'map_scale') %>
          <%= o.hidden_field(:location_is_exact, :class => 'location_is_exact') %>
          <%= o.hidden_field(:positioning_device, :class => 'positioning_device') %>
        </div>
        <div class="last column span-2">
          <div id="actions_<%= i %>" class="actions description">
            <%= link_to_function('Remove from batch', "$(this).parents('.observation').fadeOut('normal', function() {$(this).remove()})") %>
            <%- unless observation.new_record? -%>
              or
              <div class="deletelink">
                <span class="loading status" style="display: none">Deleting...</span>
                <%= link_to_function('Delete', "iNaturalist.restfulDelete('#{observation_path(observation)}', {data: {authenticity_token: encodeURIComponent(#{form_authenticity_token.inspect})}, complete: function() {$('#observation-#{observation.id}').fadeOut('normal', function() {$(this).remove()});}}, this);") %>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
      
      <div class="column span-24">
        <div class="column span-1">
          &nbsp;
        </div>
        <div id="detailscol" class="column span-21">
          <div class="clear compactfield field">
            <a href="#" onclick="$('#descriptiontags_<%= i %>').slideToggle(); $(this).parent().toggleClass('open'); return false;" class="compactfieldlink">
              Description, Tags, &amp; More
            </a>
            <div id="descriptiontags_<%= i %>" style="display: none" class="compactfieldcontent">
              <div class="column span-14">
                <%= o.label(:description, 'Description') %><br/>
                <%= o.text_area(:description) %><br/>
              </div>
              <div class="last column span-6">
                <div class="stacked">
                  <%= o.label :tag_list, "Tags" %><br/>
                  <%= o.text_field :tag_list, :class => "text", :style => "margin-top: 8px" %>
                </div>
                
                <%= o.label :geoprivacy, "Geoprivacy" %>
                <%= o.select :geoprivacy, Observation::GEOPRIVACIES, :include_blank => "open" %>
                <span class="geoprivacy_tip_target description helptip" rel="#geoprivacy_<%= i %>_tip"></span>
                <div id="geoprivacy_<%= i %>_tip" class="geoprivacy_tip" style="display:none">
                  <dl>
                    <% for privacy, description in Observation::GEOPRIVACY_DESCRIPTIONS %>
                      <dt><%= privacy || "open" %></dt>
                      <dd><%= description %></dd>
                    <% end %>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="last column span-2">
          &nbsp;
        </div>
      </div>
      
      <div class="column span-24">
        <div class="column span-1">
          &nbsp;
        </div>
        <div class="column span-21">
          <div class="clear compactfield">
            <a href="#" onclick="$(this).next().slideToggle(); $(this).parent().toggleClass('open'); return false;" class="compactfieldlink">
              Photos
            </a>
            <div id="photos_<%= i %>" style="display: none" class="compactfieldcontent observation_photos photo_list">
              <%= render :partial => "photos/photo_list_form", :locals => { 
                :photos => observation.photos,
                :index => i,
                :checked => true,
                :local_photos => @default_photo_identity.blank?
              } %>
            </div>
            <div class="compactfieldcontent" style="display: none">
              <span>We currently support Flickr for image hosting.</span>
              <%= link_to "You can activate your Flickr account with " + 
                          "iNaturalist to add photos by clicking on this link.",
                          :controller => 'flickr',
                          :action => 'link' %>
            </div>
          </div>
        </div>
        <div class="last column span-2">
          &nbsp;
        </div>
      </div>
    </div>
  <% end %>
<% end %>
