<%- 
  ofv ||= builder
  removable ||= removable.nil?
  required ||= false
  attrs = {
    :class => "observation_field stacked clear"
  }
  if ofv.object.observation_field
    attrs[:id] = dom_id(ofv.object.observation_field)
    attrs['data-observation-field-id'] = ofv.object.observation_field_id
  end
-%>
<%= content_tag :div, attrs do %>
  <% if removable -%>
    <%= ofv.hidden_field "_destroy" %>
    <%= link_to_function t(:remove),
      "$(this).prev().val(1); $(this).parents('.observation_field').slideUp().attr('id', '')", 
      :class => "right removelink" %>
  <% end -%>
  <%= ofv.hidden_field :observation_field_id, :class => "observation_field_id" %>
  <div class="labeldesc">
    <label><%= h(ofv.object.observation_field.try(:name)) %></label>
    <% if required -%>
      <span class="required">*</span>
    <% end -%>
  </div>
  <div class="ofv_input stacked">
    <%- ofv_taxon = ofv.object.observation_field ? ofv.object.taxon : nil %>
    <%= ofv.search_field(:value, :class => 'text ofv_value_field',
      label: h(ofv.object.observation_field.try(:name).try(:capitalize)),
      description: h(ofv.object.observation_field.try(:description)),
      required: required,
      "data-iconic-taxon-id" => ofv_taxon ? ofv_taxon.iconic_taxon_id : nil,
      "data-default-photo-url" => ( ofv_taxon && ofv_taxon.default_photo ) ?
        ofv_taxon.default_photo.best_url(:square) : nil,
      "data-json" => ofv.object.observation_field.to_json,
      "data-taxon" => ofv_taxon ? ofv_taxon.to_json(methods: [ :leading_name ]) : nil ) %>
  </div>
  <div class="description"><%= h(ofv.object.observation_field.try(:description)) %></div>
<% end -%>
