<%- 
  observation ||= photos || @observation
  no_js ||= false
  image_size ||= "small"
-%>
<%= link_to image_tag(observation.photos.first.send("#{image_size}_url")), 
  observation.photos.first.becomes(Photo), 
  :class => 'main zoomable',
  :title => t(:photo_attribution, :attribution => observation.photos.first.attribution) %>
<div class="other_photos">
  <% for photo in observation.photos[1..3] %>
    <%= link_to image_tag(photo.square_url), photo.becomes(Photo), :class => "#{cycle('', '', 'last')} zoomable" %>
  <%- end -%>
  <% if observation.photos.size > 4 && (photos = observation.photos[4..-1]) -%>
    <% if no_js -%>
      <div class="clear"><%= link_to t(:view_all_photocount_photos, :photo_count => "#{observation.photos.size}" ), observation, :class => 'readmore' %></div>
    <% else %>
      <div class="clear"><%= link_to_toggle t(:view_all_photocount_photos, :photo_count => "#{observation.photos.size}" ), "#morephotos" %></div>
      <div id="morephotos" style="display: none">
        <% for photo in photos -%>
          <%- if no_js -%>
            <%= link_to image_tag(observation.photos.first.square_url), observation, :class => cycle('', '', 'last') %>
          <%- else -%>
            <%= modal_image(photo, :class => cycle('', '', 'last')) %>
          <%- end -%>
        <% end -%>
      </div>
    <% end -%>
  <% end -%>
</div>
