<%- observation ||= object || @observation -%>
    <%- if !observation.place_guess.blank? %>
      <% if observation.latitude.blank? -%>
        <%= observation.place_guess %>
        (<%= link_to "Google", "http://maps.google.com/?q=#{observation.place_guess}", :target => "_blank" %>)
      <% else %>
        <%= link_to observation.place_guess, observations_path(:lat => observation.latitude, :lng => observation.longitude) %>
        (<%= link_to "Google", "http://maps.google.com/?q=#{observation.latitude}, #{observation.longitude}", :target => "_blank" %>)
      <% end -%>
    <% elsif !observation.latitude.blank? %>
      <%= link_to "#{observation.latitude}, #{observation.longitude}", observations_path(:lat => observation.latitude, :lng => observation.longitude) %>
      (<%= link_to "Google", "http://maps.google.com/?q=#{observation.latitude}, #{observation.longitude}", :target => "_blank" %>)
    <% else %>
      <span class="description">(Somewhere...)</span>
    <% end %>