- extra ||= nil
.counts
  %label=t :totals
  .totalcount.stat.numerical
    .count ?
    = link_to t(:observations, :default => "observations").downcase, "", :class => "label"
  .species.stat.numerical
    .count ?
    = link_to t(:species, :default => "species").downcase, "", :class => "label"
  .people.stat.numerical
    .count ?
    = link_to t(:people, :default => "people").downcase, "", :class => "label"
  = extra
.most_observations.stat
  %label=t :most_observations
  %table
    %tr
      %td.image= image_tag('/attachment_defaults/users/icons/defaults/thumb.png')
      %td.user
        .meta=t :unknown
.most_species.stat
  %label=t :most_species
  %table
    %tr
      %td.image= image_tag('/attachment_defaults/users/icons/defaults/thumb.png')
      %td.user
        .meta=t :unknown
.most_observed.stat
  %label=t :most_observed_species
  %table
    %tr
      %td.image= image_tag('iconic_taxa/unknown-32px.png')
      %td.taxon
        .meta=t :unknown