<% seenit ||= @seenit ||= false -%>
<% if logged_in? %>
  <% if seenit -%>
    <% lead_text = t(:youve_seen_it_want_to) -%>
    <% button_text = t(:add_an_observation?) -%>
    <% loading_text = t(:adding_observation___) -%>
    <% success_text = t(:observation_added) -%>
  <% else -%>
    <% lead_text = t(:seen_it?) -%>
    <% button_text = t(:add_to_your_life_list) -%>
    <% loading_text = t(:adding_to_your_life_list___) -%>
    <% success_text = t(:life_list_updated_we_also_saved_a) -%>
  <% end -%>
  <div id="seenit_link_<%= taxon.id %>" class="seenit description">
    <%= lead_text %>
    <%= link_to_function button_text, 
                         "newRemoteObservation({taxon_id: #{taxon.id}});",
                         :class => 'button' %>
  </div>
  <script type="text/javascript" charset="utf-8">
    if (typeof newRemoteObservation == 'undefined') {
      function newRemoteObservation(obsParams) {
        var obsParams = $.extend({}, obsParams);
        var params = {
          'observations[0][taxon_id]': obsParams.taxon_id,
          authenticity_token: encodeURIComponent(<%= form_authenticity_token.inspect %>)
        };

        // Set loading status
        $('#seenit_link_'+obsParams.taxon_id).addClass(
          'loading status').html("<%= loading_text %>");

        jQuery.post('/observations.json', params, function(data, stat) {
          $('#seenit_link_'+obsParams.taxon_id).removeClass('pale loading');
          if (stat == 'success') {
            $('#seenit_link_'+obsParams.taxon_id).addClass('success status');
            $('#seenit_link_'+obsParams.taxon_id).empty();
            $('#seenit_link_'+obsParams.taxon_id).append(
              "<%= success_text %> Want to ",
              $('<a href="/observations/'+data[0].id+'/edit">edit it?</a>')
            );
          } else {
            $('#seenit_link_'+obsParams.taxon_id).addClass(
              'error status').html(<%=t :doh_something_went_wrong %>);
          }
        }, 'json');
        return false;
      }
    };
  </script>
<% else %>
  &nbsp;
<% end %>
