<table>
  <% for observation in @observations %>
    <tr class="inat-observation">
      <td class="inat-observation-image" valign="top" align="center">
        <% link_to observation_url(observation) do %>
          <% if obs_img_url = observation_image_url(observation) -%>
            <%= image_tag obs_img_url, :border => 0 %>
          <% else %>
            <%= iconic_taxon_image(observation.iconic_taxon, :border => 0) %>
          <% end -%>
        <% end %>
      </td>
      <td class="inat-observation-body" valign="top">
        <%= link_to (observation.species_guess.blank? ? "Something" : observation.species_guess), observation_url(observation) %>
        <div class="inat-meta">
          <% if show_user -%>
            <span class="inat-label">Observer: </span>
            <span class="inat-value"><%= link_to observation.user.login, observations_by_login_url(observation.user.login) %></span><br/>
          <% end -%>
          <% unless observation.observed_on.blank? -%>
            <span class="inat-label">Date: </span>
            <span class="inat-value"><%= observation.observed_on.to_s(:short) %> <%= observation.observed_on.year %></span><br/>
          <% end -%>
          <% unless observation.place_guess.blank? %>
            <span class="inat-label">Place: </span>
            <span class="inat-value"><%= observation.place_guess %></span>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
