<%- target ||= nil -%>
<%- default_image ||= nil -%>
<%- silence ||= nil -%>
<table data-current-page="<%= @observations.current_page.to_i %>" 
       data-per-page="<%= @observations.per_page %>" 
       data-total-entries="<%= @observations.total_entries %>"
       data-total-pages="<%= @observations.total_pages %>">
  <% if @observations.size == 0 %>
    <% unless silence == "true" %>
      <tr>
        <td class="inat-value" colspan="2">
          <%= t(:no_observations, :default => "No observations").capitalize %>
        </td>
      </tr>
    <% end %>
  <% end %>
  <% for observation in @observations %>
    <%-
      img_opts = {
        :border => 0,
        :title => observation.to_plain_s
      }
    -%>
    <tr class="inat-observation">
      <td class="inat-observation-image" valign="top" align="center">
        <%= link_to observation_url(observation), :target => (target == "blank" ? "_blank" : nil), rel: (target == "blank" ? "noopener noreferrer" : nil) do %>
          <% if obs_img_url = observation_image_url(observation) -%>
            <%= image_tag obs_img_url, img_opts %>
          <% else %>
            <% if default_image %>
              <%= image_tag(image_url(default_image), img_opts) %>
            <% else %>
              <%= iconic_taxon_image(observation.iconic_taxon, img_opts) %>
            <% end -%>
          <% end -%>
        <% end %>
      </td>
      <td class="inat-observation-body" valign="top">
        <%= link_to (observation.species_guess.blank? ? t(:something_) : observation.species_guess), observation_url(observation), :target => (target == "blank" ? "_blank" : nil), rel: (target == "blank" ? "noopener noreferrer" : nil) %>
        <div class="inat-meta">
          <% if show_user -%>
            <span class="inat-label"><%=t :observer %>: </span>
            <span class="inat-value"><%= link_to observation.user.login, observations_by_login_url(observation.user.login), :target => (target == "blank" ? "_blank" : nil), rel: (target == "blank" ? "noopener noreferrer" : nil) %></span><br/>
          <% end -%>
          <% unless observation.observed_on.blank? -%>
            <span class="inat-label"><%=t :observation_date %>: </span>
            <span class="inat-value"> <%= l(observation.observed_on.to_date, :format => :short) %> <%= observation.observed_on.year %></span><br/>
          <% end -%>
          <% unless observation.place_guess.blank? %>
            <span class="inat-label"><%=t :place %>: </span>
            <span class="inat-value"><%= observation.place_guess %></span>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
