<%- 
  widget_url ||= @widget_url || observations_by_login_feed_url(current_user.login, :format => "widget", :limit => 5).gsub(/http\:/, '')
  place ||= @place
  taxon ||= @taxon
  project ||= @project
-%>
<style type="text/css" media="screen">
.inat-widget { font-family: Georgia, serif; padding: 10px; line-height: 1;}
.inat-widget-header {margin-bottom: 10px;}
.inat-widget td {vertical-align: top; padding-bottom: 10px;}
.inat-label { color: #888; }
.inat-meta { font-size: smaller; margin-top: 3px; line-height: 1.2;}
.inat-observation-body, .inat-user-body { padding-left: 10px; }
.inat-observation-image {text-align: center;}
.inat-observation-image, .inat-user-image { width: 48px; display: inline-block; }
.inat-observation-image img, .inat-user-image img { max-width: 48px; }
.inat-observation-image img { vertical-align: middle; }
.inat-widget-small .inat-observation-image { display:block; float: left; margin: 0 3px 3px 0; height:48px;}
.inat-label, .inat-value, .inat-user { font-family: "Trebuchet MS", Arial, sans-serif; }
.inat-user-body {vertical-align: middle;}
.inat-widget td.inat-user-body {vertical-align: middle;}
.inat-widget .inat-footer td.inat-value {vertical-align: middle; padding-left: 10px;}
</style>
<div class="inat-widget">
  <% if @logo != "none" -%>
    <div class="inat-widget-header">
      <%= link_to image_tag(image_url( @logo ), alt: @site.name ), @site.url %>  
    </div>
  <% end -%>
  <script type="text/javascript" charset="utf-8" src="<%= widget_url %>"></script>
  <table class="inat-footer">
    <tr class="inat-user">
      <% unless place || taxon || project %>
        <td class="inat-user-image">
          <%= link_to image_tag(current_user.icon.url(:thumb), :class => 'usericon'), observations_by_login_url(current_user.login), :border => 0 %>
        </td>
      <% end %>
      <td class="inat-value"<%= ' colspan="2"' if place %>>
        <strong>
          <% if place -%>
            <%= link_to t(:view_more_observations_near_x_place, :place => place.name, :site_name => @site.name).html_safe, place_url(place) %>
          <% elsif taxon -%>
            <%= link_to t(:view_more_observations_of_x_taxon, :taxon => taxon.name, :site_name => @site.name).html_safe, taxon_url(taxon) %>
          <% elsif project -%>
            <%= link_to t(:view_more_observations_of_x_project, :project => project.title, :site_name => @site.name).html_safe, project_observations_url(project.id) %>
          <% else %>
            <%= link_to "#{t(:view_user_observations, :user => current_user.login)} &raquo;".html_safe,
              observations_by_login_url(current_user.login) %>
          <% end -%>
        </strong>
      </td>
    </tr>
  </table>
</div>
