<%- target ||= nil -%>
<%- default_image ||= nil -%>
<%- silence ||= nil -%>
<div data-current-page="<%= @observations.current_page.to_i %>" 
       data-per-page="<%= @observations.per_page %>" 
       data-total-entries="<%= @observations.total_entries %>"
       data-total-pages="<%= @observations.total_pages %>" 
       class="inat-widget-small">
  <% if @observations.size == 0 %>
    <% unless silence == "true" %>
      <span class="inat-value">no observations</span>
    <% end %>
  <% end %>
  <% for observation in @observations %>
    <%-
      img_opts = {
        :border => 0,
        :title => observation.to_plain_s
      }
    -%>
    <%= link_to observation_url(observation), :class => "inat-observation-image", :target => (target ? "_blank" : nil) do %>
      <% if obs_img_url = observation_image_url(observation) -%>
        <%= image_tag obs_img_url, img_opts %>
      <% else %>
        <% if default_image %>
          <%= image_tag(image_url(default_image), img_opts) %>
        <% else %>
          <%= iconic_taxon_image(observation.iconic_taxon, img_opts) %>
        <% end -%>
      <% end -%>
    <% end %>
  <% end %>
  <div style="visibility:hidden; clear:both; height:0;">&nbsp;</div>
</div>
