- field = field || nil
- value = value || nil
- if field
  .clear.row.upstacked.radio
    .label
      %strong
        - case field
        - when "native"
          = t( "establishment.native" )
        - when "introduced"
          = t( "establishment.introduced" )
        - when "threatened"
          = t( "threatened" )
        - when "popular"
          = t( "popular" )
        - when "verifiable"
          = t( "verifiable" )
        - else
          = t( field )
    .left
      %label
        %input{ type: "radio", name: field, value: "", checked: !value }
        = t(:any_, default: "any")
      %label
        %input{ type: "radio", name: field, value: "true", checked: value.yesish? }
        = t(:yes)
      %label
        %input{ type: "radio", name: field, value: "false", checked: !value.nil? && value.noish? }
        = t(:no)
