= content_for :title do
  - @title = title_for_observation_params(:lead => t(:observations_accumulation_curve, :default => "Observations Accumulation Curve"))
  = strip_tags @title
= content_for :extracss do
  :css
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .x.axis path {
      display: none;
    }
    .line {
      fill: none;
      stroke: #1E90FF;
      stroke-width: 1.5px;
    }
    .tline { stroke: #73AC13; }
    .tpoint {
      stroke: #73AC13;
      fill: #73AC13;
    }
    .uline { stroke: #FF4500; }
    .taxon-tip img { max-width: 50px; vertical-align: middle; }
= content_for :extrajs do
  = javascript_include_tag "d3.min"
  :javascript
    var margin = {top: 20, right: 20, bottom: 30, left: 50},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;
    var x = d3.time.scale().range([0, width]);
    var y = d3.scale.linear().range([height, 0]);
    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");
    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");
    var line = d3.svg.line()
        .x(function(d) { return x(d.timeObservedAt) })
        .y(function(d) { return y(d.accObsCount) });
    var tline = d3.svg.line()
        .x(function(d) { return x(d.timeObservedAt) })
        .y(function(d) { return y(d.accTaxCount) });
    var uline = d3.svg.line()
        .x(function(d) { return x(d.timeObservedAt) })
        .y(function(d) { return y(d.accUsrCount) });
    var svg = d3.select("#vis").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    d3.json(window.location.href.replace(/\?/, '.json?'), function(error, data) {
      data = data.observations
      var taxa = {},
          users = {},
          accObsCount = 0,
          accTaxCount = 0,
          accUsrCount = 0
      data.forEach(function(d) {
        d.timeObservedAt = d3.time.format.iso.parse(d.time_observed_at)
        accObsCount += 1
        d.accObsCount = accObsCount
        taxa[d.taxon_id] = taxa[d.taxon_id] || 0
        if (taxa[d.taxon_id] == 0) {
          accTaxCount += 1
          d.newTaxonID = d.taxon_id
        }
        taxa[d.taxon_id] = accTaxCount
        d.accTaxCount = accTaxCount
        users[d.user_id] = users[d.user_id] || 0
        if (users[d.user_id] == 0) {
          accUsrCount += 1
        }
        users[d.user_id] = accUsrCount
        d.accUsrCount = accUsrCount
      })
      x.domain(d3.extent(data, function(d) { return d.timeObservedAt; }))
      y.domain(d3.extent(data, function(d) { return d.accObsCount; }))
      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);
      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
      svg.append("path")
          .datum(data)
          .attr("class", "line")
          .attr("d", line);
      svg.append("path")
          .datum(data)
          .attr("class", "tline line")
          .attr("d", tline);
      svg.append("path")
          .datum(data)
          .attr("class", "uline line")
          .attr("d", uline);
      svg.append('svg:g').selectAll( ".tpoint" ).data( data )
        .enter()
          .append( "svg:circle")
            .attr( "class", "tpoint" )
            .attr('cx', function( d ) { return x(d.timeObservedAt) })
            .attr('cy', function( d ) { return y( d.accTaxCount ) })
            .attr('r', 2 );
      $( "svg circle" ).qtip( $.extend( {}, QTIP_DEFAULTS, {
        content: function( e, api ) {
          var d = this[0].__data__;
          if ( d.newTaxonID ) {
            $.getJSON( `/taxa/${d.newTaxonID}.json?partial=tip`, function( json ) {
              var html = "<i>"+json.name+"</i>";
              if ( json.common_name ) {
                html = json.common_name.name + " (" + html + ")";
              }
              if ( json.default_photo ) {
                html = "<img src='"+json.default_photo.small_url+"' /> " + html;
              }
              html = "<div class='taxon-tip'>"+html+"</div>";
              api.set( "content.text", html );
            } );
            return "Loading...";
          } else {
            return "No new taxon"
          }
        }
      } ) );
    })
- unless @stats_adequately_scoped
  .container-fluid
    .row
      .col-xs-12= render 'stats_inadequately_scoped'
- else
  .container-fluid
    .row
      .col-xs-12
        %h4= @title
    .row
      #vis
