<%- @user_scalable = "0" if in_mobile_view? -%>
<%- content_for(:title) do -%>
  <% @pagetitle = if @list
    "Add Observations from list: #{link_to @list.title, @list}"
  else
    "Add Observations from a List"
  end %>
  <%= strip_tags(@pagetitle) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "observations/add_from_list" %>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <% if in_mobile_view? && js_enabled_mobile_device? -%>
    <%= javascript_include_tag "jquery/jquery.ui.all.packed.js",
                               "jquery/plugins/jquery.scrollTo-min.js",
                               "jquery/plugins/inat/fixed_follower.js" %>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        <% if @list %>
          $(window).scrollTo($('a[name=taxa]').offset().top);
        <% end %>
        
        $('#mobilenav').fixedFollower({top: 0, duration: 500});
        $('#searchlistform input[type=text]').keyup(function() {
          var q = $('#searchlistform input[type=text]').val();
          if (q == '') {
            $('li.listed_taxon:hidden').show();
            return true;
          } else {
            $('li.listed_taxon:visible').hide();
          }
          for (var i = taxonNames.length - 1; i >= 0; i--){
            var pattern = new RegExp('^'+q, 'i');
            if (taxonNames[i].match(pattern)) {
              var taxonId = taxonIdsByName[taxonNames[i]];
              $('#taxon_'+taxonId).show();
            }
          };
        });
      });
      
      function showMobileNav() {
        $('#searchlistform').show();
        $('#alphanav').show();
        $('#show_mobile_nav_link').hide();
        $('#hide_mobile_nav_link').show();
        $('#mobilenav').toggleClass('open');
      }
      
      function hideMobileNav() {
        $('#searchlistform').hide();
        $('#alphanav').hide();
        $('#show_mobile_nav_link').show();
        $('#hide_mobile_nav_link').hide();
        $('#mobilenav').toggleClass('open');
      }
    </script>
  <% end -%>
<%- end -%>

<div id="pageheader">
  <%= render :partial => "observations/new_nav.html.erb" %>
  
  <h2><%= @pagetitle %></h2>
  <% unless in_mobile_view? -%>
    <p class="description">Add observations of taxa you've added to a list.  Under development, still working out the bugs...</p>
  <% end -%>
  <% form_tag url_for, :method => :get, :id => "listform" do %>
    <%= label_tag :id, "Choose from your lists" %>
    <%= select_tag :id, options_for_select(@user_lists.map{|l| [l.title, l.id]}, @list ? @list.id : nil) %>
    
    &nbsp;
    <label>Order</label>
    <% for order in ListedTaxon::ORDERS %>
      <%= radio_button_tag :order, order, order == @order %>
      <%= label_tag "order_#{order}", order.humanize %>
    <% end %>
    
    <%= submit_tag "Load" %>
  <% end %>
</div>

<% if @list.blank? -%>
  <div class="description nodata">Choose a list above.</div>
<% else %>
  <a name="taxa"></a>
  <% if in_mobile_view? && js_enabled_mobile_device? -%>
    <div id="mobilenav" class="open">
      <%= link_to_function "&laquo; Nav", "showMobileNav()", :id => "show_mobile_nav_link", :style => "display: none" %>
      <%= link_to_function "&darr;", "$('.gotonav').toggle()", :id => "goto_nav_link" %>
      <%#= link_to_function "&times;", "hideMobileNav()", :id => "hide_mobile_nav_link" %>

      <form id="searchlistform">
        <input type="text" name="find" value="" id="find">
      </form>

      <% if @order == ListedTaxon::ALPHABETICAL_ORDER -%>
        <div id="alphanav" class="gotonav" style="display: none">
          <div id="alphanav_letters">
            <% "ABCDEFGHIJKLMNOPQRSTUVWXYZ".each_char do |letter| %>
              <a href="#anchor_<%= letter %>" id="link_<%= letter %>" class="letter" onclick="$('#alphanav').toggle()"><%= letter %></a>
            <% end %>
          </div>
        </div>
      <% end -%>
    </div>
  <% end -%>
  <% form_tag new_observations_from_list_path, :id => "taxaform" do %>
    <% cache(@cache_key) do %>
      <%= render :partial => 'add_from_list.html.erb' %>
    <% end %>
    <div class="clear buttonrow">
      <%= submit_tag "Create observations", :class => "default button" %>
      <%= link_to "Back to your observations", observations_by_login_path(current_user.login), :class => "minor button" %>
    </div>
  <% end %>
<% end %>
