<%- content_for(:title) do -%>
  <% @pagetitle = if @list
    raw t(:add_obs_from_a_link, :link => "#{link_to @list.title, @list}" )
  else
    t(:add_obs_from_a_list)
  end %>
  <%= strip_tags(@pagetitle) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "observations/add_from_list" %>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag "jquery/plugins/inat/fixed_follower.js" %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#mobilenav').fixedFollower({
        duration: 500
      });
      <% if @list %>
        $(window).scrollTo($('#taxaform').offset().top);
      <% end %>
    });
    
    function showMobileNav() {
      $('#searchlistform').show();
      $('#mobilenav .gotonav').show();
      $('#show_mobile_nav_link').hide();
      $('#hide_mobile_nav_link').show();
      $('#mobilenav').toggleClass('open');
    }
    
    function hideMobileNav() {
      $('#searchlistform').hide();
      $('#mobilenav .gotonav').hide();
      $('#show_mobile_nav_link').show();
      $('#hide_mobile_nav_link').hide();
      $('#mobilenav').toggleClass('open');
    }
  </script>
<%- end -%>

<div id="pageheader">
  <%= render :partial => "observations/new_nav.html.erb" %>
  
  <h2><%= @pagetitle %></h2>
  <%= form_tag url_for, :method => :get, :id => "listform" do %>
    <%= label_tag :id, t(:choose_from_your_lists) %>
    <%= select_tag :id, options_for_select(@user_lists.map{|l| [l.title, l.id]}, @list ? @list.id : nil) %>
    
    &nbsp;
    <label><%=t :order %></label>
    <% for order in ListedTaxon::ORDERS %>
      <%= radio_button_tag :order, order, order == @order %>
      <%= label_tag "order_#{order}", t(order, :default => order.humanize) %>
    <% end %>
    
    <%= submit_tag t(:load) %>
  <% end %>
</div>

<% if @list.blank? -%>
  <div class="description nodata"><%=t :choose_a_list_above %></div>
<% else %>
  <a name="taxa"></a>
  <%= form_tag new_observations_from_list_path, :id => "taxaform" do %>
    <% cache(@cache_key) do %>
      <%= render :partial => 'add_from_list.html.erb' %>
    <% end %>
    <div class="clear buttonrow">
      <%= submit_tag t(:create_observations), :class => "default button", "data-loading-click" => true %>
      <%= link_to t(:back_to_your_observations), observations_by_login_path(current_user.login), :class => "minor button" %>
    </div>
  <% end %>
<% end %>
