- content_for :extrajs do
  = javascript_include_tag "webpack/runtime-webpack"
  = javascript_include_tag "webpack/react-main-webpack"
  = javascript_include_tag "webpack/d3-webpack"
  = javascript_include_tag "webpack/observations-compare-webpack"
- content_for :extracss do
  = stylesheet_link_tag "observations/compare"
#app
  #initial-loading.text-center
    .loading_spinner
