<% content_for(:title) do %><%=t :observation_curation %><% end %>
<% content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #tools {
      float: right;
    }
    
    .status {
      display: inline;
      padding: 2px;
    }
  </style>
<% end -%>

<h2><%=t :observations_needing_curation %></h2>

<table>
  <tr>
    <th><%=t :created %></th>
    <th><%=t :observation %></th>
    <th><%=t :reason %></th>
    <th><%=t :flagger %></th>
    <th><%=t :actions %></th>
  </tr>
  <% for flagging in @flags %>
  <tr>
    <td><%= flagging.created_at %></td>
    <td><%= link_to flagging.flaggable.species_guess,flagging.flaggable %></td>
    <td><%= h flagging.flag %></td>
    <td><%= flagging.user ?
      link_to( h(flagging.user.login), person_path(flagging.user_id) ) :
      CONFIG.site_name_short %>
    </td>
    <td class="buttonrow">
      <%= link_to t(:edit_the_observation), 
                  edit_observation_path(:id=>flagging.flaggable_id), :class => 'button' %>
      <span class="inter">or</span>
      <%= form_for(flagging, 
                  :action=>"update") do |f| %>
        <%= f.text_field :comment, :class => 'text' %>
        <%= f.hidden_field :resolver_id, :value => current_user.id %>
        <%= f.hidden_field :resolved, :value => true %>
        <%= f.submit t(:resolve_this_flag), :class => 'button' %>
      <% end # form_for %>
      
    </td>
  </tr>
  <% end %>
</table>

<%= will_paginate @flags %>
