<?xml version="1.0" encoding="utf-8"?>
<eml:eml
    xmlns:eml="eml://ecoinformatics.org/eml-2.1.1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dc="http://purl.org/dc/terms/"
    xsi:schemaLocation="eml://ecoinformatics.org/eml-2.1.1 http://rs.gbif.org/schema/eml-gbif-profile/1.0.1/eml-gbif-profile.xsd"
    xml:lang="en"
    packageId="iNaturalist.observations.eml.<%= Time.now.to_i %>"
    system="http://gbif.org"
    scope="system">
  <dataset>
    <alternateIdentifier><![CDATA[<%=raw @uri %>]]></alternateIdentifier>
    <title xml:lang="en">
      <% if @observations_params[:quality_grade] == "research" %>
        iNaturalist Research-grade Observations
      <% else %>
        iNaturalist Observations
      <% end %>
    </title>

    <%= render "observations/gbif_eml_agent", handlers: [:erb], formats: [:eml], tag: "creator", data: @creator %>
    <%= render "observations/gbif_eml_agent", handlers: [:erb], formats: [:eml], tag: "metadataProvider", data: @metadata_provider %>

    <pubDate><%= Date.today.to_s %></pubDate>

    <!-- This is the RESOURCE language and not the metadata language which is at the bottom -->
    <language>en_US</language>
    <abstract>
      <para>
        Observations from iNaturalist.org, an online social network of people sharing biodiversity information to help each other learn about nature. iNaturalist is a joint initiative of the California Academy of Sciences and the National Geographic Society.
      </para>
      <% unless @observations_params.blank? %>
      <para>
        Observations included in this archive met the following requirements:
      </para>
      <% unless @taxa.blank? %>
      <para>
        * Depicts an individual in the following taxa:
        <%=raw @taxa.each_with_index.map {|taxon, i| "#{i+1}) #{taxon.name} (<![CDATA[#{taxon_url( taxon )}]]>)" }.join( ", " ) %>
      </para>
      <% end %>
      <% if @place %>
      <para>
        * Coordinates in <%=raw @place.display_name %> (<![CDATA[<%= place_url( @place ) %>]]>)
      </para>
      <% end %>
      <% if @observations_params[:license] == "none" %>
      <para>
        * Published without any license or waiver of intellectual property rights (all rights reserved)
      </para>
      <% elsif @observations_params[:license] != "any" && ( licenses = @observations_params[:license].to_s.split( "," ) ) && !licenses.blank? %>
      <para>
        * Published under one of the following licenses or waivers:
        <%=raw licenses.each_with_index.map {|license, i| "#{i+1}) <![CDATA[#{url_for_license( license )}]]>" }.join( ", " ) %>
      </para>
      <% end %>
      <% if @observations_params[:projects] && project_ids = @observations_params[:projects].to_s.split( "," ) %>
      <para>
        * In one of the following iNaturalist projects:
        <%=raw project_ids.map {|project_id|
          ( project = Project.find_by_id( project_id ) ) && "<![CDATA[<#{project_url( project )}]]>"
        }.compact.join( ", " ) %>
      </para>
      <% end %>
      <% if !@observations_params[:quality_grade].blank? && quality_grades = @observations_params[:quality_grade].split( "," ) %>
      <para>
        * Achieved one of following iNaturalist quality grades: <%= quality_grades.map(&:humanize).join( ", " ) %>
      </para>
      <% end %>
      <% if site = Site.find_by_id( @observations_params[:site_id] ) %>
      <para>
        * Affiliated with the iNaturalist Network Partner <![CDATA[<%=raw site_url( site )%>]]>
      </para>
      <% end %>
      <% if @observations_params[:created_d1] %>
      <para>
        * Created on or after <%= @observations_params[:created_d1] %>
      </para>
      <% end %>
      <% if @observations_params[:created_d2] %>
      <para>
        * Created on or before <%= @observations_params[:created_d2] %>
      </para>
      <% end %>
      <% if @observations_params[:with_photos] %>
      <para>
        * Has photos
      </para>
      <% end %>
      <% if @observations_params[:ofv_datatype] %>
      <para>
        * Has an observation field value of type <%= @observations_params[:ofv_datatype] %>
      </para>
      <% end %>
      <para>
        You can view observations meeting these requirements at <![CDATA[<%=raw @uri %>]]>
      </para>
      <% end %>
    </abstract>
    <intellectualRights>
      <para>
        <% if @license %>
        This archive is licensed under a
        <ulink url=<%=raw url_for_license( @license ).encode( xml: :attr ) %>>
          <citetitle><%= license_name( @license ) %></citetitle>
        </ulink>. Individual records may be published under less-restrictive conditions; please see individual records for guidance on usage.
        <% else %>
        These data are licensed under a variety of Creative Commons licenses and waivers. Please see individual records for their usage requirements.
        <% end %>
      </para>
    </intellectualRights>
    <!-- The distributionType URL is generally meant for informational purposes, and the "function" attribute should be set to "information". -->
    <distribution scope="document">
      <online>
        <url function="information"><%= observations_url %></url>
      </online>
    </distribution>
    <coverage>
      <% if @extent %>
      <geographicCoverage>
        <geographicDescription>Bounding Box</geographicDescription>
        <boundingCoordinates>
          <westBoundingCoordinate><%= [@extent.top_left.lon, -180].max %></westBoundingCoordinate>
          <eastBoundingCoordinate><%= [@extent.bottom_right.lon, 180].min %></eastBoundingCoordinate>
          <northBoundingCoordinate><%= [@extent.top_left.lat, 90].min %></northBoundingCoordinate>
          <southBoundingCoordinate><%= [@extent.bottom_right.lat, -90].max %></southBoundingCoordinate>
        </boundingCoordinates>
      </geographicCoverage>
      <% end %>
      <temporalCoverage>
        <rangeOfDates>
          <beginDate>
            <calendarDate><%= @start_date.to_s %></calendarDate>
          </beginDate>
          <endDate>
            <calendarDate><%= @end_date.to_s %></calendarDate>
          </endDate>
        </rangeOfDates>
      </temporalCoverage>

      <% unless @taxa.blank? %>
      <taxonomicCoverage>
        <generalTaxonomicCoverage>
          For information about iNaturalist's taxonomy, see https://www.inaturalist.org/pages/curator+guide.
        </generalTaxonomicCoverage>
      <% unless @taxa.blank? %>
      <% @taxa.each do |taxon| %>
        <taxonomicClassification>
          <taxonRankName><%= taxon.rank %></taxonRankName>
          <taxonRankValue><%= taxon.name %></taxonRankValue>
        </taxonomicClassification>
      <% end %>
      <% end %>
      </taxonomicCoverage>
      <% end %>
    </coverage>

    <purpose>
      <para>
        iNaturalist.org is a website where anyone can record their observations from nature. Members record observations for numerous reasons, including participation in citizen science projects, school projects, and personal fulfillment.
      </para>
    </purpose>

    <% if @freq %>
      <maintenance>
        <description>
          New observations are constantly being added to iNaturalist. Observations are dynamic, so identifications and other aspects of data quality can change at any time due to crowdsourced curation. Observations belong to the people who added them, so those people may remove them at any time, or change their licensing.
        </description>
        <maintenanceUpdateFrequency><%= @freq %></maintenanceUpdateFrequency>
      </maintenance>
    <% end %>

    <%= render "observations/gbif_eml_agent", handlers: [:erb], formats: [:eml], tag: "contact", data: @contact %>

    <methods>
      <methodStep>
        <description>
          <para>Observation recorded and verified by the community</para>
        </description>
      </methodStep>
      <qualityControl>
        <description>
          <para>iNaturalist observations become candidates for Research Grade when they have a photo, date, and coordinates. They become "Research Grade" when the community agrees on an identification. If the community has multiple opinions on what taxon has been observed, iNaturalist chooses a taxon from all the proposed taxa (a higher-level taxon containing the proposed taxa) that more than 2/3 of the voters agree with. The full algorithm is as follows: for all identified taxa and the taxa that contain them (e.g. genus Homo contains Homo sapiens), score each as the ratio between the number of cumulative IDs for that taxon over the sum of the cumulative IDs, the number of more conservative IDs added after the first ID of that taxon, and the number of IDs that are completely different (i.e. IDs of taxa that do not contain the taxon being scored). For the identified taxa that have a score over 2/3 and at least 2 identifications, iNaturalist chooses the lowest ranked taxon as the community taxon. An observation can lose Research Grade status if the community has voted it down on several metrics, including whether the organism is wild / naturalized (i.e. not captive / cultivated), whether the location and date seem accurate, and whether the content of the observation is appropriate for the context (e.g. violation of iNaturalist's Terms of Service, copyright violation, plagiarism, etc.). To learn more about data quality on iNaturalist, see http://www.inaturalist.org/pages/help#quality. Most attributes of each occurrence are the work of the observer (date, coordinates), or crowdsourced by several people (taxonomic identification) and have not been reviewed by the maintainers of this archive and thus cannot be presented with absolute confidence in their accuracy. For example, georeferencing interfaces employed in iNaturalist software all generate coordinates on the WGS84 datum so almost all records in this archive employ that datum as claimed in the geodeticDatum attribute, but coordinates are ultimately editable by the observer, so it's possible an observer could mistakenly add coordinates using a different datum by entering them manually and not using one of those georeferencing interfaces.</para>
        </description>
      </qualityControl>
    </methods>
  </dataset>
  <additionalMetadata>
    <metadata>
      <gbif>
        <!-- eml file creation date -->
        <dateStamp><%= Time.now.iso8601 %></dateStamp>
        <!-- level to which the metadata document applies; default for GBIF is "dataset";  "series" is the other common level -->
        <hierarchyLevel> dataset </hierarchyLevel>
        <!-- URL of the logo associated with a resource -->
        <resourceLogoUrl><%= asset_url( Site.default.logo.url, host: Site.default.url ) %></resourceLogoUrl>
      </gbif>
    </metadata>
  </additionalMetadata>
</eml:eml>
