<% content_for(:title) do %>Editing Observation <%= @observation.id %><% end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'taxa', 
                          'taxon_browser', 
                          'observations/observation_fields',
                          "observations/edit" %>
  <style type="text/css" media="screen">
    #batchlink{text-align:right;}
    textarea{width:239px;margin:0;}
    input.place_guess{width:336px;}
    #mapcontainer{height:433px;border:1px solid #ccc;}
    .latlonfields{position:relative;}
    .latlonfields .button{position:absolute;top:0.2em;right:0;}
    .photoSelectorControls .prevlink{float:left;clear:left;}
    .photoSelectorControls .nextlink{float:right;}
    .photo{margin:0;}
  </style>
<% end %>
<% content_for(:extrajs) do %>
  <%= google_maps_js %>
  <%= javascript_include_tag "jquery/plugins/jquery.string.1.0.js",
                             'map_bundle',
                             "jquery/plugins/inat/datepicker.js",
                             "jquery/plugins/inat/photo_selectors.js",
                             "jquery/plugins/inat/sound_selectors.js",
                             "jquery/plugins/jquery.latLonSelector.js",
                             "observations/observation_fields",
                             "observations/edit" %>
  <script type="text/javascript" charset="utf-8">
    var DEFAULT_PHOTO_IDENTITY_URL = <%= @default_photo_identity_url.to_json.html_safe %>,
        SOUNDCLOUD_IDENTITY = <%=raw current_user.soundcloud_identity.to_json(:only => [:id]) %>,
        PHOTO_IDENTITY_URLS = [<%= @photo_identity_urls.join(',').html_safe %>],
        BOUNDS = <%= CONFIG.bounds ? raw(CONFIG.bounds.to_h.to_json) : "false" %>
  </script>
<% end %>
<div id="pageheader" class="column span-24">
  <div class="breadcrumbs">
    <%= link_to t(:back_to_observation), @observation, :class => 'back crumb' %>
  </div>
  <h2><%= t(:editing_observation_id, :obs_id=>"#{@observation.id }") %></h2>
</div>

<div class="column span-24">
  <%= form_for(@observation, :html => {:class => 'observationform', :multipart => true}) do %>
    <%= render(:partial => 'form_fields', :locals => {
      :observation => @observation,
      :i => @observation.id
    }) %>
    <% if current_user != @observation.user %>
      <%= hidden_field_tag "admin_action", "true" %>
    <% end %>
    <%= submit_tag(t(:save_observation), :class => 'default button', "data-loading-click" => true) %>
    <%= link_to(t(:cancel), session[:return_to], :class => 'button') %>
    <%= link_to t(:delete), @observation, 
                :data => {:confirm => t(:you_sure_delete_this_observation)}, 
                :method => :delete, 
                :id => "delete_observation_button", 
                :class => "minor delete button" %>
  <% end %>
</div>
