<% content_for(:title) do %><%=t :edit_a_batch_of_observations %><% end %>
<% content_for(:extracss) do %>
  <style type="text/css" media="screen">
    #pageheader p.description {margin-bottom: 0;}
  </style>
<% end -%>
<%= render :partial => "batch_head" %>
<div id="pageheader" class="column span-24">
  <div class="breadcrumbs">
    <%= link_to t(:back_to_your_observations), 
                observations_by_login_path(:login => current_user.login),
                :class => 'back crumb' %>
  </div><!-- /#breadcrumbs -->
  <div class="column span-24">
    <h2>
      <%=t :edit_a_batch_of_observations %>
    </h2>
  </div>
</div>

<div id="batchformcol" class="column span-24">
  <%= render :partial => 'batch_form_row' %>
</div>

<div id="batchcol" class="column span-24">
  <%= form_tag(
    {:controller => 'observations', :action => 'update'}, 
    :multipart => true,
    :class => 'observationform') do %>
    <div class="column span-24 headers">
      <div class="column span-1">
        &nbsp;
      </div>
      <div class="column span-7">
        <label><%=t :what %></label>
      </div>
      <div class="column span-7">
        <label><%=t :when %></label>
      </div>
      <div class="last column span-7">
        <label><%=t :where %></label>
      </div>
    </div>
    <%= render :partial => 'observations/observation_form_field_rows' %>
    <div class="column span-24">
      <div id="observation_form_links" class="buttonrow">
        <%= submit_tag t(:save_all), :class => 'default button', "data-loading-click" => true -%>
        <%= link_to t(:cancel), 
                    observations_by_login_path(:login => current_user.login),
                    :class => 'button' %>
      </div>
    </div>
  <% end %>
</div>

