<%- content_for(:title) do -%>
  <%= @pagetitle = t(:edit_photos_for_observation_id, :obs_id=>"#{@observation.id}")  %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .position, .photo {float: left; margin-right: 10px;}
    .position { width: 40px; }
    .position input { width: 30px; font-size: 100%; }
    .photo { width: 75px; }
    .header {
      border-bottom: 1px solid #eee;
      margin-bottom: 10px;
    }
  </style>
<%- end -%>

<div id="pageheader">
  <div class="breadcrumbs">
    <%= link_to t(:back_to_editing_observation), edit_observation_path(@observation), :class => 'back crumb' %>
  </div>
  <h2><%= @pagetitle %></h2>
  <div class="meta">
    <%= @observation.to_plain_s %>
  </div>
</div>
<%= form_tag update_observation_photos_path(@observation) do %>
<ul>
  <li class="clear header">
    <label class="position"><%=t :position %></label>
    <label class="photo"><%=t :photo %></label>
  </li>
  <% for op in @observation_photos %>
    <li class="clear">
      <%= fields_for "observation_photos[]", op do |f| %>
        <div class="position"><%= f.text_field :position %></div>
        <div class="photo"><%= f.label :position, image_tag(op.photo.square_url) %></div>
      <% end %>
    </li>
  <% end %>
</ul>
<%= submit_tag t(:update_photos), :class => "default button", "data-loading-click" => t(:saving) %>
<% end %>
