<% content_for(:title) do %>Edit a Batch of Observations<% end %>
<% content_for(:extracss) do %>
  <style type="text/css" media="screen">
    #pageheader p.description {
      margin-bottom: 0;
    }
  </style>
<% end -%>
<%= render :partial => "batch_head" %>
<div id="pageheader" class="column span-24">
  <div class="breadcrumbs">
    <%= link_to 'Back to your observations', 
                observations_by_login_path(:login => current_user.login),
                :class => 'back crumb' %>
  </div><!-- /#breadcrumbs -->
  <div class="column span-24">
    <h2>
      Edit a Batch of Observations
    </h2>
  </div>
</div>

<div id="batchformcol" class="column span-24">
  <%= render :partial => 'batch_form_row' %>
</div>

<div id="batchcol" class="column span-24">
  <% form_tag(
    {:controller => 'observations', :action => 'update'}, 
    :multipart => true,
    :class => 'observationform') do %>
    <div class="column span-24 headers">
      <div class="column span-1">
        &nbsp;
      </div>
      <div class="column span-7">
        <label>What</label>
      </div>
      <div class="column span-7">
        <label>When</label>
      </div>
      <div class="last column span-7">
        <label>Where</label>
      </div>
    </div>
    <%= render :partial => 'observations/observation_form_field_rows' %>
    <div class="column span-24">
      <div id="observation_form_links" class="buttonrow">
        <%= submit_tag "Save All", :class => 'default button', "data-loading-click" => true -%>
        <%= link_to 'Cancel', 
                    observations_by_login_path(:login => current_user.login),
                    :class => 'button' %>
      </div>
    </div>
  <% end %>
</div>

