<%= form_for @observation, :url => update_fields_observation_path(@observation) do |o| %>
  <% if @project -%>
    <div class="notice box">
      <strong><%= @project.title %></strong>
      would like you to fill out these fields.  Fields marked as "required" must 
      be filled out before you can add an observation to this project. Other fields are optional.
    </div>
    <%= hidden_field_tag :project_id, @project.id %>
    <% @project.project_observation_fields.each do |pof| %>
      <%- 
        ofv_object = @observation.observation_field_values.detect{|ofv| ofv.observation_field_id == pof.observation_field_id}
        ofv_object ||= o.object.observation_field_values.build(:observation_field => pof.observation_field)
      -%>
      <%= o.fields_for(:observation_field_values, ofv_object) do |ofv| %>
        <%= render 'observation_field_row', 
          :builder => ofv, 
          :removable => !pof.required, 
          :required => pof.required %>
      <% end -%>
    <% end -%>
  <% else %>
    <%= render "observations/observation_field_form_fields", :builder => o %>
  <% end -%>
  <%= hidden_field_tag :ignore_photos, 'true' %>
  <div class="required stacked">* <%=t :required %></div>
  <div class="buttonrow clear">
    <%= o.submit t(:save_fields), "data-loading-click" => t(:saving), :class => "default button" %>
  </div>
<% end -%>
