<% content_for(:title) do %><%= t :Needs_ID! %> <% end %>
<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'identifications',
                          'observations/filters',
                          'observations/id_please' %>
  <!--[if lt IE 7]>
    <%= stylesheet_link_tag 'observations-ie', 'blueprint/ie' %>
  <![endif]-->
  
  <style type="text/css" media="screen">
    #pageheader h2 {
      margin-bottom: 0.25em;
    }
    
    #filters_button {
      padding-left: 17px;
      padding-right: 10px;
      background: 7px 10px url(<%= image_path('toggle_arrow_right.png') %>) no-repeat;
      border: 1px solid transparent;
      background-color: white;
      outline: none;
    }

    #filters_button.open {
      background: 5px 12px url(<%= image_path('toggle_arrow_down.png') %>) no-repeat;
      border: 1px solid #eee;
      border-bottom: 1px solid white;
      padding-bottom: 17px;
      margin-bottom: -1px;
    }
    
    .toggle_button {
      display: block;
      font-weight: bold;
      padding-left: 13px;
      background: center left url(<%= image_path('toggle_arrow_right.png') %>) no-repeat;
    }
    
    .toggle_button.open {
      background: center left url(<%= image_path('toggle_arrow_down.png') %>) no-repeat;
    }
    
    .comment {
      padding: 0;
    }
    .comment .meta {
      float: none;
      width: auto;
    }
    
    .comment .body {
      padding: 0;
    }
    
    .comment .comment_actions {
      display: inline;
    }
    
    .button.remove {
      padding-left: 25px;
      background: 5px 50% url(<%= image_path('silk/cross.png') %>) no-repeat;
    }
    
    .column.photos img {
      max-width: 230px;
      margin-bottom: 10px;
    }
    
    .column.photos .other_photos img {
      margin: 0 10px 10px 0;
      max-width: 70px;
    }
    
    .column.photos .other_photos .modal_image_link.last img {
      margin-right: 0px;
    }
    
    .observations.mini .observation .photos {
      display: none;
    }
    
    .observations.mini .user,
    .observations.mini .observed_on,
    .observations.mini .created_at,
    .observations.mini .place {
      padding-left: 50px;
    }
    
    .observations.mini .user .label,
    .observations.mini .observed_on .label,
    .observations.mini .created_at .label,
    .observations.mini .place .label {
      left: 0px;
    }
    .observations.mini .actions,
    .observations.mini .details {
      padding-left: 0px;
    }
    
    .observations.mini .details {
      max-height: 245px;
      overflow: auto;
    }

    .observations.mini .species_guess {
      padding-left: 25px;
    }
    
    .identification_form_wrapper label {
      display: none;
    }
    
    #top_identifiers a .usericon {
      float: none;
      vertical-align: middle;
      margin-right: 0;
    }
    
    #intro p {
      margin-bottom: 0.5em;
    }
  </style>
<% end %>

<% content_for(:extrajs) do %>
  <%= google_maps_js %>
  <%= javascript_include_tag('map_bundle',
                             'observations/filters') %>
                             
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.observation .details').show()
      
      $('.identification_form_wrapper input.text').simpleTaxonSelector({
        buttonText: I18n.t('find'),
        afterSelect: function(wrapper) {
          $(wrapper).parents('form').find('.default.button').removeClass('disabled').attr('disabled', null);
        }
      })

      // Disable the submit button by default
      $('.identification_form_wrapper .default.button').addClass('disabled').attr('disabled', 'disabled')
      
      $('.agree.button a').click(function() {
        var that = this
        $.ajax($(this).attr('href'), {
          type: 'POST',
          dataType: 'JSON',
          beforeSend: function() {
            $(that).hide()
            var loading = $('<span>Loading...</span>').addClass('small pale inline loading status')
            $(that).parents('.agree:first').append(loading)
          }
        }).always(function() {
          $(that).show()
          $(that).siblings('.loading').remove()
        }).done(function(json, status, xhr) {
          var idents = $(that).parents('.identifications:first')
          var oldIdent = idents.find('.identification.yours')
          idents.find('.identifications-list').prepend(json.html)
          $('.identification .removelink', idents).data('remote', true)
          if (oldIdent) oldIdent.remove()
          $(that).parents('.identifications:first').find('.identification_form_wrapper').hide()
        }).fail(function(event, request, settings) {
          var json = eval('(' + request.responseText + ')')
          if (json.errors) {
            var errors = json.errors.join(', ')
            alert('Failed to save identification: ' + errors)
          }
        })
        return false
      })
      
      $('.identificationform').bind('ajax:success', function() {
        $('.identification .removelink').data('remote', true)
      })
      
      $('.identification .removelink').data('remote', true)
      $('.identification .removelink').live('ajax:before', function() {
        var ident = $(this).parents('.identification:first')
        var identifications = $(this).parents('.identifications:first')
        ident.fadeOut(function() {
          ident.remove()
          identifications.find('.identification_form_wrapper').fadeIn()
        })
      })
      
      $('.removeform').bind('ajax:before', function() {
        $(this).parents('.observation:first').slideUp('normal', function() {$(this).remove();})
      })

      $( ".reviewbutton" ).bind( "ajax:before", function( ) {
        // each click sets the opposite value for reviewed
        var currentReviewState = !$(this).data( "reviewed" );
        $(this).data( "reviewed", currentReviewState );
        // set the new label
        if( currentReviewState === true ) { $(this).text( $(this).data( "unreview-label" ) ); }
        else { $(this).text( $(this).data( "review-label" ) ); }
        // update the link to allow toggling reviewed back and forth
        $(this).attr( "href", $(this).attr( "href" ).
          replace( /reviewed=.*$/, "reviewed=" +  currentReviewState ));
      });
      $(".captivebutton").bind("ajax:before", function() {
        $(this).hide()
        $(this).siblings('.wildbutton').show()
      })
      $(".wildbutton").bind("ajax:before", function() {
        $(this).hide()
        $(this).siblings('.captivebutton').show()
      })
    })
  </script>

<% end %>

<div id="pageheader" class="column span-24">
  <h2>
    <%=t :Needs_ID! %>
  </h2>
  
  <div id="intro" class="column span-24">
    <p class="description">
      <%=raw t(:inspired_by_the_flickr_group) %>
    </p>
    
    <div id="top_identifiers">
      <div class="column" style="width: 100px; margin-right: 0">
        <strong><%=t :top_5_identifiers %>:</strong>
      </div>
      <% @top_identifiers.each_with_index do |user, i| %>
        <span style="white-space: nowrap">
          <%= link_to(image_tag(user.icon.url(:mini), :class => 'usericon'), 
            identifications_by_login_path(user.login)) %>
          <strong><%= link_to you_or_login(user, :capitalize => true), identifications_by_login_path(user.login) %></strong>
          <span class="count">(<%= number_with_delimiter(user.identifications_count) %>)</span><%= ',' unless i == @top_identifiers.size - 1 %>
        </span>
      <% end %>
    </div>
  </div>
  
  <div class="column span-24 upstacked">
    <div id="filters" class="clear"<% unless @filters_open %> style="display: none"<% end %>>
      <%= form_tag id_please_path, :method => :get do -%>
        <%= render :partial => 'filter_fields', :locals => {
          :selected_taxa => @iconic_taxa
        } %>
      <% end -%>
    </div>
  </div>
</div>

<div id="filters" style="display: none">
  <%= raw t(:view_unidentified_observations) %>
  <div id="place_filter" class="column span-8">
    <%=raw t(:from_anywhere_change) %>
  </div>
  <div id="observed_on_filter" class="column span-8">
    <%=raw t(:at_any_time_change) %>
  </div>
  <div id="taxon_filter" class="column span-8 last">
    <%=raw t(:of_anything_change) %>
  </div>
</div>

<div id="observations">
  <div id="column_headers" class="last column span-24">
    <div class="column span-12 guess_and_description">
      <%=t :guess_description %>
    </div>
    <div class="column span-6 where">
      <%=t :where %>
    </div>
    <div class="last column span-6 help_out">
      <%=t :help_out! %>
    </div>
  </div>
  <% if @observations.empty? %>
    <p class="description"><%=t :no_observations_need_an_id %> </p>
  <% end %>
  <% for observation in @observations %>
  <div id="observation-<%= observation.id %>" class="observation row column span-24 last">
    <div class="column span-<%= observation.photos.blank? && observation.sounds.blank? ? 12 : 6 %> guess_and_description">
      <div class="mini observations">
        <%= render :partial => "observations/cached_component", :object => observation %>
      </div>
    </div>
    <% if !observation.photos.blank? -%>
      <div class="photos column span-6">
        <%= render :partial => 'observations/photos', :object => observation %>
      </div>
    <% elsif !observation.sounds.blank? %>
      <div class="photos column span-6">
        <%- 
          sound = observation.sounds.first
          embed_link = "https://w.soundcloud.com/player/?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F#{sound.native_sound_id}&show_artwork=false&secret_token=#{sound.secret_token}" 
        -%>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="<%= embed_link%>" class="stacked"></iframe>
      </div>
    <% end -%>
    <div class="column span-6 where">
      <%- if observation.latitude && observation.longitude -%>
        <div id="observation-<%= observation.id %>-map" class="map">
        </div>
      <%- end -%>
      <div class="description">
        <%= render :partial => "location", :object => observation %>
        <% if observation.latitude and observation.longitude %>
          <script type="text/javascript" charset="utf-8">
            var observation_<%= observation.id %>_map = iNaturalist.Map.createMap({
              div: 'observation-<%= observation.id %>-map',
              lat: <%= observation.latitude %>, 
              lng: <%= observation.longitude %>, 
              zoom: 4,
              controls: 'none'});
            observation_<%= observation.id %>_map.addObservation(
              <%=json_escape observation.to_json(:include => {:user => {:only => :login}, :taxon => {}, :iconic_taxon => {}}).html_safe %>, 
              {clickable: false});
          </script>
        <% end %>
      </div>
    </div>
    <div class="last column span-6 help_out">
      <div class="identifications clear">
        <%-
          owners_ident = nil
          viewers_ident = nil
          other_idents = []
          observation.identifications.each do |i|
            if logged_in? && i.user_id == current_user.id
              viewers_ident = i
            elsif i.user_id == observation.user_id
              # owners_ident = i 
              next
            else
              other_idents << i
            end
          end
        -%>
        
        <div id="identification_form_wrapper-<%= observation.id %>" 
             class="identification_form_wrapper">
          <strong><%=t :suggest_an_id %></strong>
          <%= render :partial => 'identifications/identification_form',
                     :locals => { :observation => observation } %>
        </div>
        <%- if viewers_ident -%>
          <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
              $('#identification_form_wrapper-<%= observation.id %>').hide();
            });
          </script>
        <%- end -%>
        
        <div id="identifications-list-<%= observation.id %>" class="identifications-list">
          <% if viewers_ident -%>
            <%= render :partial => 'identifications/identification',
                       :locals => { :identification => viewers_ident } %>
          <% end -%>
          
          <% unless other_idents.empty? -%>
            <%= link_to_function("Show #{pluralize(other_idents.size, 'other ID')}", 
              "$(this).next('.other_ids').toggle(); $(this).toggleClass('open')", 
              :class => 'toggle_button') %>
            <div class="other_ids" style="display: none">
              <%= render :partial => "identifications/identification", 
                :collection => other_idents %>
            </div>
          <% end -%>
        </div>
      </div>
      
      <% if logged_in? && current_user == observation.user -%>
        <div class="clear">
          <%= form_for(observation, :remote => true, :html => {:class => "removeform"}) do |f| -%>
            <input type="hidden" name="observation[id_please]" value="false"/>
            <input type="hidden" name="ignore_photos" value="true"/>
            <%= f.submit t(:remove_from_id_please?), :class => 'minor button remove' %>
          <%- end -%>
        </div>
      <% end -%>

      <div class="inline buttonrow stacked">
        <label><%=t :mark_as %></label>
        <%= link_to review_observation_path( observation.id,
            reviewed: !(observation.reviewed_by?( current_user )), format: :json),
            method: :post,
            remote: true,
            class: 'reviewbutton button',
            data: {
              reviewed: observation.reviewed_by?( current_user ),
              review_label: t(:reviewed),
              unreview_label: t(:unreview) } do %>
          <%= observation.reviewed_by?( current_user ) ? t(:unreview) : t(:reviewed) %>
        <% end %>
        <%= link_to t(:captive), observation_quality_path(observation, :wild, agree: false, format: :json), remote: true, method: 'post', :class => "captivebutton button" %>
        <%= link_to t(:wild), observation_quality_path(observation, :wild, agree: true, format: :json), remote: true, method: 'post', :class => "wildbutton button", :style => "display: none;" %>
      </div>
      
      <div class="comments_wrapper">
        <% if observation.comments.empty? %>
          <p id="no_comments-<%= observation.id %>" class="description"><%=t :no_comments_yet %></p>
          <div class="comments" style="display: none"></div>
        <% else %>
          <%= link_to_function("Show #{pluralize(observation.comments.size, 'comment')}", 
            "$(this).next('.comments').toggle(); $(this).toggleClass('open')",
            :class => 'toggle_button commentstoggle') %>
          <div class="comments" style="display: none">
            <%= render :partial => "comments/comment",
                       :collection => observation.comments.all %>
          </div>
        <% end %>
        <%= link_to_function(t(:leave_a_comment), 
          "$(this).next('.comment_form_wrapper').toggle(); $(this).toggleClass('open')", 
          :class => 'toggle_button') %>
        <div class="comment_form_wrapper" style="display: none">
          <%= render :partial => 'comments/comment_form', 
                     :locals => { 
                       :remote => true,
                       :comment => Comment.new(:parent => observation, 
                                               :user => @user) } %>
        </div>
      </div><!-- end comments_wrapper -->
    </div><!-- end help_out -->
  </div>
  <% end %>
</div>

<div id="pagination">
  <%= will_paginate @observations, :renderer => INatLinkRenderer %>
</div>
