<% content_for(:title) do %>ID Please!<% end %>
<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'identifications',
                          'observations/filters',
                          'observations/id_please' %>
  <!--[if lt IE 7]>
    <%= stylesheet_link_tag 'observations-ie', 'blueprint/ie' %>
  <![endif]-->
  
  <style type="text/css" media="screen">
    #pageheader h2 {
      margin-bottom: 0.25em;
    }
    
    #filters_button {
      padding-left: 17px;
      padding-right: 10px;
      background: 7px 10px url('/images/toggle_arrow_right.png') no-repeat;
      border: 1px solid transparent;
      background-color: white;
      outline: none;
    }

    #filters_button.open {
      background: 5px 12px url('/images/toggle_arrow_down.png') no-repeat;
      border: 1px solid #eee;
      border-bottom: 1px solid white;
      padding-bottom: 17px;
      margin-bottom: -1px;
    }
    
    .toggle_button {
      display: block;
      font-weight: bold;
      padding-left: 13px;
      background: center left url('/images/toggle_arrow_right.png') no-repeat;
    }
    
    .toggle_button.open {
      background: center left url('/images/toggle_arrow_down.png') no-repeat;
    }
    
    .comment {
      padding: 0;
      padding-left: 13px;
    }
    .comment .meta {
      float: none;
      width: auto;
    }
    
    .comment .body {
      padding: 0;
    }
    
    .comment .comment_actions {
      display: inline;
    }
    
    .button.remove {
      padding-left: 25px;
      background: 5px 50% url('/images/silk/cross.png') no-repeat;
    }
    
    .column.photos img {
      max-width: 230px;
      margin-bottom: 10px;
    }
    
    .column.photos .other_photos img {
      margin: 0 10px 10px 0;
      max-width: 70px;
    }
    
    .column.photos .other_photos .modal_image_link.last img {
      margin-right: 0px;
    }
    
    .observations.mini .observation .photos {
      display: none;
    }
    
    .observations.mini .user,
    .observations.mini .observed_on,
    .observations.mini .created_at,
    .observations.mini .place {
      padding-left: 50px;
    }
    
    .observations.mini .user .label,
    .observations.mini .observed_on .label,
    .observations.mini .created_at .label,
    .observations.mini .place .label {
      left: 0px;
    }
    .observations.mini .actions,
    .observations.mini .details {
      padding-left: 0px;
    }
    
    .observations.mini .details {
      max-height: 245px;
      overflow: auto;
    }

    .observations.mini .species_guess {
      padding-left: 25px;
    }
    
    .identification_form_wrapper label {
      display: none;
    }
    
    #top_identifiers a .usericon {
      float: none;
      vertical-align: middle;
      margin-right: 0;
    }
    
    #intro p {
      margin-bottom: 0.5em;
    }
  </style>
<% end %>

<% content_for(:extrajs) do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag('jquery/plugins/jqModal',
                             'modal_image',
                             'inaturalist/map3',
                             'observations/filters') %>
                             
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.observation .details').show();
      
      $('.identification_form_wrapper input.text').simpleTaxonSelector({
        buttonText: 'Find',
        afterSelect: function(wrapper) {
          $(wrapper).parents('form').find('.default.button').removeClass('disabled').attr('disabled', null);
        }
      });

      // Disable the submit button by default
      $('.identification_form_wrapper .default.button').addClass('disabled').attr('disabled', 'disabled');
    });
  </script>

<% end %>

<div id="pageheader" class="column span-24">
  <h2>
    ID Please!
  </h2>
  
  <div id="intro" class="column span-13">
    <p class="description">
      Inspired by the Flickr group <a
      href="http://flickr.com/groups/idplease/">ID Please</a>, this is a place
      to post observations of things you don't know, and to help people identify
      mysterious creatures!
    </p>
    
    <div id="top_identifiers">
      <div class="column" style="width: 100px; margin-right: 0">
        <strong>Top 5 identifiers:</strong>
      </div>
      <div class="last column" style="width: 410px">
        <% for user in @top_identifiers %>
          <span style="white-space: nowrap">
            <%= link_to(image_tag(user.icon.url(:mini), :class => 'usericon'), 
              identifications_by_login_path(user.login)) %>
            <strong><%= link_to you_or_login(user, :capitalize => true), identifications_by_login_path(user.login) %></strong>
            <span class="count">(<%= number_with_delimiter(user.identifications_count) %>)</span><%= ',' if user == @top_identifiers.last %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="column span-11 last">
    <div class="box">
      Remember, it's a lot easier to ID something if you provide as much
      descriptive information as possible. Most importantly, please provide a
      <strong>place</strong>, a <strong>date/time</strong>, and some information
      about the <strong>size</strong>.
    </div>
  </div>
  
  <div class="column span-24">
    <div class="buttonrow">
      <%= link_to "Add a New Observation to ID Please!",
        new_observation_path(:id_please => true), :class => "default button", 
        :rel => 'nofollow' %>
      <%= link_to_function("Filters", 
        "$('#filters').toggle(); $(this).toggleClass('open'); $('#filters:visible input[name=filters_open]').val(true); $('#filters:hidden input[name=filters_open]').val(false);", 
        :id => 'filters_button', 
        :class => "inter#{' open' if @filters_open}") %>
    </div>
    <div id="filters" class="clear"<% unless @filters_open %> style="display: none"<% end %>>
      <% form_tag id_please_path, :method => :get do -%>
        <%= render :partial => 'filter_fields', :locals => {
          :selected_taxa => @iconic_taxa
        } %>
      <% end -%>
    </div>
  </div>
</div>

<div id="filters" style="display: none">
  View unidentified observations...
  <div id="place_filter" class="column span-8">
    from anywhere (<span class="button">change</span>)
  </div>
  <div id="observed_on_filter" class="column span-8">
    at any time (<span class="button">change</span>)
  </div>
  <div id="taxon_filter" class="column span-8 last">
    of anything (<span class="button">change</span>)
  </div>
</div>

<div id="observations">
  <div id="column_headers" class="last column span-24">
    <div class="column span-12 guess_and_description">
      Guess / Description
    </div>
    <div class="column span-6 where">
      Where
    </div>
    <div class="last column span-6 help_out">
      Help Out!
    </div>
  </div>
  <% if @observations.empty? %>
    <p class="description">No observations need an ID right now.  Amazing!</p>
  <% end %>
  <% for observation in @observations %>
  <div id="observation-<%= observation.id %>" class="observation row column span-24 last">
    <div class="column span-<%= observation.photos.empty? ? 12 : 6 %> guess_and_description">
      <div class="mini observations">
        <%= render :partial => "observations/cached_component", :object => observation %>
      </div>
    </div>
    <% unless observation.photos.empty? -%>
      <div class="photos column span-6">
        <%= render :partial => 'observations/photos', :object => observation %>
      </div>
    <% end -%>
    <div class="column span-6 where">
      <%- if observation.latitude && observation.longitude -%>
        <div id="observation-<%= observation.id %>-map" class="map">
        </div>
      <%- end -%>
      <div class="description">
        <%= render :partial => "location", :object => observation %>
        <% if observation.latitude and observation.longitude %>
          <script type="text/javascript" charset="utf-8">
            var observation_<%= observation.id %>_map = iNaturalist.Map.createMap({
              div: 'observation-<%= observation.id %>-map',
              lat: <%= observation.latitude %>, 
              lng: <%= observation.longitude %>, 
              zoom: 4,
              controls: 'none'});
            observation_<%= observation.id %>_map.addObservation(
              <%= observation.to_json(:include => {:user => {:only => :login}, :taxon => {}, :iconic_taxon => {}}) %>, 
              {clickable: false});
          </script>
        <% end %>
      </div>
    </div>
    <div class="last column span-6 help_out">
      <div class="identifications clear">
        <%-
          owners_ident = nil
          viewers_ident = nil
          other_idents = []
          observation.identifications.each do |i|
            if logged_in? && i.user_id == current_user.id
              viewers_ident = i
            elsif i.user_id == observation.user_id
              # owners_ident = i 
              next
            else
              other_idents << i
            end
          end
        -%>
        
        <div id="identification_form_wrapper-<%= observation.id %>" 
             class="identification_form_wrapper">
          <strong>Suggest an ID</strong>
          <%= render :partial => 'identifications/identification_form',
                     :locals => { :observation => observation, :remote_actions => true }%>
        </div>
        <%- if viewers_ident -%>
          <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
              $('#identification_form_wrapper-<%= observation.id %>').hide();
            });
          </script>
        <%- end -%>
        
        <div id="identifications-list-<%= observation.id %>" class="identifications-list">
          <% if viewers_ident -%>
            <%= render :partial => 'identifications/identification',
                       :locals => { :identification => viewers_ident, :remote_actions => true } %>
          <% end -%>
          
          <% unless other_idents.empty? -%>
            <%= link_to_function("Show #{pluralize(other_idents.size, 'other ID')}", 
              "$(this).next('.other_ids').toggle(); $(this).toggleClass('open')", 
              :class => 'toggle_button') %>
            <div class="other_ids" style="display: none">
              <%= render :partial => "identifications/identification", 
                :collection => other_idents, 
                :locals => {
                  :remote_actions => true
                } %>
            </div>
          <% end -%>
        </div>
      </div>
      
      <% if logged_in? && current_user == observation.user -%>
        <% remote_form_for(observation,
          :loading => "$('#observation-#{observation.id}').slideUp('normal', function() {$(this).remove();})"
        ) do |f| -%>
          <input type="hidden" name="observation[id_please]" value="false"/>
          <input type="hidden" name="ignore_photos" value="true"/>
          <%= f.submit "Remove from ID Please?", :class => 'minor button remove' %>
        <%- end -%>
      <% end -%>
      
      <div class="comments_wrapper">
        <% if observation.comments.empty? %>
          <p id="no_comments-<%= observation.id %>" class="description">No comments yet.</p>
          <div class="comments" style="display: none"></div>
        <% else %>
          <%= link_to_function("Show #{pluralize(observation.comments.size, 'comment')}", 
            "$(this).next('.comments').toggle(); $(this).toggleClass('open')",
            :class => 'toggle_button') %>
          <div class="comments" style="display: none">
            <%= render :partial => "comments/comment",
                       :collection => observation.comments.all %>
          </div>
        <% end %>
        <%= link_to_function('Leave a comment', 
          "$(this).next('.comment_form_wrapper').toggle(); $(this).toggleClass('open')", 
          :class => 'toggle_button') %>
        <div class="comment_form_wrapper" style="display: none">
          <%= render :partial => 'comments/comment_form', 
                     :locals => { 
                       :remote => true,
                       :comment => Comment.new(:parent => observation, 
                                               :user => @user) } %>
        </div>
      </div><!-- end comments_wrapper -->
    </div><!-- end help_out -->
  </div>
  <% end %>
</div>

<div id="pagination">
  <%= will_paginate @observations, :renderer => INatLinkRenderer %>
</div>
