- @no_footer_gap = true
- content_for :title do
  = I18n.t :identify_title
- content_for :extrajs do
  :javascript
    var OFFICIAL_APP_IDS = #{ [OauthApplication.inaturalist_android_app&.id, OauthApplication.inaturalist_iphone_app&.id, OauthApplication.seek_app&.id].compact.to_json };
    var RECENT_OBSERVATION_FIELDS = #{ logged_in? ? current_user.recent_observation_fields.to_json(
      only: [:id, :name, :description, :datatype, :allowed_values, :values_count]).html_safe : "[]" };
    if ( typeof( CURRENT_USER ) !== undefined ) {
      CURRENT_USER.prefers_identify_side_bar = #{logged_in? && current_user.prefers_identify_side_bar};
      CURRENT_USER.preferred_identify_image_size = #{logged_in? && current_user.preferred_identify_image_size ? current_user.preferred_identify_image_size.inspect.html_safe : "null"};
      CURRENT_USER.curator_projects = #{current_user.project_users.curator_privilege.includes(:project).map{|pu| { id: pu.project_id, slug: pu.project.slug } }.to_json.html_safe};
    }
  = javascript_include_tag "webpack/runtime-webpack"
  = javascript_include_tag "webpack/react-main-webpack"
  = javascript_include_tag "webpack/react-image-gallery-webpack"
  = javascript_include_tag "webpack/user-text-webpack"
  = javascript_include_tag "webpack/observations-identify-webpack"
- content_for :extracss do
  = stylesheet_link_tag "observations/identify"
  :css
    /* a truly shameful hack for a truly shameful browser named safari */
    _::-webkit-full-page-media, _:future, :root .ObservationModal .image-gallery,
    _::-webkit-full-page-media, _:future, :root .ObservationModal .image-gallery-content,
    _::-webkit-full-page-media, _:future, :root .ObservationModal .image-gallery-content,
    _::-webkit-full-page-media, _:future, :root .ObservationModal .image-gallery-slide-wrapper,
    _::-webkit-full-page-media, _:future, :root .ObservationModal .image-gallery-swipe,
    _::-webkit-full-page-media, _:future, :root .ObservationModal .image-gallery-slides,
    _::-webkit-full-page-media, _:future, :root .ObservationModal .image-gallery-slide,
    _::-webkit-full-page-media, _:future, :root .ObservationModal .easyzoom,
    _::-webkit-full-page-media, _:future, :root .ObservationModal .easyzoom > a,
    _::-webkit-full-page-media, _:future, :root .ObservationModal .easyzoom > a img {
      flex: 2;
    }
    _::-webkit-full-page-media, _:future, :root .ObservationModal .easyzoom > a img {
      max-height: 70%;
    }
#app
