<% content_for(:title) do -%>Import Observations<% end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'observations/new', 
                          "jquery/ui.tabs.css" %>
  <style type="text/css" media="screen">
    #pageheader p{margin-bottom:0;}
    #tabs div .description.readable{margin-bottom:10px;}
    .buttonrow label{padding-top:9px;}
    .buttonrow label,
    .buttonrow .button,
    .buttonrow .text{margin-bottom:0;}
    #csv_import .description table td,
    #csv_import .description table th{border:1px solid #ddd;border-left:0 none;padding:0.5em;}
    #csv_import .description table th:first-child,
    #csv_import .description table td:first-child{border:1px solid #ddd;}
    #csv_import .description code{display:block;overflow:auto;font-size:larger;}
  </style>
<% end -%>
<% content_for(:extrajs) do -%>
  <%= javascript_include_tag "jquery/plugins/inat/photo_selectors.js" %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#tabs').tabs();
      
      $('#photos').photoSelector({
        <%- if @default_photo_identity_url -%>
          baseURL: <%= @default_photo_identity_url.inspect %>,
        <%- end -%>
        <%- unless @photo_identity_urls.blank? %>
          urls: [<%= @photo_identity_urls.join(', ') %>],
        <% end -%>
        skipLocal: true,
        urlParams: {
          authenticity_token: AUTH_TOKEN,
          limit: 24
        }
      });
    });
  </script>
<% end -%>
<div id="pageheader" class="column span-24">
  <div class="column span-12">
    <h2>Import Observations</h2>
  </div>
  <div class="last column span-12">
    <%= render :partial => 'new_nav' %>
  </div>
  <div class="column span-24">
    <p class="description">
      Got your data somewhere else?  We can help.
    </p>
  </div>
</div>

<div class="column span-24">
  <div id="tabs" class="ui-tabs">
    <ul>
      <li><a href="#photo_import"><span>Import from Photos</span></a></li>
      <li><a href="#csv_import"><span>Import from CSV</span></a></li>
    </ul>
    
    <div id="photo_import">
      <% if current_user.flickr_identity || current_user.picasa_identity || current_user.facebook_identity %>      
        <% form_tag({:action => 'import_photos'}) do %>
        
          <div class="readable description">
            Select photos from your photo stream to convert into iNaturalist
            observations. We'll fill in the date, time, and location from a
            photo's metadata, and try to look up species names from the tags.
          </div>
          <div id="photos" class="clear stacked"></div>
          <%= submit_tag("Import photos", :class => 'default button', "data-loading-click" => "Importing...") %>
        <% end %>
      <% else %>
        <div class="notice">
          You'll need to link
          <%= link_to('your Flickr account', :controller => 'flickr', :action => 'link') %> or
          <%= link_to('your Picasa account', :controller => 'picasa', :action => 'options') %>
          before importing photos.
        </div>
      <% end %>
    </div>

    <div id="csv_import">
      <div class="readable description">
        Upload a CSV file with observation data. If you have your data in a
        spreadsheet or database, this is probably the way to go.
      </div>
      
      <div class="box">
        <% form_tag(new_observation_batch_csv_path, 
            :id => 'new_batch_form', 
            :class => 'clear observationform', 
            :multipart => true) do %>
          <div class="buttonrow">
            <label for="upload_file">Upload CSV file</label>
            <%= file_field 'upload', 'datafile', :class => 'text' %>
            <%= submit_tag "Upload", :class => 'default button', "data-loading-click" => "Importing..." %>
          </div>
        <% end %>
      </div>
      
      <div class="description">
        <h3>Rules &amp; Formatting</h3>
        <ol>
          <li>No header row</li>
          <li>Only files with 100 rows at a time, please</li>
          <li>Surround any cells containing commas with double quotes</li>
          <li>Don't use double quotes anywhere else</li>
          <li>
            <p class="ui">We can only understand CSV in the following format:</p>
            <table cellspacing="0" border="0" cellpadding="0">
              <tr>
                <th>Taxon name</th>
                <th>Date observed</th>
                <th>Description</th>
                <th>Place name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Tags</th>
              </tr>
              <tr>
                <td>text</td>
                <td>YYYY-MM-DD HH:MM</td>
                <td>text (if it contains commas, enclose in double quotes)</td>
                <td>text</td>
                <td>dd.dddd</td>
                <td>dd.dddd</td>
                <td>text</td>
              </tr>
            </table>

            <p class="ui">Here are 3 examples of well-formed data:</p>
            
<code>Anna's Hummingbird,2008-03-03 2:54pm,"An aggressive male dive-bombed my head, so I took cover.","Tilden Regional Park, Berkeley, CA, USA",37.8953,-122.249,"attack, danger"
Sharp-tailed Snake,2007-08-20,"Beautiful little creature","Leona Canyon Regional Park, Oakland, CA, USA",37.7454,-122.111,"cute, snakes"
Golden Eagle,,"I'm not really sure when or where this was",,,,"mysterious"</code>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
