<% content_for(:title) do -%><%=t :import_observations %><% end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'observations/new', 
                          "jquery/ui.tabs.css",
                          "jquery/ui.accordion.css" %>
  <style type="text/css" media="screen">
    #pageheader p{margin-bottom:0;}
    #tabs div .description.readable{margin-bottom:10px;}
    .buttonrow label{padding-top:9px;}
    .buttonrow label,
    .buttonrow .button,
    .buttonrow .text{margin-bottom:0;}
    #csv_import .description table td,
    #csv_import .description table th{border:1px solid #ddd;border-left:0 none;padding:0.5em;}
    #csv_import .description table th:first-child,
    #csv_import .description table td:first-child{border:1px solid #ddd;}
    #csv_import .description code{display:block;overflow:auto;font-size:larger;}
  </style>
<% end -%>
<% content_for(:extrajs) do -%>
  <%= javascript_include_tag "jquery/plugins/inat/photo_selectors.js", "jquery/plugins/inat/sound_selectors.js" %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect.html_safe};" if protect_against_forgery? %>
  <script type="text/javascript" charset="utf-8">
    var SOUNDCLOUD_IDENTITY = <%=raw current_user.soundcloud_identity.to_json(:only => [:id]) %>
    function getURLParameter(name) {
      return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
    }

    $(document).ready(function() {
      var tab_options = {};
      var select_tab = getURLParameter('tab');
      if (select_tab) {
        tab_options.active = select_tab;
      }
      $('#tabs').tabs(tab_options);
      $('#accordion').accordion({ collapsible: true, header: 'h3', heightStyle: 'content' });

      $('#upload_project_id').on('change', function(e) {
        var project_id = e.currentTarget[e.currentTarget.selectedIndex].value;
        if (project_id != '') {
          window.location = "/observations/import?project_id=" + project_id + "&tab=2";
        }
        else {
          window.location = "/observations/import?tab=2";
        }
      });
      
      $('#photos').photoSelector({
        <%- if @default_photo_identity_url -%>
          baseURL: <%= @default_photo_identity_url.inspect.html_safe %>,
        <%- end -%>
        <%- unless @photo_identity_urls.blank? %>
          urls: [<%= @photo_identity_urls.join(', ').html_safe %>],
        <% end -%>
        skipLocal: true,
        urlParams: {
          authenticity_token: AUTH_TOKEN,
          limit: 30
        }
      });
      if (SOUNDCLOUD_IDENTITY) {
        $('#sounds').soundSelector({limit: 30})
      }
    })
  </script>
<% end -%>
<div id="pageheader" class="column span-24">
  <div class="column span-12">
    <h2><%=t :import_observations %></h2>
  </div>
  <div class="last column span-12">
    <%= render :partial => 'new_nav' %>
  </div>
  <div class="column span-24">
    <p class="description">
      <%=t :got_your_data_somewhere_else? %>
    </p>
  </div>
</div>

<div class="column span-24">
  <div id="tabs" class="ui-tabs">
    <ul>
      <li><a href="#photo_import"><span><%=t :import_from_photos %></span></a></li>
      <li><a href="#csv_import"><span><%=t :import_from_csv %></span></a></li>
      <li><a href="#bulk_import"><span>Bulk CSV Import</span></a></li>
      <li><a href="#sound_import"><span><%=t :'sounds.import_from_sounds' %></span></a></li>
    </ul>
    
    <div id="photo_import">
      <% if current_user.flickr_identity || current_user.picasa_identity || current_user.facebook_identity %>      
        <%= form_tag({:action => 'import_photos'}) do %>
        
          <div class="readable description">
            <%=t :select_photos_from_your_photo_stream, :site_name => SITE_NAME %>
          </div>
          <div id="photos" class="clear stacked"></div>
          <%= submit_tag(t(:import_photos), :class => 'default button', "data-loading-click" => t(:importing)) %>
        <% end %>
      <% else %>
        <div class="notice">
          <%=t :youll_need_to_link %>
          <%= link_to(t(:your_flickr_account), :controller => 'flickr', :action => 'options') %> <%=t :or %>
          <%= link_to(t(:your_picasa_account), :controller => 'picasa', :action => 'options') %>
          <%=t :before_importing_photos %>
        </div>
      <% end %>
    </div>

    <div id="sound_import">
      <% if current_user.soundcloud_identity %>      
        <%= form_tag({:action => 'import_sounds'}) do %>
          <div class="readable description">
            <%=t :'sounds.import_from_soundcloud_description' %>
          </div>
          <div id="sounds" class="clear stacked"></div>
          <%= submit_tag(t(:'sounds.import_sounds'), :class => 'default button', "data-loading-click" => t(:importing)) %>
        <% end %>
      <% else %>
        <div class="notice">
          <%=t :youll_need_to_link %>
          <%= link_to(t(:'sounds.your_soundcloud_account'), '/auth/soundcloud') %> 
          <%=t :'sounds.before_importing_sounds' %>
        </div>
      <% end %>
    </div>

    <div id="csv_import">
      <div class="readable description">
        <%=t :upload_a_csv_file_with_observation %>
      </div>
      
      <div class="box">
        <%= form_tag(new_observation_batch_csv_path, 
            :id => 'new_batch_form', 
            :class => 'clear observationform', 
            :multipart => true) do %>
          <div class="buttonrow">
            <label for="upload_file"><%= t :upload_a_csv_file %></label>
            <%= file_field 'upload', 'datafile', :class => 'text' %>
            <%= submit_tag t(:upload), :class => 'default button', "data-loading-click" => t(:importing) %>
          </div>
        <% end %>
      </div>
      
      <div class="description">
        <h3><%= raw t(:rules_and_formatting) %></h3>
        <ol>
          <li><%=t :no_header_row %></li>
          <li><%=t :only_files_with_100_rows_at_a_time %></li>
          <li><%=t :surround_any_cells_containing_commas %> </li>
          <li><%=t :dont_use_double_quotes %> </li>
          <li>
            <p class="ui"><%=t :we_can_only_understand_csv_in %>:</p>
            <table cellspacing="0" border="0" cellpadding="0">
              <tr>
                <th><%=t :taxon_name %></th>
                <th><%=t :date_observed %></th>
                <th><%=t :description %></th>
                <th><%=t :place_name %></th>
                <th><%=t :latitude %></th>
                <th><%=t :longitude %></th>
                <th><%=t :tags %></th>
              </tr>
              <tr>
                <td>text</td>
                <td>YYYY-MM-DD HH:MM</td>
                <td>text (if it contains commas, enclose in double quotes)</td>
                <td>text</td>
                <td>dd.dddd</td>
                <td>dd.dddd</td>
                <td>text</td>
              </tr>
            </table>

            <p class="ui"><%=t :here_are_3_examples %>:</p>
            
<code>Anna's Hummingbird,2008-03-03 2:54pm,"An aggressive male dive-bombed my head, so I took cover.","Tilden Regional Park, Berkeley, CA, USA",37.8953,-122.249,"attack, danger"
Sharp-tailed Snake,2007-08-20,"Beautiful little creature","Leona Canyon Regional Park, Oakland, CA, USA",37.7454,-122.111,"cute, snakes"
Golden Eagle,,"I'm not really sure when or where this was",,,,"mysterious"</code>
          </li>
        </ol>
      </div>
    </div>

    <div id="bulk_import">
      <div class="readable description">
        <p>Upload a larger CSV file with observation data. This is similar to the CSV upload option,
        except that this allows a larger data set (10,000 rows) to be imported. This is also done
        as a background process, and you will be sent an email on completion.</p>
        <% if @project %>
        <p>There is a template file for this project that may help you with the structure of the CSV file - <%= link_to("Download template", project_bulk_template_path(@project)) %></p>
        <% end %>
        <p>For more detailed help on this process, <%= link_to("click here", '/pages/bulk_import') %></p>
      </div>

      <div class="column" style="float:none">
        <%= form_tag(new_observation_bulk_csv_path,
                     :id => 'new_bulk_form',
                     :class => 'clear observationform',
                     :multipart => true) do %>
          <div class="column field span-16">
            <div class="column span-4">
              <h3><label for="upload_file">Upload CSV file</label></h3>
            </div>
            <div class="last column span-12">
              <%= file_field 'upload', 'datafile', :class => 'text' %>
            </div>
          </div>
          <div class="column field span-16">
            <div class="column span-4">
              <h3><label for="project">Add to Project</label></h3>
            </div>
            <div class="last column span-12">
              <%= select 'upload', :project_id, @projects.collect { |p| [p.title, p.id] }, { :include_blank => 'None', :selected => (params[:project_id].to_i > 0 ? params[:project_id] : nil) } %>
            </div>
          </div>
          <% if CONFIG.coordinate_systems -%>
            <div class="column field span-16">
              <div class="column span-4">
                <h3><label for="project">Coordinate System</label></h3>
              </div>
              <div class="last column span-12">
                <%= select 'upload', :coordinate_system, { 'WGS84' => 'wgs84' }.update(coordinate_system_select_options) %>
                <span class="coords_tip_target helptip" rel="#coords_tip"></span><div id="coords_tip" style="display:none">
                  <p>A variety of different coordinate systems are used in NZ. The most common NZ-specific systems are NZMG and NZTM2000. NZMG, the New Zealand Map Grid, is the system used by the the old NZMS260 topomap series. NZTM2000, the NZ Transverse Mercator 2000, is the new and improved version of this that is used by current topomaps. If your coordinates are from a GPS unit, check its settings for the name of the coordinate system it is using.</p>
                  <p>When you provide coordinates representing a location, we need to know which coordinate system is used, to be able to interpret them correctly. Please be certain you have chosen the correct coordinate system for your data or the location may finish up a long way from where it should be.</p>
                </div>
              </div>
            </div>
          <% end -%>
          <div class="column span-16">
            <div class="buttonrow">
              <%= submit_tag "Upload", :class => 'default button', "data-loading-click" => "Importing..." %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="description">
        <div id="accordion">
          <h3 style="margin-top:10px; border-color: #DDD;">Rules &amp; Formatting</h3>
          <div>
            <ol>
              <li>A header row must be included.</li>
              <li>At most 10,000 rows per file, please.</li>
              <li>Make sure it is a well formed CSV file - an export from any spreadsheet application (eg Microsoft Excel, LibreOffice Calc) should provide this.</li>
              <li>The file must be comma-separated - a tab-separated file will not work.</li>
              <li>Only one coordinate system can be used per file, otherwise incorrect conversion or display will occur.</li>
              <li>
                <p class="ui">We can only understand CSV in the following format:</p>
                <table cellspacing="0" border="0" cellpadding="0">
                  <tr>
                    <th>Field Name</th>
                    <th>Field Type</th>
                    <th>Value Format</th>
                  </tr>
                  <tr>
                    <td>Species guess</td>
                    <td>text</td>
                    <td><%= field_value_example('text') %></td>
                  </tr>
                  <tr>
                    <td>Date observed</td>
                    <td>date and time</td>
                    <td><%= field_value_example('datetime') %></td>
                  </tr>
                  <tr>
                    <td>Description</td>
                    <td>text</td>
                    <td><%= field_value_example('text') %></td>
                  </tr>
                  <tr>
                    <td>Place name</td>
                    <td>text</td>
                    <td><%= field_value_example('text') %></td>
                  </tr>
                  <tr>
                    <td>Latitude or Northing</td>
                    <td>coordinate</td>
                    <td><%= field_value_example('latitude') %></td>
                  </tr>
                  <tr>
                    <td>Longitude or Easting</td>
                    <td>coordinate</td>
                    <td><%= field_value_example('longitude') %></td>
                  </tr>
                  <tr>
                    <td>Tags</td>
                    <td>text</td>
                    <td><%= field_value_example('text') %></td>
                  </tr>
                  <tr>
                    <td>Geoprivacy</td>
                    <td>list</td>
                    <td>Leave blank for 'open' or one of <%= Observation::GEOPRIVACIES.join(', ') %></td>
                  </tr>
                </table>

                <% if @project %>
                  <p class="ui">If a project has custom fields, add these to the end of each row, in the following order.</p>
                  <% @project_templates.each do |project, project_fields| %>
                    <% unless project_fields.empty? %>
                    <p class="ui">For <strong><%= project %></strong>:</p>
                    <table cellspacing="0" border="0" cellpadding="0">
                      <tr>
                        <th>Field Name</th>
                        <th>Field Type</th>
                        <th>Value Format</th>
                      </tr>
                      <% project_fields.each do |field| %>
                      <tr>
                        <td><%= field.name %></td>
                        <td><%= field.datatype %></td>
                        <td><%= field_value_example(field.datatype, field.allowed_values, field.id) %></td>
                      </tr>
                      <% end %>
                    </table>
                    <% end %>
                  <% end %>
                <% end %>
              </li>
            </ol>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
