<% content_for(:title) do %>
Observations by Everyone
<% end %>

<% content_for(:extracss) do %>
<%= stylesheet_link_tag 'observations/filters', 'observations/index' %>
<!--[if lte IE 7]>
  <%= stylesheet_link_tag 'observations-ie', 'observations/index-ie' %>
<![endif]-->
<% end %>

<% content_for(:extrajs) do %>
  <%= javascript_include_tag "observations/filters", "observations/map" %>
<% end %>

<%= render :partial => 'map_header', :locals => {
  :title => "Observations by Everyone"
} %>

<div class="last clear column span-24">
  <%= render :partial => 'map' %>
</div>

<div id="pagination" class="last column span-24">
  <% if logged_in? -%>
    <%= form_for :preferences, :url => url_for, :html => {:style => "float: left", :method => :get} do |f| %>
      <%= hidden_fields_for_params(:without => [:per_page, :page, :preferences]) %>
      <%= f.label :per_page %>
      <%= f.select :per_page, ApplicationController::PER_PAGES, 
        {:selected => @prefs["per_page"].to_i}, :onchange => "$(this).parents('form:first').submit()" %>
    <% end %>
  <% end -%>
  <div id="feeds" class="clear right small ui description feeds">
    <%= render :partial => 'feed_links' %>
  </div>
  <%= will_paginate @observations, :renderer => INatLinkRenderer %>
</div>
