<% content_for(:title) do %>
Observations by Everyone
<% end %>

<% content_for(:extracss) do %>
<%= stylesheet_link_tag 'observations/filters', 'observations/index' %>
<!--[if lte IE 7]>
  <%= stylesheet_link_tag 'observations-ie', 'observations/index-ie' %>
<![endif]-->
<% end %>

<% content_for(:extrajs) do %>
  <%= javascript_include_tag "observations/filters", "observations/map" %>
<% end %>

<%= render :partial => 'map_header', :locals => {
  :title => "Observations by Everyone"
} %>

<div class="last clear column span-24">
  <%= render :partial => 'map' %>
</div>

<div id="pagination" class="last column span-24">
  <div id="feeds" class="clear right small ui description feeds">
    <%= render :partial => 'feed_links' %>
  </div>
  <%= will_paginate @observations, :renderer => INatLinkRenderer %>
</div>
