<%- content_for(:title) do -%>
  <%= @title = "Observations by everyone" %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "observations" %>
<%- end -%>
<h2><%= @title %></h2>

<div class="compact mini observations">
  <% in_format :html do %>
    <% if @observations.blank? -%>
      <div class="meta nocontent">
        No matching observations.
      </div>
    <% else %>
      <%= render :partial => "observations/cached_component", :collection => @observations %>
    <% end -%>
  <% end -%>
</div>
foo
<%= will_paginate @observations, :renderer => INatLinkRenderer %>
