<%- content_for(:title) do -%>
  <%=t :add_a_batch_of_observations %>
<%- end -%>
<%= render :partial => "batch_head" %>

<div id="pageheader" class="column span-24">
  <div class="column span-12">
    <h2><%=t :add_a_batch_of_observations %></h2>
  </div>
  <div class="last column span-12">
    <%= render :partial => 'new_nav' %>
  </div>
</div>

<% if @step && @step == 2 %>
  <%= render :partial => 'observations/new_batch_stage_2' %>
<% else %>
  <%= render :partial => 'observations/new_batch_stage_1' %>
<% end %>
