<%- content_for(:title) do -%>
  Observations for <%= h @project.title %>
<%- end -%>
<%= javascript_include_tag 'inaturalist',
                           "observations/filters" %>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'observations', 'observations/by_login', 'observations/filters' %>
<%- end -%>
<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo Back to #{h @project.title}", @project, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  <h2>
    Observations for <%=h @project.title %>
  </h2>
</div>

<div id="filters" class="clear">
  <% form_tag url_for, :method => :get do -%>
    <%= render :partial => 'filter_fields', :locals => {
      :selected_taxa => @iconic_taxa
    } %>
  <% end -%>
</div>

<div class="observations table">
  <%= render :partial => "observations/observations_table_header" %>
  <%= render :partial => "observations/cached_component", :collection => @observations %>
  <%= will_paginate @observations %>
</div>

<div id="feeds" class="clear right small ui description feeds">
  <%= render :partial => 'feed_links' %>
</div>