<%- content_for(:title) do -%>
  Observations for <%= h @project.title %>
<%- end -%>

<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'observations/index', 'observations/filters' %>
<%- end -%>

<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag "inaturalist", "observations/filters", "observations/map" %>
<%- end -%>

<%- before = capture do -%>
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo Back to #{h @project.title}", @project, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  <div class="column span-1" style="text-align: center">
    <%= image_tag @project.icon.url(:span1) %>
  </div>
<%- end -%>
<%= render :partial => 'map_header', :locals => {
  :title => "Observations for #{link_to h(@project.title), @project}",
  :before => before,
  :control_span => 11
} %>

<%- observations_html = capture do %>
  <% for observation in @observations %>
    <%= render :partial => 'projects/project_observation', :locals => {
      :project_observation => @project_observations_by_observation_id[observation.id],
      :observation => observation
    } %>
  <% end %>
<% end -%>
<%= render :partial => 'map', :locals => {:observations_html => observations_html} %>

<div id="pagination" class="last column span-24">
  <div id="feeds" class="clear right small ui description feeds">
    <%= render :partial => 'feed_links' %>
    <% if @project.curated_by?(current_user) -%>
      <%= link_to("All CSV",  all_project_observations_path(@project, :format => 'csv'), :class => 'csvlink', :rel => "nofollow") %>
    <% end -%>
  </div>
  <%= will_paginate @observations, :renderer => INatLinkRenderer %>
</div>
