<%- content_for(:title) do -%>
  <%= t(:observations_for_project, :project => @project.title) %>
<%- end -%>

<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'observations/_index', 'observations/filters' %>
<%- end -%>

<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag "inaturalist", "observations/filters", "observations/map" %>
<%- end -%>

<%- before = capture do -%>
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo #{t(:back_to)} #{h @project.title}".html_safe, @project, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  <div class="column span-1" style="text-align: center">
    <%= image_tag @project.icon.url(:col-md-1) %>
  </div>
<%- end -%>
<%= render :partial => 'map_header', :locals => {
  :title => "#{t(:observations_for)} #{link_to truncate(@project.title, length: 23), @project}".html_safe,
  :before => before,
  :title_span => 15
} %>

<%- observations_html = capture do %>
  <% for observation in @observations %>
    <%- next unless @project_observations_by_observation_id[observation.id] -%>
    <%= render :partial => 'projects/project_observation', :locals => {
      :project_observation => @project_observations_by_observation_id[observation.id],
      :observation => observation
    } %>
  <% end %>
<% end -%>
<%= render :partial => 'map', :locals => {:observations_html => observations_html, :force_coordinate_visibility => @project.curated_by?(current_user)} %>

<div id="pagination" class="last column span-24">
  <% if logged_in? -%>
    <%= form_for :preferences, :url => url_for, :html => {:style => "float: left", :method => :get} do |f| %>
      <%= hidden_fields_for_params(:without => [:per_page, :page, :preferences]) %>
      <%= f.label :per_page, t(:per_page) %>
      <%= f.select :per_page, ApplicationController::PER_PAGES, 
        {:selected => @prefs["per_page"].to_i}, :onchange => "$(this).parents('form:first').submit()" %>
    <% end %>
  <% end -%>
  <div id="feeds" class="clear right small ui description feeds">
    <%= render :partial => 'feed_links' %>
    <% if @project.curated_by?(current_user) -%>
      <%= link_to("#{t(:all)} CSV",  all_project_observations_path(@project, :format => 'csv'), :class => 'csvlink', :rel => "nofollow") %>
    <% end -%>
  </div>
  <%= will_paginate @observations, :renderer => INatLinkRenderer %>
</div>
