- content_for :extrajs do
  = javascript_include_tag "angular_bundle"
  :javascript
    var ICONIC_TAXA = #{Taxon::ICONIC_TAXA_BY_ID.to_json};
  = javascript_include_tag "ang/controllers/observation_search"
- content_for :extracss do
  = stylesheet_link_tag "observations/search_prototype"
  = stylesheet_link_tag "angular-google-places-autocomplete/src/autocomplete"

#main-container{ "ng-app": "ObservationSearch", "ng-controller": "SearchController" }
  .container.container-fixed
    .row.form
      .col-xs-12
        #filters.clear
          %h1= t :observations
          #filter-container.btn-group.pull-right
            %button.btn.btn-default.dropdown-toggle
              %i.fa.fa-filter
              %i.fa.fa-chevron-down
            .dropdown-menu.dropdown-menu-right{"ng-include": "'ang/templates/observation_search/filter_menu.html'", onload: "setupFilters()"}
          .form-inline.pull-right.primary-filters
            %input.form-control{ placeholder: t(:species), type: "search", name: "taxon_name" }
            %input{ type: "hidden", name: "taxon_id" }
            %span=t :in
            / ng-model-options="{debounce: 1000}" means angular will wait 1000 ms after the last change in the UI before changing the bound model value
            / g-places-autocomplete triggers the Google place autocomplete directive
            %input.form-control{ name: "place_name", "ng-model-options": "{debounce: 1000}", placeholder: t(:place), type: "text", "g-places-autocomplete": "", "ng-model": "place" }
  #stats-container
    .container.container-fixed
      .row
        .col-xs-4
          %span.geo{ "ng-class": "{ active: params.geoType=='world' }", "ng-click": "setGeoFilter('world')"}
            The World
          %span.geo{ "ng-class": "{ active: params.geoType=='map' }", "ng-click": "setGeoFilter('visible')"}
            Visible Map
        .col-xs-2.statcol.active
          .stat
            .stat-title= "Observations"
            .stat-value.ng-cloak= "{{ shared.numberWithCommas( totalObservations ) }}"
        .col-xs-2.statcol
          .stat
            .stat-title= "Species"
            .stat-value.ng-cloak= "{{ shared.numberWithCommas( totalSpecies ) }}"
        .col-xs-2.statcol
          .stat
            .stat-title= "Identifiers"
            .stat-value.ng-cloak= "{{ shared.numberWithCommas( totalIdentifiers ) }}"
        .col-xs-2.statcol
          .stat
            .stat-title= "Observers"
            .stat-value.ng-cloak= "{{ shared.numberWithCommas( totalObservers ) }}"
  #results
    .container.container-fixed
      .row
        .col-xs-6
          .btn-group
            %button.button.btn-default{ "ng-click": "changeView('map')" }
              %span.glyphicon.glyphicon-map-marker{ "aria-hidden": "true" }
            %button.button.btn-default{ "ng-click": "changeView('grid')" }
              %span.glyphicon.glyphicon-th{ "aria-hidden": "true" }
            %button.button.btn-default{ "ng-click": "changeView('table')" }
              %span.glyphicon.glyphicon-menu-hamburger{ "aria-hidden": "true" }
        .col-xs-6
    %div{ "ng-show": "currentView=='map'", "ng-controller": "MapController"}
      %div{"ng-include": "'ang/templates/observation_search/results_map.html'", "onload": "setupMap()"}
    %div{ "results-grid": true, "ng-show": "currentView=='grid'", "ng-controller": "GridController" }
      %div{"ng-include": "'ang/templates/observation_search/results_grid.html'"}
    %div{ "results-table": true, "ng-show": "currentView=='table'", "ng-controller": "TableController" }
      %div{"ng-include": "'ang/templates/observation_search/results_table.html'"}
