<%- content_for(:title) do -%>
  <%= @observation.to_plain_s %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .photos .main img {margin-bottom: 5px;}
    .other_photos {float:none;display:inline;}
    .taxon .othernames {display:block;}
    .identification img, .identification img.square.photo {max-width:48px;}
    .identification .button {margin:0 0 0 10px; float:right; text-align:center;}
    .buttonrow.inline .prevlink {float:left;}
    .buttonrow.inline .nextlink {float:right;}
    
    @media all and (orientation:portrait) {
      .photos img {max-width: 310px;}
      .uplink {max-width: 160px;}
    }
    
    @media all and (orientation: landscape) {
        .photos img {max-width: 470px;}
    }
  </style>
<%- end -%>
<h2><%= @observation.to_plain_s(:no_time => true) %></h2>
<% in_format :html do %>
  <% unless @observation.photos.blank? -%>
    <div class="stacked photos">
      <%= render :partial => "observations/photos", :object => @observation, :locals => {
        :no_js => true,
        :image_size => "medium"
      } %>
    </div>
  <% end -%>
  
  <% if @observation.georeferenced? && show_observation_coordinates?(@observation) -%>
    <div class="stacked location">
      <%= link_to image_tag(google_static_map_for_observation_url(@observation, :size => "310x200")), 
        "http://maps.google.com/?q=#{@observation.latitude},#{@observation.longitude}" %>
    </div>
  <% end -%>
  
  <% if @observation.taxon.blank? -%>
    <div class="identification box">
      <div class="boxheader">
        <%= possessive @observation.user, :capitalize => true %>
        ID
      </div>
      <div class="boxbody ui-helper-clearfix">
        <%= image_and_content link_to(user_image(@observation.user, :size => "thumb"), @observation.user) do %>
          <%= image_and_content taxon_image(@observation.taxon) do %>
            <div class="stacked">
              <%= @observation.species_guess || "Unknown" %>
            </div>
          <% end -%>
        <% end -%>
      </div>
    </div>
  <% end -%>
  
  <%= render :partial => 'identifications/box', :collection => @observation.identifications.sort_by{|ident| ident.id} %>
<% end -%>

<% unless @observation.description.blank? -%>
  <h3>Description</h3>
  <%= formatted_user_text @observation.description %>
<% end -%>

<div class="stacked details">
  <h3>Details</h3>
  <% unless @observation.tags.blank? %>
    <div id="tags" class="description">
      <label>Tags:</label>
        <%=raw @observation.tags.map{|tag| 
          link_to(h(tag.name), observations_by_login_path(@observation.user.login, :q => h(tag.name), :search_on => "tags"))
        }.join(', ') %>
    </div>
  <% end -%>

  <div id="dates" class="description date nobr">
    <label>Added:</label>
    <span class="date">
      <%= @observation.created_at.strftime("%b. %e, %Y") %>
    </span>
    <span class="time">
      <%= @observation.created_at.strftime("%I:%M %p %Z") %>
    </span>
  </div>
  
  <% if @observation.observed_on -%>
    <div class="description date nobr">
      <label>Observed:</label>
      <span class="date">
        <%= @observation.observed_on.strftime("%b. %e, %Y") %>
      </span>
      <% if @observation.time_observed_at %>
        <span class="time">
          <%= @observation.time_observed_at.in_time_zone(@observation.time_zone).strftime("%I:%M %p %Z") %>
        </span>
      <% end -%>
    </div>
  <% end -%>
  
  <div class="description">
    <% in_format :html do %>
      <%= render :partial => 'location', :locals => {:places => @places} %>
    <% end -%>
  </div>

  <% if @observation.mobile? -%>
    <div id="device" class="description <%= @observation.device_name.to_s.split.join('_').downcase %>">
      <label>Device:</label>
      <% if @observation.device_url -%>
        <%= link_to @observation.device_name, @observation.device_url %>
      <% else %>
        <%= @observation.device_name %>
      <% end -%>
    </div>
  <% end -%>
</div>

<% in_format :html do %>
  <%= render :partial => "comments/comments", :object => @observation %>
<% end -%>

<div class="inline buttonrow" style="text-align:center;">
  <%= link_to("Prev", @prev, :class => "prevlink button inlineblock") if @prev %>
  <%= link_to "#{truncate possessive(@observation.user, :capitalize => true), :length => 16} observations", 
    observations_by_login_path(@observation.user.login), :class => "inlineblock button uplink" %>
  <%= link_to("Next", @next, :class => "nextlink button inlineblock") if @next %>
</div>
