<% content_for(:title) do %>
<%- if @observation.species_guess and @observation.species_guess != '' -%>
  <%= h @observation.species_guess -%>
<%- else -%>
  Something
<% end %>, observed by 
<%= @observation.user.login %>
<%- if @observation.time_observed_at -%>
  at <%=h @observation.time_observed_at.strftime("%I:%M %p %Z") %>
<%- end %>
<%- if @observation.observed_on -%>
  on <%=h @observation.observed_on.to_s(:long) %>
<%- end -%>
<% end -%>

<%- content_for(:extrahead) do -%>
  <meta property="og:title" content="<%= @observation.to_plain_s(:verb => true, :no_time => true) %>"/> 
  <% if !@photos.blank? -%>
    <meta property="og:image" content="<%= @photos.first.small_url %>"/> 
  <% elsif @observation.taxon %>
    <meta property="og:image" content="<%= iconic_taxon_image_url(@observation.taxon) %>"/> 
  <% end -%>
  <meta property="og:url" content="<%= observation_url(@observation) %>"/> 
  <meta property="og:site_name" content="iNaturalist"/> 
  <meta property="fb:admins" content="611249211,800415373"/>
  <meta property="fb:app_id" content="26558815027" />
  <% unless @observation.description.blank? %>
    <meta property="og:description" content="<%= html_attributize @observation.description %>"/> 
  <% end %>
<%- end -%>

<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'observations', 'identifications', 'observations/show', "jquery/ui.tabs.css" %>
  <style type="text/css" media="screen">  
    .identification_form_wrapper{background-color:#eee;padding:10px;}
    .identification_form_wrapper input.text{width:236px;margin-top:0;}
    .identification_form_wrapper .button.default{margin:0 auto;float:none;}
    .identification_form_wrapper label{display:none;}
    #tools .button{margin-bottom:0;}
    #tools .toggle_menu{float:left;}
    #comments_and_identifications .item{margin-bottom:1.5em;}
    .item_user{width:48px;}
    .item_content{width:532px;}
    .item_content .identification_image{margin-right:0.5em;}
    .item_content .identification_image,
    .item_content .identification_body{display:inline;float:none;}
    .item_content .identification_image img{width:32px;vertical-align:middle;}
    .item_content .identification{padding:0.5em;background-color:#eee;margin-bottom:0.5em;}
    .item_content p{margin-bottom:0.5em;}
    .comment{padding:0;}
    .comment .meta{float:none;width:auto;}
    .comment .body{padding-left:0;}
    #forms h3{margin:0;}
    .ui-tabs .ui-tabs-nav li{border-color:transparent;background-color:white;}
    .ui-tabs .ui-tabs-nav,
    .ui-tabs .ui-tabs-nav .ui-tabs-selected{border-color:#eee;}
    .ui-tabs .ui-tabs-nav li a{padding:0.25em 0.5em;}
    #new_identification_form .species_guess{width:538px;}
    #new_identification_form label{display:block;}
    #new_identification_form textarea{width:538px;height:150px;}
    #identifications .agreers{padding-left:60px;}
    #identifications .identification_image{width:40px;text-align:center;}
    #identifications .identification_image img{max-width:40px;}
    #identifications .identification_body{float:left;width:200px;}
    .identification_group{margin-bottom:10px;}
    #projects .box{padding:5px;}
    .id_please_notice.box { padding: 5px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
    #day_observations img {width: 32px; margin-bottom: 5px;}
    .quality_assessment {width:100%;}
  </style>
<% end %>
<% content_for(:extrajs) do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag('jquery/plugins/jqModal',
                             'modal_image',
                             'jquery/plugins/inat/taxon_selectors', 
                             'inaturalist/map3') %>
  
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      // setup the map if one is needed
      window.observation = <%= @observation.to_json(:viewer => current_user, 
        :force_coordinate_visibility => @observation.coordinates_viewable_by?(current_user),
        :include => {:user => {:only => :login}, :taxon => {}, :iconic_taxon => {}}) %>;
      if ((observation.latitude && observation.longitude) || (observation.private_latitude && observation.private_longitude)) {
        window.map = iNaturalist.Map.createMap({
          lat: 40.714, 
          lng: -98.262, 
          zoom: <%= @observation.map_scale || 3 %>, 
          controls: 'small'
        });
        map.addObservation(observation, {clickable: false, showAccuracy: true});
        var center = new google.maps.LatLng(
          observation.private_latitude || observation.latitude, 
          observation.private_longitude || observation.longitude);
        map.setCenter(center);
        google.maps.event.addListenerOnce(map, 'idle', function() {
          if (observation._circle) {
            map.fitBounds(map.getBounds().union(observation._circle.getBounds()))
          }
          google.maps.event.trigger(map, 'zoom_changed')
        })
        
        $(window).load(function() {
          var newWidth = $('#where-and-photos').width() - $("#photos").width()
          newWidth -= 10;
          var newHeight = $('#photos .first img').height()
          $('#where').width(newWidth)
          $('#map').width(newWidth)
          if (newHeight) {
            $('#map').height(newHeight)
          }
          if (map && observation) {
            google.maps.event.trigger(map, 'resize')
            map.setCenter(center)
          }
        })
      }
      
      $('.identification_form_wrapper input.text').simpleTaxonSelector({
        buttonText: 'Find',
        afterSelect: function(wrapper) {
          var button = $(wrapper).parents('.identification_form_wrapper').find('.default.button');
          $(button).removeClass('disabled').attr('disabled', null);
          $(button).focus();
        },
        afterUnselect: function(wrapper) {
          var button = $(wrapper).parents('.identification_form_wrapper').find('.default.button');
          $(button).addClass('disabled').attr('disabled', 'disabled');
        }
      });

      // Disable the submit button by default
      $('.identification_form_wrapper .default.button').addClass('disabled').attr('disabled', 'disabled');
      $('#new_identification_form .default.button').addClass('disabled').attr('disabled', 'disabled');
      
      $('#new_identification_form .species_guess').simpleTaxonSelector({
        buttonText: 'Find',
        afterSelect: function(wrapper) {
          var button = $('#new_identification_form').find('.default.button');
          $(button).removeClass('disabled').attr('disabled', null);
        },
        afterUnselect: function(wrapper) {
          var button = $('#new_identification_form').find('.default.button');
          $(button).addClass('disabled').attr('disabled', 'disabled');
        }
      });
      
      $('#forms').tabs();
      
      $('.quality_assessment .quality_metric_vote_link').live('click', function(e) {
        e.preventDefault()
        var tr = $(this).parents('tr.quality_metric')
        $.ajax({
          url: $(this).attr('href'),
          dataType: 'json',
          type: $(this).attr('data-method'),
          data: {authenticity_token: $('meta[name=csrf-token]').attr('content')},
          success: function(data, status) {
            if (data.error) {
              alert(data.error)
            } else if (data.html) {
              tr.replaceWith(data.html)
            }
          }
        })
      })
    });
  </script>
<% end %>

<div id="pageheader" class="column span-24">
  <div id="nav" class="clear">
    <div class="breadcrumbs">
      <% if @user and @user.login == @observation.user.login %>
      <%= link_to 'Back to your observations', 
                  observations_by_login_path(:login => @user.login),
                  :class => 'back crumb' %>
      <% else %>
      <%= link_to "Back to #{@observation.user.login}'s observations", 
                  observations_by_login_path(:login => @observation.user.login),
                  :class => 'back crumb' %>
      <% end %>
    </div><!-- /#breadcrumbs -->
    
    <%= render :partial => 'shared/prevnext', :locals => {
      :prev_item => @previous,
      :prev_title => (@previous && !@previous.species_guess.blank?) ?  @previous.species_guess : 'Something',
      :next_item => @next,
      :next_title => (@next && !@next.species_guess.blank?) ?  @next.species_guess : 'Something'
    } %>
  </div>
  
  <h2>
    <%- if @observation.taxon -%>
      <%= link_to @observation.species_guess, @observation.taxon -%>
    <%- elsif @observation.species_guess and @observation.species_guess != '' -%>
      <%= h @observation.species_guess -%>
    <%- else -%>
      Something<% end -%>, observed by 
    <%= link_to @observation.user.login, observations_by_login_path(@observation.user.login) %>
    <span class="meta date">
      <%- if @observation.time_observed_at -%>
        at 
        <%=h @observation.time_observed_at.in_time_zone(@observation.time_zone).strftime("%I:%M %p %Z") %>
      <% end -%>
      <%- if @observation.observed_on -%>
        on 
        <%= link_to @observation.observed_on.strftime(@observation.time_observed_at ? '%b' : '%B'), 
          observations_by_login_path(@observation.user.login, :on => "#{@observation.observed_on.year}-#{@observation.observed_on.month}") %>
        <%= link_to @observation.observed_on.day, 
          observations_by_login_path(@observation.user.login, :on => "#{@observation.observed_on.year}-#{@observation.observed_on.month}-#{@observation.observed_on.day}") %>,
        <%= link_to @observation.observed_on.year, 
          observations_by_login_path(@observation.user.login, :on => @observation.observed_on.year) %>
      <%- end -%>
    </span>
  </h2>
  
  <% if @user && @user.login == @observation.user.login %>
    
    <div id="tools">
      <%= link_to "Edit", edit_observation_url, 
        :id => "edit_list_button", :class => "button" %>

      <% unless @projects.blank? %>
        <% link_to_toggle_menu "Add to project", :class => "button", 
            :wrapper => {:id => "project_menu", :class => "toggle_menu_list"} do %>
          <ul>
            <% for project in @projects %>
              <li class="inline buttonrow">
                <% if @project_observations_by_project_id[project.id] -%>
                  <%= link_to "remove", 
                    remove_project_observation_path(project, :observation_id => @observation.id),
                    :method => :delete,
                    :confirm => "Are you sure you want to remove this observation from #{h project.title}?",
                    :class => "pale button" %>
                <% else %>
                  <%= link_to "add", 
                    add_project_observation_path(project, :observation_id => @observation.id),
                    "data-loading-click" => "Adding...",
                    :method => :post,
                    :class => "glaucous button" %>
                <% end -%>
                <%= link_to h(project.title), project, :class => "inter" %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      
      <%= link_to "Delete", @observation, 
                  :confirm => "Are you sure you want to delete this observation?", 
                  :method => :delete, 
                  :id => "delete_observation_button", 
                  :class => "minor delete button" %>
    </div>
  
  <% elsif @user && @user.is_admin? && @observation.flagged? %>
    <div id="tools">
      <%= link_to "Edit Flagged Observation", edit_observation_url, 
                  :id => "edit_list_button", :class => "button" %>
      <%= link_to "To the Bat Cave!", admin_url, 
                  :id => "admin_button", :class => "button" %>
    </div>
  <% end %>
</div><!-- end pageheader -->

<div id="singleobs" class="column span-17">
  <div id="where-and-photos" class="clear">
    <% if !@photos.blank? -%>
      <div id="photos">
        <%- 
          photo_size = @photos.first.is_a?(FacebookPhoto) ? :large : :medium
          extra_count = 5
          cycle_classes = [""]*(extra_count-1) + ["last"]
        -%>
        <%= link_to image_tag(@photos.first.send("#{photo_size}_url")), @photos.first.becomes(Photo), :class => "first zoomable", :title => "Photo #{@photos.first.attribution}" %>
        <% for photo in @photos[1..extra_count] -%>
          <%= link_to image_tag(photo.square_url), photo.becomes(Photo), :class => "zoomable smallphoto #{cycle(*cycle_classes)}", :title => "Photo #{photo.attribution}" %>
        <% end -%>
        <% if @photos.size > extra_count+1 -%>
          <div style="clear: both">
            <%= link_to_toggle "View all #{@observation.photos.size} photos", "#morephotos" %>
            <div id="morephotos" style="display: none">
              <% for photo in @photos[(extra_count+1)..-1] -%>
                <%= link_to image_tag(photo.square_url), photo.becomes(Photo), :class => "zoomable smallphoto", :title => "Photo #{photo.attribution}" %>
              <% end -%>
            </div>
          </div>
        <% end -%>
        
        <div class="meta" style="clear:both;">
          Photo<%= 's' if @photos.size > 1 %>
          <% if @photos.map{|p| p.license}.compact.uniq.size <= 1 -%>
            <%= rights @photos.first, :skip_image => true, :separator => " " %>
          <% else %>
            &copy;
            <%= @observation.user.name.blank? ? @observation.user.login : @observation.user.name %>,
            mixed licenses
          <% end -%>
        </div>
      </div>
    <%- end -%>
    
    <div id="where">
      <% if show_observation_coordinates?(@observation) %>
        <div id="map" class="stacked"></div>
      <% end %>
      <div class="description">
        <%= render :partial => 'location', :locals => {:inline_edit => true, :places => @places} %>
      </div>
    </div><!-- end where -->
  </div><!-- end where-and-photos -->
  
  <% unless @observation.description.blank? %>
    <div id="observation-description">
      <h3>Description</h3>
      <div class="clear readable description">
        <%= formatted_user_text(@observation.description) %>
      </div>
    </div>
  <% end %>
  
  <div class="clear column span-16">
    <% unless @observation.tags.blank? %>
      <div id="tags" class="description">
        <label>Tags:</label>
        <ul>
          <% @observation.tags.each do |tag| %>
            <li>
              <%= link_to h(tag.name), observations_by_login_path(@observation.user.login, :q => h(tag.name), :search_on => "tags") %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end -%>

    <div id="dates" class="description date nobr">
      <label>Added:</label>
      <span class="date">
        <%= @observation.created_at.strftime("%b. %e, %Y") %>
      </span>
      <span class="time">
        <%= @observation.created_at.strftime("%I:%M %p %Z") %>
      </span>
    </div>

    <% if @observation.mobile? -%>
      <div id="device" class="description <%= @observation.device_name.to_s.split.join('_').downcase %>">
        <label>Device:</label>
        <% if @observation.device_url -%>
          <%= link_to @observation.device_name, @observation.device_url %>
        <% else %>
          <%= @observation.device_name %>
        <% end -%>
      </div>
    <% end -%>
    
    <% unless @observation.observation_field_values.blank? -%>
      <div class="observation_fields description admin">
        <% for ofv in @observation.observation_field_values %>
          <div class="observation_field_value">
            <label data-tip="<%=h ofv.observation_field.description %>" data-tip-width="auto">
              <%=h ofv.observation_field.name.capitalize %>:
            </label>
            <%=h ofv.value %>
          </div>
        <% end %>
      </div>
    <% end -%>
    
    <%= separator %>
  </div>
  
  <div id="comments_and_identifications" class="column span-16">
    <h3>Comments &amp; Identifications</h3>
    <% for item in @comments_and_identifications %>
      <div id="<%= id_for(item) %>" class="<%= item.class.name.humanize.underscore %> item clear">
        <div class="item_user column">
          <%= link_to(
            image_tag(item.user.icon.url(:thumb), :class => 'usericon'),
            person_path(item.user)) %>
        </div>
        <div class="item_content last column">
          <%- if item.is_a? Identification %>
            <%= render :partial => "identifications/identification", :locals => { :identification => item } %>
          <%- end -%>
          
          <% unless item.body.blank? -%>
            <div class="body"><%= formatted_user_text(item.body) %></div>
          <% end -%>
          
          <div class="meta">
            Posted by <%= link_to(truncate(you_or_login(item.user), :length => 20), person_path(item.user)) %>
            <span class="when">
              <span class="date"><%= time_ago_in_words(item.created_at) %></span> ago
            </span>
            <%- if @user and @user.login == item.user.login -%>
            <span class="comment_actions">
              (<%= link_to "Edit", item.is_a?(Identification) ? edit_identification_path(item) : edit_comment_path(item) %> |
              <%= link_to "Delete", item, 
                          :confirm => "Are you sure you want to delete this comment?", 
                          :method => :delete, 
                          :id => "delete_comment_#{item.id}_button" %>)
            </span>
            <%- end -%>
          </div>
        </div>
      </div>
    <% end %>
    <div id="forms" class="ui-tabs">
      <ul class="clear">
        <li><h3><a href="#new_comment_form"><span>Add a Comment</span></a></h3></li>
        <li><h3><a href="#new_identification_form"><span>Add an Identification</span></a></h3></li>
      </ul>
      
      <div id="new_comment_form">
        <%= render :partial => 'comments/comment_form', :locals => { 
          :comment => Comment.new(:parent => @observation, 
                                  :user => logged_in? ? current_user : nil)
        } %>
      </div>
      
      <div id="new_identification_form">
        <% if !logged_in? -%>
          <%= link_to "Sign in", login_path %>
          or <%= link_to "sign up", signup_path %>
          to add identifications.
        <% elsif @viewers_identification -%>
          <div class="notice">
            You've already added an identification, and you can only add one.
            <span>
              <%= link_to "Remove your existing ID?", identification_path(@viewers_identification), 
                :method => :delete %>
            </span>
          </div>
        <% else %>
          <%- new_identification = Identification.new(:user => current_user, :observation => @observation) -%>
          <% form_for new_identification do |f| %>
            <%= render :partial => "identifications/form_fields", :locals => { 
              :identification => new_identification, 
              :f => f,
              :show_body => true
            } %>
            <%= f.submit 'Save Identification', :class => 'default button', "data-loading-click" => "Saving..." %>
          <% end %>
        <% end -%>
      </div>
    </div><!-- end new comment -->
  </div><!-- end comments -->
</div><!-- end singleobs -->

<div class="column span-7 last">  

  <div id="identifications" class="clear">
    <h3>Identification Summary</h3>
    
    <% if @owners_identification %>
      <div id="owners-identification" class="box">
        <%= render :partial => 'identifications/identification',
                   :locals => { :identification => @owners_identification } %>
      </div>
    <% end %>
    <div id="identifications-list-<%= @observation.id %>" class="identifications-list">
      <% for taxon, identifications in @identifications_by_taxon %>
        <div class="identification_group">
          <%= render :partial => "identifications/identification", :locals => { :identification => identifications.first }%>
          <% if identifications.size == 2 %>
            <div class="agreers description">
              <%= link_to you_or_login(identifications.last.user), identifications.last.user %> agrees
            </div>
          <% elsif identifications.size > 2 -%>
            <div class="agreers description">
              <%= identifications.size - 1 %> people agree
              <span class="button"><%= link_to_function "Show", "$(this).parent().next('ul').slideToggle()" %></span>
              <ul style="display: none">
                <% for agreement in identifications[1..-1] %>
                  <li><%= link_to you_or_login(agreement.user), agreement.user %></li>
                <% end %>
              </ul>
            </div>
          <% end -%>
        </div>
      <% end %>
    </div>
    
    <% if is_me?(@observation.user) -%>
      <div id="idplease" class="clear inline buttonrow">
        <div id="added_to_id_please" class="box id_please_notice" style="display: <%= @observation.id_please? ? 'block' : 'none' %>">
          <span class="inter">
            Added to <%= link_to "ID Please", id_please_path %>
          </span>
          <%= link_to_remote "remove",
            :url => @observation,
            :with => "'ignore_photos=true&observation[id_please]=false'",
            :method => :put,
            :loading => 
              "$('#added_to_id_please').fadeOut(function() {$('#need_id_help').fadeIn()});",
            :html => {
              :class => "pale button",
              :style => "float: right; margin: 0"
            } %>
        </div>
        
        <div id="need_id_help" class="quiet stacked box" style="display: <%= @observation.id_please? ? 'none' : 'block' %>">
          <span class="inter">Need ID help?</span>
          
          <%= link_to_remote "add to ID Please",
            :url => @observation,
            :with => "'ignore_photos=true&observation[id_please]=true'",
            :method => :put,
            :loading => 
              "$('#need_id_help').fadeOut(function() {$('#added_to_id_please').fadeIn()});",
            :html => {
              :class => "glaucous button",
              :style => "float: right; margin: 0;"
            } %>
        </div>
      </div>
    <% elsif @observation.id_please? %>
      <div id="idplease" class="box stacked">
        <%= link_to @observation.user.login, @observation.user %> would like some help identifying this.
      </div>
    <% end -%>
    
    <% user_identified = false %>
    <% if logged_in? %>
      <% identifying_user_ids =  @observation.identifications.map { |ident| ident.user_id } -%>
      <% user_identified = identifying_user_ids.include?(@user.id) -%>
    <% end %>
    <div id="identification_form_wrapper-<%= @observation.id %>" class="identification_form_wrapper stacked">
      <h4>Suggest an ID</h4>
      <%= render :partial => 'identifications/identification_form',
                 :locals => { :observation => @observation }%>
    </div>
    <% if user_identified %>
      <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
          $('#identification_form_wrapper-<%= @observation.id %>').hide();
        });
      </script>
    <% end %>
    
    <% if logged_in? -%>
      <%= link_to "Identotron", identotron_path(:observation_id => @observation), 
        :rel => "nofollow",
        :class => "glaucous button",
        :style => "float: none; margin: 0 auto; width: 80px;",
        "data-loading-click" => true %>
    <% end -%>
  </div><!-- end identifications -->
  
  <% if !@project_observations.blank? || 
        !@project_invitations.blank? || 
        (logged_in? && is_not_me?(@observation.user) && !@projects.blank?) -%>
    <%= separator %>
    <div id="projects" class="stacked">
      <h3>Projects</h3>
      <% unless @project_observations.blank? -%>
        <% for po in @project_observations %>
          <div class="quiet box clear inline buttonrow">
            <span class="inter">
              <%= image_tag po.project.icon.url(:mini), :style => "vertical-align: middle" %>
              <%= link_to truncate(h(po.project.title), :length => (is_me?(@observation.user) || curator_of?(po.project) ? 21 : 31)), po.project %>
            </span>
            <% if is_me?(@observation.user) || curator_of?(po.project) -%>
              <%= link_to "remove", 
                remove_project_observation_path(po.project_id, :observation_id => @observation.id),
                :method => :delete,
                :confirm => "Are you sure you want to remove this observation?",
                :class => "pale button",
                :style => "float: right; margin: 0" %>
            <% end -%>
          </div>
        <% end %>
      <% end %>
    
      <% if !@project_invitations.blank? && (is_me?(current_user) || @project_invitations.map(&:user_id).include?(current_user.try(&:id))) %>
        <p class="ui description">Invited to the following projects:</p>
        <% for pi in @project_invitations %>
          <div class="notice box clear inline buttonrow">
            <span class="inter">
              <%= image_tag pi.project.icon.url(:mini), :width => 16, :height => 16, :style => "vertical-align: middle" %>
              <%= link_to truncate(h(pi.project.title), :length => (is_me?(@observation.user) || is_me?(pi.user) || curator_of?(pi.project) ? 16 : 31)), pi.project %>
            </span>
            <nobr class="inlineblock right">
              <% if is_me?(@observation.user) -%>
                <%= link_to "accept", accept_project_invitation_path(pi),
                  :method => :post,
                  :class => "glaucous button",
                  "data-loading-click" => "" %>
              <% end -%>
              <% if is_me?(@observation.user) || is_me?(pi.user)  || curator_of?(pi.project) -%>
                <%= link_to (is_me?(@observation.user) ? "ignore" : "uninvite"), pi,
                  :method => :delete,
                  :confirm => "Are you sure you want to remove this invitation?",
                  :class => "pale button",
                  "data-loading-click" => "" %>
              <% end -%>
            </nobr>
          </div>
        <% end %>
      <% end %>
    </div>
    
    <% if !@projects.blank? && logged_in? && is_not_me?(@observation.user) -%>
      <div class="clear">
        <% link_to_toggle_menu "Invite to project", :class => "button", 
           :wrapper => {:id => "project_menu", :class => "toggle_menu_list"} do %>
          <ul>
            <% for project in @projects %>
              <li class="inline buttonrow">
                <% if @project_observations_by_project_id[project.id] -%>
                  <div class = "disabled pale button" >added</div>
                <% elsif @project_invitations_by_project_id[project.id] -%>
                  <div class = "disabled pale button" >invited</div>
                <% else %>
                  <%= link_to "invite",
                    { :controller => 'project_invitations',
                      :action => 'create',
                      :project_id => project.id,
                      :observation_id => @observation.id,
                      :user_id => @user.id },
                    :method => :post,
                    :class => "glaucous button",
                    "data-loading-click" => "inviting..." %>
                <% end -%>
                <%= link_to h(project.title), project, :class => "inter" %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  <% end -%>
  
  <%= separator %>
  <% if !@day_observations.blank? && @day_observations.size > 1 -%>
      <div id="day_observations" class="clear quiet box">
        <div class="clear">
          <% for o in @day_observations %>
            <%= link_to observation_image(o, :size => "square"), o, :title => o.to_plain_s %>
          <% end %>
        </div>
        <%= link_to "View #{@day_observations.total_entries} from #{@observation.observed_on.to_s(:long)}", calendar_date_path(@observation.user.login, @observation.observed_on.year, @observation.observed_on.month, @observation.observed_on.day), :class => "right readmore" %>
      </div>
    <%= separator %>
  <% end -%>
  
  <div id="data_quality_assessment">
    <h3>
      <span class="right quality_tip_target description helptip" rel="#quality_tip" data-helptip-title="About the Quality Assessment" data-helptip-width="500" style="margin-top:4px"></span>
      Data Quality Assessment
    </h3>
    <%= render :partial => "quality_metrics/quality_metrics", :object => @observation %>
    <%= separator %>
  </div>
  
  <div class="rights stacked meta">
    Observation <%= rights @observation %>
    <% if is_me? @observation.user -%>
      <span class="button">
        <%= link_to_function "edit", "$('#editlicense').dialog({modal:true, width:'auto', title: 'Edit license'})" %>
      </span>
      <% if @observation.license.blank? -%>
        <div class="padded notice status iconified">
          <span class="ui-icon ui-icon-transfer-e-w inlineblock"></span>
          Share your observation with researchers by
          <%= link_to_function "using a license", "$('#editlicense').dialog({modal:true, width:'auto', title: 'Edit license'})" %>.
        </div>
      <% end -%>
      <div id="editlicense" class="dialog" style="display:none">
        <div class="column span-18 verticalmiddle licensechoices">
          <p class="ui description">
            Licensing your content gives others the legal right to use it if
            they stick to the terms of the license. iNat uses your Creative
            Commons-licensed content to share with data partners like the 
            <a href="http://www.gbif.org/">Global Biodiversity Information Facility</a>
            (GBIF).
          </p>
          <%= render :partial => 'shared/license_form' %>
        </div>
      </div>
    <% end -%>
  </div>
  
  <% if @observation.flagged? %>
    <div id="flaggings_heads_up" class="description">
      HEADS UP: this observation has been flagged.
      <%= link_to "Add another flag", new_observation_flag_path(@observation),
                  :id => "flag_this", :rel => "nofollow" %>
    </div>
  <% else %>
    <p class="description ui">
      Is this observation <a href="/help#inappropriate">inappropriate</a>, spam, or offensive?
      <%= link_to "Flag this observation", new_observation_flag_path(@observation), :id => "flag_this", :rel => "nofollow" %>
    </p>
    <p class="description ui">
      If you think this observation is inaccurate, please add an ID,
      participate in the quality assessment above, or describe the inaccuracy
      in a comment.
    </p>
  <% end %>
  
  <%= separator %>
  
  <% if logged_in? && params[:test] && !@places.blank?-%>
    <h3>Places</h3>
    <ul>
      <%- @places.each do |place| %>
        <%- extra = capture do %>
          <% if @observation.taxon -%>
            <ul class="plain small stacked">
              <li>
                <% if @observation.taxon.species_or_lower? -%>
                  <%= link_to "View other <nobr>#{default_taxon_name(@observation.taxon.parent)} &raquo;</nobr>", 
                    {:controller => "taxa", :action => "search", :taxon_id => @observation.taxon.parent_id, :places => place.id} %>
                <% else %>
                  <%= link_to "View other <nobr>#{default_taxon_name(@observation.taxon)} &raquo;</nobr>", 
                    {:controller => "taxa", :action => "search", :taxon_id => @observation.taxon_id, :places => place.id} %>
                <% end -%>
              </li>
              <li>
                <%- it = Taxon::ICONIC_TAXA_BY_ID[@observation.taxon.iconic_taxon_id] -%>
                <%= link_to "View other <nobr>#{default_taxon_name(it)} &raquo;</nobr>", 
                  {:controller => "taxa", :action => "search", :taxon_id => it.id, :places => place.id} %>
              </li>
            </ul>
          <% end -%>
        <% end -%>
        <%= render :partial => "places/place_li", :object => place, :locals => {:extra => extra} %>
      <% end %>
    </ul>
    <%= separator %>
  <% end -%>
  
  <div id="fblike" class="stacked">
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <fb:like send="true" show_faces="true" width="270" layout="button_count"></fb:like>
  </div>
  
</div><!-- end right col -->
