/ - @no_footer_gap = true
- content_for :title do
  Title
- content_for :extrahead do
  %meta{ name: "config:inaturalist_api_url", content: CONFIG.node_api_url }
  :javascript
    INITIAL_OBSERVATION_ID = #{@observation.id};
- content_for :extracss do
  - # needed for tooltips
  = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  = stylesheet_link_tag "observations/show2"
- content_for :extrajs do
  = javascript_include_tag "observations-show-webpack"

#app
  #initial-loading.text-center
    = loading nil, class: "bigloading"
- if logged_in?
  .container
    .row
      .col-xs-12
        .quiet.box.text-center.upstacked
          =t :tired_of_testing_this_new_version
          = button_to t(:take_me_back),
            leave_test_user_path( current_user, test: "observation-page" ),
            method: "put",
            class: "btn btn-primary",
            style: "margin-left: 10px",
            form_class: "inline"
          = link_to t(:feedback),
            "https://groups.google.com/d/topic/inaturalist/Do32Bof2hiY/discussion",
            class: "btn btn-default",
            style: "margin-left: 10px"
