<% content_for(:title) do %>
  <%- unless @observation.species_guess.blank? -%>
    <%= @observation.species_guess -%>,
  <%- else -%>
    <%=t :something %>
  <% end %>
  <%= t(:observed_by).downcase %>
  <%= @observation.user.login %>
  <%- if @observation.time_observed_at && @coordinates_viewable -%>
    <%=l @observation.time_observed_at, :format => :observed_at %>
  <%- end %>
  <%- if @observation.observed_on -%>
    <%- date_format = @observation.observed_on.to_s(:long).split(" ") -%>
    <%= t :on_ %> <%= t("date_format.date_long.#{date_format.first.downcase}", :day => date_format[1], :year =>date_format.last) %>
  <%- end -%>
<% end -%>

<%- content_for(:extrahead) do -%>
  <% if CONFIG.facebook && CONFIG.facebook.namespace -%>
    <meta property="og:type" content="<%= CONFIG.facebook.namespace %>:observation" />
    <% if @observation.taxon -%>
      <meta property="<%= CONFIG.facebook.namespace %>:taxon" content="<%= taxon_url(@observation.taxon) %>" />
    <% end -%>
    <% if @observation.observed_on -%>
      <meta property="<%= CONFIG.facebook.namespace %>:observed_on" content="<%= @observation.datetime.iso8601 %>" />
    <% end -%>
    <% if !@observation.place_guess.blank? && @coordinates_viewable -%>
      <meta property="<%= CONFIG.facebook.namespace %>:place_guess" content="<%= @observation.place_guess %>" />
    <% end -%>
    <% if @coordinates_viewable -%>
      <meta property="<%= CONFIG.facebook.namespace %>:coordinates:latitude"  content="<%= @observation.latitude %>"> 
      <meta property="<%= CONFIG.facebook.namespace %>:coordinates:longitude" content="<%= @observation.longitude %>">
    <% end -%>
  <% end -%>
  <meta property="og:title" content="<%= @observation.species_guess.blank? ? "something" : @observation.species_guess %>"/> 
  <meta property="twitter:title" content="<%= @observation.species_guess.blank? ? "something" : @observation.species_guess %> observed by <%= @observation.user.try_methods(:name, :login) %>"/> 
  <% if !@photos.blank? && photo = @photos.detect{|p| p.medium_url =~ /^http/} -%>
    <meta property="og:image" content="<%= @shareable_image_url %>"/> 
    <meta name="twitter:card" content="photo">
  <% elsif @observation.taxon %>
    <meta property="og:image" content="<%= iconic_taxon_image_url(@observation.taxon, :size => 200) %>"/> 
    <meta name="twitter:card" content="summary">
  <% end -%>
  <meta property="og:determiner" content="auto" /> 
  <meta property="og:url" content="<%= observation_url(@observation) %>"/>
  <% if CONFIG.facebook && !CONFIG.facebook.admin_ids.blank? -%>
    <meta property="fb:admins" content="<%= CONFIG.facebook.admin_ids.join(',') %>"/>
  <% end -%>
  <meta property="og:description" content="<%= html_attributize @shareable_description %>"/> 

  <% if twitter_pa = @observer_provider_authorizations.detect{|pa| pa.provider_name == "twitter"} -%>
    <meta property="twitter:creator:id" content="<%= twitter_pa.provider_uid %>">
  <% end -%>
  
  <% unless @observation_links.blank? -%>
    <% for ol in @observation_links %>
      <link rel="<%= ol.rel %>" href="<%= ol.href %>"/>
    <% end %>
  <% end -%>
<%- end -%>

<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'identifications', 'observations/show', "jquery/ui.tabs.css", 'observations/observation_fields', 'jquery/plugins/inat/photo_selectors', 'jquery/plugins/inat/photo_selectors' %>
  <style type="text/css" media="screen">  
    .identification_form_wrapper{background-color:#eee;padding:10px;}
    .identification_form_wrapper input.text{width:236px;margin-top:0;}
    .identification_form_wrapper .button.default{margin:0 auto;float:none;}
    .identification_form_wrapper label{display:none;}
    #tools .button{margin-bottom:0;}
    #tools .toggle_menu{float:left;}
    .comment{padding:0;}
    .comment .meta{float:none;width:auto;}
    .comment .body{padding-left:0;}
    #forms h3{margin:0;}
    .ui-tabs .ui-tabs-nav li{border-color:transparent;background-color:white;}
    .ui-tabs .ui-tabs-nav,
    .ui-tabs .ui-tabs-nav .ui-tabs-active{border-color:#eee;}
    .ui-tabs .ui-tabs-nav li a{padding:0.25em 0.5em;}
    #new_identification_form .species_guess{width:538px;}
    #new_identification_form textarea{width:538px;height:150px;}
    #identifications .agreers{padding-left:60px;}
    #identifications .identification_image{width:40px;text-align:center;}
    #identifications .identification_image img{max-width:40px;}
    #identifications .identification_body{float:left;width:200px;}
    .identification_group{margin-bottom:10px;}
    #projects .box{padding:5px;}
    .id_please_notice.box { padding: 5px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
    #day_observations img {width: 32px; margin-bottom: 5px;}
    .quality_assessment {width:100%;}
    .photoSelectorSelected {float: right; width: 175px;}
    .photoSelectorResults {float: left; width: 525px; padding-right: 10px; margin-right: 10px; border-right: 1px solid #eee;}
    .photo .synclink { float: right; }
    .photoSelector {border: 0 transparent; padding:0; min-width: 725px;}
  </style>
<% end %>
<% content_for(:extrajs) do %>
  <%= google_maps_js %>
  <%= javascript_include_tag 'observations/observation_fields',
                             'map_bundle',
                             "jquery/plugins/inat/photo_selectors.js",
                             "observations/show" %>
  <script type="text/javascript" charset="utf-8">
    var DEFAULT_PHOTO_IDENTITY_URL = <%=json_escape @default_photo_identity_url.to_json.html_safe %>,
        PHOTO_IDENTITY_URLS = [<%= @photo_identity_urls.join(',').html_safe %>],
        PHOTO_SOURCES = <%=json_escape @photo_sources.to_json.html_safe %>,
        DEFAULT_PHOTO_SOURCE = <%=json_escape @default_photo_source.to_json.html_safe %>,
        OBSERVATION = <%=json_escape @observation.to_json(:viewer => current_user, 
          :force_coordinate_visibility => @coordinates_viewable,
          :include => [ {:user => {:only => :login} }, :taxon, :iconic_taxon ]).html_safe %>;
</script>
<% end %>

<% if @flagged_photos.size > 0 -%>
  <div class="notice box">
    <h3><%=t :suspicious_photos %></h3>
    <p class="unstacked">
      <%=t 'views.observations.show.flagged_photos_desc_html', :links => commas_and(@flagged_photos.map {|p| link_to(t(:photo_attribution, :attribution => p.id), p.becomes(Photo))}) %>
    </p>
  </div>
<% end -%>

<div id="pageheader" class="column span-24">
  <div id="nav" class="clear">
    <div class="breadcrumbs">
      <% if is_me?(@observation.user) %>
      <%= link_to t(:back_to_your_observations), 
                  observations_by_login_path(:login => current_user.login),
                  :class => 'back crumb' %>
      <% else %>
        <%= link_to t(:back_to_x_observations, :user => "#{@observation.user.login}"), 
                  observations_by_login_path(:login => @observation.user.login),
                  :class => 'back crumb' %>
      <% end %>
    </div><!-- /#breadcrumbs -->
    
    <%= render :partial => 'shared/prevnext', :locals => {
      :prev_item => @previous,
      :prev_title => (@previous && !@previous.species_guess.blank?) ?  @previous.species_guess : 'Something',
      :next_item => @next,
      :next_title => (@next && !@next.species_guess.blank?) ?  @next.species_guess : 'Something'
    } %>
  </div>
  
  <h2>
    <%- if @observation.taxon && @observation.taxon_id == @observation.community_taxon_id -%>
      <%= render "shared/taxon", :taxon => @observation.taxon, :link_url => @observation.taxon,
        :comname => !@observation.species_guess.blank? && @observation.species_guess.downcase != @observation.taxon.name.downcase ? @observation.species_guess : nil %>
    <%- elsif @observation.taxon -%>
      <%= render "shared/taxon", 
        :taxon => @observation.taxon, 
        :link_url => @observation.taxon, 
        :comname => !@observation.species_guess.blank? && @observation.species_guess.downcase != @observation.taxon.name.downcase ? @observation.species_guess : nil,
        :no_common => !@observation.species_guess.blank? && @observation.species_guess.downcase == @observation.taxon.name.downcase %>
    <%- elsif !@observation.species_guess.blank? -%>
      <%= @observation.species_guess -%>
    <%- else -%>
      <%=t :something %>,
    <% end -%>
    <%= t(:observed_by).downcase %> 
    <%= link_to observations_by_login_path(@observation.user.login) do %>
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">
          <%= @observation.user.login %>
        </span>
      </span>
    <% end -%>
    <span class="meta date">
      <%- if @observation.time_observed_at && @coordinates_viewable -%>
        <%=l @observation.time_observed_at.in_time_zone(@observation.time_zone || Time.zone), :format => :observed_at %>
      <% end -%>
      <%- if @observation.observed_on -%>
        <%=t :on_ %>
        <%= link_to t("date_format.month.#{@observation.observed_on.strftime('%B').downcase}"),
          observations_by_login_path(@observation.user.login, :on => "#{@observation.observed_on.year}-#{@observation.observed_on.month}") %>
        <%= link_to @observation.observed_on.day, 
          observations_by_login_path(@observation.user.login, :on => "#{@observation.observed_on.year}-#{@observation.observed_on.month}-#{@observation.observed_on.day}") %>,
        <%= link_to @observation.observed_on.year,
          observations_by_login_path(@observation.user.login, :on => @observation.observed_on.year) %>
      <%- end -%>
    </span>
  </h2>
  
  <% if is_me?(@observation.user) %>
    
    <div id="tools">
      <%= link_to "<span class='ui-icon ui-icon-pencil inlineblock'></span> #{t(:edit)}".html_safe, edit_observation_url,
        :id => "edit_list_button", :class => "button" %>
      
      <%= link_to "<span class='ui-icon ui-icon-copy inlineblock'></span> #{t :copy}".html_safe, 
        new_observation_path(:copy => @observation.id), 
        :class => "minor button",
        "data-tip" => t('views.observations.copy_tip'),
        "data-tip-show-delay" => 1000 %>
      <%= link_to "<span class='ui-icon ui-icon-trash inlineblock'></span> #{t(:delete)}".html_safe, 
        @observation,
        data: { confirm: t(:you_sure_delete_this_observation) },
        method: :delete,
        id: "delete_observation_button",
        'class': "minor delete button" %>
    </div>
  
  <% elsif logged_in? && current_user.is_admin? && @observation.flagged? %>
    <div id="tools">
      <%= link_to t(:edit_flagged_observation), edit_observation_url, 
                  :id => "edit_list_button", :class => "button" %>
      <%= link_to t(:to_the_bat_cave!), admin_url, 
                  :id => "admin_button", :class => "button" %>
    </div>
  <% end %>
</div><!-- end pageheader -->

<div id="singleobs" class="column span-17">
  <div id="where-and-photos" class="clear<%= ' has_photos' unless @photos.blank? %><%= ' has_sounds' unless @sounds.blank? %><%= ' has_media' unless @photos.blank? && @sounds.blank? %>">
    <% if !@photos.blank? || !@sounds.blank? -%>
      <div id="media">
        <% if !@photos.blank? -%>
          <div id="photos" class="stacked">
            <%- 
              photo_size = @photos.first.is_a?(FacebookPhoto) ? :large : :medium
              extra_count = 5
              cycle_classes = [""]*(extra_count-1) + ["last"]
            -%>
            <%= link_to image_tag(@photos.first.best_url(photo_size), 
                :itemprop => "image", 
                :data => {
                  :pin_url => observation_url(@observation),
                  :pin_media => @photos.first.best_url(:large),
                  :pin_description => @shareable_description
                }
              ), @photos.first.becomes(Photo), 
              :class => "first zoomable", 
              :title => t(:photo_attribution, :attribution => @photos.first.attribution) %>
            <% for photo in @photos[1..extra_count] -%>
              <%= link_to image_tag(photo.square_url, :data => {
                  :pin_url => observation_url(@observation),
                  :pin_media => photo.best_url(:large),
                  :pin_description => @shareable_description
                }), photo.becomes(Photo), 
                :class => "zoomable smallphoto #{cycle(*cycle_classes)}", 
                :title => t(:photo_attribution, :attribution => photo.attribution) %>
            <% end -%>
            <% if @photos.size > extra_count+1 -%>
              <div style="clear: both">
                <%= link_to_toggle t(:view_all_photocount_photos, :photo_count => @observation.photos.size), "#morephotos" %>
                <div id="morephotos" style="display: none">
                  <% for photo in @photos[(extra_count+1)..-1] -%>
                    <%= link_to image_tag(photo.square_url, :data => {
                        :pin_url => observation_url(@observation),
                        :pin_media => photo.best_url(:large),
                        :pin_description => @shareable_description
                      }), photo.becomes(Photo), 
                      :class => "zoomable smallphoto", 
                      :title => t(:photo_attribution, :attribution => photo.attribution) %>
                  <% end -%>
                </div>
              </div>
            <% end -%>
            
            <div class="meta" style="clear:both;">
              <%=t(:photo, :count => @photos.size).capitalize %>
              <% if @photos.map{|p| p.license}.compact.uniq.size <= 1 -%>
                <%= rights @photos.first, :skip_image => true, :separator => ", " %>
              <% else %>
                &copy;
                <%= @observation.user.name.blank? ? @observation.user.login : @observation.user.name %>,
                <%=t :mixed_licenses %>
              <% end -%>
            </div>

            <% if is_me?(@observation.user) -%>
              <div class="meta">
                <span class="button"><%= link_to t(:add_more_photos), edit_observation_path, :id => "add_more_photos_link" %></span>
              </div>
            <% end -%>
          </div>
        <%- end -%>

        <% unless @sounds.blank? -%>
          <div id="sounds" class="stacked">
            <% above_the_fold_sounds = 1 %>
            <% @sounds.each_with_index do |sound, i| -%>
              <% if i == above_the_fold_sounds %>
                <div class='moresounds' style="clear: both">
                <%= link_to_toggle t(:'sounds.view_all_soundcount_sounds', :sound_count => @observation.sounds.size), "#moresounds" %>
                <div id="moresounds" style="display: none">
              <% end %>
              <% embed_link = "https://w.soundcloud.com/player/?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F#{sound.native_sound_id}&show_artwork=false&secret_token=#{sound.secret_token}" %>
              <iframe width="100%" height="166" scrolling="no" frameborder="no" src="<%= embed_link%>" class="stacked"></iframe>
            <% end -%>
            <% if @sounds.size > above_the_fold_sounds %>
                </div>
              </div>
            <% end %>

            <div class="meta" style="clear:both;">
              <%=t(:'sounds.sound').capitalize %>
              <% if @sounds.map{|s| s.license}.compact.uniq.size <= 1 -%>
                <%= rights @sounds.first, :skip_image => true, :separator => ", " %>
              <% else %>
                &copy;
                <%= @observation.user.name.blank? ? @observation.user.login : @observation.user.name %>,
                <%=t :mixed_licenses %>
              <% end -%>
            </div>
          </div>
        <%- end -%>
      </div>
    <% end -%>

    <div id="where">
      <% if show_observation_coordinates?(@observation) %>
        <%= render :partial => 'show_map' %>
      <% end %>
      <div class="description">
        <%= render :partial => 'location', :locals => {:inline_edit => true, :places => @places} %>
      </div>
    </div><!-- end where -->

  </div><!-- end where-and-photos -->
  
  <% unless @observation.description.blank? %>
    <div id="observation-description">
      <h3><%= t :description %></h3>
      <div class="clear readable description">
        <%= formatted_user_text(@observation.description) %>
      </div>
    </div>
  <% end %>
  
  <div class="clear column span-16">
    <% unless @observation.cached_tag_list.blank? && @observation.taggings.blank? %>
      <div id="tags" class="description">
        <label><%=t :tags %>:</label>
        <% if @observation.cached_tag_list -%>
          <%=raw @observation.cached_tag_list.split(',').map(&:strip).map {|t| link_to(t, observations_path(:q => t, :search_on => "tags"), :rel => "nofollow") }.join(', ') %>
        <% else %>
          <%=raw @observation.taggings.map {|t| link_to(t.tag.name, observations_path(:q => t.tag.name, :search_on => "tags"), :rel => "nofollow") }.join(', ') %>
        <% end -%>
      </div>
    <% end -%>

    <div id="dates" class="description date nobr">
      <label><%=t :added %>:</label>
      <span class="date" itemprop="datePublished" content="<%= @observation.created_at.iso8601 %>" >
        <%=l @observation.created_at %>
      </span>
    </div>

    <% if (a = @observation.oauth_application) || !@observation.device_url.blank? -%>
      <div id="app" class="description">
        <label>App:</label>
        <% if a -%>
          <%- url = a.url.blank? ? oauth_application_url(a) : a.url -%>
          <%= link_to(image_tag(favicon_url_for(url), :class => "favicon"), url) %>
          <%= link_to a.name, url %>
        <% elsif !@observation.device_url.blank? -%>
          <%= link_to @observation.device_name, @observation.device_url %>
        <% end -%>
      </div>
    <% end -%>
    
    <% unless @observation.observation_field_values.blank? -%>
      <div class="observation_fields meta">
        <%= render :partial => 'observation_fields/observation_field_value', :collection => @observation.observation_field_values %>
      </div>
    <% end -%>
    <% if @observation.fields_addable_by?(current_user) -%>
      <span class="button"><%= link_to_function t(:add_edit_more_fields), "ObservationFields.showObservationFieldsDialog()" %></span>
    <% end -%>
    
    <%= separator %>
  </div>
  
  <div id="comments_and_identifications" class="column span-16">
    <h3><%=t :comments_and_identifications %></h3>
    <%= render :partial => 'shared/activity_item', :collection => @comments_and_identifications %>
    
    <div id="forms" class="ui-tabs">
      <ul class="clear">
        <li><h3><a href="#new_comment_form"><span><%=t :add_a_comment %></span></a></h3></li>
        <li><h3><a href="#new_identification_form"><span><%=t :add_an_identification %></span></a></h3></li>
      </ul>
      
      <div id="new_comment_form">
        <%= render :partial => 'comments/comment_form', :locals => { 
          :comment => Comment.new(:parent => @observation, 
                                  :user => logged_in? ? current_user : nil)
        } %>
      </div>
      
      <div id="new_identification_form">
        <% if !logged_in? -%>
          <%= link_to t(:sign_in), login_path %>
          <%= t :or %> <%= link_to t(:sign_up), signup_path %>
          <%= t :to_add_identifications %>
        <% else %>
          <%- new_identification = Identification.new(:user => current_user, :observation => @observation) -%>
          <%= form_for new_identification do |f| %>
            <%= render :partial => "identifications/form_fields", :locals => { 
              :identification => new_identification, 
              :f => f,
              :show_body => true
            } %>
            <%= f.submit t(:save_identification), :class => 'default button', "data-loading-click" => t(:saving) %>
          <% end %>
        <% end -%>
      </div>
    </div><!-- end new comment -->
  </div><!-- end comments -->
  
  <% if logged_in? -%>
    <%= render :partial => 'subscriptions/subscription', :locals => {:resource => @observation } %>
  <% end -%>
  
</div><!-- end singleobs -->

<div class="column span-7 last">  

  <div id="identifications" class="identifications clear">
    <h3>
      <%=t :identification_summary %>
    </h3>
    
    <% if @owners_identification %>
      <div id="owners-identification" class="box <%= 'withupperright' if @listed_taxon || @conservation_status %>">
        <%= render :partial => 'identifications/identification',
                   :locals => { :identification => @owners_identification } %>
        <% if @owners_identification.taxon_id == @observation.taxon_id -%>
          <%= render "listed_taxa/taxon_blobs", :listed_taxon => @listed_taxon, :taxon => @observation.taxon, :conservation_status => @conservation_status, :show_place_name => true %>
        <% end -%>
      </div>
    <% end %>

    <% if @community_identification && !@observation.community_taxon_rejected? -%>
      <div class="identification_group">
        <div id="community-identification" class="box  <%= 'withupperright' if @listed_taxon || @conservation_status %>">
          <%= render :partial => 'identifications/identification',
                     :locals => {
                      :identification => @community_identification,
                      :usertext => t(:community_id).html_safe
                    } %>
          <% if @listed_taxon || @conservation_status -%>
            <%= render "listed_taxa/taxon_blobs", :listed_taxon => @listed_taxon, :taxon => @observation.taxon, :conservation_status => @conservation_status, :show_place_name => true %>
          <% end -%>

          <center class="actions">
            <% if is_me?(@observation.user) && (@owners_identification.blank? || @observation.community_taxon_id != @owners_identification.taxon_id) -%>
              <%= link_to t(:reject), 
                observation_url(@observation, :observation => {:prefers_community_taxon => false}, :ignore_photos => true), 
                :method => :put, 
                :class => "blob remove",
                "data-tip" => t(:opt_out_of_community_ids_for_obs, :default => "Opt out of commmunity IDs") %>
                |
            <% end -%>
            <%= link_to_function t(:about), "showCommunityTaxonDialog()", :class => "blob" %>
          </center>
        </div>
        <% if identifications = @current_identifications_by_taxon[@community_identification.taxon] -%>
          <div class="agreers description">
            <% for agreement in identifications %>
              <%= link_to user_image(agreement.user, :size => :mini), agreement.user %>
            <% end %>
            <nobr><%=t :x_people_agree_html, :count => identifications.size %></nobr>
          </div>
        <% end -%>
      </div>
    <% end -%>

    <div id="identifications-list-<%= @observation.id %>" class="identifications-list">
      <% for taxon, identifications in @sorted_current_identifications_by_taxon %>
        <%- next if !@observation.community_taxon_rejected? && @community_identification && @community_identification.taxon === taxon -%>
        <div class="identification_group">
          <%= render :partial => "identifications/identification", :locals => { :identification => identifications.first }%>
          <% if identifications.size > 1 -%>
            <div class="agreers description">
              <% for agreement in identifications[1..-1] %>
                <%= link_to user_image(agreement.user, :size => :mini), agreement.user %>
              <% end %>
              <%=t :x_people_agree_html, :count => identifications.size - 1 %>
            </div>
          <% end -%>
        </div>
      <% end %>
    </div>

    <% if @observation.community_taxon_rejected? %>
      <div id="no-community-identification" class="quiet box">
        <% if is_me?(@observation.user) -%>
          <%=t @observation.prefers_community_taxon == false ? :youve_opted_out_of_community_ids_for_this_obs : :youve_opted_out_of_community_ids %>.
          <ul class="unstacked">
            <li>
              <%= link_to t(:opt_in_for_this_observation), 
                observation_url(@observation, :observation => {:prefers_community_taxon => true}, :ignore_photos => true), 
                :method => :put %>
            </li>
            <li>
              <%= link_to t(:edit_your_default_settings), generic_edit_user_path %>
            </li>
          </ul>
        <% else %>
          <%=t @observation.prefers_community_taxon == false ? :user_has_opted_out_of_community_ids_for_this_obs : :user_has_opted_out_of_community_ids, :user => @observation.user.login %>

        <% end -%>
        <center class="actions">
          <%= link_to_function t(:about), "showCommunityTaxonDialog()", :class => "blob" %>
        </center>
      </div>
    <% end -%>
    
    <% if is_me?(@observation.user) -%>
      <div id="idplease" class="clear inline buttonrow">
        <div id="added_to_id_please" class="box id_please_notice clear" style="display: <%= @observation.id_please? ? 'block' : 'none' %>">
          <span class="inter">
            <%= t :added_to %> <%= link_to t(:id_please).truncate(18), id_please_path %>
          </span>
          <%= link_to t(:remove), @observation,
            :remote => true,
            "data-params" => "ignore_photos=true&observation[id_please]=false",
            :method => :put,
            :class => "pale button",
            :style => "float: right; margin: 0" %>
        </div>
        
        <div id="need_id_help" class="quiet stacked box" style="display: <%= @observation.id_please? ? 'none' : 'block' %>">
          <%= link_to t(:add_to_id_please), @observation,
            :remote => true,
            "data-params" => "ignore_photos=true&observation[id_please]=true",
            "data-type" => "json",
            :method => :put,
            :class => "glaucous button",
            :style => "float: right; margin: 0;" %>
          <span class="inter"><%=t :need_id_help? %></span>
        </div>
      </div>
    <% elsif @observation.id_please? %>
      <div id="idplease" class="box stacked">
        <%= link_to @observation.user.login, @observation.user %>
        <%=t :would_like_some_help_identifying_this %>
      </div>
    <% end -%>
    
    <% user_identified = false %>
    <% if logged_in? %>
      <% identifying_user_ids =  @observation.identifications.map { |ident| ident.user_id } -%>
      <% user_identified = identifying_user_ids.include?(current_user.id) -%>
    <% end %>
    <div id="identification_form_wrapper-<%= @observation.id %>" class="identification_form_wrapper stacked">
      <h4><%=t :suggest_an_id %></h4>
      <%= render :partial => 'identifications/identification_form',
                 :locals => { :observation => @observation }%>
    </div>
    <% if user_identified %>
      <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
          $('#identification_form_wrapper-<%= @observation.id %>').hide();
        });
      </script>
    <% end %>
    
    <% if logged_in? -%>
      <%= link_to t(:identotron), identotron_path(:observation_id => @observation), 
        :rel => "nofollow",
        :class => "glaucous button",
        :style => "float: none; margin: 0 auto; width: 80px;",
        "data-loading-click" => true %>
    <% end -%>
  </div><!-- end identifications -->
  
  <% if !@project_observations.blank? || (!@addable_projects.blank? && @project_addition_allowed) -%>
    <%= separator %>
    <div id="projects" class="clear stacked">
      <h3><%=t :projects %></h3>
      <% unless @project_observations.blank? -%>
        <% for po in @project_observations %>
          <div class="quiet box clear inline buttonrow">
            <% if is_me?(@observation.user) || is_me?(po.user) || curator_of?(po.project) -%>
              <%= popover content_tag(:span, '', 'class': 'ui-icon ui-icon-gear inlineblock'), 
                  'class': 'pale button', 
                  data: {
                    popover: {
                      position: {my: 'top right', at: 'bottom center'},
                      title: t(:project_observation_settings)
                    }
                  } do %>
                <% if po.project.project_observation_fields.exists? -%>
                  <div class="clear inline smallbuttons buttonrow lined">
                    <%= link_to t(:fill_out_project_observation_fields), 
                      nil,
                      onclick: "ObservationFields.showObservationFieldsDialog({url: '/observations/'+window.observation.id+'/fields?project_id=#{po.project_id}'}); $(this).parents('.qtip').qtip('hide'); return false",
                      'class': "glaucous button" %>
                  </div>
                <% end -%>
                <% if is_me? @observation.user -%>
                  <% unless @projects.map(&:id).include?(po.project_id) -%>
                    <div class="clear inline smallbuttons buttonrow lined">
                      <%= link_to t(:join_this_project), join_project_url(po.project_id), 
                        'class': "glaucous button joinlink",
                        data: { project_id: po.project_id } %>
                      <div class="meta upstacked">
                        <%=t 'views.observations.show.join_project_desc_html', url: project_terms_url(po.project) %>
                      </div>
                    </div>
                  <% end -%>
                  <div class="lined">
                    <%= form_for po, remote: true, data: {format: :json} do |f| %>
                      <label>
                        <%= f.check_box :prefers_curator_coordinate_access, 
                          id: dom_id(po, 'preferred_usage'),
                          data: {autosubmit: true} %>
                        <%= t(:allow_curator_coordinate_access) %>
                      </label>
                      <div class="meta">
                        <%=t 'views.observations.show.allow_curator_coordinate_access_desc_html', url: project_terms_url(po.project) %>
                      </div>
                    <% end %>
                  </div>
                <% end -%>
                <div class="clear inline smallbuttons buttonrow <%= 'lined' if is_me?(@observation.user) %>">
                  <%= link_to t(:remove_from_project), 
                    remove_project_observation_path(po.project_id, :observation_id => @observation.id),
                    method: :delete,
                    data: {
                      confirm: t(:you_sure_remove_this_observation?),
                      loading_click: t(:removing)
                    },
                    'class': "glaucous button" %>
                </div>
                <% if is_me? @observation.user -%>
                  <span class="button">
                    <%= link_to t(:edit_your_settings_for_this_project), project_show_contributor_url(po.project, current_user.login) %>
                  </span>
                  <br/>
                  <span class="button">
                    <%= link_to t(:edit_your_global_project_settings), generic_edit_user_url(anchor: 'projects') %>
                  </span>
                <% end %>
              <% end %>
            <% end -%>
            <span class="inter">
              <%= image_and_content image_tag(po.project.icon.url(:thumb)), image_size: 24 do %>
                <%= link_to truncate(po.project.title, :length => 30), po.project %>
              <% end %>
            </span>
            <% if po.user_id && po.user_id != @observation.user_id -%>
              <div class="small meta clear">
                <%=t :added_by_user_on_date_html, user: link_to_user(po.user), date: l(po.created_at, format: :long) %>
              </div>
            <% end -%>
          </div>
        <% end %>
      <% end %>
    </div>
    
    <% if !@addable_projects.blank? && @project_addition_allowed %>
      <div class="clear">
        <% link_to_toggle_menu t(:add_to_project), :class => "button", 
            :wrapper => {:id => "project_menu", :class => "toggle_menu_list"} do %>
          <ul>
            <% for project in @addable_projects %>
              <li class="inline buttonrow">
                <%= link_to t(:remove),
                  remove_project_observation_path(project, :observation_id => @observation.id),
                  :remote => true,
                  :method => :delete,
                  :data => {
                    :type => "json",
                    :confirm => t(:are_you_sure_delete_observation_from_project, :project => project.title)
                  },
                  :class => "removelink pale button",
                  :id => dom_id(project, "removelink"),
                  :style => @project_observations_by_project_id[project.id] ? nil : 'display:none' %>
                <%= link_to t(:add), 
                  add_project_observation_path(project, :observation_id => @observation.id),
                  :remote => true,
                  "data-type" => "json",
                  "data-project-id" => project.id,
                  :method => :post,
                  :id => dom_id(project, "addlink"),
                  :class => "addlink glaucous button",
                  :style => @project_observations_by_project_id[project.id] ? 'display:none' : nil %>
                <%= link_to h(project.title), project, :class => "inter" %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  <% end -%>
  
  <%= separator %>

  <% if !@day_observations.blank? && @day_observations.size > 1 -%>
      <div id="day_observations" class="clear quiet box">
        <div class="clear">
          <% for o in @day_observations %>
            <%= link_to observation_image(o, :size => "square"), observation_path(o), :title => o.to_plain_s %>
          <% end %>
        </div>
        <%= link_to t(:view_x_from_x, :day_observations => @day_observations.total_entries, :observed_on => l(@observation.observed_on, :format => :long)), calendar_date_path(@observation.user.login, @observation.observed_on.year, @observation.observed_on.month, @observation.observed_on.day), :class => "right readmore" %>
      </div>
    <%= separator %>
  <% end -%>

  <% unless @posts.blank? -%>
    <h3><%= t :journal_post %></h3>
    <ul class="plain">
      <% for post in @posts %>
        <li>
          <span class="date meta"><%= post.published_at.to_date.to_s(:plain_time) %></span>
          <%= link_to truncate(post.title, :length => 40), post %>
        </li>
      <% end %>
    </ul>
    <%= separator %>
  <% end -%>
  
  <div id="data_quality_assessment">
    <h3>
      <span class="right quality_tip_target description helptip" rel="#quality_tip" data-helptip-title="<%= t :about_the_quality_assessment %>" data-helptip-width="500" style="margin-top:4px"></span>
      <%=t :data_quality_assessment %>
    </h3>
    <%= render :partial => "quality_metrics/quality_metrics", :object => @observation %>
    <%= separator %>
  </div>
  
  <% unless @observation_links.blank? -%>
    <div id="links" class="stacked">
      <div id="links_tip" style="display:none;">
        <p>
          <%= t :x_site_shared_licensed_observation_data_with, :site_name => CONFIG.site_name %>
        </p>
        
        <% if is_me?(current_user) -%>
          <p>
            <%= t :if_you_dont_want_us_to_share_your_data %>,
            <%= link_to_function t(:un_license_this_observation),
              "$('#editlicense').dialog({modal:true, width:'auto', title: 'Edit license'})" %>,
            <%= t :or_you_can_ %>
            <%= link_to t(:edit_your_account), edit_user_path(current_user, :anchor => 'licenses') %>
            <%= t :and_un_license_all_your_observations %>.
          </p>
        <% end -%>
        
        <p>
          <%= t :if_youd_like_us_to_share_your_observations_with %>
        </p>
      </div>
      <h3>
        <span class="right quality_tip_target description helptip" rel="#links_tip" data-helptip-title="<%= t(:about_external_links) %>" data-helptip-width="500" style="margin-top:4px"></span>
        <%= t :external_links %>
      </h3>
      <p class="meta ui">
        <%= t :this_observation_has_been_incorporated_into_the_following_external_websites %>:
      </p>
      <ul class="plain inline">
        <% for ol in @observation.observation_links %>
          <li class="inlineblock" style="margin-right: 10px;">
            <%= link_to ol.href_name, ol.href, :rel => "alternate" %>
          </li>
        <% end %>
      </ul>
      <%= separator %>
    </div>
  <% end -%>
  
  <div class="rights stacked meta">
    <%= t(:observation_rights_html, :rights => rights(@observation)) %>
    <% if is_me? @observation.user -%>
      <span class="button">
        <%= link_to_function t(:edit), "$('#editlicense').dialog({modal:true, width:'auto', title: 'Edit license'})" %>
      </span>
      <% if @observation.license.blank? -%>
        <div class="padded notice status iconified">
          <span class="ui-icon ui-icon-transfer-e-w inlineblock"></span>
          <%=t :share_your_observation_with_researchers_by %>
          <%= link_to_function t(:using_a_license), "$('#editlicense').dialog({modal:true, width:'auto', title: 'Edit license'})" %>.
        </div>
      <% end -%>
      <div id="editlicense" class="dialog" style="display:none">
        <div class="column span-18 verticalmiddle licensechoices">
          <p class="ui description">
            <%= raw t(:licensing_your_content, :site_name => SITE_NAME) %>
          </p>
          <%= render :partial => 'shared/license_form' %>
        </div>
      </div>
    <% end -%>
  </div>
  
  <% if @observation.flagged? %>
    <div id="flaggings_heads_up" class="description">
      <%=t :heads_up_this_observation_has_been_flagged %>
      <%= link_to t(:view_flags), observation_flags_path(@observation) %>
      |
      <%= link_to t(:add_another_flag), new_observation_flag_path(@observation),
                  :id => "flag_this", :rel => "nofollow", :class => "flaglink" %>
    </div>
  <% else %>
    <p class="description ui">
      <%= t(:is_this_observation_offensive_html) %>
      <%= link_to t(:flag_this_observation), new_observation_flag_path(@observation), :id => "flag_this", :rel => "nofollow", :class => "flaglink" %>
    </p>
    <p class="description ui">
      <%=t :you_think_observation_inacurate %>
    </p>
  <% end %>
  
  <%= separator %>
  
  <div id="sharing" class="stacked">
    <script src="//connect.facebook.net/<%= t(:fblocale) %>/all.js#xfbml=1"></script>
    <fb:like send="true" show_faces="true" width="270" layout="button_count"></fb:like>
    <% if @shareable_image_url -%>
      <%= link_to image_tag("//assets.pinterest.com/images/pidgets/pin_it_button.png"), 
        "https://www.pinterest.com/pin/create/button/?url=#{u observation_url(@observation)}&media=#{u @shareable_image_url}&description=#{u @shareable_description}", 
        :data => {
          :pin_do => "buttonPin", 
          :pin_config => "above"
        } %>
      </a>
    <% end -%>
  </div>
  
</div><!-- end right col -->
