= content_for(:title) do
  = [@place.try(:name), @user.try(:login), @project.try(:title)].compact.join(' / ')
  Real Time Stats
#stats.clear
  = render 'real_time_stats'

- if @stats_adequately_scoped
  #observations.observations.medium.grid
    = loading
  = link_to t(:view_all_observations), request.fullpath.gsub(/\/stats/, ''), :class => "readmore"
- else
  = render 'stats_inadequately_scoped'

= content_for(:extracss) do
  :css
    #stats {width:200px;float:right;margin-left:10px;}
    .stat {margin-bottom: 10px;}
    .stat .count {font-size: 300%;}
    #wrapper { width: auto; padding: 0 10px; position: relative;padding:10px;}
    .stat img {max-width:36px;}
    .numerical.stat .count {line-height: 1;}
    td {border:none; vertical-align:top;}
    table {margin:0;}

:javascript
  if ($('#observations').length == 1) {
    $('#observations').loadObservations({
      url: '/observations'+window.location.search,
      refresh: window.location.toString().match(/refresh=true/) ? 30*1000 : null,
      success: function(r, data) {
        var headers = r.getAllResponseHeaders()
        var matches = headers.match(/X-Total-Entries: (\d+)/) || [],
            totalEntries = matches[1]
        if (totalEntries) {
          $('.totalcount .count').html(totalEntries)
        }
      }
    })
    
    $('#stats').observationTaxonStats({
      url: '/observations/taxon_stats.json'+window.location.search,
      refresh: window.location.toString().match(/refresh=true/) ? 30*1000 : null
    })
    $('#stats').observationUserStats({
      url: '/observations/user_stats.json'+window.location.search+'&limit='+5,
      refresh: window.location.toString().match(/refresh=true/) ? 30*1000 : null
    })
  }
  if (self != top) {
    $('a').live('click', function() {
      if ($(this).attr('href') == '#') {
        return
      }
      $(this).attr('target', '_parent')
    })
  }
