= content_for :title do
  - @title = t( :users )
  = strip_tags @title
= content_for(:extracss) do
  :css
    #wrapper { width: auto; padding: 0 10px; position: relative;padding:10px;}
= content_for :extrajs do
  :javascript
    $(document).ready(function() {
      var queryParams = $.deparam.querystring(),
          limit = queryParams.limit || 500
      if (limit > 500 || limit < 1) {
        limit = 500
      }
      $('#user_stats').leaderboard($.extend({}, queryParams, {limit: limit}, true))
    })

- unless @stats_adequately_scoped
  .container-fluid
    .row
      .col-xs-12= render 'stats_inadequately_scoped'
- else
  .container-fluid
    .row
      .col-xs-12
        %h4= @title
        %p=t 'views.observations.user_stats.user_stats_desc'
    .row
      .col-xs-12
        #user_stats

