= content_for :title do
  - @title = title_for_observation_params(:lead => t(:observed_taxa, :default => "Observers"))
  = strip_tags @title
= content_for(:extracss) do
  :css
    #wrapper { width: auto; padding: 0 10px; position: relative;padding:10px;}
= content_for :extrajs do
  :javascript
    $(document).ready(function() {
      $('#user_stats').leaderboard($.extend({}, $.deparam.querystring(), {limit: 500}, true))
    })

- unless @stats_adequately_scoped
  .container-fluid
    .row-fluid
      .span12= render 'stats_inadequately_scoped'
- else
  .container-fluid
    .row-fluid
      .span12
        %h4= @title
        %p=t 'views.observations.user_stats.user_stats_desc'
    .row-fluid
      .span12
        #user_stats

