<%- content_for(:title) do -%>
  Observations Widget
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "jquery/plugins/jquery.autocomplete.css" %>
  <style type="text/css" media="screen">
    textarea { width: 100%; }
    iframe { height: 600px; }
    #background_color_wrapper {
      float: right;
    }
    #background_color_wrapper,
    #background_color_wrapper input {
      font-size: 9pt;
    }
    #background_color_wrapper input { padding: 2px; margin-left: 5px; }
    .placeAutocompleteStatus { width: auto; }
    #placechooser .placeAutocompleteStatus { 
      display: inline-block;
      margin: 0 auto;
      padding: 2px 5px;
    }
    
    #widgetnav .selected { font-weight: bold; }
    #species_guess { width: 200px; }
    
    /* re-reset blueprint stuff */
    table   { margin: 0; }
    th      { border: 0 transparent; font-weight: inherit; }
    td      { border: 0 transparent; vertical-align: top; }
    th,td   { padding: 0; }
    tfoot   { font-style: normal; }
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag "jquery/plugins/jquery.autocomplete.min",
                             "jquery/plugins/inat/place_autocomplete" %>
  
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#placechooser input[type=text]').placeAutocomplete('/places/autocomplete', {
        afterChoosePlace: function() {
          $('#placechooser .default.button').attr('disabled', false).removeClass('disabled').focus()
        },
        afterClearPlace: function() {
          $('#placechooser .default.button').attr('disabled', true).addClass('disabled')
        }
      })
      $('.placefield input[type=text]').placeAutocomplete()
      <% if @place %>
        $.fn.placeAutocomplete.choosePlace($('.placefield input[type=text]').get(0), <%= @place.to_json(:methods => [:place_type_name]) %>)
      <% end %>
      <% if @taxon %>
        $('#species_guess').simpleTaxonSelector();
      <% end %>
      $('#background_color').change(function() {
        $('#preview').css('background-color', $(this).val());
      });
    });
  </script>
<%- end -%>
<div id="pageheader">
  <div id="widgetnav" class="right">
    <span class="meta">Observations</span>
    <%= link_to "by you", url_for(), :class => "#{'selected' unless @place || @taxon || @project}" %>
    <span class="meta">&middot;</span>
    <%= link_to_function "from a place", "$('#placechooser').show(); $(this).hide()",
      :id => "placechooserlink",
      :class => "#{'selected' if @place}" %>
    <form method="get" id="placechooser" class="buttonrow smallbuttons inline" style="display: none">
      <label for="place_name">Place name</label>
      <input type="text" name="place_name" id="place_name" class="text">
      <input type="hidden" name="place_id" value="" id="place_id">
      <input type="submit" value="Generate Widget" disabled="true" class="disabled default button"/>
      <%= link_to_function "cancel", "$('#placechooser').hide(); $('#placechooserlink').show()" %>
    </form>
    <span class="meta">&middot;</span>
    <%= link_to "for a taxon", url_for(:taxon_id => '1'), :class => "#{'selected' if @taxon}" %>
  </div>
  
  <h2>Observations Widget</h2>
  <p class="description">
    Configure a widget to show iNaturalist observations on your website or
    blog. You may have to include the embedded CSS in the
    <code>&lt;head&gt;</code> of your HTML.  Feel free to re-write the CSS.
  </p>
</div>

<% if logged_in? || @place || @taxon -%>
  <div class="column span-6">
    <h3>Settings</h3>
    <form method="get">
      <% if @place -%>
        <div class="field placefield">
          <label>Place</label><br/>
          <input type="text" name="place_name" value="<%= @place.name if @place %>"/>
          <input type="hidden" name="place_id" value="<%= @place.id if @place %>"/>
          <div>
            <%= link_to "View #{h(truncate(@place.name, :length => 30))}", @place, :class => "readmore" %>
          </div>
        </div>
      <% end -%>
      <% if @taxon -%>
        <input type="text" id="species_guess" class="text" value="<%= @taxon.name if @taxon %>"/>
        <input type="hidden" name="taxon_id" value="<%= @taxon.id if @taxon %>"/>
      <%end -%>
      <% if @project -%>
        <input type="text" id="project_title" value="<%= @project.title if @project %>"/>
        <input type="hidden" name="project_id" value="<%= @project.id if @project %>"/>
      <%end -%>

      <div class="field">
        <label>Logo</label><br/>

        <input type="radio" name="logo" value="logo-small.gif" id="logo_small_gif" <%= 'checked="checked"' if @logo == "logo-small.gif" %>>
        <label for="logo_small_gif">white BG GIF</label><br/>

        <input type="radio" name="logo" value="logo-small.png" id="logo_small_png" <%= 'checked="checked"' if @logo == "logo-small.png" %>>
        <label for="logo_small_png">transparent PNG</label><br/>

        <input type="radio" name="logo" value="logo-small-white.png" id="logo_small_white_gif" <%= 'checked="checked"' if @logo  == "logo-small-white.png" %>>
        <label for="logo_small_white_gif">white text transparent PNG</label><br/>

        <input type="radio" name="logo" value="none" id="logo_none" <%= 'checked="checked"' if @logo == "none" %>>
        <label for="logo_none">none</label>
      </div>
      <div class="field">
        <label for="limit">Number of observations</label><br/>
        <select name="limit" id="limit">
          <% 20.times do |n| %>
          <option value="<%= n + 1 %>"<%= ' selected="selected"' if n+1 == @limit %>><%= n + 1 %></option>
          <% end %>
        </select>
      </div>

      <div class="field">
        <label for="order_by">Order by</label><br/>
        <select name="order_by" id="order_by">
          <option <%= 'selected="selected"' if @order_by == 'observed_on' %> value="observed_on">date observed on</option>
          <option <%= 'selected="selected"' if @order_by == 'created_at' %> value="created_at">date added</option>
        </select>
      </div>

      <div class="field">
        <label for="order">Order</label><br/>
        <input type="radio" name="order" <%= 'checked="checked"' if @order == 'desc' %> value="desc" id="order_desc"> <label for="order_desc">descending</label>
        <input type="radio" name="order" <%= 'checked="checked"' if @order == 'asc' %> value="asc" id="order_asc"> <label for="order_asc">ascending</label>
      </div>

      <div class="field">
        <label for="layout">Layout</label><br/>
        <input type="radio" name="layout" <%= 'checked="checked"' if @layout == 'large' %> value="large" id="layout_large"> <label for="layout_large">list</label>
        <input type="radio" name="layout" <%= 'checked="checked"' if @layout == 'small' %> value="small" id="layout_small"> <label for="layout_small">grid</label>
      </div>

      <%= submit_tag "Configure &raquo;", :class => "button" %>
    </form>
  </div>

  <div class="last column span-18">
    <div id="loading" class="loading status" style="display: none">Loading preview and code...</div>
    <div id="widget_preview_and_code">
      <%= render :partial => 'widget_preview_and_code', :locals => {
        :place => @place, :taxon => @taxon, :project => @project
      } %>
    </div>
  </div>
  
  
  <div class="last column span-24 meta">
    <h3>Note</h3>
    <p class="ui">
      New observations may take up to
      <%= ObservationsController::WIDGET_CACHE_EXPIRATION / 60 %> minutes to 
      appear in the widget.
    </p>
    <% if @place -%>
      <p class="ui">
        Observations "near" a place are within a rectangle drawn around
        the place's boundary, which may result in some inaccurate results for
        places that don't resemble rectangles. This is due to a limitation with
        our database that we're working to resolve.
      </p>
    <% end -%>
  </div>

<% else %>
  <p>
    <%= link_to "Sign in", login_path %>
    or <%= link_to "sign up", signup_path %>
    to configure your widget.
  </p>
<% end -%>

