<%- content_for(:title) do -%>
  <%= @title=t(:observations_widget) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "jquery/plugins/jquery.autocomplete.css" %>
  <style type="text/css" media="screen">
    textarea { width: 100%; }
    iframe { height: 600px; }
    #background_color_wrapper {
      float: right;
    }
    #background_color_wrapper,
    #background_color_wrapper input {
      font-size: 9pt;
    }
    #background_color_wrapper input { padding: 2px; margin-left: 5px; }
    #placechooser .default.button {vertical-align:middle;}
    
    #widgetnav .selected { font-weight: bold; }
    #species_guess { width: 200px; }
    
    /* re-reset blueprint stuff */
    table   { margin: 0; }
    th      { border: 0 transparent; font-weight: inherit; }
    td      { border: 0 transparent; vertical-align: top; }
    th,td   { padding: 0; }
    tfoot   { font-style: normal; }
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#placechooser input[type=text]').chooser({
        collectionUrl: '/places/autocomplete.json?with_geom=t',
        resourceUrl: '/places/{{id}}.json?partial=autocomplete_item',
        afterSelect: function(item) {
          $('#placechooser .default.button').attr('disabled', false).removeClass('disabled').focus()
        },
        afterClear: function() {
          $('#placechooser .default.button').attr('disabled', true).addClass('disabled')
        },
        chosen: eval('(' + $('#placechooser input[type=text]').attr('data-json') + ')')
      })
      $('.placefield input[type=text]').chooser({
        collectionUrl: '/places/autocomplete.json',
        resourceUrl: '/places/{{id}}.json?partial=autocomplete_item',
        chosen: eval('(' + $('.placefield input[type=text]').attr('data-json') + ')')
      })
      <% if @place.blank? %>
        $('#placechooser .cancellink').click()
      <% end %>
      <% if @taxon %>
        $('#species_guess').simpleTaxonSelector();
      <% end %>
      $('#background_color').change(function() {
        $('#preview').css('background-color', $(this).val());
      });
    });
  </script>
<%- end -%>
<div id="pageheader">
  <div id="widgetnav" class="right">
    <span class="meta"><%= t :observations %></span>
    <%= link_to t(:by_you).downcase, url_for(), :class => "#{'selected' unless @place || @taxon || @project}" %>
    <span class="meta">&middot;</span>
    <%= link_to_function t(:from_a_place), "$('#placechooser').show(); $(this).hide()",
      :id => "placechooserlink",
      :class => "selected" %>
    <form method="get" id="placechooser" class="buttonrow smallbuttons inline">
      <label for="place_name"><%= t :place_name %></label>
      <input type="text" name="place_id" value="" id="place_id" placeholder="<%= t :type_place_name %>" data-json='<%= @place.to_json.html_safe %>'/>
      <input type="submit" value="<%= t :generate_widget %>" disabled="true" class="disabled default button"/>
      <%= link_to_function t(:cancel), "$('#placechooser').hide(); $('#placechooserlink').show()", :class => "cancellink" %>
    </form>
    <span class="meta">&middot;</span>
    <%= link_to t(:for_a_taxon), url_for(:taxon_id => '1'), :class => "#{'selected' if @taxon}" %>
  </div>
  
  <h2><%= @title %></h2>
  <p class="description">
    <%= t(:configure_a_widget_to_show, :site_name => @site.name).html_safe %>
  </p>
</div>

<% if logged_in? || @place || @taxon -%>
  <div class="column span-6">
    <h3><%= t(:settings).capitalize %></h3>
    <form method="get">
      <% if @place -%>
        <div class="field placefield">
          <label><%= t :place %></label><br/>
          <input type="text" name="place_id" value="<%= @place.id if @place %>" data-json='<%= @place.to_json.html_safe %>'/>
          <div>
            <%= link_to "#{t(:view)} #{h(truncate(@place.name, :length => 30))}", @place, :class => "readmore" %>
          </div>
        </div>
      <% end -%>
      <% if @taxon -%>
        <input type="text" id="species_guess" class="text" value="<%= @taxon.name if @taxon %>"/>
        <input type="hidden" name="taxon_id" value="<%= @taxon.id if @taxon %>"/>
      <%end -%>
      <% if @project -%>
        <label><%= t :project %></label><br/>
        <%= link_to @project.title, @project %>
        <input type="hidden" name="project_id" value="<%= @project.id if @project %>"/>
      <%end -%>

      <div class="field">
        <label><%= t 'logo.logo' %></label><br/>

        <input type="radio" name="logo" value="logo-small.gif" id="logo_small_gif" <%= 'checked="checked"' if @logo == "logo-small.gif" %>>
        <label for="logo_small_gif"><%= t 'logo.white_bg_gif' %></label><br/>

        <input type="radio" name="logo" value="logo-small.png" id="logo_small_png" <%= 'checked="checked"' if @logo == "logo-small.png" %>>
        <label for="logo_small_png"><%= t 'logo.transparent_png' %></label><br/>

        <input type="radio" name="logo" value="logo-small-white.png" id="logo_small_white_gif" <%= 'checked="checked"' if @logo  == "logo-small-white.png" %>>
        <label for="logo_small_white_gif"><%= t 'logo.white_text_transparent_png' %></label><br/>

        <input type="radio" name="logo" value="none" id="logo_none" <%= 'checked="checked"' if @logo == "none" %>>
        <label for="logo_none"><%= t 'logo.none' %></label>
      </div>
      <div class="field">
        <label for="limit"><%= t :number_of_observations %></label><br/>
        <select name="limit" id="limit">
          <% 20.times do |n| %>
          <option value="<%= n + 1 %>"<%= ' selected="selected"' if n+1 == @limit %>><%= n + 1 %></option>
          <% end %>
        </select>
      </div>

      <div class="field">
        <label for="order_by"><%= t :order_by %></label><br/>
        <select name="order_by" id="order_by">
          <option <%= 'selected="selected"' if @order_by == 'observed_on' %> value="observed_on"><%= t :date_observed_on %></option>
          <option <%= 'selected="selected"' if @order_by == 'created_at' %> value="created_at"><%= t(:date_added).downcase %></option>
        </select>
      </div>

      <div class="field">
        <label for="order"><%= t :order %></label><br/>
        <input type="radio" name="order" <%= 'checked="checked"' if @order == 'desc' %> value="desc" id="order_desc"> <label for="order_desc"><%= t :descending %></label>
        <input type="radio" name="order" <%= 'checked="checked"' if @order == 'asc' %> value="asc" id="order_asc"> <label for="order_asc"><%= t :ascending %></label>
      </div>

      <div class="field">
        <label for="layout"><%= t :layout %></label><br/>
        <input type="radio" name="layout" <%= 'checked="checked"' if @layout == 'large' %> value="large" id="layout_large"> <label for="layout_large"><%= t(:list).downcase %></label>
        <input type="radio" name="layout" <%= 'checked="checked"' if @layout == 'small' %> value="small" id="layout_small"> <label for="layout_small"><%= t(:grid).downcase %></label>
      </div>

      <%= submit_tag "#{t(:configure)} &raquo;".html_safe, :class => "button" %>
    </form>
  </div>

  <div class="last column span-18">
    <div id="loading" class="loading status" style="display: none"><%= t :loading_preview_and_code %></div>
    <div id="widget_preview_and_code">
      <%= render :partial => 'widget_preview_and_code', :locals => {
        :place => @place, :taxon => @taxon, :project => @project
      } %>
    </div>
  </div>
  
  
  <div class="last column span-24 meta">
    <h3><%= t :note %></h3>
    <p class="ui">
      <%= t(:new_observations_may_take_up_to, :widget_expiration => ObservationsController::WIDGET_CACHE_EXPIRATION / 60) %>
    </p>
    <% if @place -%>
      <p class="ui">
        <%= t :observations_near_a_place_are %>
      </p>
    <% end -%>
  </div>

<% else %>
  <p>
    <%= link_to t(:sign_in), login_path %>
    <%= t :or %> <%= link_to t(:sign_up), signup_path %>
    <%= t :to_configure_your_widget %>
  </p>
<% end -%>

