#filter-dropdown.container
  #filters-body
    .row
      .col-xs-4
        .row
          .col-xs-12
            %label.sectionlabel Show
        #show-filters.row
          .col-xs-6
            .checkbox
              %label
                %input{type: 'checkbox', "ng-model" => "params.captive", "ng-true-value" => "false", "ng-false-value" => ""}
                Wild
            .checkbox
              %label
                %input{type: 'checkbox', "ng-model" => "params.verifiable", "ng-false-value" => ""}
                Verifiable
            .checkbox
              %label
                %input{type: 'checkbox', value: 'research', "ng-model" => "params.quality_grade", "ng-true-value" => "'research'", "ng-false-value": "" }
                Research Quality
            .checkbox
              %label
                %input{type: 'checkbox', "ng-model" => "params.threatened", "ng-false-value" => ""}
                Threatened
          .col-xs-6
            .checkbox
              %label
                %input{type: 'checkbox', "ng-model" => "params.introduced", "ng-false-value" => ""}
                Introduced
            .checkbox
              %label
                %input{type: 'checkbox', "ng-model" => "params.popular", "ng-false-value" => ""}
                Popular
            .checkbox
              %label
                %input{type: 'checkbox', disabled: true}
                First Report
            / .checkbox
            /   %label
            /     %input{type: 'checkbox', "ng-model" => "params.has_sounds", "ng-false-value" => ""}
            /     =t :has_sounds
            .checkbox
              %label
                %input{type: 'checkbox', "ng-model" => "params.has_photos", "ng-false-value" => ""}
                Has Photos
        .row
          .col-xs-12
            .form-group
              %label{for: 'params-q'} Description / Tags
              %input#params-q.form-control{"ng-model" => "params.q", "ng-model-options" => "{debounce: 1000}", placeholder: "blue, butterfly, etc."}
      .col-xs-4
        .row
          .col-xs-12
            %label.sectionlabel Categories
            #filters-categories.btn-group{data: {toggle: 'buttons'}}
              - Taxon::ICONIC_TAXA.reject{|t| t.name == 'Animalia'}.each_with_index do |t, i|
                %label{title: t.name, :class => "btn btn-default iconic-taxon #{'last' if (i+1) % 6 == 0}"}
                  %input{type: 'checkbox', "ng-model" => "params._iconic_taxa.#{t.name}", :value => t.name}
                  %i{:class => "icon-iconic-#{t.name.downcase}"}
        .row
          .col-xs-12
            %label.sectionlabel{for: 'params-hrank'} Rank
        #filters-ranks.row
          .col-xs-6
            %select#params-hrank.form-control{"ng-model" => "params.hrank", "ng-model-options" => "{debounce: 1000}"}
              %option{value: ''} High
              - for rank in Taxon::VISIBLE_RANKS
                %option{value: rank}= rank
          .col-xs-6
            %select#params-lrank.form-control{"ng-model" => "params.lrank", "ng-model-options" => "{debounce: 1000}"}
              %option{value: ''} Low
              - for rank in Taxon::VISIBLE_RANKS
                %option{value: rank}= rank
        .row
          .col-xs-12
            %label.sectionlabel{for: 'params-order-by'} Sort by
        .row
          .col-xs-6
            %select#params-order-by.form-control{"ng-model" => "params.order_by", "ng-model-options" => "{debounce: 1000}"}
              = FakeView.observations_order_by_options
          .col-xs-6
            %select#params-order.form-control{"ng-model" => "params.order", "ng-model-options" => "{debounce: 1000}"}
              = FakeView.options_for_select(%w(asc desc).map{|o|t(o)}, @order)
      .col-xs-4
        %label.sectionlabel Dates
        #filters-dates
          %label.radio
            %input{type: 'radio', name: 'date-type', value: 'any', "ng-model" => "params.dateType"}
              Any
          %label.radio
            %input{type: 'radio', name: 'date-type', value: 'exact', "ng-model" => "params.dateType"}
            %span.date-type
              Exact date:
              %input#filters-dates-exact.form-control.date-picker{type: 'text', placeholder: 'YYYY-MM-DD', "ng-model" => "params.on", "ng-disabled" => "params.dateType != 'exact'"}
          %label.radio
            %input{type: 'radio', name: 'date-type', value: 'range', "ng-model" => "params.dateType"}
            %span.date-type
              Range:
              %input.form-control.date-picker{type: 'text', placeholder: 'Start', "ng-model" => "params.d1", "ng-disabled" => "params.dateType != 'range'"}
              %input.form-control.date-picker{type: 'text', placeholder: 'End', "ng-model" => "params.d2", "ng-disabled" => "params.dateType != 'range'"}
          %label.radio
            %input{type: 'radio', name: 'date-type', value: 'month', "ng-model" => "params.dateType"}
            %span.date-type
              Month(s):
              = FakeView.select_tag :month, FakeView.options_for_select((1..12).to_a.map{|n| [Date::MONTHNAMES[n],n]}, :selected => @observed_on_months), "ng-model" => "params.months", "ng-disabled" => "params.dateType != 'month'", :class => "form-control", id: "filters-dates-months", multiple: "multiple"
    .row
      .col-xs-12
        %button#filters-more-btn.btn.btn-link.collapsed{type: 'button', data: {toggle: 'collapse', target: '#more-filters'}, "aria-expanded" => "false", "aria-controls" => "more-filters"}
          More Filters
          %i.fa.fa-caret-down
          %i.fa.fa-caret-up
        #more-filters.collapse
          .row
            .col-xs-4
              .form-group
                %label{for: 'params-user-id'} Person
                .input-group
                  %span.input-group-addon.fa.fa-user
                  %input#params-user-id.form-control{"ng-model" => "params.user_id", "ng-model-options" => "{debounce: 1000}", placeholder: "Name or username"}
              .form-group
                %label{for: 'params-projects'} Project
                .input-group
                  %span.input-group-addon.fa.fa-briefcase
                  %input#params-projects.form-control{"ng-model" => "params.projects", "ng-model-options" => "{debounce: 1000}", placeholder: "Project name"}
            .col-xs-4
              .form-group
                %label Photo licensing
                %select.form-control{"ng-model" => "params.photo_license"}
                  %option{value: ''} All
                  - for code, name, desc in Observation::LICENSES do
                    %option{value: code}= code
  #filters-footer.row
    .col-xs-12
      %button.btn.btn-primary
        Update Search
      %button.btn.btn-default{ type: 'button', "ng-click": "reset( )" }
        Reset Search Filters

