#filter-dropdown.container
  #filters-body
    .row
      .col-xs-4
        .row
          .col-xs-12
            %label.sectionlabel
              {{ shared.t('show') }}
        #show-filters.row
          .col-xs-6
            .checkbox
              %label
                %input{type: 'checkbox', "ng-model" => "params.captive", "ng-true-value" => "false", "ng-false-value" => ""}
                {{ shared.t('wild') }}
            .checkbox
              %label
                %input{type: 'checkbox', "ng-model" => "params.verifiable", "ng-false-value" => ""}
                {{ shared.t('verifiable') }}
            .checkbox
              %label
                %input{type: 'checkbox', value: 'research', "ng-model" => "params.quality_grade", "ng-true-value" => "'research'", "ng-false-value": "" }
                {{ shared.t('research_quality') }}
            .checkbox
              %label
                %input{type: 'checkbox', "ng-model" => "params.threatened", "ng-false-value" => ""}
                {{ shared.t('threatened') }}
          .col-xs-6
            .checkbox
              %label
                %input{type: 'checkbox', "ng-model" => "params.introduced", "ng-false-value" => ""}
                {{ shared.t('introduced') }}
            .checkbox
              %label
                %input{type: 'checkbox', "ng-model" => "params.popular", "ng-false-value" => ""}
                {{ shared.t('popular') }}
            .checkbox
              %label
                %input{type: 'checkbox', disabled: true}
                {{ shared.t('first_report') }}
            / .checkbox
            /   %label
            /     %input{type: 'checkbox', "ng-model" => "params.has_sounds", "ng-false-value" => ""}
            /     =t :has_sounds
            .checkbox
              %label
                %input{type: 'checkbox', "ng-model" => "params.has_photos", "ng-false-value" => ""}
                {{ shared.t('has_photos') }}
        .row
          .col-xs-12
            .form-group
              %label{for: 'params-q'}
                {{ shared.t('description_slash_tags') }}
              %input#params-q.form-control{"ng-model" => "params.q", "ng-model-options" => "{debounce: 1000}", placeholder: "blue, butterfly, etc."}
      .col-xs-4
        .row
          .col-xs-12
            %label.sectionlabel
              {{ shared.t('categories') }}
            #filters-categories.btn-group
              - Taxon::ICONIC_TAXA.reject{|t| t.name == 'Animalia'}.each_with_index do |t, i|
                %button{type: "button", :class => "btn btn-default iconic-taxon #{'last' if (i+1) % 6 == 0}", "uib-btn-checkbox" => true, "uib-btn-checkbox-true" => t.name, "ng-model" => "params._iconic_taxa.#{t.name}"}
                  %i{:class => "icon-iconic-#{t.name.downcase}"}
        .row
          .col-xs-12
            %label.sectionlabel{for: 'params-hrank'}
              {{ shared.t('rank') }}
        #filters-ranks.row
          .col-xs-6
            %select#params-hrank.form-control{"ng-model" => "params.hrank", "ng-model-options" => "{debounce: 1000}"}
              %option{value: ''}
                {{ shared.t('high') }}
              - for rank in Taxon::VISIBLE_RANKS
                %option{value: rank}
                  {{ shared.t('ranks.#{rank}') }}
          .col-xs-6
            %select#params-lrank.form-control{"ng-model" => "params.lrank", "ng-model-options" => "{debounce: 1000}"}
              %option{value: ''}
                {{ shared.t('low') }}
              - for rank in Taxon::VISIBLE_RANKS
                %option{value: rank}
                  {{ shared.t('ranks.#{rank}') }}
        .row
          .col-xs-12
            %label.sectionlabel{for: 'params-order-by'}
              {{ shared.t('sort_by') }}
        .row
          .col-xs-6
            %select#params-order-by.form-control{"ng-model" => "params.order_by", "ng-model-options" => "{debounce: 1000}"}
              = FakeView.observations_order_by_options
          .col-xs-6
            %select#params-order.form-control{"ng-model" => "params.order", "ng-model-options" => "{debounce: 1000}"}
              = FakeView.options_for_select(%w(asc desc).map{|o| ["{{ shared.t('#{o}') }}", o]}, @order)
      .col-xs-4
        %label.sectionlabel Dates
        #filters-dates
          %label.radio
            %input{type: 'radio', name: 'date-type', value: 'any', "ng-model" => "params.dateType"}
              {{ shared.t('any') }}
          %label.radio
            %input{type: 'radio', name: 'date-type', value: 'exact', "ng-model" => "params.dateType"}
            %span.date-type
              {{ shared.t('exact_date') }}
              %input#filters-dates-exact.form-control.date-picker{type: 'text', placeholder: 'YYYY-MM-DD', "ng-model" => "params.on", "ng-disabled" => "params.dateType != 'exact'"}
          %label.radio
            %input{type: 'radio', name: 'date-type', value: 'range', "ng-model" => "params.dateType"}
            %span.date-type
              {{ shared.t('range') }}
              %input.form-control.date-picker{type: 'text', placeholder: "{{ shared.t('start') }}", "ng-model" => "params.d1", "ng-disabled" => "params.dateType != 'range'"}
              %input.form-control.date-picker{type: 'text', placeholder: "{{ shared.t('end') }}", "ng-model" => "params.d2", "ng-disabled" => "params.dateType != 'range'"}
          %label.radio
            %input{type: 'radio', name: 'date-type', value: 'month', "ng-model" => "params.dateType"}
            %span.date-type
              {{ shared.t('months') }}
              = FakeView.select_tag :month, FakeView.options_for_select((1..12).to_a.map{|n| ["{{ shared.t('date_format.month.#{Date::MONTHNAMES[n].downcase}') }}", n]}, :selected => @observed_on_months), "ng-model" => "params.months", "ng-disabled" => "params.dateType != 'month'", :class => "form-control", id: "filters-dates-months", multiple: "multiple"

    .row
      .col-xs-12
        %button#filters-more-btn.btn.btn-link.collapsed{type: 'button', data: {toggle: 'collapse', target: '#more-filters'}, "aria-expanded" => "false", "aria-controls" => "more-filters"}
          {{ shared.t('more_filters') }}
          %i.fa.fa-caret-down
          %i.fa.fa-caret-up
        #more-filters.collapse
          .row
            .col-xs-4
              .form-group
                %label{for: 'params-user-id'}
                  {{ shared.t('person') }}
                .input-group
                  %span.input-group-addon.fa.fa-user
                  %input#params-user-id.form-control{"ng-model" => "params.user_id", "ng-model-options" => "{debounce: 1000}", placeholder: "{{ shared.t('name_or_username') }}"}
              .form-group
                %label{for: 'params-projects'}
                  {{ shared.t('project') }}
                .input-group
                  %span.input-group-addon.fa.fa-briefcase
                  %input#params-projects.form-control{"ng-model" => "params.projects", "ng-model-options" => "{debounce: 1000}", placeholder: "{{ shared.t('project_name') }}"}
            .col-xs-4
              .form-group
                %label
                  {{ shared.t('photo_licensing') }}
                %select.form-control{"ng-model" => "params.photo_license"}
                  %option{value: ''}
                    {{ shared.t('all') }}
                  - for code, name, desc in Observation::LICENSES do
                    %option{value: code}= code
  #filters-footer.row
    .col-xs-12
      %button.btn.btn-primary
        {{ shared.t('update_search') }}
      %button.btn.btn-default{ type: 'button', "ng-click": "reset( )" }
        {{ shared.t('reset_search_filters') }}

