%h2.sub-header= "Blocked IPs"
.container
  .row
    .col-xs-6
      #controls.well
        =form_tag( { controller: :blocked_ips, action: :index }, method: :get ) do
          .row
            .col-xs-3
              .text-right
                =label_tag :q_ip, "IP"  
            .col-xs-9
              =text_field_tag :q_ip, @q_ip, class: 'form-control'
          .row
            .col-xs-3
              .text-right
                =label_tag :q_blocked_by, "Blocked by"
            .col-xs-9
              =text_field_tag :q_blocked_by, @q_blocked_by, class: 'form-control', "data-1p-ignore" => true
          .row
            .col-xs-3
            .col-xs-9
              .title-controls
                =button_tag 'Search', class: 'btn btn-default', type: :submit
                =link_to 'Reset', url_for, class: "btn btn-link"
    .col-xs-6
      #controls.well
        =form_tag( { controller: :blocked_ips }, method: :post ) do
          .row
            .col-xs-3
              .text-right
                =label_tag :ip, "IP"  
            .col-xs-9
              =text_field_tag :ip, "", class: 'form-control'
          .row
            .col-xs-3
            .col-xs-9
              .title-controls
                =button_tag 'Block', class: 'btn btn-default', type: :submit

  - if @blocked_ips.blank?
    .nocontent=t :no_results_found
  - else
    .row
      .col-xs-12
        %table.table
          %thead
            %tr
              %th IP
              %th Blocked by
              %th At
              %th Unblock
          %tbody
            - for blocked_ip in @blocked_ips
              %tr
                %td= blocked_ip.ip
                %td= blocked_ip.login
                %td= blocked_ip.created_at
                %td
                  = button_to admin_blocked_ip_path( blocked_ip ), method: :delete, class: "btn btn-warning" do
                    Unblock
