<%- content_for(:title) do -%>
  <%= t(:your_google_account) %>
<%- end -%>
<h2> <%= t(:your_google_account_info) %> </h2>

<div class="column span-13">
  <% if @provider_authorization -%>
    <% if @picasa_photos -%>
      <div class="clear photos stacked">
        <% for photo in @picasa_photos %>
          <%- next unless photo.url('72c') %>
          <%= image_tag photo.url('72c') %>
        <% end %>
      </div>
    <% else %>
      <div class="error notice stacked">
        Your account is connected but there was a problem retrieving your photos.
      </div>
    <% end -%>

    <p class="ui meta">
      <%= t(:youve_linked_your_inaturalist_google_account, :site_name => @site.name) %>
    </p>
  <% else %>
    <p class="ui">
      <%= t(:you_havent_linked_your_inaturalist_google_account, :site_name => @site.preferred_site_name_short) %></p>
    <p class="ui description">
      <%= t(:to_include_your_google_with_inat, :site_name => @site.preferred_site_name_short) %>
    </p>
  <% end -%>
</div>

<div class="last column span-11">
  <% if current_user.picasa_identity %>
    <%= link_to t(:unlink_your_google_account, :site_name => @site.name),
      omniauth_disconnect_path('google'), :class => 'delete button', :method => 'delete' %>
  <% else %>
    <%= link_to t(:link_your_google_account), auth_url_for('google_oauth2'), 
                :onclick => "$('.picasa-button').toggle();", :class => 'picasa-button default button' %>
    <div class="picasa-button" style="display:none;">
      <span class="loading status"><%=t :connecting_to_picasa %></span>
    </div>
  <% end %>
</div>
