<%- content_for(:title) do -%>
  Your Picasa Account
<%- end -%>
<h2>Your Picasa Account Information</h2>

<div class="column span-13">
  <% if @picasa_identity -%>
    <div class="clear photos">
      <% for photo in @picasa_photos %>
        <%- next unless photo.url('72c') %>
        <%= image_tag photo.url('72c') %>
      <% end %>
    </div>

    <p>
      You've linked your <%= CONFIG.site_name %> account and your Picasa account. This
      will allow you to associate your Picasa photos with your iNat
      observations.
    </p>
  <% else %>
    <p>You haven't linked your <%= CONFIG.site_name %> account and your Picasa account yet.</p>
    <p class="description">
      To include your Picasa photos with your <%= CONFIG.site_name_short %> observations, click the
      button to the right to link your two accounts. You'll be taken to
      Google, where you'll be asked to authorize this connection.
    </p>
  <% end -%>
</div>

<div class="last column span-11">
  <% if @picasa_identity -%>
    <%= link_to "Unlink Your Picasa Account", {:action => "unlink"}, :class => "delete button", 
      :method => :delete, :confirm => "Are you sure you want to unlink your Picasa account?" %>
  <% else %>
    <%= link_to "Link Your Picasa Account", @auth_url, :class => "default button" %>
  <% end -%>
</div>
