<p><%= @message %></p>

<% unless @errors.nil? %>
  <% @errors.each do |field, errors| %>
    <%= show_field_prefix(field) %>
  <ul>
    <% errors.each do |error, rows|  %>
    <li>
      <%= error %>
      <ul><li>Row(s): <%= rows.join(', ') %></li></ul>
    </li>
    <% end %>
    <% unless @field_options[field].blank? %>
    <li>Valid options are: <%= @field_options[field] %></li>
    <% end %>
  </ul>
    <%= show_field_suffix(field) %>
  <% end %>
<% end %>

<p>Please amend your observations accordingly and try again.</p>
