<%- comment ||= @comment -%>
<%- include_user_image ||= false -%>
<div id="comment-<%= comment.id %>" class="comment clear<%= ' preview' if params[:preview] %>">
  <% if params[:preview] -%>
    <%= link_to_function "&times;", "$('#comment_preview').jqmHide();", :class => 'close corner' %>
    <strong>Comment Preview</strong>
  <% else %>
    <div class="meta">
      <% if include_user_image -%>
        <%= link_to(image_tag(comment.user.icon.url(:thumb), :class => 'usericon'), comment.user) %>
      <% end -%>
      <%= link_to(truncate(you_or_login(comment.user, :capitalize => true), :length => 20), comment.user) %> said
      <% unless comment.new_record? -%>
        <span class="when">
          <span class="date"><%= time_ago_in_words(comment.created_at) %></span> ago,
        </span>
      <% end -%>
      <%- if !params[:preview] && 
            logged_in? && 
            current_user.login == comment.user.login && 
            !comment.new_record? -%>
        <div class="comment_actions">
          (<%= link_to "Edit", edit_comment_path(comment) %> |
          <%= link_to "Delete", comment, 
                      :confirm => "Are you sure you want to delete this comment?", 
                      :method => :delete, 
                      :id => "delete_comment_#{comment.id}_button" %>)
        </div>
      <%- end -%>
    </div>
  <% end -%>
  <div class="readable body">
    <%= formatted_user_text(comment.body) %>
  </div>
</div>
