<%- unique_id ||= "new_comment_form-#{comment.parent.id}" -%>
<%= f.hidden_field :parent_id %>
<%= f.hidden_field :parent_type %>
<%= f.hidden_field :user_id %>
<div class="stacked">
  <%= f.text_area :body, class: "form-control", maxlength: Comment::MAX_LENGTH %>
</div>
<div class="buttonrow">
  <%= submit_tag t(:save_comment), :class => 'default button', 'data-loading-click' => true %>
  <%= link_to t(:preview), 
    comment.new_record? ? comments_path : comment_path(comment), 
    :id => "#{unique_id}-preview",
    :class => 'button previewbutton commentpreviewbutton' %>
  <div id="<%= unique_id %>-preview_loading" class="loading status inter" style="display:none"><%=t :previewing %></div>
  <%- unless comment.new_record? -%>
    <span class="inter description"><%= t :or %></span>
    <%- cancel_url = comment.parent.is_a?(Post) ? journal_post_path(comment.parent.user.login, comment.parent) : url_for(comment.parent) %>
    <%= link_to t(:cancel), "#{cancel_url}#comment-#{comment.id}", :class => 'button' %>
  <%- end -%>
</div>
