<%- comment ||= @comment -%>
<%- include_user_image ||= false -%>
<div id="comment-<%= comment.id %>" class="comment clear<%= ' preview' if params[:preview] %>">
  <% unless params[:preview] -%>
    <div class="meta">
      <% if include_user_image -%>
        <%= link_to(image_tag(comment.user.icon.url(:thumb), :class => 'usericon'), comment.user) %>
      <% end -%>
      <%= link_to(truncate(you_or_login(comment.user, :capitalize => true), :length => 20), comment.user) %> said
      <% unless comment.new_record? -%>
        <span class="when">
          <span class="date"><%= time_ago_in_words(comment.created_at) %></span> ago,
        </span>
      <% end -%>
      <%- if !params[:preview] && 
            logged_in? && 
            comment.deletable_by?(current_user) &&
            !comment.new_record? -%>
        <div class="comment_actions">
          <%-
            pieces = []
            pieces << link_to(t(:edit), edit_comment_path(comment)) if comment.user_id == current_user.id
            pieces << link_to("Delete", comment, 
                        :data => {:confirm => t(:you_sure_delete_comment?)}, 
                        :method => :delete, 
                        :id => "delete_comment_#{comment.id}_button")
          -%>
          (<%=raw pieces.join(" | ") %>)
        </div>
      <%- end -%>
    </div>
  <% end -%>
  <div class="readable body">
    <%= formatted_user_text( comment.body ) %>
  </div>
</div>
