<%- 
  remote ||= false
  comment ||= comment_form || @comment
  unique_id ||= "new_comment_form-#{comment.parent_id}"
  partial ||= nil
-%>
<div class="clear">
  <% if logged_in? %>
    <% if remote -%>
      <div id="<%= unique_id %>-loading" class="loading status" style="display:none"><%= t :saving %></div>
      <%= form_for(comment, 
        :remote => true,
        :html => {
          :id => unique_id,
          :class => "commentform",
          "data-type" => "json"
        }) do |f| %>
        <% if partial -%>
          <%= hidden_field_tag :partial, partial %>
        <% end -%>
        <%= render :partial => 'comments/comment_form_fields', :locals => {
          :f => f, 
          :comment => comment,
          :unique_id => unique_id
        } %>
      <% end %>
    <% else -%>
      <%= form_for(comment) do |f| %>
        <%= render :partial => 'comments/comment_form_fields', :locals => {
          :f => f, 
          :comment => comment,
          :unique_id => unique_id
        } %>
      <% end %>
    <% end -%>
  <% else %>
    <%= link_to t(:sign_in), login_path %>
    <%=t :or %> <%= link_to t(:sign_up), signup_path %>
    <%=t :to_add_comments %>
  <% end %>
</div>
