<%- 
  comment ||= listing_for_dashboard
  extra ||= nil
  parent = comment.parent
-%>

<li class="observation_multiple_added">
  <div class="timeline-badge plain">
    <%- case parent.class.to_s -%>
    <%- when "Observation" -%>
      <%= link_to observation_image(parent, :options => {:size => "square"}, :style => "max-width:48px;"), parent %>
    <%- when "Post" -%>
      <%- case parent.parent_type -%>
      <%- when "User" -%>
        <%= link_to image_tag(parent.user.icon.url(:thumb), :options => {:class => "usericon"}, :style => "max-width:48px;"), parent %>
      <%- when "Project" -%>
        <%= link_to image_tag(parent.parent.icon.url(:thumb), :options => {:class => "projecticon"}, :style => "max-width:48px;"), parent %>
      <%- else %>
        <%= link_to image_tag(parent.parent.logo_square.url, :options => {:class => "siteicon"}, :style => "max-width:48px;"), parent %>
      <%- end -%>
    <%- when "ListedTaxon" %>
      <%= link_to image_tag("checklist-icon-color-32px.png", :style => "max-width:48px;"), parent %>
    <%- else %>
      <%= link_to image_tag(FakeView.image_url("logo-cccccc-20px.png")), parent %>
    <%- end -%>
  </div>                    
  <div class="sub-badge">
    <i class="glyphicon glyphicon-bookmark"></i>
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h2 class="timeline-title">
        <span class="comment_time">
          <i class="glyphicon glyphicon-time"></i> <%=t :time_ago, :time => time_ago_in_words(comment.created_at) %>
        </span>
        <%- case parent.class.to_s -%>
        <%- when "Observation" -%>         
            <%= raw t 'new_comment_on_a_parent_by_user_link',
              parent: parent.class.to_s.downcase,
              user_link:  link_to(parent.user.login, parent.user),
              vow_or_con: parent.class.to_s.first.downcase %>
        <%- else %>
            <%= raw t 'new_comment_on_a_parent_by_user_link',
              parent: parent.class.to_s.downcase,
              user_link:  link_to(parent.user.login, parent.user),
              vow_or_con: parent.class.to_s.first.downcase %>        
        <%- end -%>
      </h2>
    </div>
    <div class="timeline-body">
      <div>
        <%- case parent.class.to_s -%>
        <%- when "Observation" -%>
          <div class="mini observations">
            <%= render :partial => "observations/observations_component_for_dashboard", locals: {for_idents: true, observations: [parent]} %>
          </div>
        <%- when "Post" %>
          <h3><%= link_to parent.title, journal_post_path(parent.user.login, parent) %></h3>
        <%- when "ListedTaxon" %>
          <%= iconic_taxon_image parent.taxon, :style => "vertical-align: middle" %>
          <%= link_to parent.taxon do %>
            <%= render :partial => "shared/taxon", :object => parent.taxon %>
          <% end %>
        <%- else %>
          <div class="commenttype">
            <%= link_to parent.class.to_s.underscore.humanize, parent %> 
            <% if parent.user -%>
              <%= t(:by).downcase %> <%= link_to parent.user.login, parent.user %>
            <% end -%>
          </div>
        <%- end -%>
      </div>
      <%- target_id = rand(36**8).to_s(36) %>
      <div id="expand<%= "#{target_id}" %>" class="collapse out">
        
        <%- if @comments_by_parent_id[[parent.class.to_s,comment.parent_id].join("_")].length > 1 %>
          <ul class="timeline timeline_observation">
            <%= render :partial => "shared/activity_item_for_dashboard", :collection => @comments_by_parent_id[[parent.class.to_s,comment.parent_id].join("_")][0..-2] %>
          </ul>
        <%- end %>
      </div>
      <ul class="timeline timeline_observation" style="margin-top:0; margin-bottom:0; padding-top:0; padding-bottom:0">
        <%= render :partial => "shared/activity_item_for_dashboard", :object => @comments_by_parent_id[[parent.class.to_s,comment.parent_id].join("_")].last %>
      </ul>
    </div>
    <div class="timeline-footer">
      <%= link_to t(:view_resource, :resource => parent.class.to_s), parent, :class => "btn btn-sm btn-primary" %>
      <button type="button" class="btn btn-sm btn-default btn_expand collapsed" data-toggle="collapse" data-target="#expand<%= "#{target_id}" %>" aria-pressed="false" autocomplete="off"> <span class="expand_inactive"><i class="glyphicon glyphicon-collapse-down"></i> Show More...</span><span class="expand_active"><i class="glyphicon glyphicon-collapse-up"></i> Show Less</span></button>
    </div>
  </div>
</li>
