<%- comment ||= object -%>
<div class="column span-24 commentitem">
  <div class="column span-8">
    <%- case comment.parent.class.to_s -%>
    <%- when "Observation" -%>
      <div class="commenttype">
        <%= link_to image_tag("notebook-icon-color-15px.png"), comment.parent %>
        <%= link_to "Observation", comment.parent %>
        by <%= link_to comment.parent.user.login, comment.parent.user %>:
      </div>
      <div class="mini observations">
        <%= render :partial => "observations/cached_component", :object => comment.parent %>
      </div>
    <%- when "Post" %>
      <div class="commenttype">
        <%= link_to image_tag("silk/book-light.png"), journal_post_path(comment.parent.user.login, comment.parent) %>
        <%= link_to "Journal post", journal_post_path(comment.parent.user.login, comment.parent) %>
        by <%= link_to comment.parent.user.login, comment.parent.user %>:
      </div>
      <h3><%= link_to comment.parent.title, journal_post_path(comment.parent.user.login, comment.parent) %></h3>
    <%- when "ListedTaxon" %>
      <div class="commenttype">
        <%= link_to image_tag("checklist-icon-color-15px.png"), comment.parent %>
        <%= link_to "Listed taxon", comment.parent %>
        <% if comment.parent.user -%>
          by <%= link_to comment.parent.user.login, comment.parent.user %>
        <% end -%>
        on
        <%= link_to truncate(h(comment.parent.list.title), :length => 85), comment.parent.list %>
      </div>
      <%= iconic_taxon_image comment.parent.taxon, :style => "vertical-align: middle" %>
      <% link_to comment.parent.taxon do %>
        <%= render :partial => "shared/taxon", :object => comment.parent.taxon %>
      <% end %>
      <%= link_to comment.parent.taxon, comment.parent %> 
    <%- else %>
      <div class="commenttype">
        <%= link_to comment.parent.class.to_s.underscore.humanize, comment.parent %> 
        <% if comment.parent.user -%>
          by <%= link_to comment.parent.user.login, comment.parent.user %>
        <% end -%>
      </div>
    <%- end -%>
  </div>
  
  <div class="last column span-16">
    <% if @comments_by_parent_id -%>
      <%= render :partial => "shared/activity_item", :collection => @comments_by_parent_id[comment.parent_id] %>
    <% else %>
      <%= render :partial => "shared/activity_item", :object => comment %>
    <% end -%>
  </div>
</div>
