<%- content_for(:title) do -%>
  <%= @title = t(:edit_comment) %>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag 'jquery/plugins/jqModal' %>
  <%= javascript_include_tag 'comments/edit' %>
<%- end -%>
<div class="last column prepend-7 span-10 append-7">
  <h2><%= @title %></h2>
  <% in_format :html do %>
    <%= render :partial => "comment_form", :locals => { :comment => @comment } %>
  <% end -%>
</div>
