- content_for( :title ) do
  = @title = @comment.hidden? ? t( :unhide_content ) : t( :hide_content )

- content_for( :extracss ) do
  = stylesheet_link_tag "comments/hide"

- content_for( :extrajs ) do
  = javascript_include_tag "jquery/plugins/jqModal", "comments/edit"

- placeholder_text = @comment.hidden? ?              |
  t( :please_explain_why_you_want_to_unhide_this ) : |
  t( :please_explain_why_you_want_to_hide_this )     |

.bootstrap
  %h2= @title
  .row
    .col-md-8
      = t( :user_wrote_html, user: "@#{@comment.user.login}", url: person_by_login_path( @comment.user.login ) )
      %blockquote
        = @comment.body
      = form_for( ModeratorAction.new( resource: @comment ) ) do |f|
        .form-group
          = f.text_area :reason, required: true, class: "form-control",
            minlength: ModeratorAction::MINIMUM_REASON_LENGTH,
            maxlength: ModeratorAction::MAXIMUM_REASON_LENGTH,
            placeholder: placeholder_text
        = f.hidden_field :action, value: @comment.hidden? ? ModeratorAction::UNHIDE : ModeratorAction::HIDE
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :resource_id, value: @comment.id
        = f.hidden_field :resource_type, value: @comment.class.name
        .text.text-muted
          = @comment.hidden? ? t( :unhide_desc ) : t( :hide_desc )
        = f.submit t( @comment.hidden? ? :unhide_content : :hide_content ), class: "default button submit-flag-button"
