<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "jquery/ui.tabs.css", "comments" %>
  <style type="text/css" media="screen">
    .ui-tabs ul{margin-bottom:10px;}
    .ui-tabs .ui-tabs-nav li{float:right;}
  </style>
<%- end -%>

<div id="tabs" class="ui-tabs">
  <h2>Comments</h2>
  <ul class="ui-tabs-nav">
    <% if logged_in? -%>
      <li class="<%= 'ui-tabs-selected' if params[:mine] && logged_in? %>"><a href="<%= url_for(:mine => true) %>"><span>Comments by Me</span></a></li>
    <% end -%>
    <li class="<%= 'ui-tabs-selected' unless params[:mine] && logged_in? %>"><a href="<%= url_for %>"><span>All Comments</span></a></li>
  </ul>
  
  <div id="all">
    <%= render :partial => 'listing', :collection => @comments %>
    <%= will_paginate @paging_comments %>
  </div>
</div>
