<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "jquery/ui.tabs.css", "comments" %>
<%- end -%>

<div id="tabs" class="ui-tabs">
  <h2><%=t :comments %></h2>
  <ul class="ui-tabs-nav">
    <% if logged_in? -%>
      <li class="<%= 'ui-tabs-selected' if params[:mine] && logged_in? %>"><a href="<%= url_for(:mine => true) %>"><span><%=t :comments_by_me %></span></a></li>
    <% end -%>
    <li class="<%= 'ui-tabs-selected' unless params[:mine] && logged_in? %>"><a href="<%= url_for %>"><span><%=t :all_comments %></span></a></li>
  </ul>
  
  <div id="all">
    <%= render :partial => 'listing', :collection => @comments %>
    <%= will_paginate @paging_comments %>
  </div>
</div>
