<%- content_for(:title) do -%>
  <%=t :comments %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "jquery/ui.tabs.css" %>
  <style type="text/css" media="screen">
    .ui-tabs ul.ui-tabs-nav{margin-bottom:10px;}
  </style>
<%- end -%>

<div id="tabs" class="ui-tabs">
  <h2><%=t :comments %></h2>
  <ul class="ui-tabs-nav">
    <li class="<%= 'ui-tabs-selected' unless params[:mine] && logged_in? %>"><a href="<%= url_for %>"><span><%=t :all_comments %></span></a></li>
    <% if logged_in? -%>
      <li class="<%= 'ui-tabs-selected' if params[:mine] && logged_in? %>"><a href="<%= url_for(:mine => true) %>"><span><%=t :comments_by_me %></span></a></li>
      <li class="<%= 'ui-tabs-selected' if params[:for_me] && logged_in? %>"><a href="<%= url_for(:for_me => true) %>"><span><%=t :comments_on_my_observations %></span></a></li>
      <% if logged_in? && (params[:mine] || params[:for_me]) -%>
        <%- q ||= @q -%>
        <%= form_tag(url_for, :method => :get, :class => "inline buttonrow right smallbuttons") do %>
          <%= hidden_fields_for_params %>
          <%= text_field_tag :q, params[:q], :class => 'text' %>
          <%= submit_tag t(:search), :class => 'last default button' %>
        <% end %>
      <% end -%>
    <% end -%>
  </ul>
  
  <div id="all">
    <%= render :partial => 'listing', :collection => @latest_comments %>
    <%= will_paginate @comments %>
  </div>
</div>
