<%- content_for(:title) do -%>
  <%= @title = "Comments by #{@display_user.login}" %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "comments" %>
<%- end -%>

<%- content_for(:extrajs) do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.deletelink').click(function() {
        var that = this
        iNaturalist.restfulDelete($(this).attr('href'), {
          data: {format: 'js'},
          success: function() {
            $(that).next('.loading').replaceWith($('<div class="success status">Deleted</div>'))
          }
        }, this)
        return false
      })
    })
  </script>
<%- end -%>

<h2><%= @title %></h2>

<% for comment in @comments %>
  <%- extra = capture do -%>
    <div class="admin">
      <%= link_to "Delete", comment, :class => "deletelink" %>
    </div>
  <% end -%>
  <%= render :partial => 'listing', :object => comment, :locals => {
    :extra => is_admin? ? extra : nil
  } %>
<% end %>

<%= will_paginate @comments %>
