- content_for :extrajs do
  :javascript
    function addExternalTaxonField(markup) {
      var index = $('.etaxon').length
      markup = markup.replace(/external_taxa_attributes\]\[\d+\]/g, "external_taxa_attributes]["+index+"]")
      markup = markup.replace(/_external_taxa_attributes_\d+_/g, "_external_taxa_attributes_"+index+"_")
      $('#new_external_taxa').append(markup)
    }
    function addTaxonField( markup ) {
      var index = $( '.taxon' ).length
      markup = markup.replace( /taxa_attributes\]\[\d+\]/g, "taxa_attributes][" + index + "]" )
      markup = markup.replace( /taxa_attributes_\d+_/g, "_taxa_attributes_" + index + "_" )
      $( '#new_taxa' ).append( markup )
      taxonIDField = $( "input[name='taxon_framework_relationship[taxa_attributes][" + index + "][id]']" )
      $( '#new_taxa input.text:last' ).taxonAutocomplete( { idEl: taxonIDField } );
    }
    $( document ).ready( function() {
      $( '.taxon' ).each( function() {
        var taxonIDField = $( 'input[name*="[id]"]', this ).get( 0 )
        var selector = $( 'input.text', this )
        selector.taxonAutocomplete( { idEl: $( "#"+taxonIDField.id ) } );
        if( taxonIDField.value ){
          selector.attr( "disabled", true ).removeClass( "text" ).addClass( "form-control-plaintext" );
        }
      } )
    } );

= form_for @taxon_framework_relationship do |f|
  .form-group
    = label_tag 'taxon_framework_id', t( :taxon_framework_taxon)
    = f.collection_select( :taxon_framework_id, @taxon_frameworks, :id, :name, {}, { :class => "form-control" } )
    %smalll#taxonFrameworkHelp.form-text.text-muted Ancestor taxon with an attached Taxon Framework
  .form-group
    %label= t( :internal_taxa )
    = f.fields_for :taxa do |t|
      .panel.panel-default
        .panel-body
          .taxon
            %input{ :type => "text", :class => "text", placeholder: t( :start_typing_taxon_name ) }
            = t.hidden_field :id, value: t.object.id
            = t.hidden_field :unlink, value: false
            = link_to_function t( :remove ), "$( this ).prev().val( true ); $( this ).parents( '.taxon' ).slideUp();", :class => "right"
    - t_form_fields = capture do
      = f.fields_for :taxa, @taxon_framework_relationship.taxa.build do |t|
        .panel.panel-default
          .panel-body
            .taxon
              %input{ :type => "text", :class => "text", placeholder: t( :start_typing_taxon_name ) }
              = t.hidden_field :id, value: t.object.id
              = t.hidden_field :unlink, value: false
              = link_to_function t( :remove ), "$( this ).prev().val( true ); $( this ).parents( '.taxon' ).slideUp();", :class => "right"
    #new_taxa
    = link_to_function "Associate an internal taxon", "addTaxonField( '#{ escape_javascript( t_form_fields ) }' )"
  
  .form-group
    %label= t( :external_taxa )
    = f.fields_for :external_taxa do |et|
      .panel.panel-default
        .panel-body
          .etaxon
            .row
              .form-group.col-xs-8
                = et.label :name, "Scientific Name"
                = et.text_field :name, { :class => "form-control" }
              .form-group.col-xs-2
                = et.label :rank, "Rank"
                = et.collection_select :rank, [Taxon::RANKS,ExternalTaxon::ADDITIONAL_RANKS].flatten, :to_s, :to_s, {:selected => et.object.rank || "species"}
            .row
              .form-group.col-xs-8
                = et.label :parent_name, "Parent Name"
                = et.text_field :parent_name, { :class => "form-control" }
              .form-group.col-xs-2
                = et.label :parent_rank, "Parent Rank"
                = et.collection_select :parent_rank, [Taxon::RANKS,ExternalTaxon::ADDITIONAL_RANKS].flatten, :to_s, :to_s, {:selected => et.object.parent_rank || "genus"}
            .form-group
              = et.label :url, "URL"
              = et.text_field :url, { :class => "form-control" }
            = et.hidden_field "_destroy"
            = link_to_function t( :remove ), "$( this ).prev().val( 1 ); $( this ).parents( '.etaxon' ).slideUp();", :class => "right"
    - et_form_fields = capture do
      = f.fields_for :external_taxa, @taxon_framework_relationship.external_taxa.build do |et|
        .panel.panel-default
          .panel-body
            .etaxon
              .row
                .form-group.col-xs-8
                  = et.label :name, "Scientific Name"
                  = et.text_field :name, { :class => "form-control" }
                .form-group.col-xs-2
                  = et.label :rank, "Rank"
                  = et.collection_select :rank, [Taxon::RANKS,ExternalTaxon::ADDITIONAL_RANKS].flatten, :to_s, :to_s, {:selected => et.object.rank || "species"}
              .row
                .form-group.col-xs-8
                  = et.label :parent_name, "Parent Name"
                  = et.text_field :parent_name, { :class => "form-control" }
                .form-group.col-xs-2
                  = et.label :parent_rank, "Parent Rank"
                  = et.collection_select :parent_rank, [Taxon::RANKS,ExternalTaxon::ADDITIONAL_RANKS].flatten, :to_s, :to_s, {:selected => et.object.parent_rank || "genus"}
              .form-group
                = et.label :url, "URL"
                = et.text_field :url, { :class => "form-control" }
              = et.hidden_field "_destroy"
              = link_to_function t( :remove ), "$( this ).prev().val( 1 ); $( this ).parents( '.etaxon' ).slideUp();", :class => "right"
    #new_external_taxa
    =link_to_function "Add an external taxon", "addExternalTaxonField('#{ escape_javascript( et_form_fields ) }')"
  
  .form-group
    %label= t( :notes )
    = f.text_area :description, class: "form-control"
  
  .form-group
    = f.submit t( :save ), class: "btn btn-primary"
