:ruby
  taxon_framework_relationship ||= show_taxon_framework_relationship[:taxon_framework_relationship]
  taxon ||= show_taxon_framework_relationship[:taxon]
- content_for( :extracss ) do
  :css
    .padding {
        padding: 5px;
    }
%p.padding{ :class => ( taxon_framework_relationship.relationship == "match" ? 'bg-success' : 'bg-warning' ) }
  = t :relationship_x, relationship: ( taxon_framework_relationship.relationship == "match" ? t( "relationships.match" ).capitalize : t( :deviation ).capitalize )
%table.table.table-bordered
  %thead
    %tr
      %th= taxon_framework_relationship.taxon_framework.source.title
      %th 
      %th= @site.name
  %tbody
    - ( 0..( [taxon_framework_relationship.taxa.count, taxon_framework_relationship.external_taxa.count].max-1 ) ).each do |i|
      %tr
        - if taxon_framework_relationship.external_taxa[i]
          - rank_name = ( Taxon::RANKS.include? taxon_framework_relationship.external_taxa[i].rank ) ? |
          t( "ranks.#{ taxon_framework_relationship.external_taxa[i].rank }" ).capitalize : |
          taxon_framework_relationship.external_taxa[i].rank |
          - if taxon_framework_relationship.external_taxa[i]
            - parent_rank_name = ( Taxon::RANKS.include? taxon_framework_relationship.external_taxa[i].parent_rank ) ? |
            t( "ranks.#{ taxon_framework_relationship.external_taxa[i].parent_rank }" ).capitalize : |
            taxon_framework_relationship.external_taxa[i].parent_rank |
          - if taxon_framework_relationship.external_taxa[i].url
            %td
              = link_to |
                rank_name + " " + taxon_framework_relationship.external_taxa[i].name + |
                " (#{ t(:parent).downcase }: " + parent_rank_name + " " + |
                taxon_framework_relationship.external_taxa[i].parent_name + ")", taxon_framework_relationship.external_taxa[i].url |
          - else
            %td
              = rank_name + " " + taxon_framework_relationship.external_taxa[i].name + |
              " (#{ t(:parent).downcase }: " + parent_rank_name + " " + |
              taxon_framework_relationship.external_taxa[i].parent_name + ")" |
        - else
          %td
        - if i==0
          %td= t( "relationships.#{ taxon_framework_relationship.relationship }" ).capitalize
        - else
          %td
        - if taxon_framework_relationship.taxa[i]
          %td
            = link_to |
            t( "ranks.#{ taxon_framework_relationship.taxa[i].rank }" ).capitalize + " " + |
            taxon_framework_relationship.taxa[i].name + " (#{ t(:parent).downcase }: " + |
            t( "ranks.#{ taxon_framework_relationship.taxa[i].parent.rank }" ).capitalize + " " + |
            taxon_framework_relationship.taxa[i].parent.name + ")", |
            taxon_path( taxon_framework_relationship.taxa[i] ) |
        - else
          %td
