- content_for :extrahead do
  = stylesheet_link_tag "taxon_framework_relationships/taxon_framework_relationships"
  = javascript_include_tag "https://d3js.org/d3.v4.min.js"
  = javascript_include_tag "jquery/jquery-1.11.3.min.js"
  = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery.ba-bbq/1.2.1/jquery.ba-bbq.min.js"
  = javascript_include_tag "taxon_framework_relationships/taxon_framework_relationships.js"
  
:ruby
  taxon_framework_relationship ||= show_taxon_framework_relationship[:taxon_framework_relationship]
  taxon_framework_relationship_taxa = taxon_framework_relationship.taxa.sort{ |a, b| [b.rank_level, a.name] <=> [a.rank_level, b.name] }
  taxon_framework_relationship_external_taxa = taxon_framework_relationship.external_taxa.sort{ |a, b| [ Taxon::RANK_LEVELS[b.rank] ||= Taxon::ROOT_LEVEL, a.name] <=> [Taxon::RANK_LEVELS[a.rank] ||= Taxon::ROOT_LEVEL, b.name] }
  taxon ||= show_taxon_framework_relationship[:taxon]

= content_tag 'div', '', id: "data_#{taxon_framework_relationship.id}", data: { tfrid: taxon_framework_relationship.id, data: taxon_framework_relationship.as_json }
:javascript
  $( function () {
   var data = $( "#data_#{ taxon_framework_relationship.id }" );
   tfrD3Vis( data.data( "data" ), data.data( "tfrid" ) );
  } );
  
- content_for( :extracss ) do
  :css
    .padding {
        padding: 5px;
    }
%p.padding{ :class => ( ( taxon_framework_relationship.relationship == "match" || taxon_framework_relationship.relationship == "alternate_position" ) ? 'bg-success' : 'bg-warning' ) }
  = t :relationship_x, relationship: ( ( taxon_framework_relationship.relationship == "match" || taxon_framework_relationship.relationship == "alternate_position" ) ? t( "relationships.#{taxon_framework_relationship.relationship}" ).capitalize : t( :deviation ).capitalize )
%div{ :class => "tfr_#{taxon_framework_relationship.id}" }
%table.table.table-bordered
  %thead
    %tr
      %th= @site.name
      %th 
      %th= taxon_framework_relationship.taxon_framework.source.title
  %tbody
    - ( 0..( [taxon_framework_relationship.taxa.count, taxon_framework_relationship.external_taxa.count].max-1 ) ).each do |i|
      %tr
        - if taxon_framework_relationship_taxa[i]
          %td
            = link_to |
            t( "ranks.#{ taxon_framework_relationship_taxa[i].rank }" ).capitalize + " " + |
            taxon_framework_relationship_taxa[i].name + " (#{ t(:parent).downcase }: " + |
            t( "ranks.#{ taxon_framework_relationship_taxa[i].parent.rank }" ).capitalize + " " + |
            taxon_framework_relationship_taxa[i].parent.name + ")", |
            taxon_path( taxon_framework_relationship_taxa[i] ) |
        - else
          %td
        - if i==0
          %td= t( "relationships.#{ taxon_framework_relationship.relationship }" ).capitalize
        - else
          %td
        - if taxon_framework_relationship_external_taxa[i]
          - rank_name = ( Taxon::RANKS.include? taxon_framework_relationship_external_taxa[i].rank ) ? |
          t( "ranks.#{ taxon_framework_relationship_external_taxa[i].rank }" ).capitalize : |
          taxon_framework_relationship_external_taxa[i].rank |
          - if taxon_framework_relationship_external_taxa[i]
            - parent_rank_name = ( Taxon::RANKS.include? taxon_framework_relationship_external_taxa[i].parent_rank ) ? |
            t( "ranks.#{ taxon_framework_relationship_external_taxa[i].parent_rank }" ).capitalize : |
            taxon_framework_relationship_external_taxa[i].parent_rank |
          - if taxon_framework_relationship_external_taxa[i].url
            %td
              = link_to |
                rank_name + " " + taxon_framework_relationship_external_taxa[i].name + |
                " (#{ t(:parent).downcase }: " + parent_rank_name + " " + |
                taxon_framework_relationship_external_taxa[i].parent_name + ")", taxon_framework_relationship_external_taxa[i].url |
          - else
            %td
              = rank_name + " " + taxon_framework_relationship_external_taxa[i].name + |
              " (#{ t(:parent).downcase }: " + parent_rank_name + " " + |
              taxon_framework_relationship_external_taxa[i].parent_name + ")" |
        - else
          %td
