:ruby
  taxon_framework_relationship ||= show_taxon_framework_relationship_container[:taxon_framework_relationship] ||= @taxon_framework_relationship
  taxon ||= show_taxon_framework_relationship_container[:taxon] ||= @taxon
  upstream_taxon_framework ||= show_taxon_framework_relationship_container[:upstream_taxon_framework] || @upstream_taxon_framework
  taxon_framework ||= show_taxon_framework_relationship_container[:taxon_framework] || @taxon_framework
  downstream_deviations_counts ||= show_taxon_framework_relationship_container[:downstream_deviations_counts] ||= @downstream_deviations_counts
  downstream_flagged_taxa_count ||= show_taxon_framework_relationship_container[:downstream_flagged_taxa_count] ||= @downstream_flagged_taxa_count
  downstream_flagged_taxa ||= show_taxon_framework_relationship_container[:downstream_flagged_taxa] ||= @downstream_flagged_taxa
- content_for( :extracss ) do
  :css
    .padding {
        padding: 5px;
    }
.panel.panel-default
  .panel-heading
    - if upstream_taxon_framework.source && !taxon_framework_relationship && !current_user.blank? && current_user.is_curator? && |
      ( ( upstream_taxon_framework.taxon_curators.count > 0 && upstream_taxon_framework.taxon_curators.select{ |tc| tc.user_id == current_user.id }.count > 0 ) || |
      ( upstream_taxon_framework.taxon_curators.count == 0 ) ) |
      .pull-right
        = link_to t( :add_relationship ), new_taxon_framework_relationship_path( { taxon_id: taxon.id, taxon_framework_id: upstream_taxon_framework.id } )
    %h4
      = t( :covered_by_a_taxon_framework_html, 
      link: link_to( t( :covered_by_a_taxon_framework_link, 
      taxon_framework_rank: t( "ranks.#{ upstream_taxon_framework.taxon.rank }" ).capitalize,
      taxon_framework_name: upstream_taxon_framework.taxon.name ),
      taxonomy_details_for_taxon_path( upstream_taxon_framework.taxon ) ) )
      - if upstream_taxon_framework.source
        = t( :sourced_to )
        = link_to upstream_taxon_framework.source.title, upstream_taxon_framework.source.url
  - if upstream_taxon_framework.source
    .panel-body
      - if taxon_framework_relationship
        - if !current_user.blank? && current_user.is_curator? && |
          ( ( upstream_taxon_framework.taxon_curators.count > 0 && upstream_taxon_framework.taxon_curators.select{ |tc| tc.user_id == current_user.id }.count > 0 ) || |
          ( upstream_taxon_framework.taxon_curators.count == 0 ) ) |
          .pull-right
            = link_to "Edit relationship", edit_taxon_framework_relationship_path( taxon_framework_relationship )
        = render partial: "/taxon_framework_relationships/show_taxon_framework_relationship", object: { taxon_framework_relationship: taxon_framework_relationship, taxon: taxon }
        - if taxon_framework_relationship.description
          %p= formatted_user_text taxon_framework_relationship.description, tags: Post::ALLOWED_TAGS, attributes: Post::ALLOWED_ATTRIBUTES
        - unless taxon_framework
          = render partial: "/taxon_framework_relationships/show_downstream_deviations", object: { downstream_deviations_counts: downstream_deviations_counts, taxon_framework: upstream_taxon_framework}
          - if downstream_flagged_taxa_count > 0
            .flagged_taxa_count
              =t :label_colon, label: t( :downstream_flagged_covered_taxa )
              = link_to downstream_flagged_taxa_count, "#"
            .flagged_taxa_table
              %table.table.table-bordered
                %thead
                  %tr
                    %th= t( :flagged_taxon )
                %tbody
                  - downstream_flagged_taxa.each do |flagged_taxon|
                    %tr
                      %td= link_to flagged_taxon.name, taxon_path( flagged_taxon )
      - else
        %p.bg-info.padding
          = t :relationship_x, relationship: t( :unknown ).capitalize
      .pull-right
        - if taxon_framework_relationship && taxon_framework_relationship.updater
          = t(:updated_by)
          = link_to taxon_framework_relationship.updater.login, taxon_framework_relationship.updater
          = t :on_day
          = l(taxon_framework_relationship.updated_at.to_date, :format => :long)
        - elsif taxon_framework_relationship && taxon_framework_relationship.user
          = t(:created_by, gender: 'taxon')
          = link_to taxon_framework_relationship.user.login,taxon_framework_relationship.user
          = t :on_day
          = l(taxon_framework_relationship.created_at.to_date, :format => :long)
