:ruby
  if @taxon
    @taxon.html = render( partial: "taxa/chooser", handlers: [:erb], formats: [:html], object: @taxon )
  end
  @default_taxa = Taxon::ICONIC_TAXA.map do |taxon|
    taxon.html = render( partial: "taxa/chooser", handlers: [:erb], formats: [:html], object: taxon )
    taxon
  end
  if @user
    @user.html = render( partial: "users/chooser", object: @user )
  end
  @default_users = User.curators.limit( 10 ).map do |user|
    user.html = render( partial: "users/chooser", object: user )
    user
  end
- content_for( :title ) do
  - @title = t(:taxon_framework_relationships)
  = strip_tags( @title )
- content_for( :extracss ) do
  = stylesheet_link_tag "autocomplete"
  :css
    .ui-chooser-choice { max-width: 190px; }
    form .text { width: 200px; }
    .taxon_framework_relationship { border-bottom: 1px solid #eee; margin-top: 10px; padding-bottom: 10px; }
    .name { font-size: 110%; font-style: italic; }
    .admin-box {
        border-width: 2px;
        border-style: dotted;
        position: relative;
        padding: 5px;
    }
- content_for( :extrajs ) do
  :javascript
    window.taxon = #{ json_escape @taxon.to_json( methods: [:html] ).html_safe }
    window.user = #{ json_escape @user.to_json( methods: [:html] ).html_safe }
    window.defaultTaxa = #{ json_escape @default_taxa.to_json( methods: [:html] ).html_safe }
    window.defaultUsers = #{ json_escape @default_users.to_json( methods: [:html] ).html_safe }
    $( document ).ready( function() {      
      $( "#filters_user_id" ).chooser( {
        queryParam: "q",
        collectionUrl: $( "meta[name='config:inaturalist_api_url']" ).attr( "content" ) + "/search?sources=users",
        resourceUrl: "/people/{{id}}.json",
        chosen: user,
        defaultSources: defaultUsers
      } )
      $( "#filters_taxon_name" ).taxonAutocomplete( {
        idEl: $( "#filters_taxon_id" ),
        initialSelection: #{ raw @taxon.to_json },
        thumbnail: false,
        bootstrapClear: true
      } );
      
    } )
.container
  .row
    .col-xs-12
      - if !current_user.blank? && current_user.is_curator?
        .pull-right
          = link_to "new taxon framework relationship", ( @taxon_framework ? new_taxon_framework_relationship_path( taxon_framework_id: @taxon_framework.id ) : new_taxon_framework_relationship_path ), class: "btn btn-default"
      %h2= @title
      .panel.panel-info
        .panel-heading
          %h3.panel-title
            = "About Taxon Frameworks"
        .panel-body
          %p
            = "Taxon Frameworks help us describe 'what we mean' by a taxon."
            = "Taxon Framework Relationships"
            = "are mappings between taxa on #{@site.name} (internal taxa) and taxa"
            = "on sources (external taxa) associated with a Taxon Framework."
            = link_to "Read more", "/pages/taxon_frameworks"
  .row
    .col-xs-3
      = form_for :filters, builder: DefaultFormBuilder, html: { method: :get } do |f|
        = label_tag t( :relationship )
        %fieldset#taxon_framework_relationships
          - TaxonFrameworkRelationship::RELATIONSHIPS.each do |relationship|
            = f.check_box relationship,                                            |
              wrapper: { class: "inlineblock" },                                   |
              label_after: true,                                                   |
              label: t("relationships.#{relationship}"),                           |
              checked: @relationships.include?( relationship )                     |
        = f.select :taxon_framework_id, @taxon_frameworks.map{ |er| [er.name, er.id] }, include_blank: t( :any ), selected: @taxon_framework.try( :id ), label: t(:taxon_framework_taxon)
        = f.text_field :taxon_name, placeholder: t(:type_taxon_name), label: t(:internal_taxon_including_descendants)
        = f.hidden_field :taxon_id, value: @internal_taxon ? @internal_taxon.id : nil
        = f.text_field :external_taxon_name, value: @external_taxon_name ? @external_taxon_name : nil, place_holder: t(:type_taxon_name), label: t(:external_taxon_including_children)
        = f.select :internal_rank, Taxon::RANKS, include_blank: t( :any ), selected: @internal_rank, label: t( :internal_taxon_rank )
        = f.select :external_rank, [Taxon::RANKS,ExternalTaxon::ADDITIONAL_RANKS].flatten, include_blank: t( :any ), selected: @external_rank, label: t( :external_taxon_rank )
        = f.text_field :user_id, value: @user ? @user.id : nil, placeholder: t( :start_typing_someones_name ), label: t( :added_by )
        = f.select :is_active, [t( :true ), t( :false )], include_blank: t( :any_ ), selected: @is_active, label: t( :active )
        = f.submit t( :filter ), class: "default button", "data-loading-click": t( :filtering )
        = link_to t( :clear_filters ), taxon_framework_relationships_url, class: "minor button"
    .col-xs-9
      - if @taxon_framework_relationships.empty?
        %p.description= t :no_taxon_framework_relationships
      - for taxon_framework_relationship in @taxon_framework_relationships
        .panel.panel-default
          .panel-heading
            - if !current_user.blank? && current_user.is_curator? && |
              ( ( taxon_framework_relationship.taxon_framework.taxon_curators.count > 0 && taxon_framework_relationship.taxon_framework.taxon_curators.select{ |tc| tc.user_id == current_user.id }.count > 0 ) || |
              ( taxon_framework_relationship.taxon_framework.taxon_curators.count == 0 ) ) |
              .pull-right
                = link_to "Edit relationship", edit_taxon_framework_relationship_path( taxon_framework_relationship )
            %h4
              = link_to t( :taxon_framework_relationship_number, number: taxon_framework_relationship.id ), taxon_framework_relationship_path( taxon_framework_relationship )
          .panel-body
            = t( :covered_by_a_taxon_framework_html, 
            link: link_to( t( :covered_by_a_taxon_framework_link, 
            taxon_framework_rank: t( "ranks.#{ taxon_framework_relationship.taxon_framework.taxon.rank }" ).capitalize,
            taxon_framework_name: taxon_framework_relationship.taxon_framework.taxon.name ),
            taxonomy_details_for_taxon_path( taxon_framework_relationship.taxon_framework.taxon ) ) )
            - if taxon_framework_relationship.taxon_framework.source
              = t( :sourced_to )
              = link_to taxon_framework_relationship.taxon_framework.source.title, taxon_framework_relationship.taxon_framework.source.url
            = render partial: "show_taxon_framework_relationship", object: { taxon_framework_relationship: taxon_framework_relationship }
            - if taxon_framework_relationship.description
              %p= formatted_user_text stripped_first_paragraph_of_text( taxon_framework_relationship.description,"\n" ), tags: Post::ALLOWED_TAGS, attributes: Post::ALLOWED_ATTRIBUTES
            .pull-right
              - if taxon_framework_relationship && taxon_framework_relationship.updater
                = t(:updated_by)
                = link_to taxon_framework_relationship.updater.login, taxon_framework_relationship.updater
                = t :on_day
                = l(taxon_framework_relationship.updated_at.to_date, :format => :long)
              - elsif taxon_framework_relationship && taxon_framework_relationship.user
                = t(:created_by, gender: 'taxon')
                = link_to taxon_framework_relationship.user.login,taxon_framework_relationship.user
                = t :on_day
                = l(taxon_framework_relationship.created_at.to_date, :format => :long)
      = will_paginate @taxon_framework_relationships
