.container
  .row
    .breadcrumbs
      %strong= link_to "&laquo back to taxon framework relationships".html_safe, taxon_framework_relationships_path, :class => 'crumb'
    .col-xs-8.prepend-8
      -if @taxon_framework_relationship.relationship == "unknown"
        .alert
          There's something wrong here - we can't determine the relationship between any internal and external taxa
      .panel.panel-default
        .panel-heading
          - if @taxon_framework_relationship.relationship == "not internal" || @taxon_framework_relationship.taxa.count == 0
            %h4 Taxon Framework Relationship for Non-internal Taxon
          - elsif @taxon_framework_relationship.relationship == "unknown"
            %h4 Taxon Framework Relationship with Unknown Relationship
          - else
            %h4 Taxon Framework Relationship for #{ link_to @taxon_framework_relationship.taxa.first.name, taxonomy_details_for_taxon_path( @taxon_framework_relationship.taxa.first ) }
        .panel-body
          - if is_curator?
            - if ( @taxon_framework_relationship.taxon_framework.taxon_curators.count > 0 && @taxon_framework_relationship.taxon_framework.taxon_curators.select{ |tc| tc.user_id == current_user.id } ) || ( @taxon_framework_relationship.taxon_framework.taxon_curators.count == 0 )
              .pull-right
                = link_to "Edit relationship", edit_taxon_framework_relationship_path( @taxon_framework_relationship )
          Covered by a #{ link_to "Taxon Framework for #{ @taxon_framework_relationship.taxon_framework.taxon.name }", taxonomy_details_for_taxon_path( @taxon_framework_relationship.taxon_framework.taxon ) }
          sourced to #{ link_to @taxon_framework_relationship.taxon_framework.source.title, @taxon_framework_relationship.taxon_framework.source.url } 
          = render :partial => 'show_taxon_framework_relationship', object: { taxon_framework_relationship: @taxon_framework_relationship }
          - unless @taxon_framework_relationship.description.blank?
            = formatted_user_text @taxon_framework_relationship.description, tags: Post::ALLOWED_TAGS, attributes: Post::ALLOWED_ATTRIBUTES
