.container
  .row
    .col-xs-12
      %h2.pull-left
        = "Complete Set"
        = t :for
        = render partial: "shared/taxon", locals: { taxon: @complete_set.taxon, named_ancestor: true }
        = t :in
        = @complete_set.place.name
      .pull-right= link_to t(:edit), edit_complete_set_path(@complete_set)


  %table.table.table-striped
    %thead
      %tr
        %th="Taxon"
    %tbody#alteration
      - @taxa.each do |taxon|
        %tr
          %td= render partial: "shared/taxon", locals: { taxon: taxon, named_ancestor: true }