<%- content_for(:title) do -%>
  <%= t(:log_in) %>
<%- end -%>
<%= form_for(resource, as: resource_name, url: session_path) do |f| %>
  <p class="ui">
    <%= f.label :email, t(:username_or_email) %><br/>
    <%= f.text_field :email, :class => "text", :tabindex => 1, :autocorrect => "off", :autocapitalize => "off" %>
  </p>

  <p class="ui">
    <%= f.label :password, t(:password) %><br/>
    <%= f.password_field :password, :class => "text", tabindex: 2 %>
  </p>

  <% if devise_mapping.rememberable? -%>
    <p class="ui">
      <%= f.label :remember_me, t(:remember_me) %>
      <%= f.check_box :remember_me, :label_after => true, :label => t(:remember_me) %>
    </p>
  <% end -%>

  <p><%= submit_tag t(:sign_in_exclamation), :class => "default button", :style => "float: none;" %></p>

<% end -%>

<p class="ui" style="text-align:center;"><%= link_to t(:forgot_your_password), forgot_password_path %></p>
<p class="ui" style="text-align:center;"><%= link_to t(:start_new_account), new_user_path %></p>
