= form_for resource, url: session_path, html: { novalidate: true, class: "log-in" } do |f|
  %h1=t :welcome_back!
  .form-group.text-field.email
    = f.text_field :email, autocorrect: "off", autocapitalize: "off", required: true, placeholder: t( :username_or_email ), type: "email", class: "form-control"
    - unless resource.errors[:email].blank?
      .error= formatted_error_sentence_for( resource, :email )
  .form-group.text-field.password
    = f.password_field :password, class: "text form-control", required: true, placeholder: t(:password)
    - unless resource.errors[:password].blank?
      .error= formatted_error_sentence_for( resource, :password )
  .form-group.checkbox.remember-forgot
    - if devise_mapping.rememberable?
      %label
        = f.check_box :remember_me
        = t(:remember_me)
    = link_to t(:forgot_your_password), new_password_path( resource_name )
  .form-group.centered
    = f.submit t(:log_in), class: "btn btn-inat btn-primary btn-lg", data: { loading_click: t( :logging_in ) }
  .form-group.centered
    = link_to t(:dont_have_an_account_sign_up_html), signup_path, class: "btn btn-link"
.formcol-content
  = render "users/provider_authorizations", extra: true
