<%= form_for(@taxon_change_taxon, 
    :url => @taxon_change_taxon.new_record? ? taxon_change_taxon_change_taxa_path(@taxon_change || @taxon_change_taxon.taxon_change) : @taxon_change_taxon) do |n| %>
  <%= error_messages_for :taxon_change_taxon %>
  
  <%= n.hidden_field :taxon_change_id %>
  
  <p class="ui">
    <%= n.label :taxon_id, 'Taxon ID' %><br/>
    <%= n.text_field :taxon_id, :class => 'text', :id => "taxon_change_taxon_id" %><br/>
    <%= label_tag :taxon_name %><br/>
    <%= text_field_tag :taxon_name, @taxon_change.taxon ? @taxon_change.taxon.name : '', :id => 'taxon_name', :class => 'text' %>
    <%= link_to_function "Browse all species", "$('#taxonchooser').jqmShow();" %>
    <div class="description">
      <%=t :this_is_a_more_convenient_way_to_find_a_taxon_id %>
  	</div>
  </p>

  <div class="clear buttonrow">
    <%= n.submit t(:save), :class => 'default button' %>
    <%= link_to t(:cancel), @taxon_change || @taxon_change_taxon.taxon_change, :class => 'button' %>
    <%- unless @taxon_change_taxon.new_record? -%>
      <%= link_to t(:delete), @taxon_change_taxon,
        method: :delete,
        data: { confirm: t(:are_you_sure?) },
        class: "minor delete button" %>
    <%- end -%>
  </div>
<% end %>
