<% form_for(@taxon_change_taxon, 
    :url => @taxon_change_taxon.new_record? ? taxon_change_taxon_change_taxa_path(@taxon_change || @taxon_change_taxon.taxon_change) : @taxon_change_taxon) do |n| %>
  <%= error_messages_for :taxon_change_taxon %>
  
  <%= n.hidden_field :taxon_change_id %>
  
  <p class="ui">
    <%= n.label :taxon_id %><br/>
    <%= n.text_field :taxon_id, :class => "text" %>
  </p>
  
  <div class="clear buttonrow">
    <%= n.submit "Save", :class => 'default button' %>
    <%= link_to "Cancel", @taxon_change || @taxon_change_taxon.taxon_change, :class => 'button' %>
    <%- unless @taxon_change_taxon.new_record? -%>
      <%= link_to 'Delete', @taxon_change_taxon,
                  :method => :delete,
                  :confirm => "Are you sure you want to delete this taxon change taxon?",
                  :class => 'minor delete button' %>
    <%- end -%>
  </div>
<% end %>