:ruby
  if @taxon
    @taxon.html = render( partial: "taxa/chooser.html.erb", object: @taxon )
  end
  @default_taxa = Taxon::ICONIC_TAXA.map do |taxon|
    taxon.html = render( partial: "taxa/chooser.html.erb", object: taxon )
    taxon
  end
- content_for :extrahead do
  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"
  = javascript_include_tag "atlases/index"
- content_for( :extracss ) do
  = stylesheet_link_tag "autocomplete"
- content_for( :extrajs ) do
  :javascript
    window.taxon = #{ json_escape @taxon.to_json( methods: [:html] ).html_safe }
    window.defaultTaxa = #{ json_escape @default_taxa.to_json( methods: [:html] ).html_safe }
    $( document ).ready( function() {      
      $( "#filters_taxon_name" ).taxonAutocomplete( {
        idEl: $( "#filters_taxon_id" ),
        initialSelection: #{ raw @taxon.to_json },
        thumbnail: false,
        bootstrapClear: true
      } );
      
    } )
.container
  .row
    .col-xs-12
      %h2.pull-left
        = "Atlases"
      .pull-right= link_to "Create an atlas", new_atlas_path, class: "btn btn-default"
  .panel.panel-info
    .panel-heading
      %h3.panel-title
        = "About Atlases"
    .panel-body
      %p
        = "Atlases convey the global distribution of a taxon. Curators make atlases by defining the structure"
        = "of an atlas and curating the listed taxa that drive it."
        = link_to "Learn more", "/pages/atlases"
  = "All active atlases are checked daily and marked if relevant observatons fall out of range."
  = "Any marked atlases are listed below."
  = "Once you've resolved any issues, manually refresh the atlas to unmark it."
  .row
    .col-xs-3
      = form_for :filters, builder: DefaultFormBuilder, html: { method: :get } do |f|
        = f.text_field :taxon_name, placeholder: t(:type_taxon_name), label: t(:taxon_including_descendants)
        = f.hidden_field :taxon_id, value: @taxon ? @taxon.id : nil
        = f.select :is_active, [t( :true ), t( :false )], include_blank: t( :any_ ), selected: @is_active, label: t( :active )
        = f.select :is_marked, [t( :true ), t( :false )], include_blank: t( :any_ ), selected: @is_marked, label: t( :marked )
        = f.submit t( :filter ), class: "default button", "data-loading-click": t( :filtering )
        = link_to t( :clear_filters ), atlases_url, class: "minor button"
    .col-xs-9
      %table.table.table-striped
        %thead
          %tr
            %th="Atlas"
            %th="Active"
            %th="Marked"
            %th=""
          %tbody.exploded
            - @atlases.each do |atlas|
              %tr
                %td 
                  = "Atlas for"
                  = render partial: "shared/taxon", locals: { taxon: atlas.taxon, named_ancestor: true, link_url: atlas }
                  %td= atlas.is_active
                  %td= atlas.is_marked
                  %td= link_to "refresh atlas", "#", :class => "refresh_button", :data => { atlas_id: atlas.id }
      = will_paginate @atlases
      - if @atlases.empty?
        = "No atlases"