- content_for :extrahead do
  = stylesheet_link_tag "atlases/show"
  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"
  = javascript_include_tag "https://d3js.org/d3.v3.min.js"
  = javascript_include_tag "https://d3js.org/d3.geo.projection.v0.min.js"
  = javascript_include_tag "https://d3js.org/topojson.v1.min.js"
  = javascript_include_tag "atlases/show"
  = javascript_tag "world = #{@atlas_place_json.to_json.html_safe};"
  = javascript_tag "taxon_id = #{@atlas.taxon_id}"

.container
  .row
    .col-xs-12
      %h2.pull-left
        = "Atlas"
        = t :for
        = link_to @atlas.taxon.name, @atlas.taxon
      .pull-right= link_to t(:edit), edit_atlas_path(@atlas)
  #map
  %p
    = link_to "alter", alter_atlas_presence_path(@atlas), :id => "alter"

  %h3
    = "Recent Atlas Alterations"

  %table.table.table-striped
    %thead
      %tr
        %th="Place"
        %th="Action"
        %th="Login"
        %th="Date"
    %tbody#alteration
      - @atlas_alterations.each do |atlas_alteration|
        %tr
          %th{:scope => "row"}=link_to atlas_alteration.place.name, atlas_alteration.place
          %td= atlas_alteration.action
          %td= atlas_alteration.user.nil? ? "" : (link_to atlas_alteration.user.login, atlas_alteration.user)
          %td= atlas_alteration.created_at
  - if @atlas_alterations.count == 0
    .no_alterations="No alterations to this atlas yet"
  - else
    = link_to "Clear Alteration Log", destroy_all_alterations_path(@atlas.id), :data => {:id => @atlas.id}, :id => "destroy_all_alterations", :class => "btn btn-danger"

  %h3
    = "Recent Listed Taxon Alterations"

  %table.table.table-striped
    %thead
      %tr
        %th="Place"
        %th="Taxon"
        %th="Action"
        %th="Login"
        %th="Date"
    %tbody#listed_taxon_alteration
      - @listed_taxon_alterations.each do |listed_taxon_alteration|
        %tr
          %th{:scope => "row"}=link_to listed_taxon_alteration.place.name, listed_taxon_alteration.place
          %td= link_to listed_taxon_alteration.taxon.name, listed_taxon_alteration.taxon
          %td= listed_taxon_alteration.action
          %td= listed_taxon_alteration.user.nil? ? "" : (link_to listed_taxon_alteration.user.login, listed_taxon_alteration.user)
          %td= listed_taxon_alteration.created_at
  - if @listed_taxon_alterations.count == 0
    .no_listed_taxon_alterations="No listed taxon alterations relevant to this atlas yet"
