- content_for :extrajs do
  = google_maps_js
  = javascript_include_tag "atlases/show"
  = javascript_include_tag "atlases/map"

- content_for :extracss do
  = stylesheet_link_tag "atlases/show"
  = stylesheet_link_tag "atlases/map"

.container
  .row
    .col-xs-12
      %h2.pull-left
        = "Atlas"
        = t :for
        = render partial: "shared/taxon", locals: { taxon: @atlas.taxon, named_ancestor: true }
      .pull-right= link_to t(:edit), edit_atlas_path(@atlas)

  - atlas_data = {                                      |
    atlas_id: @atlas.id,                                |
    taxon_id: @atlas.taxon_id,                          |
    place_ids: @atlas.presence_places.pluck(:id),       |
    exploded_places: Hash[@atlas.exploded_atlas_places. |
      map{ |e| [ e.place_id, e.id ] }].to_json }        |

  #top
    #left
      #map{ data: atlas_data }
    #right
      
  #bottom

    #comments
      = render :partial => "comments/comments", :object => @atlas
    
    %h3
      = "Recent Atlas Alterations"

    %table.table.table-striped
      %thead
        %tr
          %th="Place"
          %th="Action"
          %th="Login"
          %th="Date"
      %tbody#alteration
        - @atlas_alterations.each do |atlas_alteration|
          %tr
            %th{:scope => "row"}=link_to atlas_alteration.place.name, atlas_alteration.place
            %td= atlas_alteration.action
            %td= atlas_alteration.user.nil? ? "" : (link_to atlas_alteration.user.login, atlas_alteration.user)
            %td= atlas_alteration.created_at
    - if @atlas_alterations.count == 0
      .no_alterations="No alterations to this atlas yet"

    %h3
      = "Recent Listed Taxon Alterations"

    %table.table.table-striped
      %thead
        %tr
          %th="Place"
          %th="Taxon"
          %th="Action"
          %th="Login"
          %th="Date"
      %tbody#listed_taxon_alteration
        - @listed_taxon_alterations.each do |listed_taxon_alteration|
          %tr
            %th{:scope => "row"}=link_to listed_taxon_alteration.place.name, listed_taxon_alteration.place
            %td= link_to listed_taxon_alteration.taxon.name, listed_taxon_alteration.taxon
            %td= listed_taxon_alteration.action
            %td= listed_taxon_alteration.user.nil? ? "" : (link_to listed_taxon_alteration.user.login, listed_taxon_alteration.user)
            %td= listed_taxon_alteration.created_at
    - if @listed_taxon_alterations.count == 0
      .no_listed_taxon_alterations="No listed taxon alterations relevant to this atlas yet"
