- content_for :extrajs do
  :javascript
    $( document ).ready( function() {
      $( "#user_name" ).userAutocomplete( {
        idEl: $( "#taxon_curator_user_id" ),
        afterSelect: function( ui ) {
          $( "#taxon_curator_user_id" ).val( ui.item.user_id );
        }
      } );
    } );
= form_for @taxon_curator, builder: BootstrapFormBuilder do |f|
  - if @taxon_curator.errors.any?
    #error_explanation
      %h3
        = pluralize(@taxon_curator.error.count, "error")
        prohibited this taxon_curator from being saved:
      %ul
        - @taxon_curator.errors.full_messages.each do |message|
          %li= message
  = f.collection_select(:taxon_framework_id, @taxon_frameworks, :id, :name)
  = f.form_field :user do
    = text_field_tag :user_name, "", class: "form-control", placeholder: t(:start_typing_someones_name)
    = f.hidden_field :user_id, value: f.object.user_id || params[:user_id]
  .stacked
    = f.submit t(:save), class: "btn btn-primary"
