<h2>Delayed Jobs (<%= pluralize(@jobs.size, 'job') %>)</h2>

<%= table_for @jobs do |t| %>
  <%= t.head do %>
    <%= t.r do %>
      <%= t.h('id') %>
      <%= t.h('priority') %>
      <%= t.h('attempts') %>
      <%= t.h('handler') %>
      <%= t.h('last error') %>
      <%= t.h('queue') %>
      <%= t.h('run at') %>
      <%= t.h('failed at') %>
      <%= t.h('locked at') %>
      <%= t.h('locked by') %>
    <% end %>
  <% end %>
  <%= t.body do |row| %>
    <%= t.r do %>
      <%= t.d row['id'] %>
      <%= t.d row['priority'] %>
      <%= t.d row['attempts'] %>
      <%= t.d YAML.load(row['handler']) %>
      <%= t.d row['last_error'].match(/.*\n/).to_s %>
      <%= t.d row['queue'] %>
      <%= t.d row['run_at'] %>
      <%= t.d row['failed_at'] %>
      <%= t.d row['locked_at'] %>
      <%= t.d row['locked_by'] %>
    <% end %>
  <% end %>
<% end %>
