- content_for :title do
  = @title = "Deleted Users"

.container
  .row
    .col-xs-12
      %form.form-inline{ method: "get" }
        %input.form-control#id{ name: "q", type: "search", value: @q, placeholder: "Login or email" }
        %input.btn.btn-default{ type: "submit", value: "Search" }
  .row
    .col-xs-12
      %table.table
        %thead
          %tr
            %th user ID
            %th login
            %th email
            %th deleted at
            %th user created at
            %th obs count
        %tbody
          - for du in @deleted_users
            %tr
              %td= du.user_id
              %td= du.login
              %td= du.email
              %td=l du.created_at
              %td=l du.user_created_at
              %td= du.observations_count
      = will_paginate @deleted_users
