<h2><%=t :admin_tools %></h2>

<ul>
  <li><%= link_to t(:curate_observations), :controller => "observations", :action =>"curation" %> </li>
  <li><%= link_to t(:curate_taxa), :controller => "taxa", :action =>"curation" %></li>
  <li><%= link_to t(:curate_users), :controller => "users", :action => "curation" %></li>
  <li><%= link_to t(:stats), :action => "stats" %></li>
  <li><%= link_to t(:announcements), announcements_path %></li>
</ul>
