<h2>Admin Tools</h2>

<ul>
  <li><%= link_to "Curate Observations", :controller => "observations", :action =>"curation" %> </li>
  <li><%= link_to "Curate Taxa", :controller => "taxa", :action =>"curation" %></li>
  <li><%= link_to "Curate Users", :controller => "users", :action => "curation" %></li>
  <li><%= link_to "Stats", :action => "stats" %></li>
  <li><%= link_to "Announcements", announcements_path %></li>
</ul>
