- content_for :extrajs do
  :javascript
    $( function( ) {
      $( ".kill a" ).each( function( ) {
        var link = $( this );
        var validation = $( "<p/>" ).append(
          $( "<input type='text' id='comfirm_validation' />" )
        );
        link.confirmModal( {
          additionalContent: validation,
          text: function( ) {
            return "Are you sure you want to kill this query? Type \"yes\" to continue:";
          },
          confirmValidation: function( ) {
            return $( "#comfirm_validation" ).val( ) === "yes";
          },
          onConfirm: function( ) {
            window.location = link.data( "url" );
          }
        } );
      } );
    } );

%h2.sub-header= "Active Queries"

%ul.nav.nav-tabs#queryTabs{role: "tablist"}
  %li.nav-item
    %button.nav-link.active{"data-bs-toggle" => "tab", "data-bs-target" => "#primary_queries", type: "button", role: "tab"} Primary Queries (#{@primary_queries.count})
  %li.nav-item
    %button.nav-link{"data-bs-toggle" => "tab", "data-bs-target" => "#replica_queries", type: "button", role: "tab"} Replica Queries (#{@replica_queries.count})

.tab-content.mt-3
  %div.tab-pane.fade.show.active#primary_queries{role: "tabpanel"}
    %h3 Primary Queries (#{@primary_queries.count})
    %table.table.table-striped
      %thead
        %tr
          %th Timing
          %th Info
      %tbody
        - @primary_queries.each do | query |
          %tr
            %td
              %strong Duration:
              = human_duration(query["duration"]) if query["duration"]
              %br
              %strong State Changed:
              = time_ago_in_words(query["state_change"]) if query["state_change"]
            %td
              - query.each do |k,v|
                %strong= "#{ k }:"
                = v
                %br

  %div.tab-pane.fade#replica_queries{role: "tabpanel"}
    %h3 Replica Queries (#{@replica_queries.count})
    %table.table.table-striped
      %thead
        %tr
          %th Timing
          %th Info
      %tbody
        - @replica_queries.each do | query |
          %tr
            %td
              %strong Duration:
              = human_duration(query["duration"]) if query["duration"]
              %br
              %strong State Changed:
              = time_ago_in_words(query["state_change"]) if query["state_change"]
            %td
              - query.each do |k,v|
                %strong= "#{ k }:"
                = v
                %br
