<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .graph {
      height: 200px; 
      margin: 30px 0;
    }
    .bar {
      display: inline-block;
      background-color: #7E9739;
      margin-right: 1px;
      width: 4px;
      font-size: smaller;
      vertical-align: bottom;
      text-align: center;
      position: relative;
    }
    .bar .count {
      display: inline-block;
      font-family: Helvetica;
      font-weight: bold;
      margin-top: 5px;
      position: absolute;
      top: -25px;
      -webkit-transform: rotate(-45deg);
      font-size: smaller;
    }
    .week {
      position: absolute;
      bottom: -15px;
      left: 40%;
    }
    .bar.last_year {
      background-color:deeppink;
    }
    .last_year .count {
      color: deeppink;
    }
    
    #summary { font-size: 150%; }
    #summary .count { font-weight: bold; }
  </style>
<%- end -%>

<h2>Site Stats</h2>

<p id="summary">
  <span class="count"><%= number_with_delimiter @total_users %></span> total users,
  <span class="count"><%= number_with_delimiter @active_observers %></span> unique observers in the last 3 months,
  <span class="count"><%= number_with_delimiter @total_observations %></span> total observations
</p>

<h3>Observations / Week (<span class="last_year"><span class="count"><%= Time.now.year - 1 %></span></span> <span class="count"><%= Time.now.year %></span>)</h3>
<div class="graph">
<% for week in 1..52 %>
  <%- count = @observation_weeks_last_year[week.to_s] || 0 %>
  <div class="bar last_year" style="height: <%= (count.to_f / @observations_max * 100).to_i %>%">
    <span class="count"><%= count %></span>
    <span class="week"><%= week %></span>
  </div>
  
  <%- count = @observation_weeks[week.to_s] || 0 %>
  <div class="bar" style="height: <%= (count.to_f / @observations_max * 100).to_i %>%">
    <span class="count"><%= count %></span>
    <!-- <span class="week"><%= week %></span> -->
  </div>
<% end %>
</div>

<h3>New Users / Week (<span class="last_year"><span class="count"><%= Time.now.year - 1 %></span></span> <span class="count"><%= Time.now.year %></span>)</h3>
<div class="graph">
<% for week in 1..52 %>
  <%- count = @user_weeks_last_year[week.to_s] || 0 %>
  <div class="bar last_year" style="height: <%= (count.to_f / @users_max * 100).to_i %>%">
    <span class="count"><%= count %></span>
    <span class="week"><%= week %></span>
  </div>
  
  <%- count = @user_weeks[week.to_s] || 0 %>
  <div class="bar" style="height: <%= (count.to_f / @users_max * 100).to_i %>%">
    <span class="count"><%= count %></span>
    <!-- <span class="week"><%= week %></span> -->
  </div>
<% end %>
</div>

<h3>Country stats for observations created on <%= @daily_date %></h3>
<% table_for @daily_country_stats.to_a.sort_by{|stat| stat["display_name"] || ""} do |t| %>
  <% t.head do %>
    <% t.r do %>
      <%= t.h('name') %>
      <%= t.h('code') %>
      <%= t.h('count') %>
      <%= t.h %>
    <% end -%>
  <% end -%>
  <% t.body do |row| %>
    <% t.r do %>
      <%= t.d row['display_name'] %>
      <%= t.d row['code'] %>
      <%= t.d row['count'] %>
      <% t.d do %>
        <%= link_to "View observations", observations_path(:place_id => row['id'], :created_on => @daily_date.to_s) %>
      <% end -%>
    <% end -%>
  <% end -%>
<% end -%>
