<%-
  taxon ||= scheme_taxon || @taxon
  taxon_range ||= taxon.taxon_range_without_geom
  swaps = if @swaps_by_taxon_id
    @swaps_by_taxon_id[taxon.id] || []
  end
  schemes = if taxon.taxon_scheme_taxa.loaded? && (tst = taxon.taxon_scheme_taxa.first) && tst.association(:taxon_scheme).loaded?
    taxon.taxon_scheme_taxa.map(&:taxon_scheme)
  else
    taxon.taxon_schemes
  end
  schemes = schemes.to_a.compact
-%>

<div class="taxon_scheme">
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td>
        <div id="scheme_taxon_<%= taxon.id %>" class="scheme_taxon clear" data-taxon-id="<%= taxon.id %>">
          <%= image_and_content taxon_image(taxon), :image_size => 75 do %>
            <%= link_to taxon, :class => "taxon #{taxon.rank}" do %>
              <span class="sciname"><%= taxon.name %></span>
            <% end -%>
            
            <div class="stacked">
              <%= link_to taxon.observations_count, observations_path(:taxon_id => taxon.id), :rel => "nofollow" %> Obs
              <% unless taxon.global_conservation_status.blank? -%>
                <span class='meta'>|</span>
                <%= taxon.conservation_status_code %>
              <% end -%>
              <% if taxon_range -%>
                <span class='meta'>|</span>
                <%= link_to t(:range), taxon_path(taxon, :anchor => 'taxon_range') %>
              <% end -%>
              <% if taxon.is_active? -%>
                | <span class="active"><%=t :active %></span>
              <% else %>
                | <span class="inactive"><%=t :inactive %></span>
              <% end -%>
              <% if taxon.flagged? %>
                | <span id="flaggings_heads_up" class="description">
                <%=t :flagged_for_curation %>
                <%= link_to t(:view_flags), taxon_flags_path(taxon), :class => "readmore",
                  :title => t(:see_something_wrong_with_taxon) %>
                </span>
              <% else %>
                <% if logged_in? %>
                | <%= link_to t(:flag_for_curation), new_taxon_flag_path(taxon), :id => "flag_this" %>
                <% end %>
              <% end %>
            </div>
            
            <div class="meta">
              <div class="small description">
                <% unless schemes.blank? -%>
                  <label><%=t :schemes %></label>
                  <%= schemes.map{|s| link_to(s.title, s)}.join(', ').html_safe %>
                <% end -%>
                
                <% unless swaps.blank? -%>
                  <label><%=t :synonyms %></label>
                  <ul>
                    <% for swap in swaps %> 
                      <%- aka_taxon = swap.opposite_taxon_from(taxon) -%>
                      <li>
                        <%= link_to "#{aka_taxon.name} #{aka_taxon.id}", aka_taxon %>
                        <% for aka_scheme in aka_taxon.taxon_schemes %>
                          <div class="meta">
                            <%= aka_scheme.title %>
                          </div>
                        <% end %>
                        <%= link_to t(:view_taxon_change), taxon_change_path(swap) %>
                      </li>
                    <% end %>
                  </ul>
                <% end -%>
              </div>
            </div>
          <% end -%>
        <div>
      </td>
    </tr>
  </table>
</div>
