<% content_for(:title) do %>
  <% @title = capture do %>
    <% if @parent && @taxon_scheme -%>
      <i><%= link_to @parent.name, taxon_path(@parent), "data-taxon-id" => @parent.id %></i>
      in <%= @taxon_scheme.title %>
    <% end -%>
  <% end -%>
  <%= strip_tags(@title) %>
<% end %>

<h2><%= @title %></h2>

<% if @taxa.empty? %>
  <p class="description">No taxa match those criteria</p>
<% else %>
  <ul>
    <% for taxon in @active_taxa -%>
      <%= render :partial => 'scheme_taxon', :object => taxon %>
    <% end %>
    <% for taxon_change in @taxon_changes -%>
      <%= render :partial => 'show_change_taxon', :object => taxon_change %>
    <% end %>
  </ul>
  <% if @orphaned_taxa.count > 0 %> 
    <h3>Inactive <%= @taxon_scheme.title %> <i><%= link_to @parent.name, taxon_path(@parent), "data-taxon-id" =>  @parent.id %></i> not directly connected to active taxa</h3>
    <ul>
      <% for taxon in @orphaned_taxa -%>
        <%= render :partial => 'scheme_taxon', :object => taxon %>
      <% end %>
    </ul>
  <% end %>
  <% if @missing_taxa.count > 0 %>
    <h3>Active <i><%= link_to @parent.name, taxon_path(@parent), "data-taxon-id" => @parent.id %></i> not directly connected to <%= @taxon_scheme.title %> <i><%= link_to @parent.name, taxon_path(@parent), "data-taxon-id" =>   @parent.id %></i></h3>
    <ul>
      <% for taxon in @missing_taxa -%>
        <%= render :partial => 'scheme_taxon', :object => taxon %>
      <% end %>
    </ul>
  <% end %>
<% end %>
