<% content_for(:title) do %>
  <% @title = capture do %>
    <% if @parent && @taxon_scheme -%>
      <h2><i><%= link_to @parent.name, taxon_path(@parent), "data-taxon-id" => @parent.id %></i>
      in <%= @taxon_scheme.title %></h2>
    <% else %>
      <h2><%= @taxon_scheme.title %></h2>
      <p class="description">Showing all taxa in the scheme. Filter by a genus for more details</p>
    <% end -%>
  <% end -%>
  <%= strip_tags(@title) %>
<% end %>

<%- content_for(:extracss) do %>
  <%= stylesheet_link_tag 'taxon_schemes' %>
  <style type="text/css" media="screen">
    .ui-chooser-choice {max-width:190px;}
    .scheme_taxon {margin-bottom: 10px; width: 310px;}
    form .text {width:200px;}
    .inactive_taxa_links {
        width: 200px;
        padding: 10px;
    }
</style>
<% end %>

<%- content_for(:extrajs) do -%>
  <script type="text/javascript" charset="utf-8">
    window.taxon = <%= @parent.to_json(:methods => [:html]).html_safe %>
    window.defaultTaxa = <%= @genera.to_json(:only => [:id, :name]).html_safe %>
    $(document).ready(function() {
      $('#filters_taxon_id').chooser({
        collectionUrl: 'http://'+window.location.host + '/taxa/autocomplete.json',
        resourceUrl: 'http://'+window.location.host + '/taxa/{{id}}.json?partial=chooser',
        defaultSources: defaultTaxa,
        chosen: taxon
      })
      $('#filters_taxon_scheme_id').change(function() {
        var form = $(this).parents('form:first'),
            oldAction = form.attr('action'),
            newAction = oldAction.replace(/\d+/, $(this).val())
        form.attr('action', newAction)
      })
    })
  </script>
<%- end -%>

<%= @title %>

<div class="column span-6">
  <div class="inactive_taxa_links">
    <%= link_to "Show mapped inactive taxa".html_safe, mapped_inactive_taxa_path(@taxon_scheme), :class => "navlink" %>
    <% helptip_for "tags" do %>
      Display all inactive taxa in this scheme that are mapped to other taxa through taxon changes.
    <% end -%>
    <%= link_to "Show orphaned inactive taxa".html_safe, orphaned_inactive_taxa_path(@taxon_scheme), :class => "navlink" %>
    <% helptip_for "tags" do %>
      Display all inactive taxa in this scheme that are not linked to other taxa through taxon changes.
    <% end -%>
  </div>
  
  <%= form_for :filters, :builder => DefaultFormBuilder, :html => {:method => :get} do |f| %>
    <%= f.select :taxon_scheme_id, @taxon_schemes.map{|ts| [ts.title, ts.id]}, :include_blank => "None", :selected => @taxon_scheme.try(:id) %>
    <%= f.text_field :taxon_id,  :value => @parent ? @parent.id : nil, :label => "Genus", :placeholder => "Type genus name" %>
    <%= f.submit "Filter", :class => "default button", "data-loading-click" => "Filtering..." %>
  <% end -%>
    
</div>

<div class="last column span-18">
  <% if @taxa.empty? %>
    <% if @genus_only = true %>
      <p class="description">Genera only please</p>
    <% else %>
      <p class="description">No taxa match those criteria</p>
    <% end %>
  <% elsif !@active_taxa.blank? || !@taxon_changes.blank? || !@orphaned_taxa.blank? %>
    <ul>
      <% for taxon in @active_taxa -%>
        <%= render :partial => 'scheme_taxon', :object => taxon %>
      <% end %>
      <% for taxon_change in @taxon_changes -%>
        <%= render :partial => 'show_change_taxon', :object => taxon_change %>
      <% end %>
    </ul>
    <% if @orphaned_taxa.count > 0 %> 
      <h3>Inactive <%= @taxon_scheme.title %> <i><%= link_to @parent.name, taxon_path(@parent), "data-taxon-id" =>  @parent.id %></i> not directly connected to active taxa</h3>
      <ul>
        <% for taxon in @orphaned_taxa -%>
          <%= render :partial => 'scheme_taxon', :object => taxon %>
        <% end %>
      </ul>
    <% end %>
    <% if @missing_taxa.count > 0 %>
      <h3>Active <i><%= link_to @parent.name, taxon_path(@parent), "data-taxon-id" => @parent.id %></i> not directly connected to <%= @taxon_scheme.title %> <i><%= link_to @parent.name, taxon_path(@parent), "data-taxon-id" =>   @parent.id %></i></h3>
      <ul>
        <% for taxon in @missing_taxa -%>
          <%= render :partial => 'scheme_taxon', :object => taxon %>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <%= render :partial => 'scheme_taxon', :collection => @taxa %>
    <%= will_paginate @taxa %>
  <% end %>
</div>
