<% content_for(:title) do %><%= @title = t(:project_invitations) %><% end %>
<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag 'observations/observation_fields' %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css">
    .observations.mini .observation {border:0 transparent;margin:0;}
    #invitetabs a.active {font-weight: bold;}
  </style>
<%- end -%>

<div id="pageheader">
  <div class="breadcrumbs">
    <%= link_to t(:back_to_your_projects), 
      projects_by_login_path( login: current_user.login ),
      :class => 'back crumb' %>
  </div><!-- /#breadcrumbs -->

  <div id="invitetabs" class="tabs right">
    <ul>
      <% for type in %w(received sent) %>
        <li><%= link_to t(type), project_invitations_path(:type => type), :class => @type.to_s.downcase == type ? "active" : nil %></li>
      <% end %>
    </ul>
  </div>
  <h2><%= @title %></h2>

</div>

<% if @project_invitations.blank? %>
  <p class="ui description">
    <%=t :no_matching_invitations %>.
    <%=t :join_some_projects_and_invite_some_observations_html, :join_url => projects_path, :invite_url => observations_path %>!
  </p>
<% else %>
  <div class="clear column span-24 stacked">
    <% for pi in @project_invitations %>
      <div class="column span-24 lined">
        <div class="column span-8">
          <div id="observations" class="compact mini observations date-added">
            <%= render :partial => 'observations/observation_component', 
               :locals => {:observation => pi.observation} %>
          </div>
        </div>
        <div class="last column span-16">
          <%= render :partial => "project_invitations/project_invitation", 
            :object => pi,
            :locals => { :truncation_length => 48 } %>
        </div>
      </div>
    <% end %>
    <%= will_paginate @project_invitations %>
  </div>
<% end %>
