- content_for :title, "Redirect URLs"

%p#notice= notice

%h1 Redirect URLs

%table.table
  %thead
    %tr
      %th User
      %th Title
      %th Description
      %th URL
      %th View count
      %th{ colspan: 3 }

  %tbody
    - @redirect_urls.each do |redirect_url|
      %tr
        %td= link_to_user redirect_url.user
        %td= redirect_url.title
        %td= redirect_url.description
        %td= link_to redirect_url_url( redirect_url ), redirect_url_url( redirect_url )
        %td= redirect_url.view_count
        %td= link_to t( :test ), redirect_url_url( redirect_url, test: true ), class: "btn btn-link btn-sm"
        %td= link_to t( :edit ), edit_redirect_url_path(redirect_url), class: "btn btn-default btn-sm"
        %td= link_to t( :delete ), redirect_url, method: :delete, data: { confirm: t( :are_you_sure? ) }, class: "btn btn-sm btn-danger"

.text-center
  = will_paginate @redirect_urls

= link_to 'New Redirect URL', new_redirect_url_path, class: 'btn btn-primary'
