- content_for :title, @redirect_url.title
- content_for :extracss do
  :css
    #redirect-url {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .links {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    .links img {
      height: 50px;
    }

#redirect-url
  %h1= @redirect_url.title
  %p.lead= @redirect_url.description

  .links
    = link_to url_for( force: "android" ) do
      = image_tag "https://static.inaturalist.org/wiki_page_attachments/412-original.png", alt: "Google Play Store"
    = link_to url_for( force: "ios" ) do
      = image_tag "https://static.inaturalist.org/wiki_page_attachments/414-original.png", alt: "Apple App Store"
