- content_for :title do
  = @title = t( :terms__terminology )

- content_for :extracss do
  :css
    .term-table td {
      width: 100%;
    }

%h1= @title

%p.lead
  iNaturalist employs a variety of unique terms to describe various aspects of the service. Here we've tried to collect some of them and their definitions for reference.

%h2=t :export_observations

- @export_terms.each do | term |
  %h3
    %a{ name: term, href: "##{term}" }
      %code= term
  %table.table.term-table
    %tr
      %th URI
      %td= link_to term_uri_url( term: term ), term_uri_url( term: term )
    %tr
      %th Definition
      %td= auto_link t( "views.observations.field_descriptions.#{term}", raise: true )

%p
  Exports can also contain columns with Observation Field values. To find definitions for those, either search for them at
  = link_to observation_fields_url, observation_fields_url
  or append the column name (with the colon) to
  %code= terms_url
  (e.g.
  = link_to term_url( term: "field:count" ), term_url( term: "field:count" )
  )

%h2=t :other__terms
- @other_terms.each do | term |
  %h3
    %a{ name: term, href: "##{term}" }
      %code= term
  %table.table.term-table
    %tr
      %th URI
      %td= link_to term_uri_url( term: term ), term_uri_url( term: term )
    %tr
      %th Definition
      %td= auto_link t( "#{term}__definition", raise: true )
