<%= link_to "&laquo; Back to applications".html_safe, oauth_applications_path, :class => "crumb" %>
<h2>Application: <%= @application.name %></h2>

<div class="ui">
  <h4>Callback url:</h4>
  <p><code id="callback_url"><%= @application.redirect_uri %></code></p>

  <h4>Application Id:</h4>
  <p><code id="application_id"><%= @application.uid %></code></p>

  <h4>Secret:</h4>
  <p><code id="secret"><%= @application.secret %></code></p>

  <h4>Link to authorization code:</h4>
  <p><%= link_to 'Authorize', oauth_authorization_path(:client_id => @application.uid, :redirect_uri => @application.redirect_uri, :response_type => 'code' ) %></p>

  <h3>Actions</h3>
  <div class="inline buttonrow">
    <%= link_to 'Edit', edit_oauth_application_path(@application), :class => "inline button" %>
    <%= link_to 'Remove', [:oauth, @application], :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "inline button" %>
  </div>

</div>
