- content_for :extrahead do
  = stylesheet_link_tag "jquery-ui"
  = stylesheet_link_tag "autocomplete"
  = stylesheet_link_tag "font-awesome"
  = stylesheet_link_tag "fontastic-icons"
  = stylesheet_link_tag "bootstrap"
  = stylesheet_link_tag "id_summaries_demo"
  %meta{ name: "viewport", content: "width=1300, initial-scale=1" }
  %meta{ name: "config:inaturalist_api_url", content: CONFIG.public_node_api_url || CONFIG.node_api_url }
  = csrf_meta_tag
  - public_metrics = IdSummaryDqa::PUBLIC_METRICS.index_with { |metric| { label: I18n.t( "id_summary_dqa.public_metrics.#{metric}", default: metric.humanize ) } }
  - reference_public_metrics = IdSummaryReferenceDqa::PUBLIC_METRICS.index_with { |metric| { label: I18n.t( "id_summary_reference_dqa.public_metrics.#{metric}", default: metric.humanize ) } }
  - taxon_group_labels = I18n.t( "id_summaries.demo.taxa_list.group_labels", default: {} )
  :javascript
    window.ID_SUMMARY_PUBLIC_METRICS = #{public_metrics.to_json.html_safe};
    window.ID_SUMMARY_REFERENCE_METRICS = #{reference_public_metrics.to_json.html_safe};
    window.ID_SUMMARY_GROUP_LABELS = #{taxon_group_labels.to_json.html_safe};
#app
- content_for :delayed_js do
  = javascript_include_tag "jquery/jquery-1.11.3.min.js"
  = javascript_include_tag "jquery/jquery-ui-1.11.4.min.js"
  = javascript_include_tag "jquery/plugins/jquery.ba-bbq.min"
  = javascript_include_tag "inaturalist"
  = javascript_include_tag "ang/models/taxon"
  = javascript_include_tag "inaturalist/map3"
  = javascript_include_tag "jquery/plugins/inat/generic_autocomplete"
  = javascript_include_tag "jquery/plugins/inat/taxon_autocomplete"
  = javascript_include_tag "webpack/runtime-webpack"
  = javascript_include_tag "webpack/react-main-webpack"
  = javascript_include_tag "webpack/react-dropzone-webpack"
  = javascript_include_tag "webpack/id-summaries-demo-webpack"
  = javascript_include_tag "bootstrap.min"
