:ruby
  subject = (data_object.at('title') || data_object.at('subject')).content.split('#').last.to_s.underscore.humanize
  citation = data_object.at('bibliographicCitation')
  citations = []
  citations << citation.content if citation
- if rights_holder = data_object.at('rightsHolder')
  - license = data_object.at('license')
  - source = data_object.at('source')
  - section_attribution = capture do
    &copy;
    - if license && license.content =~ /creativecommons\.org/
      = surround '', ',' do
        - if source
          = link_to rights_holder.content, source.content
        - else
          = rights_holder.content
      = link_to "some rights reserved", license.content
    - else 
      - if source
        = link_to rights_holder.content, source.content
      - else
        = rights_holder.content
  - citations << section_attribution
.section.stacked
  %h3
    = subject
    = cite citations unless citations.blank?
  .stacked
    = formatted_user_text data_object.at('description').content
