<% unless @updates.blank? -%>
  <ul class="timeline">
    <% for key, updates in @grouped_updates %>
      <%-
        resource_type, resource_id, notification = key
        resource = if @update_cache && @update_cache[updates.last.resource_type.underscore.pluralize.to_sym]
          @update_cache[updates.last.resource_type.underscore.pluralize.to_sym][updates.last.resource_id]
        else
          updates.last.resource
        end
        notifier = if @update_cache && @update_cache[updates.last.notifier_type.underscore.pluralize.to_sym]
          @update_cache[updates.last.notifier_type.underscore.pluralize.to_sym][updates.last.notifier_id]
        else
          updates.last.notifier
        end
        is_mention = (notification == "mention")
      -%>
      <li class="observation_multiple_added">
        <% if notification == "committed" %>
          <div class="timeline-badge warning"><i class="glyphicon glyphicon glyphicon-random"></i></div>
        <% elsif (notification == "new_observations" && resource.class.name == "Place") %>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-map-marker"></i></div>
        <%- else %>
          <div class="timeline-badge plain">
            <%= link_to update_image_for(updates.last, :style => "max-width:48px;"), resource %>
          </div>                    
        <%- end %>
        <% if ["activity","curator_change","invited","created_post"].include? notification %>
          <%- 
            case notification
            when "activity"
              glytype = "bookmark"
            when "curator_change"
              glytype = "user"
            when "invited"
              glytype = "send"
            when "created_post"
              glytype = "pencil"
            end
          -%>
          <div class="sub-badge">
            <i class="glyphicon glyphicon-<%= glytype %>"></i>
          </div>
        <%- end %>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h2 class="timeline-title">
              <%- if is_mention %>
                <%= link_to generic_edit_user_url, class: "pull-right subscriptionsettings" do %>
                  <span class="glyphicon glyphicon-cog"></span>
                <%- end %>
              <%- else %>
                <%= link_to edit_subscription_by_resource_path(resource_type, resource_id), class: "pull-right subscriptionsettings" do %>
                  <span class="glyphicon glyphicon-cog"></span>
                <%- end %>
              <%- end %>
              <span class="time" title="<%= updates.last.sort_by_date.iso8601 %>">
                <i class="glyphicon glyphicon-time"></i>  <%= compact_date(updates.last.sort_by_date) %>
              </span>
              <%= update_tagline_for(updates.last, :count => updates.size) %>
            </h2>
          </div>
          
          <% if notification == "activity" || is_mention -%>
            <div class="timeline-body">
              <%- if updates[0].resource_type == 'Observation' %>
                <%- observations = [updates[0].resource] -%>
                <%= render partial: 'observations/observations_component_for_dashboard', locals: {for_idents: true, observations: observations} %>
              <% end %>
              <%- target_id = bootstrapTargetID %>
              <div id="expand<%= "#{target_id}" %>" class="collapse out">
                <ul class="timeline timeline_observation">
                  <% for u in updates[0..-2] %>
                    <%-
                      notifier = nil
                      if @update_cache && @update_cache[u.notifier_type.underscore.pluralize.to_sym]
                        notifier = @update_cache[u.notifier_type.underscore.pluralize.to_sym][u.notifier_id]
                      end
                      notifier ||= u.notifier
                    -%>
                    <%= render partial: "shared/activity_item_for_dashboard", object: notifier, locals: { last: false, no_thumb: (is_mention && notifier.is_a?(Post)), no_meta: is_mention, context_around: is_mention ? "@#{ current_user.login }" : nil } %>
                  <% end %>
                </ul>
              </div>
              <ul class="timeline timeline_observation">
                <%-
                  u = updates.last
                  notifier = nil
                  if @update_cache && @update_cache[u.notifier_type.underscore.pluralize.to_sym]
                    notifier = @update_cache[u.notifier_type.underscore.pluralize.to_sym][u.notifier_id]
                  end
                  notifier ||= u.notifier
                -%>
                <%= render partial: "shared/activity_item_for_dashboard", object: notifier, locals: { last: true, no_thumb: (is_mention && notifier.is_a?(Post)), no_meta: is_mention, context_around: is_mention ? "@#{ current_user.login }" : nil } %>
              </ul>
            </div>
            <div class="timeline-footer">
              <%= link_to t(:view_resource, :resource => resource_type), resource, :class => "btn btn-sm btn-primary" %>
              <%- if updates.count > 1 %>
                <button type="button" class="btn btn-sm btn-default btn_expand collapsed" data-toggle="collapse" data-target="#expand<%= "#{target_id}" %>" aria-pressed="false" autocomplete="off"> <span class="expand_inactive"><i class="glyphicon glyphicon-collapse-down"></i> Show More...</span><span class="expand_active"><i class="glyphicon glyphicon-collapse-up"></i> Show Less</span></button>
              <%- end %>
            </div>  
          <% else %>                      
            <%= 
              begin
                render :partial => "#{resource_type.underscore.pluralize}/update_#{notification}", 
                  :object => resource, :locals => {:updates => updates, :resource => resource}
              rescue ActionView::MissingTemplate, Errno::ENOENT
                "#{resource_type} #{notification}"
              end
            -%>                      
          <% end -%>  
        </div>
      </li>
    <% end -%>
  </ul>
  <div class="pagination">
    <%= link_to(t(:more), url_for_params(:from => @pagination_updates.last.id), 'data-from' => @pagination_updates.last.id, :id => (@you ? "more_pagination_you" : "more_pagination"), :class => "btn btn-sm btn-default") unless @pagination_updates.blank? %>
  </div>
<% end %>