<%- 
  user ||= @user
  extra ||= nil
%>
<ul class="readable description leafylist">
  <li>
  <%= link_to pluralize(@user.observations_count, t(:observation), t(:observations)), observations_by_login_path(@user.login) %>
  </li>
  <li>
  <%= link_to pluralize(@user.life_list_taxa_count, t(:singular_species), t(:plural_species)), @user.life_list %>
  </li>
  <li>
  <%= link_to pluralize(@user.lists.count, t(:list), t(:lists)), lists_by_login_path(@user.login) %>
  </li>
  <% if @user.journal_posts_count > 0 -%>
    <li>
    <%= link_to pluralize(@user.journal_posts_count, t(:journal_post), t(:journal_posts)), journal_by_login_path(@user.login) %>
    </li>
  <% end -%>
  <% if user.identifications_count > 0 -%>
    <li>
    <%= link_to pluralize(@user.identifications_count, t(:identification), t(:identifications)), identifications_by_login_path(@user.login) %>
    </li>
  <% end -%>
  <% if user.followers.count > 0 -%>
    <li>
    <%= link_to pluralize(@user.followers.count, t(:follower), t(:followers)), followers_by_login_path(@user.login) %>
    </li>
  <% end -%>
  <% if user.friendships.count > 0 %>
    <li>
    <%=t :following %>
    <%= link_to pluralize(@user.friendships.count, t(:person)), following_by_login_path(@user.login) %>
    </li>
  <% end %>

  <% if user.is_admin? -%>
    <li><%= user.login %> <%=t :is_an%> <%= link_to t(:admin), help_path(:anchor => "curators") %></li>
  <% elsif user.is_curator? %>
    <li><%= user.login %> <%=t :is_a %> <%= link_to t(:curator), help_path(:anchor => "curators") %></li>
  <% end -%>
  
  <%= extra %>
</ul>
