<%- 
  user ||= @user
  extra ||= nil
%>
<ul class="readable description leafylist">
  <li><%= link_to t(:x_observations, :count => @user.observations_count), observations_by_login_path(@user.login) %></li>
  <li><%= link_to t(:x_species, :count => @user.life_list_taxa_count), @user.life_list %></li>
  <li><%= link_to t(:x_lists, :count => @user.lists.count), lists_by_login_path(@user.login) %></li>
  <% if @user.journal_posts_count > 0 -%>
    <li><%= link_to t(:x_journal_posts, :count => @user.journal_posts_count), journal_by_login_path(@user.login) %></li>
  <% end -%>
  <% if user.identifications_count > 0 -%>
    <li><%= link_to t(:x_identifications, :count => @user.identifications_count), identifications_by_login_path(@user.login) %></li>
  <% end -%>
  <% if user.followers.count > 0 -%>
    <li><%= link_to t(:x_followers, :count => @user.followers.count), followers_by_login_path(@user.login) %></li>
  <% end -%>
  <% if user.friendships.count > 0 %>
    <li>
      <%=t :following %>
      <%= link_to t(:x_people, :count => @user.friendships.count), following_by_login_path(@user.login) %>
    </li>
  <% end %>

  <% if user.is_admin? -%>
    <li><%= user.login %> <%=t :is_an %> <%= link_to t(:admin).downcase, help_path(:anchor => "curators") %></li>
  <% elsif user.is_curator? %>
    <li><%= user.login %> <%=t :is_a %> <%= link_to t(:curator).downcase, help_path(:anchor => "curators") %></li>
  <% end -%>
  
  <%= extra %>
</ul>
