- extra ||= nil
- span ||= 8
- last ||= false
%div{:class => "column span-#{span} #{'last' if last}"}
  %h4
    Most
    = noun
    in
    - case time_unit
    - when 'month'
      = Time.now.strftime('%B %Y')
    - else
      = Time.now.year
  %ol
    - if !data.blank?
      - for user, count in data
        %li.stacked
          = image_and_content user_image(user, :size => 'thumb') do
            %div
              = link_to_user user, :class => "large"
            = link_to observations_by_login_path(user.login, :on => Time.now.strftime("%Y-%m")) do
              %span.count= count
              = count == 1 ? noun.singularize : noun.pluralize
    - else
      .nocontent.meta
        No
        = noun
        yet this month
  = extra
