- extra ||= nil
- span ||= 8
- last ||= false
- sub ||= nil
- date ||= @date || Date.today
%div{:class => "column span-#{span} #{'last' if last}"}
  %h4
    - formatted_time = time_unit == 'month' ? l(date, :format => :month_year) : date.year
    = t("leaderboard_most.#{noun_plural.downcase}", time: formatted_time)
  %ol
    - if !data.blank?
      - for user, count in data
        %li.stacked
          = image_and_content user_image(user, :size => 'thumb') do
            %div
              = link_to_user user, :class => "large"
            - if sub
              = sub.call(user, count)
            - else
              - if noun == 'species'
                - url = taxa_observations_path(:user_id => user.login, :on => time_unit == 'month' ? date.strftime("%Y-%m") : date.year, :hrank => "species")
              - else
                - url = observations_by_login_path(user.login, :on => time_unit == 'month' ? date.strftime("%Y-%m") : date.year)
              = link_to url do
                =t "x_#{noun.camelize.parameterize.pluralize}_html", :count => count.to_i
    - else
      .nocontent.meta=t :no_x_this_y, :x => t(noun).downcase, :y => t(time_unit).downcase, gender: noun
  = extra
