<%- content_for(:extrajs) do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#license_all').click(function() {
        $('.license_fields input[type=checkbox]').click()
      })
    })    
  </script>
<%- end -%>

<input type="checkbox" id="license_all" checked="checked"/>
<span class="label">
  <label for="license_all"><%= t :yes_license_my_observations_so_scientists_can_use %></label>
</span>
<div class="stacked description">
  <%=t :check_this_box_if_html %>
</div>
<div class="license_fields" style="display:none;">
  <%= builder.check_box :preferred_observation_license, {:checked => true}, Observation::CC_BY_NC,
    :label => false %>
  <%= builder.check_box :preferred_photo_license, {:checked => true}, Observation::CC_BY_NC, 
    :label => false %>
  <%= builder.check_box :preferred_sound_license, {:checked => true}, Observation::CC_BY_NC, 
    :label => false %>
</div>
