<%- content_for(:extrahead) do -%>
  <script src="https://www.google.com/recaptcha/api.js?hl=<%= I18n.locale %>"></script>
<%- end if @site.using_recaptcha? -%>
<%= error_messages_for :user, 
      :header_message => "Oops.",
      :message => t(:there_were_some_problems_with_fields) %>
<%= form_for :user, :url => users_path, :builder => DefaultFormBuilder, :html => { :id => 'signup_form' } do |f| -%>
  <%= f.text_field :login, :class => 'text', :autocorrect => "off", :autocapitalize => "off", :label => t(:login_slash_username), :placeholder => t(:only_letters_numbers, :default => "Only letters and numbers, no spaces") %>
  <%= f.text_field :email, :class => 'text', :autocorrect => "off", :autocapitalize => "off", :type => "email", :label => t(:email) %>
  <%= f.password_field :password, :class => 'text', :label => t(:password) %>
  <%= f.password_field :password_confirmation, :class => 'text', :label => t(:password_confirmation) %>
  <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, {}, {
    :label => t(:your_default_time_zone),
    :description => t(:all_your_observations_will_default_this_time_zone),
    :class => 'select'}) %>
  <%= render :partial => 'users/license_fields', :locals => {:builder => f} %>
  <%- if @site.using_recaptcha? -%>
    <div class="g-recaptcha" data-sitekey="<%= @site.google_recaptcha_key %>" data-callback="RecaptchaCallback"></div>
  <%- end -%>
  <%= f.submit t(:sign_up), :class => "default button", disabled: true, "data-loading-click" => t(:creating_your_account) %>
<% end -%>
