<%= render :partial => "shared/by_login_header", :locals => { :model_name => "Profile" } %>

<div id="profilecol" class="column span-16">
  <div class="readable description">
    <% if @user.description.blank? %>
      <% if is_me?(@selected_user) -%>
        <div id="nodescription" class="clear small ui box">
          <div class="stacked">
            <strong><%= t(:tell_the_world_a_little_about_yourself) %> <%= link_to_function t(:filling_out_your_profile), "" %>!</strong>
          </div>
          <div class="more">
            <%= t(:do_you_study_nematodes_worlds_foremost_expert_barnacle) %>
          </div>
          <%= form_for @selected_user, :html => {:style => "display: none"} do |f| %>
            <%= f.text_area :description, :style => "width: 590px; height: 100px;", :placeholder => t(:describe_your_interest_in_nature), :class => "stacked" %>
            <div class="actions">
              <%= f.submit t(:save), :class => "default button", "data-loading-click" => true %>
              <a href="#" class="button cancellink"><%= t(:cancel) %></a>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= t(:user_is_a_naturalist, :user => @user.login) %>
      <% end -%>
    <% else %>
      <%= formatted_user_text(@user.description) %>
      <% if is_me?(@user) %>
        <%= link_to t(:edit_your_profile), edit_person_path(current_user), :class => "small ui" -%>
      <% end %>
    <% end %>
  </div>

  <%= separator %>

  <div class="stacked clear">
    <h3>
      <%= t(:some_people_that) %>
      <%= is_me?(@user) ? t(:youre_following) : t(:user_follows, :user => "#{h @user.login}") %>
    </h3>

    <% unless @followees.blank? %>
      <div class="clear">
        <% @followees.each do |friend| %>
          <div class="stacked column span-5">
            <%= link_to(
                  image_tag(friend.icon.url(:thumb), :class => 'left usericon'),
                  person_by_login_path(friend.login)) %>
            <div class="column span-3">
              <%= link_to friend.login, person_by_login_path(friend.login), :class => "readable nobr" %>
              <br/>
              <%= link_to("<span class='count'>#{friend.observations.count}</span> #{t(:observations).downcase}".html_safe, observations_by_login_path(friend.login)) %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="clear">
        <%= link_to t(:view_all), following_by_login_path(@user.login), :class => "readmore" %>
      </div>
    <% else %>
      <% if is_me?(@user) %>
        <p><%= t(:youre_not_following_anyone) %> <%= link_to t(:observing), observations_path %> <%= t(:and_make_some_new) %> <%= link_to t(:acquaintances), people_path %>.</p>
      <% else %>
        <p><%= @user.login %> <%= t(:is_not_following_anyone).downcase %></p>
      <% end %>
    <% end %>
  </div>

  <% unless @favorite_listed_taxa.blank? -%>
    <%= separator %>
    <div class="clear">
      <h3>
        <%= possessive @selected_user, :capitalize => true %>
        <%= link_to t(:favorite_taxa), @favorites_list %>
      </h3>
      <div class="clear taxa grid">
        <% for listed_taxon in @favorite_listed_taxa %>
          <%= render :partial => "taxa/taxon", :object => listed_taxon.taxon, :locals => {
            :link_image => true,
            :link_name => true,
            :image_options => {:size => "thumb"},
            :extra_class => cycle('first', '', '', '', 'last')
          } %>
        <% end %>
      </div>
      <div class="clear">
        <%= link_to t(:view_all), @favorites_list, :class => "readmore" %>
      </div>
    </div>
  <% end -%>

  <% if @favorites_list.blank? && is_me?(@selected_user) -%>
    <%= separator %>
    <div class="quiet box" style="text-align: center;">
      <%= t(:want_to_show_off_some_of_your_favorite_taxa) %>
      <%= link_to t(:create_a_list), new_list_path(:title => t(:favorites)) %>
      <%= t(:titled_favorites_and_the_most_recent_additions) %>
    </div>
  <% end -%>
</div>

<div class="last column span-8">

  <% if @selected_user.icon? -%>
    <div id="medium_user_image" class="quiet box inlineblock">
      <%= user_image @user, :size => "medium" %>
    </div>
  <% end -%>

  <% unless @selected_user.name.blank? -%>
    <p class="description">
    <%=t :aka %> <%= @selected_user.name %>
    </p>
  <% end -%>
  <%= render :partial => 'glance' %>

  <% if is_me?(@user) %>
    <ul class="readable leafylist">
      <li><%= link_to t(:edit_account_settings_and_profile).html_safe, edit_person_path(current_user) -%></li>
    </ul>
  <% end %>

</div>

<% if logged_in? && (current_user.is_admin? || current_user.is_curator?) %>
  <div class="right clear ui description">
    <%-
      pieces = []
      if current_user.is_curator? && !is_me?(@user) && !@user.is_admin? && !@user.is_curator?
        pieces << if @user.active?
          link_to(t(:suspend_user), suspend_user_path(@user))
        else
          link_to(t(:unsuspend_user), unsuspend_user_path(@user))
        end
      end

      if current_user.is_curator? && !@user.is_admin?
        pieces << if @user.is_curator?
          link_to(t(:remove_curator_status), remove_role_path(@user, :role => "curator"), :method => :delete)
        else
          link_to(t(:make_curator), add_role_path(@user, :role => "curator"), :method => :post)
        end
      end

      pieces << link_to(t(:curate_user), curate_users_path(:id => @user.id)) if is_admin?
    -%>
    <%= pieces.join(" | ").html_safe %>
  </div>

  <div class="right clear ui description">
    <%-
      pieces = []
      if current_user.is_curator? && !is_me?(@user) && !@user.is_admin?
        unless @user.spammer?
          pieces << link_to(t(:flag_as_spammer), set_spammer_path(@user, spammer: true), method: :post)
        end
        unless @user.known_non_spammer?
          pieces << link_to(t(:flag_as_non_spammer), set_spammer_path(@user, spammer: false),
            method: :post, data: { confirm: t(:are_you_sure_you_want_to_remove_spammer) } )
        end
      end
    -%>
    <%= pieces.join(" | ").html_safe %>
  </div>
<% end %>
