<%= render :partial => "shared/by_login_header_bootstrap", :locals => { :model_name => "Profile" } %>

<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <% if @selected_user.icon? -%>
          <h1><%= user_image @user, :size => "medium", :width => "100%", :class => "img-thumbnail img-responsive" %></h1>
        <% end -%>
        <% if is_me?(@user) %>
          <p>
            <%= link_to t(:edit_account_settings_and_profile).html_safe, edit_person_path(current_user), :class => "btn btn-primary btn-lg btn-group-justified" -%>
          </p>
        <% end %>
      </div>
    </div>
    <%= render :partial => 'glance' %>
    
    <% if logged_in? && (current_user.is_admin? || current_user.is_curator?) %>
      <div class="row">
        <div class="col-md-12">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle  nav-justified" type="button" id="dropdownMenu1" data-toggle="dropdown" style="text-align:left"><span class="glyphicon glyphicon-wrench"></span> Admin Tools
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="width:100%">
              <% if current_user.is_curator? && !is_me?(@user) && !@user.is_admin? && !@user.is_curator? %>
                <% if @user.active? %>
                  <li>
                    <%= link_to t(:suspend_user), suspend_user_path(@user) %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to t(:unsuspend_user), unsuspend_user_path(@user)%>
                  </li>
                <% end %>
              <% end %>
              
              <% if current_user.is_curator? && !@user.is_admin? %>
                <% if @user.is_curator? %>
                  <li>
                    <%= link_to t(:remove_curator_status), remove_role_path(@user, :role => "curator"), :method => :delete %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to t(:make_curator), add_role_path(@user, :role => "curator"), :method => :post %>
                  </li>
                <% end %>
              <% end %>
              
              <% if is_admin? %>
                <li>
                  <%= link_to t(:curate_user), curate_users_path(:id => @user.id) %>
                </li>
              <% end %>
              
              <% if current_user.is_curator? && !is_me?(@user) && !@user.is_admin? %>
                <li role="separator" class="divider"></li>
                <% unless @user.spammer? %>
                  <li>
                    <%= link_to t(:flag_as_spammer), set_spammer_path(@user, spammer: true), method: :post %>
                  </li>
                <% end %>
                <% unless @user.known_non_spammer? %>
                  <li>
                    <%= link_to t(:flag_as_non_spammer), set_spammer_path(@user, spammer: false), method: :post, data: { confirm: t(:are_you_sure_you_want_to_remove_spammer) } %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>         
      </div>
    <% end %>  
  </div> 

  <div class="col-md-8"  style="background-color:white">
    <h1>
      <%= @user.name.blank? ? @user.login : @user.name %>
      
      <% if @user.is_admin? || @user.is_curator?-%>
        <small><%= @user.is_admin? ? t(:admin) : t(:curator) %></small>
        <small>
          <%= link_to help_path(:anchor => "curators") do %>
            <span class="glyphicon glyphicon glyphicon-question-sign"></span>
          <% end %>            
        </small>
      <% end -%>
    </h1> 
       
    <% if @user.description.blank? %>
      <% if is_me?(@selected_user) -%>
        <div id="nodescription" class="well">
          <p>
            <%= link_to t(:tell_the_world_a_little_about_yourself).html_safe, generic_edit_user_path, :class => "btn btn-primary btn-default" %>
          </p>
          <div class="more">
            <%= t(:do_you_study_nematodes_worlds_foremost_expert_barnacle) %>
          </div>
          <%= form_for @selected_user, :html => {:style => "display: none"} do |f| %>
            <%= f.text_area :description, placeholder: t(:describe_your_interest_in_nature), :class => "stacked form-control" %>
            <div class="actions">
              <%= f.submit t(:save), :class => "default button", "data-loading-click" => true %>
              <a href="#" class="button cancellink"><%= t(:cancel) %></a>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= t(:user_is_a_naturalist, :user => @user.login) %>
      <% end -%>
    <% else %>
      <%- @description = formatted_user_text(@user.description) %>
      <p class="lead">
        <%= stripped_first_paragraph_of_text(@description) %>
      </p>
      <%= remaining_paragraphs_of_text(@description) %>
    <% end %>
  
    <h3 class="page-header">
      <%=t :following.capitalize %> <%= t(:x_people, :count => @user.friendships.count) %>
    </h3>
    <% unless @followees.blank? %>
      <div class="row">
        <% @followees[0..3].each do |friend| %>
          <%= render(:partial => 'followees', :locals => {:friend => friend}) %>
        <% end %>
      </div>
      <% if @followees.count > 4 -%>
        <div class="row" id="followee-row">
          <% @followees[4..7].each do |friend| %>
            <%= render(:partial => 'followees', :locals => {:friend => friend}) %>
          <% end %>
        </div>
      <% end %>
      <p id="view_more_btn_container">
        <%= link_to t(:view_all), following_by_login_path(@user.login), :class => "btn btn-sm btn-default"%>
      </p>
    <% else %>
      <% if is_me?(@user) %>
        <p><%= raw t(:youre_not_following_anyone, observations_path: observations_path, people_path: people_path ) %></p>
      <% else %>
        <p><%= @user.login %> <%= t(:is_not_following_anyone).downcase %></p>
      <% end %>
    <% end %>
  
    <% unless @favorite_listed_taxa.blank? -%>
      <div id="favorites">
        <h3 class="page-header">Favorite Taxa</h3>
        <div class="row">
          <% for listed_taxon in @favorite_listed_taxa[0..3] %>
            <%= render(:partial => 'favorites', :locals => {:listed_taxon => listed_taxon}) %>
          <% end %>
        </div>
        <% if @favorite_listed_taxa.count > 4 -%>
          <div class="row">
            <% for listed_taxon in @favorite_listed_taxa[4..7] %>
              <%= render(:partial => 'favorites', :locals => {:listed_taxon => listed_taxon}) %>
            <% end %>
          </div>
        <% end %>
        <p id="view_more_btn_container">
          <%= link_to t(:view_all), @favorites_list, :class => "btn btn-sm btn-default"%>
        </p>
      </div>
    <% end -%>
    
    <% if @favorites_list.blank? && is_me?(@selected_user) -%>
      <div class="well" style="text-align: center;">
        <%= t(:want_to_show_off_some_of_your_favorite_taxa) %>
        <%= link_to t(:create_a_list), new_list_path(:title => t(:favorites)) %>
        <%= t(:titled_favorites_and_the_most_recent_additions) %>
      </div>
    <% end -%>
  </div>
</div>
