<ul id="subnav" class="clear">
  <% if logged_in? && current_user.id == user.id -%>
    <li>
      <%= link_to t(:home), home_path, :class => "#{'active' if current_page?(:controller => "users", :action => "dashboard")}" %>
    </li>
  <% end -%>
  <li>
    <%= link_to t(:observations), observations_by_login_path(user.login), 
      :id => "observations_link", 
      :class => "#{'active' if current_page?(:controller => :observations, :action => :by_login)}" %>
  </li>
  <li>
    <%= link_to t(:calendar), calendar_path(user.login), 
      :id => "calendar_link", 
      :class => "#{'active' if controller.is_a?(CalendarsController)}" %>
  </li>
  <li>
    <%= link_to t(:favorites), faves_by_login_path(user.login), :id => "votes_link",
      :class => "#{'active' if current_page?(:controller => :votes, :action => :by_login)}" %>
  </li>
  <li>
    <%= link_to t(:lists), lists_by_login_path(user.login), :id => "lists_link",
      :class => "#{'active' if current_page?(:controller => :lists, :action => :by_login)}" %>
  </li>
  <li>
    <%= link_to t(:journal), journal_by_login_path(:login => user.login), 
      :id => "journal_link",
      :class => "#{'active' if request.fullpath =~ /\/journal\//}" %>
  </li>
  <li>
    <%= link_to t(:ids), identifications_by_login_path(:login => user.login), 
      :id => "identifications_link",
      :class => "#{'active' if current_page?(:controller => :identifications, :action => :by_login)}" %>
  </li>
  <li>
    <%= link_to t(:projects), projects_by_login_path(:login => user.login), 
      :id => "projects_link",
      :class => "#{'active' if current_page?(:controller => :projects, :action => :by_login)}" %>
  </li>
  <li>
    <%= link_to t(:profile), person_by_login_path(:login => user.login), 
      :id => "profile_link",
      :class => "#{'active' if current_page?(:controller => :users, :action => :show)}" %>
  </li>
  <% if logged_in? && is_not_me?(user) %>
  <li>
    <%= friend_button current_user, user, {:id => 'follow_button'} %>
  </li>
  <li>
    <%= link_to "<span class='inlineblock ui-icon ui-icon-mail-closed'></span> #{t :message}".html_safe, new_message_path(:to => user.login), :class => "message_link" %>
  </li>
  <% end %>
</ul>
