<% if @users.blank? -%>
  <div class="noresults description" style="margin: 50px auto">
    <%= t(:no_matching_users) %>
  </div>
<% end -%>

<table>
  <% for person in @users %>
    <%- 
      observations_count = person.observations_count
      listed_taxa_count = @listed_taxa_counts[person.id].to_i
      post_count = @post_counts[person.id].to_i
    -%>
    <tr>
      <td>
        <%= link_to(
          image_tag(person.icon.url(:thumb), :class => 'usericon'),
          person_path(person)) %>
      </td>
      <td>
        <%= link_to h(person.login), person_path(person), :class => "readable" %>
        <div class="meta">
          <%=h person.name %>
        </div>
      </td>
      <td>
        <%= link_to t(:view_observations), observations_by_login_path(person.login), :class => "readable" %>
        <% if observations_count > 0 -%>
          <div class="meta">
            <%=t :x_observations_html, count: number_with_delimiter(observations_count) %>
          </div>
        <% end -%>
      </td>
      <td>
        <%= link_to t(:view_lists), lists_by_login_path(person.login), :class => "readable" %>
        <% if listed_taxa_count > 0 %>
          <div class="meta">
            <%=t :x_species_html, count: number_with_delimiter(listed_taxa_count) %>
          </div>
        <% end %>
      </td>
      <td>
        <%= link_to t(:view_journal), journal_by_login_path(person.login), :class => "readable" %>
        <% unless post_count == 0 %>
          <div class="meta">
            <%=t :x_journal_posts_html, count: number_with_delimiter(post_count) %>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @users, :renderer => INatLinkRenderer %>
