<%-
  user = object || resource
  updates ||= []
  observations = updates.map{|u| u.notifier}
  default_observation = observations.first
-%>

<% if observations.size == 1 -%>
  <% if default_observation.photos.size > 0 -%>
    <div class="updatewithimage">
      <div class="updateimage">
        <%= observation_image(default_observation, :size => "small", :class => "left") %>
      </div>
      <div class="updatecontent mini observations">
        <%= render :partial => "observations/cached_component", :object => default_observation %>
      </div>
    </div>
  <% else %>
    <div class="updatecontent mini observations">
      <%= render :partial => "observations/cached_component", :object => default_observation %>
    </div>
  <% end -%>
<% else %>
  <%- 
    place_guesses = observations.map(&:place_guess).reject(&:blank?).uniq
    login = observations.first.user.login
  -%>
  
  <div class="updatecontent">
    <div class="observations grid">
      <%= render :partial => "observations/cached_component", :collection => observations %>
    </div>
    
    <div class="description">
      <div class="controls inlineblock">
        <%= link_to_function "Grid", 
          "$(this).parents('.updatecontent:first').find('.observations').addClass('grid').removeClass('mini');" +
          "$(this).siblings().addClass('disabled'); $(this).removeClass('disabled')", 
          :class => "inat-icon ui-icon inlineblock ui-icon-grid" %>
        <%= link_to_function "List", 
          "$(this).parents('.updatecontent:first').find('.observations').addClass('mini').removeClass('grid');" + 
          "$(this).siblings().addClass('disabled'); $(this).removeClass('disabled')", 
          :class => "disabled inat-icon ui-icon inlineblock ui-icon-list" %>
      </div>
      |
      <%= link_to "View #{login}'s observations", observations_by_login_path(login) %>
      <% unless place_guesses.blank? -%>
        from
        <% place_guesses.each_with_index do |pg, i| %>
          <%= link_to(pg, observations_by_login_path(login, :q => pg, :search_on => "place")) %><%= ',' if i+1 < place_guesses.size %>
        <% end %>
      <% end -%>
    </div>
  </div>
<% end -%>