<%- content_for(:title) do -%>
  <%= t(:curating) %> <%= @user ? @user.login : t(:users) %>
<%- end -%>
<form method="get" class="clear buttonrow">
  <input type="text" name="id" value="<%= @display_user.try(:login) %>" id="id" class="text">
  <input type="submit" value= <%= t(:lookup_user_rarr)%> class="button">
</form>
<% if @display_user -%>
  <div class="column span-16">
    <table width="100%">
      <% for user_attr in User.column_names %>
        <tr>
          <th><%= user_attr %></th>
          <td><%= @display_user.send(user_attr).to_s.html_safe %></td>
        </tr>
      <% end %>
      <% @display_user.preferences.each do |pref,val| %>
        <tr>
          <th><%= pref %></th>
          <td><%= val %></td>
        </tr>
      <% end -%>
      <tr>
        <th>Recent user agents</th>
        <td>
          <% if !@observations.blank? %>
            <ul>
              <% for observation in @observations %>
                <% next if observation.user_agent.blank? %>
                <li>
                  <%= observation.user_agent.gsub(/(MSIE|Safari|Chrome|Opera|Firefox|iNaturalist)/, "<u>\\1</u>").html_safe %>
                </li>
              <% end %>
            </ul>
          <% else %>
            No observations to check
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="last column span-8">
    <p>
      <%= user_image(@display_user, :size => "medium") %>
    </p>
    <div class="box">
      <ul>
        <% if @display_user.is_curator? %>
          <li><%= link_to t(:remove_curator_status), remove_role_path(@display_user, :role => "curator"), :method => :delete %></li>
        <% else %>
          <li><%= link_to t(:make_curator), add_role_path(@display_user, :role => "curator"), :method => :post %></li>
        <% end %>
        <li>
          <% if @display_user.active? %>
            <%= link_to "Suspend user", suspend_user_path(@display_user) %>
          <% else %>
            <%= link_to "Unsuspend user", unsuspend_user_path(@display_user) %>
          <% end %>
        </li>
        <li>
          <%= link_to t(:delete_user), @display_user, :method => :delete, 
            :data => {:confirm => t(:are_you_really_sure_want_delete_this_user)} %>
        </li>
        <%- unless @display_user.spammer? %>
          <li>
            <%= link_to(t(:flag_as_spammer), set_spammer_path(@display_user, spammer: true), method: :post) %>
          </li>
        <%- end %>
        <%- unless @display_user.known_non_spammer? %>
          <li>
            <%= link_to(t(:flag_as_non_spammer), set_spammer_path(@display_user, spammer: false),
              method: :post, data: { confirm: t(:are_you_sure_you_want_to_remove_spammer) } ) %>
          </li>
        <%- end %>
        <li>
          <%= link_to "Log in as #{@display_user.login}", :controller => "admin", :action => "login_as", :id => @display_user.id %>
        </li>
        <li>
          <%= link_to "Delete user description", admin_update_user_path(@display_user.id, "user[description]" => ""), :method => :put, 
            :data => {:confirm => t(:are_you_sure?)} %>
        </li>
        <li>
          <strong><%= link_to "Manage / delete content", admin_user_content_path(@display_user.id) %></strong>
        </li>
      </ul>
    </div>
    <%- extra = capture do -%>
      <li>
        <%= link_to pluralize(@display_user.comments.count, "comment"), comments_by_login_path(@display_user.login) %>
      </li>
    <% end -%>
    <%= render :partial => 'glance', :locals => {:user => @display_user, :extra => extra} %>
    
    <% unless @display_user.provider_authorizations.blank? -%>
      <h3><%= t(:provider_authorizations) %></h3>
      <ul>
        <% for pa in @display_user.provider_authorizations %>
          <li>
            <%= pa.provider_name %>
            (<%= pa.provider_uid %>)
            <div class="small meta"> <%= t(:created) %> <%=l pa.created_at %></div>
          </li>
        <% end %>
      </ul>
    <% end -%>
    
    <% if fi = @display_user.flickr_identity -%>
      <h3><%= t(:flickr_identity) %></h3>
      <%= link_to fi.flickr_username, "http://flickr.com/photos/#{fi.flickr_username}" %>
      <%= link_to "(#{fi.flickr_user_id})", "http://flickr.com/photos/#{fi.flickr_user_id}" %>
      <div class="small meta"><%= t(:created) %> <%=l fi.created_at %></div>
    <% end -%>
  </div>
<% end -%>

<% if !@users.blank? -%>
  <table>
    <tr>
      <th>login</th>
      <th>id</th>
      <th>created_at</th>
      <th>confirmed_at</th>
      <th>obs</th>
      <th>IDs</th>
      <th>comments</th>
    </tr>
    <% for user in @users %>
      <tr>
        <td><%= link_to user.login, url_for(:id => user.id) %></td>
        <td><%= user.id %></td>
        <td><%= user.created_at %></td>
        <td><%= user.confirmed_at %></td>
        <td><%= link_to user.observations_count, observations_by_login_path(user.login) %></td>
        <td><%= link_to user.identifications_count, identifications_by_login_path(user.login) %></td>
        <td><%= link_to @comment_counts_by_user_id[user.id].to_i, comments_by_login_path(user.login) %></td>
      </tr>
    <% end %>
  </table>
<% end -%>
