<%- content_for(:title) do -%>
  Curating <%= @user ? @user.login : 'Users' %>
<%- end -%>
<form method="get" class="clear buttonrow">
  <input type="text" name="id" value="<%= @user.try(:login) %>" id="id" class="text">
  <input type="submit" value="Lookup user &rarr;" class="button">
</form>
<% if @user -%>
  <div class="column span-16">
    <table width="100%">
      <% for user_attr in User.column_names %>
        <tr>
          <th><%= user_attr %></th>
          <td><%= @user.send(user_attr) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <div class="last column span-8">
    <div class="box">
      <ul>
        <% if @user.is_curator? %>
          <li><%= link_to "Remove curator status", remove_role_path(@user, :role => "curator"), :method => :delete %></li>
        <% else %>
          <li><%= link_to "Make curator", add_role_path(@user, :role => "curator"), :method => :post %></li>
        <% end %>
        <% unless @user.active? -%>
          <li>
            <%= link_to "Activate user", {:controller => "users", :action => "activate", :activation_code => @user.activation_code}, 
              :confirm => "Are you sure you want to activate this account?" %>
          </li>
        <% end -%>
        <li>
          <%= link_to "Delete user", @user, :method => :delete, :confirm => "Are you really, really sure you want to delete this user and all of their content?" %>
        </li>
        
        <li>
          <%= link_to "Log in as #{@user.login}", :controller => "admin", :action => "login_as", :id => @user.id %>
        </li>
      </ul>
    </div>
    <%= render :partial => 'glance' %>
    
    <% unless @user.provider_authorizations.blank? -%>
      <h3>Provider Authorizations</h3>
      <ul>
        <% for pa in @user.provider_authorizations %>
          <li>
            <%= pa.provider_name %>
            (<%= pa.provider_uid %>)
            <div class="small meta">Created <%= pa.created_at %></div>
          </li>
        <% end %>
      </ul>
    <% end -%>
    
    <% if fi = @user.flickr_identity -%>
      <h3>Flickr Identity</h3>
      <%= link_to fi.flickr_username, "http://flickr.com/photos/#{fi.flickr_username}" %>
      <%= link_to "(#{fi.flickr_user_id})", "http://flickr.com/photos/#{fi.flickr_user_id}" %>
      <div class="small meta">Created <%= fi.created_at %></div>
    <% end -%>
    
    <% if pi = @user.picasa_identity -%>
      <h3>Picasa Identity</h3>
      <%= link_to pi.picasa_user_id, "https://picasaweb.google.com/#{pi.picasa_user_id}" %>
      <div class="small meta">Created <%= pi.created_at %></div>
    <% end -%>
  </div>
<% end -%>

<% if !@users.blank? -%>
  <table>
    <tr>
      <th>login</th>
      <th>id</th>
      <th>created_at</th>
      <th>activated_at</th>
    </tr>
    <% for user in @users %>
      <tr>
        <td><%= link_to user.login, url_for(:id => user.id) %></td>
        <td><%= user.id %></td>
        <td><%= user.created_at %></td>
        <td><%= user.activated_at %></td>
      </tr>
    <% end %>
  </table>
<% end -%>
