<% content_for(:title) do -%>
  <%= t(:your_home) %>
<% end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'identifications', "lists", 'lists/show_listed_taxa', 'dashboard' %>
  <style>
  


  .timeline {
  	list-style: none;
  	padding: 20px 0 20px 0;
  	position: relative;
  }
  .timeline:before {
  	top: 0;
  	bottom: 0;
  	position: absolute;
  	content: " ";
  	width: 3px;
  	background-color: #eeeeee;
  	margin-left: 25px;
  }


  .timeline_mini > ul.timeline > li {}
  .timeline_mini > ul.timeline:before > li {
  	top: 0;
  	bottom: 0;
  	position: absolute;
  	content: " ";
  	width: 3px;
  	background-color: #fff;
  	margin-left: 25px;
	
	
  }

  .timeline > li {
  	margin-bottom: 20px;
  	position: relative;
  }
  .timeline > li:before, .timeline > li:after {
  	content: " ";
  	display: table;
  }
  .timeline > li:after {
  	clear: both;
  }
  .timeline > li:before, .timeline > li:after {
  	content: " ";
  	display: table;
  }
  .timeline > li:after {
  	clear: both;
  }
  .timeline > li > .timeline-panel {
  	float: left;
  	border: 1px solid #d4d4d4;
  	border-radius: 2px;
  	padding: 20px;
  	position: relative;
  	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  	margin-left: 10%;
  	width: 90%
  }

  .timeline_mini > .timeline-panel {
  	float: left;
  	background-color: #eee;
  	border: 1px solid #d4d4d4;
  	border-radius: 2px;
  	padding: 20px;
  	position: relative;
  	margin-left: 10%;
  	width: 90%
  }
  /* Udder****************************************** */

  .timeline > li > .timeline-panel:before {
  	position: absolute;
  	top: 26px;
  	right: -15px;
  	display: inline-block;
  	border-top: 15px solid transparent;
  	border-left: 15px solid #ccc;
  	border-right: 0 solid #ccc;
  	border-bottom: 15px solid transparent;
  	content: " ";
  }
  .timeline > li > .timeline-panel:after {
  	position: absolute;
  	top: 27px;
  	right: -14px;
  	display: inline-block;
  	border-top: 14px solid transparent;
  	border-left: 14px solid #fff;
  	border-right: 0 solid #fff;
  	border-bottom: 14px solid transparent;
  	content: " ";
  }
  .timeline > li > .timeline-panel:before {
  	border-left-width: 0;
  	border-right-width: 15px;
  	left: -15px;
  	right: auto;
  }
  .timeline > li > .timeline-panel:after {
  	border-left-width: 0;
  	border-right-width: 14px;
  	left: -14px;
  	right: auto;
  }



  /* Badge************************************* */

  .timeline > li > .timeline-badge {
  	color: #fff;
  	width: 50px;
  	height: 50px;
  	line-height: 50px;
  	font-size: 1.4em;
  	text-align: center;
  	position: absolute;
  	top: 16px;
  	margin-left: 0;
  	background-color: #999999;
  	z-index: 100;
  	border-top-right-radius: 50%;
  	border-top-left-radius: 50%;
  	border-bottom-right-radius: 50%;
  	border-bottom-left-radius: 50%;
  }
  .timeline > li > .timeline-badge > img {
  	width: 50px;
  	height: 50px;
  }
  .sub-badge {
  	color: #fff;
  	width: 35px;
  	height: 35px;
  	line-height: 37px;
  	font-size: 1.2em;
  	text-align: center;
  	position: absolute;
  	top: 86px;
  	margin-left: 9px;
  	background-color: #c6c6c6;
  	z-index: 100;
  	border-top-right-radius: 50%;
  	border-top-left-radius: 50%;
  	border-bottom-right-radius: 50%;
  	border-bottom-left-radius: 50%;
  }
  .timeline-badge.primary {
  	background-color: #2e6da4 !important;
  }
  .timeline-badge.success {
  	background-color: #3f903f !important;
  }
  .timeline-badge.warning {
  	background-color: #f0ad4e !important;
  }
  .timeline-badge.plain {
  	background-color: #ffffff !important;
  }
  .timeline-badge.danger {
  	background-color: #d9534f !important;
  }
  .timeline-badge.info {
  	background-color: #5bc0de !important;
  }
  /* Panel Content************************************* */

  
  h2.timeline-title {
  	margin-top: 0;
  	color: inherit;
  	font-size: 1em;
  	margin-bottom: 18px
  }
  .timeline-title > .time {
  	float: right!important;
  	color: #777;
  	font-size: 75%;
  	padding-right: 10px;
  	border-right: 1px solid #ddd;
  	margin-right: 10px;
  }
  /*.timeline-title > .time:before {
  	font-family: 'Glyphicons Halflings';
  	content: "\e023";
  }*/
  .timeline-title > a > .glyphicon {
  	font-size: 1em;
  	line-height: 10px;
  	color: #777
  }
  /*.timeline-body > p, .timeline-body > ul {
  	margin-bottom: 0;
  }
  */

  .timeline-body > p + p {
  	margin-top: 10px;
  }

  .timeline-body > p:last-child, .timeline-footer	 > p:last-child {
    margin-bottom:0;
  }


  .timeline-body > ul {
    margin-bottom:10px;
  }


  .scientific_name {
  	font-size: .8em;
  	font-weight: normal;
  	color: gray
  }


  /* Panel Content > Media Body ************************************* */

  .media-body > p > button {
  	margin-right: 10px;
  }
  .timeline-body .media-body > h3 {
  	font-size: 1.4em;
  	margin-top: 3px
  }
  .timeline-body .media-left > a > img {
  	width: 120px;
  	height: 120px;
  }
  .media-body > ul, .media-body > ul > li {
  	margin-left: 0;
  	margin-bottom: 2px;
  	padding-left: 0;
  	list-style: none;
  	list-style-type: none
  }
  div.media-body > ul > li {
  	padding-left: 0;
  	list-style: none;
  	list-style-type: none
  }
  div.media-body > ul {
  	margin-bottom: 10px
  }
  .timeline-footer {
  	margin-top: 10px;
  	padding: 0 0 0 0
  }
  .timeline-footer > button {
  	margin-right: 10px
  }

  .thumbnail > h3 {
  	font-size:14px;
  	line-height:20px;
  	margin:0;
  	padding:5px
  }


  /* Panel Content > Update Type Specific ************************************* */

  li.role_change > .timeline-badge {
  	border-top-right-radius: 100%;
  	border-top-left-radius: 100%;
  	border-bottom-right-radius: 100%;
  	border-bottom-left-radius: 100%;
  }
  li.taxon_change > .timeline-panel > .timeline-body {
  	padding: 10px 10px 0 10px;
  	margin-bottom: 20px;
  	border: 1px solid transparent;
  	border-radius: 4px;
  	background: #eee;
  }



  li.observation_multiple_added > .timeline-panel > .timeline-body > .row {
  	margin-right:-5px;
  	margin-left:-5px;
	
  }
  li.observation_multiple_added > .timeline-panel > .timeline-body > .row > ul
  {
      list-style:none;
      margin-left: -40px;
  }


  li.observation_multiple_added > .timeline-panel > .timeline-body > .row  > ul > li.col-md-3 {
  padding:0 5px;

  }

  li.observation_multiple_added > .timeline-panel > .timeline-body > .row  > ul > li.col-md-3 > a > .thumbnail {
  margin-bottom:10px;
  }
  </style>
<% end -%>

<%- content_for(:extrajs) do -%>
  <%= google_maps_js %>
  <%= javascript_include_tag 'map_bundle', "d3.min", 'calendars', 'observations/observation_fields' %>
  <script type="text/javascript" charset="utf-8">
    var CACHED_AT = new Date(<%= Time.now.to_i * 1000 %>)
    $(document).ready(function() {
      $('#tabs').tabs({
        show: function(event, ui) {
          if ($(ui.panel).attr('id') == 'comments' && !$(ui.panel).hasClass('loaded')) {
            $(ui.panel).load('/comments?partial=true', function(data) {
              var html = data.replace(/[\s\n]+/, ' ')
              $(this).html(html)
            })
          }
          $(ui.panel).addClass('loaded')
        }
      })
      
      $('.subscriptionsettings').subscriptionSettings()
      $('abbr.timeago').timeago()
      if ((new Date()).getTime() - CACHED_AT.getTime() > 5000) {
        $('#flash').hide()
      }
      var dayInSeconds = 24 * 60 * 60,
          now = new Date(),
          monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      
      var elt = $('abbr.compact.date:first')
      if (elt.length > 0) {
        var dateString = $(elt).attr('title').split('T')[0],
            timeString = $(elt).attr('title').split('T')[1],
            d = new Date(Date.parse($(elt).attr('title')))

        $('abbr.compact.date').each(function() {
          var dateString = $(this).attr('title').split('T')[0],
              timeString = $(this).attr('title').split('T')[1],
              d = new Date(Date.parse($(elt).attr('title')))
          if (!timeString.indexOf(':') || typeof(d) != 'object') { return }
          if (now.getFullYear() == d.getFullYear() &&
              now.getMonth() == d.getMonth() &&
              now.getDate() == d.getDate()) {
            return 
          }
          $(this).html(monthNames[d.getMonth()] + ' ' + d.getDate())
        })
      }

      $("#subscribeModal").on("show.bs.modal", function(e) {
        $this = $(this);
        taxonLabel = $this.find("#subscribeTaxonLabel");
        subscribe_type = (taxonLabel.css('display') == 'none') ? "place" : "taxon";   
        subscribe_url = "/subscriptions/new?type=" + subscribe_type + "&partial=form&authenticity_token=" + $('meta[name=csrf-token]').attr('content');
        $.ajax({
            url: subscribe_url,
            cache: false,
            success: function(html){
              $this.find(".modal-body").append(html);
            }
        });
      });

      $("#subscribeModal").on("hide.bs.modal", function(e) {
        $(this).find(".modal-body").children("form").remove()
      });
      
      $("a[data-subscribe-type]").click(function(e){
        subscribeType = $(this).data("subscribe-type")
        if(subscribeType == "taxon"){
          $("#subscribeTaxonLabel").show();
          $("#subscribePlaceLabel").hide();
          $("#subscribeTaxonBody").show();
          $("#subscribePlaceBody").hide();
        }else{
          $("#subscribePlaceLabel").show();
          $("#subscribeTaxonLabel").hide();
          $("#subscribePlaceBody").show(); 
          $("#subscribeTaxonBody").hide();         
        }
      });
      
      function close_panel(element, panelType) {
        $( "#" + panelType + "_panel" ).fadeOut();
        var pref = { };
        pref[ "prefers_hide_" + panelType + "_onboarding" ] = true;
        updateSession( pref );       
      }
      
      $("a[data-panel-type]").click(function(e){
        e.preventDefault()
        
        panelType = $(this).data("panel-type")
        close_panel(this, panelType)
      });
    
      $("[data-toggle=popover]").popover();
      
      
    })
  </script>
<%- end -%>

<div class="container" style="background-color:white">
  <% if announcement = @announcements.detect{|a| a.placement == 'users/dashboard'} -%>
    <div class="column span-24">
      <%= announcement.body.html_safe %>
    </div>
  <% end -%>
  
  <%= render :partial => "shared/by_login_header_bootstrap", :locals => { :user => current_user } %>

  <div class="col-md-8"  style="background-color:white">
    <div class="tabbable">
      <ul class="nav nav-pills">
  	  	<li class="<%= 'active' if params[:filter].blank? %>" >
          <% if params[:filter].blank? %>
            <a href="#updates" data-toggle="tab"><%= t(:following).capitalize %></a>
          <% else %>
            <%= link_to t(:following).capitalize, dashboard_path %>            
          <% end %>
        </li>
  		  <li class="<%= 'active' if params[:filter] == 'you' %>" >
          <% if params[:filter] == 'you' %>
            <a href="#updates" data-toggle="tab"><%= t(:you).capitalize %></a>
          <% else %>
            <%= link_to t(:you).capitalize, dashboard_path(:filter => "you") %>
          <% end %>
        </li>
  		  <li><a href="#comments" data-toggle="tab"><%= t :comment_feed %></a></li>
  	  </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="updates">
          <% if current_user.observations_count < 4 && !current_user.prefers_hide_observe_onboarding -%>
            <div class="panel panel-success" id="observe_panel">
              <div class="panel-heading">
                <a data-panel-type="observe" class="close">&times;</a>
                <h3 class="panel-title" style="font-size:20px"><%=t :lets_get_started_by_posting_some_observations %></h3>
              </div>
              <div class="panel-body">
                <p class="lead">
                  <%= @local_results ? t(:for_inspiration_local) : t(:for_inspiration_global) %>
                </p>
                <div class="row">
                  <% for taxon in @target_taxa %>
                    <%= render(:partial => 'favorites', :locals => {:taxon => taxon}) %>
                  <% end %>
                </div>
                <div class="media">
                  <div class="media-body">
                    <p class="lead"><%= t(:the_next_step, new_observation_path: new_observation_path).html_safe %></p>
                    <p><%= t( :you_can_also_use, site_name: SITE_NAME )%></p>
                  </div>
                  <div class="media-right"><img class="media-object"  src="http://static.inaturalist.org/wiki_page_attachments/615-original.jpg" style="padding: 0 0 0 10px"></div>
                </div>
              </div>
              <div class="panel-footer">
                <%= link_to observations_path, class: "btn btn-primary btn-md" do %>
                  <%=t :browse_observations %><span class="glyphicon glyphicon-chevron-right"></span>
                <% end %>
                <%= link_to "/pages/getting+started", target: "_blank" do %>
                  <span class="glyphicon glyphicon-info-sign"></span> <%=t :getting_started_guide %>
                <% end %>
              </div>        
            </div>
          <% end -%>
      
          <% if current_user.friendships.count < 4 && !current_user.prefers_hide_follow_onboarding -%>
            <div class="panel panel-success" id="follow_panel">
              <div class="panel-heading">
                <a data-panel-type="follow" class="close">&times;</a>
                <h3 class="panel-title"> <%= @local_results ? t(:follow_some_nearby_naturalists) : t(:follow_some_active_naturalists) %></h3>
              </div>
              <div class="panel-body">
                <p>
                  <%=t :youll_be_updated %>
                </p>  
                <div class="row">
                  <% @to_follows.each do |to_follow| %>
                    <%= render(:partial => 'followees', :locals => {:friend => to_follow}) %>
                  <% end %>
                </div>
              </div>
              <div class="panel-footer">
                <%= link_to people_path, class: "btn btn-primary" do %>
                  Browse People <span class="glyphicon glyphicon-chevron-right"></span>
                <% end %>  
              </div>
            </div>                
          <% end -%> 
          
          <ul class="timeline">
            <li class="journal_post">
              <div class="timeline-badge warning">
                <img src="http://thinkmoredesign.com/inat/Dashboard/img/profile_pic01.jpg" class="img-circle padding" alt=""/>
              </div>
              <div class="sub-badge">
                <i class="glyphicon glyphicon-pencil"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h2 class="timeline-title"><a class="pull-right" href="#"><span class="glyphicon glyphicon-cog" style="" aria-hidden="true"></span></a><span class="time"><i class="glyphicon glyphicon-time"></i>  6:32 am</span><a href="#">carrieseltzer</a> wrote a new post</h2>
                </div>
                <div class="timeline-body">
                  <h3>Spring Is Here!</h3>
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindurea quium dia nois paga. Sapien in monti ce receita de bolis, mais bolis eu num gostis.</p>
                  <div id="expand01" class="collapse out" style="margin-top:10px">
                    <p>Morbi tincidunt ac lectus id auctor. Vivamus eu nulla vulputate, lobortis nibh vitae, rutrum turpis. Donec rutrum, augue vestibulum bibendum vestibulum, leo quam aliquet elit, sed hendrerit velit augue a turpis. Morbi tincidunt ac lectus id auctor. Vivamus eu nulla vulputate, lobortis nibh vitae, rutrum turpis. Donec rutrum, augue vestibulum bibendum vestibulum, leo quam aliquet elit, sed hendrerit velit augue a turpis.</p>
                  </div>
                  <p class="more"><a href="#" type="button" class="" data-toggle="collapse" data-target="#expand01">More...</a></p>
                </div>
                <div class="timeline-footer">
                  <button type="button" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#expand01">Expand</button>
                  <button type="button" class="btn btn-sm btn-primary" >Read</button>
                </div>
              </div>
            </li>
            <li class="taxon_change">
              <div class="timeline-badge warning"><i class="glyphicon glyphicon-random"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h2 class="timeline-title"><a class="pull-right" href="#"><span class="glyphicon glyphicon-cog" style="" aria-hidden="true"></span></a><span class="time"><i class="glyphicon glyphicon-time"></i> 6:32 am</span> Taxon swapped affecting Bombus griseocollis (Committed by: <a href="#">loarie</a>)</h2>
                </div>
                <div class="timeline-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Taxon</th>
                        <th>Replacement Taxon</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#">Garden Snail</a> (Cornu aspersum [inactive])</td>
                        <td><a href="#">Garden Snail</a> (Sceloporus occidentalis)</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="timeline-footer">
                  <button type="button" class="btn btn-sm btn-primary">View Details</button>
                  <button type="button" class="btn btn-sm btn-default">Update Your Content</button>
                  <a href=""><i class="glyphicon glyphicon-info-sign"></i> About Taxon Changes</a> </div>
              </div>
            </li>
            <li class="project_invite">
              <div class="timeline-badge warning"><img src="http://thinkmoredesign.com/inat/Dashboard/img/profile_pic01.jpg" class="img-circle padding" alt=""/></div>
              <div class="sub-badge"><i class="glyphicon glyphicon-send"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h2 class="timeline-title"><a class="pull-right" href="#"><span class="glyphicon glyphicon-cog" style="" aria-hidden="true"></span></a><span class="time"><i class="glyphicon glyphicon-time"></i> 6:32 am</span><a href="#">carrieseltzer</a> invited you to join a project</h2>
                </div>
                <div class="timeline-body">
                  <div class="media">
                    <div class="media-left"> <a href="#"> <img class="media-object img-thumbnail" src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" alt="..."> </a> </div>
                    <div class="media-body">
                      <h3>The Birds of Golden Gate Park</h3>
                      <p>Discover and track the birds found in Golden Gate Park, San Francisco, CA! Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra...</p>
                      <p>
                        <button type="button" class="btn btn-sm btn-primary" >Join Project</button>
                        <button type="button" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#expand01">About this Project</button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="role_change">
              <div class="timeline-badge"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa.jpg" alt=""/></div>
              <div class="sub-badge"><i class="glyphicon glyphicon-user"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h2 class="timeline-title"><a class="pull-right" href="#"><span class="glyphicon glyphicon-cog" style="" aria-hidden="true"></span></a><span class="time"><i class="glyphicon glyphicon-time"></i> 6:32 am</span>Role change(s) for <a href="#">Project of Randomness</a></h2>
                </div>
                <div class="timeline-body">
                  <ul>
                    <li><a href="#">sarahsnail</a> is now a <strong>manager</strong></li>
                    <li><a href="#">inarainara</a> is now a <strong>curator</strong></li>
                  </ul>
                  <div class="timeline-footer">
                  <p class="alert alert-info">Just a reminder, project curators can see the private and obscured coordinates of observations you add to this project.</p>
                </div>
                </div>
              </div>
            </li>
            <li class="observation_added">
              <div class="timeline-badge warning"><img src="http://thinkmoredesign.com/inat/Dashboard/img/profile_pic02.jpg" class="img-circle padding" alt=""/></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h2 class="timeline-title"><a class="pull-right" href="#"><span class="glyphicon glyphicon-cog" style="" aria-hidden="true"></span></a><span class="time"><i class="glyphicon glyphicon-time"></i> 6:32 am</span> <a href="#">kueda</a> added an observation</h2>
                </div>
                <div class="timeline-body">
                  <div class="media">
                    <div class="media-left"> <a href="#"> <img class="media-object img-thumbnail" src="http://thinkmoredesign.com/inat/Dashboard/img/taxa01.jpg" alt="..."> </a> </div>
                    <div class="media-body">
                      <h3>Umber Skipper <span class="scientific_name">(Poanes melane)</span></h3>
                      <ul>
                        <li><i class="glyphicon glyphicon-calendar"></i> Apr 3, 2016 | <i class="glyphicon glyphicon-map-marker"></i> Mount Diablo State Park, Clayton, CA, US (Google, OSM)</li>
                        <li>1 ID <span>Research Grade</span></li>
                      </ul>
                      <p>
                        <button type="button" class="btn btn-sm btn-primary" >View</button>
                        <button type="button" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#expand01">View All From This Location</button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="observation_added">
              <div class="timeline-badge warning"><img src="http://thinkmoredesign.com/inat/Dashboard/img/136-REC_Logo1.jpg" class="padding" alt=""/></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h2 class="timeline-title"><a class="pull-right" href="#"><span class="glyphicon glyphicon-cog" style="" aria-hidden="true"></span></a><span class="time"><i class="glyphicon glyphicon-time"></i> 6:32 am</span>  Your observation have been added to <a href="#">ASC Roadkill Observations</a> by <a href="">loarie</a></h2>
                </div>
                <div class="timeline-body">
                  <div class="media">
                    <div class="media-left"> <a href="#"> <img class="media-object img-thumbnail" src="http://thinkmoredesign.com/inat/Dashboard/img/taxa01.jpg" alt="..."> </a> </div>
                    <div class="media-body">
                      <h3>Umber Skipper <span class="scientific_name">(Poanes melane)</span></h3>
                      <ul>
                        <li><i class="glyphicon glyphicon-calendar"></i> Apr 3, 2016 | <i class="glyphicon glyphicon-map-marker"></i> Mount Diablo State Park, Clayton, CA, US (Google, OSM)</li>
                        <li>1 ID <span>Research Grade</span></li>
                      </ul>
                      <p>
                        <button type="button" class="btn btn-sm btn-primary" >View</button>
                        <button type="button" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#expand01">View All From This Location</button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>        
            <li class="observation_multiple_added">
              <div class="timeline-badge warning"><img src="http://thinkmoredesign.com/inat/Dashboard/img/profile_pic02.jpg" class="img-circle padding" alt=""/></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h2 class="timeline-title"><a class="pull-right" href="#"><span class="glyphicon glyphicon-cog" style="" aria-hidden="true"></span></a><span class="time"><i class="glyphicon glyphicon-time"></i> 6:32 am</span> <a href="#">kueda</a> added 9 observations</h2>
                </div>
                <div class="timeline-body">
                  <div class="row" >
                    <ul>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="row collapse out"  id="expand03">
                    <ul>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="timeline-footer">
                    <button type="button" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#expand03">Preview</button>
                    <button type="button" class="btn btn-sm btn-primary" >View All</button>
                  </div>
              </div>  
            </li>        
            <li class="observation_multiple_added">
              <div class="timeline-badge success"><i class="glyphicon glyphicon-map-marker"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h2 class="timeline-title"><a class="pull-right" href="#"><span class="glyphicon glyphicon-cog" style="" aria-hidden="true"></span></a><span class="time"><i class="glyphicon glyphicon-time"></i> 6:32 am</span> New observations from <a href="#">Africa</a></h2>
                </div>
                <div class="timeline-body">
                  <div class="row" >
                      <ul>
                        <li class="col-md-3">
                          <a href="#">
                            <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                              <h3>Butterflies </h3>
                            </div>
                          </a>
                        </li>
                        <li class="col-md-3">
                          <a href="#">
                            <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                              <h3>Butterflies </h3>
                            </div>
                          </a>
                        </li>
                        <li class="col-md-3">
                          <a href="#">
                            <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                              <h3>Butterflies </h3>
                            </div>
                          </a>
                        </li>
                        <li class="col-md-3">
                          <a href="#">
                            <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                              <h3>Butterflies </h3>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  <div class="row collapse out"  id="expand03">
                      <ul>
                        <li class="col-md-3">
                          <a href="#">
                            <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                              <h3>Butterflies </h3>
                            </div>
                          </a>
                        </li>
                        <li class="col-md-3">
                          <a href="#">
                            <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                              <h3>Butterflies </h3>
                            </div>
                          </a>
                        </li>
                        <li class="col-md-3">
                          <a href="#">
                            <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                              <h3>Butterflies </h3>
                            </div>
                          </a>
                        </li>
                        <li class="col-md-3">
                          <a href="#">
                            <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                              <h3>Butterflies </h3>
                            </div>
                          </a>
                        </li>
                        <li class="col-md-3">
                          <a href="#">
                            <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                              <h3>Butterflies </h3>
                            </div>
                          </a>
                        </li>
                        <li class="col-md-3">
                          <a href="#">
                            <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                              <h3>Butterflies </h3>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                </div>
                <div class="timeline-footer">
                  <button type="button" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#expand03">Preview</button>
                  <button type="button" class="btn btn-sm btn-primary" >View All</button>
                </div>
              </div>
            </li>
            <li class="observation_multiple_added">
              <div class="timeline-badge warning"><img src="http://thinkmoredesign.com/inat/Dashboard/img/136-REC_Logo1.jpg" class=" padding" alt=""/></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h2 class="timeline-title"><a class="pull-right" href="#"><span class="glyphicon glyphicon-cog" style="" aria-hidden="true"></span></a><span class="time"><i class="glyphicon glyphicon-time"></i> 6:32 am</span> Your observations have been added to <a href="#">ASC Roadkill Observations</a> by <a href="">loarie</a></h2>
                </div>
                <div class="timeline-body">
                  <div class="row" >
                    <ul>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="row collapse out"  id="expand04">
                    <ul>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                      <li class="col-md-3">
                        <a href="#">
                          <div class="thumbnail"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" class="img-responsive" alt="...">
                            <h3>Butterflies </h3>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="timeline-footer">
                  <button type="button" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#expand04">Preview</button>
                  <button type="button" class="btn btn-sm btn-primary" >View All</button> <a href=""><i class="glyphicon glyphicon-cog"></i> Project Settings</a> | <a href=""><i class="glyphicon glyphicon-cog"></i>  Global Project Settings</a>
                </div>
              </div>
            </li>        
            <li class="observation_comment">
              <div class="timeline-badge"><img src="http://thinkmoredesign.com/inat/Dashboard/img/taxa01.jpg" alt=""/></div>
              <div class="sub-badge"><i class="glyphicon glyphicon-bookmark"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h2 class="timeline-title"><a class="pull-right" href="#"><span class="glyphicon glyphicon-cog" style="" aria-hidden="true"></span></a><span class="time"><i class="glyphicon glyphicon-time"></i> 6:32 am</span>ID added to your <a href="#">observation</a> by <a href="">carrieseltzer</a></h2>
                </div>
                <div class="timeline-body">
                  <div id="expand05" class="timline_mini collapse out"> 
                    <ul class="timeline">
                        <li class="observation_comment">
                          <div class="timeline-badge"><img src="http://thinkmoredesign.com/inat/Dashboard/img/profile_pic03.jpg" alt="" class="img-circle padding" /></div>
                          <div class="timeline-panel" style="background-color: #EFEFEF; box-shadow:none">
                            <div class="timeline-heading">
                              <h2 class="timeline-title"><span class="time"> 6:32 am</span><span style="font-weight:normal; color:gray">You added an ID</span></h2>
                            </div>
                            <div class="timeline-body">
                              <div class="media">
                                <div class="media-left"> <a href="#"> <img class="media-object img-thumbnail" src="http://thinkmoredesign.com/inat/Dashboard/img/taxa02.jpg" alt="..." style="width:50px; height:50px"> </a> </div>
                                <div class="media-body">
                                  <h3 style="line-height:40px">Butterflies <span class="scientific_name">(Poanes melane)</span>  <span class="label label-default pull-right">Refined</span></h3>               
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>      
                        <li class="observation_comment">
                          <div class="timeline-badge"><img src="http://thinkmoredesign.com/inat/Dashboard/img/profile_pic02.jpg" alt="" class="img-circle padding" /></div>
                          <div class="timeline-panel" style="background-color: #EFEFEF; box-shadow:none">
                            <div class="timeline-heading">
                              <h2 class="timeline-title"><span class="time"><i class="glyphicon glyphicon-time"></i> 6:32 am</span><span style="font-weight:normal; color:gray"><a href="">kueda</a> commented</span></h2>
                            </div>
                            <div class="timeline-body">
                              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                            </div>
                          </div>
                        </li>    
                        <li class="observation_comment">
                                <div class="timeline-badge"><img src="http://thinkmoredesign.com/inat/Dashboard/img/profile_pic03.jpg" alt="" class="img-circle padding" /></div>
                                <div class="timeline-panel" style="background-color: #EFEFEF; box-shadow:none">
                                  <div class="timeline-heading">
                                    <h2 class="timeline-title"><span class="time"> 6:32 am</span><span style="font-weight:normal; color:gray">You added an ID</span></h2>
                                  </div>
                                  <div class="timeline-body">
                                    <div class="media">
                                      <div class="media-left"> <a href="#"> <img class="media-object img-thumbnail" src="http://thinkmoredesign.com/inat/Dashboard/img/taxa01.jpg" alt="..." style="width:50px; height:50px"> </a> </div>
                                      <div class="media-body">
                                        <h3 style="line-height:40px">Umber Skipper <span class="scientific_name">(Poanes melane)</span>  <button type="button" class="btn btn-sm btn-default pull-right" >Agree</button></h3> 
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>    
                        <li class="observation_comment">
                                <div class="timeline-badge"><img src="http://thinkmoredesign.com/inat/Dashboard/img/profile_pic02.jpg" alt="" class="img-circle padding" /></div>
                                <div class="timeline-panel" style="background-color: #EFEFEF; box-shadow:none">
                                  <div class="timeline-heading">
                                    <h2 class="timeline-title"><span class="time"> 6:32 am</span><span style="font-weight:normal; color:gray"><a href="">kueda</a> added an ID</span></h2>
                                  </div>
                                  <div class="timeline-body">
                                    <div class="media">
                                      <div class="media-left"> <a href="#"> <img class="media-object img-thumbnail" src="http://thinkmoredesign.com/inat/Dashboard/img/taxa01.jpg" alt="..." style="width:50px; height:50px"> </a> </div>
                                      <div class="media-body">
                                        <h3 style="line-height:40px">Umber Skipper <span class="scientific_name">(Poanes melane)</span></h3>               
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>   
                        <li class="observation_comment">
                                <div class="timeline-badge"><img src="http://thinkmoredesign.com/inat/Dashboard/img/profile_pic01.jpg" alt="" class="img-circle padding" /></div>
                                <div class="timeline-panel"  style="background-color: #EFEFEF; box-shadow:none">
                                  <div class="timeline-heading">
                                    <h2 class="timeline-title"><span class="time"> 6:32 am</span><span style="font-weight:normal; color:gray"><a href="">carrieseltzer</a> added a field</span></h2>
                                  </div>
                                  <div class="timeline-body">
                                    <ul>
                                      <li><strong>Field:</strong> <a href="">Insect life stage</a></li>       
                                      <li><strong>Value:</strong> adult </li>
                                    </ul>
                                  </div>
                                </div>
                              </li>        
                        <li class="observation_comment">
                          <div class="timeline-badge"><img src="http://thinkmoredesign.com/inat/Dashboard/img/profile_pic01.jpg" alt="" class="img-circle padding" /></div>
                          <div class="timeline-panel"  style="background-color: #EFEFEF; box-shadow:none">
                            <div class="timeline-heading">
                              <h2 class="timeline-title"><span class="time"> 6:32 am</span><span style="font-weight:normal; color:gray"><a href="">carrieseltzer</a> added to faves</span></h2>
                            </div>
                            <div class="media-body">
                              <h3><i class="glyphicon glyphicon-star"></i> Faved!</h3> 
                            </div>
                          </div>
                        </li>                 
                      </ul>       
                  </div>       
                  <ul class="timeline" style="margin-top:0; margin-bottom:0; padding-top:0; padding-bottom:0">
                      <li class="observation_comment">
                        <div class="timeline-badge"><img src="http://thinkmoredesign.com/inat/Dashboard/img/profile_pic01.jpg" alt="" class="img-circle padding" /></div>
                        <div class="timeline-panel" style="background-color: #EFEFEF; box-shadow:none">
                          <div class="timeline-heading">
                            <h2 class="timeline-title"><span class="time"> 6:32 am</span><span style="font-weight:normal; color:gray"><a href=""></a> added an ID</span></h2>
                          </div>
                          <div class="timeline-body">
                            <div class="media">
                              <div class="media-left"> <a href="#"> <img class="media-object img-thumbnail" src="http://thinkmoredesign.com/inat/Dashboard/img/taxa01.jpg" alt="..." style="width:50px; height:50px"> </a> </div>
                              <div class="media-body">
                                <h3 style="line-height:40px">Umber Skipper <span class="scientific_name">(Poanes melane)</span></h3>
                              </div>
                              <p style="margin-top:10px">elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gos</p>
                            </div>              
                          </div>
                        </div>
                      </li>                            
                    </ul>             
                </div>            
                <div class="timeline-footer">
                  <button type="button" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#expand05">Expand</button>
                  <button type="button" class="btn btn-sm btn-primary" >Read</button>
                </div> 
              </div>
            </li>            
            <li>
              <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Starter Template</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                  <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
                </div>
              </div>
            </li>
          </ul>
          
          
          <% unless @updates.blank? -%>
            <% unless current_user.prefers_hide_activity_onboarding -%>
              <div class="panel panel-info" id="activity_panel">
                <div class="panel-heading">
                  <a data-panel-type="activity" class="close">&times;</a>
                  <h3 class="panel-title"><%=t :youve_got_updates %></h3>
                </div>
                <div class="panel-body">
                  <p class="lead"><%= t(:about_updates_lead, site_name: SITE_NAME)%></p>                    
                  <%= t(:about_updates_rest, site_name: SITE_NAME).html_safe%>                  
                </div>
                <div class="panel-footer"><a class="btn btn-primary" data-panel-type="activity">Got it!</a></div>
              </div>                
            <% end -%>
            <ul class="timeline">
              <% for key, updates in @grouped_updates %>
                <%-
                  resource_type, resource_id, notification = key
                  resource = if @update_cache && @update_cache[updates.last.resource_type.underscore.pluralize.to_sym]
                    @update_cache[updates.last.resource_type.underscore.pluralize.to_sym][updates.last.resource_id]
                  else
                    updates.last.resource
                  end
                  notifier = if @update_cache && @update_cache[updates.last.notifier_type.underscore.pluralize.to_sym]
                    @update_cache[updates.last.notifier_type.underscore.pluralize.to_sym][updates.last.notifier_id]
                  else
                    updates.last.notifier
                  end
                  is_mention = (notification == "mention")
                -%>
                <li>
                  <% if notification == "committed" %>
                    <div class="timeline-badge warning"><i class="glyphicon glyphicon glyphicon-random"></i></div>
                  <% elsif (notification == "new_observations" && resource.class.name == "place") %>
                    <div class="timeline-badge success"><i class="glyphicon glyphicon-map-marker"></i></div>
                  <%- else %>
                    <div class="timeline-badge plain">
                      <%= link_to update_image_for(updates.last, :style => "max-width:48px;"), resource %>
                    </div>                    
                  <%- end %>
                  <% if ["activity","curator_change","invited","created_post"].include? notification %>
                    <%- 
                      case notification
                      when "activity"
                        glytype = "bookmark"
                      when "curator_change"
                        glytype = "user"
                      when "invited"
                        glytype = "send"
                      when "created_post"
                        glytype = "pencil"
                      end
                    -%>
                    <div class="sub-badge">
                      <i class="glyphicon glyphicon-<%= glytype %>"></i>
                    </div>
                  <%- end %>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h2 class="timeline-title">
                        <%- if is_mention %>
                          <%= link_to generic_edit_user_url, class: "pull-right" do %>
                            <span class="glyphicon glyphicon-cog"></span>
                          <%- end %>
                        <%- else %>
                          <%= link_to edit_subscription_by_resource_path(resource_type, resource_id), class: "pull-right" do %>
                            <span class="glyphicon glyphicon-cog"></span>
                          <%- end %>
                        <%- end %>
                        <span class="time" title="<%= updates.last.sort_by_date.iso8601 %>">
                          <i class="glyphicon glyphicon-time"></i>  <%= compact_date(updates.last.sort_by_date) %>
                        </span>
                        <%= update_tagline_for(updates.last, :count => updates.size) %>
                      </h2>
                    </div>
                    <div class="timeline-body">
                      <% if notification == "activity" || is_mention -%>
                        <div class="updatecontent">
                          <% for u in updates %>
                            <%-
                              notifier = nil
                              if @update_cache && @update_cache[u.notifier_type.underscore.pluralize.to_sym]
                                notifier = @update_cache[u.notifier_type.underscore.pluralize.to_sym][u.notifier_id]
                              end
                              notifier ||= u.notifier
                            -%>
                            <div id="<%= dom_id(u) unless u.new_record? %>" class="<%= 'stub' if u.new_record? %>">
                              <%= render partial: "shared/activity_item", object: notifier, locals: { no_thumb: (is_mention && notifier.is_a?(Post)), no_meta: is_mention, context_around: is_mention ? "@#{ current_user.login }" : nil } %>
                            </div>
                          <% end %>
                          <%= link_to "#{t(:view)} #{t(resource.class.to_s.underscore.humanize, :default => resource.class.to_s.underscore.humanize).downcase}",
                                  resource, :class => "readmore" %>
                        </div>
                      <% else %>
                        <%= 
                          begin
                            render :partial => "#{resource_type.underscore.pluralize}/update_#{notification}", 
                              :object => resource, :locals => {:updates => updates, :resource => resource}
                            rescue ActionView::MissingTemplate, Errno::ENOENT
                            "#{resource_type} #{notification}"
                          end
                        -%>
                      <% end -%>
                    </div>
                  </div>
                </li>
              <% end -%>
            </ul>
            <script type="text/javascript" charset="utf-8">
              $('.observationcontrols').observationControls()
            </script>
            <div class="pagination">
              <%= link_to(t(:more), url_for_params(:from => @pagination_updates.last.id), :class => "btn btn-sm btn-default") unless @pagination_updates.blank? %>
            </div>
          <% end %>
        </div>
        <div class="tab-pane" id="comments">
          <%= loading %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"  style="padding-left:25px">
    <%= link_to new_observation_path, :id => "obsbutton", :class => "btn btn-default btn-lg  nav-justified" do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%= t(:add_observations) %>
    <% end %>
    
    <% if (announcement = @announcements.detect{|a| a.placement == 'users/dashboard#sidebar'}) && !user_seen_announcement?(announcement) -%>
      <%= announcement.body.html_safe %>
    <% end -%>
    
    <h3 class="page-header">
      <%= t :subscriptions %>
      <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="<%= t :subscribe_to_places_to %>"></span>
    </h3>
    <% unless @subscriptions.blank? %>
      <% for resource_type, subscriptions in @subscriptions.group_by(&:resource_type) %>
        <h4><%= t(resource_type.humanize.pluralize.downcase, :default => resource_type.humanize.pluralize) %></h4>
        <ul class="list-group">
          <% for subscription in subscriptions %>
            <li class="list-group-item">
              <%= link_to edit_subscription_path(subscription), :class => "pull-right" do %>
                <span class="glyphicon glyphicon-cog"></span>                
              <% end %>
              <%= subscription.resource.try_methods(:display_name, :name, :title)%>
              <% if subscription.taxon -%>
                (<%= subscription.taxon.name %>)
              <% end -%>
            </li>                  
          <% end %>
        </ul>
      <% end %>
    <% end %> 
    
    <div class="list-group">
      <%= link_to "#", "data-subscribe-type" => "taxon", "data-toggle" => "modal", "data-target" => "#subscribeModal", :class => "list-group-item" do %>
        <span class="glyphicon glyphicon-leaf"></span>
        <%=t :subscribe_to_a_taxon %>
      <% end -%>
      <%= link_to "#", "data-subscribe-type" => "place", "data-toggle" => "modal", "data-target" => "#subscribeModal", :class => "list-group-item" do %>
        <span class="glyphicon glyphicon-map-marker"></span>
        <%=t :subscribe_to_a_place %>
      <% end -%>
      <%= link_to subscriptions_path, :class => "list-group-item" do %>
        <span class="glyphicon glyphicon-wrench"></span>
        <%=t :manage_subscriptions %>
      <% end -%>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="subscribeModal" tabindex="-1">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title" id="subscribePlaceLabel"><%=t :subscribe_to_a_place %></h4>
           <h4 class="modal-title" id="subscribeTaxonLabel"><%=t :subscribe_to_a_taxon %></h4>
         </div>
         <div class="modal-body">
           <p id="subscribeTaxonBody"><%=t :subscribe_to_observations_in_a_taxon %></p>
           <p id="subscribePlaceBody"><%=t :subscribe_to_observations_in_a_place %></p>
         </div>
       </div>
     </div>
    </div>     
     
    <h3 class="page-header"><%=t :more %>..</h3>
    <% unless current_user.prefers_hide_getting_started_onboarding -%>
      <div class="panel panel-default" id="getting_started_panel">
        <div class="panel-heading">
          <a data-panel-type="getting_started" class="close">&times;</a>
          <h3 class="panel-title">
            <%=t :getting_started_guide %>
          </h3>
        </div>
        <div class="panel-body">
          <p><%=t :let_us_walk_you_through %></p>
          <%= link_to t(:get_started), "/pages/getting+started", class: "btn btn-default btn-md" %>
        </div>
      </div>
    <% end -%>
      
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%=t :blog_widget %></h3>
      </div>
      <div class="panel-body">
        <p><%= t :show_off_your_recent_observations %></p>
        <p>
          <%= link_to t(:learn_more), {:controller => "observations", :action => "widget"}, :class => "btn btn-default btn-md" %>
        </p>
      </div>
    </div>

    <% if current_user.is_curator? -%>
      <h3 class="page-header">
        <%= t :curation %>
        <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="<%= t(:youre_a_site_curator_which_means, email: CONFIG.help_email).html_safe %>"></span>
      </h3>
      <% unless @flags.blank? -%>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-flag"></span> <%= t(:flag).pluralize %>
              <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="<%= t(:these_are_items_people_on, email: CONFIG.help_email).html_safe %>"></span>
            </h3>
          </div>
          <div class="list-group">
            <% for flag in @flags %>
              <%-  
                flaggable = flag.flaggable
                flaggable_class = flaggable.class
                flaggable = flaggable.becomes(Photo) if flaggable.is_a?(Photo)
              -%>
              <%= link_to flag, class: "list-group-item" do %>
                <span class="pull-right">
                  <span class="glyphicon glyphicon-comment"></span> <%= flag.comments.size %></span>
                  <% if flag.user -%>
                    <%= flag.user.login %>
                  <% else %>
                    <%= CONFIG.site_name_short %>
                  <% end -%>
                  <%= t(:flagged) %>
                  <strong>
                  <%= 
                    if flaggable.respond_to?(:user) && flaggable.user
                      "#{flaggable.user.login}'s"
                    else
                      t(:a)
                    end
                  %>
                  <%= flaggable_class.name.humanize.downcase %>
                  </strong>
                  <%=t :because_of %>: 
                  <%= flag.flag %>
              <% end %> 
            <% end %>
          </div>
        </div>      
      <% end -%>
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-leaf" style="" aria-hidden="true"></span> <%=t :ungrafted_taxa %>
            <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="<%= t(:these_are_taxa_that, site: CONFIG.site_name_short).html_safe %>"></span>
          </h3>
        </div>
        <ul class="list-group">
          <% for taxon in @ungrafted_taxa %>
            <li class="list-group-item">
              <%= link_to taxon_path(taxon), class: "pull-right" do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to_taxon taxon %>        
            </li>
          <% end %>
        </ul>
        <div class="panel-footer">
          <%= link_to t(:curate_taxa), curate_taxa_path, class: "btn btn-primary btn-sm" %>
          <%= link_to t(:create_a_new_taxon), new_taxon_path, class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    <% end -%>
    
  </div>
</div>

