<% content_for(:title) do -%>
  <%= t(:your_home) %>
<% end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'identifications', "lists", 'lists/show_listed_taxa', 'dashboard' %>
<% end -%>

<%- content_for(:extrajs) do -%>
  <%= google_maps_js %>
  <%= javascript_include_tag 'map_bundle', "d3.min", 'calendars', 'observations/observation_fields' %>
  <script type="text/javascript" charset="utf-8">
    var CACHED_AT = new Date(<%= Time.now.to_i * 1000 %>)
    $(document).ready(function() {
      $('#tabs').tabs({
        show: function(event, ui) {
          if ($(ui.panel).attr('id') == 'explore' && !$(ui.panel).hasClass('loaded')) {
            $('.observations', ui.panel).load('/observations?partial=cached_component', function(data) {
              var html = data.replace(/[\s\n]+/, ' ')
              $(this).html(html)
              $(this).parent().find('.observationcontrols').observationControls()
            })
          } else if ($(ui.panel).attr('id') == 'comments' && !$(ui.panel).hasClass('loaded')) {
            $(ui.panel).load('/comments?partial=true', function(data) {
              var html = data.replace(/[\s\n]+/, ' ')
              $(this).html(html)
            })
          }
          $(ui.panel).addClass('loaded')
        }
      })
      
      $('.subscriptionsettings').subscriptionSettings()
      $('abbr.timeago').timeago()
      if ((new Date()).getTime() - CACHED_AT.getTime() > 5000) {
        $('#flash').hide()
      }
      var dayInSeconds = 24 * 60 * 60,
          now = new Date(),
          monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      
      var elt = $('abbr.compact.date:first')
      if (elt.length > 0) {
        var dateString = $(elt).attr('title').split('T')[0],
            timeString = $(elt).attr('title').split('T')[1],
            d = new Date(Date.parse($(elt).attr('title')))

        $('abbr.compact.date').each(function() {
          var dateString = $(this).attr('title').split('T')[0],
              timeString = $(this).attr('title').split('T')[1],
              d = new Date(Date.parse($(elt).attr('title')))
          if (!timeString.indexOf(':') || typeof(d) != 'object') { return }
          if (now.getFullYear() == d.getFullYear() &&
              now.getMonth() == d.getMonth() &&
              now.getDate() == d.getDate()) {
            return 
          }
          $(this).html(monthNames[d.getMonth()] + ' ' + d.getDate())
        })
      }

      $('#new_place_subscription_link, #new_taxon_subscription_link').click(function() {
        var dialogId = 'new_subscription_dialog'
        var dialog = $('#'+dialogId)
        if (dialog.length != 0) {$(dialog).remove()};
        dialog = $('<div></div>')
          .attr('id', dialogId)
          .addClass('dialog').html('<div class="loading status">' + I18n.t('loading') + '</div>')
        $(document).append(dialog)
        var data = 'partial=form&authenticity_token=' + $('meta[name=csrf-token]').attr('content')
        dialog.load($(this).attr('href'), data, function() {
          $(this).centerDialog()
          $('form:has(input[required])', this).submit(checkFormForRequiredFields)
        })
        dialog.dialog({
          modal: true,
          title: 'Subscribe to a new place/taxon'
        })
        return false
      })
    })
  </script>
<%- end -%>

<% if @announcement -%>
  <div class="column span-24">
    <%= @announcement.body %>
  </div>
<% end -%>

<div id="pageheader">
  <h2><%=t :welcome_comma! %> <%= current_user.login %>!</h2>
  <%= render :partial => 'users/subnav', :locals => { :user => current_user } %>
</div>

<div id="tabs" class="ui-tabs">
  <ul>
    <li><a href="#updates"><span><%= t :recent_updates %></span></a></li>
    <li><a href="#explore"><span><%= t :observations_by_everyone %></span></a></li>
    <li><a href="#comments"><span><%= t :comments_by_everyone %></span></a></li>
  </ul>
  
  <div id="updates">
    <div class="column span-15 append-1">
      <% if @updates.blank? -%>
        <% if params[:page].blank? -%>
          <p>
            <% if current_user.friendships.count == 0 -%>
              <%=t :your_dashboard_helps_you %>
              <%= link_to t(:find_some_people_to_follow), people_path, :class => "readmore" %>
            <% else %>
              <%=t :none_of_the_people_you_follow_have_any_updates_yet %>
            <% end -%>
          </p>

          <p><%=t :here_are_some_things_you_can_do_in_the_meantime %>:</p>
          <ul class="readable leafylist">
            <% unless current_user.flickr_identity %>
              <li><%= link_to t(:link_your_flickr_account_with_inat, :site_name => SITE_NAME_SHORT), auth_url_for('flickr') %></li>
            <% end %>
            <li><%= link_to t(:browse_your_observations), observations_by_login_path(current_user.login) %></li>
            <li><%= link_to t(:add_new_observations), :controller => 'observations', :action => 'new' %></li>
            <li><%= link_to t(:explore_everyones_observations), observations_path %></li>
            <li><%= link_to t(:check_out_your_life_list), lists_by_login_path(current_user.login) %></li>
          </ul>
        <% else %>
          <p class="description">
            <%= t :no_more_updates %>
          </p>
        <% end -%>

      <% else %>
        <div id="owner_filter" class="tabs clear centered">
          <ul>
            <li><%= link_to t(:all_updates), dashboard_path, :class => "#{'active' if params[:filter].blank?}" %></li>
            <li><%= link_to t(:updates_on_your_content), dashboard_path(:filter => "you") , :class => "#{'active' if params[:filter] == 'you'}" %></li>
          </ul>
        </div>
        <% for key, updates in @grouped_updates %>
          <%-
            resource_type, resource_id, notification = key
            resource = if @update_cache && @update_cache[updates.last.resource_type.underscore.pluralize.to_sym]
              @update_cache[updates.last.resource_type.underscore.pluralize.to_sym][updates.last.resource_id]
            else
              updates.last.resource
            end
            notifier = if @update_cache && @update_cache[updates.last.notifier_type.underscore.pluralize.to_sym]
              @update_cache[updates.last.notifier_type.underscore.pluralize.to_sym][updates.last.notifier_id]
            else
              updates.last.notifier
            end
          -%>
          <div class="update clear stacked 
              <%= 'activity' if updates.last.notification == 'activity' %>
              <%= 'new' if updates.detect{|u| !u.new_record? && u.viewed_at.blank?} && updates.last.resource_owner_id == current_user.id %>">
            <div class="updateresource">
              <%= link_to update_image_for(updates.last), resource %>
            </div>
            <div class="updatebody">
              <div class="updateheader meta stacked">
                <div class="right small">
                  <abbr class="compact date" title="<%= updates.last.sort_by_date.iso8601 %>"><%= compact_date(updates.last.sort_by_date) %></abbr>
                  <%= link_to "<span class='ui-icon inlineblock ui-icon-gear'>Settings</span>".html_safe, edit_subscription_by_resource_path(resource_type, resource_id), 
                    :class => "subscriptionsettings" %>
                </div>
                <%= update_tagline_for(updates.last, :count => updates.size) %>
              </div>
              <% if notification == "activity" || notification == "mention" -%>
                <% if notification == "mention" && resource.is_a?(Observation) -%>
                  <div class="observations mini">
                    <%- compact do %>
                      <%= render partial: "observations/cached_component", locals: { observation: resource } %>
                    <% end -%>
                  </div>
                  <% unless resource.description.blank? -%>
                    <div class="item_content readable">
                      <%= formatted_user_text resource.description %>
                    </div>
                  <% end -%>
                <% end -%>
                <div class="updatecontent">
                  <% for u in updates %>
                    <%-
                      notifier = nil
                      if @update_cache && @update_cache[u.notifier_type.underscore.pluralize.to_sym]
                        notifier = @update_cache[u.notifier_type.underscore.pluralize.to_sym][u.notifier_id]
                      end
                      notifier ||= u.notifier
                    -%>
                    <div id="<%= dom_id(u) unless u.new_record? %>" class="<%= 'stub' if u.new_record? %>">
                      <%= render partial: "shared/activity_item", object: notifier, locals: { no_thumb: (notification == "mention") } %>
                    </div>
                  <% end %>
                  <%= link_to "#{t(:view)} #{t(resource.class.to_s.underscore.humanize, :default => resource.class.to_s.underscore.humanize).downcase}",
                              resource, :class => "readmore" %>
                </div>
              <% else %>
                <%= 
                  begin
                    render :partial => "#{resource_type.underscore.pluralize}/update_#{notification}", 
                      :object => resource, :locals => {:updates => updates, :resource => resource}
                  rescue ActionView::MissingTemplate, Errno::ENOENT
                    "#{resource_type} #{notification}"
                  end
                -%>
              <% end -%>
            </div>
          </div>
        <% end %>
        <script type="text/javascript" charset="utf-8">
          $('.observationcontrols').observationControls()
        </script>
        <div class="pagination">
          <%= link_to(t(:more), url_for_params(:from => @pagination_updates.last.id), :class => "readmore") unless @pagination_updates.blank? %>
        </div>
      <% end %>
    </div>

    <div id="rightcol" class="last column span-8">
      <%= link_to t(:add_observations), new_observation_path, :id => "obsbutton", :class => "default button" %>

      <div id="calendar" class="clear stacked">
        <%= render :partial => "calendars/calendar", :locals => { 
          :observations => @month_observations, 
          :month_name => t(:your_month_observations, :month => t("date_format.month.#{Date::MONTHNAMES[Date.today.month].downcase}")) } %>
        <%= link_to t(:view_your_calendar), calendar_path(current_user.login), :class => "readmore" %>
      </div>

      <% if current_user.is_curator? -%>
        <div id="curatorbox" class="box">
          <h3>
            <%= t :curation %>
            <% helptip_for "curation" do %>
              <%= t :youre_a_site_curator_which_means %>
              <%= link_to CONFIG.help_email, "mailto:#{CONFIG.help_email}" %>.
            <% end -%>
          </h3>
          <% unless @flags.blank? -%>
            <h4>
              <%= t(:flag).pluralize %>
              <% helptip_for "flags" do %>
                <%= t :these_are_items_people_on %> <%=
                CONFIG.help_email %>.
              <% end -%>
            </h4>
            <ul>
              <% for flag in @flags %>
                <li>
                  <%= render :partial => "flags/flag", :object => flag %>
                </li>
              <% end %>
            </ul>
          <% end -%>

          <% unless @ungrafted_taxa.blank? -%>
            <h4>
              <%= t :ungrafted_taxa %>
                <% helptip_for "ungrafted_taxa" do %>
                  <%=raw t :these_are_taxa_that, :site => CONFIG.site_name_short %>
                <% end -%>
              </h4>
            </h4>
            <ul>
              <% for taxon in @ungrafted_taxa %>
                <li>
                  <%= link_to_taxon taxon %>
                  <%= link_to t(:edit), edit_taxon_path(taxon) %>
                </li>
              <% end %>
            </ul>
          <% end -%>

          <%= link_to t(:curate_taxa), curate_taxa_path %> |
          <%= link_to t(:create_a_new_taxon), new_taxon_path %>
        </div>
      <% end -%>

      <%= separator %>

      <div class="stacked">
        <h3>
          <%= t :your_subscriptions %>
          <% helptip_for "subscriptions" do %>
            <%= t :subscribe_to_places_to %>
          <% end -%>
        </h3>

        <ul style="margin-bottom: 5px" class="plain">
          <% if @subscriptions.blank? %>
            <div class="nocontent meta"><%= t :you_dont_have_any %></div>
          <% else %>
            <% for resource_type, subscriptions in @subscriptions.group_by(&:resource_type) %>
              <li>
                <span class="meta"><%= t(resource_type.humanize.pluralize.downcase, :default => resource_type.humanize.pluralize) %></span>
                <ul style="margin-bottom: 5px">
                  <% for subscription in subscriptions %>
                    <li class="subscription_for_<%= [subscription.resource_type, subscription.resource_id].join('_') %>">
                      <%= link_to subscription.resource.try_methods(:display_name, :name, :title), subscription.resource %>
                      <nobr class="meta">
                        <% if subscription.taxon -%>
                          (<%= subscription.taxon.name %>)
                        <% end -%>
                        <%= link_to t(:edit), edit_subscription_path(subscription), :class => "small subscriptionsettings" %>
                      </nobr>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end -%>
        </ul>
        <div>
          <%= t :add_a %>
          <%= link_to t(:place_subscription), new_subscription_path(:type => "place"), :id => "new_place_subscription_link" %>
          |
          <%= link_to t(:taxon_subscription), new_subscription_path(:type => "taxon"), :id => "new_taxon_subscription_link" %>
        </div>
        <%= link_to t(:manage_all_your_subscriptions), subscriptions_path, :class => "readmore" %>
      </div>
      <%= separator %>

      <h3><%= t :extras %></h3>

      <h4><%= link_to t(:blog_widget), :controller => "observations", :action => "widget" %></h4>
      <p class="description">
        <%= t :show_off_your_recent_observations %>
        <%= link_to t(:get_started_raquo).html_safe, :controller => "observations", :action => "widget" %>
      </p>
    </div>
  </div>
  
  <div id="explore">
    <div class="stacked observationcontrols"></div>
    <div class="medium observations grid stacked">
      <%= loading %>
    </div>
    <%= link_to t(:view_more_recent_observations), observations_url, :class => "readmore" %>
  </div>
  
  <div id="comments">
    <%= loading %>
  </div>
</div>
