<% content_for(:title) do -%>
  <%= t(:your_home) %>
<% end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'identifications', "lists", 'lists/show_listed_taxa', 'dashboard' %>
  <style>
  
  .scaledimg {
   width: 100%;
   min-height: 150px;
   background-size: cover;
   background-position: center;
  }
   
  .timeline {
  	list-style: none;
  	padding: 20px 0 20px 0;
  	position: relative;
  }
  .timeline:before {
  	top: 0;
  	bottom: 0;
  	position: absolute;
  	content: " ";
  	width: 4px;
  	background-color: #eeeeee;
  	margin-left: 25px;
  }
  .timeline > li {
  	margin-bottom: 20px;
  	position: relative;
  }
  .timeline > li:before, .timeline > li:after {
  	content: " ";
  	display: table;
  }
  .timeline > li:after {
  	clear: both;
  }
  .timeline > li:before, .timeline > li:after {
  	content: " ";
  	display: table;
  }
  .timeline > li:after {
  	clear: both;
  }
  .timeline > li > .timeline-panel {
  	float: left;
  	border: 1px solid #d4d4d4;
  	border-radius: 2px;
  	padding: 0px;
  	position: relative;
  	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  	margin-left: 10%;
  	width: 90%
  }
  .hider {
  	color: #fff;
  	width: 50px;
  	height: 24px;
  	line-height: 49px;
  	font-size: 1.4em;
  	text-align: center;
  	position: absolute;
  	top: -1px;
  	margin-left: 0;
  	z-index: 99;
  	background: white; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* Standard syntax */
  }
  /* Udder****************************************** */

  .timeline > li > .timeline-panel:before {
  	position: absolute;
  	top: 11px;
  	right: -16px;
  	display: inline-block;
  	border-top: 10px solid transparent;
  	border-left: 10px solid #ccc;
  	border-right: 0 solid #ccc;
  	border-bottom: 10px solid transparent;
  	content: " ";
  	border-left-width: 0;
  	border-right-width: 15px;
  	left: -15px;
  	right: auto;
  }
  .timeline > li > .timeline-panel:after {
  	position: absolute;
  	top: 12px;
  	right: -15px;
  	display: inline-block;
  	border-top: 9px solid transparent;
  	border-left: 9px solid #f2f2f2;
  	border-right: 0 solid #f2f2f2;
  	border-bottom: 9px solid transparent;
  	content: " ";
  	border-left-width: 0;
  	border-right-width: 14px;
  	left: -14px;
  	right: auto;
  }
  /* Badge************************************* */

  .timeline > li > .timeline-badge {
  	color: #fff;
  	width: 50px;
  	height: 50px;
  	line-height: 49px;
  	font-size: 1.4em;
  	text-align: center;
  	position: absolute;
  	top: -1px;
  	margin-left: 0;
  	z-index: 100;
  	border-top-right-radius: 50%;
  	border-top-left-radius: 50%;
  	border-bottom-right-radius: 50%;
  	border-bottom-left-radius: 50%;
  }
  .timeline > li > .timeline-badge > img {
  	width: 50px;
  	height: 50px;
  }
  .sub-badge {
  	color: gray;
  	width: 30px;
  	height: 30px;
  	line-height: 30px;
  	font-size: 1em;
  	text-align: center;
  	position: absolute;
  	top: 66px;
  	margin-left: 11px;
  	background-color: #eee;
  	z-index: 100;
  	border-top-right-radius: 50%;
  	border-top-left-radius: 50%;
  	border-bottom-right-radius: 50%;
  	border-bottom-left-radius: 50%;
  }
  button.btn_expand {
  	background-color: #eee;
  	float: right
  }
  button.btn_expand.collapsed .expand_active {
  	display: none;
  }
  button.btn_expand.collapsed .expand_inactive {
  	display: block;
  }
  button.btn_expand .expand_active {
  	display: block;
  }
  button.btn_expand .expand_inactive {
  	display: none;
  }
  
  /* begin added this stuff */
  .timeline-badge.primary {
  	background-color: #2e6da4 !important;
  }
  .timeline-badge.success {
  	background-color: #3f903f !important;
  }
  .timeline-badge.warning {
  	background-color: #f0ad4e !important;
  }
  .timeline-badge.plain {
  	background-color: #ffffff !important;
  }
  .timeline-badge.danger {
  	background-color: #d9534f !important;
  }
  .timeline-badge.info {
  	background-color: #5bc0de !important;
  }
  /* end added this stuff */
  
  /* Panel Content************************************* */
  
  h2.timeline-title { /* fix - added h2 */
  	font-weight: normal;
  	margin: 0;
  	color: inherit;
  	font-size: 1em;
  	padding: 15px
  }
  .timeline-title .btn_subscription_settings {
  	float: right
  }
  .timeline-title > a.btn_subscription_settings > .glyphicon {
  	font-size: 1em;
  	line-height: 10px;
  	color: #777
  }
  .timeline-title > .time {
  	float: right!important;
  	color: #777;
  	font-size: 75%;
  	padding-right: 10px;
  	border-right: 1px solid #ddd;
  	margin-right: 10px;
  }
  .timeline-heading {
  	background-color: #f2f2f2;
  }
  .timeline-body {
  	padding: 15px 15px 15px 15px;
  }
  .timeline-body > p + p {
  	margin-top: 10px;
  }
  .timeline-body > p:last-child, .timeline-footer > p:last-child, .timeline-body > p:last-child, .timeline-footer > table:last-child {
  	margin-bottom: 0;
  }
  .timeline-body > ul {
  	margin-bottom: 10px;
  }
  .timeline-body > table.table {
  	margin-bottom: 0
  }
  .scientific_name {
  	font-size: .8em;
  	font-weight: normal;
  	color: gray
  }
  .label_research_grade {
  	background-color: #74ac00;
  	font-weight: normal
  }
  
  /* PANEL CONTENT > MEDIA ************************************* */

  .media-body > p > button {
  	margin: 0 10px 0 0;
  }
  .media-body > p:last-child {
  	margin-bottom: 0;
  }
  .media-body > h3 {
  	font-size: 1.4em;
  	margin-top: 3px;
  	margin-bottom: 8px
  }
  .media-left > a > img {
  	width: 120px;
  	height: 120px;
  	margin-right: 5px
  }
  .media-body > ul, .media-body > ul > li {
  	margin-left: 0;
  	margin-bottom: 4px;
  	padding-left: 0;
  	list-style: none;
  	list-style-type: none
  }
  div.media-body > ul > li {
  	padding-left: 0;
  	list-style: none;
  	list-style-type: none
  }
  div.media-body > ul {
  	margin-bottom: 10px
  }
  /* Panel Conntent > Footer
  ------------------------- */

  .timeline-footer {
  	margin-top: 0;
  	padding: 0 15px 15px 15px
  }
  .timeline-footer > button {
  	margin-right: 10px
  }
  .thumbnail > h3 {
  	font-size: 14px;
  	line-height: 20px;
  	margin: 0;
  	padding: 5px
  }
  .timeline-footer > a.btn_settings {
  	padding-right: 15px
  }
  .timeline-footer > a.btn_settings:link, .timeline-footer > a.btn_settings:visited {
  	color: #999
  }
  /* PANEL SPECIFIC *********************************************************************** */

  /* Journal Post 
  ------------------------- */

  li.journal_post > .timeline-panel > .timeline-body h3 {
  	margin-top: 0;
  }

  /* Taxon Change 
  ------------------------- */

  li.taxon_change > .timeline-badge {
  	background-color: #f0ad4e !important;
  	line-height: 50px
  }
  li.taxon_change > timeline-body > div {
  	border: 1px solid transparent;
  	border-radius: 4px;
  }
  li.observation_multiple_added > .timeline-panel > .timeline-body > .row {
  	margin-right: -5px;
  	margin-left: -5px;
  }
  /*  Location Subscription Observations Added 
  ------------------------- */

  .location_observation_added > .timeline-badge {
  	background-color: #5bc0de !important;
  	line-height: 50px
  }


  /*  Comment Activity 
  ------------------------- */

  .comment_activity > .timeline-badge {
  	background-color: #EF75EC !important;
  	line-height: 50px
  }


  /* Observation Added
  ------------------------- */

  .media-body > ul > li {
  	color: #494949
  }
  .media-body > ul > li > span.date_observed {
  	padding-right: 10px;
  	border-right: 1px solid #ccc
  }
  .media-body > ul > li > span.location_observed {
  	padding-left: 2px;
  }
  .media-body > ul > li > span > .glyphicon {
  	color: #888
  }

  /* Observations Added - Gallery (Mulitiple Photos)
  ------------------------- */

  li.observation_multiple_added > .timeline-panel > .timeline-body > .row > ul {
  	list-style: none;
  	margin-left: -40px;
  }
  li.observation_multiple_added > .timeline-panel > .timeline-body > .row > ul > li.col-md-3 {
  	padding: 0 5px;
  }
  li.observation_multiple_added > .timeline-panel > .timeline-body > .row > ul > li.col-md-3 > a > .thumbnail {
  	margin-bottom: 10px;
  }

  /* Project Role Change
  ------------------------- */

  .project_role_change > .timeline-badge img, .project_observation_added > .timeline-badge img {
  	border-top-right-radius: 5%;
  	border-top-left-radius: 5%;
  	border-bottom-right-radius: 5%;
  	border-bottom-left-radius: 5%;
  }


  /* Project Invite
  ------------------------- */

  .project_invite > .timeline-panel > .timeline-body > .media > .media-left > a > img {
  	width: 70px;
  	height: 70px;
  }

  /* Observation Activity - Timeline 
  ------------------------- */

  .timeline_observation:before {
  	width: 2px;
  	margin-left: 20px;
  }
  ul.timeline_observation > li > .timeline-badge {
  	color: #fff;
  	width: 40px;
  	height: 40px;
  	line-height: 49px;
  	font-size: 1.4em;
  	text-align: center;
  	position: absolute;
  	top: -1px;
  	margin-left: 0;
  	z-index: 100;
  	border-top-right-radius: 50%;
  	border-top-left-radius: 50%;
  	border-bottom-right-radius: 50%;
  	border-bottom-left-radius: 50%;
  }
  /* Udder */

  .timeline_observation > li > .timeline-panel:before {
  	position: absolute;
  	top: 9px;
  	right: -14px;
  	display: inline-block;
  	border-top: 8px solid transparent;
  	border-left: 8px solid #ccc;
  	border-right: 0 solid #ccc;
  	border-bottom: 8px solid transparent;
  	content: " ";
  	border-left-width: 0;
  	border-right-width: 11px;
  	left: -11px;
  	right: auto;
  }
  .timeline_observation > li > .timeline-panel:after {
  	position: absolute;
  	top: 10px;
  	right: -15px;
  	display: inline-block;
  	border-top: 7px solid transparent;
  	border-left: 7px solid #f1f1f1;
  	border-right: 0 solid #f1f1f1;
  	border-bottom: 7px solid transparent;
  	content: " ";
  	border-left-width: 0;
  	border-right-width: 10px;
  	left: -10px;
  	right: auto;
  }
  ul.timeline_observation > li > .timeline-badge > img {
  	width: 40px;
  	height: 40px;
  }
  ul.timeline_observation > li > .timeline-panel {
  	background-color: #fafafa;
  	box-shadow: none
  }
  ul.timeline_observation > li > .timeline-panel > .timeline-heading {
  	background-color: #F1F1F1;
  }
  ul.timeline_observation > li > .timeline-panel > .timeline-heading > .timeline-title > .time {
  	border-right: none;
  	margin-right: 0;
  	padding-right: 0
  }
  ul.timeline_observation > li > .timeline-panel .btn_agree {
  	float: right;
  	margin-top: 5px;
  }
  ul.timeline_observation > li > .timeline-panel .label_refined {
  	float: right;
  	margin-top: 7px;
  	background-color: #ddd;
  	font-weight: normal;
  	color: black
  }
  ul.timeline_observation > li.id_refined {
  	opacity: .6
  }
  ul.timeline_observation > li > .timeline-panel > .timeline-body > .media > .media-left > a > img {
  	padding: 2px;
  	margin-right: 0
  }

  .for_idents {
    padding-bottom:15px;
    margin-bottom:15px;
    border-bottom: 1px solid #eee;
  }
  </style>
<% end -%>

<%- content_for(:extrajs) do -%>
  <%= google_maps_js %>
  <%= javascript_include_tag 'map_bundle', "d3.min", 'calendars', 'observations/observation_fields' %>
  <script type="text/javascript" charset="utf-8">
    var CACHED_AT = new Date(<%= Time.now.to_i * 1000 %>)
    $(document).ready(function() {
      $('#tabs').tabs({
        show: function(event, ui) {
          if ($(ui.panel).attr('id') == 'comments' && !$(ui.panel).hasClass('loaded')) {
            $(ui.panel).load('/comments?partial=true', function(data) {
              var html = data.replace(/[\s\n]+/, ' ')
              $(this).html(html)
            })
          }
          $(ui.panel).addClass('loaded')
        }
      })
      
      $('.subscriptionsettings').subscriptionSettings()
      $('abbr.timeago').timeago()
      if ((new Date()).getTime() - CACHED_AT.getTime() > 5000) {
        $('#flash').hide()
      }
      var dayInSeconds = 24 * 60 * 60,
          now = new Date(),
          monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      
      var elt = $('abbr.compact.date:first')
      if (elt.length > 0) {
        var dateString = $(elt).attr('title').split('T')[0],
            timeString = $(elt).attr('title').split('T')[1],
            d = new Date(Date.parse($(elt).attr('title')))

        $('abbr.compact.date').each(function() {
          var dateString = $(this).attr('title').split('T')[0],
              timeString = $(this).attr('title').split('T')[1],
              d = new Date(Date.parse($(elt).attr('title')))
          if (!timeString.indexOf(':') || typeof(d) != 'object') { return }
          if (now.getFullYear() == d.getFullYear() &&
              now.getMonth() == d.getMonth() &&
              now.getDate() == d.getDate()) {
            return 
          }
          $(this).html(monthNames[d.getMonth()] + ' ' + d.getDate())
        })
      }

      $("#subscribeModal").on("show.bs.modal", function(e) {
        $this = $(this);
        taxonLabel = $this.find("#subscribeTaxonLabel");
        subscribe_type = (taxonLabel.css('display') == 'none') ? "place" : "taxon";   
        subscribe_url = "/subscriptions/new?type=" + subscribe_type + "&partial=form&authenticity_token=" + $('meta[name=csrf-token]').attr('content');
        $.ajax({
            url: subscribe_url,
            cache: false,
            success: function(html){
              $this.find(".modal-body").append(html);
            }
        });
      });

      $("#subscribeModal").on("hide.bs.modal", function(e) {
        $(this).find(".modal-body").children("form").remove()
      });
      
      $("a[data-subscribe-type]").click(function(e){
        subscribeType = $(this).data("subscribe-type")
        if(subscribeType == "taxon"){
          $("#subscribeTaxonLabel").show();
          $("#subscribePlaceLabel").hide();
          $("#subscribeTaxonBody").show();
          $("#subscribePlaceBody").hide();
        }else{
          $("#subscribePlaceLabel").show();
          $("#subscribeTaxonLabel").hide();
          $("#subscribePlaceBody").show(); 
          $("#subscribeTaxonBody").hide();         
        }
      });
      
      function close_panel(element, panelType) {
        $( "#" + panelType + "_panel" ).fadeOut();
        var pref = { };
        pref[ "prefers_hide_" + panelType + "_onboarding" ] = true;
        updateSession( pref );       
      }
      
      $("a[data-panel-type]").click(function(e){
        e.preventDefault()
        
        panelType = $(this).data("panel-type")
        close_panel(this, panelType)
      });
    
      $("[data-toggle=popover]").popover();
      
      
    })
  </script>
<%- end -%>

<div class="container" style="background-color:white">
  <% if announcement = @announcements.detect{|a| a.placement == 'users/dashboard'} -%>
    <div class="column span-24">
      <%= announcement.body.html_safe %>
    </div>
  <% end -%>
  
  <%= render :partial => "shared/by_login_header_bootstrap", :locals => { :user => current_user } %>

  <div class="col-md-8"  style="background-color:white">
    <div class="tabbable">
      <ul class="nav nav-pills">
  	  	<li class="<%= 'active' if params[:filter].blank? %>" >
          <% if params[:filter].blank? %>
            <a href="#updates" data-toggle="tab"><%= t(:following).capitalize %></a>
          <% else %>
            <%= link_to t(:following).capitalize, dashboard_path %>            
          <% end %>
        </li>
  		  <li class="<%= 'active' if params[:filter] == 'you' %>" >
          <% if params[:filter] == 'you' %>
            <a href="#updates" data-toggle="tab"><%= t(:you).capitalize %></a>
          <% else %>
            <%= link_to t(:you).capitalize, dashboard_path(:filter => "you") %>
          <% end %>
        </li>
  		  <li><a href="#comments" data-toggle="tab"><%= t :comment_feed %></a></li>
  	  </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="updates">
          <% if current_user.observations_count < 4 && !current_user.prefers_hide_observe_onboarding -%>
            <div class="panel panel-success" id="observe_panel">
              <div class="panel-heading">
                <a data-panel-type="observe" class="close">&times;</a>
                <h3 class="panel-title" style="font-size:20px"><%=t :lets_get_started_by_posting_some_observations %></h3>
              </div>
              <div class="panel-body">
                <p class="lead">
                  <%= @local_results ? t(:for_inspiration_local) : t(:for_inspiration_global) %>
                </p>
                <div class="row">
                  <% for taxon in @target_taxa %>
                    <%= render(:partial => 'favorites', :locals => {:taxon => taxon}) %>
                  <% end %>
                </div>
                <div class="media">
                  <div class="media-body">
                    <p class="lead"><%= t(:the_next_step, new_observation_path: new_observation_path).html_safe %></p>
                    <p><%= t( :you_can_also_use, site_name: SITE_NAME )%></p>
                  </div>
                  <div class="media-right"><img class="media-object"  src="http://static.inaturalist.org/wiki_page_attachments/615-original.jpg" style="padding: 0 0 0 10px"></div>
                </div>
              </div>
              <div class="panel-footer">
                <%= link_to observations_path, class: "btn btn-primary btn-md" do %>
                  <%=t :browse_observations %><span class="glyphicon glyphicon-chevron-right"></span>
                <% end %>
                <%= link_to "/pages/getting+started", target: "_blank" do %>
                  <span class="glyphicon glyphicon-info-sign"></span> <%=t :getting_started_guide %>
                <% end %>
              </div>        
            </div>
          <% end -%>
      
          <% if current_user.friendships.count < 4 && !current_user.prefers_hide_follow_onboarding -%>
            <div class="panel panel-success" id="follow_panel">
              <div class="panel-heading">
                <a data-panel-type="follow" class="close">&times;</a>
                <h3 class="panel-title"> <%= @local_results ? t(:follow_some_nearby_naturalists) : t(:follow_some_active_naturalists) %></h3>
              </div>
              <div class="panel-body">
                <p>
                  <%=t :youll_be_updated %>
                </p>  
                <div class="row">
                  <% @to_follows.each do |to_follow| %>
                    <%= render(:partial => 'followees', :locals => {:friend => to_follow}) %>
                  <% end %>
                </div>
              </div>
              <div class="panel-footer">
                <%= link_to people_path, class: "btn btn-primary" do %>
                  Browse People <span class="glyphicon glyphicon-chevron-right"></span>
                <% end %>  
              </div>
            </div>                
          <% end -%> 
          
          <% unless @updates.blank? -%>
            <% unless current_user.prefers_hide_activity_onboarding -%>
              <div class="panel panel-info" id="activity_panel">
                <div class="panel-heading">
                  <a data-panel-type="activity" class="close">&times;</a>
                  <h3 class="panel-title"><%=t :youve_got_updates %></h3>
                </div>
                <div class="panel-body">
                  <p class="lead"><%= t(:about_updates_lead, site_name: SITE_NAME)%></p>                    
                  <%= t(:about_updates_rest, site_name: SITE_NAME).html_safe%>                  
                </div>
                <div class="panel-footer"><a class="btn btn-primary" data-panel-type="activity">Got it!</a></div>
              </div>                
            <% end -%>
            <ul class="timeline">
              <% for key, updates in @grouped_updates %>
                <%-
                  resource_type, resource_id, notification = key
                  resource = if @update_cache && @update_cache[updates.last.resource_type.underscore.pluralize.to_sym]
                    @update_cache[updates.last.resource_type.underscore.pluralize.to_sym][updates.last.resource_id]
                  else
                    updates.last.resource
                  end
                  notifier = if @update_cache && @update_cache[updates.last.notifier_type.underscore.pluralize.to_sym]
                    @update_cache[updates.last.notifier_type.underscore.pluralize.to_sym][updates.last.notifier_id]
                  else
                    updates.last.notifier
                  end
                  is_mention = (notification == "mention")
                -%>
                <li class="observation_multiple_added">
                  <% if notification == "committed" %>
                    <div class="timeline-badge warning"><i class="glyphicon glyphicon glyphicon-random"></i></div>
                  <% elsif (notification == "new_observations" && resource.class.name == "Place") %>
                    <div class="timeline-badge success"><i class="glyphicon glyphicon-map-marker"></i></div>
                  <%- else %>
                    <div class="timeline-badge plain">
                      <%= link_to update_image_for(updates.last, :style => "max-width:48px;"), resource %>
                    </div>                    
                  <%- end %>
                  <% if ["activity","curator_change","invited","created_post"].include? notification %>
                    <%- 
                      case notification
                      when "activity"
                        glytype = "bookmark"
                      when "curator_change"
                        glytype = "user"
                      when "invited"
                        glytype = "send"
                      when "created_post"
                        glytype = "pencil"
                      end
                    -%>
                    <div class="sub-badge">
                      <i class="glyphicon glyphicon-<%= glytype %>"></i>
                    </div>
                  <%- end %>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h2 class="timeline-title">
                        <%- if is_mention %>
                          <%= link_to generic_edit_user_url, class: "pull-right subscriptionsettings" do %>
                            <span class="glyphicon glyphicon-cog"></span>
                          <%- end %>
                        <%- else %>
                          <%= link_to edit_subscription_by_resource_path(resource_type, resource_id), class: "pull-right subscriptionsettings" do %>
                            <span class="glyphicon glyphicon-cog"></span>
                          <%- end %>
                        <%- end %>
                        <span class="time" title="<%= updates.last.sort_by_date.iso8601 %>">
                          <i class="glyphicon glyphicon-time"></i>  <%= compact_date(updates.last.sort_by_date) %>
                        </span>
                        <%= update_tagline_for(updates.last, :count => updates.size) %>
                      </h2>
                    </div>
                    
                    <% if notification == "activity" || is_mention -%>
                      <div class="timeline-body">
                        <%- target_id = rand(36**8).to_s(36) %>
                        <div id="expand<%= "#{target_id}" %>" class="collapse out">
                          <%- if updates[0].resource_type == 'Observation' %>
                            <%- observations = [updates[0].resource] -%>
                            <%= render partial: 'observations/observations_component_for_dashboard', locals: {for_idents: true, observations: observations} %>
                          <% end %>
                          <ul class="timeline timeline_observation">
                            <% for u in updates[0..-2] %>
                              <%-
                                notifier = nil
                                if @update_cache && @update_cache[u.notifier_type.underscore.pluralize.to_sym]
                                  notifier = @update_cache[u.notifier_type.underscore.pluralize.to_sym][u.notifier_id]
                                end
                                notifier ||= u.notifier
                              -%>
                              <%= render partial: "shared/activity_item_for_dashboard", object: notifier, locals: { no_thumb: (is_mention && notifier.is_a?(Post)), no_meta: is_mention, context_around: is_mention ? "@#{ current_user.login }" : nil } %>
                            <% end %>
                          </ul>
                        </div>
                        <ul class="timeline timeline_observation" style="margin-top:0; margin-bottom:0; padding-top:0; padding-bottom:0">
                          <%-
                            u = updates.last
                            notifier = nil
                            if @update_cache && @update_cache[u.notifier_type.underscore.pluralize.to_sym]
                              notifier = @update_cache[u.notifier_type.underscore.pluralize.to_sym][u.notifier_id]
                            end
                            notifier ||= u.notifier
                          -%>
                          <%= render partial: "shared/activity_item_for_dashboard", object: notifier, locals: { no_thumb: (is_mention && notifier.is_a?(Post)), no_meta: is_mention, context_around: is_mention ? "@#{ current_user.login }" : nil } %>
                        </ul>
                      </div>
                      <div class="timeline-footer">
                        <%= link_to t(:view_observation), resource, :class => "btn btn-sm btn-primary" %>
                        <button type="button" class="btn btn-sm btn-default btn_expand collapsed" data-toggle="collapse" data-target="#expand<%= "#{target_id}" %>" aria-pressed="false" autocomplete="off"> <span class="expand_inactive"><i class="glyphicon glyphicon-collapse-down"></i> Show More...</span><span class="expand_active"><i class="glyphicon glyphicon-collapse-up"></i> Show Less</span></button>
                      </div>  
                    <% else %>
                      <div class="timeline-body">
                        <%= 
                          begin
                            render :partial => "#{resource_type.underscore.pluralize}/update_#{notification}", 
                              :object => resource, :locals => {:updates => updates, :resource => resource}
                            rescue ActionView::MissingTemplate, Errno::ENOENT
                            "#{resource_type} #{notification}"
                          end
                        -%>
                      </div>
                    <% end -%>  
                  </div>
                </li>
              <% end -%>
            </ul>
            <script type="text/javascript" charset="utf-8">
              $('.observationcontrols').observationControls()
            </script>
            <div class="pagination">
              <%= link_to(t(:more), url_for_params(:from => @pagination_updates.last.id), :class => "btn btn-sm btn-default") unless @pagination_updates.blank? %>
            </div>
          <% end %>
        </div>
        <div class="tab-pane" id="comments">
          <%= loading %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"  style="padding-left:25px">
    <%= link_to new_observation_path, :id => "obsbutton", :class => "btn btn-default btn-lg  nav-justified" do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%= t(:add_observations) %>
    <% end %>
    
    <% if (announcement = @announcements.detect{|a| a.placement == 'users/dashboard#sidebar'}) && !user_seen_announcement?(announcement) -%>
      <%= announcement.body.html_safe %>
    <% end -%>
    
    <h3 class="page-header">
      <%= t :subscriptions %>
      <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="<%= t :subscribe_to_places_to %>"></span>
    </h3>
    <% unless @subscriptions.blank? %>
      <% for resource_type, subscriptions in @subscriptions.group_by(&:resource_type) %>
        <h4><%= t(resource_type.humanize.pluralize.downcase, :default => resource_type.humanize.pluralize) %></h4>
        <ul class="list-group">
          <% for subscription in subscriptions %>
            <li class="list-group-item">
              <%= link_to edit_subscription_path(subscription), :class => "pull-right" do %>
                <span class="glyphicon glyphicon-cog"></span>                
              <% end %>
              <%= subscription.resource.try_methods(:display_name, :name, :title)%>
              <% if subscription.taxon -%>
                (<%= subscription.taxon.name %>)
              <% end -%>
            </li>                  
          <% end %>
        </ul>
      <% end %>
    <% end %> 
    
    <div class="list-group">
      <%= link_to "#", "data-subscribe-type" => "taxon", "data-toggle" => "modal", "data-target" => "#subscribeModal", :class => "list-group-item" do %>
        <span class="glyphicon glyphicon-leaf"></span>
        <%=t :subscribe_to_a_taxon %>
      <% end -%>
      <%= link_to "#", "data-subscribe-type" => "place", "data-toggle" => "modal", "data-target" => "#subscribeModal", :class => "list-group-item" do %>
        <span class="glyphicon glyphicon-map-marker"></span>
        <%=t :subscribe_to_a_place %>
      <% end -%>
      <%= link_to subscriptions_path, :class => "list-group-item" do %>
        <span class="glyphicon glyphicon-wrench"></span>
        <%=t :manage_subscriptions %>
      <% end -%>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="subscribeModal" tabindex="-1">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title" id="subscribePlaceLabel"><%=t :subscribe_to_a_place %></h4>
           <h4 class="modal-title" id="subscribeTaxonLabel"><%=t :subscribe_to_a_taxon %></h4>
         </div>
         <div class="modal-body">
           <p id="subscribeTaxonBody"><%=t :subscribe_to_observations_in_a_taxon %></p>
           <p id="subscribePlaceBody"><%=t :subscribe_to_observations_in_a_place %></p>
         </div>
       </div>
     </div>
    </div>     
     
    <h3 class="page-header"><%=t :more %>..</h3>
    <% unless current_user.prefers_hide_getting_started_onboarding -%>
      <div class="panel panel-default" id="getting_started_panel">
        <div class="panel-heading">
          <a data-panel-type="getting_started" class="close">&times;</a>
          <h3 class="panel-title">
            <%=t :getting_started_guide %>
          </h3>
        </div>
        <div class="panel-body">
          <p><%=t :let_us_walk_you_through %></p>
          <%= link_to t(:get_started), "/pages/getting+started", class: "btn btn-default btn-md" %>
        </div>
      </div>
    <% end -%>
      
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%=t :blog_widget %></h3>
      </div>
      <div class="panel-body">
        <p><%= t :show_off_your_recent_observations %></p>
        <p>
          <%= link_to t(:learn_more), {:controller => "observations", :action => "widget"}, :class => "btn btn-default btn-md" %>
        </p>
      </div>
    </div>

    <% if current_user.is_curator? -%>
      <h3 class="page-header">
        <%= t :curation %>
        <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="<%= t(:youre_a_site_curator_which_means, email: CONFIG.help_email).html_safe %>"></span>
      </h3>
      <% unless @flags.blank? -%>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-flag"></span> <%= t(:flag).pluralize %>
              <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="<%= t(:these_are_items_people_on, email: CONFIG.help_email).html_safe %>"></span>
            </h3>
          </div>
          <div class="list-group">
            <% for flag in @flags %>
              <%-  
                flaggable = flag.flaggable
                flaggable_class = flaggable.class
                flaggable = flaggable.becomes(Photo) if flaggable.is_a?(Photo)
              -%>
              <%= link_to flag, class: "list-group-item" do %>
                <span class="pull-right">
                  <span class="glyphicon glyphicon-comment"></span> <%= flag.comments.size %></span>
                  <% if flag.user -%>
                    <%= flag.user.login %>
                  <% else %>
                    <%= CONFIG.site_name_short %>
                  <% end -%>
                  <%= t(:flagged) %>
                  <strong>
                  <%= 
                    if flaggable.respond_to?(:user) && flaggable.user
                      "#{flaggable.user.login}'s"
                    else
                      t(:a)
                    end
                  %>
                  <%= flaggable_class.name.humanize.downcase %>
                  </strong>
                  <%=t :because_of %>: 
                  <%= flag.flag %>
              <% end %> 
            <% end %>
          </div>
        </div>      
      <% end -%>
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-leaf" style="" aria-hidden="true"></span> <%=t :ungrafted_taxa %>
            <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="<%= t(:these_are_taxa_that, site: CONFIG.site_name_short).html_safe %>"></span>
          </h3>
        </div>
        <ul class="list-group">
          <% for taxon in @ungrafted_taxa %>
            <li class="list-group-item">
              <%= link_to taxon_path(taxon), class: "pull-right" do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to_taxon taxon %>        
            </li>
          <% end %>
        </ul>
        <div class="panel-footer">
          <%= link_to t(:curate_taxa), curate_taxa_path, class: "btn btn-primary btn-sm" %>
          <%= link_to t(:create_a_new_taxon), new_taxon_path, class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    <% end -%>
    
  </div>
</div>

