<% content_for(:title) do -%>
  Your Home
<% end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'identifications', "lists", 'lists/show_listed_taxa', 'dashboard' %>
  <style type="text/css" media="screen">
    .update {position:relative; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #eee; }
    .updateresource {width: 48px; position: absolute; text-align:center;left: 0; top:0;}
    .updateresource img {max-width: 48px;}
    .updateheader {padding-top: 5px;}
    .updatebody {margin-left: 56px;}
    .updateimage { width: 100px; float:left; margin-right: 10px;}
    .updateimage img { max-width: 100px; }
    .updatewithimage .updatecontent {float: left; width: 420px;}
    .updatewithimage .updatecontent .photos.attribute {display:none;}
    
    .item_content {max-width: 475px;}
    .item_content .identification {
      padding: 5px;
      background-color: #EEE;
      margin-bottom: 5px;
    }
    
    .activity.update:before {
      content: ' ';
      display:block;
      position:absolute;
      left:-21px;
      top: 5px;
      width:16px;
      height: 16px;
      background-position: -128px -96px;
      background-image: url(/images/jquery-ui/ui-icons_888888_256x240.png);
      z-index:1;
    }
    .new.activity.update:before {
      background-image: url(/images/jquery-ui/ui-icons_cd0a0a_256x240.png);
    }
    
    .stub { opacity: 0.5; }
    .stub:hover { opacity: 1; }
    
    .observations.mini .observation:last-child {border: 0 transparent;}
    #calendar .calendar {float: none; width: 100%;}
    
    #explore .observations.grid .observation {margin: 0 2px 5px 0;}
    #explore .observations.medium.grid .observation, 
    #explore .observations.medium.grid .photos, 
    #explore .observations.medium.grid .photos a, 
    #explore .observations.medium.grid .icon {
      width: 153px;
      height: 153px;
    }
    
    #comments .commentitem { border-bottom: 1px solid #eee; margin-bottom: 10px; padding-bottom: 10px;}
  </style>
<% end -%>

<%- content_for(:extrajs) do -%>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag 'inaturalist/map3', "d3.min", 'calendars' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#tabs').tabs({
        show: function(event, ui) {
          if ($(ui.panel).attr('id') == 'explore' && !$(ui.panel).hasClass('loaded')) {
            $('.observations', ui.panel).load('/observations?partial=cached_component', function(data) {
              var html = data.replace(/[\s\n]+/, ' ')
              $(this).html(html)
              $(this).parent().find('.observationcontrols').observationControls()
            })
          } else if ($(ui.panel).attr('id') == 'comments' && !$(ui.panel).hasClass('loaded')) {
            $(ui.panel).load('/comments?partial=true', function(data) {
              var html = data.replace(/[\s\n]+/, ' ')
              $(this).html(html)
            })
          }
          $(ui.panel).addClass('loaded')
        }
      })
      
      $('.subscriptionsettings').subscriptionSettings()
      $('abbr.timeago').timeago()
      $('#flash').hide()
      var dayInSeconds = 24 * 60 * 60,
          now = new Date(),
          monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      $('abbr.compact.date').each(function() {
        var dateString = $(this).attr('title').split('T')[0],
            timeString = $(this).attr('title').split('T')[1],
            d = new Date($(this).attr('title'))
        if (!timeString.indexOf(':')) { return }
        if (now.getFullYear() == d.getFullYear() &&
            now.getMonth() == d.getMonth() &&
            now.getDate() == d.getDate()) {
          return 
        }
        $(this).html(monthNames[d.getMonth()] + ' ' + d.getDate())
      })
    })
  </script>
<%- end -%>

<% if @announcement -%>
  <div class="column span-24">
    <%= @announcement.body %>
  </div>
<% end -%>

<div id="pageheader">
  <h2>Welcome, <%= current_user.login %>!</h2>
  <%= render :partial => 'users/subnav', :locals => { :user => current_user } %>
</div>

<div id="tabs" class="ui-tabs">
  <ul>
    <li><a href="#updates"><span>Recent updates</span></a></li>
    <li><a href="#explore"><span>Observations by everyone</span></a></li>
    <li><a href="#comments"><span>Comments by everyone</span></a></li>
  </ul>
  
  <div id="updates">
    <div class="column span-15 append-1">
      <% if @updates.blank? -%>
        <% if params[:page].blank? -%>
          <p>
            <% if current_user.friendships.count == 0 -%>
              Your dashboard helps you keep track of what people are doing on iNat.
              To follow someone's updates, click the <strong>"Follow [name]"</strong>
              link in the header when viewing their observations or profile.
              <%= link_to "Find some people to follow", people_path, :class => "readmore" %>
            <% else %>
              None of the people you follow have made any updates yet!
            <% end -%>
          </p>

          <p>Here are some things you can do in the meantime:</p>
          <ul class="readable leafylist">
            <% unless @user.flickr_identity %>
              <li><%= link_to 'Link your Flickr Account to iNaturalist', :controller => 'flickr', :action => 'link' %></li>
            <% end %>
            <li><%= link_to "Browse your observations", observations_by_login_path(@user.login) %></li>
            <li><%= link_to "Add new observations", :controller => 'observations', :action => 'new' %></li>
            <li><%= link_to "Explore everyone's observations", observations_path %></li>
            <li><%= link_to "Check out your Life List", lists_by_login_path(@user.login) %></li>
          </ul>
        <% else %>
          <p class="description">
            No more updates!
          </p>
        <% end -%>

      <% else %>
        <% for key, updates in @grouped_updates %>
          <%-
            resource_type, resource_id, notification = key
            resource = if @update_cache && @update_cache[updates.last.resource_type.underscore.pluralize.to_sym]
              @update_cache[updates.last.resource_type.underscore.pluralize.to_sym][updates.last.resource_id]
            else
              updates.last.resource
            end
            notifier = if @update_cache && @update_cache[updates.last.notifier_type.underscore.pluralize.to_sym]
              @update_cache[updates.last.notifier_type.underscore.pluralize.to_sym][updates.last.notifier_id]
            else
              updates.last.notifier
            end
          -%>
          <div class="update clear stacked 
              <%= 'activity' if updates.last.notification == 'activity' %>
              <%= 'new' if updates.detect{|u| !u.new_record? && u.viewed_at.blank?} && updates.last.resource_owner_id == current_user.id %>">
            <div class="updateresource">
              <%= link_to update_image_for(updates.last), resource %>
            </div>
            <div class="updatebody">
              <div class="updateheader meta stacked">
                <div class="right small">
                  <abbr class="compact date" title="<%= updates.last.sort_by_date.iso8601 %>"><%= compact_date(updates.last.sort_by_date) %></abbr>
                  <%= link_to "<span class='ui-icon inlineblock ui-icon-gear'>Settings</span>", edit_subscription_by_resource_path(resource_type, resource_id), 
                    :class => "subscriptionsettings" %>
                </div>
                <%= update_tagline_for(updates.last, :count => updates.size) %>
              </div>
              <% if notification == "activity" -%>
                <div class="updatecontent">
                  <% for u in updates %>
                    <%-
                      notifier = nil
                      if @update_cache && @update_cache[u.notifier_type.underscore.pluralize.to_sym]
                        notifier = @update_cache[u.notifier_type.underscore.pluralize.to_sym][u.notifier_id]
                      end
                      notifier ||= u.notifier
                    -%>
                    <div id="<%= dom_id(u) unless u.new_record? %>" class="<%= 'stub' if u.new_record? %>">
                      <%= render :partial => "shared/activity_item", :object => notifier %>
                    </div>
                  <% end %>
                  <%= link_to "View #{resource.class.to_s.underscore.humanize.downcase}", resource, :class => "readmore" %>
                </div>
              <% else %>
                <%= 
                  begin
                    render :partial => "#{resource.class.to_s.underscore.pluralize}/update_#{notification}", 
                      :object => resource, :locals => {:updates => updates}
                  rescue ActionView::MissingTemplate, Errno::ENOENT
                    "#{resource_type} #{notification}"
                  end
                -%>
              <% end -%>
            </div>
          </div>
        <% end %>
        <script type="text/javascript" charset="utf-8">
          $('.observationcontrols').observationControls()
        </script>
        <div class="pagination">
          <%= link_to("More", url_for_params(:from => @updates.last.id), :class => "readmore") unless @updates.blank? %>
        </div>
      <% end %>
    </div>

    <div id="rightcol" class="last column span-8">

      <div id="calendar" class="clear stacked">
        <%= render :partial => "calendars/calendar", :locals => { 
          :observations => @month_observations, 
          :month_name => "Your #{Date::MONTHNAMES[Date.today.month]} Observations" } %>
        <%= link_to "View your calendar", calendar_path(current_user.login), :class => "readmore" %>
      </div>

      <h3>Extras</h3>

      <h4><%= link_to "Blog Widget", :controller => "observations", :action => "widget" %></h4>
      <p class="description">
        Show off your recent observations on your own blog or website!
        <%= link_to "Get started &raquo;", :controller => "observations", :action => "widget" %>
      </p>
    </div>
  </div>
  
  <div id="explore">
    <div class="stacked observationcontrols"></div>
    <div class="medium observations grid stacked">
      <%= loading %>
    </div>
    <%= link_to "View more recent observations", observations_url, :class => "readmore" %>
  </div>
  
  <div id="comments">
    <%= loading %>
  </div>
</div>
