<% content_for(:title) do -%>
  <%= t(:your_home) %>
<% end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'identifications', "lists", 'lists/show_listed_taxa', 'dashboard' %>
  <style>

  </style>
<% end -%>

<%- content_for(:extrajs) do -%>
  <%= google_maps_js %>
  <%= javascript_include_tag 'map_bundle', "d3.min", 'calendars', 'observations/observation_fields' %>
  <script type="text/javascript" charset="utf-8">
    var CACHED_AT = new Date(<%= Time.now.to_i * 1000 %>)
    
    
    function get_content(url, target){
      $.ajax({
        type: "GET",
        url: url,
        error: function(data){
          console.log("There was a problem");
        },
        success: function(data){
          $(target).html(data);
          
          $("#more_pagination").click(function(e){
            e.preventDefault();
            var from = $(this).data('from');
            var url = "/users/dashboard_updates?from="+from;
            var target = "#updates_target";
            get_content(url, target);            
          });
          
          $("#more_pagination_you").click(function(e){
            e.preventDefault();
            var from = $(this).data('from');
            var url = "/users/dashboard_updates?from="+from+"&filter=you";
            var target = "#updates_by_you_target";
            get_content(url, target);          
          });
          
        }
      });
    }
    
    function close_panel(element, panelType) {
      $( "#" + panelType + "_panel" ).fadeOut();
      var pref = { };
      pref[ "prefers_hide_" + panelType + "_onboarding" ] = true;
      updateSession( pref );       
    }
    
    $(document).ready(function() {
      get_content("/users/dashboard_updates","#updates_target");
      
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var active_tab = $(e.target).attr("href") // activated tab
        if(active_tab == "#comments"){
          var url = "/comments?partial=true";
          var target = "#comments_target";
        }else if(active_tab == "#updates_by_you"){          
          var url = "/users/dashboard_updates?filter=you";
          var target = "#updates_by_you_target";
        }else{
          var url = "/users/dashboard_updates";
          var target = "#updates_target";
        }
        get_content(url, target);
      })
      
      $('.subscriptionsettings').subscriptionSettings()
      $('abbr.timeago').timeago()
      if ((new Date()).getTime() - CACHED_AT.getTime() > 5000) {
        $('#flash').hide()
      }
      var dayInSeconds = 24 * 60 * 60,
          now = new Date(),
          monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      
      var elt = $('abbr.compact.date:first')
      if (elt.length > 0) {
        var dateString = $(elt).attr('title').split('T')[0],
            timeString = $(elt).attr('title').split('T')[1],
            d = new Date(Date.parse($(elt).attr('title')))

        $('abbr.compact.date').each(function() {
          var dateString = $(this).attr('title').split('T')[0],
              timeString = $(this).attr('title').split('T')[1],
              d = new Date(Date.parse($(elt).attr('title')))
          if (!timeString.indexOf(':') || typeof(d) != 'object') { return }
          if (now.getFullYear() == d.getFullYear() &&
              now.getMonth() == d.getMonth() &&
              now.getDate() == d.getDate()) {
            return 
          }
          $(this).html(monthNames[d.getMonth()] + ' ' + d.getDate())
        })
      }

      $("#subscribeModal").on("show.bs.modal", function(e) {
        $this = $(this);
        taxonLabel = $this.find("#subscribeTaxonLabel");
        subscribe_type = (taxonLabel.css('display') == 'none') ? "place" : "taxon";   
        subscribe_url = "/subscriptions/new?type=" + subscribe_type + "&partial=form&authenticity_token=" + $('meta[name=csrf-token]').attr('content');
        $.ajax({
            url: subscribe_url,
            cache: false,
            success: function(html){
              $this.find(".modal-body").append(html);
            }
        });
      });

      $("#subscribeModal").on("hide.bs.modal", function(e) {
        $(this).find(".modal-body").children("form").remove()
      });
      
      $("a[data-subscribe-type]").click(function(e){
        subscribeType = $(this).data("subscribe-type")
        if(subscribeType == "taxon"){
          $("#subscribeTaxonLabel").show();
          $("#subscribePlaceLabel").hide();
          $("#subscribeTaxonBody").show();
          $("#subscribePlaceBody").hide();
        }else{
          $("#subscribePlaceLabel").show();
          $("#subscribeTaxonLabel").hide();
          $("#subscribePlaceBody").show(); 
          $("#subscribeTaxonBody").hide();         
        }
      });
      
      $("a[data-panel-type]").click(function(e){
        e.preventDefault()
        panelType = $(this).data("panel-type")
        close_panel(this, panelType)
      });
  
      $("[data-toggle=popover]").popover();
    
      $(".dashboard_tab").click(function(){
         $(".dashboard_tab").removeClass("active");
         $(this).addClass("active");
      });
      
    })
  </script>
<%- end -%>

<div class="container" style="background-color:white">
  <% if announcement = @announcements.detect{|a| a.placement == 'users/dashboard'} -%>
    <div class="column span-24">
      <%= announcement.body.html_safe %>
    </div>
  <% end -%>
  
  <%= render :partial => "shared/by_login_header_bootstrap", :locals => { :user => current_user } %>

  <div class="col-md-8"  style="background-color:white">
    <div class="tabbable">
      <div class="row dashboard_tab_row">
        <div class="btn-group">
          <a class="btn btn-default dashboard_tab active" href="#updates" data-toggle="tab"><%=t :all_updates %></a>
    		  <a class="btn btn-default dashboard_tab" href="#updates_by_you" data-toggle="tab"><%=t :your_content %></a>
    		  <a class="btn btn-default dashboard_tab" href="#comments" data-toggle="tab"><%=t :real_time_discussions %></a>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="updates">
          <% if !@has_updates -%>
            <% if current_user.observations_count < 4 && !current_user.prefers_hide_observe_onboarding -%>
              <div class="panel panel-success" id="observe_panel">
                <div class="panel-heading">
                  <a data-panel-type="observe" class="close">&times;</a>
                  <h3 class="panel-title" style="font-size:20px"><%=t 'onboarding.observe_panel_title' %></h3>
                </div>
                <div class="panel-body">
                  <%- if @local_onboarding_content[:target_taxa] %>
                    <p class="lead">
                      <%= @local_onboarding_content[:local_results] ? t('onboarding.observe_panel_body_p1_local') : t('onboarding.observe_panel_body_p1_global') %>
                    </p>
                    <div class="row">
                      <% for taxon in @local_onboarding_content[:target_taxa] %>
                        <%= render(:partial => 'favorites', :locals => {:taxon => taxon}) %>
                      <% end %>
                    </div>
                  <% end -%>
                  <div class="media">
                    <div class="media-body">
                      <p class="lead"><%= t('onboarding.observe_panel_body_p2', site_name: SITE_NAME.gsub(".org",""), new_observation_path: new_observation_path).html_safe %></p>
                      <p><%= t( 'onboarding.observe_panel_body_p3' )%></p>
                    </div>
                    <div class="media-right"><img class="media-object"  src="http://static.inaturalist.org/wiki_page_attachments/615-original.jpg" style="padding: 0 0 0 10px"></div>
                  </div>
                </div>
                <div class="panel-footer">
                  <%= link_to observations_path, class: "btn btn-primary btn-md" do %>
                    <%=t :browse_observations %> <span class="glyphicon glyphicon-chevron-right"></span>
                  <% end %>
                  <%= link_to "/pages/getting+started", target: "_blank" do %>
                    <span class="glyphicon glyphicon-info-sign"></span> <%=t :getting_started_guide %>
                  <% end %>
                </div>        
              </div>
            <% end -%>

            <% if current_user.friendships.count < 4 && !current_user.prefers_hide_follow_onboarding && @local_onboarding_content[:to_follows]-%>
              <div class="panel panel-success" id="follow_panel">
                <div class="panel-heading">
                  <a data-panel-type="follow" class="close">&times;</a>
                  <h3 class="panel-title"> <%= @local_onboarding_content[:local_results] ? t('onboarding.follow_panel_title_local') : t('onboarding.follow_panel_title_global') %></h3>
                </div>
                <div class="panel-body">
                  <p><%=t 'onboarding.follow_panel_body' %></p>  
                  <div class="row">
                    <% @local_onboarding_content[:to_follows].each do |to_follow| %>
                      <%= render(:partial => 'followees', :locals => {:friend => to_follow}) %>
                    <% end %>
                  </div>
                </div>
                <div class="panel-footer">
                  <%= link_to people_path, class: "btn btn-primary" do %>
                    <%=t :browse_people %> <span class="glyphicon glyphicon-chevron-right"></span>
                  <% end %>  
                </div>
              </div>                
            <% end -%>
          <% end -%>
          <% if @has_updates && !current_user.prefers_hide_activity_onboarding -%>
            <div class="panel panel-info" id="activity_panel">
              <div class="panel-heading">
                <a data-panel-type="activity" class="close">&times;</a>
                <h3 class="panel-title"><%=t 'onboarding.youve_got_updates_panel_title' %></h3>
              </div>
              <div class="panel-body">
                <p class="lead"><%= t('onboarding.youve_got_updates_panel_body_p1', site_name: SITE_NAME.gsub(".org",""))%></p>                    
                <%= t('onboarding.youve_got_updates_panel_body_p2', site_name: SITE_NAME.gsub(".org","")).html_safe%>                  
              </div>
              <div class="panel-footer"><a class="btn btn-primary" data-panel-type="activity"><%= t(:got_it!) %></a></div>
            </div>                
          <% end -%>
          <div id="updates_target">
            <div class="loading"><%=t :loading %></div>
          </div>
        </div>
        <div class="tab-pane" id="updates_by_you">    
          <% unless current_user.prefers_hide_updates_by_you_onboarding -%>
            <div class="panel panel-info" id="updates_by_you_panel">
              <div class="panel-heading">
                <a data-panel-type="updates_by_you" class="close">&times;</a>
                <h3 class="panel-title"><%= t('onboarding.updates_by_you_panel_title') %></h3>
              </div>
              <div class="panel-body"><%= t('onboarding.updates_by_you_panel_body') %></div>
              <div class="panel-footer"><a class="btn btn-primary" data-panel-type="updates_by_you"><%= t(:got_it!) %></a></div>
            </div>                
          <% end -%>
          <div id="updates_by_you_target">
            <div class="loading"><%=t :loading %></div>
          </div>
        </div>
        <div class="tab-pane" id="comments">
          <% unless current_user.prefers_hide_comments_onboarding -%>
            <div class="panel panel-info" id="comments_panel">
              <div class="panel-heading">
                <a data-panel-type="comments" class="close">&times;</a>
                <h3 class="panel-title"><%= t('onboarding.comments_panel_title', site_name: SITE_NAME.gsub(".org","")) %></h3>
              </div>
              <div class="panel-body">                  
                 <%= t('onboarding.comments_panel_body', site_name: SITE_NAME.gsub(".org","")).html_safe %>                 
              </div>
              <div class="panel-footer"><a class="btn btn-primary" data-panel-type="comments"><%= t(:got_it!) %></a></div>
            </div>                
          <% end -%>
          <ul class="timeline" id="comments_target">
            <div class="loading"><%=t :loading %></div>
          </ul>          
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"  style="padding-left:25px">
    <%= link_to new_observation_path, :id => "obsbutton", :class => "btn btn-default btn-lg  nav-justified" do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%= t(:add_observations) %>
    <% end %>
    
    <% if (announcement = @announcements.detect{|a| a.placement == 'users/dashboard#sidebar'}) && !user_seen_announcement?(announcement) -%>
      <%= announcement.body.html_safe %>
    <% end -%>
    
    <h3 class="page-header">
      <%= t :subscriptions %>
      <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="top" data-content="<%= t :subscribe_to_places_to %>"></span>
    </h3>
    <% unless @subscriptions.blank? %>
      <% for resource_type, subscriptions in @subscriptions.group_by(&:resource_type) %>
        <h4><%= t(resource_type.humanize.pluralize.downcase, :default => resource_type.humanize.pluralize) %></h4>
        <ul class="list-group">
          <% for subscription in subscriptions %>
            <li class="list-group-item">
              <%= link_to edit_subscription_path(subscription), :class => "pull-right" do %>
                <span class="glyphicon glyphicon-cog"></span>                
              <% end %>
              <%= subscription.resource.try_methods(:display_name, :name, :title)%>
              <% if subscription.taxon -%>
                (<%= subscription.taxon.name %>)
              <% end -%>
            </li>                  
          <% end %>
        </ul>
      <% end %>
    <% end %> 
    
    <div class="list-group">
      <%= link_to "#", "data-subscribe-type" => "taxon", "data-toggle" => "modal", "data-target" => "#subscribeModal", :class => "list-group-item" do %>
        <span class="glyphicon glyphicon-leaf"></span>
        <%=t :subscribe_to_a_taxon %>
      <% end -%>
      <%= link_to "#", "data-subscribe-type" => "place", "data-toggle" => "modal", "data-target" => "#subscribeModal", :class => "list-group-item" do %>
        <span class="glyphicon glyphicon-map-marker"></span>
        <%=t :subscribe_to_a_place %>
      <% end -%>
      <%= link_to subscriptions_path, :class => "list-group-item" do %>
        <span class="glyphicon glyphicon-wrench"></span>
        <%=t :manage_subscriptions %>
      <% end -%>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="subscribeModal" tabindex="-1">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title" id="subscribePlaceLabel"><%=t :subscribe_to_a_place %></h4>
           <h4 class="modal-title" id="subscribeTaxonLabel"><%=t :subscribe_to_a_taxon %></h4>
         </div>
         <div class="modal-body">
           <p id="subscribeTaxonBody"><%=t :subscribe_to_observations_in_a_taxon %></p>
           <p id="subscribePlaceBody"><%=t :subscribe_to_observations_in_a_place %></p>
         </div>
       </div>
     </div>
    </div>     
     
    <h3 class="page-header"><%=t :more %>..</h3>
    <% unless current_user.prefers_hide_getting_started_onboarding -%>
      <div class="panel panel-default" id="getting_started_panel">
        <div class="panel-heading">
          <a data-panel-type="getting_started" class="close">&times;</a>
          <h3 class="panel-title">
            <%=t :getting_started_guide %>
          </h3>
        </div>
        <div class="panel-body">
          <p><%=t :let_us_walk_you_through %></p>
          <%= link_to t(:get_started), "/pages/getting+started", class: "btn btn-default btn-md" %>
        </div>
      </div>
    <% end -%>
      
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%=t :blog_widget %></h3>
      </div>
      <div class="panel-body">
        <p><%= t :show_off_your_recent_observations %></p>
        <p>
          <%= link_to t(:learn_more), {:controller => "observations", :action => "widget"}, :class => "btn btn-default btn-md" %>
        </p>
      </div>
    </div>

    <% if current_user.is_curator? -%>
      <h3 class="page-header">
        <%= t :curation %>
        <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="top" data-content="<%= t(:youre_a_site_curator_which_means, email: CONFIG.help_email).html_safe %>"></span>
      </h3>
      <% unless @flags.blank? -%>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-flag"></span> <%= t(:flag).pluralize %>
              <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="top" data-content="<%= t(:these_are_items_people_on, email: CONFIG.help_email).html_safe %>"></span>
            </h3>
          </div>
          <div class="list-group">
            <% for flag in @flags %>
              <%-  
                flaggable = flag.flaggable
                flaggable_class = flaggable.class
                flaggable = flaggable.becomes(Photo) if flaggable.is_a?(Photo)
              -%>
              <%= link_to flag, class: "list-group-item" do %>
                <span class="pull-right">
                  <span class="glyphicon glyphicon-comment"></span> <%= flag.comments.size %></span>
                  <% if flag.user -%>
                    <%= flag.user.login %>
                  <% else %>
                    <%= CONFIG.site_name_short %>
                  <% end -%>
                  <%= t(:flagged) %>
                  <strong>
                  <%= 
                    if flaggable.respond_to?(:user) && flaggable.user
                      "#{flaggable.user.login}'s"
                    else
                      t(:a)
                    end
                  %>
                  <%= flaggable_class.name.humanize.downcase %>
                  </strong>
                  <%=t :because_of %>: 
                  <%= flag.flag %>
              <% end %> 
            <% end %>
          </div>
        </div>      
      <% end -%>
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-leaf" style="" aria-hidden="true"></span> <%=t :ungrafted_taxa %>
            <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="top" data-content="<%= t(:these_are_taxa_that, site: CONFIG.site_name_short).html_safe %>"></span>
          </h3>
        </div>
        <ul class="list-group">
          <% for taxon in @ungrafted_taxa %>
            <li class="list-group-item">
              <%= link_to taxon_path(taxon), class: "pull-right" do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to_taxon taxon %>        
            </li>
          <% end %>
        </ul>
        <div class="panel-footer">
          <%= link_to t(:curate_taxa), curate_taxa_path, class: "btn btn-primary btn-sm" %>
          <%= link_to t(:create_a_new_taxon), new_taxon_path, class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    <% end -%>
    
  </div>
</div>

