<% content_for(:title) do %> <%= t(:edit_your_account_and_profile) %><% end %>
<% content_for(:extracss) do %>
<style type="text/css" media="screen">
  textarea{width:330px;}
  .usericon{float:left;margin-right:1em;border:2px solid #ddd;}
  #preferencescol .field label{display:inline;}
  #providercol ul{margin:0;padding:0;}
  #providercol li{list-style-type:none;}
</style>
<!--[if lt IE 7]>
  <%= stylesheet_link_tag 'blueprint/ie' %>
<![endif]-->
<% end -%>
<% content_for(:extrajs) do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#user_prefers_no_email').click(function() {
        $('#notificationpreferences input').attr('checked', !$(this).attr('checked'))
      })
      $('#notificationpreferences input').click(function() {
        $('#user_prefers_no_email').attr('checked', false)
      })
    })
  </script>
  <!--[if lt IE 8]>
  <script src="http://ie7-js.googlecode.com/svn/trunk/lib/IE8.js" type="text/javascript"></script>
  <![endif]-->
<% end %>
<div id="pageheader">
  <div id="nav" class="clear">
    <div class="breadcrumbs">
      <%= link_to t(:back_to_your_profile), 
                  person_by_login_path(:login => current_user.login),
                  :class => 'back crumb' %>
    </div><!-- /#breadcrumbs -->
  </div>
  
  <h2><%= t(:edit_your_account_and_profile) %></h2>  
</div>

<div class="column span-18">
  <%= form_for(current_user, :url => person_path(current_user), :builder => DefaultFormBuilder, :html => {:multipart => true}) do |f| %>
    <%= error_messages_for :current_user %>
    <div class="column span-18 stacked">
      <%= image_tag(current_user.icon.url(:thumb), :class => 'usericon left') %>
      <%= f.file_field(:icon, :label => 'Icon/Photo', :class => 'text', :style => 'display: none', :accept => "image/jpg,image/jpeg,image/png,image/gif") %>
      <%= link_to_function('change', "$('#user_icon').show(); $(this).hide()", :class => 'button inlineblock') %>
    </div>
    <div class="column span-9">
      <%= f.text_field(:email, :class => "text", :required => true) %>
      <%= f.text_field(:name, :class => "text") %>
    </div>
    <div class="last column span-9">
      <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, 
        {:selected => current_user.time_zone}, 
        {:class => 'select', :description => t(:all_your_observations_will_default_to_this_time_zone)}) %>
    </div>
    <div class="column span-9">
      <%= f.text_area(:description, :label => t(:tell_everyone_a_little_about_you)) %>
    </div>
    <div id="preferencescol" class="last column span-9">
      <div class="stacked">
        <label><%= t(:receive_email_notifications_when_people_leave_you)%></label>
        <% for attr_name in User::NOTIFICATION_PREFERENCES %>
          <%= f.check_box "prefers_#{attr_name}", 
            :label => attr_name.humanize.capitalize.gsub(/ email notification/, '').pluralize, 
            :label_after => true %>
        <% end %>
      </div>
      
      <div class="stacked">
        <label>Or if you just don't want any email...</label>
        <%= f.check_box "prefers_no_email", 
          :label => "Don't send me any email!", 
          :label_after => true %>
      </div>
      
    </div>
    
    <div class="column span-18">
      <div id="licenses" class="stacked">
        <h3><%= t(:licensing) %></h3>
        <p class="ui description">
          <%= t(:licensing_your_content_gives_other_people_legal_right_to_use) %>
          <%= link_to_function t(:learn_what_these_licenses_mean), 
            "$('#aboutlicenses').dialog({width:'auto', modal:true, title: t(:about_the_cc_licenses)})" %>
        </p>
        
        <div class="column span-9 verticalmiddle licensechoices">
          <h4><%= t(:default_observation_license) %></h4>
          <% for code, name, description in Observation::LICENSES %>
            <%= f.radio_button :preferred_observation_license, code, 
              :label => "#{image_tag("#{code}.png")} #{t(name)}", :label_after => true %>
          <% end %>
          <%= f.radio_button :preferred_observation_license, nil, :label => t(:no_license_all_rights_reserved), :label_after => true,
            :description => t(:you_retain_full_copyright_over_your_content) %>
          <%= f.check_box :make_observation_licenses_same, :label => t(:update_existing_observations_with_new_license), :label_after => true %>
        </div>
        
        <div class="last column span-9 verticalmiddle licensechoices">
          <h4><%= t(:default_photo_license) %></h4>
          <% for code, name, description in Observation::LICENSES %>
            <%= f.radio_button :preferred_photo_license, code, 
              :label => "#{image_tag("#{code}.png")} #{t(name)}", :label_after => true %>
          <% end %>
          <%= f.radio_button :preferred_photo_license, nil, :label => t(:no_license_all_rights_reserved), :label_after => true,
            :description =>t(:you_retain_full_copyright_over_your_content) %>
          <%= f.check_box :make_photo_licenses_same, :label => t(:update_existing_photos_with_new_license), :label_after => true %>
        </div>
        
        <div class="last column span-18">
          <%= link_to_function "<span class='helptip'></span> About these licenses".html_safe, 
            "$('#aboutlicenses').dialog({width:'auto', modal:true, title: 'About Creative Commons licenses'})" %>
          <div id="aboutlicenses" class="dialog" style="display:none">
            <div class="column span-18 verticalmiddle">
              <% for code, name, description in Observation::LICENSES %>
                <div class="column span-9 <%= cycle '', 'last' %>">
                  <h4>
                    <%= image_tag("#{code}.png") %>
                    <%= t(name) %>
                  </h4>
                  <div class="stacked description">
                    <%= t(description) %>
                    <%= link_to t(:view_license), url_for_license(code), :class => "readmore" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          
          <p class="ui description">
            <%= t(:license_descriptions_and_images) %>
            &copy; <%= Date.today.year %> <%= t(:cc_used_under_a) %> <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons &mdash; Attribution 3.0 Unported
              &mdash; CC BY 3.0"><%= t(:cc_attribution_license) %></a>
          </p>
        </div>
      </div>
    </div>
    
    <div class="column span-18">
      <%= f.submit(t(:save), :class => 'default button', "data-loading-click" => t(:saving)) %>
    </div>
  <% end %>
  
</div><!-- end first col -->

<div class="column last span-6">
  <div id="providercol" class="stacked">
    <h3><%= t(:connected_accounts) %></h3>
    <ul>
      <% ProviderAuthorization::PROVIDERS.each do |provider| %>
        <% if current_user.has_provider_auth(provider) %>
          <li class="clear">
            <%= button_to t(:disconnect_provider, :provider => provider.capitalize), omniauth_disconnect_path(provider.downcase),
              :class => "providerlink #{provider.downcase} disabled button", :method => "delete" %>
          </li>
        <% else %>
          <li class="clear">
            <%= link_to t(:connect_to_provider, :provider => provider.capitalize), auth_url_for(provider.downcase), 
              :class => "providerlink #{provider.downcase} button" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <p class="ui description">
      <%= t(:connecting_your_inat_account_to_accounts_other_sites) %>
    </p>
  </div>
  
  <h3><%= t(:photo_hosting_accounts) %></h3>
  <ul>
    <li><%= link_to t(:link_or_unlink_your_flickr_account), {:controller => "flickr", :action => 'options'}, :class => 'readmore' %></li>
    <li><%= link_to t(:link_or_unlink_your_picasa_account), {:controller => "picasa", :action => 'options'}, :class => 'readmore' %></li>
    <li><%= link_to t(:link_or_unlink_your_facebook_account), {:controller => "facebook", :action => 'options'}, :class => 'readmore' %></li>
  </ul>
  
  <%= separator %>
  
  <div class="clear box">
    <%= link_to_toggle current_user.encrypted_password ? t(:change_your_password) : "Set a password", "#passwordform", :class => "ui" %>
    <%= form_for(current_user, :html => {:id => "passwordform", :style => "display:none"}) do %>
      <div class="stacked">
        <%= label(:password, 'New Password') %>
        <%= password_field_tag(:password, '', :class => 'text') %>
      </div>
      <div class="stacked">
        <%= label(:password_confirmation, t(:confirm_new_password)) %>
        <%= password_field_tag(:password_confirmation, '', :class => 'text') %>
      </div>
      
      <div class="clear">
      <%= submit_tag(t(:change_password), :class => 'button') %>
      </div>
    <% end %>
  </div>
  <%= button_to t(:delete_your_account), current_user, :method => :delete, 
    :confirm => t(:are_you_sure_want_delete_account), 
    :class => "minor delete button" %>
</div><!-- end side col -->
