- content_for :extrajs do
  :javascript
    var TIMEZONES = #{ ActiveSupport::TimeZone.all.map{|tz| { zic: tz.tzinfo.name, label: tz.to_s, value: tz.name } }.to_json.html_safe };
<<<<<<< HEAD
=======
    var AUTH_PROVIDER_NAMES = #{ ProviderAuthorization::PROVIDER_NAMES.to_json.html_safe };
    var AUTH_PROVIDER_URLS = #{ ProviderAuthorization::AUTH_URLS.reject {|provider,url| %w(soundcloud yahoo twitter).include?( provider ) || ( provider =~ /google/ && !@site.google_oauth_allowed? )}.to_json.html_safe };
>>>>>>> b78a98cea408cbeebf7d75ed55c64998c992a64a
  = javascript_include_tag "users-edit-webpack"
- content_for :extracss do
  = stylesheet_link_tag "users/edit"
#app