<% content_for(:title) do %>Edit Your Account &amp; Profile<% end %>
<% content_for(:extracss) do %>
<style type="text/css" media="screen">
  label{display:block;clear:right;margin-bottom:0.5em;}
  textarea,input.text{margin-top:0;}
  textarea{width:330px;}
  .field{margin-bottom:1em;}
  .usericon{float:left;margin-right:1em;border:2px solid #ddd;}
  #preferencescol .field label{display:inline;}
  #providercol ul{margin:0;padding:0;}
  #providercol li{list-style-type:none;}
</style>
<!--[if lt IE 7]>
  <%= stylesheet_link_tag 'blueprint/ie' %>
<![endif]-->
<% end -%>
<% content_for(:extrajs) do %>
  <!--[if lt IE 8]>
  <script src="http://ie7-js.googlecode.com/svn/trunk/lib/IE8.js" type="text/javascript"></script>
  <![endif]-->
<% end %>
<div id="pageheader">
  <div id="nav" class="clear">
    <div class="breadcrumbs">
      <%= link_to 'Back to your profile', 
                  person_by_login_path(:login => current_user.login),
                  :class => 'back crumb' %>
    </div><!-- /#breadcrumbs -->
  </div>
  
  <h2>Edit Your Account &amp; Profile</h2>  
</div>

<div class="column span-18">
  <% form_for(current_user, :url => person_path(current_user), 
              :html => {:multipart => true}) do |f| %>
    <%= error_messages_for :current_user %>
    <div class="column span-18 field">
      <%= image_tag(current_user.icon.url(:thumb), :class => 'usericon') %>
      <%= f.label(:icon, 'Icon/Photo') %>
      <%= link_to_function('change', "$('#user_icon').show(); $(this).hide()", :class => 'button') %>
      <%= f.file_field(:icon, :class => 'text', :style => 'display: none', :accept => "image") %>
    </div>
    <div class="column span-9">
      <div class="field">
        <%= f.label(:email) %>
        <%= f.text_field(:email, :class => "text", :required => true) %>
      </div>
      <div class="field">
        <label for="name">Full name</label>
        <%= f.text_field(:name, :class => "text") %>
      </div>
    </div>
    <div class="last column span-9 field">
      <%= f.label(:time_zone, 'Your default time zone')%>
      <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, {}, {:class => 'select'}) %>
      <div class="description">
        All your observations will default to this time zone unless you specify otherwise.
      </div>
    </div>
    <div class="column span-9 field">
      <%= f.label(:description, "Tell everyone a little about yourself") %>
      <%= f.text_area(:description) %>
    </div>
    <div id="preferencescol" class="last column span-9 field">
      <label>Receive email notifications when people leave you</label>
      <% f.fields_for current_user.preferences do |p| %>
        <% for attr_name in Preferences::NOTIFICATION_ATTRIBUTES %>
          <div class="field">
            <%= p.check_box attr_name %>
            <%= p.label attr_name,
              (attr_name.to_s.split('_').first=="project" ? "Project Invitations" :  attr_name.to_s.split('_').first.pluralize.capitalize)
            %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="column span-18 field">
      <%= f.submit("Save", :class => 'default button') %>
    </div>
  <% end %>
  
</div><!-- end first col -->

<div class="column last span-6">
  <div id="providercol" class="stacked">
    <h3>Connected Accounts</h3>
    <ul>
      <% ProviderAuthorization::PROVIDERS.each do |provider| %>
        <% if current_user.has_provider_auth(provider) %>
          <li class="clear">
            <%= link_to "Disconnect #{provider}", omniauth_disconnect_path(provider.downcase), 
              :class => "providerlink #{provider.downcase} disabled button", :method => "delete" %>
          </li>
        <% else %>
          <li class="clear">
            <%= link_to "Connect to #{provider}", auth_url_for(provider.downcase), :class => "providerlink #{provider.downcase} button" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <p class="ui description">
      Connecting your iNat account to accounts on other sites will allow you
      to login to iNat using your credentials from those sites.
    </p>
  </div>
  
  <h3>Photo Hosting Accounts</h3>
  <ul>
    <li><%= link_to "Link or unlink your Flickr account", {:controller => "flickr", :action => 'options'}, :class => 'readmore' %></li>
    <li><%= link_to "Link or unlink your Picasa account", {:controller => "picasa", :action => 'options'}, :class => 'readmore' %></li>
  </ul>
  
  <%= separator %>
  
  <div class="clear box">
    <%= link_to_toggle "Change Your Password", "#passwordform", :class => "ui" %>
    <% form_for(current_user, :html => {:id => "passwordform", :style => "display:none"}) do %>
      <div class="stacked">
        <%= label(:current_password, 'Current Password') %>
        <%= password_field_tag(:current_password, '', :class => 'text') %>
        <%= label(:password, 'New Password') %>
        <%= password_field_tag(:password, '', :class => 'text') %>
        <%= label(:password_confirmation, 'Confirm New Password') %>
        <%= password_field_tag(:password_confirmation, '', :class => 'text') %>
      </div>

      <%= submit_tag("Change Password", :class => 'button') %>
    <% end %>
  </div>
  <%= link_to "Delete your account", current_user, :method => :delete, :confirm => "Are you sure you want to delete your account?  This will delete all your data and cannot be undone, and we'll be sorry to see you go.", 
    :class => "minor delete button" %>
</div><!-- end side col -->
