<%- content_for(:title) do -%>
  Confirm your info
<%- end -%>
<div class="column prepend-4 span-8">
  <%= image_tag CONFIG.logo_icon_square_big, :width => 300  %>
</div>
<div class="column span-12 last">

  <%= form_for current_user, :builder => DefaultFormBuilder do |f| %>
    <%= error_messages_for :display_user %>
    <%= f.text_field :login, :label => "Please confirm your #{CONFIG.site_name_short} username", :class => "text", :required => true %>
    <%= f.text_field :email, :class => "text", :required => true %>
    <%= f.password_field :password, :class => 'text', :description => "Create a password to access this account from the #{CONFIG.site_name} iPhone or Android apps, or make one later after signing up." %>
    <%= f.password_field :password_confirmation, :class => 'text' %>
    
    <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, {}, {
      :label => "Your default time zone",
      :description => "All your observations will default to this time zone unless you specify otherwise.",
      :class => 'select'}) %>

    <%= render :partial => 'users/license_fields', :locals => {:builder => f} %>

    <%= f.submit "Save &amp; continue...".html_safe, :class => "default button" %>
  <% end %>
</div>

