<% content_for(:title) do %> <%= t(:edit_your_account_and_profile_html) %><% end %>
<% content_for(:extracss) do %>
<style type="text/css" media="screen">
  textarea{width:690px; height: 200px;}
  #preferencescol .field label{display:inline;}
  #providercol ul{margin:0;padding:0;}
  #providercol li{list-style-type:none;}
</style>
<!--[if lt IE 7]>
  <%= stylesheet_link_tag 'blueprint/ie' %>
<![endif]-->
<% end -%>
<% content_for(:extrajs) do %>
  <%= javascript_include_tag "users/edit" %>
  <!--[if lt IE 8]>
  <script src="http://ie7-js.googlecode.com/svn/trunk/lib/IE8.js" type="text/javascript"></script>
  <![endif]-->
<% end %>
<div id="pageheader">
  <div id="nav" class="clear">
    <div class="breadcrumbs">
      <%= link_to t(:back_to_your_profile), 
                  person_by_login_path(:login => @user.login),
                  :class => 'back crumb' %>
    </div><!-- /#breadcrumbs -->
  </div>
  
  <h2><%= t(:edit_your_account_and_profile_html) %></h2>  
</div>

<div class="column span-18">
  <%= form_for(@user, :url => person_path(@user), :builder => DefaultFormBuilder, :html => {:multipart => true}) do |f| %>
    <%= error_messages_for :user %>
    <div class="column span-18 stacked">
      <%= image_and_content image_tag( @user.icon.url(:thumb), class: "usericon" ) do %>
        <%= link_to_toggle t(:change_icon), "#iconfield" %>
        <div id="iconfield" style="display: none">
          <%= f.file_field :icon, label: false, accept: "image/jpg,image/jpeg,image/png,image/gif" %>
          <div>
            <%= check_box_tag :icon_delete %>
            <label for="icon_delete"><%=t :delete_icon? %></label>
          </div>
        </div>
      <% end %>
    </div>
    <div class="column span-9">
      <%= f.text_field(:login, :class => "text", :required => true, :label => t(:username), size: 30) %>
      <%= f.text_field(:email, :class => "text", :required => true, size: 30) %>
      <%= f.text_field(:name, :class => "text", size: 30) %>
    </div>
    <div class="last column span-9">
      <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, 
        {:selected => @user.time_zone}, 
        {:description => t(:all_your_observations_will_default_to_this_time_zone)}) %>
      <%-
        locales = I18N_SUPPORTED_LOCALES.map do |l|
          next if l.to_s == "iw"
          translated_label = t("locales.#{l}", locale: l, default: nil)
          viewer_label = t("locales.#{l}", default: l)
          label = [viewer_label, translated_label].compact.uniq.join(' / ')
          [label, l]
        end.compact.sort_by(&:first)
      -%>
      <%= f.select :locale, 
        locales, 
        :include_blank => t(:default), :description => t(:locale_description) %>
      <%= f.text_field :place_id, :placeholder => t(:start_typing_place_name), :description => t('views.users.edit.place_help_html'), :class => "placechooser" %>
    </div>
    <div class="last column span-18">
      <%= f.text_area(:description, :label => t(:tell_everyone_a_little_about_you)) %>
    </div>
    <div id="preferencescol" class="column span-9 stacked">
      <h3><%= t :email_settings %></h3>
      <div id="notificationpreferences" class="stacked">
        <label><%=t :receive_email_notifications_when_people_leave_you %></label>
        <% for attr_name in User::NOTIFICATION_PREFERENCES %>
          <%= f.check_box "prefers_#{attr_name}", 
            :label => t(attr_name.gsub(/_email_notification/, '').pluralize).mb_chars.capitalize, 
            :label_after => true %>
        <% end %>
      </div>
      
      <div class="stacked">
        <label><%= t :or_if_you_dont_want_email %></label>
        <%= f.check_box "prefers_no_email", 
          :label => t(:dont_send_me_email), 
          :label_after => true %>
      </div>

      <h3><%= t :activity_settings %></h3>
      <div class="stacked">
        <%= f.check_box "prefers_receive_mentions",
          label: t(:notify_me_of_mentions),
          label_after: true %>
      </div>
      <div class="stacked">
        <%= f.check_box "prefers_redundant_identification_notifications",
          label: t(:notify_me_about_redundant_identifications),
          description: t(:notify_me_about_redundant_identifications_desc),
          label_after: true %>
      </div>

      <a name="projects"></a>
      <h3><%=t :project_settings %></h3>
      <div class="stacked">
        <label><%=t :which_projects_can_add_your_observations? %></label>
        <% for pref in [User::PROJECT_ADDITION_BY_ANY, User::PROJECT_ADDITION_BY_JOINED, User::PROJECT_ADDITION_BY_NONE] %>
          <%= f.radio_button "preferred_project_addition_by", 
            pref, 
            label: t("views.users.edit.project_addition_preferences.#{pref}"), 
            label_after: true %>
        <% end %>
        <div class="description">
          <%=t 'views.users.edit.project_settings_desc' %>
        </div>
      </div>
    </div>

    <div class="last column span-9 stacked">
      <h3><%= t :taxon_change_settings %></h3>
      <div class="stacked">
        <%= f.check_box "prefers_automatic_taxonomic_changes", 
          :label => t(:automatically_update_my_content_for_taxon_changes),
          :label_after => true,
          :description => t('views.users.edit.taxon_change_desc', :site_name => @site.preferred_site_name_short) %>
      </div>
      
      <h3><%= t :community_moderation_settings %></h3>
      <%= f.check_box "prefers_community_taxa", 
        :label => t(:accept_community_identifications), 
        :label_after => true,
        :description => t('views.users.edit.prefers_community_taxa_desc', :site_name => @site.preferred_site_name_short) %>
      <%= f.select :preferred_observation_fields_by, [
          [t(:anyone), User::PREFERRED_OBSERVATION_FIELDS_BY_ANYONE],
          [t(:curators), User::PREFERRED_OBSERVATION_FIELDS_BY_CURATORS],
          [t(:only_you), User::PREFERRED_OBSERVATION_FIELDS_BY_OBSERVER]
        ], :description => t(:observation_fields_by_preferences_description) %>
    </div>
    
    <div class="column span-18">
      <%= separator %>
      <div id="licenses" class="stacked">
        <h3><%= t(:licensing) %></h3>
        <p class="ui description">
          <%= t('views.users.edit.licensing_desc_html', :site_name => @site.preferred_site_name_short) %>
          <%= link_to_function t(:learn_what_these_licenses_mean), 
            "$('#aboutlicenses').dialog({width:'auto', modal:true, title: '#{t(:about_the_cc_licenses)}'})" %>
        </p>
        
        <div class="column span-9 verticalmiddle licensechoices">
          <h4><%= t(:default_observation_license) %></h4>
          <% for code, name, description in Observation::LICENSES %>
            <%= f.radio_button :preferred_observation_license, code, 
              :id => "preferred_observation_license_#{code.to_s.parameterize}",
              :label => "#{image_tag("#{code}.png")} #{t(name)}", :label_after => true %>
          <% end %>
          <%= f.radio_button :preferred_observation_license, nil, :label => t(:no_license_all_rights_reserved), :label_after => true,
            :description => t(:you_retain_full_copyright_over_your_content, :site_name => @site.preferred_site_name_short) %>
          <%= f.check_box :make_observation_licenses_same, :label => t(:update_existing_observations_with_new_license), :label_after => true %>
        </div>
        
        <div class="last column span-9 verticalmiddle licensechoices">
          <h4><%= t(:default_photo_license) %></h4>
          <% for code, name, description in Observation::LICENSES %>
            <%= f.radio_button :preferred_photo_license, code, 
              :id => "preferred_photo_license_#{code.to_s.parameterize}",
              :label => "#{image_tag("#{code}.png")} #{t(name)}", :label_after => true %>
          <% end %>
          <%= f.radio_button :preferred_photo_license, nil, :label => t(:no_license_all_rights_reserved), :label_after => true,
            :description =>t(:you_retain_full_copyright_over_your_content, :site_name => @site.preferred_site_name_short) %>
          <%= f.check_box :make_photo_licenses_same, :label => t(:update_existing_photos_with_new_license), :label_after => true %>
        </div>

        <div class="last column span-9 verticalmiddle licensechoices">
          <h4><%= t(:default_sound_license) %></h4>
          <% for code, name, description in Observation::LICENSES %>
            <%= f.radio_button :preferred_sound_license, code, 
              :id => "preferred_sound_license_#{code.to_s.parameterize}",
              :label => "#{image_tag("#{code}.png")} #{t(name)}", :label_after => true %>
          <% end %>
          <%= f.radio_button :preferred_sound_license, nil, :label => t(:no_license_all_rights_reserved), :label_after => true,
            :description =>t(:you_retain_full_copyright_over_your_content, :site_name => @site.preferred_site_name_short) %>
          <%= f.check_box :make_sound_licenses_same, :label => t(:update_existing_sounds_with_new_license), :label_after => true %>
        </div>
        
        <div class="last column span-18">
          <%= link_to_function "<span class='helptip'></span> #{t(:about_these_licenses)}".html_safe,
            "$('#aboutlicenses').dialog({width:'auto', modal:true, title: '#{t(:about_the_cc_licenses)}'})" %>
          <div id="aboutlicenses" class="dialog" style="display:none">
            <div class="column span-18 verticalmiddle">
              <% for code, name, description in Observation::LICENSES %>
                <div class="column span-9 <%= cycle '', 'last' %>">
                  <h4>
                    <%= image_tag("#{code}.png") %>
                    <%= t(name) %>
                  </h4>
                  <div class="stacked description">
                    <%= t(description) %>
                    <%= link_to t(:view_license), url_for_license(code), :class => "readmore" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          
          <p class="ui description">
            <%= t(:license_descriptions_and_images) %>
            &copy; <%= Date.today.year %> <%= t(:cc_used_under_a) %> <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons &mdash; Attribution 3.0 Unported
              &mdash; CC BY 3.0"><%= t(:cc_attribution_license) %></a>
            (<%= t :so_meta! %>)
          </p>
        </div>
      </div>
    </div>

    <%- if @sites.size > 1 %>
      <div class="column span-18 stacked">
        <%= separator %>
        <h3><%= t :inaturalist_network_affiliation %></h3>
        <p>
          <%=t 'views.users.edit.inaturalist_network_affiliation_desc_html', url: '/pages/network' %>
        </p>
        <div class="verticalmiddle">
          <%- @sites.each do |site| %>
            <%= f.radio_button :site_id, site.id, 
              label: image_tag(site.logo.url), 
              label_after: true, 
              checked: site.id == @user.site_id %>
          <% end -%>
        </div>
      </div>
    <% end -%>
    
    <div class="column span-18">
      <%= f.submit(t(:save), :class => 'default button', "data-loading-click" => t(:saving)) %>
    </div>
  <% end %>
  
</div><!-- end first col -->

<div class="column last span-6">
  <div id="providercol" class="stacked">
    <h3><%= t(:connected_accounts) %></h3>
    <ul>
      <% ProviderAuthorization::PROVIDERS.each do |provider| %>
        <% if @user.has_provider_auth(provider) %>
          <li class="clear">
            <%= button_to t(:disconnect_provider, :provider => ProviderAuthorization::PROVIDER_NAMES[provider]), 
              omniauth_disconnect_path(provider),
              :class => "providerlink #{ProviderAuthorization::PROVIDER_NAMES[provider].downcase} disabled button", :method => "delete" %>
          </li>
        <% else %>
          <li class="clear">
            <%= link_to t(:connect_to_provider, :provider => ProviderAuthorization::PROVIDER_NAMES[provider]), 
              auth_url_for(provider), 
              :class => "providerlink #{ProviderAuthorization::PROVIDER_NAMES[provider].downcase} button" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <p class="ui description">
      <%= t(:connecting_your_inat_account_to_accounts_other_sites, :site_name => @site.preferred_site_name_short) %>
    </p>
  </div>
  
  <h3><%= t(:photo_hosting_accounts) %></h3>
  <ul>
    <li><%= link_to t(:link_or_unlink_your_flickr_account), {:controller => "flickr", :action => 'options'}, :class => 'readmore' %></li>
    <li><%= link_to t(:link_or_unlink_your_picasa_account), {:controller => "picasa", :action => 'options'}, :class => 'readmore' %></li>
    <li><%= link_to t(:link_or_unlink_your_facebook_account), {:controller => "facebook", :action => 'options'}, :class => 'readmore' %></li>
  </ul>
  
  <%= separator %>
  
  <div class="clear box">
    <%= link_to_toggle @user.encrypted_password ? t(:change_your_password) : "Set a password", "#passwordform", :class => "ui" %>
    <%= form_for(@user, :html => {:id => "passwordform", :style => "display:none"}) do %>
      <div class="stacked">
        <%= label(:password, t(:new_password)) %>
        <%= password_field_tag(:password, '', :class => 'text') %>
      </div>
      <div class="stacked">
        <%= label(:password_confirmation, t(:confirm_new_password)) %>
        <%= password_field_tag(:password_confirmation, '', :class => 'text') %>
      </div>
      
      <div class="clear">
        <%= submit_tag(t(:change_password), :class => 'button') %>
      </div>
    <% end %>
  </div>
  <%= button_to t(:delete_your_account), @user, :method => :delete, 
    :data => {:confirm => t(:are_you_sure_want_delete_account)}, 
    :class => "minor delete button" %>
</div><!-- end side col -->
