<%- content_for(:title) do -%>
  <%= t(:choose_your_username) %>
<%- end -%>
<div class="column prepend-4 span-8">
  <img src="<%= image_path("logo-bird-300px-trans.png") %>" width="300" height="237" />
</div>
<div class="column span-8 append-4 last">

  <%= form_for(current_user, :url => person_path(current_user)) do |f| %>
    <p class="ui">
      <%= label_tag 'login', t(:pick_a_username) %><br/>
      <%= f.text_field(:login) %>
    </p>
    <p><%= submit_tag t(:save), :class => "default button", :style => "float: none;" %></p>

  <% end %>
</div>
