<% content_for(:title) do %>
  <%= t(:people) %>
<% end %>
<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'users' %>
<% end %>
<%- content_for(:extrajs) do -%>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.userimagelink').imagesLoaded(function() {
        $('.userimage', this).centerInContainer()
      })
      $('abbr.timeago').timeago()
    })
  </script>
<%- end -%>
<div class="container">  
  <div id="pageheader" class="column span-24">
    <% if logged_in? -%>
      <div class="right inline smallbuttons buttonrow">
        <%= form_tag( search_path, method: :get, class: "last" ) do %>
          <%= hidden_field_tag "source[]", "users" %>
          <%= text_field_tag :q, @q, :class => 'text', :placeholder => t(:search_by_name_or_email), :style => "width: 150px;" %>
          <%= submit_tag t(:search), :class => 'last default button' %>
        <% end %>
      </div>
    <% end -%>
    <h2><%= t(:the_people_of_inat, :site_name => @site.name) %></h2>
  </div>

  <div id="recent" class="column span-24 stacked">
    <% cache @recently_active_key, :expires_in => 5.minutes do %>
      <h3>
        <span class="right meta ui small">
          <%= t :updated %>
          <abbr class="date timeago" title="<%=t :n_ago, :n => time_ago_in_words(Time.now.getutc.iso8601) %>"><%=t :n_ago, :n => time_ago_in_words(Time.now) %></abbr>
        </span>
        <%= t :recently_active %>
      </h3>
      <% if @updates.blank? %>
        <div class="noresults meta"><%= t :no_recent_activity %></div>
      <% else %>
        <% @updates.compact.each_with_index do |update,i| %>
          <div class="usercol column span-6 <%= 'last' if i % 4 == 3 %>">
            <% if update.user -%>
              <%= link_to user_image(update.user, :size => "medium", :class => "userimage"), update.user, 
                :class => :userimagelink %>
            <% else %>
              <%= link_to image_tag("/attachment_defaults/users/icons/defaults/medium.png", :class => "userimage"), update, :class => "userimagelink" %>
            <% end -%>
            <div class="blurb">
              <%= link_to_user update.user, :class => "userlink" %>
              <%- case update.class.name -%>
              <%- when 'Observation' %>
                <%= raw t 'people_added.observation', observation_url: observation_url( update ) %>
              <%- when 'Identification' %>
                <%
                  if update.observation
                    observation_link = link_to t(:observation), update.observation
                    user_link = link_to char_wrap(update.observation.user.login, 50), observations_path( user_id: update.observation.user.login )
                  end
                -%>

                <% if update.observation -%>
                  <%= raw t 'people_added.identification.with_observation', observation_link: observation_link, user_link: user_link %>
                <% else -%>
                  <%= t 'people_added.identification.without_observation' %>
                <% end -%>
              <%- when 'Post' %>
                <%-
                  if update.parent_type == "User"
                    post_link = link_to t(:journal_post), journal_post_path(update.user.login, update)
                  else
                    post_link = link_to t(:project_post), project_journal_post_path(update.parent, update)
                  end
                -%>
                <%= raw t 'people_added.post', post_link: post_link -%>
              <%- when 'Comment' %>
                <%-
                  if update.parent.is_a? Post
                    if update.parent.parent.is_a?(User)
                      subject_path = journal_post_path(update.parent.user.login, update.parent)
                    else
                      subject_path = project_journal_post_path(update.parent.parent, update.parent)
                    end
                  else
                    subject_path = update.parent
                  end

                  class_name = update.parent.class.name.underscore.humanize.downcase
                  comment_subject_link = link_to t(class_name, default: class_name), subject_path

                  by_link = nil
                  if update.parent.is_a?(Post) && update.parent.parent.is_a?(Project)
                    by_link = link_to char_wrap(h(update.parent.parent.title), 50), update.parent.parent
                  elsif update.parent.user
                    by_link = link_to char_wrap(h(update.parent.user.login), 50), observations_path( user_id: update.parent.user.login )
                  end
                -%>
                <% if by_link -%>
                  <%= raw t 'people_added.comment.with_by', by_link: by_link, comment_subject_link: comment_subject_link, gender: class_name, vow_or_con: class_name.first.downcase %>
                <% else -%>
                  <%= raw t 'people_added.comment.without_by', comment_subject_link: comment_subject_link, gender: class_name, vow_or_con: class_name.first.downcase %>
                <% end -%>
              <% end %>
              <abbr class="date timeago" title="<%=t :n_ago, :n => time_ago_in_words(update.created_at.iso8601) %>"><%=t :n_ago, :n => time_ago_in_words(update.created_at) %></abbr>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end -%>
  </div>

  <% cache @leaderboard_key, :expires_in => 1.day do %>
    <div id="leaderboard" class="stacked column span-24">
      <h3>
        <div class="right small meta ui">
          <%= t :updated_daily %>
          (<abbr class="meta ui stacked date timeago" data-now="<%= Time.now.getutc.iso8601 %>" title="<%=t :n_ago, :n => time_ago_in_words(Time.now.getutc.iso8601) %>"><%=t :n_ago, :n => time_ago_in_words(Time.now) %></abbr>)
        </div>
        <%= t :leaderboards %>
      </h3>
      
      <div class="column span-24 stacked">
        <%= render 'leaderboard_column', :noun => 'observation', :noun_plural => 'observations', :time_unit => 'month', :data => @most_observations %>
        <%= render 'leaderboard_column', :noun => 'species', :noun_plural => 'species', :time_unit => 'month', :data => @most_species %>
        <%= render 'leaderboard_column', 
          :noun => 'identification',
          :noun_plural => 'identifications',
          :time_unit => 'month', 
          :data => @most_identifications, 
          :last => true,
          :sub => Proc.new {|user, count| link_to( t(:x_identifications_html, count: count ), observations_path( user_id: user.login, on: Time.now.strftime( "%Y-%m" ) ) )} %>
        <div class="column span-24">
          <div class='meta'><%=raw t :observations_observed_this_month %></div>
          <%- prev_date = Date.today - 1.month -%>
          <%= link_to t(:view_leaderboard_from_last_month), leaderboard_for_people_path(:year => prev_date.year, :month => prev_date.month), :class => "readmore" %>
        </div>
      </div>

      <div class="column span-24">
        <%= render 'leaderboard_column', :noun => 'observation', :noun_plural => 'observations', :time_unit => 'year', :data => @most_observations_year %>
        <%= render 'leaderboard_column', :noun => 'species', :noun_plural => 'species', :time_unit => 'year', :data => @most_species_year %>
        <%= render 'leaderboard_column', 
          :noun => 'identification',
          :noun_plural => 'identifications',
          :time_unit => 'year', 
          :data => @most_identifications_year, 
          :last => true,
          :sub => Proc.new {|user, count| link_to( t(:x_identifications_html, count: count ), observations_path( user_id: user.login, on: Time.now.strftime( "%Y-%m" ) ) )} %>
        <div class="column span-24">
          <%- prev_date = Date.today - 1.year -%>
          <%= link_to t(:view_leaderboard_from_last_year), leaderboard_for_people_path(:year => prev_date.year), :class => "readmore" %>
        </div>
      </div>
    </div>
  <% end -%>

  <% cache @curators_key, :expires_in => 1.day do %>
    <div id="curators" class="column span-24">
      <h3><%= t :noble_curators, :site => @site.site_name_short %></h3>
      <p><%= t :these_folks_kindly_volunteer_to %></p>
      <% if !@curators.blank? %>
        <% @curators.each_with_index do |user, i| %>
          <div class="column span-6 <%= 'last' if i % 4 == 3 %>">
            <%= image_and_content user_image(user, :size => 'thumb'), :class => "stacked left" do %>
              <div class="large"><%= link_to_user user %></div>
              <div><%=t :x_taxa_curated_html, count: @updated_taxa_counts[user.id].to_i %></div>
              <div><%=t :x_taxon_changes_added_html, count: @taxon_change_counts[user.id].to_i %></div>
              <div><%=t :x_flags_resolved_html, count: @resolved_flag_counts[user.id].to_i %></div>
            <% end -%>
          </div>
        <% end %>
      <% else %>
        <div class="nocontent meta"><%= t :no_curators_yet %></div>
      <% end %>
    </div>
  <% end -%>
</div>
