<% content_for(:title) do %>
  People
<% end %>
<% content_for(:extracss) do %>
<style type="text/css" media="screen">
  table {width: 100%;}
  td .usericon{vertical-align:middle;}
  td{vertical-align:middle;}
  td .description{display:block;}
  #active .usericon{float:left;}
  #active .attr{display:block;padding-left:58px;color:#888;}
  #active .attr strong{font-weight:normal;color:#333;}
  #active .attr.login{font-size:120%;}
  #active .user{border-bottom:1px solid #ddd;padding-bottom:1em;margin-bottom:1em;}
  #letter_nav{font-size:100%;margin-bottom:1em;text-align:left;}
  #invite{float:right;}
  #invite .button{margin-right:0;}
</style>
<% end %>
<div class="container">  
  <div id="pageheader" class="column span-24">
    <% if logged_in? -%>
      <div class="right inline smallbuttons buttonrow">
        <%= link_to "Invite someone to iNat!", emailer_invite_path, :class => "inter" %>
        <span class="meta inter">or</span>
        <% form_tag(people_path, :method => :get, :class => "last") do %>
          <%= text_field_tag :q, @q, :class => 'text', :placeholder => "Search by name or email", :style => "width: 150px;" %>
          <%= submit_tag 'Search', :class => 'last default button' %>
        <% end %>
      </div>
    <% end -%>
    <h2>The People of iNaturalist</h2>
  </div>
  
  <div class="column span-17 append-1">
    <div id="letter_nav" class="pagination">
      <%= link_to "All", url_for(), :class => "#{'current' unless @letter}" %>
      <%- for letter in @alphabet -%>
        <%- css_class = "#{'current' if letter == @letter}" -%>
        <%= link_to letter.upcase, url_for(:letter => letter), :class => css_class -%>
      <%- end -%>
    </div>
    <%= render :partial => 'table' %>
  </div>
  
  <div id="activecol" class="last column span-6">
    <% cache "recently_active", :expires_in => 5.minutes do %>
      <div id="active" class="box">
        <h2>Recently Active</h2>
        <% if @updates.blank? -%>
          <div class="meta">
            No recent activity
          </div>
        <% else %>
          <% for user, updates in @updates %>
            <%- next unless user -%>
            <div class="clear readable user">
              <%= link_to(
                image_tag(user.icon.url(:thumb), :class => 'usericon'),
                observations_by_login_path(user.login)) %>
              <span class="login attr">
                <%= link_to char_wrap(h(user.login), 16), observations_by_login_path(user.login) %>
              </span>

              <span class="update attr">
                <%- update = updates.first -%>
                <%- case update.class.name -%>
                <%- when 'Observation' %>
                  added an
                  <%= link_to "observation", update %> of
                  <% if update.taxon -%>
                    <%= update.species_guess =~ /^[aeiou]/i ? 'an' : 'a' %>
                    <%= link_to update.species_guess, update.taxon %>
                  <% else %>
                    something
                  <% end -%>
                <%- when 'Identification' %>
                  added an <strong>ID</strong>
                  to an
                  <%= link_to 'observation', update.observation %>
                  by 
                  <%= link_to char_wrap(h(update.observation.user.login), 18), observations_by_login_path(update.observation.user.login) %>
                <%- when 'Post' %>
                  made a <%= link_to "journal post", journal_post_path(update.user.login, update) %>
                <%- when 'Comment' %>
                  <%- class_name = update.parent.class.name.underscore.humanize.downcase -%>
                  <strong>commented</strong> on
                  <%= class_name =~ /^[aeiou]/i ? 'an' : 'a' %>
                  <% if update.parent.is_a? Post -%>
                    <%= link_to class_name, journal_post_path(update.parent.user.login, update.parent) %>
                  <% else %>
                    <%= link_to class_name, update.parent %>
                  <% end -%>
                  <% if update.parent.user -%>
                    by <%= link_to char_wrap(h(update.parent.user.login), 18), observations_by_login_path(update.parent.user.login) %>
                  <% end -%>
                <% end %>
                on <%= update.created_at.to_s(:long) %>
              </span>
            </div>
          <% end %>
        <% end -%>
      </div>
    <% end -%>
  </div>
</div>
