<%- content_for(:title) do -%>
  <%= t(:sign_up) %>
<%- end -%>
<% content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #signup_form .formError {display: inline;}
    .providerlink, .button.providerlink { width: 140px; }
  </style>
<% end -%>
<%- content_for(:extrajs) do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.time_zone_select').selectLocalTimeZone();
    })
  </script>
<%- end -%>
<div class="column prepend-2 span-8">
  <%= image_tag @site.logo_square.url, :width => 300  %>
  
  <div style="margin: 20px 0 0 80px">
    <div style="margin-bottom: 0.5em;">
      <label><%= t(:or_you_can) %></label>
    </div>
    <%- ProviderAuthorization::AUTH_URLS.each do |provider, url| -%>
      <%= link_to t(:sign_in_with_provider, :provider => "#{provider}"), url, :class => "button providerlink #{provider.downcase}" %>
    <%- end -%>
  </div>
</div>
<div class="column span-12 append-2 last">
  <h2><%= t(:join) %> <%= @site.preferred_site_name_short %></h2>
  <%= render :partial => 'new_form' %>
</div>
