<%- content_for(:title) do -%>
  Sign up!
<%- end -%>
<% content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #signup_form .formError {display: inline;}
    .providerlink, .button.providerlink { width: 140px; }
  </style>
<% end -%>
<div class="column prepend-4 span-8">
  <img src="/images/bird.png" width="300" height="239" />
  
  <div style="margin: 20px 0 0 80px">
    <div style="margin-bottom: 0.5em;">
      <label>Or you can...</label>
    </div>
    <%- ProviderAuthorization::AUTH_URLS.each do |provider, url| -%>
      <%= link_to "Sign in with #{provider}", url, :class => "button providerlink #{provider.downcase}" %>
    <%- end -%>
  </div>
</div>
<div class="column span-10 append-2 last">
  <h2>Join iNaturalist!</h2>
  
  <%= error_messages_for :user, 
        :header_message => "Oops.",
        :message => "There were some problems with the following fields:" %>

  <% form_for :user, :url => users_path, :builder => DefaultFormBuilder, :html => { :id => 'signup_form' } do |f| -%>
    <%= f.text_field :login, :class => 'text', :label => "Login / username" %>
    <%= f.text_field :email, :class => 'text' %>
    <%= f.password_field :password, :class => 'text' %>
    <%= f.password_field :password_confirmation, :class => 'text' %>
    <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, {}, {
      :label => "Your default time zone",
      :description => "All your observations will default to this time zone unless you specify otherwise.",
      :class => 'select'}) %>

    <%= f.submit 'Sign up', :class => "default button" %>
  <% end -%>
</div>
