<ul>
  <% if @updates.blank? -%>
    <li class="meta nobr"><%= t :no_recent_activity %>.</li>
  <% end -%>
  <% for update in @updates %>
    <%- 
      next unless update.resource
      resource = update.resource
      link_subject = resource
      anchor = nil
      if update.notification == "mention"
        link_subject = update.notifier
      end
      if update.notifier_type == "Comment"
        anchor = "activity_comment_#{ update.notifier.try(:uuid) || update.notifier_id }"
      elsif update.notifier_type == "Identification"
        anchor = "activity_identification_#{ update.notifier.try(:uuid) || update.notifier_id }"
      end
    -%>
    <li>
      <a href="<%= polymorphic_url(link_subject, anchor: anchor) %>">
        <%= update_image_for(update, :width => 32) %>
        <span class="inlineblock">
          <span class="small meta">
            <%= compact_date(update.created_at) %>
          </span><br/>
          <%= update_tagline_for(update, :skip_links => true) %>
        </span>
      </a>
    </li>
  <% end %>
  <li>
    <center>
      <%= link_to t(:view_your_dashboard), home_url, :class => 'readmore' %>
    </center>
  </li>
</ul>
