- content_for(:title) do
  = @title = "Ranking Stats"
.container
  .row
    .col-xs-12
      #pageheader
        .breadcrumbs
          = link_to is_me?(@user) ? t(:back_to_your_profile) : t(:back_to_possessive_user_profile, possuser: @user.login), person_path(@user), class: "back crumb"
        %h2= @title
  .row
    .col-xs-12
      - if @ranking_stats_data[:in_progress]
        %p= @ranking_stats_data[:message]
  .row
    .col-xs-12
      #app

- content_for :extrajs do
  :javascript
    var RANKING_STATS_DATA = #{ @ranking_stats_data[:data].to_json.html_safe };
  = javascript_include_tag "webpack/react-dnd-webpack"
  = javascript_include_tag "webpack/react-dropzone-webpack"
  = javascript_include_tag "webpack/users-ranking-stats-webpack"

