<% content_for(:title) do %><%=h @user.login %>'s Profile<% end %>

<% content_for(:extracss) do %>
<%= stylesheet_link_tag "taxa" %>
<style type="text/css" media="screen">
  #medium_user_image { width:auto;}
  #medium_user_image img {max-width: 300px;}
  .wikipedia_summary { display: none;}
</style>
<!--[if lt IE 7]>
  <%= stylesheet_link_tag 'blueprint/ie' %>
<![endif]-->
<% end -%>

<% content_for(:extrajs) do %>
  <!--[if lt IE 8]>
  <script src="http://ie7-js.googlecode.com/svn/trunk/lib/IE8.js" type="text/javascript"></script>
  <![endif]-->
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#nodescription .cancellink').click(function(e) {
        $('#nodescription').removeClass('editing')
        $('#nodescription').find('.more').show()
        $('#nodescription').find('form').hide()
        e.stopPropagation()
        return false;
      })
      $('#nodescription').click(function(e) {
        if ($(this).hasClass('editing')) { return true };
        $(this).addClass('editing')
        $(this).find('.more').hide()
        $(this).find('form').show()
      })
    })
  </script>
<% end %>

<%= render :partial => "shared/by_login_header", :locals => { :model_name => "Profile" } %>

<div id="profilecol" class="column span-16">
  <div class="readable description">
    <% if @user.description.blank? %>
      <% if is_me?(@selected_user) -%>
        <div id="nodescription" class="clear small ui box">
          <div class="stacked">
            <strong>Tell the world a little bit about yourself by <%= link_to_function "filling out your profile", "" %>!</strong>
          </div>
          
          <div class="more">
            Do you study nematodes? Are you the world's foremost expert on
            barnacle taxonomy? Do you just like looking at pretty flowers?
            Filling out your profile adds some personality and helps establish
            your credibility when helping people out with identifications.
          </div>
          
          <%= form_for @selected_user, :html => {:style => "display: none"} do |f| %>
            <%= f.text_area :description, :style => "width: 590px; height: 100px;", :placeholder => "Describe your interest in nature!", :class => "stacked" %>
            <div class="actions">
              <%= f.submit "Save", :class => "default button", "data-loading-click" => true %>
              <a href="#" class="button cancellink">Cancel</a>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= @user.login %> is a naturalist!
      <% end -%>
    <% else %>
      <%= formatted_user_text(@user.description) %>
      <% if is_me?(@user) %>
        <%= link_to "Edit your profile", edit_person_path(current_user), :class => "small ui" -%>
      <% end %>
    <% end %>
  </div>

  <%= separator %>
  
  <div class="stacked clear">
    <h3>
      Some people
      <%= is_me?(@user) ? "you're following" : "#{h @user.login} follows" %>
    </h3>

    <% unless @followees.blank? %>
      <div class="clear">
        <% @followees.each do |friend| %>
          <div class="stacked column span-5">
            <%= link_to(
                  image_tag(friend.icon.url(:thumb), :class => 'left usericon'),
                  person_by_login_path(friend.login)) %>
            <div class="column span-3">
              <%= link_to friend.login, person_by_login_path(friend.login), :class => "readable nobr" %>
              <br/>
              <%= link_to("<span class='count'>#{friend.observations.count}</span> observations".html_safe, observations_by_login_path(friend.login)) %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="clear">
        <%= link_to 'View all', following_by_login_path(@user.login), :class => "readmore" %>
      </div>
    <% else %>
      <% if is_me?(@user) %>
        <p>You're not following anyone. Following other naturalists will allow you to easily track their latest observations. Go find out what people are <%= link_to "observing", observations_path %> and make some new <%= link_to "acquaintances", people_path %>.</p>
      <% else %>
        <p><%= @user.login %> is not following anyone.</p>
      <% end %>
    <% end %>
  </div>
  
  <% unless @favorite_listed_taxa.blank? -%>
    <%= separator %>
    <div class="clear">
      <h3>
        <%= possessive @selected_user, :capitalize => true %>
        <%= link_to "favorite taxa", @favorites_list %>
      </h3>
      <div class="clear taxa grid">
        <% for listed_taxon in @favorite_listed_taxa %>
          <%= render :partial => "taxa/taxon", :object => listed_taxon.taxon, :locals => {
            :link_image => true,
            :link_name => true,
            :image_options => {:size => "thumb"},
            :extra_class => cycle('first', '', '', '', 'last')
          } %>
        <% end %>
      </div>
      <div class="clear">
        <%= link_to "View all", @favorites_list, :class => "readmore" %>
      </div>
    </div>
  <% end -%>
  
  <% if @favorites_list.blank? && is_me?(@selected_user) -%>
    <%= separator %>
    <div class="quiet box" style="text-align: center;">
      Want to show off some of your favorite taxa here?
      <%= link_to "Create a list", new_list_path(:title => "Favorites") %>
      titled "Favorites" and the most recent additions will appear in this space.
    </div>
  <% end -%>
</div>

<div class="last column span-8">

  <% if @selected_user.icon? -%>
    <div id="medium_user_image" class="quiet box inlineblock">
      <%= user_image @user, :size => "medium" %>
    </div>
  <% end -%>
  
  <% unless @selected_user.name.blank? -%>
    <p class="description">
      aka <%= @selected_user.name %>
    </p>
  <% end -%>
  <%= render :partial => 'glance' %>
  
  <% if is_me?(@user) %>
    <ul class="readable leafylist">
      <li><%= link_to "Edit account settings &amp; profile".html_safe, edit_person_path(current_user) -%></li>
    </ul>
  <% end %>

</div>

<% if logged_in? && @user.id != current_user.id && (current_user.is_admin? || current_user.is_curator?) %>
  <div class="right clear ui description">
    <% if current_user.is_admin? -%>
      <% if @user.active? %>
        <%= link_to "Suspend user", suspend_user_path(@user) %>
      <% else %>
        <%= link_to "Unsuspend user", unsuspend_user_path(@user) %>
      <% end %>
    <% end -%>
    
    <% if current_user.is_curator? && !@user.is_admin? -%>
      |
      <% if @user.is_curator? %>
        <%= link_to "Remove curator status", remove_role_path(@user, :role => "curator"), :method => :delete %>
      <% else %>
        <%= link_to "Make curator", add_role_path(@user, :role => "curator"), :method => :post %>
      <% end %>
    <% end -%>
    
    <% if is_admin? -%>
      |
      <%= link_to "Curate user", curate_users_path(:id => @user.id) %>
    <% end -%>
  </div>
<% end %>
