<% content_for(:title) do %><%=h @user.login %>'s Profile<% end %>

<% content_for(:extracss) do %>
<style type="text/css" media="screen">
  #profilecol .usericon {
    margin: 0 1em 1em 1em;
    border: 2px solid #ddd;
  }
  
  .mini_user {
    width: 300px;
    float: left;
  }
  
  .mini_user img {
    float: left;
  }
</style>
<!--[if lt IE 7]>
  <%= stylesheet_link_tag 'blueprint/ie' %>
<![endif]-->
<% end -%>

<% content_for(:extrajs) do %>
  <!--[if lt IE 8]>
  <script src="http://ie7-js.googlecode.com/svn/trunk/lib/IE8.js" type="text/javascript"></script>
  <![endif]-->
<% end %>

<%- tools = capture do -%>
  <% if logged_in? && current_user.login == @login %>
    <div id="tools buttonrow">
      <%= link_to "Edit your profile", edit_person_path(current_user), 
                  :class => "default button"%>
    </div>
  <% end %>
<%- end -%>
<%= render :partial => "shared/by_login_header", :locals => { :after => tools, :model_name => "Profile" } %>

<div id="profilecol" class="column span-16">
  <div class="readable description">
    <% if @user.description.blank? %>
      <%= @user.login %> is a naturalist!
    <% else %>
      <%= formatted_user_text(@user.description) %>
    <% end %>
  </div>

  <hr/>
  
  <h3>Some people <% if is_me?(@user) %>you're following<% else %><%=h @user.login %> follows<% end %> (<%= link_to('view all', following_by_login_path(@user.login)) %>):</h3>
  
  <% if @user.friends.count > 0 %>
    <% @user.friends.each_with_index do |friend, idx| %>
      <div class="mini_user">
        <%= link_to(
              image_tag(friend.icon.url(:thumb), :class => 'usericon'),
              person_by_login_path(friend.login)) %>
        <p>
          <%= link_to friend.login, person_by_login_path(friend.login) %>
          <br/>
          <%= link_to("#{friend.observations.count} Observations", observations_by_login_path(friend.login)) %>
        </p>
      </div>
      <% if idx == 9; break; end;%>
    <% end %>
  <% else %>
    <% if is_me?(@user) %>
      <p>You're not following anyone. Following other naturalists will allow you to easily track their latest observations. Go find out what people are <%= link_to "observing", observations_path %> and make some new <%= link_to "acquaintances", people_path %>.</p>
    <% else %>
      <p><%= @user.login %> is not following anyone.</p>
    <% end %>
  <% end %>
</div>

<div class="last column span-8">
  
  <% if is_me?(@user) %>
    <ul class="readable leafylist">
      <li><%= link_to "Edit your profile", edit_person_path(current_user) -%></li>
    </ul>
  <% end %>

  <h3><%= "#{@user.login}" %> at a glance:</h3>
  <ul class="readable description leafylist">
    <li>
      <%= link_to pluralize(@user.observations_count, "observation"), observations_by_login_path(@user.login) %>
    </li>
    <li>
      <%= link_to pluralize(@user.life_list_taxa_count, "species"), @user.life_list %>
    </li>
    <li>
      <%= link_to pluralize(@user.lists.count, "list"), lists_by_login_path(@user.login) %>
    </li>
    <% if @user.journal_posts_count > 0 -%>
      <li>
        <%= link_to pluralize(@user.journal_posts_count, "journal post"), journal_by_login_path(@user.login) %>
      </li>
    <% end -%>
    <% if @user.identifications_count > 0 -%>
      <li>
        <%= link_to pluralize(@user.identifications_count, "identification"), identifications_by_login_path(@user.login) %>
      </li>
    <% end -%>
    <% if @user.followers.count > 0 -%>
      <li>
        <%= link_to pluralize(@user.followers.count, "follower"), followers_by_login_path(@user.login) %>
      </li>
    <% end -%>
    <% if @user.friendships.count > 0 %>
      <li>
        following
        <%= link_to pluralize(@user.friendships.count, "person"), following_by_login_path(@user.login) %>
      </li>
    <% end %>
    
    <% if @user.is_admin? -%>
      <li><%= @user.login %> is an <%= link_to "admin", help_path(:anchor => "curators") %></li>
    <% elsif @user.is_curator? %>
      <li><%= @user.login %> is a <%= link_to "curator", help_path(:anchor => "curators") %></li>
    <% end -%>
  </ul>  
</div>

<% if logged_in? && @user.id != current_user.id && (current_user.is_admin? || current_user.is_curator?) %>
  <div class="right clear ui description">
    <% if current_user.is_admin? -%>
      <% if @user.active? %>
        <%= link_to "Suspend user", suspend_user_path(@user) %>
      <% else %>
        <%= link_to "Unsuspend user", unsuspend_user_path(@user) %>
      <% end %>
      |
    <% end -%>
    
    <% if current_user.is_curator? && !@user.is_admin? -%>
      <% if @user.is_curator? %>
        <%= link_to "Remove curator status", remove_role_path(@user, :role => "curator"), :method => :delete %>
      <% else %>
        <%= link_to "Make curator", add_role_path(@user, :role => "curator"), :method => :post %>
      <% end %>
    <% end -%>
  </div>
<% end %>