.container
  .row
    .col-md-6.col-md-offset-3
      %h1=t :suspend_user_html, user: link_to_user( @user )
      = form_for @moderator_action, builder: BootstrapFormBuilder do | f |
        = f.text_area :reason, description: t( :suspend_user_reason_instructions_html, link_start_tag: "<a href=\"/pages/community+guidelines\">".html_safe, link_end_tag: "</a>".html_safe ), required: true, minlength: ModeratorAction::MINIMUM_REASON_LENGTH, maxlength: ModeratorAction::MAXIMUM_SUSPEND_REASON_LENGTH
        - if current_user.is_admin?
          = f.form_field :suspension_duration, label: t( :suspension_duration ) do
            = select_tag :suspension_duration, options_for_select( [[t( :suspension_duration_1_day ), "1_day"], [t( :suspension_duration_3_days ), "3_days"], [t( :suspension_duration_1_week ), "1_week"], [t( :suspension_duration_1_month ), "1_month"], [t( :suspension_duration_2_months ), "2_months"], [t( :suspension_duration_indefinite ), "indefinite"], [t( :suspension_duration_custom ), "custom"]], "1_day" ), class: "form-control", id: "suspension_duration"
          .custom-suspended-until-field{ style: "display: none;" }
            = f.form_field :suspended_until, label: t( :suspend_until ) do
              %input.form-control{ type: "datetime-local", id: "suspended_until_local", min: Time.now.strftime("%Y-%m-%dT%H:%M") }
              %p.help-block= t( :suspend_until_local_timezone_note )
          = f.hidden_field :suspended_until, id: "suspended_until_utc"
        = f.hidden_field :user_id
        = f.hidden_field :resource_type
        = f.hidden_field :resource_id
        = f.hidden_field :action
        = f.submit t(:suspend_user), class: "btn btn-primary"
        = link_to t(:cancel), :back, class: "btn btn-default"

- if current_user.is_admin?
  - content_for :extrajs do
    = javascript_include_tag 'users/suspend'