<h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :builder => DefaultFormBuilder,
    :html => { :method => :put, :class => "clear" }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <%= f.password_field :password, :label => "New password", :class => 'text' %>
  <%= f.password_field :password_confirmation, :label => "Confirm new password", :class => "text" %>
  <%= f.submit "Change my password", :class => "default button" %>
<% end %>
