<%- 
  item = activity_item || item
  return unless item
  taxon = update_cached(item, :taxon) if item.respond_to?(:taxon)
  observation = update_cached(item, :observation) if item.respond_to?(:observation)
  user = update_cached(item, :user) if item.respond_to?(:user)
-%>
<div id="<%= id_for(item) %>" class="<%= item.class.name.humanize.underscore %> item clear stacked">
  <div class="item_user column">
    <% if user -%>
      <%= link_to(
        image_tag(item.user.icon.url(:thumb), :class => 'usericon'),
        person_path(item.user)) %>
    <% end -%>
  </div>
  <div class="item_content last column">
    <%- if item.is_a? Identification %>
      <%= render :partial => "identifications/identification", :locals => { 
        :identification => item,
        :taxon => taxon,
        :observation => observation,
        :user => user
      } %>
    <% elsif item.is_a? ProjectInvitation %>
      <p>Please add this observation to</p>
      <%= render :partial => "project_invitations/project_invitation", 
        :object => item,
        :locals => { 
          :observation => observation,
          :truncation_length => 48 } %>
    <%- end -%>
    
    <% if item.respond_to?(:body) && !item.body.blank? -%>
      <div class="readable body"><%= formatted_user_text(item.body) %></div>
    <% end -%>
    
    <div class="meta">
      Posted by <%= link_to(truncate(you_or_login(item.user), :length => 20), person_path(item.user)) %>
      <span class="when">
        <abbr class="date timeago" title="<%= item.created_at.iso8601 %>"><%= time_ago_in_words(item.created_at) %> ago</abbr>
      </span>
      <span class="comment_actions">
        <%-
          pieces = []
          pieces << link_to("Edit", edit_comment_path(item)) if is_me?(item.user) && item.is_a?(Comment)
          if item.respond_to?(:deletable_by) && item.deletable_by?(current_user) || is_me?(item.user)
            pieces << link_to("Delete", item, 
                        :confirm => "Are you sure you want to delete this?", 
                        :method => :delete, 
                        :id => "delete_comment_#{item.id}_button")
          end
          pieces << link_to("Flag", new_flag_path("#{item.class.name.underscore}_id" => item), :class => "flaglink")
        -%>
        (<%= pieces.join(' | ').html_safe %>)
      </span>
    </div>
  </div>
</div>
