<%- 
  item = activity_item_for_dashboard || item
  return unless item
  taxon = item.taxon if item.respond_to?(:taxon)
  observation = item.observation if item.respond_to?(:observation)
  user = if item.is_a?(Flag)
    item.resolver
  elsif item.is_a?(ObservationFieldValue)
    item.updater || item.user
  elsif item.respond_to?(:user)
    item.user
  end
  return unless user || item.is_a?( Flag )
  edit_url = case item.class.name
  when "Comment" then edit_comment_path(item)
  when "Identification" then edit_identification_path(item)
  end
  hide_agree ||= false
  no_thumb ||= false
  no_meta ||= false
  context_around ||= nil
  posted_at ||= item.created_at
  posted_at = item.updated_at if item.is_a?(Flag)
  last ||= false
-%>

<li class="<%= ("id_refined" unless item.current?) if item.is_a? Identification  %> <%= "last" if last  %>">
  <div class="timeline-badge">
    <% if user && !no_thumb -%>
        <%= link_to image_tag(user.icon.url(:thumb), :class => 'img-circle padding'), person_path(user) %>
    <% end -%>
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h2 class="timeline-title">
        <span class="time">
          <%= compact_date( posted_at, obscured: item.is_a?( Observation ) && !item.coordinates_viewable_by?( current_user ) ) %>
        </span>
        <%- unless user.blank? || ( item.is_a?( Flag ) && item.resolver && user == item.resolver ) -%>
          <span style="font-weight:normal; color:gray">
            <%- title = link_to(truncate(you_or_login(user).downcase, :length => 20), person_path(user)) %>
            <%- if item.is_a? Identification %>
              <%=t :user_added_an_identification_html, user: title %>
            <% elsif item.is_a? Flag %>
              <%=t :user_added_a_flag_html, user: title %>
            <% elsif item.is_a? ObservationFieldValue %>
              <%=t :user_added_an_observation_field_value_html, user: title %>
            <% elsif item.is_a? ActsAsVotable::Vote %>
              <%=t :user_added_a_fave_html, user: title %>
            <% else %>
              <%=t :user_added_a_comment_html, user: title %>
            <%- end -%>
          </span>
        <%- end -%>
      </h2>
    </div>
    <div class="timeline-body">
      <%- if item.is_a? Identification %>
        <%= render :partial => "identifications/identification_for_dashboard", :locals => { 
          :identification => item,
          :taxon => taxon,
          :observation => observation,
          :user => user,
          :hide_agree => hide_agree
        } %>
      <% elsif item.is_a? Flag %>
        <div class="stacked body">
          <div class="stacked">
            <%- if item.user -%>
              <span class="meta"><%= t :originally_flagged_by %></span>
              <%= link_to_user item.user %>: "<%= item.flag %>"
            <%- else -%>
              <span class="meta"><%= t :original_flag %></span>
              "<%= item.flag %>"
            <%- end -%>
          </div>
          <%- if item.resolved? -%>
            <%= t(:flag_marked_as_resolved_html).html_safe %>
          <%- else -%>
            <%= t(:flag_marked_as_unresolved_html).html_safe %>
          <%- end -%>
          <% unless item.comment.blank? %>
            <%-
              username = if (u = item.resolver)
                link_to_user(u)
              elsif item.resolver_id.blank?
                @site.preferred_site_name_short
              else
                t(:deleted_user)
              end
            -%>
            <span class="meta"><%= username %> <%= t :said %>,</span>
            "<%= item.comment %>"
          <% end -%>
        </div>
      <% elsif item.is_a? ObservationFieldValue %>
        <div class="stacked body">
          <%= render "observation_fields/observation_field_value", :observation_field_value => item %>
        </div>
      <% elsif item.is_a? ActsAsVotable::Vote %>
        <div class="stacked body">
          <em class="meta nocontent">
            <i class="fa fa-star"></i>
            <%=t :added_to_favorites_html, url: faves_by_login_url(user.login) %>
          </em>
        </div>
      <%- end -%>

      <% text = if item.respond_to?(:body) && item.body
          item.body
        elsif item.respond_to?(:description) && item.description
          item.description
        end
      -%>
      <% unless text.blank? -%>
        <% if item.respond_to?(:hidden?) && item.hidden? %>
          <div class="text-muted well well-sm">
            <%=t :content_hidden %>
          </div>
        <% else %>
          <div class="readable body <%= "ident_comment" if item.is_a? Identification %>">
            <%- if context_around && context = text.context_of_pattern(context_around) %>
              <%= formatted_user_text(context) %>
            <% else -%>
              <%= formatted_user_text(text) %>
            <% end -%>
          </div>
        <% end %>
      <% end -%>
    </div>
  </div>
</li>

