<%- 
  value_width = max == 0 ? 0 : (value.to_f / max * 100).to_i
  remainder_width = 100 - value_width
  min_value_label_width ||= 10
  min_remainder_label_width ||= 25
  label_text ||= "&nbsp;".html_safe
-%>
<div class="datum" data-min-value-label-width="<%= min_value_label_width %>" data-min-remainder-label-width="<%= min_remainder_label_width %>" data-label-text="<%= label_text %>">
  <div class="value" style="width: <%= value_width %>%">
    <div class="label">
      <% if value_width > min_value_label_width -%>
        <% if remainder_width < min_remainder_label_width -%>
          <%= label_text %>
        <% else %>
          <%= value %>
        <% end -%>
      <% else %>
        &nbsp;
      <% end -%>
    </div>
  </div>
  <div class="remainder" style="width: <%= remainder_width %>%">
    <div class="label">
      <% if value_width <= min_value_label_width -%>
        <%- if remainder_width > min_remainder_label_width -%>
          <%= label_text %>
        <%- else -%>
          <%= value -%>
        <%- end -%>
      <% else %>
        &nbsp;
      <% end %>
    </div>
  </div>
</div>
