<%-
  model_name ||= controller.class.to_s.underscore.humanize.split.first
  title ||= if is_me?(@selected_user)
    if ![ 'Journal', 'Profile' ].include?(model_name)
        t(:second_person_possessive_singular, :noun => t(model_name.downcase).downcase)
    else
      t(:second_person_possessive_singular_, :noun => t(model_name.downcase).downcase)
    end
  else
    t(:third_person_possessive_singular, :noun => t(model_name.downcase).titleize, :object_phrase => @login)
  end
  before ||= nil
  after ||= nil
  after_title ||= nil
-%>
<div id="pageheader" class="byloginheader column span-24">
  <%= before %>
  <%= link_to(
    image_tag(@selected_user.icon.url(:thumb), :class => 'usericon'),
    person_by_login_path(@selected_user.login)) %>
  <h2><%= title %><%= after_title %></h2>
  <%= render :partial => 'users/subnav', 
             :locals => { :user => @selected_user } %>
  <%= after %>
</div>
