<%-
  model_name ||= controller.class.to_s.underscore.humanize.split.first
  title ||= t(:x_project_journal, :project => strip_tags(@parent_display_name), :name => t(model_name.downcase, :default => model_name))
  before ||= nil
  after ||= nil
  after_title ||= nil
  # JY: Added these, as they're expected:
  @display_project ||= project
-%>

<div id="pageheader" class="column span-24">
  <%= before %>
  <%= link_to image_tag(project.icon.url(:thumb), :alt => "#{h(project.title)} icon", :class => 'parenticon projecticon'), project %>
    <h2><%= title %><%= after_title %></h2>
  <%= render :partial => 'projects/subnav', 
             :locals => { :user => @selected_user} %>
  <%= after %>
</div>
