:ruby
  @selected_user ||= user
  model_name ||= controller.class.to_s.underscore.humanize.split.first
  title ||= if is_me?(@selected_user)
    if model_name != 'Journal'
      t(:second_person_possessive_singular, :noun => t(model_name.downcase).downcase)
    else
      t(:second_person_possessive_singular_, :noun => t(model_name.downcase).downcase)
    end
  else
    t(:third_person_possessive_singular, :noun => t(model_name.downcase).titleize, :object_phrase => @login)
  end
  before ||= nil
  after ||= nil
  after_title ||= nil
.col-md-12
  = before
  %h1
    = link_to(image_tag(@selected_user.icon.url(:thumb), :class => 'parenticon usericon'), person_by_login_path(@selected_user.login))
    -if controller.controller_name=="users" && ( controller.action_name=="show" || controller.action_name=="dashboard" )
      = @selected_user.login
      - if logged_in? && is_not_me?(@selected_user) && !current_user.blocked_by?( @selected_user )
        = link_to new_message_path(:to => @selected_user.login), :class => 'btn btn-primary btn-xs' do
          %span.glyphicon.glyphicon-envelope
          =t :message
        = friend_button current_user, @selected_user, {:id => 'follow_button'}
    -else
      = title
      = after_title
  = render :partial => 'users/subnav_bootstrap', :locals => { :user => @selected_user }
  = after
