:ruby
  model_name ||= controller.class.to_s.underscore.humanize.split.first
  title ||= t(:x_project_journal, :project => strip_tags(@parent_display_name), :name => t(model_name.downcase, :default => model_name))
  before ||= nil
  after ||= nil
  after_title ||= nil
  @display_project ||= project
#pageheader.col-md-12
  = before
  = link_to image_tag(project.icon.url(:thumb), :alt => "#{h(project.title)} icon", :class => 'parenticon projecticon'), project
  %h2
    = title
    = after_title
  = render :partial => 'projects/subnav', :locals => { :user => @selected_user }
  = after
