<%-
  model_name ||= controller.class.to_s.underscore.humanize.split.first
  title ||= if is_me?(@selected_user)
    if model_name == "Journal"
      t( "header_your_journal", default: false ) || t(:second_person_possessive_singular, :noun => t(:journal), gender: "journal" )
    elsif model_name == "Profile"
      t( "header_your_profile", default: false ) || t(:second_person_possessive_singular, :noun => t(:profile), gender: "profile" )
    else
      t( "header_your_#{model_name.pluralize.underscore}", default: false ) || t(:second_person_possessive_singular,
        noun: t(model_name.downcase.underscore),
        gender: model_name.underscore.singularize
      )
    end
  else
    t(:third_person_possessive_singular, :noun => t(model_name.downcase).titleize, :object_phrase => @login, gender: model_name.underscore.singularize )
  end
  before ||= nil
  after ||= nil
  after_title ||= nil
-%>
<div id="pageheader" class="byloginheader column span-24">
  <%= before %>
  <%= link_to(
    image_tag(@selected_user.icon.url(:thumb), :class => 'parenticon usericon'),
    person_by_login_path(@selected_user.login)) %>
  <h2><%= title %><%= after_title %></h2>
  <%= render :partial => 'users/subnav', 
             :locals => { :user => @selected_user } %>
  <%= after %>
</div>
