<% site = @site || CONFIG %>
<div id="footer" class="clear">
  <ul class="stacked">
    <li><%= link_to t(:home), root_path %></li>
    <% if logged_in? -%><li><%= link_to t(:dashboard), dashboard_path %></li><% end -%>
    <li><%= link_to t(:observations), observations_path %></li>
    <% if logged_in? -%>
      <li><%= link_to t(:your_observations), observations_by_login_path(current_user.login) %></li>
    <% end -%>
    <li><%= link_to t(:taxa), taxa_path %></li>
    <li>
      <%= link_to t(:view_non_mobile_site), toggle_mobile_path, :class => "box" %>
    </li>
    <% if logged_in? -%>
      <li><%= link_to t(:sign_out), logout_path, :class => "meta box" %></li>
    <% end -%>
  </ul>
  <div id="footer_text" class="stacked">

    <a href="<%= site.about_url %>"><%= t(:about_x, :x => SITE_NAME) %></a> &nbsp;
    <a href="<%= site.help_url %>"><%=t(:help)%></a> &nbsp;
    <a href="<%= site.terms_url %>"> <%= t(:terms_of_service) %></a> &nbsp;
    <a href="<%= site.privacy_url %>"><%= t(:privacy_policy) %></a> &nbsp;
    <p class="description">
      <%= t(:follow_us_on) %>
      <%=raw [
        link_to('Twitter', site.twitter_url),
        link_to('Facebook', site.facebook_url)
      ].join('  <span class="meta">&amp;</span> ') %>
    </p>
    <p>
      <a href="<%= site.iphone_app_url %>"><img src="<%= asset_path("apple_app_store.png") %>"></a> &nbsp;
      <a href="<%= site.android_app_url %>"><img src="<%= asset_path("android_market.png") %>"></a>
    </p>
  </div>

</div>
