<div id="footer" class="clear">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <% if logged_in? -%><li><%= link_to "Dashboard", dashboard_path %></li><% end -%>
    <li><%= link_to "Observations", observations_path %></li>
    <% if logged_in? -%>
      <li><%= link_to "Your observations", observations_by_login_path(current_user.login) %></li>
    <% end -%>
    <li><%= link_to "Taxa", taxa_path %></li>
    <li>
      <%= link_to "View non-mobile site", toggle_mobile_path, :class => "box" %>
    </li>
    <% if logged_in? -%>
      <li><%= link_to "Sign Out", logout_path, :class => "meta box" %></li>
    <% end -%>
  </ul>
</div>