- site = @site || CONFIG
#footer.clear
  .meta.stacked
    - if !site.twitter_url.blank? || !site.facebook_url.blank?
      %span.meta=t :follow_us
      :ruby
        pieces = []
        pieces << link_to(t(:facebook), site.facebook_url) unless site.facebook_url.blank?
        pieces << link_to(t(:twitter), site.twitter_url) unless site.twitter_url.blank?
        pieces << link_to(t(:our_blog), site.blog_url) unless site.blog_url.blank?
      =raw commas_and pieces
      |
    - if !site.iphone_app_url.blank? || !site.android_app_url.blank?
      :ruby
        pieces = []
        pieces << link_to(t(:iphone), site.iphone_app_url) unless site.iphone_app_url.blank?
        pieces << link_to(t(:android), site.android_app_url) unless site.android_app_url.blank?
      %span.meta
        = pieces.size == 1 ? t(:mobile_app_for) : t(:mobile_apps_for)
      =raw pieces.join("&amp;")
      |
    =t :powered_by_inaturalist_open_source_software_html
  .meta
    %a{:href => site.about_url}= t(:about_x, :x => site.try(:name) || SITE_NAME)
    &nbsp;
    %a{:href => site.help_url}= t :help
    &nbsp;
    %a{:href => site.feedback_url}= t :feedback
    &nbsp;
    %a{:href => site.terms_url}= t :terms_service
    &nbsp;
    %a{:href => site.privacy_url}= t :privacy
    &nbsp;
    %a{:href => site.developers_url}= t :developers
    &nbsp;
  - if site.custom_footer
    .meta.upstacked
      = raw site.custom_footer
- if defined?(is_mobile_device?) && is_mobile_device? && @mobilized
  .flash.notice
    = link_to t(:mobile_view_available), toggle_mobile_path, :id => "mobiletogglelink"
