- site = @site || CONFIG
#footer.clear
  .container.clear
    .column.span-24
      .column.span-4
        %p
          %a{:href => site.about_url}= t(:about_x, :x => site.try(:name) || SITE_NAME)
        %p
          %a{:href => site.help_url}= t :help
        %p
          %a{:href => site.feedback_url}= t :feedback
      .column.span-4
        %p
          %a{:href => site.developers_url}= t :developers
        %p
          %a{:href => site.terms_url}= t :terms_service
        %p
          %a{:href => site.privacy_url}= t :privacy
      .column.span-4
        :ruby
          pieces = []
          pieces << link_to(t(:facebook), site.facebook_url) unless site.facebook_url.blank?
          pieces << link_to(t(:twitter), site.twitter_url) unless site.twitter_url.blank?
          pieces << link_to(t(:our_blog).capitalize, site.blog_url) unless site.blog_url.blank?
        - if pieces.blank?
          &nbsp;
        - else
          - pieces.each do |link|
            %p= link
      .last.column.span-12
        = raw site.custom_footer if site.custom_footer
#inatnotice
  .container
    .column-24
      =t :powered_by_inaturalist_open_source_software_html
