- site = @site || CONFIG
- if logged_in?
  .bootstrap
    .container
      .row
        .col-xs-12
          .box.text-center.upstacked
            - if current_user.test_groups =~ /header-2018/
              - chosen_header_test = current_user.test_groups[/header-2018[^|]*/, 0]
              - opts = { "Try Version 1" => "header-2018", "Try Version 2" => "header-2018-2", "Try Version 3" => "header-2018-3", "Try Version 4" => "header-2018-4" }
              = form_tag join_test_user_path( current_user ), method: "put", class: "inlineblock" do
                %label Testing the new header
                = select_tag :test, options_for_select( opts, chosen_header_test ), data: { autosubmit: true }
                - %w(header-2018 header-2018-2 header-2018-3 header-2018-4).each do |test_group|
                  = hidden_field_tag "leave[]", test_group
                &nbsp;
                = link_to t(:what_do_you_think), "https://www.inaturalist.org/blog/15132-new-header"
              = form_tag leave_test_user_path( current_user ), method: "put", class: "inlineblock" do
                - %w(header-2018 header-2018-2 header-2018-3 header-2018-4).each do |test_group|
                  = hidden_field_tag "test[]", test_group
                &nbsp;
                = submit_tag t(:take_me_back), class: "btn btn-default btn-sm"
            - else
              = form_tag join_test_user_path( current_user ), method: "put", class: "inlineblock" do
                %label Want to test a new version of the header?
                = select_tag :test, options_for_select( opts ), data: { autosubmit: true }
#footer.bootstrap
  .container
    .row
      .col-xs-2
        %p
          %a{ href: site.about_url }=t :about
        %p
          %a{ href: site.help_url }=t :help
        %p
          %a{ href: site.feedback_url }=t :feedback
        - unless site.press_url.blank?
          %p
            %a{ href: site.press_url }=t :press
      .col-xs-2
        - unless site.blog_url.blank?
          %p
            %a{ href: site.blog_url }=t :our_blog
        %p
          %a{ href: site.community_guidelines_url }=t :community_guidelines
        %p
          %a{ href: site.terms_url }=t :terms_service
        %p
          %a{ href: site.privacy_url }=t :privacy
      .col-xs-1
        - unless site.facebook_url.blank?
          = link_to t(:facebook), site.facebook_url, :class => "social-media-link facebook"
        - unless site.twitter_url.blank?
          = link_to t(:twitter), site.twitter_url, :class => "social-media-link twitter"
      .col-xs-1
        &nbsp;
      = raw site.custom_footer if site.custom_footer
= raw site.custom_secondary_footer if site.custom_secondary_footer
#inatnotice.bootstrap
  .container
    .row
      .col-xs-12
        .links.inlineblock
          =t :member_of_the_inaturalist_network_html, url: "/pages/network"
          &nbsp;
          |
          &nbsp;
          =t :powered_by_inaturalist_open_source_software_html
          |
          &nbsp;
          =t :documentation_for_developers_html
        #footer-locale-chooser.btn-group.dropup.pull-right
          %button.btn.btn-default.dropdown-toggle{ data: { toggle: "dropdown" }, "aria-haspopup" => true, "aria-expanded" => false }
            %i.icon-ios-world
            = I18n.t( "locales.#{I18n.locale}" )
            %span.caret
            %span.sr-only=t :toggle_dropdown, default: "Toggle Dropdown"
          %ul.dropdown-menu
            - I18n.t( "locales", locale: :en ).keys.each do |locale|
              %li
                = link_to I18n.t( "locales.#{locale}", locale: locale ), set_locale_path( locale: locale )
