- site = @site || CONFIG

#footer.bootstrap
  .container
    .row
      .col-xs-3.links-col
        %p
          %a{ href: site.about_url }=t :about
        %p
          %a{ href: site.help_url }=t :help
        - if !site.discourse_url.blank?
          %p
            %a{ href: site.discourse_url }=t :forum
        - elsif !site.feedback_url.blank?
          %p
            %a{ href: site.feedback_url }=t :feedback
        - unless site.press_url.blank?
          %p
            %a{ href: site.press_url }=t :press
        - unless site.jobs_url.blank?
          %p
            %a{ href: site.jobs_url }=t :jobs
        - unless site.blog_url.blank?
          %p
            %a{ href: site.blog_url }=t :our_blog
        %p
          %a{ href: site.community_guidelines_url }=t :community_guidelines
        %p
          %a{ href: site.terms_url }=t :terms_service
        %p
          %a{ href: site.privacy_url }=t :privacy
      %div{ class: t(:donate, default: "donate" ).size > 7 ? "col-xs-3 buttons-col" : "col-xs-3 buttons-col short-text" }
        - if Site.default && @site && @site.id == Site.default&.id
          .one-line
            = link_to t(:donate), donate_path( utm_content: "footer-button", utm_campaign: "default", utm_medium: "web" ), class: "btn btn-inat btn-primary btn-block btn-donate", title: t(:donate)
            = link_to t(:store_caps, default: t( :store ) ), "https://store.inaturalist.org", class: "btn btn-inat btn-primary btn-block btn-donate", title: t(:store)
        .social-media
          - unless site.facebook_url.blank?
            = link_to site.facebook_url, :class => "social-media-link facebook", title: t(:facebook) do
              = image_tag "facebook-f-logo-white.svg"
          - unless site.twitter_url.blank?
            = link_to t(:twitter), site.twitter_url, :class => "social-media-link twitter", title: t(:twitter)
          - unless site.instagram_url.blank?
            = link_to t(:instagram), site.instagram_url, :class => "social-media-link instagram", title: t(:instagram)
      = raw site.custom_footer if site.custom_footer
= raw site.custom_secondary_footer if site.custom_secondary_footer
#inatnotice.bootstrap
  .container
    .row
      .col-xs-12
        .links.inlineblock
          =t :member_of_the_inaturalist_network_html, url: "/sites/network"
          &nbsp;
          |
          &nbsp;
          =t :powered_by_inaturalist_open_source_software_html
          |
          &nbsp;
          =t :documentation_for_developers_html
        #footer-locale-chooser.btn-group.dropup.pull-right
          %button.btn.btn-default.dropdown-toggle{ data: { toggle: "dropdown" }, "aria-haspopup" => true, "aria-expanded" => false }
            %i.icon-ios-world
            = I18n.t( "locales.#{I18n.locale}", default: I18n.t( "locales.#{I18n.locale.to_s.split( "-" )[0]}", default: I18n.locale.to_s ) )
            %span.caret
            %span.sr-only=t :toggle_dropdown, default: "Toggle Dropdown"
          %ul.dropdown-menu
            - locales_sorted_by_localized_name = I18n.t( "locales", locale: :en ).keys.sort_by { I18n.t( "locales.#{_1}", locale: _1, default: t( "locales.#{_1}" ) ).downcase }
            - locales_sorted_by_localized_name.each do |locale|
              %li
                = link_to I18n.t( "locales.#{locale}", locale: locale, default: t( "locales.#{locale}" ) ), set_locale_path( locale: locale ), title: t( "locales.#{locale}" )
            %li.divider{ role: "separator" }
            %li= link_to I18n.t( "help_translate!" ), "/pages/translate"
