<div id="footer" class="clear">
  <div id="footer_text" class="stacked">
    <a href="/about"><%=t :about %> <%= SITE_NAME %></a> &nbsp;
    <a href="/help"><%=t :help %></a> &nbsp;
    <a href="<%= INAT_CONFIG['feedback_url'] %>"><%=t :feedback %></a> &nbsp;
    <a href="/terms.html"><%=t :terms_service %></a> &nbsp;
    <a href="/privacy.html"><%=t :privacy%></a> &nbsp;
    <span class="description">|&nbsp; <%=t :follow_us %></span>
    <%= [
      link_to('Twitter', INAT_CONFIG['twitter'].try(:[], 'url')),
      link_to('Facebook', INAT_CONFIG['facebook'].try(:[], 'url'))
    ].join('  <span class="description">&amp;</span> ') %>
  </div>
  <div class="meta">
    Powered by <a href="https://github.com/inaturalist/inaturalist" target="_new" >iNaturalist</a> open source software
  </div>
  <div>
  </div>
</div>
<%- if is_mobile_device? && @mobilized -%>
  <div class="flash notice">
    <%= link_to t(:mobile_view_available), toggle_mobile_path, :id => "mobiletogglelink" %>
  </div>
<% end -%>
