<div id="footer" class="clear">
  <div class="meta stacked">
    <span class="meta"><%=t :follow_us %></span>
    <%=raw [
      link_to('Twitter', CONFIG.twitter.try(:url)),
      link_to('Facebook', CONFIG.facebook.try(:url))
    ].join('  <span class="meta">&amp;</span> ') %>
    <span class="meta">|&nbsp; <%= t(:mobile_apps_for) %></span>
    <a href="http://itunes.apple.com/us/app/inaturalist/id421397028?mt=8">iPhone</a>
    <span class="meta">&amp;</span>
    <a href="https://market.android.com/details?id=org.inaturalist.android">Android</a>
    |
    <%=t :powered_by_inaturalist_open_source_software_html %>
  </div>

  <div class="meta">
    <a href="<%= INAT_CONFIG['about_url'] %>"><%=t :about %> <%= SITE_NAME %></a> &nbsp;
    <a href="<%= INAT_CONFIG['help_url'] %>""><%=t :help %></a> &nbsp;
    <a href="<%= INAT_CONFIG['feedback_url'] %>"><%=t :feedback %></a> &nbsp;
    <a href="/terms.html"><%=t :terms_service %></a> &nbsp;
    <a href="/privacy.html"><%=t :privacy%></a> &nbsp;
  </div>
</div>
<%- if is_mobile_device? && @mobilized -%>
  <div class="flash notice">
    <%= link_to t(:mobile_view_available), toggle_mobile_path, :id => "mobiletogglelink" %>
  </div>
<% end -%>
