<div id="header" class="clear">  
  <ul id="mainnav" class="navtabs">
    <li>
      <a href="/" title="<%= APP_CONFIG[:site_name] %>" class="logolink">
        <img src="/images/logo-small.gif" alt="iNaturalist logo" />
      </a>
    </li>
    <li class="subnavwrapper observationstab">
      <div class="clear subnavtab">
        <%= link_to "Observations", observations_path %>
        <%= link_to_function "#{image_tag('toggle_arrow_down.png')}&nbsp;", 
          "toggleHeaderSubnav(this)",
          :class => 'subnavlink' %>
      </div>
      <ul class="subnav" style="display: none">
        <% if logged_in? -%>
          <li><%= link_to "By you", observations_by_login_path(current_user.login) %></li>
        <% end -%>
        <li><%= link_to "ID Please", id_please_path %></li>
        <li class="formwrapper">
          <% form_tag(observations_path, :method => :get, :class => 'clear buttonrow') do %>
            <%= text_field_tag 'q', params[:q], 
              :id => 'header_observations_q', :class => 'text',
              :placeholder => 'Search obs...' %>
            <input type="submit" class="button" value="&nbsp;" />
          <% end %>
        </li>
      </ul>
    </li>
    <li class="subnavwrapper taxatab">
      <div class="clear subnavtab">
        <%= link_to "Species", taxa_path %>
        <%= link_to_function "#{image_tag('toggle_arrow_down.png')}&nbsp;", 
          "toggleHeaderSubnav(this)",
          :class => 'subnavlink' %>
      </div>
      <ul class="subnav taxon_links" style="display: none">
        <% for taxon in Taxon::ICONIC_TAXA %>
          <li>
            <%= link_to Taxon::ICONIC_TAXON_NAMES[taxon.name], taxon, :class => "taxon #{taxon.name}" %>
          </li>
        <% end %>
        <li class="formwrapper">
          <% form_tag({:controller => 'taxa', :action => 'search'}, :method => :get, :class => 'clear buttonrow') do %>
            <%= text_field_tag 'q', params[:q], :id => 'header_taxa_q', :class => 'text', :value => '',
              :placeholder => 'Search taxa...' %>
            <input type="submit" class="button" value="&nbsp;" />
          <% end %>
        </li>
      </ul>
    </li>
    
    <li class="subnavwrapper projectstab">
      <div class="clear subnavtab">
        <%= link_to "Projects", projects_path %>
        <%= link_to_function "#{image_tag('toggle_arrow_down.png')}&nbsp;", 
          "toggleHeaderSubnav(this)",
          :class => 'subnavlink' %>
      </div>
      <ul class="subnav" style="display: none">
        <% if logged_in? -%>
          <% for project in current_user.project_users.all(:include => :project, :limit => 7, 
              :order => "(projects.user_id = #{current_user.id}) DESC, projects.updated_at ASC").map{|pu| pu.project}.sort_by{|p| p.title.downcase} %>
            <li>
              <%= link_to truncate(project.title), project, :style => project.icon.file? ? "background-image: url(#{project.icon.url(:mini)})" : nil %>
            </li>
          <% end %>
          <li>
            <%= link_to "All your projects", projects_by_login_url(current_user.login) %>
          </li>
        <% end -%>
        <li class="formwrapper">
          <% form_tag({:controller => 'projects', :action => 'search'}, :method => :get, :class => 'clear buttonrow') do %>
            <%= text_field_tag 'q', params[:q], :id => 'header_projects_q', :class => 'text', :value => '',
              :placeholder => 'Search projects...' %>
            <input type="submit" class="button" value="&nbsp;" />
          <% end %>
        </li>
      </ul>
    </li>
    
    <li class="subnavwrapper placestab">
      <div class="clear subnavtab">
        <%= link_to "Places", places_path %>
        <%= link_to_function "#{image_tag('toggle_arrow_down.png')}&nbsp;", 
          "toggleHeaderSubnav(this)",
          :class => 'subnavlink' %>
      </div>
      <ul class="subnav" style="display: none">
        <li class="formwrapper">
          <% form_tag({:controller => 'places', :action => 'search'}, :method => :get, :class => 'clear buttonrow') do %>
            <%= text_field_tag 'q', params[:q], :id => 'header_places_q', :class => 'text', :value => '',
              :placeholder => 'Search places...' %>
            <input type="submit" class="button" value="&nbsp;" />
          <% end %>
        </li>
      </ul>
    </li>
    
    <li class="peopletab"><%= link_to "People", people_path %></li>
  </ul>
  
  <ul id="usernav" class="navtabs">
    <% unless logged_in? %>
    <li><%= link_to "Sign in", login_url, :class => "signin_link" %></li>
    <li><span class="inter">or</span></li>
    <li><%= link_to "Sign up!", signup_url, :class => "signup_link" %></li>
    <% else %>
    <li id="usernav" style="margin-right:5px;">
      <span class="inter user">
        <%= link_to user_image(current_user, :size => 'thumb'), user_path(:id => current_user.login) %>
        <strong class="inlineblock"><%= link_to current_user.login, user_path(:id => current_user.login) %></strong>
      </span>
    </li>
    <li id="updatesnav" class="subnavwrapper">
      <div class="clear subnavtab">
        <%= link_to "<span class='ui-icon ui-icon-comment'></span><span class='count'>0</span>", 
          home_path, 
          :id => "headerupdatesnotice",
          :class => "updates" %>
      </div>
      <div id="updatessubnav" class="subnav meta">
        <div class="loadingwrapper"><%= loading %></div>
      </div>
    </li>
    <li class="subnavwrapper">
      <div class="clear subnavtab">
        <%= link_to "Dashboard", home_path %>
        <%= link_to_function "#{image_tag('toggle_arrow_down.png')}&nbsp;", 
          "toggleHeaderSubnav(this)",
          :class => 'subnavlink' %>
      </div>
      <ul id="usersubnav" class="subnav" style="display: none">
        <li><%= link_to "Home", home_path %></li>
        <li>
          <%= link_to "Observations", observations_by_login_path(current_user.login), :class => 'observations_link' %>
          <ul>
            <li><%= link_to "Add", new_observation_path, :class => 'subnavaction' %></li>
            <li><%= link_to "Import", {:controller => 'observations', :action => 'import'}, :class => 'subnavaction' %></li>
          </ul>
        </li>
        <li><%= link_to "Lists", lists_by_login_path(current_user.login), :class => 'lists_link' %></li>
        <li><%= link_to "Journal", journal_by_login_path(current_user.login), :class => 'journal_link' %></li>
        <li><%= link_to "Profile", person_path(current_user), :class => 'profile_link' %></li>
        <li><%= link_to "Account", edit_person_path(current_user), :class => 'profile_link' %></li>
        <li><%= link_to "Sign out", logout_path %></li>
      </ul>
    </li>
    <%- end -%>
  </ul>
</div>
