- site = @site || CONFIG
#header.bootstrap{ class: session[:header_search_open] ? "search-open" : nil }
  #logonav.navtabs
    - if site && !site.custom_logo.blank?
      =raw site.custom_logo
    - elsif site && site.logo
      %a.logolink.innertab{:href => "/", :title => "#{site.try(:name) || @site.try(:name)}"}
        = image_tag site.logo.url, alt: site.name
  #headersearch.search.navtabs.form-group{ class: session[:header_search_open] ? "open" : nil }
    .searchwrapper
      %input{ type: "text", placeholder: t(:search, default: "Search"), class: "form-control" }
    %button.btn.btn-link.show-btn
      %i.fa.fa-search
    %button.btn.btn-link.hide-btn
      %i.fa.fa-times-circle
  %ul#mainnav.navtabs
    :ruby
      looking_at_own_observations = logged_in? && controller.class.name == "ObservationsController" && (
        ( controller.action_name == "by_login" && current_user.login === params[:login] ) ||
        ( controller.action_name == "show" && @observation && @observation.user_id == current_user.id ) ||
        ( params[:user_id] == current_user.id.to_s || params[:user_id] === current_user.login )
      )
    %li.navtab{ class: controller.class.name == "ObservationsController" && !looking_at_own_observations || controller.class.name == "TaxaController" ? "active" : nil }
      = link_to t(:explore).capitalize, observations_path
    - if logged_in?
      %li.navtab{ class: looking_at_own_observations ? "active" : nil }
        = link_to t(:your_observations).titleize, observations_path( user_id: current_user.login, verifiable: "any", place_id: "any" )
    %li.navtab.communitytab.menutab{ class: %w(UsersController ProjectsController PostsController).include?( controller.class.name ) ? "active" : nil }
      .dropdown
        #header-community-dropdown-toggle.dropdown-toggle{ data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } }
          = link_to t(:community).capitalize, people_path
          %i.fa.fa-angle-down
        %ul.dropdown-menu{ aria: { labelledby: "header-community-dropdown-toggle" } }
          %li= link_to t(:people), people_path
          %li= link_to t(:projects), projects_path
          - if logged_in?
            - user_projects = current_user.project_users.joins(:project).includes(:project).limit(7).order("(projects.user_id = #{current_user.id}) DESC, projects.updated_at ASC").map{|pu| pu.project}.sort_by{|p| p.title.downcase}
            - unless user_projects.blank?
              %li.divider{role: "separator"}
              %li.dropdown-header=t :your_recent_projects
              - for project in user_projects
                %li
                  = link_to project do
                    - if project.icon.file?
                      = image_tag project.icon.url(:mini)
                    - else
                      %i.fa.fa-suitcase.text-muted
                    = truncate( project.title )
    - if logged_in?
      %li.navtab.header-md.header-lg{ class: controller.class.name == "ObservationsController" && %w( identify ).include?( controller.action_name ) ? "active" : nil }
        = link_to t(:identify).titleize, identify_observations_path
    %li.navtab.moretab.menutab{ class: %w(GuidesController PlacesController WikiPagesController).include?( controller.class.name ) ? "active" : nil }
      .dropdown
        #header-more-dropdown-toggle.dropdown-toggle{ data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } }
          = t(:more).capitalize
          %i.fa.fa-angle-down
        %ul.dropdown-menu{ aria: { labelledby: "header-more-dropdown-toggle" } }
          - if logged_in?
            %li.header-xs.header-sm= link_to t(:identify), identify_observations_path
          %li= link_to t(:taxa_info), taxa_path
          %li= link_to t(:guides), guides_path
          %li= link_to t(:places), places_path
          - if @site.blank? || @site.place_id.blank?
            %li= link_to t(:site_stats), stats_path
          %li.divider{role: "separator"}
          %li= link_to t(:help), help_path
  - if logged_in?
    .navtabs.add-obs
      = link_to upload_observations_path, class: "btn btn-default btn-inat" do
        %i.fa.fa-arrow-circle-up
        %span.header-md.header-lg=t :upload
  %ul#usernav.navtabs
    - unless logged_in?
      %li.navtab.signedout
        = link_to t(:log_in), login_path, class: "signin_link"
        = t :or
        = link_to t(:sign_up), signup_url, class: "signup_link"
    - else
      - unless @minimal_header
        %li#messagesnav.navtab.messages
          .dropdown
            #header-messages-dropdown-toggle.dropdown-toggle{ aria: { haspopup: "true", expanded: "false" } }
              %i.fa.fa-envelope
              %span.count 0
            #messagessubnav.dropdown-menu.dropdown-menu-right{ aria: { labelledby: "header-messages-dropdown-toggle" } }
              .loadingwrapper= loading
        %li#updatesnav.navtab.updates
          .dropdown
            #header-updates-dropdown-toggle.dropdown-toggle{ aria: { haspopup: "true", expanded: "false" } }
              %i.fa.fa-comment
              %span.count 0
            #updatessubnav.dropdown-menu.dropdown-menu-right{ aria: { labelledby: "header-updates-dropdown-toggle" } }
              .loadingwrapper= loading
      %li.navtab.user.menutab
        .dropdown
          #header-user-menu-dropdown-toggle.dropdown-toggle{ data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } }
            = link_to home_path do
              = user_image(current_user, :size => "thumb", class: "inlineblock" )
            %i.fa.fa-angle-down
          %ul.dropdown-menu.dropdown-menu-right{ aria: { labelledby: "header-user-menu-dropdown-toggle" } }
            %li= link_to t(:dashboard), home_path
            %li= link_to t(:edit_observations), observations_by_login_path(current_user.login), :class => "observations_link"
            %li.header-xs.header-sm
              = link_to t(:add_observations), upload_observations_path
            %li= link_to t(:calendar), calendar_path(current_user.login), :class => "calendar_link"
            %li= link_to t(:identifications), identifications_by_login_path(current_user.login), :class => "identifications_link"
            %li= link_to t(:lists), lists_by_login_path(current_user.login), :class => "lists_link"
            %li= link_to t(:journal), journal_by_login_path(current_user.login), :class => "journal_link"
            %li= link_to t(:favorites), faves_by_login_path(current_user.login), :class => "votes_link"
            %li= link_to t(:projects), projects_by_login_path(current_user.login), :class => "projects_link"
            %li.divider{role: "separator"}
            %li= link_to t(:profile), person_path(current_user), :class => 'profile_link'
            %li= link_to t(:account_settings), edit_person_path(current_user), :class => 'profile_link'
            %li.divider{role: "separator"}
            %li.signout= link_to t(:sign_out), logout_path
