<div id="header" class="clear">  
  <ul id="mainnav" class="navtabs">
    <li>
      <a href="/" title="iNaturalist.org" class="logolink">
        <img src="/images/logo-small.gif" alt="iNaturalist logo" />
      </a>
    </li>
    <li class="subnavwrapper">
      <div class="clear subnavtab">
        <%= link_to "Observations", observations_path %>
        <%= link_to_function image_tag('toggle_arrow_down.png') + '&nbsp;', 
          "toggleHeaderSubnav(this)",
          :class => 'subnavlink' %>
      </div>
      <ul class="subnav" style="display: none">
        <li><%= link_to "ID Please", id_please_path %></li>
        <li class="formwrapper">
          <% form_tag(observations_path, :method => :get, :class => 'clear buttonrow') do %>
            <label for="q">Search</label>
            <%= text_field_tag 'q', params[:q], :class => 'text', :value => '' %>
            <input type="submit" class="button" value="&nbsp;" />
          <% end %>
        </li>
      </ul>
    </li>
    <li class="subnavwrapper taxatab">
      <div class="clear subnavtab">
        <%= link_to "Species", taxa_path %>
        <%= link_to_function image_tag('toggle_arrow_down.png') + '&nbsp;', 
          "toggleHeaderSubnav(this)",
          :class => 'subnavlink' %>
      </div>
      <ul class="subnav" style="display: none">
        <li class="formwrapper">
          <% form_tag({:controller => 'taxa', :action => 'search'}, :method => :get, :class => 'clear buttonrow') do %>
            <label for="q">Search</label>
            <%= text_field_tag 'q', params[:q], :class => 'text', :value => '' %>
            <input type="submit" class="button" value="&nbsp;" />
          <% end %>
        </li>
      </ul>
    </li>
    
    <li><%= link_to "People", people_path %></li>
    
    <li class="subnavwrapper placestab">
      <div class="clear subnavtab">
        <%= link_to "Places", places_path %>
        <%= link_to_function image_tag('toggle_arrow_down.png') + '&nbsp;', 
          "toggleHeaderSubnav(this)",
          :class => 'subnavlink' %>
      </div>
      <ul class="subnav" style="display: none">
        <li class="formwrapper">
          <% form_tag({:controller => 'places', :action => 'search'}, :method => :get, :class => 'clear buttonrow') do %>
            <label for="q">Search</label>
            <%= text_field_tag 'q', params[:q], :class => 'text', :value => '' %>
            <input type="submit" class="button" value="&nbsp;" />
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
  
  <ul id="usernav" class="navtabs">
    <% unless logged_in? %>
    <li><%= link_to "Sign In", login_url %></li>
    <li><span class="inter">or</span></li>
    <li><%= link_to "Sign Up!", signup_url %></li>
    <% else %>
    <li style="margin-right: 10px">
      <span class="inter">
        Welcome, 
        <%= link_to current_user.login, user_path(:id => current_user.login) %>!
        (<%= link_to "Sign Out", logout_path %>)
      </span>
    </li>
    <li class="subnavwrapper">
      <div class="clear subnavtab">
        <%= link_to "Your Stuff", home_path %>
        <%= link_to_function image_tag('toggle_arrow_down.png') + '&nbsp;', 
          "toggleHeaderSubnav(this)",
          :class => 'subnavlink' %>
      </div>
      <ul id="usersubnav" class="subnav" style="display: none">
        <li><%= link_to "Home", home_path %></li>
        <li>
          <%= link_to "Observations", observations_by_login_path(current_user.login), :class => 'observations_link' %>
          <ul>
            <li><%= link_to "Add", new_observation_path, :class => 'subnavaction' %></li>
            <li><%= link_to "Import", {:controller => 'observations', :action => 'import'}, :class => 'subnavaction' %></li>
          </ul>
        </li>
        <li><%= link_to "Lists", lists_by_login_path(current_user.login), :class => 'lists_link' %></li>
        <li><%= link_to "Journal", journal_by_login_path(current_user.login), :class => 'journal_link' %></li>
      </ul>
    </li>
    <%- end -%>
  </ul>
</div>
