<%-
  record ||= @observation || @photo
  record = record.becomes(Photo) if record.is_a?(Photo)
  record_type = record.class.to_s.underscore.humanize.downcase
  no_license_value = if record.is_a?(Photo)
    Photo::COPYRIGHT
  else
    nil
  end
-%>
<%= form_for record, :builder => DefaultFormBuilder do |f| %>
  <% if record.is_a?(Observation) -%>
    <%= hidden_field_tag :ignore_photos, true %>
  <% end -%>
  <% for code, name, description in Observation::LICENSES %>
    <%- 
      value = record.is_a?(Photo) ? Photo.license_number_for_code(code) : code
      license_label = "#{image_tag("#{code}.png")} #{t name}"
      if record.user.try_methods("preferred_#{record.class.to_s.underscore}_license") == code
        license_label += " (#{t(:your_default)})"
      end
    -%>
    <div class="column span-9 <%= cycle '', 'last' %>">
      <%= f.radio_button :license, value,
        :id => "license_#{value.to_s.parameterize}",
        :label => license_label, 
        :label_after => true %>
      <div class="stacked description">
        <% if Observation::PREFERRED_LICENSES.include?(code) -%>
          <div class="success status preferred">
            <%= t(:good_choice_for_sharing) %>
          </div>
        <% end -%>
        <%=t description %>
        <%= link_to t(:view_license), url_for_license(code), :class => "readmore", :target => "_blank" %>
      </div>
    </div>
  <% end %>
  <div class="column span-9">
    <%= f.radio_button :license, no_license_value, :label => t(:no_license_all_rights_reserved), :label_after => true,
      :description => t(:you_retain_full_copyright, :site_name => @site.name) %>
  </div>
  
  <div class="column span-18 inline buttonrow">
    <%= f.submit t(:set_license), :class => "default button", "data-loading-click" => t(:saving) %>
    <%= link_to_function t(:cancel), "$(this).parents('.dialog:first').dialog('close')", :class => "minor button" %>
    <span class="inter inlineblock">
      <%= f.check_box :make_license_default, :label => t(:make_this_your_default_license, :type => "#{record_type}"), :label_after => true %>
    </span>
    <span class="inter inlineblock">
      <%= f.check_box :make_licenses_same, :label => t(:update_past, :type => "#{record_type.pluralize}"), :label_after => true %>
    </span>
  </div>
<% end -%>
