<%-
  record ||= @observation || @photo
  record = record.becomes(Photo) if record.is_a?(Photo)
  record_type = record.class.to_s.underscore.humanize.downcase
  no_license_value = if record.is_a?(Photo)
    Photo::COPYRIGHT
  else
    nil
  end
-%>
<%= form_for record, :builder => DefaultFormBuilder do |f| %>
  <% if record.is_a?(Observation) -%>
    <%= hidden_field_tag :ignore_photos, true %>
  <% end -%>
  <% for code, name, description in Observation::LICENSES %>
    <%- value = record.is_a?(Photo) ? Photo.license_number_for_code(code) : code -%>
    <div class="column span-9 <%= cycle '', 'last' %>">
      <%= f.radio_button :license, value, 
        :label => "#{image_tag("#{code}.png")} #{name} #{'(your default)' if record.user.send("preferred_#{record.class.to_s.underscore}_license") == code}", 
        :label_after => true %>
      <div class="stacked description">
        <% if Observation::PREFERRED_LICENSES.include?(code) -%>
          <div class="success status preferred">
            Good choice for sharing with scientists
          </div>
        <% end -%>
        <%= description %>
        <%= link_to "View license", url_for_license(code), :class => "readmore", :target => "_blank" %>
      </div>
    </div>
  <% end %>
  <div class="column span-9">
    <%= f.radio_button :license, no_license_value, :label => "No license  (all rights reserved)", :label_after => true,
      :description => "You retain full copyright over your content aside from those rights granted to iNat in our Terms of Service." %>
  </div>
  
  <div class="column span-18 inline buttonrow">
    <%= f.submit "Set license", :class => "default button", "data-loading-click" => "Saving..." %>
    <%= link_to_function "Cancel", "$(this).parents('.dialog:first').dialog('close')", :class => "minor button" %>
    <span class="inlineblock">
      <%= f.check_box :make_license_default, :label => "Make this your default #{record_type} license", :label_after => true %>
    </span>
    <span class="inlineblock">
      <%= f.check_box :make_licenses_same, :label => "Update past #{record_type.pluralize}", :label_after => true %>
    </span>
  </div>
<% end -%>
