<li class="col-md-3 col-sm-3">
  <div class="thumbnail">
    <% photo_count, sound_count, link_text =
      observation.observation_photos_finished_processing.size,
      observation.observation_sounds_count, [] %>
    <% if photo_count == 0 && sound_count == 0 -%>
      <%= link_to observation_path(observation), :class => "icon_container" do %>
        <i class="icon icon-iconic-<%= observation.iconic_taxon.nil? ? 'unknown' : observation.iconic_taxon.name.downcase %>" style="vertical-align: middle;font-size: 105px; color:rgb(238,238,238);"></i>
      <% end -%>
    <% else %>
      <% if photo_count > 0 %>
        <%- 
          photos = observation.observation_photos_finished_processing.sort_by{|op|
            op.position || photo_count + op.id.to_i
          }.map{|op| op.photo}.compact
          photo = photos.first
        %>
        <% if photo %>
          <% if sound_count > 0 %>
            <%= link_to observation_path(observation) do %>
              <div class="scaledimg icon_container" style="background-image: url('<%= "#{photo.small_url}" %>')">
                <i class="fa fa-volume-up fa-4x" style="vertical-align: middle;font-size: 105px;color:rgb(238,238,238);"></i>
              </div>
            <% end %>
          <% else %>
            <%= link_to observation_path(observation) do %>
              <div class="scaledimg" style="background-image: url('<%= "#{photo.small_url}" %>')"></div>
            <% end %>
          <% end %>        
        <% end %>
      <% else -%>
        <%= link_to observation_path(observation), :class => "icon_container" do %>
          <i class="fa fa-volume-up" style="line-height: 150px;vertical-align: middle;font-size: 105px;color:rgb(238,238,238);"></i>
        <% end -%>
      <% end %>
    <% end -%>
    <div class="caption">
      <h3>
        <% if observation.taxon %>        
          <%= render :partial => 'shared/taxon', 
                     :locals => {
                        :taxon => observation.taxon,
                        :link_url => observation_path(observation),
                        :include_parens => false,
                        :exclude_rank => true,
                        :one_name => true} %>
        
        <% else %>
          <span class="taxon">
            <%= link_to "#{t(:unknown)}", observation_path(observation) %>
          </span>
        <% end %>
      </h3>
      <div class="meta">
        <%- if observation.research_grade? -%>
          <span class="quality_grade research" title="<%= t(:research_grade) -%>">
            <%= t(:research_grade_short_html)  -%>
          </span>
        <% elsif observation.casual? %>
          <span class="quality_grade casual" title="<%= t(:casual) -%>">
            <%= t(:casual)  -%>
          </span>
        <% end %>
        <%- if observation.identifications_count > 0 -%>
          <span class="identifications">
            <i class="icon-identification"></i>
            <%= observation.identifications_count %>
          </span>
        <%- end -%>
        <%- if observation.comments_count > 0 -%>
          <span class="comments">
            <i class="icon-chatbubble"></i>
            <%= observation.comments_count %>
          </span>
        <%- end -%>
      </div>
    </div>
  </div>
</li>