<%- 
  prev_title ||= prev_item.title rescue prev_item.name rescue prev_item.to_s
  next_title ||= next_item.title rescue next_item.name rescue next_item.to_s
  prev_url ||= url_for(prev_item)
  next_url ||= url_for(next_item)
-%>
<div id="prevnext" class="column span-6 clear">
  <div class="column span-3">
    <% if prev_item %>
      <a id="prevlink" href="<%= prev_url %>">
        <span class="arrow">&lsaquo;</span>
        <%# t :previous_post_short %>
        <%# t :previous_date_short %>
        <%=t "previous_#{prev_item.class.name.parameterize.underscore}_short", default: t(:prev) %>
        <div class="title">
          <div><%= prev_title %></div>
        </div>
      </a>
    <% else %>
      &nbsp;
    <% end %>
  </div>

  <div class="last column span-3">
    <% if next_item %>
      <a id="nextlink" href="<%= next_url %>">
        <span class="arrow">&rsaquo;</span>
        <%# t :next_post_short %>
        <%# t :next_date_short %>
        <%=t "next_#{next_item.class.name.parameterize.underscore}_short", default: t(:next) %>
        <div class="title">
          <div><%= next_title %></div>
        </div>
      </a>
    <% end %>
  </div>
</div><!-- /#prevnext -->
