<%-
  taxon ||= object || @taxon
  include_article ||= false
  singular ||= false
  comname ||= common_taxon_name(taxon).try(:name)
  no_common ||= false
  if taxon.species_or_lower?
    sciname = '<span class="sciname"><i>%s</i></span>' % taxon.name
  elsif taxon.root?
    sciname = "<span class=\"sciname\">#{taxon.name}</span>"
  else
    rank = taxon.rank ? taxon.rank.capitalize : '(Unknown Rank)'
    rank = content_tag(:span, rank, :class => 'rank')
    sciname = "#{rank} <span class=\"sciname\">#{taxon.name}</span>"
  end
  include_id ||= false
  sciname += " #{taxon.id}" if include_id

  include_parens ||= true unless include_parens == false
  link_url ||= nil
  singular ||= false

  taxon_class = "taxon taxon-#{taxon.id}"
  taxon_class << " #{taxon.rank.downcase}" if taxon.rank
  if @iconic_taxa && (iconic_taxon = @iconic_taxa.detect {|it| it.id == taxon.iconic_taxon_id})
    taxon_class << " #{iconic_taxon.name}"
  elsif iconic_taxon = Taxon::ICONIC_TAXA_BY_ID[taxon.iconic_taxon_id]
    taxon_class << " #{iconic_taxon.name}"
  end
-%>
<% if comname.nil? || no_common == true %>
  <% if include_article %>
    <% if taxon.rank != 'species' && taxon.rank != 'infraspecies' %>
      in
    <% end %>
  <% end -%>
  <span class="<%= taxon_class %>">
    <% if link_url %>
      <%= link_to sciname.html_safe, link_url %>
    <% else %>
      <%= sciname.html_safe %>
    <% end %>
  </span>
<% else %>
  <% if include_article %>
    <% if 'aeiou'.include? comname.first.downcase %>
      an
    <% else %>
      a
    <% end %>
  <% end -%>
<span class="<%= taxon_class %>">
  <span class="comname">
    <% if link_url %>
      <%= link_to(singular ? comname.singularize : comname, link_url) %>
    <% else %>
      <%= singular ? comname.singularize : comname %>
    <% end %>
  </span>
  <span class="othernames">
    <% if include_parens %>
      (<%= sciname.html_safe %>)
    <% else %>
      <%= sciname.html_safe %>
    <% end %>
  </span>
</span>
<% end -%>
