<%-
  taxon ||= @taxon
  one_name ||= false
  exclude_rank ||= false
  no_common ||= false
  place ||= nil
  viewer ||= defined?( current_user ) ? current_user : nil
  unless no_common
    comnames ||= common_taxon_names(
      taxon,
      locale: I18n.locale,
      place: place || @site.try(:place),
      user: viewer
    )
    unless comnames.blank?
      comnames = comnames.map{ |cn| capitalize_name( cn ) }
    end
  end


  if taxon.species_or_lower?
    pieces = taxon.name.split.map{|piece| h( piece) }
    sciname = if taxon.variety? && pieces.size == 3
      "<span class=\"sciname #{taxon.rank}\">#{pieces[0..1].join(' ')} <span class=\"rank\">var.</span> #{pieces[2..-1].join(' ')}</span>"
    elsif taxon.subspecies? && pieces.size == 3
      "<span class=\"sciname #{taxon.rank}\">#{pieces[0..1].join(' ')} <span class=\"rank\">ssp.</span> #{pieces[2..-1].join(' ')}</span>"
    else
      "<span class=\"sciname\">#{h taxon.name}</span>"
    end
  elsif taxon.root?
    sciname = "<span class=\"sciname\">#{taxon.name == 'Life' ? t(:life) : h( taxon.name )}</span>"
  else
    if exclude_rank
      sciname = "<span class=\"sciname\">#{h( taxon.name )}</span>" 
    else
      rank = taxon.rank ? t("ranks.#{taxon.rank.downcase}", default: taxon.rank).capitalize : t(:unknown_rank)
      rank = content_tag(:span, rank, :class => 'rank')
      sciname = "#{rank} <span class=\"sciname\">#{h taxon.name}</span>"
    end
  end
  include_id ||= false
  sciname += " #{taxon.id}" if include_id
  sciname += " [inactive]" unless taxon.is_active?
  
  include_parens ||= true unless include_parens == false
  link_url ||= nil

  taxon_class = "taxon taxon-#{taxon.id} #{taxon_class}"
  taxon_class << " #{taxon.rank.downcase}" if taxon.rank
  if iconic_taxon = Taxon::ICONIC_TAXA_BY_ID[taxon.iconic_taxon_id]
    taxon_class << " #{h iconic_taxon.name}"
  end
  named_ancestor ||= nil
  if named_ancestor == true
    named_ancestor = taxon.ancestors.reverse.detect{|t| !t.common_name.blank?}
  end
  comnames_html = comnames.blank? ? nil : comnames.join( " · " )
-%>
<% if comnames.blank? || no_common == true %>
    <span class="<%= taxon_class %> <%= 'display_name' if named_ancestor %>"><%= link_url ? link_to(sciname.html_safe, link_url) : sciname.html_safe -%></span><%- if named_ancestor -%>,
      <span class="named_ancestor meta">
        <%=t :a_member_of_taxon_html, :taxon => render("shared/taxon", :taxon => named_ancestor, :link_url => named_ancestor) %>
      </span>
    </span>
  <% end -%>
<% elsif viewer && viewer.prefers_scientific_name_first? %>
  <span class="<%= taxon_class %>">
    <% if link_url %>
      <%= link_to sciname.html_safe, link_url %>
    <% else %>
      <%= sciname.html_safe %>
    <% end %>
    <%- unless one_name %>
      <span class="othernames">
        <span class="comname <%= 'display_name' if named_ancestor %>">
          <%- if include_parens -%>(<%- end -%><%= comnames_html.html_safe -%><%- if include_parens -%>)<%- end -%>
        </span>
      </span>
    <% end %>
  </span>
<% else %>
  <span class="<%= taxon_class %>">
    <span class="comname <%= 'display_name' if named_ancestor %>">
      <% if link_url %>
        <%= link_to( comnames_html.html_safe, link_url) %>
      <% else %>
        <%= comnames_html.html_safe %>
      <% end %>
    </span>
    <%- unless one_name %>
      <span class="othernames">
        <% if include_parens %>
          (<%= sciname.html_safe %>)
        <% else %>
          <%= sciname.html_safe %>
        <% end %>
      </span>
    <% end -%>
  </span>
<% end -%>
