<%-
  resource = update_email_activity || resource
  updates ||= []
  class_name = resource.class.to_s.underscore
  viewing_user = current_user rescue @user
  no_thumb ||= false
  no_meta ||= false
-%>

<div class="updatecontent">
  <table cellspacing="0" cellpadding="0">
    <% for update in updates %>
      <%-
        notifier = nil
        notifier = update.notifier
        next unless notifier
        user = if notifier.is_a?(Flag)
          notifier.resolver
        elsif notifier.respond_to?(:user)
          notifier.user
        end
      -%>
      <tr>
        <td valign="top" style="padding-right:10px;">
          <%- if notifier.user && !no_thumb %>
            <%= user_image(notifier.user, size: "thumb", width: 32, height: 32, style: "border-radius: 32px;") %>
          <%- end %>
        </td>
        <td valign="top">
          <%- if notifier.is_a?(Identification) %>
            <div style="margin-bottom:10px;">
              <%= taxon_image(notifier.taxon, :style => "max-width:32px; vertical-align:middle;") %>
              <span><%= t(:users_id, user: user.login) %>:</span>
              <%= render :partial => 'shared/taxon', 
                         :locals => { taxon: notifier.taxon,
                                      link_url: taxon_url(notifier.taxon),
                                      viewer: viewing_user } %>
            </div>
          <% elsif notifier.is_a? Flag %>
            <div class="stacked body">
              <%=t :flag_marked_as_resolved_html %>
              <% unless notifier.comment.blank? %>
                <%-
                  username = if notifier.resolver
                    notifier.resolver.login
                  elsif notifier.resolver_id.blank?
                    @site.preferred_site_name_short
                  else
                    t(:deleted_user)
                  end
                -%>
                <%=t :resolver_said_x_html, :resolver => username, :x => notifier.comment %>
              <% end -%>
            </div>
          <% elsif notifier.is_a? ObservationFieldValue %>
            <div style="margin-bottom:10px;">
              <%= render "observation_fields/observation_field_value", :observation_field_value => notifier, :hide_extra => true %>
            </div>
          <% elsif notifier.is_a? ActsAsVotable::Vote %>
            <div style="margin-bottom:10px;">
              <em class="meta nocontent">
                <%=t :added_to_favorites_html, url: faves_by_login_url(user.login) %>
              </em>
            </div>
          <% end -%>
          <% unless notifier.is_a?(Identification) && update.notification != "mention" -%>
            <% text = if notifier.respond_to?(:body)
                notifier.body
              elsif notifier.respond_to?(:description)
                notifier.description
              end -%>
            <% if text -%>
              <% if notifier.respond_to?(:hidden?) && notifier.hidden? %>
                <em>[<%=t :content_hidden %>]</em>
              <% else %>
                <% if context = text.context_of_pattern("@#{ viewing_user.login }") -%>
                  <%= formatted_user_text(context) %>
                <% else -%>
                  <%= formatted_user_text(text) %>
                <% end -%>
              <% end %>
            <% end -%>
          <% end -%>
          <% if !no_meta && user && viewing_user -%>
            <div style="color:#aaaaaa;font-size:smaller;margin-bottom:10px;">
              <%=t :posted_by %>
              <%= link_to(truncate(user.id == viewing_user.id ? t(:you) : user.login, :length => 20),
                person_url(user)) %>
              <span class="when">
                <span class="date"><%=t :n_ago, :n => time_ago_in_words(notifier.created_at) %></span>
              </span>
            </div>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </table>
  <%= link_to t( "view_#{class_name.parameterize.underscore}", default: t( :view ) ), url_for_resource_with_host(resource), :class => "readmore" %>
</div>
