<%-
  resource = update_email_activity || resource
  updates ||= []
  class_name = resource.class.to_s.underscore
  viewing_user = current_user rescue @user
  no_thumb ||= false
  no_meta ||= false
-%>

<div class="updatecontent">
  <table cellspacing="0" cellpadding="0">
    <% for update in updates %>
      <%-
        notifier = nil
        notifier = update.notifier
        next unless notifier
        user = if notifier.is_a?(Flag)
          notifier.resolver
        elsif notifier.respond_to?(:user)
          notifier.user
        end
      -%>
      <tr>
        <td valign="top" style="padding-right:10px;">
          <%- if notifier.user && !no_thumb %>
            <%= user_image(notifier.user, size: "thumb", width: 32, height: 32) %>
          <%- end %>
        </td>
        <td valign="top">
          <%- if notifier.is_a?(Identification) %>
            <div style="margin-bottom:10px;">
              <%= taxon_image(notifier.taxon, :style => "max-width:32px; vertical-align:middle;") %>
              <span><%= t(:user_s_id, :user => user.login, :id => t(:id)) %>:</span>
              <%= render :partial => 'shared/taxon', 
                         :locals => { :taxon => notifier.taxon,
                                      :link_url => taxon_url(notifier.taxon) } %>
            </div>
          <% elsif notifier.is_a?(ProjectInvitation) %>
            <p>
              <%=t :please_add_this_to_x_html, :x => "<strong>#{notifier.project.title}</strong>".html_safe %>
              <br/>
              <%= link_to t(:view_invitation), observation_url(resource) %>
            </p>
          <% elsif notifier.is_a? Flag %>
            <div class="stacked body">
              <%=t :flag_marked_as_resolved_html %>
              <% unless notifier.comment.blank? %>
                <%-
                  username = if notifier.resolver
                    notifier.resolver.login
                  elsif notifier.resolver_id.blank?
                    SITE_NAME_SHORT
                  else
                    t(:deleted_user)
                  end
                -%>
                <%=t :resolver_said_x_html, :resolver => username, :x => notifier.comment %>
              <% end -%>
            </div>
          <% elsif notifier.is_a? ObservationFieldValue %>
            <div style="margin-bottom:10px;">
              <%= render "observation_fields/observation_field_value", :observation_field_value => notifier, :hide_extra => true %>
            </div>
          <% elsif notifier.is_a? ActsAsVotable::Vote %>
            <div style="margin-bottom:10px;">
              <em class="meta nocontent">
                <%=t :added_to_favorites_html, url: faves_by_login_url(user.login) %>
              </em>
            </div>
          <% end -%>
          <% unless notifier.is_a?(Identification) && update.notification != "mention" -%>
            <% text = if notifier.respond_to?(:body)
                notifier.body
              elsif notifier.respond_to?(:description)
                notifier.description
              end -%>
            <% if text -%>
              <% if context = text.context_of_pattern("@#{ viewing_user.login }") -%>
                <%= formatted_user_text(context) %>
              <% else -%>
                <%= formatted_user_text(text) %>
              <% end -%>
            <% end -%>
          <% end -%>
          <% unless no_meta -%>
            <div style="color:#aaaaaa;font-size:smaller;margin-bottom:10px;">
              <%=t :posted_by %>
              <%= link_to(truncate(user.id == viewing_user.id ? t(:you).downcase : user.login, :length => 20), 
                person_url(user)) %>
              <span class="when">
                <span class="date"><%=t :n_ago, :n => time_ago_in_words(notifier.created_at) %></span>
              </span>
            </div>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </table>
  <%= link_to "#{t(:view)} #{t(class_name.humanize.downcase, :default => class_name.humanize.downcase)}", url_for_resource_with_host(resource), :class => "readmore" %>
</div>
