- content_for(:extracss) do
  = stylesheet_link_tag :spam
#wrapper.clear
  %img{ src: asset_path("spam.png") }
  #message
    .readable
      Flagged as a violation of our
      = succeed '.' do
        = link_to "spam policy", help_path(anchor: "inappropriate")
      %br
      If you think your content has been improperly flagged, please
      = succeed '.' do
        = mail_to CONFIG.help_email, "contact us"
