- content_for :title do
  Observation Accuracy Experiment

- content_for :extrajs do
  = javascript_include_tag "observation_accuracy_experiments/show"

- content_for :extracss do
  = stylesheet_link_tag "observation_accuracy_experiments/show"

%h1= "Observation Accuracy Experiment #{@experiment.id}"

%p="Sample generation date: #{@experiment.sample_generation_date}"
%p="Sample size: #{@experiment.sample_size}"
%p="Assessment date: #{@experiment.assessment_date}"
%p
- @stats_string = @stats.map {| k, v | "#{k}: #{v}%"}.join(", ")
%p= @stats_string
#tooltip
- @data.each_pair do |key, barplot_data|
  .barplot-container
    %h4= key
    %svg{ width: "#{50 + 54 * barplot_data.count}", height: "150" }
      %g{ transform: "translate(40,10)" }
        %g.y.axis
          - (0..5).each do |tick_value|
            - tick_position = tick_value * 20
            %g.tick{ transform: "translate(0,#{tick_position})", style: "opacity: 1;" }
              %line{ x2: "-6", y2: "0" }
              %text{ class: "ytext", dy: ".32em", x: "-9", y: "0", style: "text-anchor: end;" } #{100 - tick_value * 20}%
          %path.domain{ d: "M-6,0H0V100H-6" }

        %g.x.axis{ transform: "translate(0,100)" }
          - barplot_data.keys.each_with_index do |label, index|
            %g.tick{ transform: "translate(#{35 + 54 * index},0)", style: "opacity: 1;" }
              %line{ y2: "6", x2: "0" }
              %text{ dy: ".71em", y: "9", x: "0", style: "text-anchor: middle;" }= label

        - barplot_data.values.each_with_index do |group, index|
          - accumulated_height = 0
          - group.each_with_index do |item, sub_index|
            %a{ href: item[:url] }
              - sub_label = %w[incorrect uncertain correct][sub_index]
              %rect{ class: "#{sub_label} #{key}_#{barplot_data.keys[index].to_s.gsub(/[>. ]/, '_')}", x: "#{10 + 54 * index}", width: "50", y: "#{accumulated_height}", altheight: "#{item[:altheight]}", height: "#{item[:height]}", onmousemove: "showTooltip(evt, '#{sub_label}: #{item[:height]}%');", onmouseout: "hideTooltip();",
                 data: { altheight: item[:altheight], height: item[:height]} }
            - accumulated_height += item[:height]

        %g.axis
          %line.dashed-line{ x1: "0", x2: "#{10 + 54 * barplot_data.count}", y1: "10", y2: "10" }
%button.toggle-button Toggle Scale
