- content_for :extracss do
  = stylesheet_link_tag "welcome"
- content_for :extrajs do
  - if @site && @site.homepage_data.file?
    :javascript
      var HOMEPAGE_DATA_URL = #{@site.homepage_data.url.inspect}
  - else
    :javascript
      var HOMEPAGE_DATA_URL;
  :javascript
    var STATS_SUMMARY_URL = #{summary_stats_url(format: :json).inspect}
  = javascript_include_tag :welcome
.container-fluid
  #hero.homesection.row
    #hero-carousel.carousel.slide{data: {ride: :carousel}}
      .carousel-inner{role: "listbox"}
      %a.left.carousel-control{href: "#hero-carousel", role: "button", data: {slide: "prev"}}
        %span.fa.fa-chevron-left{"aria-hidden" => "true"}
        %span.sr-only=t :previous
      %a.right.carousel-control{href: "#hero-carousel", role: "button", data: {slide: "next"}}
        %span.fa.fa-chevron-right{"aria-hidden" => "true"}
        %span.sr-only=t :next
    #connect-container.herobox-container
      .container.container-fixed
        .row
          .col-xs-6.col-sm-6.col-md-6.col-lg-7.col-xs-7
          .col-xs-5.col-sm-5.col-md-5.col-lg-4.col-xl-4
            .herobox
              .herotext
                .staticon
                %h1 Connect with Nature
                %p
                  Explore and share your observations from the natural world.
              .herolinks
                = link_to signup_path, :class => "morelink signuplink" do
                  = t(:sign_up)
                  %i.icon-arrow-right
                = link_to observations_path, :class => "morelink explorelink" do
                  = t(:explore)
                  %i.icon-arrow-right
    #obs-stats-container.herobox-container{style: "display: none; "}
      .container.container-fixed
        .row
          .col-xs-6.col-sm-6.col-md-6.col-lg-7.col-xs-7
          .col-xs-5.col-sm-5.col-md-5.col-lg-4.col-xl-4
            .herobox
              .herotext
                .row
                  .col-xs-4
                    %embed{src: image_path('homepage-binocs.svg')}
                  .col-xs-8.row
                    %h1 ???
                    %p
                      =t 'views.welcome.index.observations_to_date'
              .herolinks
                = link_to signup_path, :class => "morelink signuplink" do
                  = t(:sign_up)
                  %i.icon-arrow-right
                = link_to observations_path, :class => "morelink explorelink" do
                  = t(:explore)
                  %i.icon-arrow-right
    #species-stats-container.herobox-container{style: "display: none"}
      .container.container-fixed
        .row
          .col-xs-6.col-sm-6.col-md-6.col-lg-7.col-xs-7
          .col-xs-5.col-sm-5.col-md-5.col-lg-4.col-xl-4
            .herobox
              .herotext
                .row
                  .col-xs-4
                    %embed{src: image_path('homepage-tree.svg')}
                  .col-xs-8.row
                    %h1 ???
                    %p
                      =t 'views.welcome.index.species_observed'
              .herolinks
                = link_to signup_path, :class => "morelink signuplink" do
                  = t(:sign_up)
                  %i.icon-arrow-right
                = link_to taxa_path, :class => "morelink explorelink" do
                  = t(:learn)
                  %i.icon-arrow-right
    #people-stats-container.herobox-container{style: "display: none"}
      .container.container-fixed
        .row
          .col-xs-6.col-sm-6.col-md-6.col-lg-7.col-xs-7
          .col-xs-5.col-sm-5.col-md-5.col-lg-4.col-xl-4
            .herobox
              .herotext
                .row
                  .col-xs-4
                    %embed{src: image_path('homepage-people.svg')}
                  .col-xs-8.row
                    %h1 ???
                    %p
                      =t 'views.welcome.index.people_signed_up'
              .herolinks
                = link_to signup_path, :class => "morelink signuplink" do
                  = t(:sign_up)
                  %i.icon-arrow-right
                = link_to people_path, :class => "morelink explorelink" do
                  = t(:meet)
                  %i.icon-arrow-right
  #how.homesection
    .row
      .col-xs-12
        %h1 How It Works
    .row
      .col-xs-12
        .container.container-fixed
          .row
            .col-xs-4
              %embed{src: image_path("homepage-how-record.svg")}
            .col-xs-4
              %embed{src: image_path("homepage-how-share.svg")}
            .col-xs-4
              %embed{src: image_path("homepage-how-discuss.svg")}
          .row.txtrow
            #how-record.col-xs-4
              %label 1
              %p Record your observations
            #how-share.col-xs-4
              %label 2
              %p Share with fellow naturalists
            #how-discuss.col-xs-4
              %label 3
              %p Discuss your findings
  #science.homesection
    .row
      .col-xs-6.bigpadded
        .container.container-fixed
          .row
            .col-xs-12
              %h1 Contribute to Science
              %p
                %span
                  Every observation can contribute to biodiversity science, from the rarest butterfly to the most common backyard weed. 
                  We share your findings with scientific data repositories
                  %span.hidden-sm.hidden-xs
                    like the 
                    %a{href: 'http://gbif.org/'} Global Biodiversity Information Facility
                  to help scientists find and use your data. All you have to do is observe.
      .col-xs-6.bleedcol
        .img

  #value.homesection
    .row
      .col-xs-12
        %h1 Nature At Your Fingertips
    .row
      .col-xs-12
        .container.container-fixed
          .row
            .col-xs-2
              %embed{src: image_path("homepage-keep-track.svg")}
            .col-xs-4.row
              %h2 Keep Track
              %p Record your encounters with other organisms and maintain life lists, all in the cloud.
            .col-xs-2.second-col
              %embed{src: image_path("homepage-bee.svg")}
            .col-xs-4.row
              %h2 Create Useful Data
              %p Help scientists and resource managers understand when and where organisms occur.
          .row
            .col-xs-2
              %embed{src: image_path("homepage-crowdsource.svg")}
            .col-xs-4.row
              %h2 Crowdsource Species Identification
              %p Connect with experts who can identify the organisms you observe.
            .col-xs-2.second-col
              %embed{src: image_path("homepage-nerd-cowboy.svg")}
            .col-xs-4.row
              %h2 Become a Citizen Scientist
              %p Find a project with a mission that interests you, or start your own.
          .row
            .col-xs-2
              %embed{src: image_path("homepage-owl.svg")}
            .col-xs-4.row
              %h2 Learn About Nature
              %p Build your knowledge by talking with other naturalists and helping others.
            .col-xs-2.second-col
              %embed{src: image_path("homepage-megaphone.svg")}
            .col-xs-4.row
              %h2 Run a Bioblitz
              %p Hold an event where people try to find as many species as possible.
  #mobile.homesection.row
    .col-xs-6.bleedcol
      %embed{src: image_path("homepage-devices.svg")}
    .col-xs-6.bigpadded
      %h1 Works On All Your Devices
      %p
        Install our mobile apps so you can always observe, even without cell reception.
      %p
        = link_to "https://play.google.com/store/apps/details?id=org.inaturalist.android" do
          = image_tag "https://developer.android.com/images/brand/en_app_rgb_wo_45.png", alt: "Android app on Google Play" 
        = link_to "https://itunes.apple.com/us/app/inaturalist/id421397028?mt=8" do
          = image_tag "http://static.inaturalist.org/wiki_page_attachments/235-original.png", alt: "iPhone app in the Apple App Store" 
  #who.homesection
    .row
      .col-xs-12
        %h1 Who Uses iNaturalist?
        .container.container-fixed
          .row
            .col-xs-12
              #who-carousel.carousel.slide{data: {ride: :carousel}}
                %ol.carousel-indicators
                .carousel-inner{role: "listbox"}
  #call
    .row
      .col-xs-12
        .container.container-fixed
          .row
            .col-xs-8.bigpadded
              What are you waiting for?
            .col-xs-3.btncol
              = link_to "Join today", signup_path, :class => "btn btn-default"
