<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'welcome' %>
  <!--[if lt IE 8]>
    <style type="text/css" media="screen">
      .observations .observation .user .label,
      .observations .observation .observed_on .label {
        display: inline;
      }
    </style>
  <![endif]-->
<% end %>

<% content_for(:extrajs) do %>
  <script type="text/javascript" charset="utf-8">
    var BOUNDS = <%=raw CONFIG.bounds.to_json %>
    $(document).ready(function() {      
      // show some created_at dates
      $('div.created_at h4.label').text(I18n.t('date_added'));
      $('div.observed_on h4.label').text(I18n.t('observation_date'));
      $('div.created_at').show();

      var opts = BOUNDS ? {bounds: BOUNDS} : {lat: 40.714, lng: -98.262, zoom: 3}
      var map = iNaturalist.Map.createMap(opts);
      map.overviewMapControl = true;

      // build a simple sidebar for the map
      var obsList = $('#last-five');

      // Make the map markers
      var letter_counter = 0;
      var letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var bounds = new google.maps.LatLngBounds();
      $.each(window.observations, function() {
        var o = this;
        if (typeof(o.latitude) != 'undefined' && typeof(o.longitude) != 'undefined') {
          // Add the obs to the map
          map.addObservation(o, {
            icon: iNaturalist.Map.createObservationIcon({
              color: "HotPink",
              character: letters[letter_counter],
              stemless: o.coordinates_obscured
            })
          });
          letter_counter++;
          
          
          // Expand the map bounds
          bounds.extend(new google.maps.LatLng(o.latitude, o.longitude));
          
          // Create infowindows and behavior
          var icon_div = $('#observation-'+o.id+' .icon');
          if (typeof(map.observations[o.id]) != 'undefined') {
            var marker = map.observations[o.id];
        
            // add the marker image to the list
            var src = marker.getIcon()
            if (src.url) src = src.url
            var icon_img = $('<img class="marker"/>').attr('src', src)
        
            // bind the observation's marker as the context to operate in when
            // the obsNode is clicked in the list.
            $(icon_img).click(function() {
              map.openInfoWindow.apply(marker);
            });
          }
          else {
            var icon_img = $('<img/>').attr(
              'src', "<%= asset_path('mapMarkers/questionmarker.png') %>");
          }
          icon_div.empty().append(icon_img);
        }
      });
      
      if (!BOUNDS) { map.fitBounds(bounds) }
    });
  </script>
<% end %>

<div id="welcomecol" class="clear last column prepend-2 span-21 append-1">
  <div id="explore" class="column span-5">
    <center>
      <%= link_to image_tag("map-icon-155px.jpg"),observations_path %>
      <h1><%= link_to t(:explore!), observations_path %></h1>
      <p><%= link_to t(:your_world!), observations_path %></p>
    </center>
  </div>
  <div id="learn" class="column span-5">
    <center>
      <%= link_to image_tag("animals.jpg", :height => 155), taxa_path %>
      <h1><%= link_to t(:learn!), taxa_path %></h1>
      <p><%= link_to t(:about_life!), taxa_path %></p>
    </center>
  </div>
  <div id="record" class="column span-5 border">
    <center>
      <%= link_to image_tag("notebook-icon-color-155px-shadow.jpg", :width => 131, :height => 155), new_observation_path, :rel => "nofollow" %>
      <h1><%= link_to t(:record!), new_observation_path, :rel => "nofollow" %></h1>
      <p>
        <%= link_to t(:add_observations!), new_observation_path, :rel => 'nofollow' %>
      </p>
    </center>
  </div>
  <div class="last column span-6">
    <div id="more">
    <h2><%=t :welcome! %></h2>
      <p>
        <%= t('views.welcome.index.welcome_message_html', :image => image_tag(CONFIG.logo, :alt => CONFIG.site_name)) %>
      </p>

      <a href="<%= CONFIG.about_url %>" id="learnmore" class="button">
        <%=t :learn_more %> &raquo;
      </a>
      <% if logged_in? %>
          <%= link_to t('add_observations'), new_observation_path, :id => 'addobs', :class => 'button default', :rel => "nofollow" %>
      <% else %>
      <%= link_to t(:sign_up!), signup_url, :id => 'signup', :class => 'button default' %>
      <% end %>
    </div>
  </div>
</div><!-- end welcome col -->

<% if @announcement -%>
  <div class="column span-24">
    <%= @announcement.body.html_safe %>
  </div>
<% end -%>

<div class="column prepend-2 span-7">
    <h3 class="description"><%=t :recent_additions %></h3>
  <div id="observations" class="compact mini observations date-added">
    <% cache @observations_cache_key, :expires_in => 5.minutes do %>
      <%= render(:partial => 'observations/cached_component', :collection => @observations) %>
      <script type="text/javascript">
        window.observations = <%=json_escape @observations.to_json.html_safe %>
      </script>
    <% end -%>
  </div>
  <p><%= link_to(t(:more), observations_path(:order_by => 'created_at', :order => 'desc'), :class => 'readmore', :rel => "nofollow") %></p>
</div>
<div class="last column span-14 append-1">
  <div id="map"></div>
</div>
