- content_for(:extrahead) do
  - unless @google_webmaster_verification.blank?
    - @google_webmaster_verification.split( ";" ).each do |verification|
      %meta{content: verification.strip, name: "google-site-verification"}
  %meta{content: "website", property: "og:type"}
  %meta{content: @site&.name, property: "og:title"}
  - if @site&.shareable_image?
    %meta{content: image_url(@site.shareable_image.url), property: "og:image"}
    %meta{content: image_url(@site.shareable_image.url), property: "twitter:image"}
  %meta{content: root_url, property: "og:url"}
  %meta{content: t(:x_site_is_a_social_network_for_naturalist, site: @site&.name), property: "og:description"}
- content_for(:title) do
  = t(:a_community_for_naturalist)
- announcements = @announcements.select{|a| a.placement == "welcome/index"}
- unless announcements.blank?
  - announcements.each do |announcement|
    .announcement
      = render "announcements/announcement", announcement: announcement
- if @page
  - content_for(:extrajs) do
    = google_maps_js
    = javascript_include_tag 'map_bundle'
  = wiki_content(@page.content)
- else
  = render 'index'
