<div class='photoSelectorAlbums facebookAlbums' <%= "data-fb_uid='#{@friend_id}'" if @friend_id %>>
  <% if @reauthorization_needed -%>
    <p class="notice ui">
      Facebook would like to confirm that you want your account connected to iNat.
      <%= link_to "Confirm now", ProviderAuthorization::AUTH_URLS['facebook'], :class => "readmore" %>
    </p>
  <% elsif @albums.empty? %>
    <p class="meta ui">We can't find any photos from Facebook.</p>
  <% else %>
    <% if @friend_name %>
      <a href='#' class="back_to_friends" data-fb_uid="<%= @friend_id %>">&laquo; Back to friends</a>
    <% end %>
    <h4>Select one of <%= (@friend_name ? "#{@friend_name}'s" : 'your') %> albums</h4>
    <table>
    <% @albums.each do |album| %>
      <tr class='album' data-aid='<%= album['aid'] %>'>
        <td><%= image_tag(album['cover_photo_src']) %></td>
        <td><%= album['name'] %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</div>

