<div class='photoSelectorAlbums facebookAlbums'>
  <% if @reauthorization_needed -%>
    <p class="notice ui">
      <%=t :facebook_confirmation %>
      <%= link_to t(:confirm_now), ProviderAuthorization::AUTH_URLS['facebook'], :class => "readmore" %>
    </p>
  <% elsif @albums.empty? %>
    <p class="meta ui"><%=t :no_facebook_photos %></p>
  <% else %>
    <label><%=t :select_an_album %></label>
    <table>
    <% @albums.each do |album| %>
      <tr class='album' data-aid='<%= album['aid'] %>'>
        <td><%= image_tag(album['cover_photo_src']) %></td>
        <td><%= album['name'] %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</div>

