<%-
  opts = { class: "photoSelectorAlbums facebookAlbums" }
  opts["data-friend_id"] = @friend_id if @friend_id
-%>
<%= content_tag :div, opts do %>
  <% if @friend_name %>
    <a href='#' class="back_to_friends" data-friend_id="<%= @friend_id %>">&laquo; Back to friends</a>
  <% end %>
  <% if @albums.empty? %>
    <br />
    <p class="meta ui">We can't find any albums from Facebook.</p>
    <div class="notice box">
      <%=t :facebook_photo_import_disabled_notice %>
    </div>
  <% else %>
    <h4>Select one of <%= (@friend_name ? "#{@friend_name}'s" : 'your') %> albums</h4>
    <table>
    <% @albums.each do |album| %>
      <tr class='album' data-aid='<%= album['aid'] %>'>
        <td><%= image_tag( album['cover_photo_src'], alt: "Album cover photo" ) %></td>
        <td><%= album['name'] %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
<% end %>
