= content_for :title do
  Facebook
= content_for :extrajs do
  %script{:type => "text/javascript", :src => "http#{request.ssl? ? 's' : ''}://maps.google.com/maps/api/js?sensor=false"}
  = javascript_include_tag 'map_bundle'
  :javascript
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '#{CONFIG.facebook.app_id}',
        xfbml      : true,
        version    : 'v2.4'
      });
    };
    
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    var USER = #{json_escape @selected_user.to_json(User.default_json_options)}
    function loadObservations(options) {
      $('.observations').loadingShades('Loading...', {top: '85px'})
      options = options || {}
      if (!options.by || options.by == null) {
        var url = '/observations?per_page=100&has[]=photos&partial=cached_component'
      } else {
        var url = '/observations/'+options.by+'?per_page=100&partial=cached_component'
      }
      $('.observations').load(url, function(data) {
        var html = data.replace(/\/div>[\s\n]+?<div/g, '/div><div')
        $(this).html(html)
        $('.observationcontrols').observationControls()
      })
    }
= content_for :extracss do
  :css
    h2 img {margin-bottom: -5px;}
    .observations {position: relative;}
.right.buttonrow
  .minor.button
    - if logged_in?
      = link_to_function t(:view_observations_by_everyone), "loadObservations({by: null}); $(this).hide(); $('#yourlink').show()", :id => 'everyonelink', :style => is_me?(@selected_user) ? nil : 'display:none'
      = link_to_function t(:view_your_observations), "loadObservations({by: #{current_user.login.inspect}}); $(this).hide(); $('#everyonelink').show()", :id => 'yourlink', :style => is_me?(@selected_user) ? 'display:none' : nil
  = link_to t(:add_an_observation), new_observation_url, :class => "default button"
%h2
  - if @selected_user
    =raw t(:recent_observations_by, :login => link_to(you_or_login(@selected_user).downcase, @selected_user))
  - else
    =t :recent_observations 
  = t(:from).downcase
  = link_to image_tag(@site.logo.url, :alt => @site.name), root_url, :title => @site.name

.observationcontrols.stacked
.observations.medium.grid

= link_to t(:view_more), observations_url, :class => "readmore"

:javascript
  $('.container').addClass('wide')
  if (USER) {
    loadObservations({by: USER.login})
  } else {
    loadObservations()
  }
  $(document).on('click', 'a', function() {
    if ($(this).attr('href') && !$(this).attr('href').match(/^\#/)) {
      $(this).attr('href', $(this).attr('href').replace('https', 'http'))
      $(this).attr('target', '_blank')
    }
  })
