<%- content_for(:title) do -%>
  <%=t :facebook_options %>
<%- end -%>
<h2><%=t :facebook_account_information %></h2>

<div class="column span-13">
  <% if current_user.facebook_identity -%>
    <p>
      <% @album_cover_photos.each do |photo| -%>
        <img src="<%= photo['cover_photo_src'] -%>" />
      <% end -%>
    </p>
    <p>
      <%=t :linked_facebook, :site_name => @site.name %>
    </p>
    <p>
      <%=t :linked_facebook_description, :site_name => @site.name %>
    </p>
  <% else -%>
    <h3><%=t :not_linked_facebook, :site_name => @site.preferred_site_name_short %></h3>
    <p class="description">
      <%=t :linked_facebook_howto, :site_name => @site.preferred_site_name_short %>
    </p>
    <p class="description">
      <%=t :linked_facebook_password %>
    </p>

    <p class="description">
      <%=t :linked_facebook_automaticaly, :site_name => @site.preferred_site_name_short %>
    </p>
  <% end -%>

  <hr/>
</div>

<!-- options actions-->
<div class="column span-10 last">
  <p>
  <% if current_user.facebook_identity %>
    <%= link_to t(:hate_me_facebook, :site_name => @site.name),
      omniauth_disconnect_path('facebook'), :class => 'delete button', :method => 'delete' %>
  <% else %>
    <%= link_to t(:take_me_facebook), "/auth/facebook",
      onclick: "$('.facebook-button').toggle();",
      class: "facebook-button default button",
      method: :post %>
    <div class="facebook-button" style="display:none;">
      <span class="loading status"><%=t :connecting_to_facebook %></span>
    </div>
  <% end %>
  </p>
</div>
