<%- content_for(:title) do -%>
  Facebook Options
<%- end -%>
<h2>Your Facebook Account Information</h2>

<div class="column span-13">
  <% if current_user.facebook_identity -%>
    <p>
      <% @album_cover_photos.each do |photo| -%>
        <img src="<%= photo['cover_photo_src'] -%>" />
      <% end -%>
    </p>
    <p>
      Your <%= CONFIG.site_name %> account is currently linked to your Facebook account.
    </p>
    <p>
      Keeping your <%= CONFIG.site_name %> account linked to your Facebook account allows you to
      add multiple photos to your observations.  Of course, if you ever want
      <%= CONFIG.site_name %> and Facebook to break up, we won't stop you, you just won't be
      able to add photos. Sometimes this might be for the best, like if you create
      a new Facebook account that you want to link <%= CONFIG.site_name %> to.
    </p>
  <% else -%>
    <h3>Your <%= CONFIG.site_name %> account is not linked to your Facebook account :(</h3>
    <p class="description">
      To connect Facebook with <%= CONFIG.site_name_short %>, click the link on the right and sign into
      Facebook.com. 
    </p>
    <p class="description">
      We will never ask you for your Facebook password (but Facebook might, check the
      url that the button sends you and make sure it's Facebook.com). We will also
      won't change your Facebook data unless you want us to. We're the good guys!
    </p>

    <p class="description">
      Also, keep in mind that if you log in to <%= CONFIG.site_name_short %> via Facebook, we will
      automatically re-link your <%= CONFIG.site_name_short %> and Facebook accounts. Seems reasonable that
      if you use Facebook you'll want to be able to import Facebook photos, right?
    </p>
  <% end -%>

  <hr/>
</div>

<!-- options actions-->
<div class="column span-10 last">
  <p>
  <% if current_user.facebook_identity %>
    <%= link_to "Unlink your Facebook and #{CONFIG.site_name} Accounts", 
      omniauth_disconnect_path('facebook'), :class => 'delete button', :method => 'delete' %>
  <% else %>
    <%= link_to 'Yes, take me to Facebook!', "/auth/facebook", 
                :onclick => "$('.facebook-button').toggle();", :class => 'facebook-button default button' %>
    <div class="facebook-button" style="display:none;">
      <span class="loading status">Connecting to Facebook...</span>
    </div>
  <% end %>
  </p>
</div>
