<%- content_for(:title) do -%>
  <%=t :facebook_options %>
<%- end -%>
<h2><%=t :facebook_account_information %></h2>

<div class="column span-13">
<% if @user.facebook_identity -%>
  <p>
    <% @album_cover_photos.each do |photo| -%>
      <img src="<%= photo['cover_photo_src'] -%>" />
    <% end -%>
  </p>
  <p>
    <%=t :linked_facebook %>
  </p>
  <p>
    <%=t :linked_facebook_description %>
     </p>
<% else -%>
<h3><%=t :not_linked_facebook %></h3>
<p class="description">
<%=t :linked_facebook_howto %>
</p>
<p class="description">
<%=t :linked_facebook_password %>
</p>

<p class="description">
<%=t :linked_facebook_automaticaly %>
</p>
<% end -%>

<hr/>

<%
=begin
%>
<p><!-- auto import from Facebook into your queue -->
<% if @user.facebook_identity && @user.facebook_identity.auto_import %>
<!-- You currently have your iNaturalist account setup to import from your Facebook account automatically. -->
<% elsif @user.facebook_identity && !@user.facebook_identity.auto_import %>
<!-- You currently do not have your iNaturalist account setup to import from your Facebook account. -->
<% end %>
</p>
<%
=end
%>
</div>

<!-- options actions-->
<div class="column span-10 last">
<p>
<% if @user.facebook_identity %>
  <%= link_to t(:hate_me_facebook), 
    omniauth_disconnect_path('facebook'), :class => 'delete button', 
    :style=>'font-size:13px;', :method => 'delete' %>
<% else %>
  <%= link_to t(:take_me_facebook), "/auth/facebook", 
              :onclick => "$('.facebook-button').toggle();", :class => 'facebook-button default button' %>
  <div class="facebook-button" style="display:none;">
    <span class="loading status"><%=t :connecting_to_facebook %></span>
  </div>
<% end %>
</p>
</div>
