<% content_for(:extracss) do %>
  <%= stylesheet_link_tag("invite") %>
<% end %>
<% content_for(:extrajs) do %>
  <%= javascript_include_tag "jquery/plugins/inat/photo_selectors.js" %>
<% end %>
<h2>Invite Facebook Photos to <%= @site.name %></h2>
<p class="description">
  You can make it super easy for people on Facebook to add their photos as <%= @site.site_name_short %>
  observations. Just leave a comment including this special invite URL below.
  You can also pre-select a taxon and project for the new observation.
</p>

<!--
<div class="stacked">
  <textarea class="text" style="width: 100%; height: 1.2em; font-size: 175%"><%= @invite_url %></textarea>
</div>
-->

<% form_tag(url_for, {:method => :post, :class => "photo_invite"}) do %>
  
  <div class='observation_photos'></div>
  <label for="taxonchooser">Automatically ID the new obs as</label>
  <%= text_field_tag :taxon_id, @taxon.try(:id), :class => "chooser text", :id => "taxonchooser", :placeholder => "Type species name..." %>
  &nbsp;
  <label for="taxonchooser">Automatically add to project</label>
  <%= text_field_tag :project_id, @project.try(:id), :class => "chooser text", :id => "projectchooser", :placeholder => "Type project name..." %>
  <div class='invite_comment'>
    <label>Add a comment (don't forget to include the {{INVITE_LINK}} placeholder):</label>
    <br />
    <%= text_area_tag :comment, t(:default_invite_comment, :site_name => @site.name), :class=>'text' %>
  </div>
  <%= submit_tag("Send invite", :class => 'default button') %>
<% end -%>


<script type="text/javascript" charset="utf-8">
  $('#taxonchooser').chooser({
    queryParam: 'q',
    collectionUrl: '/taxa/search.json',
    resourceUrl: '/taxa/{{id}}.json'
  })
  $('#projectchooser').chooser({
    queryParam: 'q',
    collectionUrl: '/projects/search.json',
    resourceUrl: '/projects/{{id}}.json',
    defaultSources: <%=json_escape @projects.to_json.html_safe %>
  })
    var DEFAULT_PHOTO_IDENTITY_URL = "/facebook/photo_fields", //?context=user",
    //var DEFAULT_PHOTO_IDENTITY_URL = "/photos/providers", //?context=user",
        PHOTO_IDENTITY_URLS = [{title: 'Facebook', url: '/facebook/photo_fields'},{title: 'Flickr', url: '/flickr/photo_fields'}]
        //PHOTO_IDENTITY_URLS = [{title: 'Facebook', url: '/facebook/photo_fields?context=user'},{title: 'Flickr', url: '/flickr/photo_fields?context=user'}]

$('.observation_photos').each(function() {
  var $form = $(this).parents('form');
  var $submitButton = $form.find('input[type=submit]')
  $form.submit(function(){
    $submitButton.addClass('disabled').val('Sending...');
    $.ajax({
      type:'POST',
      url:$form.attr('action'), 
      data:$form.serialize(),
      success:function(d){
        if (d.error) {
          alert(d.error);
        } else if (d.ok) {
          $("#taxonchooser").chooser('clear');
          $("#projectchooser").chooser('clear');
          $form[0].reset();
        }
        $submitButton.removeClass('disabled').val('Send invite');
      }});
    return false;
  });
  var authenticity_token = $form.find('input[name=authenticity_token]').val()
  // The photo_fields endpoint needs to know the auth token and the index
  // for the field
  var options = {
    urlParams: {
      authenticity_token: authenticity_token,
      index: 0,
      limit: 15,
      //synclink_base: window.location.href,
      context: 'friends'
    }
  }
  if (DEFAULT_PHOTO_IDENTITY_URL) {
    options.baseURL = DEFAULT_PHOTO_IDENTITY_URL
  } else {
    options.baseURL = '/photos/local_photo_fields' //?context=user'
    options.queryOnLoad = false
  }
  if (PHOTO_IDENTITY_URLS && PHOTO_IDENTITY_URLS.length > 0) {
    options.urls = PHOTO_IDENTITY_URLS
  }
  $(this).photoSelector(options)
})
</script>
