<%- 
  o = object || @observation
  quality_metrics = @quality_metrics || []
  user_quality_metrics = @user_quality_metrics || []
-%>
  
<div class="details" style="display:none">
  <table class="quality_assessment">
    <tbody>
      <tr>
        <td> <%= t(:community_supported_id) %></td>
        <td>
          <% if o.community_supported_id? %>
            <span class="good">yes</span>
          <% else %>
            no
          <% end -%>
          <div class="small meta">
            <%= o.num_identification_agreements == 1 ? t(:n_person_agrees, :amount=>"#{o.num_identification_agreements}") : t(:n_people_agrees, :amount=>"#{o.num_identification_agreements}")  %>
          </div>
          <div class="small meta">
            <%= o.num_identification_disagreements == 1 ? t(:n_person_disagrees, :amount=>"#{o.num_identification_disagreements}") : t(:n_people_disagrees, :amount=>"#{o.num_identification_disagreements}")  %>
          </div>
        </td>
      </tr>

      <tr>
        <td><%= t(:observation_date) %></td>
        <td>
          <%= o.observed_on? ? '<span class="good">'+t(:yes)+'</span>' : 'no' %>
        </td>
      </tr>

      <tr>
        <td><%= t(:georeferenced) %></td>
        <td>
          <%= o.georeferenced? ? '<span class="good">'+t(:yes)+'</span>' : 'no' %>
        </td>
      </tr>

      <tr>
        <td> <%= t(:photo) %></td>
        <td>
          <%= o.photos.exists? ? '<span class="good">'+t(:yes)+'</span>' : 'no' %>
        </td>
      </tr>

      <% for metric, question in QualityMetric::METRIC_QUESTIONS  %>
        <%= render :partial => 'quality_metrics/quality_metric_row', :locals => {
          :metric => metric, 
          :question => question, 
          :existing_quality_metrics => quality_metrics,
          :user_quality_metric => user_quality_metrics.detect{|qm| qm.metric == metric},
          :observation => o} %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td><%= t(:quality_grade) %></td>
        <td>
          <% if o.research_grade? -%>
            <span class="research_grade_notice"><%=t o.quality_grade %></span>
          <% else %>
            <%=t o.quality_grade %>
          <% end -%>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="summary inlineblock">
  <label><%= t(:quality_grade_colon) %></label>
  <% if o.research_grade? -%>
    <span class="research_grade_notice"><%=t o.quality_grade %></span>
  <% else %>
    <%=t o.quality_grade %>
  <% end -%>
</div>

<span class="button">
  <%= link_to_function t(:details), "$(this).parent().siblings('.summary').hide().siblings('.details').slideDown(); $(this).hide().next().show();" %>
  <%= link_to_function t(:hide_details), "$(this).parent().siblings('.summary').show().siblings('.details').slideUp();   $(this).hide().prev().show();", :style => "display:none" %>
</span>

<div id="quality_tip" style="display:none">
  <%= render :partial => 'quality_metrics/quality_assessment_help' %>
</div>

