  <p>
    <%= t(:the_data_quality_assessment_is) %>
  </p>
  
  <ul>
    <li>
      <%= t(:the_inat_community_agrees_with) %>
    </li>
    <li> <%= t(:the_observation_has_date) %></li>
    <li><%= t(:the_observation_is_georeferenced) %></li>
    <li><%= t(:the_observation_has_photo) %></li>
  </ul>
  
  <p><%= t(:observations_will_revert_to_casual) %></p>
  
  <ul>
    <li><%= t(:the_community_agrees_location_doesnt) %></li>
    <li><%= t(:the_community_agrees_organism_isnt) %></li>
  </ul>
