<%= form_for(@guide_photo) do |f| %>
  <% if @guide_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guide_photo.errors.count, "error") %> prohibited this guide_photo from being saved:</h2>

      <ul>
      <% @guide_photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :guide_taxon_id %><br />
    <%= f.number_field :guide_taxon_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :photo_id %><br />
    <%= f.number_field :photo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
