<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'observations' %>
  <style type="text/css" media="screen">
    form.taxon_link_form .field label{display:block;margin-bottom:0.25em;}
    form.taxon_link_form .buttonrow{clear:both;}
    input.text{margin-top:0;}
    #url_field input.text,
    #species_field input.text{width:575px;}
    #site_title_field{float:left;}
    #show_for_descendent_taxa_field{margin:0;}
    #show_for_descendent_taxa_field label{display:inline;}
    #species_field{clear:left;}
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#species_guess').simpleTaxonSelector();
    });
  </script>
<%- end -%>
<% form_for(@taxon_link, :html => {:class => 'taxon_link_form'}) do |f| %>
  <div class="column span-15 append-1">
    <div id="show_for_descendent_taxa_field" class="field right">
      <%= f.check_box :show_for_descendent_taxa %>
      <%= f.label :show_for_descendent_taxa %>
    </div>
    <div id="url_field" class="field">
      <%= f.label :url, 'URL <span class="required">*</span>' %>
      <%= f.text_field :url, :class => 'text' %>
      <%= f.error_message_on :url, "URL " %>
    </div>


    <div id="site_title_field" class="field">
      <%= f.label :site_title %>
      <%= f.text_field :site_title, :class => 'text' %>
      <%= f.error_message_on :site_title, "Site title " %>
    </div>

    <div id="species_field" class="field">
      <label for="species_guess">Taxon <span class="required">*</span></label>
      <% if @taxon -%>
        <%= text_field_tag :species_guess, default_taxon_name(@taxon), :class => 'text' %>
        <%= f.hidden_field :taxon_id, :alt => render(:partial => 'shared/taxon') %>
      <% else %>
        <%= text_field_tag :species_guess, '', :class => 'text' %>
        <%= f.hidden_field :taxon_id %>
      <% end -%>
      <%= f.error_message_on :taxon_id, "Taxon " %>
    </div>
    
    <div class="buttonrow">
      <%= f.submit "Save", :class => "default button" %>
      <%= link_to "Cancel", @taxon_link.taxon, :class => "button" %>
      <% unless @taxon_link.new_record?  -%>
        <%= link_to "Delete", @taxon_link, :method => :delete, 
          :confirm => "Are you sure you want to delete this taxon link?",
          :class => "minor button delete" %>
      <% end -%>
    </div>
  </div>
  
  <div class="last column span-8">
    <div id="help_field" class="description field" >
      If this link will apply to descendent taxa, you can use template tags to fill in the taxon name in the URL
      <dl>
        <dt>[NAME]</dt>
        <dd>
          The name of the taxon, including the space for species and infraspecies.<br/><br/>
          <strong>Example:</strong><br/>
          <code>http://tolweb.org/[NAME]</code> -> 
          <code>http://tolweb.org/Homo%20sapiens</code>
        </dd><br/>

        <dt>[GENUS] / [SPECIES]</dt>
        <dd>
          Use this if the URL needs to have the genus and species separated in
          a particular way. If the taxon is not a species or infraspecies,
          everything between [GENUS] and [SPECIES] will get replaced by the
          taxon name, so use sparingly. <br/><br/>

          <strong>Example:</strong><br/>
          <code>http://site.com/?g=[GENUS]&amp;s=[SPECIES]</code> -> 
          <code>http://site.com/?g=Homo&amp;s=sapiens</code>
        </dd>
      </dl>
    </div>
  </div>
<% end %>