<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title> <%= t(:inat_user_profile, :user=> h(@login), :site_name => site_name %>
  <%= stylesheet_link_tag 'blueprint/screen' %>
  <%= stylesheet_link_tag 'blueprint/plugins/buttons/buttons' %>
  <%= stylesheet_link_tag 'index' %>
  
  <!-- Show the Blueprint grid and baseline -->
  <!-- <style type="text/css">
          .container { background: url('/assets/blueprint/lib/grid.png'); }
  </style> -->
</head>

<body>
                                         
  <%= render :partial => 'shared/header' %>
  
  <div id="debug"></div>

  <% if flash[:notice] %>
  <p id="flash"><%= flash[:notice] %></p> 
  <% end %>

  <div id="wrapper" class="container clear">
    <%= @content_for_layout %>
  </div><!-- end wrapper -->  
  
  <%= render :partial => 'shared/footer' %>

</body>
</html>
