= content_for :title do
  = @title = "Editing #{@page.title}"
= content_for :extrajs do
  %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
  = javascript_include_tag 'inaturalist/map3'
= content_for :extracss do
  = stylesheet_link_tag 'wiki'
%h2= wt @title
= render 'form'