- content_for :title do
  = @title = raw @page.title
- content_for :extracss do
  = stylesheet_link_tag 'wiki'
- content_for :extrajs do
  = google_maps_js
  = javascript_include_tag 'map_bundle'
  :javascript
    $(document).ready(function() {
      $('#tabs, .tabs').tabs()
    })

= wiki_topnav
%h2= @title
  
= wiki_content @page.content

.meta.ui
  - if edit_allowed?
    .right
      = wiki_page_actions
  = wiki_page_info
