- content_for :title do
  =t :your_relationships
.container
  .row
    .col-xs-8
      %h2=t :your_relationships
    .col-xs-4
      .pull-right
        = form_tag url_for, method: :get do
          .input-group
            = text_field_tag :q, @q, class: "form-control"
            .input-group-btn
              = submit_tag t(:search), class: "btn btn-default"
  .row
    .col-xs-12
      %table.table
        %tbody
          - for friendship in @friendships
            %tr
              %td
                = link_to( image_tag( friendship.friend.icon.url(:thumb), class: "usericon" ), person_path( friendship.friend ) )
                = link_to_user friendship.friend
                .meta= friendship.friend.name
              %td
                = form_for friendship, url: relationship_path( friendship, format: :json ), remote: true do |f|
                  .form-group
                    %label
                      = f.check_box :following, data: { autosubmit: true }
                      =t :receive_updates_about_new_observations
                  .form-group
                    %label
                      = f.check_box :trust, data: { autosubmit: true }
                      =t :trust_with_private_coordinates
      = will_paginate @friendships
