<%- 
  place ||= @place || add_to_place_link
  taxon ||= @taxon
  listed_taxon = @listed_taxa_by_place_id ? @listed_taxa_by_place_id[place.id] : nil
  skip_map ||= false
-%>
<li class="clear add_to_place_link">
  <% unless skip_map -%>
    <%= google_static_map_for_place(place, {
      :zoom => place.place_type == Place::PLACE_TYPE_CODES['Country'] ? 0 : 2,
      :size => '75x75',
      :markers => "size:mid|color:blue|#{place.latitude},#{place.longitude}"
    }, {:class => 'left'}) %>
  <% end -%>
  <% if listed_taxon -%>
    <% if listed_taxon.removable_by?(current_user) -%>
      <%= link_to t(:remove), listed_taxon_path(listed_taxon), 
        :remote => true,
        :method => :delete,
        :data => {
          :confirm => t(:are_you_sure_you_want_to_remove_this_taxon_from_checklist, :place => place.name),
          type: 'json'
        },
        :id => dom_id(place, 'remove_link'),
        :class => "last button delete pale remove_link",
        :style => 'float: right; margin: 0' %>
      <span id="<%= dom_id place, 'remove_status' %>" class="inter status loading right" style="display:none"><%= t :removing %></span>
    <% else %>
      <div class="last right pale disabled button"><%= t :added %></div>
    <% end -%>
  <% else %>
    <%= link_to t(:add_to_checklist), listed_taxa_path,
      :remote => true,
      :method => :post,
      "data-type" => 'json',
      "data-params" => "#{{ :taxon_id => taxon.id, :place_id => place.id }.to_query}", 
      :id => dom_id(place, 'add_link'),
      :class => "last button pale right add_link",
      :style => 'float: right; margin: 0;' %>
    <span id="<%= dom_id place, 'add_status' %>" class="inter status loading right" style="display:none"><%= t :adding %></span>
  <% end -%>

  <strong><%= link_to t("places_name.#{place.name.gsub(' ','_').downcase}", :default => place.name), place %></strong>
  <div class="small description">
    <% unless place.place_type_name.blank? -%>
      <%= t("place_geo.geo_planet_place_types.#{place.place_type_name.gsub(' ','_')}", :default => place.place_type_name) %>
    <% end -%>
    <% if place.parent %><%= t :in %>
        <%= t("places_name.#{place.parent.display_name.gsub(' ','_').downcase}", :default => place.parent.display_name) %>
    <% end %>
  </div>

  <% if listed_taxon -%>
    <div class="small description">
      <%= t(:source) %>: <%= citation_for listed_taxon.citation_object %>
    </div>
  <% end -%>
</li>
