<div class="amphibiaweb">
  <div class="column span-14">
    <%- content = capture do %>
      <% for section in %w(description distribution life_history trends_and_threats relation_to_humans comments) %>
        <%- next if (section_content = @xml.at(section).try(:inner_text)).blank? %>
        <% unless section == 'description' -%>
          <h3><%= section.humanize.capitalize %></h3>
        <% end -%>
        <%= section_content.strip.split('<p>').compact.map{|para| "<p>#{para}</p>"} %>
      <% end %>

      <% for section in %w(refs) %>
        <%- next if (section_content = @xml.at(section).try(:inner_text)).blank? %>
        <h3><%= section.humanize.capitalize %></h3>
        <%= section_content.strip.split('<p>').compact.map{|para| "<p class=\"ui\">#{para}</p>"} %>
      <% end %>
    <% end %>
    <%- content = @xml.at('lannoo').try(:inner_text) if content.strip.blank? -%>
    <% if content.to_s.strip.blank? -%>
      <p class="description">
        <% t(:amphibiaweb_doesnt_have_info_about_species) %>
        <%= link_to_function t(:try_wikipedia), "tryWikipedia()", 'data-loading-click' => true %>
      </p>
      <script type="text/javascript" charset="utf-8">
        function tryWikipedia() {
          $('#wikipedia_description').load('<%= describe_taxon_path(@taxon, :description => "wikipedia") %>', function() {
            $('#description h3 select').val('wikipedia')
            $('#description .taxon_description').removeClass('amphibiaweb').addClass('wikipedia')
          })
        }
      </script>
    <% else %>
      <%= content %>
    <% end -%>
  </div>

  <div class="last column span-6">
    <div class="quiet box">
      <p class="ui">
        <a href="http://amphibiaweb.org/cgi-bin/amphib_query?where-scientific_name=<%= @genus_name %>+<%= @species_name %>">
          <%= image_tag 'http://amphibiaweb.org/images/homepage_images/awlogomed.jpg', :style => "width: 48px; vertical-align: middle; margin-right: 5px" %>
        </a>
        <a href="http://amphibiaweb.org/cgi-bin/amphib_query?where-scientific_name=<%= @genus_name %>+<%= @species_name %>" class="readmore">
          <%= t(:view_on_amphibiaweb) %>
        </a>
      </p>

      <h4><%= t(:amphibiaweb_taxonomy) %></h4>
      <ul class="stacked">
        <li class="sciname"><%= @xml.at(:ordr).try(:inner_text) %></li>
        <li class="sciname"><%= @xml.at(:family).try(:inner_text) %></li>
        <li class="sciname genus"><%= @xml.at(:genus).try(:inner_text) %></li>
        <li class="sciname species">
          <%= @xml.at(:genus).try(:inner_text) %> <%= @xml.at("species species").try(:inner_text) %>
        </li>
      </ul>

      <%-
        submittedby = @xml.at('submittedby').try(:inner_text)
        submit_date = @xml.at('submit_date').try(:inner_text)
        editedby = @xml.at('editedby').try(:inner_text)
        edit_date = @xml.at('edit_date').try(:inner_text)
      -%>
      <% if !submittedby.blank? || !submit_date.blank? -%>
        <p class="ui">
          <%=  t(:submitted) %>
          <%= t(:by_submittedby, :submittedby => "#{submittedby}") unless submittedby.blank? %>
          <%= t(:on_submit_date, :submitdate => "#{submit_date}") unless submit_date.blank? %>
        </p>
      <% end -%>
      <% if editedby || edit_date -%>
        <p class="ui">
          <%= t(:edited) %>
          <%= t(:by_editedby, :editedby => "#{editedby}") unless editedby.blank? %>
          <%= t(:on_edit_date, :editdate => "#{edit_date}") unless edit_date.blank? %>
        </p>
      <% end -%>

    </div>
  </div>
</div>
