<%- js_link ||= nil -%>
<%= form_tag({}, :method => :get, :class => 'clear buttonrow taxon_search_form') do %>
  <% if js_link -%><input type="hidden" name="js_link" value="<%= js_link %>" /><% end -%>
  <label for="q">Search</label>
  <%= hidden_field_tag :view, @view %>
  <%= hidden_field_tag :is_active, @is_active %>
  <%= text_field_tag 'q', params[:q], :class => 'text' %>
  <input type="submit" class="default button" value="Go" />
  <%= link_to "Clear", url_for_params(:without => :q), :class => 'delete button' %>
  <div class="inter">
    <%= render(:partial => "shared/page_results", :object => @taxa) unless @taxa.nil? %>

    <% unless @q.blank? -%>
       <span class="description">for</span> <em>&ldquo;<%= @q %>&rdquo;</em>
    <% end -%>
    
    <% unless @places.blank? %>
      <span class="description">| </span>
      <%= @places.map {|p| link_to(p.display_name, p)}.join(', ') %>
    <% end %>
    
    <% unless @iconic_taxa.blank? %>
      <span class="description">| </span>
      <%= @iconic_taxa.map do |it|
        link_to(default_taxon_name(it, :use_iconic_taxon_display_name => true), it, :class => "taxon #{it.name}")
      end.join(', ') %>
    <% end %>
    
    <% unless @colors.blank? %>
      <span class="description">| </span>
      <%= @colors.map{|c| content_tag(:span, c.value, :class => "color #{c.value}")}.join(', ').html_safe %>
    <% end %>
  </div>
  
  <div class="inter loading status" style="float: right; display: none; margin-left: 10px">
    Loading...
  </div>
  
  <div class="meta inter" style="float: right; margin-right: 0">
    View &nbsp;
    <%= link_to "grid", url_for_params(:without => "view"), :class => "modal_link #{'selected' if @view == TaxaController::GRID_VIEW}" %>
    <%= link_to "list", url_for_params(:view => TaxaController::LIST_VIEW), :class => "modal_link #{'selected' if @view == TaxaController::LIST_VIEW}" %>
  </div>
<% end %>

<div class="column span-6">
  
  <% if @taxon -%>
    <div class="facet">
      <strong><%= link_to_toggle "Selected Taxon", "#classification", :class => "open" %></strong>
      <div id="classification">
        <%= render :partial => 'classification_list', :locals => {
          :link_method => lambda {|t| url_for_params(:taxon_id => t.id, :without => :page)}
        } %>
      </div>
    </div>
  <% end -%>
  
  <% unless @faceted_iconic_taxa.blank? && @iconic_taxa.blank? -%>
    <div id="iconic_taxa_facet" class="facet taxon_links">
      <strong>
        <% if @iconic_taxa.blank? -%>
          <%= link_to_toggle "Taxonomic Groups", "#iconic_taxa", :class => 'open' %>
        <% else %>
          <%= link_to "&laquo; All Taxonomic Groups".html_safe, url_for_params(:without => [:iconic_taxa, :page]), :rel => "nofollow" %>
        <% end -%>
      </strong>
      <div id="iconic_taxa">
        <% for iconic_taxon in @faceted_iconic_taxa %>
          <%- selected = @iconic_taxa_ids && @iconic_taxa_ids.include?(iconic_taxon.id) -%>
          <div class="facet_value<%= ' selected' if selected %>">
            <%= link_to('&times;'.html_safe, url_for_params(:without => [:iconic_taxa, :page]), :rel => "nofollow", :class => 'right description') if selected %>
            <%= link_to default_taxon_name(iconic_taxon, :use_iconic_taxon_display_name => true), 
              url_for_params(:iconic_taxa => iconic_taxon.id, :without => :page), 
              :rel => "nofollow",
              :class => "taxon #{iconic_taxon.name}" %>
            (<span class="count"><%= number_with_delimiter @facets[:iconic_taxon_id][iconic_taxon.id] %></span>)
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <% unless @faceted_colors.blank? && @colors.blank? -%>
    <div id="colors_facet" class="facet">
      <strong>
        <% if @colors.blank? -%>
          <%= link_to_toggle "Colors", "#colors", :class => 'open' %>
        <% else %>
          <%= link_to '&laquo; All Colors'.html_safe, url_for_params(:without => [:colors, :page]), :rel => "nofollow" %>
        <% end -%>
      </strong>
      <div id="colors">
        <% for color in @faceted_colors %>
          <%- selected = @color_ids && @color_ids.include?(color.id) -%>
          <div class="<%= color.value %> facet_value<%= ' selected' if selected %>">
            <% if selected %>
              <% if @color_ids.size > 1 -%>
                <%= link_to('&times;'.html_safe, 
                  url_for_params(
                    :colors => @color_ids.reject {|cid| cid == color.id}.join(','),
                    :without => :page
                  ), 
                  :rel => "nofollow", 
                  :class => 'right description') %>
              <% else %>
                <%= link_to('&times;'.html_safe, url_for_params(:without => [:colors, :page]), :rel => "nofollow", :class => 'right description') %>
              <% end -%>
            <% elsif @color_ids %>
              <%= link_to "+", url_for_params(:colors => (@color_ids + [color.id]).uniq.join(','), :without => :page), :rel => "nofollow", :class => 'right' %>
            <% end %>
            <%= link_to "&nbsp;".html_safe, url_for_params(:colors => color.id, :without => :page), :rel => "nofollow", :class => 'icon' %>
            <%= link_to color.value, url_for_params(:colors => color.id, :without => :page), :rel => "nofollow" %>
            (<span class="count"><%= number_with_delimiter @facets[:colors][color.id] %></span>)
          </div>
        <% end %>
      </div>
    </div>
  <% end -%>
  
  <% unless @faceted_places.blank? && @places.blank? -%>
    <div id="places_facet" class="facet">
      <strong>
        <% if @places.blank? -%>
          <%= link_to_toggle "Places", "#places", :class => 'open' %>
        <% else %>
          <%= link_to '&laquo; All Places'.html_safe, url_for_params(:without => [:page, :places]), :rel => "nofollow" %>
        <% end -%>
      </strong>

      <ul id="places">
        <% if @places.blank? -%>
          <% for place in @faceted_places %>
            <%- selected = @place_ids && @place_ids.include?(place.id) -%>
            <li class="facet_value<%= ' selected' if selected %>">
              <%= link_to('&times;'.html_safe, url_for_params(:without => [:page, :places]), :rel => "nofollow", :class => 'right description') if selected %>
              <%= link_to place_name_and_type(place), url_for_params(:places => place.id, :without => [:page, :places]), :rel => "nofollow" %>
              (<span class="count"><%= number_with_delimiter @facets[:places][place.id] %></span>)
            </li>
          <% end %>
        <% else %>
          <% if @places.first.parent -%>
            <li>
              <%= link_to place_name_and_type(@places.first.parent, :display => true), 
                url_for_params(:places => @places.first.parent_id, :without => :page), :rel => "nofollow" %>
              <ul>
          <% end -%>

          <% for place in @places %>
            <li>
              <div class="facet_value selected">
                <%= link_to('&times;'.html_safe, url_for_params(:without => [:page, :places]), :rel => "nofollow", :class => 'right description') %>
                <%= place_name_and_type place %>
                (<span class="count"><%= number_with_delimiter @facets[:places][place.id] %></span>)
              </div>

              <ul>
                <% for child_place in @faceted_places.select{|cp| cp.parent_id == place.id} %>
                  <li class="facet_value<%= ' selected' if @place_ids && @place_ids.include?(child_place.id) %>">
                    <%= link_to place_name_and_type(child_place), url_for_params(:places => child_place.id, :without => :page), :rel => "nofollow" %>
                    (<span class="count"><%= number_with_delimiter @facets[:places][child_place.id] %></span>)
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>

          <% if @places.first.parent -%>
              </ul>
            </li>
          <% end -%>
        <% end -%>

      </ul>
    </div>
  <% end -%>

  <% if @is_active == "any" -%>
    <%= link_to "Only show active taxa", url_for_params(:is_active => true, :without => [:page]) %>
  <% else %>
    <%= link_to "Show active and inactive taxa", url_for_params(:is_active => "any", :without => [:page]) %>
  <% end -%>
</div>

<div id="taxon_list" class="last column span-18 <%= 'empty' if @taxa.blank? %>">
  <% if @taxa.blank? %>
    <% if !@taxa.nil? && @taxa.size == 0 -%>
      <div class="readable description noresults">
        No results found.
      </div>
    <% end -%>
    <div class="column span-5">
      <div class="facet">
        <h3>What did you see?</h3>
        <ul class="taxon_links">
          <% for iconic_taxon in @all_iconic_taxa %>
            <li>
              <%= link_to default_taxon_name(iconic_taxon, :use_iconic_taxon_display_name => true), 
                url_for_params(:taxon_id => iconic_taxon.id), 
                :rel => "nofollow",
                :class => "taxon #{iconic_taxon.name}" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="last column span-5">
      <div class="facet">
        <h3>What color was it?</h3>
        <ul id="colors_facet">
          <% for color in @all_colors %>
            <li class="facet_value <%= color.value %>">
              <%= link_to "&nbsp;".html_safe, url_for_params(:colors => color.id), :rel => "nofollow", :class => 'icon' %>
              <%= link_to color.value, url_for_params(:colors => color.id), :rel => "nofollow" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="taxa <%= @view %>">
      <% for taxon in @taxa %>
        <div class="taxon_list_taxon">
          <% if @view == TaxaController::LIST_VIEW -%>
            <%= link_to "search this taxon", url_for_params(:taxon_id => taxon.id, :without => :q), :rel => "nofollow", :class => "right", :rel => "nofollow" %>
            <h3>
              <%- 
                link_txt = render(:partial => 'shared/taxon', :object => taxon)
                taxon_json = nil
              -%>
              <% if js_link -%>
                <%- taxon_json = taxon_to_json(taxon, :iconic_taxon => Taxon::ICONIC_TAXA_BY_ID[taxon.iconic_taxon_id] || taxon.iconic_taxon).html_safe -%>
                <%= link_to_function link_txt, "handleTaxonClick(event, #{taxon_json})" %>
              <% else %>
                <%= link_to link_txt, taxon %>
              <% end -%>
            </h3>
          <% end -%>
          <%= render :partial => "taxa/taxon", :object => taxon , :locals => {
            :taxon_name_str => link_txt,
            :taxon_json => taxon_json,
            :link_name => true,
            :link_image => true,
            :js_link => js_link,
            :image_options => {:size => (@view == TaxaController::LIST_VIEW ? 'small' : 'thumb')},
            :include_full_name => true,
            :extra_class => cycle('first', '', '', '', '', 'last'),
            :more_images => (@view == TaxaController::LIST_VIEW)
          } %>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <div class="last column span-18">
    <%= will_paginate(@taxa, :renderer => INatLinkRenderer) unless @taxa.blank? %>
  </div>
</div>

<% if logged_in? -%>
  <div id="external_search" class="last column span-24">
    <div class="quiet clear box">
      <h3>Not Seeing What You're Looking For?</h3>
      <p>
        Sorry! How about we try and repeat your search in some other databases of
        species names? If we find something, we'll save it so you can find it next
        time.
      </p>
      <div class="column span-6">
        <%= form_tag url_for(), :method => :get, :class => 'clear buttonrow' do %>
          <% if js_link -%><input type="hidden" name="js_link" value="<%= js_link %>" /><% end -%>
          <label for="q">
            Search <a href="http://www.catalogueoflife.org">Catalogue of Life</a>
          </label>
          <%= text_field_tag 'q', params[:q], :class => 'text' %>
          <input type="hidden" name="all_names" value="true"/>
          <input type="hidden" name="include_external" value="true"/>
          <input type="hidden" name="external_src" value="col"/>
          <input type="submit" class="button" value="Search Catalogue of Life &raquo;">
        <% end %>
      </div>
      <div class="column span-6">
        <%= form_tag url_for(), :method => :get, :class => 'clear buttonrow' do %>
          <% if js_link -%><input type="hidden" name="js_link" value="<%= js_link %>" /><% end -%>
          <label for="q">Search <a href="http://www.ubio.org">uBio</a></label>
          <%= text_field_tag 'q', params[:q], :class => 'text' %>
          <input type="hidden" name="all_names" value="true"/>
          <input type="hidden" name="force_external" value="true"/>
          <input type="hidden" name="external_src" value="ubio"/>
          <input type="submit" class="button" value="Search uBio &raquo;"/>
        <% end %>
      </div>
      <% if is_curator? -%>
        <div class="column span-6">
          <label>Still no luck?</label>
          <%= link_to "Create a new taxon", new_taxon_path(:name => params[:q]) %>
        </div>
      <% end -%>
    </div>
  </div>
<% end -%>
