<%- taxon ||= object || @taxon -%>
<%- ancestors ||= @ancestors || taxon.ancestors -%>
<%- children ||= @children || taxon.children -%>
  <ul class="taxonomic_tree leafylist">
    <li>
      <%= link_to "Life", taxa_path %>
    </li>
    <% unless taxon.grafted? -%>
    <li class="unknown">
      <span class="description">
        Still working on classifying this taxon.  Check back later<br/>
        &hellip;
      </span>
    </li>
    <%- else -%>
      <%= render :partial => 'classification_li', :collection => ancestors[1..-1] %>
    <%- end -%>
    <li class="<%= taxon.iconic_taxon.name if taxon.iconic_taxon %>">
      <%= render :partial => 'shared/taxon', 
                 :locals => { :taxon => taxon, :include_parens => false } %>
      <ul>
        <%= render :partial => 'classification_li', :collection => children[0..9] %>
      </ul>
            
      <% if children.size > 10 -%>
        <%= link_to_toggle "More...", "#more_children" %>
        <ul id="more_children" style="display:none">
          <%= render :partial => 'classification_li', :collection => children[10..-1] %>
        </ul>
      <% end -%>
    </li>
  </ul>