<%-
  classification_list ||= nil
  taxon ||= classification_list || @taxon || Taxon::LIFE
  ancestors ||= @ancestors || taxon.ancestors
  children ||= @children || taxon.children
  link_method ||= lambda {|t| t.name == "Life" ? taxa_path : taxon_path(t)}
-%>
  
<ul class="taxonomic_tree leafylist">
  <% unless taxon.grafted? -%>
    <li class="unknown">
      <span class="description">
      	<%= t(:still_working_on_classifying_taxon) %><br/>
        &hellip;
      </span>
    </li>
  <%- else -%>
    <%= render :partial => 'taxa/classification_li', :collection => ancestors, 
      :locals => { :link_method => link_method } %>
  <%- end -%>
  <li class="<%= taxon.iconic_taxon.name if taxon.iconic_taxon %>">
    <strong>
      <%= render :partial => 'shared/taxon', 
                 :locals => {
                   :taxon => taxon, 
                   :include_parens => false, 
                   :link_url => link_method.call(taxon) } %>
    </strong>
    <ul>
      <%= render :partial => 'taxa/classification_li', :collection => children[0..9], :locals => {
        :link_method => link_method
      } %>
    </ul>
          
    <% if children.size > 10 -%>
      <%= link_to_toggle t(:more), "#more_children" %>
      <ul id="more_children" style="display:none">
        <%= render :partial => 'taxa/classification_li', :collection => children[10..-1], :locals => {
          :link_method => link_method
        } %>
      </ul>
    <% end -%>
  </li>
</ul>
