- cs ||= conservation_status || @conservation_status
- url = cs.url || cs.source.try(:url)
- no_box ||= false
- hide_prefix ||= false
- hide_place ||= false
%div{:class => "conservation_status #{cs.iucn_name.gsub(' ', '_')} #{no_box ? 'inlineblock' : 'box'}"}
  - unless hide_prefix
    =succeed ':' do
      =t :conservation_status
  %strong.csstatus
    - if !cs.place && !hide_place
      =t :globally
    = cs.status_name.capitalize
    - if cs.status_name !~ /#{cs.status}/
      = surround '(',')' do
        = cs.status
  - if cs.place && !hide_place
    =t :in
    \#{link_to cs.place.display_name, cs.place}
  %nobr.small
    = surround '(', ')' do
      = succeed ':' do
        =t :source
      - if cs.authority.blank?
        = SITE_NAME
      - elsif !url.blank?
        = link_to cs.authority, url
      - else
        = cs.authority
