- conservation_status ||= nil
- cs ||= conservation_status || @conservation_status
- url = cs.url || cs.source.try(:url)
- no_box ||= false
- hide_prefix ||= false
- hide_place ||= false
- status_name = cs.status_name
%div{:class => "conservation_status #{cs.iucn_name.gsub(' ', '_')} #{no_box ? 'inlineblock' : 'box'}"}
  - unless hide_prefix
    =succeed ':' do
      =t :conservation_status
  %strong.csstatus
    - if !cs.place && !hide_place
      =raw t(:globally).capitalize
      = t(status_name.gsub(' ','_').downcase, default: status_name).capitalize
    - else
      = t((status_name[0].upcase + status_name[1..-1]).gsub(' ','_').downcase, default: status_name[0].upcase + status_name[1..-1]).capitalize
    - if status_name !~ /#{cs.status}/
      = surround '(',')' do
        = cs.status
  - if cs.place && !hide_place
    =t :in
    \#{link_to t(cs.place.display_name, :default => cs.place.display_name), cs.place}
  %nobr.small
    = surround '(', ')' do
      = succeed ':' do
        =t :source
      - if cs.authority.blank?
        = SITE_NAME
      - elsif !url.blank?
        = link_to t("authority_list.#{(cs.authority).gsub('&','and').gsub(' ','_').downcase}", :default => cs.authority), url
      - else
        = t("authority_list.#{(cs.authority).gsub('&','and').gsub(' ','_').downcase}", :default => cs.authority)
        
