.conservation_status.stacked.lined.nested-fields
  = f.text_field :status, :description_after => true, 
    :description => t('conservation_status_descriptions.status'),
    :required => true
  = f.text_field :description, :description_after => true, :description => t('conservation_status_descriptions.description')
  = f.text_field :authority, :description_after => true, 
    :description => t('conservation_status_descriptions.authority'),
    :placeholder => t(:type_authority),
    datalist: @conservation_status_authorities
  = f.text_field :place_id, :description_after => true, 
    :description => t('conservation_status_descriptions.place'),
    :placeholder => t(:type_place_name)
  = f.text_field :url, :description_after => true, :description => t('conservation_status_descriptions.url')
  = f.select :geoprivacy,
    Observation::GEOPRIVACY_DESCRIPTIONS.keys.map{| g | [t( g == "obscured" ? "obscured_" : g, default: g ), g] },
    description: t( "conservation_status_descriptions.geoprivacy" ),
    description_after: true
  = f.select :iucn, Taxon::IUCN_STATUSES_SELECT, :description_after => true, :description => t('conservation_status_descriptions.iucn')
  - if f.object.user && f.object.persisted?
    = f.form_field :added_by, label: t(:date_added) do
      =t :added_by_user_on_date_html, user: link_to_user( f.object.user ), date: l( f.object.created_at )
  - if f.object.updater
    = f.form_field :updated_by, label: t(:date_updated) do
      =t :updated_by_user_on_date_html, user: link_to_user( f.object.updater ), date: l( f.object.updated_at )
  = link_to_remove_association t(:remove_conservation_status), f
