:ruby
  taxon_framework ||= @taxon_framework ||= defines_taxon_framework[:taxon_framework]
  taxon ||= @taxon ||= defines_taxon_framework[:taxon]
  overlapping_downstream_taxon_frameworks ||= @overlapping_downstream_taxon_frameworks ||= defines_taxon_framework[:overlapping_downstream_taxon_frameworks]
  overlapping_downstream_taxon_frameworks_count ||= @overlapping_downstream_taxon_frameworks_count ||= defines_taxon_framework[:overlapping_downstream_taxon_frameworks_count]
  deviations_count ||= @deviations_count ||= defines_taxon_framework[:deviations_count]
  tfr_count ||= @tfr_count ||= defines_taxon_framework[:tfr_count]
  taxon_curators ||= @taxon_curators ||= defines_taxon_framework[:taxon_curators]
  flagged_taxa ||= @flagged_taxa ||= defines_taxon_framework[:flagged_taxa]
  flagged_taxa_count ||= @flagged_taxa_count ||= defines_taxon_framework[:flagged_taxa_count]
  relationship_unknown_count ||= @relationship_unknown_count ||= defines_taxon_framework[:relationship_unknown_count]
.panel.panel-default
  - if taxon_framework.rank_level
    .panel-heading
      %h4
        - if taxon_framework.source
          =t :defines_a_taxon_framework_for_taxon_sourced_to_source_html,
            taxon: "<i>#{taxon.name}</i>".html_safe,
            source: link_to( taxon_framework.source.title, taxon_framework.source.url )
        - else
          =t :defines_a_taxon_framework_for, taxon_name: taxon.name
  .panel-body
    - if is_admin?
      .pull-right
        .admin-box
          = link_to t(:edit_taxon_framework), edit_taxon_framework_path( taxon_framework )
    - if taxon_framework.rank_level
      .row
        .col-xs-4
          %p
            =t :downstream_coverage_colon_rank, rank: t( "ranks.#{ @rank_levels.invert[@taxon_framework.rank_level] }" ).downcase
        - if taxon_framework.complete?
          .col-xs-4
            %p=t :taxon_framework_complete
      - if overlapping_downstream_taxon_frameworks.count > 0
        .taxon_framework_count
          =t :overlapping_downstream_taxon_frameworks_html, count: link_to( overlapping_downstream_taxon_frameworks_count, "#" )
        .taxon_framework_table
          %table.table.table-bordered
            %thead
              %tr
                %th= t(:attached_taxon)
                %th= t(:rank)
                %th= t(:downstream_coverage_rank)
                %th= t(:source)
            %tbody
              - overlapping_downstream_taxon_frameworks.each do |overlapping_downstream_taxon_framework|
                %tr
                  %td= link_to overlapping_downstream_taxon_framework.taxon.name, taxonomy_details_for_taxon_path( overlapping_downstream_taxon_framework.taxon )
                  %td= t( "ranks.#{ overlapping_downstream_taxon_framework.taxon.rank }" )
                  %td= t( "ranks.#{ Taxon::RANK_FOR_RANK_LEVEL[overlapping_downstream_taxon_framework.rank_level] }" )
                  - if overlapping_downstream_taxon_framework.source
                    %td= overlapping_downstream_taxon_framework.source.title
      - if taxon_framework.source  
        .row
          - if tfr_count > 0
            .col-xs-4
              %p
                =t :taxon_framework_relationships_with_count_html, count: link_to( tfr_count, taxon_framework_relationships_path( taxon_framework_id: taxon_framework.id ) )
            - if deviations_count > 0
              
              - deviant_params = TaxonFrameworkRelationship::RELATIONSHIPS.select{ |r| r != "match" && r != "alternate_position" }.map{ |r| [r, "1"] }.to_h
              - deviants_path = taxon_framework_relationships_path( deviant_params.merge( taxon_framework_id: taxon_framework.id ) )
              .col-xs-4
                %p
                  =t :taxon_framework_deviations_with_count_html, count: link_to( deviations_count, deviants_path )
          - if relationship_unknown_count > 0
            .col-xs-4
              %p
                =t :taxon_framework_relationship_unknown_count_html, count: link_to( relationship_unknown_count, relationship_unknown_path( taxon_framework ) )
      - if taxon_curators.count > 0
        %p=t :label_colon, label: t(:taxon_curators)
        .row
          - taxon_curators.each do |taxon_curator|
            .col-xs-2
              .media
                .media-left
                  = link_to( image_tag( taxon_curator.user.icon.url( :thumb ), class: "media-object img-circle followee", width: 50 ), person_by_login_path( taxon_curator.user.login ) )
                .media-body
                  %h4.media-heading= link_to taxon_curator.user.login, person_by_login_path( taxon_curator.user.login )
      - if flagged_taxa_count > 0
        .flagged_taxa_count
          =t :taxon_framework_flagged_covered_taxa_count_html, count: link_to( flagged_taxa_count, "#" )
        .flagged_taxa_table
          %table.table.table-bordered
            %thead
              %tr
                %th= t( :flagged_taxon )
            %tbody
              - flagged_taxa.each do |flagged_taxon|
                %tr
                  %td= link_to flagged_taxon.name, taxon_path( flagged_taxon )
    - unless taxon_framework.description.blank?
      %p=t :label_colon, label: t( :taxon_framework_notes )
      %p= formatted_user_text taxon_framework.description, tags: Post::ALLOWED_TAGS, attributes: Post::ALLOWED_ATTRIBUTES
