:ruby
  if @describer.blank? && !@taxon.wikipedia_summary.blank? && !@taxon.wikipedia_summary.match(/^\d\d\d\d-\d\d-\d\d$/)
    @description ||= "<p>#{@taxon.wikipedia_summary}</p>".html_safe
  end
  css_class = "clear taxon_description"
  if @describer
    css_class += " #{@describer.name.split('::').last.underscore}_description"
    if @describer.is_a?( TaxonDescribers::Wikipedia ) || @describer.class.ancestors.include?( TaxonDescribers::Wikipedia )
      css_class += " wikipedia_description"
    end
  end
#taxon_description{:class => css_class}
  %h3.taxon_description_header
    =t :description_from
    - if @describer
      = select_tag :from, options_for_select(@describers.sort_by(&:name).map{|d| [d.describer_name, d.name.split('::').last]}, :selected => @describer.name.split('::').last)
      - if @describer_url
        = link_to "#{t(:view_on)} #{@describer.describer_name} &rarr;".html_safe, @describer_url, :class => "externallink ui"
    - else
      %a{ href: @describer_url } Wikipedia
  - if @description.blank?
    %p.nocontent.meta
      - if @describer == TaxonDescribers::Wikipedia || @describer.blank?
        - if @taxon.auto_description?
          =t :there_isnt_a_wikipedia_article_titled_x_html, :x => @taxon.name
        - else
          =t "views.taxa.show.site_curators_disabled_wikipedia_html", url: @describer_url
      - elsif @describer
        =t :no_matching_article_from_x, :x => @describer.describer_name
  - else
    =raw @description
  - if params[:wiki_prompt] && !@taxon.rank.blank? && !%w(stateofmatter parvorder zoosection zoosubsection supertribe subtribe genushybrid subgenus section subsection complex).include?( @taxon.rank ) && I18n.locale.to_s =~ /^en/ && ( @description.blank? || @describer == TaxonDescribers::Inaturalist )
    %hr
    .alert.alert-warning.upstacked
      %p
        Help the world out and
        = link_to "create this page on Wikipedia!", "https://#{I18n.locale.to_s.split( "-" )[0]}.wikipedia.org/w/index.php?title=#{@taxon.name}&action=edit"
      %p Here's a template to get you started:
      :ruby
        stub = if @taxon.iconic_taxon
          "#{Taxon::ICONIC_TAXON_NAMES[@taxon.iconic_taxon_name].split( " " ).last.singularize}-stub"
        else
          "biology-stub"
        end
        translated_rank = if @taxon.rank.blank?
          I18n.t( :rank, default: "rank" ).downcase
        else
          I18n.t( "ranks.#{@taxon.rank}", default: @taxon.rank ).downcase
        end
        image = nil
        if taxon_photo = @taxon.taxon_photos.sort_by{|tp| tp.position || tp.id}.detect{|tp| tp.photo.is_a?( WikimediaCommonsPhoto ) }
          image = taxon_photo.photo.native_photo_id
        end
        formatted_taxon_name = if @taxon.rank_level <= Taxon::GENUS_LEVEL
          "''#{@taxon.name}''"
        else
          @taxon.name
        end
        ref = "<ref name=\"inaturalist-#{@taxon.name}\">{{cite web |title=#{render( "taxa/taxon.txt.erb", taxon: @taxon )} |url=#{taxon_url(@taxon)} |website=#{@site.name} |access-date=#{l Date.today} |language=#{I18n.locale}}}</ref>"
        ref_link = "<ref name=\"inaturalist-#{@taxon.name}\" />"
        structure = <<-WIKI
          #{I18n.t(:taxon_is_a_rank,
            taxon: "'''#{formatted_taxon_name}'''",
            rank: "[[#{translated_rank}]]" )
          }.#{ref}
          ==Description==
        WIKI
        if @taxon.species?
          structure += <<-WIKI
            ==Range==
            ==Habitat==
            ==Ecology==
          WIKI
        end
        children = nil
        unless @taxon.children.blank?
          children = <<-WIKI
            #{formatted_taxon_name} contains the following #{@taxon.children.first.try(:rank).try(:pluralize)}:
            #{@taxon.children.map{|c|
              c.rank_level <= Taxon::GENUS_LEVEL ? "* ''[[#{c.name}]]''#{ref_link}" : "* [[#{c.name}]]#{ref_link}"
            }.join( "\n" )}
          WIKI
        end
        structure += <<-WIKI
          ==Etymology==
          ==Taxonomy==
          #{children}
          ==References==
        {{Reflist}}
        WIKI
        parent_title = if @taxon.parent
          @taxon.parent.wikipedia_title.blank? ? @taxon.parent.name : @taxon.parent.wikipedia_title
        end
        box = <<-WIKI
          {{Automatic taxobox
          | taxon = #{@taxon.name}
          #{"| rank = #{Taxon::WIKIPEDIA_RANKS[@taxon.rank]}" unless @taxon.rank.blank?}
          #{"| parent = #{parent_title}" if parent_title}
          #{"| image = #{image}" if image}
          }}
        WIKI
        if @taxon.species? && @taxon.genus
          box = <<-WIKI
            {{Speciesbox
            | parent = #{@taxon.genus.name}
            | taxon = #{@taxon.name}
            #{"| image = #{image}" if image}
            }}
          WIKI
        end
        wikitext = if @taxon.rank_level && @taxon.rank_level < Taxon::SPECIES_LEVEL
          <<-WIKI
            #REDIRECT [[#{@taxon.species.name}]]
          WIKI
        else
          <<-WIKI
            #{box}
            #{structure}
            {{#{stub}}}
          WIKI
        end
      %pre.code
        = wikitext.gsub( /^\s+/, "" )
      %ul
        %li
          Learn more about
          %a{ href: "https://en.wikipedia.org/wiki/Template:Speciesbox" }
            Speciesbox
        %li
          Learn more about
          %a{ href: "https://en.wikipedia.org/wiki/Template:Automatic_taxobox" }
            Automatic taxobox
        %li
          Learn more about
          %a{ href: "https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Stub_sorting/Stub_types#Biological_sciences" }
            stubs
        %li
          Remember to
          %strong cite your sources!


