<%- taxon ||= @taxon -%>
<%= form_for(taxon, :builder => DefaultFormBuilder) do |f| %>
  <%= error_messages_for :taxon %>
  <div class="last column span-24">
    <div class="column span-8">
      <% if @taxon.new_record? || is_admin? || is_me?(@taxon.creator) -%>
        <%= f.text_field :name, :class => "text", :required => true %>
      <% else %>
        <%= f.form_field :name do %>
          <strong><%= @taxon.name %></strong>
          <div class="meta">
            <%= t :add_a %>
            <%= link_to t(:taxon_swap), new_taxon_change_path(:type => "TaxonSwap", :input_taxon_ids => @taxon.id) %>
            <%= t :if_you_want_to_change_the_name %>
          </div>
        <% end %>
      <% end -%>
    </div>
    <div class="column span-8">
      <%= f.text_field :rank, :class => "text", :required => true %>
    </div>
    
    <div class="last column span-8">
      <%= f.form_field t(:featured) do %>
        <%= f.check_box :featured_at, :label_after => true, 
          :label => t(:yes_show_this_in_the_box),
          :description => t(:make_sure_the_default_photo_looks_good) %>
      <% end -%>
    </div>
  </div>
  
  <fieldset class="last column span-24">
    <legend><%= t(:classification) %></legend>
    
    <div class="stacked last column span-23">
      <div class="column span-12">
        <%= f.text_field :parent_id, :value => taxon.parent_id, :class => 'text' %><br/>

        <%= label_tag t(:parent_name) %><br/>
        <%= text_field_tag :parent_name, taxon.parent ? taxon.parent.name : '', :id => 'parent_name', :class => 'text' %>
        <%= link_to_function t(:browse_all_species), "$('#taxonchooser').jqmShow();" %>
        <div class="description">
          <%= t(:this_is_more_convenient_way_find_parent) %>
        </div>

      </div>
      <% unless taxon.new_record? -%>
        <div class="column span-5">
          <label><%= t(:graft) %></label><br/>
          <%= link_to "#{t(:graft)} <i>#{taxon.name}</i>".html_safe, graft_taxon_path(taxon), :class => "button", :method => :patch, :data => {:loading_click => true} %>
        </div>
        <div class="last column span-6 description">
          <%= t(:grafting_attemps_to_insert_this_taxon) %>
        </div>
      <% end -%>
    </div>
    
    <div class="column span-23">
      <%= f.check_box :locked, :label_after => true %>
      <p class="description ui">
        <%= t(:locked_taxa_will_not_allow_new) %>
      </p>
    </div>
  </fieldset>
  
  <fieldset class="column span-24">
    <legend><%= t(:photos) %></legend>

    <div id="taxon_photos" class="clear stacked">
      <%= f.fields_for :taxon_photos do |tp| %>
        <div class="taxon_photo">
          <%= tp.hidden_field :photo_id %>
          <%= tp.hidden_field :id %>
          <%= tp.text_field :position, :class => "sortable-position", :label => false %>
          <%= image_tag(tp.object.photo.small_url) %>
          <div class="upstacked">
            <%= link_to t(:view_photo), photo_path(tp.object.photo), :class => "readmore left", :target => "_blank" %>
            <%= tp.check_box :_destroy, :label_after => true, :label => t(:delete), :wrapper => {:class => "right"} %>
          </div>
        </div>
      <% end -%>
    </div>
    
    <p class="ui">
      <label><%= t(:add_new_photos_by_their_ids) %></label><br/>
      <input type="text" class="text" name="flickr_photos[]" />&nbsp;
      <input type="text" class="text" name="flickr_photos[]" />&nbsp;
      <input type="text" class="text" name="flickr_photos[]" />
    </p>
    
    <p class="ui">
      <%= f.check_box :auto_photos, :label_after => true %>
      <span class="description">
        <%= t(:check_here_to_autoload_photos) %>
      </span>
    </p>
    
  </fieldset>
  
  <fieldset class="column span-11">
    <legend><%= t(:description) %></legend>
    
    <p class="ui">
      <%= f.check_box :auto_description, :label_after => true %>
      <span class="description">
        <%= t(:check_here_to_autoload_description) %>
      </span>
    </p>
    
    <p class="ui">
      <%= f.text_field :wikipedia_title, :class => "text" %><br/>
      <span class="description">
        <%= t(:the_title_of_the_wikipedia_article_we_use).html_safe %>
      </span>
    </p>
    
    <p class="ui">
      <%= f.label :wikipedia_summary %>:
      <blockquote class="quiet box">
        <% if taxon.wikipedia_summary -%>
          <span id="wikipedia_summary"><%= taxon.wikipedia_summary %></span>
        <% else %>
          <span id="wikipedia_summary" class="description"><%= t(:no_summary_has_been_set) %></span>
        <% end -%>
        <% unless @taxon.new_record? -%>
          <strong><%= link_to t(:refresh), refresh_wikipedia_summary_for_taxon_url(taxon),
            :remote => true,
            :method => :post,
            "data-type" => :html,
            "data-loading-click" => true,
            :id => 'summary_refresh'
          %></strong>
          <script type="text/javascript">
            $('#summary_refresh').bind('ajax:success', function(e, html, status) {
              $('#wikipedia_summary').html(html)
            }).bind('ajax:error', function(event, request, settings) {
              alert(request.responseText)
            })
          </script>
        <% end -%>
      </blockquote>
      <span class="description">
        <%= t(:this_is_a_cached_summary_based_on) %>
        <%= link_to t(:wikipedia_entry), 
          "http://wikipedia.org/wiki/#{taxon.wikipedia_title.blank? ? taxon.name : taxon.wikipedia_title}" %>.
      </span>
    </p>
  </fieldset>
  
  <fieldset class="last column span-11">
    <legend><%= t(:source) %></legend>
    <% if taxon.name_provider.nil? || !taxon.creator_id.nil? -%>
      <div class="last column span-7">
        <%= render :partial => 'sources/nested_form_fields', :locals => {:f => f} %>
      </div>
    <% else %>
      <% unless taxon.source_identifier.blank? -%>
        <div class="last column span-7">
          <div class="description ui">
            <%= t(:this_taxon_was_originally_imported_from) %>:
          </div>
          <p class="ui">
            <%= f.text_field :source_identifier, :disabled => true, :class => "text" %>
            <div class="description"><%= t :unique_identifier_of_this_taxon %></div>
          </p>
          
          <p class="ui">
            <%= f.text_field :source_url, :disabled => true, :class => "text" %>
            <div class="description"><%= t :url_of_this_taxon_on_the_source_website %></div>
          </p>
        </div>
      <% end -%>
    <% end -%>
  </fieldset>

  <fieldset class="last column span-11">
    <legend><%= t :concept_status %></legend>
    <%= f.radio_button :is_active, true, :label_after => true, :label => t(:active).titleize %>
    <%= f.radio_button :is_active, false, :label_after => true, :label => t(:inactive).titleize %>
    <div class="description">
      <%= t :inactive_taxon_concepts_are %>
    </div>
  </fieldset>

  <fieldset class="column span-24">
    <legend><%= t(:names) %></legend>
    
    <% unless taxon.taxon_names.blank? %>
      <div class="clear">
        <%= render 'names' %>
      </div>
    <% end %>
    
    <% if taxon.new_record? -%>
      <%= t(:a_default_taxon_name_will_automatically_created) %>
    <% else -%>
      <%= link_to t(:add_new_taxon_name), new_taxon_taxon_name_path(taxon), :class => 'readmore' %>
    <% end -%>
  </fieldset>
  
  <% if @taxon.species_or_lower? -%>
    <fieldset class="column span-24 twocolform">
      <legend><%= t :conservation_status %></legend>
      <div id="conservation_statuses">
        <%= f.fields_for :conservation_statuses, :builder => DefaultFormBuilder do |cs| %>
          <%= render "conservation_status_fields", :f => cs %>
        <% end -%>
        <%= link_to_add_association t(:add_conservation_status), f, :conservation_statuses %>
      </div>
    </fieldset>
  <% end -%>
  
  <div class="clear buttonrow">
    <%= f.submit t(:save_changes), :class => 'default button' %>
    <%= link_to t(:cancel), taxon, :class => 'button' %>
    <%-
      pieces = []
      pieces << t(:descendant_taxa) if @descendants_exist
      pieces << "listed taxa" if @listed_taxa_exist
      pieces << "identifications" if @identifications_exist
      pieces << "observations" if @observations_exist
      msg = t(:it_has) + " " + commas_and(pieces) unless pieces.empty?
    -%>
    <% if taxon.deleteable_by?(current_user) -%>
      <%= link_to t(:delete), taxon,
                  :method => :delete,
                  :data => {:confirm => t(:are_you_sure_want_delete_taxon, :msg => "#{msg}")},
                  :class => 'minor delete button' %>
    <% else %>
      <span class="inter meta">
        <s><%=t :delete %></s>
        <%=t :you_can_only_destroy_taxa_you_created %>
      </span>

    <% end -%>
    
    <% if @taxon_range %>
      <%= link_to t(:edit_taxon_range), edit_taxon_range_path(@taxon_range), :class => "right minor button" %>
    <% else %>
      <%= link_to t(:add_taxon_range), new_taxon_range_path(:taxon_id => taxon), :class => "right minor button" %>
    <% end -%>
  </div>
<% end %>
