<%- taxon ||= @taxon -%>
<%= form_for(taxon) do |f| %>
  <%= error_messages_for :taxon %>
  <div class="last column span-24">
    <div class="column span-8">
      <%= f.label :name, 'Name <span class="required">*</span>'.html_safe %><br/>
      <%= f.text_field :name, :class => "text" %>
    </div>
    <div class="column span-8">
      <%= f.label :rank, 'Rank <span class="required">*</span>'.html_safe %><br/>
      <%= f.text_field :rank, :class => "text" %>
    </div>
    
    <div class="last column span-8">
      <%= f.label 'Featured?' %><br/>
      <%= f.check_box :featured_at %> <%= f.label :featured_at, 
        "Yes, show this in the big box at the top of /taxa" %>
      <div class="description">
        Make sure the default photo looks good in large size.
      </div>
    </div>
  </div>
  
  <fieldset class="last column span-24">
    <legend>Classification</legend>
    
    <div class="stacked last column span-23">
      <div class="column span-12">
        <%= f.label :parent_id, 'Parent ID' %><br/>
        <%= f.text_field :parent_id, :value => taxon.parent_id, :class => 'text' %><br/>

        <%= label_tag :parent_name %><br/>
        <%= text_field_tag :parent_name, taxon.parent ? taxon.parent.name : '', :id => 'parent_name', :class => 'text' %>
        <%= link_to_function "Browse all species", "$('#taxonchooser').jqmShow();" %>
        <div class="description">
          This is a more convenient way to find a parent ID. It's the parent ID
          that actually gets saved.
        </div>

      </div>
      <% unless taxon.new_record? -%>
        <div class="column span-5">
          <label>Graft</label><br/>
          <%= link_to "Graft <i>#{taxon.name}</i>".html_safe, graft_taxon_path(taxon), :class => "button" %>
        </div>
        <div class="last column span-6 description">
          Grafting attempts to insert this taxon into our taxonomic tree,
          finding an existing parent taxon or creating all the necessary
          in-between taxa in order to attach it to an existing higher level
          taxon.
        </div>
      <% end -%>
    </div>
    
    <div class="column span-23">
      <%= f.check_box :locked %>
      <%= f.label :locked %>
      <p class="description ui">
        Locked taxa will not allow new descendent taxa to be added to them. So
        if you locked Amphibia and someone tried to import 
        <i>Rana catesbeiana</i> from an external name provider, the new taxon 
        would be created but it could not be classified as an amphibian. When
        this happens, the newly added taxa should be flagged for curator
        attention.  This should really only be used for taxa for which we 
        think we already have all the descendants. Curator can override this
        by editing taxa and entering parent IDs directly, but please consider
        merging new taxa into existing ones instead.
      </p>
    </div>
  </fieldset>
  
  <fieldset class="column span-24">
    <legend>Photos</legend>
    <p class="description">
      Search Creative Commons photos on Flickr. If you select one, be nice and
      leave them a thankyou comment!
    </p>
    
    <div class="clear">
      <div id="taxon_photos" class="clear">
        <% for photo in taxon.photos %>
          <div class="photo">
            <%= check_box_tag "#{photo.class.to_s.underscore.pluralize}[]", 
                photo.native_photo_id, :checked => 'checked', :id => dom_id(photo) %>
            <label for="<%= dom_id(photo) %>"><%= image_tag(photo.square_url) %></label>
          </div>
        <% end %>
      </div>
    </div>
    
    <p class="ui">
      or <label>Add new photos by their Flickr IDs (must be Creative Commons!)</label><br/>
      <input type="text" class="text" name="flickr_photos[]" />&nbsp;
      <input type="text" class="text" name="flickr_photos[]" />&nbsp;
      <input type="text" class="text" name="flickr_photos[]" />
    </p>
    
    <p class="ui">
      <%= f.check_box :auto_photos %>
      <%= f.label :auto_photos %><br/>
      <span class="description">
        Check here to auto-load photos from Flickr. You might want to uncheck
        it when a taxon's scientific name is also a non-scientific word or
        common mispelling, like "Parus".
      </span>
    </p>
    
  </fieldset>
  
  <fieldset class="column span-11">
    <legend>Description</legend>
    
    <p class="ui">
      <%= f.check_box :auto_description %>
      <%= f.label :auto_description %><br/>
      <span class="description">
        Check here to auto-load the description from Wikipedia. You might want
        to uncheck it when a taxon's scientific name is also a non-scientific
        word or common mispelling, like "Parus".
      </span>
    </p>
    
    <p class="ui">
      <%= f.label :wikipedia_title %><br/>
      <%= f.text_field :wikipedia_title, :class => "text" %><br/>
      <span class="description">
        The title of the Wikipedia article that we use for the description. If
        the Wikipedia URL is <code>http://en.wikipedia.org/wiki/Bird</code>,
        then this value should be <code>Bird</code>. If left blank the
        scientific name of this taxon is used (that usually works).
      </span>
    </p>
    
    <p class="ui">
      <%= f.label :wikipedia_summary %>:
      <blockquote class="quiet box">
        <% if taxon.wikipedia_summary -%>
          <span id="wikipedia_summary"><%= taxon.wikipedia_summary %></span>
        <% else %>
          <span id="wikipedia_summary" class="description">No summary has been set.</span>
        <% end -%>
        <% unless @taxon.new_record? -%>
          <strong><%= link_to "refresh", refresh_wikipedia_summary_for_taxon_url(taxon),
            :remote => true,
            :method => :post,
            "data-type" => :html,
            "data-loading-click" => true,
            :id => 'summary_refresh'
          %></strong>
          <script type="text/javascript">
            $('#summary_refresh').bind('ajax:success', function(e, html, status) {
              $('#wikipedia_summary').html(html)
            }).bind('ajax:error', function(event, request, settings) {
              alert(request.responseText)
            })
          </script>
        <% end -%>
      </blockquote>
      <span class="description">
        This is a cached summary of this taxon based on its
        <%= link_to "Wikipedia entry", 
          "http://wikipedia.org/wiki/#{taxon.wikipedia_title.blank? ? taxon.name : taxon.wikipedia_title}" %>.
      </span>
    </p>
  </fieldset>
  
  <fieldset class="last column span-11">
    <legend>Source</legend>
    <% if taxon.name_provider.nil? || !taxon.creator_id.nil? -%>
      <div class="last column span-7">
        <%= render :partial => 'sources/nested_form_fields', :locals => {:f => f} %>
      </div>
    <% else %>
      <% unless taxon.source_identifier.blank? -%>
        <div class="last column span-7">
          <div class="description ui">
            This taxon was originally imported from an external name provider:
          </div>
          <p class="ui">
            <%= f.label :source_identifier %><br/>
            <%= f.text_field :source_identifier, :disabled => true, :class => "text" %>
            <div class="description">Unique identifier of this taxon in the source database.</div>
          </p>
          
          <p class="ui">
            <%= f.label :source_url %><br/>
            <%= f.text_field :source_url, :disabled => true, :class => "text" %>
            <div class="description">URL of this taxon on the source's website</div>
          </p>
        </div>
      <% end -%>
    <% end -%>
  </fieldset>

  <fieldset class="last column span-11">
    <legend>Concept Status</legend>
		<%= label_tag 'Active?' %><br/>
    <%= f.radio_button :is_active, true.to_s %> <%= f.label :is_active_true, 'True' %>
    <%= f.radio_button :is_active, false %>  <%= f.label :is_active_false, 'False' %>
    <div class="description">
      Inactive taxon concepts are either taxonomically outdated or being staged for a a taxon change. 
      Outdated concepts are kept to maintain history and compatability with some partner sites.
    </div>
  </fieldset>

  <fieldset class="column span-24">
    <legend>Names</legend>
    <div class="clear">
      <%= render :partial => "taxon_names/nested_form_fields", 
        :collection => taxon.taxon_names
      %>
    </div>
    
    <% if taxon.new_record? -%>
      A default taxon name will automatically be created from the scientific
      name attribute of this taxon. When you've saved this new taxon, you'll
      be able to add other names here (common names, outdated scientific
      names, etc.).
    <% else -%>
      <%= link_to "add a new taxon name", new_taxon_taxon_name_path(taxon), :class => 'readmore' %>
    <% end -%>
  </fieldset>
  
  <% if @taxon.species_or_lower? -%>
    <fieldset class="column span-24">
      <legend>Conservation Status</legend>
      <p class="description ui">
        Generally these come from IUCN Red List, and if they come from elsewhere
        they will adhere to the IUCN categories.
      </p>

      <p class="ui">
        <%= f.label :conservation_status %><br/>
        <%= f.select :conservation_status, Taxon::IUCN_STATUSES_SELECT, :include_blank => "Unknown" %>
      </p>

      <div class="stacked">
        <%= f.label :conservation_status_source %>
        <%= render :partial => "sources/nested_form_fields", :locals => { :f => f, :assoc_name => "conservation_status_source" } %>
      </div>
      
      <p class="ui">
        <%= f.label :conservation_status_source_identifier %><br/>
        <%= f.text_field :conservation_status_source_identifier, :class => "text" %>
      </p>
    </fieldset>
  <% end -%>
  
  <div class="clear buttonrow">
    <%= f.submit "Save Changes", :class => 'default button' %>
    <%= link_to "Cancel", taxon, :class => 'button' %>
    <%-
      pieces = []
      pieces << "listed taxa" if @listed_taxa_exist
      pieces << "identifications" if @identifications_exist
      pieces << "observations" if @observations_exist
      msg = "It has "
      msg += " descendant taxa" if @descendants_exist
      msg += " and #{pieces.join(', ')} of it and its descendants" unless pieces.empty?
    -%>
    <%= link_to 'Delete', taxon,
                :method => :delete,
                :confirm => "Are you sure you want to delete this taxon?  #{msg}",
                :class => 'minor delete button' %>
    
    <% if @taxon_range %>
      <%= link_to "Edit taxon range", edit_taxon_range_path(@taxon_range), :class => "right minor button" %>
    <% else %>
      <%= link_to "Add taxon range", new_taxon_range_path(:taxon_id => taxon), :class => "right minor button" %>
    <% end -%>
  </div>
<% end %>
