<%-
  taxon ||= guide_taxon || @taxon
-%>
<%- upperright = capture do %>
  <% if taxon.threatened? -%>
    <div class="upperright">
      <div class="blob conservation_status <%= taxon.conservation_status_name %>"
          title="<%= taxon.conservation_status_name %>" 
          data-tip= <%= t(:uicn_red_list_status) %>" <strong><%= taxon.conservation_status_name.humanize %> (<%= taxon.conservation_status_code %>)</strong>"
          data-tip-style-classes="ui-tooltip-<%= taxon.conservation_status_name %> ui-tooltip-shadow"
          data-tip-position-at="bottom center">
        <strong><%= taxon.conservation_status_code %></strong>
      </div>
    </div>
  <% end -%>
  <% if taxon.iucn_extinct? -%>
    <div class="extinct crossout">
      <div><%= t(:extinct) %></div>
    </div>
  <% end -%>
<% end -%>
<div class="listed_taxon inlineblock">
  <%= render :partial => "taxa/taxon", :object => taxon, :locals => {
    :include_full_name => true,
    :image_options => {:size => 'small'},
    :link_name => true,
    :link_image => true,
    :extra_class => "inlineblock",
    :hide_wikipedia_summary => true,
    :after_image => upperright
  } %>
</div>
