<table class="taxa">
  <tr>
    <th>&nbsp;</th>
    <th class="name"><%= t(:name) %></th>
    <th class="aka"><%= t(:aka) %></th>
    <th class="observations"><%= t(:observations) %></th>
    <th class="source"><%= t(:source) %></th>
  </tr>
  <% for taxon in @taxa %>
  <tr>
    <td>
      <%= link_to taxon_image(taxon), url_for(taxon) %>
    </td>
    <td class="name">
      <%= link_to url_for(taxon), :class => 'readable' do %>
        <%= render :partial => 'shared/taxon', :locals => { :taxon => taxon } %>
      <% end %>
    </td>
    <td class="aka">
      <% for taxon_name in taxon.taxon_names %>
        <% unless taxon_name.name.strip == taxon.name.strip %>
          <%= render :partial => 'shared/taxon_name', 
                     :locals => { :taxon_name => taxon_name } -%>
        <% end %>
      <% end %>
    </td>
    <td class="observations">
      <%= link_to taxon.observations_count,
                  observations_path(:taxon_id => taxon.id) %>
    </td>
    <td class="source">
      <%= link_to(Taxon::NAME_PROVIDER_TITLES[taxon.name_provider], taxon.source_url) %>
    </td>
  </tr>
  <% end %>
</table>

<% if taxa.respond_to?(:total_pages) %>
<div id="pagination" class="pagination">
  <%= will_paginate taxa, :renderer => INatLinkRenderer %>
</div>
<% end %>
