- names ||= nil
- taxon ||= names || @taxon
- taxon_names ||= taxon.taxon_names
%ul
  - for lexicon, taxon_names in taxon_names.group_by(&:lexicon)
    :ruby
      lexicon = if lexicon.blank?
        t(:unknown)
      else
        t("lexicons.#{TaxonName.localizable_lexicon(lexicon)}", :default => lexicon)
      end
      if taxon_names.size > 1 && (default_name = taxon_names.detect{|tn| tn.name == taxon.name})
        taxon_names = [taxon_names.delete(default_name), taxon_names.sort_by(&:name)].flatten
      end
    %li
      %span.description=t lexicon
      %ul.taxon_names
        - for taxon_name in taxon_names.sort_by(&:position)
          %li
            %span{:class => "taxon_name #{lexicon.split.join('_')}#{' invalid' unless taxon_name.is_valid?}"}
              = taxon_name.name
            - if logged_in? && (!taxon_name.is_scientific? || current_user.is_curator?)
              = link_to t(:edit), edit_taxon_name_path(taxon_name), :class => 'small description'
