- css_class ||= nil
- if photo.is_a?(Photo)
  - if photo.id
    = link_to(image_tag(photo.square_url), photo.becomes(Photo), :class => "#{css_class} zoomable", :title => photo.attribution)
  - else
    = link_to(image_tag(photo.square_url), photo.native_page_url, :class => css_class, :title => photo.attribution)
- else
  - photo_url = "http://flickr.com/photos/#{photo.photo_xml[:owner]}/#{photo.id}"
  %a{:class => css_class, :href => photo_url}
    = image_tag(photo.source_url(:square), :width => 75, :height => 75, :title => "#{t(:photo).titleize}: #{photo.photo_xml['ownername']}")
