<%-
  taxon ||= @taxon
  photos ||= taxon.photos.all(:limit => 24)
-%>
<% unless photos.size == 0 %>
  <% if taxon.species_or_lower? %>
    <% if [Photo, Photo.descendent_classes].flatten.include?(photos[0].class) %>
      <%= photos.first.id ? modal_image(photos.first, :size => :medium) : link_to(image_tag(photos.first.medium_url || photos.first.small_url), photos.first.native_page_url) %>
      <div class="clear description" style="clear: both">
        Photo: <%= link_to photos[0].attribution, native_url_for_photo(photos[0]) %>
      </div>
    <% else %>
      <% photo_url = "http://flickr.com/photos/#{photos[0].photo_xml[:owner]}/#{photos[0].id}" %>
      <%= link_to image_tag(photos[0].source_url(:medium)), photo_url %>
      <div class="description">
        Photo: <%= link_to "View original CC'd photo on Flickr by #{photos[0].photo_xml[:ownername]}", photos[0].page_url %>
      </div>
    <% end %>
  <% else %>
    <div class="clear photos_wrapper">
      <% for photo in photos %>
        <%- photo_pos_class = cycle('first', '', '', '', '', 'last') -%>
        <% if [Photo, Photo.descendent_classes].flatten.include?(photo.class) %>
          <%= photo.id ? modal_image(photo, :size => :square, :class => photo_pos_class) : link_to(image_tag(photo.square_url), photo.native_page_url, :class => photo_pos_class) %>
        <% else %>
          <% photo_url = "http://flickr.com/photos/#{photo.photo_xml[:owner]}/#{photo.id}" %>
          <a href="<%= photo_url %>" class="<%= photo_pos_class %>">
            <%= image_tag(photo.source_url(:square), :width => 75, :height => 75, :title => "Photo: #{photo.photo_xml['ownername']}") %>
          </a>
        <% end %>
      <% end %>
    </div>
    <% unless photos.empty? %>
      <div class="description">
        Creative Commons Flickr photos tagged "<%= taxon.name %>."
        <a href="http://flickr.com/search/?w=all&q=<%= taxon.name.gsub(' ', '') %>&m=tags">
          View all photos tagged "<%=h taxon.name %>" on 
          <nobr>Flickr &raquo;</nobr>
        </a>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="description">
    <h3 class="description">
      No Creative Commons Flickr Photos Tagged "<%= taxon.name %>"
    </h3>
    <a href="http://flickr.com/search/?w=all&q=<%= taxon.name.gsub(' ', '') %>&m=tags">
      View all photos tagged "<%=h taxon.name %>" on <nobr>Flickr &raquo;</nobr>
    </a><br/>
    (not just Creative Commons-licensed)
  </div>
<% end %>

<% if photos.size > 0 && taxon.species_or_lower? %>
<div style="margin-top: 10px">
  <% unless photos[1..-1].size == 0 %>
    <div class="clear photos_wrapper">
      <% for photo in photos[1..6] %>
        <%- photo_pos_class = cycle('first', '', '', '', '', 'last') -%>
        <% if [Photo, Photo.descendent_classes].flatten.include?(photo.class) %>
          <%= photo.id ? modal_image(photo, :size => :square, :class => photo_pos_class) : link_to(image_tag(photo.square_url), photo.native_page_url, :class => photo_pos_class) %>
        <% else %>
          <% photo_url = "http://flickr.com/photos/#{photo.photo_xml[:owner]}/#{photo.id}" %>
          <a href="<%= photo_url %>" class="<%= photo_pos_class %>">
            <%= image_tag(photo.source_url(:square), :width => 75, :height => 75, :title => "Photo: #{photo.photo_xml['ownername']}") %>
          </a>
        <% end %>
      <% end %>
    </div>
    <div class="description">
      <a href="http://flickr.com/search/?w=all&q=<%= taxon.name.gsub(' ', '') %>&m=tags">
        View all photos tagged "<%=h taxon.name %>" on <nobr>Flickr &raquo;</nobr>
      </a>
    </div>
  <% end %>
</div>
<% end %>
