#taxon_range
  :ruby
    map_attributes = setup_map_tag_attrs(
      min_zoom: 1, 
      taxon_layers: [ {
        taxon: @taxon, 
        places: true,
        ranges: true, 
        observations: true, 
        gbif: { disabled: true }
      } ]
    )
  #taxon_range_map{ map_attributes.merge({ style: "width: 790px; height: 488px" }) }
  .ui.description
    - if @taxon_range
      - if @taxon_range.source
        %div
          %strong<
            = t(:source)
            \:
          = auto_link(@taxon_range.source.citation) || @taxon_range.source.url || @taxon_range.source.title
      - unless @taxon_range.description.blank?
        %div
          %strong<
            = t(:description)
            \:
          = @taxon_range.description
      - if logged_in? && current_user.is_curator?
        = link_to t(:edit_range_raquo).html_safe, edit_taxon_range_path(@taxon_range)
    - else
      = t(:no_range_data_available)
