<%- 
  taxon ||= object || @taxon
  js_link ||= false
  no_ids ||= false
  image_options ||= {}
  include_image_attribution ||= false
  hide_child_count ||= true
  hide_wikipedia_summary ||= false
  link_name ||= false
  link_image ||= false
  link_url ||= url_for(taxon)
  name_class = taxon.default_name.is_scientific_names? ? 'sciname' : 'comname'
  extra_class ||= nil
  taxon_class = "clear taxon #{taxon.rank}"
  iconic_taxon = Taxon::ICONIC_TAXA_BY_ID[taxon.iconic_taxon_id]
  taxon_class << " #{iconic_taxon.name}" if iconic_taxon
  taxon_class << (taxon.photos.empty? ? ' noimg' : ' img')
  taxon_class << " #{extra_class}" if extra_class
  include_full_name ||= false
  taxon_name_str = if include_full_name
    taxon_name_str ||= render('shared/taxon', :object => taxon) 
  else
    taxon.default_name.name
  end
  more_images ||= false
  
  if js_link
    taxon_json ||= taxon_to_json(taxon, :iconic_taxon => iconic_taxon)
  end
  photo ||= taxon.taxon_photos.sort_by{|tp| tp.id}.first.try(:photo)
  after_image ||= nil
-%>

<div id="<%= dom_id(taxon) unless no_ids %>" class="<%= taxon_class %>">
  <div class="image inlineblock taxonimage <%= 'nophoto' if taxon.photos.blank? %>">
    <% if link_image -%>
      <% if js_link -%>
        <%= link_to_function taxon_image(taxon, image_options), "handleTaxonClick(event, #{taxon_json})" %>
      <% else %>
        <%= link_to taxon_image(taxon, image_options), link_url %>
      <% end -%>
    <% else %>
      <%= taxon_image(taxon, image_options) %>
    <% end -%>
    <% if photo -%>
      <span class="attribution" data-tip="#<%= dom_id(photo, "attribution") %>" data-tip-style-classes="ui-tooltip-black ui-tooltip-shadow">
        <% if photo.creative_commons? -%>
          CC
        <% elsif photo.copyrighted? %>
          C
        <% else %>
          <%= photo.license_short %>
        <% end -%>
      </span>
    <% end -%>
    <%= after_image if after_image %>
  </div>
  <% if more_images -%>
    <div class="moreimages">
      <%= remote_taxon_images(taxon, :limit => 15) %>
    </div>
  <% end -%>
  <div class="info">
    <% if link_name -%>
      <% if js_link -%>
        <%= link_to_function taxon_name_str, "handleTaxonClick(event, #{taxon_json})", :class => "name #{name_class}" %>
      <% else %>
        <%= link_to taxon_name_str, link_url, :class => "name #{name_class}" %>
      <% end -%>
    <% else %>
        <span class="name <%= name_class %>"><%= taxon_name_str %></span>
    <% end -%>
    <% if js_link -%>
      <%= link_to_function "info", "handleTaxonClick(event, #{taxon_json})", :class => 'small infolink' %>
    <% else %>
      <%= link_to "info", taxon, :class => 'small infolink' %>
    <% end -%>

    <% if !hide_child_count && taxon.children.size > 0 -%>
      <div class="small meta description">
        <span class="count"><%= taxon.children.size %></span> <%= taxon.children.size == 1 ? "child" : 'children' %>
      </div>
    <% end -%>
    
    <% if @month_counts && data = @month_counts[taxon.id.to_s] -%>
      <h4>Observations / Month</h4>
      <div class="monthgraph graph">
        <%- max = @counts.values.max -%>
        <%- %w(? J F M A M J J A S O N D).each_with_index do |name, month| -%>
          <%- count = data[month.to_s] -%>
          <a href="<%= url_for(request.params.merge(:month => month)) %>" class="bar last_year" style="height: <%= (count.to_f / max * 100).to_i %>%">
            <span class="count"><%= count %></span>
            <span class="month"><%= name %></span>
          </a>
        <% end %>
      </div>
    <% end -%>
    
    <% unless hide_wikipedia_summary -%>
      <div class="wikipedia_summary">
        <% if summary = taxon.wikipedia_summary -%>
          <%= summary %>
          <span class="small description">(From <%= link_to "Wikipedia", "http://wikipedia.org/wiki/#{taxon.name}" %>)</span>
        <% else %>
          <span class="description">
            No Wikipedia page for this taxon. <%= link_to "Start one now!", "http://wikipedia.org/wiki/#{taxon.name}" %>
          </span>
        <% end -%>
      </div>
    <% end -%>
    
  </div>
  <% if photo -%>
    <div id="<%= dom_id(photo, "attribution") %>" class="meta attribution <%= photo.license_short.gsub(/\W/, ' ').strip.gsub(/\s+/, '_') %>" style="<%= 'display: none' unless include_image_attribution %>">
      Photo <%= link_to photo.attribution, photo.native_page_url %>
    </div>
  <% end -%>
</div>
