<div id="<%= dom_id @taxon, 'add_places' %>">
  <span class="close corner">&times;</span>
  <h3>
    <%- default_name = @taxon.default_name -%>
    Where
    <% if default_name.is_scientific_names? %>
    does <%= @taxon.default_name.name %>
    <% else %>
    do <%= @taxon.default_name.name.pluralize %>
    <% end %>
    live?
  </h3>
  <div id="place_selector">
    <% form_remote_tag :url => {:controller => 'taxa', :action => 'add_places'},
        :loading => "$('##{dom_id @taxon, 'place_selector_loading'}').show()",
        :complete => "$('##{dom_id @taxon, 'place_selector_loading'}').hide()" do %>
      <div class="clear buttonrow">
        <%= text_field_tag :q, '', :class => 'text', :id => dom_id(@taxon, 'place_selector_q') %>
        <%= submit_tag 'Search', :class => 'button', :id => dom_id(@taxon, 'place_selector_q') %>
      </div>
    <% end %>
    <div id="<%= dom_id @taxon, 'place_selector_loading' %>" class="loading status" style="display: none">Searching...</div>
    <ul id="<%= dom_id(@taxon, 'place_selector_places') %>" style="margin: 0"></ul>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  function addPlaces(placesJSON) {
    console.log("placesJSON: ", placesJSON);
  }
</script>