<div id="<%= dom_id @taxon, 'add_places' %>">
  <span class="close corner">&times;</span>
  <h3>
    <%- default_name = @taxon.default_name -%>
    <% if default_name.is_scientific_names? %>
    <%= t(:where_does_x_live, :taxa => @taxon.default_name.name) %>
    <% else %>
    <%= t(:where_do_x_live, :taxa => @taxon.default_name.name.pluralize) %>
    <% end %>
  </h3>
  <div id="place_selector" class="ui-tabs">
    
    <ul>
      <li><a href="#place_selector_search"><span><%=t(:search)%></span></a></li>
      <li><a href="#place_selector_paste"><span><%=t(:paste)%></span></a></li>
      <li><%= link_to "<span>#{t(:countries)}</span>".html_safe, add_taxon_places_path(@taxon, :tab => "countries") %></li>
      <li><%= link_to "<span>#{t(:US_states)}</span>".html_safe, add_taxon_places_path(@taxon, :tab => "us_states") %></li>
    </ul>
    
    <div id="place_selector_search">
      <%= form_tag url_for(:controller => 'taxa', :action => 'add_places'),
          :method => :post,
          :remote => true do %>
        <div class="clear buttonrow">
          <%= text_field_tag :q, '', :class => 'text', :id => dom_id(@taxon, 'place_selector_q') %>
          <%= submit_tag t(:find_places), :class => 'button', :id => dom_id(@taxon, 'place_selector_q'),
            "data-loading=-click" => t(:searching) %>
        </div>
      <% end %>
      <ul id="<%= dom_id(@taxon, 'place_selector_places') %>" style="margin: 0" class="place_selector_places"></ul>
    </div>
    
    <div id="place_selector_paste">
      <p class="description"><%= t(:paste_in_a_comma_separated_list) %></p>
      <%= form_tag add_taxon_places_path(@taxon),
          :method => :post,
          :remote => true do %>
        <textarea name="paste_places" class="stacked"></textarea>
        <%= submit_tag t(:add_countries), :class => "default button", "data-loading-click" => t(:adding) %>
      <% end %>
      <ul id="<%= dom_id(@taxon, 'place_selector_paste_places') %>" class="places">
        <li class="description" style="list-style: none">
          <%= t(:no_countries_added_yet) %>
        </li>
      </ul>
    </div>
  </div>
</div>
