<div id="<%= dom_id @taxon, 'add_places' %>">
  <span class="close corner">&times;</span>
  <h3>
    <%- default_name = @taxon.default_name -%>
    Where
    <% if default_name.is_scientific_names? %>
    does <%= @taxon.default_name.name %>
    <% else %>
    do <%= @taxon.default_name.name.pluralize %>
    <% end %>
    live?
  </h3>
  <div id="place_selector" class="ui-tabs">
    
    <ul>
      <li><a href="#place_selector_search"><span>Search</span></a></li>
      <li><%= link_to "<span>Countries</span>", edit_taxon_places_path(@taxon, :tab => "countries") %></li>
      <li><%= link_to "<span>US States</span>", edit_taxon_places_path(@taxon, :tab => "us_states") %></li>
    </ul>
    
    <div id="place_selector_search">
      <% form_remote_tag :url => {:controller => 'taxa', :action => 'add_places'},
          :loading => "$('##{dom_id @taxon, 'place_selector_loading'}').show()",
          :complete => "$('##{dom_id @taxon, 'place_selector_loading'}').hide()" do %>
        <div class="clear buttonrow">
          <%= text_field_tag :q, '', :class => 'text', :id => dom_id(@taxon, 'place_selector_q') %>
          <%= submit_tag 'Find Places', :class => 'button', :id => dom_id(@taxon, 'place_selector_q') %>
        </div>
      <% end %>
      <div id="<%= dom_id @taxon, 'place_selector_loading' %>" class="loading status" style="display: none">Searching...</div>
      <ul id="<%= dom_id(@taxon, 'place_selector_places') %>" style="margin: 0"></ul>
    </div>
    
    <!-- <div id="place_selector_map">
      map
    </div> -->
  </div>
</div>
