- @no_footer_gap = true
- content_for :title do
  =t :photos_of_taxon_html, taxon: render( "taxa/taxon.txt.erb", taxon: @taxon )
- content_for :extrajs do
  :javascript
    var SERVER_PAYLOAD = {
      taxon: #{ @node_taxon_json.encode.html_safe }.results[0],
      place: #{ @place.to_json( only: [:id, :name, :display_name ] ).html_safe},
      ancestorsShown: #{ @ancestors_shown.to_json.html_safe },
      preferred_taxon_photos_query: #{ ( current_user ? current_user.preferred_taxon_photos_query : nil ).to_json.html_safe }
    }
  = javascript_include_tag "taxa-photos-webpack"
- content_for :extracss do
  = stylesheet_link_tag "taxa/show", "taxa/photos"
- content_for :extrahead do
  %meta{ name: "config:inaturalist_api_url", content: CONFIG.node_api_url }
#app
