<% content_for(:title) do %>
  <%= @title = t(:species_search) %>
<% end -%>

<% content_for(:extrajs) do %>
  <!--[if lt IE 8]>
  <script src="http://ie7-js.googlecode.com/svn/trunk/lib/IE8.js" type="text/javascript"></script>
  <![endif]-->
  
  <%= javascript_include_tag "taxon_browser" %>
  
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      <% if @q.blank? %>$('#q').focus();<% end %>
      
      // TaxonBrowser.ajaxify();
      <% if @view == TaxaController::GRID_VIEW %>
        TaxonBrowser.addTips();
      <% end %>
    });
  </script>
<% end %>

<%- content_for(:extracss) do %>
<%= stylesheet_link_tag 'taxa', 'taxa/_index', 'taxon_browser' %>
<% end -%>

<h2><%= t(:species_search) %></h2>

<div id="taxon_browser" class="clear">
  <%= render :partial => 'browse' %>
</div>
