<% content_for(:title) do %><%= t(:curation) %><% end %>
<% content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #tools {
      float: right;
    }
    
    .status {
      display: inline;
      padding: 2px;
    }
  </style>
<% end -%>

<div id="tools" class="buttonrow">
  <%= link_to "New Taxon", new_taxon_path, :class => 'button' %>
</div>
<h2><%= t(:taxa_needing_curation) %></h2>

<table>
  <tr>
    <th><%= t(:created) %></th>
    <th>Taxon</th>
    <th><%= t(:reason) %></th>
    <th><%= t(:flagger) %></th>
    <th><%= t(:actions) %></th>
  </tr>
  <% for flagging in @flags %>
  <% rendered_taxon =  render(:partial => 'shared/taxon', 
                              :locals => { :taxon => flagging.flagged_object, :link_url => flagging.flagged_object }) %>
  <tr>
    <td><%= flagging.created_at %></td>
    <td><%= rendered_taxon %></td>
    <td><%= h flagging.flag %></td>
    <td>
      <% if flagging.user -%>
        <%= link_to h(flagging.user.login), flagging.user %>
      <% else %>
        iNat
      <% end -%>
    </td>
    <td>
      <%= link_to t(:view), taxon_path(:id => flagging.flaggable_id) %> /
      <%= link_to t(:edit), edit_taxon_path(:id => flagging.flaggable_id) %> /
      <%= link_to t(:merge), merge_taxon_path(:id => flagging.flaggable_id) %>
      <% form_for(flagging, :action => "update", :html => {:class => "inline buttonrow"}) do |f| %>
        <fieldset>
          <legend><%= t(:resolve_this_flag) %></legend>
          <%= f.text_field :comment, :class => 'text', :placeholder => "Explain your decision" %>
          <%= f.hidden_field :resolver_id, :value => @user.id %>
          <%= f.hidden_field :resolved, :value => true %>
          <%= f.submit t(:resolve), :class => 'inline button' %>
        </fieldset>
      <% end %>
      
    </td>
  </tr>
  <% end %>
</table>

<% unless @resolved_flags.blank? -%>
  <div class="stacked">
    <h3><%= t(:recently_resolved) %></h3>
    <% for flag in @resolved_flags %>
      <%= render :partial => "flags/flag", :object => flag %>
    <% end %>
  </div>
<% end -%>


<%= will_paginate @flags %>

<h3><%= t(:unfragted_taxa) %></h3>
<% if @ungrafted.empty? %>
  <p class="success">
    <%= t(:w00t_no_unfragted_taxa) %>
  </p>
<% elsif @ungrafted.total_entries > @ungrafted.size %>
  <p class="description">
  <%= t(:showing_one_to) %> <%= @ungrafted.size %> of <%= @ungrafted.total_entries %>
  </p>
<% end %>

<table>
  <% for taxon in @ungrafted %>
    <tr>
      <td>
        <%= link_to(
          render(:partial => 'shared/taxon', :locals => {:taxon => taxon}),
          taxon
        ) %>
      </td>
      
      <td>
        <span class="button"> <%= link_to t(:edit), edit_taxon_path(taxon) %></span>
        |
        <span class="button"> <%= link_to t(:merge), merge_taxon_path(taxon) %></span>
        |
        <span class="button"> <%= link_to t(:delete), taxon, :method => :delete, :confirm => t(:are_you_sure_delete_this) %></span>
        |
        <span class="button">
          <%= link_to_remote 'graft', :url => graft_taxon_path(taxon), 
            :html => { :id => "grafting_link_#{taxon.id}" },
            :loading => "$('#grafting_link_#{taxon.id}').hide(); $('#grafting_status_#{taxon.id}').show()",
            :success => "$('#grafting_status_#{taxon.id}').removeClass('loading').addClass('success').text(request); return false;",
            :failure => "$('#grafting_link_#{taxon.id}').show(); $('#grafting_status_#{taxon.id}').removeClass('loading').addClass('error').text(request.responseText); return false;"
           %>
        </span>
        <span id="grafting_status_<%= taxon.id %>" class="loading status" style="display: none"><%= t(:grafting) %></span>
      </td>
    </tr>
  <% end %>
</table>
