<% content_for(:title) do %><%= t(:curation) %><% end %>
<% content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #tools {
      float: right;
    }
    
    .status {
      display: inline;
      padding: 2px;
    }
    fieldset { white-space: nowrap; }
  </style>
<% end -%>

<%- content_for(:extrajs) do -%>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.grafting_link')
        .bind('ajax:success', function(e, json, status) {
          $(this).text(json.msg).addClass('success status')
        })
        .bind('ajax:error', function(event, request, settings) {
          var json = $.parseJSON(request.responseText)
          if (json) { alert(json.error) }
          else { alert('Something went wrong') }
        })
    })
  </script>
<%- end -%>

<div id="tools" class="buttonrow">
  <%= link_to "New Taxon", new_taxon_path, :class => 'button' %>
</div>
<h2><%= t(:taxa_needing_curation) %></h2>

<p>
  These taxa have been flagged by users who think they need curation. Please remember to read and abide by the policies in the <a href="/pages/curator+guide">Curator Guide</a>. If you have questions or hesitations about how to proceed please email <a href="mailto:help@inaturalist.org">help@inaturalist.org</a> before committing changes. Some changes are very hard (or impossible) to do undo.
</p>

<table>
  <tr>
    <th><%= t(:created) %></th>
    <th>Taxon</th>
    <th><%= t(:reason) %></th>
    <th><%= t(:flagger) %></th>
    <th><%= t(:actions) %></th>
  </tr>
  <% for flagging in @flags %>
  <% rendered_taxon =  render(:partial => 'shared/taxon', 
                              :locals => { :taxon => flagging.flagged_object, :link_url => flagging.flagged_object }) %>
  <tr>
    <td><%= flagging.created_at %></td>
    <td><%= rendered_taxon %></td>
    <td><%= h flagging.flag %></td>
    <td>
      <% if flagging.user -%>
        <%= link_to h(flagging.user.login), flagging.user %>
      <% else %>
        <%= @site.site_name_short %>
      <% end -%>
    </td>
    <td>
      <%= link_to t(:view), taxon_path(:id => flagging.flaggable_id) %> /
      <%= link_to t(:edit), edit_taxon_path(:id => flagging.flaggable_id) %> /
      <%= link_to t(:view_flag), flag_path( flagging ) %>
      <%= form_for(flagging, :action => "update", :html => {:class => "inline buttonrow"}) do |f| %>
        <fieldset>
          <legend><%= t(:resolve_this_flag) %></legend>
          <%= f.text_field :comment, :class => 'text', :placeholder => "Explain your decision" %>
          <%= f.hidden_field :resolver_id, :value => current_user.id %>
          <%= f.hidden_field :resolved, :value => true %>
          <%= f.submit t(:resolve), :class => 'inline button' %>
        </fieldset>
      <% end %>
      
    </td>
  </tr>
  <% end %>
</table>

<% unless @resolved_flags.blank? -%>
  <div class="stacked">
    <h3><%= t(:recently_resolved) %></h3>
    <% for flag in @resolved_flags %>
      <%= render :partial => "flags/flag", :object => flag %>
    <% end %>
  </div>
<% end -%>


<%= will_paginate @flags %>

<h3><%= t(:ungrafted_taxa) %></h3>
<% if @ungrafted.empty? %>
  <p class="success">
    <%= t(:w00t_no_ungrafted_taxa) %>
  </p>
<% elsif @ungrafted.total_entries > @ungrafted.size %>
  <p class="description">
  <%=t :showing_x_of_y, x: 1, y: @ungrafted.size %>
  (<%=t "views.observations.compare.x_total", count: @ungrafted.total_entries %>)
  </p>
<% end %>

<table>
  <% for taxon in @ungrafted %>
    <tr>
      <td>
        <%= link_to(
          render(:partial => 'shared/taxon', :locals => {:taxon => taxon}),
          taxon
        ) %>
      </td>
      
      <td>
        <span class="button"> <%= link_to t(:edit), edit_taxon_path(taxon) %></span>
        |
        <span class="button"> <%= link_to t(:add_taxon_change), new_taxon_change_path("input_taxon_ids[]" => taxon.id, :type => "TaxonSwap") %></span>
        |
        <span class="button">
          <%= link_to t(:graft), graft_taxon_path(taxon, :format => 'json'), 
            :id => "grafting_link_#{taxon.id}",
            :class => "grafting_link",
            :remote => true,
            :method => 'patch',
            "data-type" => 'json',
            "data-loading-click" => "Grafting..."
           %>
        </span>
      </td>
    </tr>
  <% end %>
</table>
