<% content_for(:title) do %>Curation<% end %>
<% content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #tools {
      float: right;
    }
    
    .status {
      display: inline;
      padding: 2px;
    }
  </style>
<% end -%>

<%- content_for(:extrajs) do -%>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.grafting_link')
        .bind('ajax:success', function(e, json, status) {
          $(this).text(json.msg).addClass('success status')
        })
        .bind('ajax:error', function(event, request, settings) {
          var json = $.parseJSON(request.responseText)
          if (json) { alert(json.error) }
          else { alert('Something went wrong') }
        })
    })
  </script>
<%- end -%>

<div id="tools" class="buttonrow">
  <%= link_to "New Taxon", new_taxon_path, :class => 'button' %>
</div>
<h2>Taxa Needing Curation</h2>

<table>
  <tr>
    <th>Created</th>
    <th>Taxon</th>
    <th>Reason</th>
    <th>Flagger</th>
    <th>Actions</th>
  </tr>
  <% for flagging in @flags %>
  <% rendered_taxon =  render(:partial => 'shared/taxon', 
                              :locals => { :taxon => flagging.flagged_object, :link_url => flagging.flagged_object }) %>
  <tr>
    <td><%= flagging.created_at %></td>
    <td><%= rendered_taxon %></td>
    <td><%= h flagging.flag %></td>
    <td>
      <% if flagging.user -%>
        <%= link_to h(flagging.user.login), flagging.user %>
      <% else %>
        iNat
      <% end -%>
    </td>
    <td>
      <%= link_to "View", taxon_path(:id => flagging.flaggable_id) %> /
      <%= link_to "Edit", edit_taxon_path(:id => flagging.flaggable_id) %> /
      <%= link_to "Merge", merge_taxon_path(:id => flagging.flaggable_id) %>
      <%= form_for(flagging, :action => "update", :html => {:class => "inline buttonrow"}) do |f| %>
        <fieldset>
          <legend>Resolve this flag</legend>
          <%= f.text_field :comment, :class => 'text', :placeholder => "Explain your decision" %>
          <%= f.hidden_field :resolver_id, :value => current_user.id %>
          <%= f.hidden_field :resolved, :value => true %>
          <%= f.submit 'Resolve', :class => 'inline button' %>
        </fieldset>
      <% end %>
      
    </td>
  </tr>
  <% end %>
</table>

<% unless @resolved_flags.blank? -%>
  <div class="stacked">
    <h3>Recently Resolved</h3>
    <% for flag in @resolved_flags %>
      <%= render :partial => "flags/flag", :object => flag %>
    <% end %>
  </div>
<% end -%>


<%= will_paginate @flags %>

<h3>Ungrafted Taxa</h3>
<% if @ungrafted.empty? %>
  <p class="success">
    w00t!  No ungrafted taxa!
  </p>
<% elsif @ungrafted.total_entries > @ungrafted.size %>
  <p class="description">
    Showing 1 - <%= @ungrafted.size %> of <%= @ungrafted.total_entries %>
  </p>
<% end %>

<table>
  <% for taxon in @ungrafted %>
    <tr>
      <td>
        <%= link_to(
          render(:partial => 'shared/taxon', :locals => {:taxon => taxon}),
          taxon
        ) %>
      </td>
      
      <td>
        <span class="button"> <%= link_to 'edit', edit_taxon_path(taxon) %></span>
        |
        <span class="button"> <%= link_to 'merge', merge_taxon_path(taxon) %></span>
        |
        <span class="button"> <%= link_to 'add taxon change', new_taxon_change_path("input_taxon_ids[]" => taxon.id, :type => "TaxonSwap") %></span>
        |
        <span class="button">
          <%= link_to 'graft', graft_taxon_path(taxon, :format => 'json'), 
            :id => "grafting_link_#{taxon.id}",
            :class => "grafting_link",
            :remote => true,
            :method => 'post',
            "data-type" => 'json',
            "data-loading-click" => "Grafting..."
           %>
        </span>
      </td>
    </tr>
  <% end %>
</table>
