<% content_for(:title) do %>
Editing <%= @taxon.name %>
<% end %>

<%= render :partial => 'form_head' %>

<div id="pageheader" class="last column span-24">
  <span class="breadcrumbs">
    <%= link_to "Back to Viewing <i>#{@taxon.name}</i>", 
                taxon_path(@taxon), :class => 'back crumb' %>
  </span>
  <h2>Editing <i><%= @taxon.name %></i></h2>
  <div class="description">
    Please be careful, particularly when deleting taxa. If a taxon has
    associated observations, ids, listed taxa, etc, please 
    <%= link_to "merge", :controller => "taxa", :action => "merge", :id => @taxon %>
    it instead.
  </div>
</div>

<%= render :partial => "form" %>
