<%- 
  resource ||= @resource || @taxon
  licensed ||= false
  providers = CONFIG.photo_providers ||= %W(flickr inat_obs eol wikimedia conabio)
-%>
<div id="edit_taxon_photos_<%= resource.id %>" class="edit_taxon_photos">
  <div class="readable description" style="margin-bottom: 1em">
    <%= t(:choose_cc_licensed_photos_html, :site_name => SITE_NAME) %>
  </div>
  
  <div class="tabs">
    <%= photo_providers licensed, providers %>

    <% providers.each do |p| %>
        <div id="<%= p.to_s.downcase %>_taxon_photos">
          <%= form_tag({:action => 'update_photos'}) do %>
              <div class="taxon_photos clear">
                <%= render :partial => 'photos/photo_list_form', :locals => {
                        :photos => @photos,
                        :checked => true } %>
              </div>
              <div class="buttonrow">
                <%= submit_tag t(:save_photos), :class => 'default button', 'data-loading-click' => t(:loading) %>
                <%= link_to_function t(:cancel), '$(this).parents(".dialog").dialog("close")', :class => 'button close' %>
              </div>
          <% end %>
        </div>
    <% end %>

  </div>
</div>
