<% content_for(:title) do %>
<%= t(:editing) %> <%= @taxon.name %>
<% end %>

<%= render :partial => 'form_head' %>

<div id="pageheader" class="last column span-24">
  <span class="breadcrumbs">
    <%= link_to t(:back_to_viewing, :taxon => @taxon.name).html_safe, 
                taxon_path(@taxon), :class => 'back crumb' %>
  </span>
  <h2><%= t(:editing) %> <i><%= @taxon.name %></i></h2>
  <div class="description">
    <% if @taxon.creator -%>
      <%=t :created_by_user_on_date, :user => @taxon.creator.login, :date => l(@taxon.created_at) %>
    <% end -%>

    <%= t(:please_be_careful_particulary_when) %>
    <%= link_to t(:merge), :controller => "taxa", :action => "merge", :id => @taxon %>
    <%= t(:it_instead) %>
  </div>
</div>

<%= render :partial => "form" %>

<% if @taxon.creator -%>
  <div class="clear description">
    <%= t(:created_by, gender: 'taxon') %> <%= link_to @taxon.creator.login, @taxon.creator %> <%= t :on_day %> <%= l(@taxon.created_at.to_date, :format => :long) %>
  </div>
<% end -%>

<% if @taxon.updater -%>
  <div class="clear description">
    <%= t(:updated_by, gender: 'taxon') %> <%= link_to @taxon.updater.login, @taxon.updater %> <%= t :on_day %> <%= l(@taxon.updated_at.to_date, :format => :long) %>
  </div>
<% end -%>
