<% content_for(:title) do %>
<%= t(:editing) %> <%= @taxon.name %>
<% end %>

<%= render :partial => 'form_head' %>

<div id="pageheader" class="last column span-24">
  <span class="breadcrumbs">
    <%= link_to t(:back_to_viewing, :taxon => "#{@taxon.name}"), 
                taxon_path(@taxon), :class => 'back crumb' %>
  </span>
  <h2><%= t(:editing) %> <i><%= @taxon.name %></i></h2>
  <div class="description">
    <%= t(:please_be_careful_particulary_when) %>
    <%= link_to t(:merge), :controller => "taxa", :action => "merge", :id => @taxon %>
    <%= t(:it_instead) %>
  </div>
</div>

<%= render :partial => "form" %>
