<%- 
  resource ||= @resource || @taxon
  licensed ||= false
-%>
<div id="edit_taxon_photos_<%= resource.id %>" class="edit_taxon_photos">
  <div class="readable description" style="margin-bottom: 1em">
    <%= t(:choose_cc_licensed_photos_html, :site_name => @site.name) %>
  </div>
  
  <div class="tabs">
    <ul>
      <li><%= link_to "<span>#{t(:from)} Flickr</span>".html_safe, "#flickr_taxon_photos" %></li>
      <li>
        <%-
          title = if licensed
            t(:from_licensed_site_observations, :site_name => @site.preferred_site_name_short)
          else
            t(:from_your_site_observations, :site_name => @site.preferred_site_name_short)
          end
        -%>
        <%= link_to "<span>#{title}</span>".html_safe, "#inat_obs_taxon_photos" %>
      </li>
      <li><%= link_to "<span>#{t(:from)} EOL</span>".html_safe, "#eol_taxon_photos" %></li>
      <li><%= link_to "<span>#{t(:from)} Wikimedia Commons</span>".html_safe, "#wikimedia_taxon_photos" %></li>
    </ul>
    
    <div id="wikimedia_taxon_photos">
      <%= form_tag({:action => 'update_photos'}) do %>
        <div class="taxon_photos clear">
          <%= render :partial => "photos/photo_list_form", :locals => { 
            :photos => @photos,
            :checked => true } %>
        </div>
        <div class="buttonrow">
          <%= submit_tag t(:save_photos), :class => 'default button' %>
          <%= link_to_function t(:cancel), '$(this).parents(".dialog").dialog("close")', :class => 'button close' %>
        </div>
      <% end %>
    </div>
    
    <div id="eol_taxon_photos">
      <%= form_tag({:action => 'update_photos'}) do %>
        <div class="taxon_photos clear">
          <%= render :partial => "photos/photo_list_form", :locals => { 
            :photos => @photos,
            :checked => true } %>
        </div>
        <div class="buttonrow">
          <%= submit_tag t(:save_photos), :class => 'default button' %>
          <%= link_to_function t(:cancel), '$(this).parents(".dialog").dialog("close")', :class => 'button close' %>
        </div>
      <% end %>
    </div>
    
    <div id="flickr_taxon_photos">
      <%= form_tag({:action => 'update_photos'}) do %>
        <div class="taxon_photos clear">
          <%= render :partial => "photos/photo_list_form", :locals => { 
            :photos => @photos,
            :checked => true } %>
        </div>
        <div class="buttonrow">
          <%= submit_tag t(:save_photos), :class => 'default button' %>
          <%= link_to_function t(:cancel), '$(this).parents(".dialog").dialog("close")', :class => 'button close' %>
        </div>
      <% end %>
    </div>
    
    <div id="inat_obs_taxon_photos">
      <%= form_tag({:action => 'update_photos'}) do %>
        <div class="taxon_photos clear">
          <%= render :partial => "photos/photo_list_form", :locals => { 
            :photos => @photos,
            :checked => true } %>
        </div>
        <div class="buttonrow">
          <%= submit_tag t(:save_photos), :class => 'default button', "data-loading-click" => "Saving..." %>
          <%= link_to_function t(:cancel), '$(this).parents(".dialog").dialog("close")', :class => 'button close' %>
        </div>
      <% end %>
    </div>
  </div>

</div>
