<% if @places.blank? -%>
  <div class="description">
    <%= t(:no_matching_places) %>
  </div>
<% else %>
  <% for place in @places %>
    <%- url = search_taxa_path(:places => place.id, :js_link => @js_link, :partial => @partial) -%>
    <div class="clear" style="margin-bottom: 10px">
      <%= link_to google_static_map_for_place(place, {
        :zoom => place.place_type == Place::PLACE_TYPE_CODES['Country'] ? 0 : 2,
        :size => '75x75',
        :markers => "size:tiny|color:blue|#{place.latitude},#{place.longitude}"
      }, {:class => 'left'}), url %>
      <%= link_to t(:search), url, :class => "button inline glaucous", :style => "float: right; margin-left: 10px;" %>
      <strong><%= link_to place.name, url %></strong>
      <div class="small description">
        <%= place.place_type_name %>
        <% if place.parent %>in <%= place.parent.display_name %><% end %>
      </div>
      
    </div>
  <% end %>
<% end -%>
