<%- content_for(:title) do -%>
  <%= t(:your_flickr_photos_have_been_tagged) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .toolset a {
      display: block;
      width: auto;
      float: right;
      clear: right;
    }
    table {
      width: 100%;
    }
    td {
      vertical-align: top;
      padding-top: 1em;
      padding-bottom: 1em;
    }
    
    td.photo img {
      display: block;
      margin: 0 auto;
    }
    
    td.photo, td.actions {
      text-align: center;
    }
    
    td.tags {
      width: 50%;
    }
    .tags ul {
      float: left;
      width: 40%;
    }
    
    td.actions .button {
      margin: 0.5em auto;
      float: none ;
    }
    
    .tag .controls {
      font-weight: bold;
    }
    
    .duplicate {
      color: red;
    }
    
    .kingdom     { color: #691776; }
    .phylum      { color: brown; }
    .class       { color: DeepPink }
    .superorder  { color: #1E90FF; }
    .order       { color: #FF4500; }
    .superfamily { color: #F3CA3E; }
    .family      { color: #C0852B; }
    .genus       { color: #73AC13; }
    .species     { color: #B190CD; }
    .binomial    { color: #1E90FF; }
    .trinomial   { color: lightblue; }
    .common      { color: #CF6; }
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.tag .controls a')
        .bind('ajax:before', function() {
          $(this).hide()
          $(this).siblings('.loading').show()
        })
        .bind('ajax:success', function() {
          console.log("[DEBUG] success, this:", this)
          $(this).parents('.tag:first').fadeOut(function() {
            $(this).remove()
          })
        })
        .bind('ajax:error', function() {
          $(this).show()
          $(this).siblings('.loading').hide()
          alert('There was a problem removing that tag.')
        })
    })
  </script>
<%- end -%>
<div id="pageheader">
  <div class="toolset" style="float: right">
    <%= link_to "Tag more photos", flickr_tagger_path, :class => 'readmore' %>
  </div>
  <h2><%= t(:your_flickr_photos_have_been_tagged) %></h2>
  <p class="description"><%= t(:the_following_photos_have_been_tagged) %></p>
</div>

<table>
  <tr>
    <th><%= t(:flickr_photo) %></th>
    <th><%= t(:flickr_tags) %></th>
    <th>&nbsp;</th>
  </tr>
  <% for flickr_photo in @flickr_photos %>
    <tr>
      <td class="photo">
        <%= link_to image_tag(flickr_photo.small_url), flickr_photo.native_page_url %>
        <% if flickr_photo.api_response -%>
          <strong><%= link_to flickr_photo.api_response.title, flickr_photo.native_page_url %></strong>
        <% end -%>
      </td>
      <td class="tags description">
        <% if flickr_photo.api_response -%>
          <%- 
            tags = flickr_photo.api_response.tags.to_a
            taxonomy_machine_tags = tags.map(&:raw).select{|tag| tag =~ /^taxonomy\:/}
            predicates = taxonomy_machine_tags.map {|tag| tag.split('=').first if tag.split('=').size > 1}.compact
            duplicate_predicates = predicates.select{|p| predicates.grep(p).size > 1}
            duplicate_predicates.delete('taxonomy:common')
            mid = (tags.size / 2.0).ceil
            halves = [tags[0..mid], tags[mid+1..-1]]
          -%>
          <% unless duplicate_predicates.empty? -%>
            <div class="notice">
              <%= t(:heads_up_you_have_multiple) %>
            </div>
          <% end -%>
          <% for tag_group in halves.compact %>
            <ul>
              <% for tag in tag_group.compact %>
                <%- dup_class = '' %>
                <% if tag.raw.split('=').size > 1 && tag_predicate = tag.raw.split('=').first -%>
                  <% if duplicate_predicates.include?(tag_predicate) %>
                    <%- dup_class = "duplicate #{tag_predicate.split(':').last}" %>
                  <% end %>
                <% end -%>
                <li id="tag_<%= tag.id %>" class="tag <%= dup_class %>">
                  <span class="raw"><%= tag.raw %></span>
                  <span class="controls">
                    <%= link_to "&times;".html_safe, {:controller => 'flickr', :action => 'remove_tag', :id => tag.id, :format => 'json'},
                      "data-type" => 'json',
                      :remote => true,
                      :id => "remove_tag_link_#{tag.id}",
                      :title => 'Remove tag'
                    %>
                    <%= image_tag 'spinner-small.gif', :class => 'loading', :style => 'display: none' %>
                  </span>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end -%>
      </td>
      <td class="actions">
        <%= link_to t(:view_on_flickr), flickr_photo.native_page_url, :class => 'readmore' %>
        <% if observation = @observations_by_native_photo_id[flickr_photo.native_photo_id] -%>
          <div class="description" style="margin-top: 10px">
            <%= t(:this_photo_is_already_associated) %>
          </div>
          
          <%= link_to t(:view_observation), observation, :class => 'readmore' %> <br/>
          
          <%= link_to t(:import_as_another_observation), 
            {:controller => "observations", :action => 'import_photos', 
              :flickr_photos => [flickr_photo.native_photo_id]}, 
            :method => :post, :class => 'readmore' %>
        <% else -%>
          <div class="description">
            or
          </div>
          <%= link_to t(:import_as_an_observation), 
            new_observation_path(:flickr_photo_id => flickr_photo.native_photo_id),
            :class => "button", :rel => "nofollow" %>
        <% end -%>
      </td>
    </tr>
  <% end %>
</table>

<div class="toolset" style="float: right">
  <%= link_to t(:import_all_photos_as_observations), 
    {:controller => "observations", :action => 'import_photos', 
      :flickr_photos => @flickr_photos.map(&:native_photo_id)}, 
    :method => :post, :class => 'inter readmore' %>
</div>
