<% content_for(:title) do -%>
  Taxonomic Tags for Flickr
<% end -%>
<% content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #pageheader .description{margin-bottom:0;}
    #tags{width:913px;}
    .chosen{border:1px solid #eee;padding:10px;margin-bottom:10px;}
    #taxon_name{width:434px;}
    #choose_taxon_button{float:left;margin-right:10px;}
    .photoSelectorPhotos .photo{margin:0 0.5em 0.5em 0;padding:5px;}
    #taxon .simpleTaxonSelector{margin-bottom:10px !important;float:left;margin-right:8px;}
    #signed_out_taxon_info{float:left;width:350px;line-height:2.4;margin-left:10px;}
    #signed_out_taxon_info .button{margin: 0 5px;}
    #link_flickr_message{text-align:center;}
    #link_flickr_message .button{float:none;clear:both;margin:10px auto;width:300px;}
    .boxheader{margin-bottom:5px;}
    .boxheader .title{float:left;font-weight:bold;margin-right:10px;}
    #tagform .boxheader .controls,
    #photos .controls{float:right;}
    #tagform .checkboxes{clear:both;}
    .checkboxes .column{width:302px;}
    #greasemonkeylink{text-align:center;}
  </style>
<% end -%>
<% content_for(:extrajs) do %>

<%= javascript_include_tag 'jquery/plugins/jquery.string.1.0',
                           "jquery/plugins/inat/checkboxes.js",
                           "jquery/plugins/inat/photo_selectors.js" %>
                           
<script type="text/javascript" charset="utf-8">
  var tags = <%= @tags.to_json %>;
  $(document).ready(function(){
    updateTagInput();
    
    // Bing checkbox clicks to update tag field
    $('#tagform input[type=checkbox]').click(function() {
      updateTagInput();
    });
    
    $('#taxon_name').simpleTaxonSelector({
      includeSearchExternal: <%= logged_in? ? 'true' : 'false' %>,
      afterSelect: function(wrapper, taxon, options) {
        $('#choose_taxon_button').focus();
      }
    });
    
    
    $('#photo_selector').photoSelector({
      baseURL: '/flickr/photo_fields?context=user',
      <% if @taxon %>
      queryOnLoad: true,
      defaultQuery: '<%= escape_javascript(default_taxon_name(@taxon)) %>',
      urls: [
        {title: 'Flickr', url: '/flickr/photo_fields?context=user'}
      ],
      skipLocal: true,
      <% end %>
      urlParams: {
        authenticity_token: encodeURIComponent(<%= form_authenticity_token.inspect %>),
        limit: 16
      }
    });
    
    $('#tags').data('selected', false);
    $('#tags').click(function() {
      if ($(this).data('selected') == false) {
        $(this).select();
        $('#tags').data('selected', true);
      }
    });
    
    $('#tags').blur(function() {
      $(this).data('selected', false)
    });
    
    $('input[name=tagstyle]').each(function() {
      $(this).click(updateTagInput);
    });
  });
  
  function updateTagCheckboxes(request) {
    var json = eval('(' + request.responseText + ')');
    $('#tagform .checkboxes .tagcol').remove();
    var column = $('<div class="tagcol column"></div>');
    $(json).each(function(tagIndex) {
      var tag = json[tagIndex];
      var tagField = makeTagField(tag);
      if (tagIndex % 10 == 0 && tagIndex != 0) {
        $(column).append(tagField);
        $('#tagform .checkboxes').append(column);
        column = $('<div class="tagcol column"></div>');
        
        if (tagIndex % 20 == 0) {
          $(column).addClass('last');
        };
      } else {
        $(column).append(tagField);
      }
    });
    $('#tagform .checkboxes').append(column);
    
    // Bind checkbox clicks to update tag field
    $('#tagform input[type=checkbox]').click(updateTagInput);
  }
  
  function makeTagField(tag) {
    var checkbox = $('<input type="checkbox"/>').val(tag);
    $(checkbox).attr('checked', 'checked');
    var checkboxID = tag.replace(/[^\w]/g, '');
    $(checkbox).attr('id', checkboxID);
    var label = $('<label for="'+checkboxID+'"></label>').append(tag);
    return $('<div class="tag_field"></div>').append(checkbox, label);
  }
  
  function updateTagInput(options) {
    var options = $.extend({}, options);
    var tagstyle = options.tagstyle || $('input[name=tagstyle]:checked').val();
    var newTagString = '';
    $('#tagform .checkboxes input[type=checkbox]:checked').each(function(i) {
      var tag = $(this).val();
      if (tagstyle == "csv") {
        if (i > 0) newTagString += ", ";
        newTagString += tag;
      } else {
        if (i > 0) newTagString += ' ';
        newTagString += tag.split(' ').length > 1 ? '"'+tag+'"' : tag;
      }
    });
    $('#tags').val(newTagString);
  }
</script>
<%- end -%>

<div id="pageheader" class="column span-24">
  <h2>Taxonomic Tags for Flickr</h2>
  <p class="description">
    Generate taxonomic tags for your Flickr photos.
  </p>
</div>

<div class="column span-24">
  <div id="taxon" class="clear chosen">
    <% form_remote_tag :url => url_for(:format => 'json'),
      :loading => "$('#tag_loading_status').show(); $('#tagform .checkboxes .tagcol').remove(); $('#tags').val('')",
      :complete => "updateTagCheckboxes(request); updateTagInput(); $('#tag_loading_status').hide()" do %>
      <div class="clear boxheader">
        <span class="title">Choose a taxon</span>
      </div>
      <input type="text" class="text" name="taxon_name" value="<%= default_taxon_name(@taxon) %>" id="taxon_name"/>
      <input type="hidden" name="taxon_id" value="<%= @taxon.id if @taxon %>" id="taxon_id" />
      <input type="submit" value="Make tags" class="default button" id="choose_taxon_button">
    <% end %>
    
    <% unless logged_in? -%>
      <div id="signed_out_taxon_info" class="description column inline buttonrow">
        <strong>Not finding what you're looking for?</strong><br/>
        <%= link_to "Sign in", login_path, :class => 'button' %>
        or
        <%= link_to "Sign up", signup_path, :class => 'button' %>
        to import names from taxonomic name providers like 
        <a href="http://ubio.org">uBio</a> and 
        <a href="http://www.catalogueoflife.org">Catalogue of Life</a>.
      </div>
    <% end -%>
  </div>
</div>

<% form_tag url_for(:action => 'tag_flickr_photos'), :id => 'tagform' do %>
  
  <div class="column span-24">
    <div class="chosen">
    
      <div class="clear boxheader">
        <span class="title">Choose tags</span>
        
        <input type="radio" name="tagstyle" id="tagstyle_flickr" value="flickr" checked="checked">
        <label for="tagstyle_flickr">Flickr-style</label>
        
        <input type="radio" name="tagstyle" id="tagstyle_csv" value="csv">
        <label for="tagstyle_csv">comma-separated</label>
        
        <div class="controls">
          <%= link_to_function "Select all", "$('#tagform input[type=checkbox]').check(); updateTagInput();" %> |
          <%= link_to_function "Select none", "$('#tagform input[type=checkbox]').uncheck(); updateTagInput();" %>
        </div>
      </div>
      <div id="tag_loading_status" class="loading status" style="display: none">
        Loading tags...
      </div>
      <div class="clear checkboxes stacked">
        <% unless @tags.blank? -%>
          <% for tags in @tags.in_groups_of(5) %>
            <div class="tagcol column <%= cycle '', '', 'last' %>">
              <% for tag in tags %>
                <%- next unless tag -%>
                <div class="tag_field">
                  <input type="checkbox" value="<%= escape_javascript(tag) %>" id="<%= tag.gsub('"', '').gsub(' ', '') %>" checked="checked">
                  <label for="<%= tag.gsub('"', '').gsub(' ', '') %>"><%= tag %></label>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end -%>
      </div>
      <input type="text" name="tags" value="" id="tags" class="text">
    </div>
  </div>

  <div class="column span-24">
    <div id="photos" class="clear chosen">
      <div class="clear boxheader">
        <% if logged_in? && current_user.flickr_identity -%>
          <div class="controls">
            <%= link_to_function "Select all",  "$('#photo_selector input[type=checkbox]').check();" %> |
            <%= link_to_function "Select none", "$('#photo_selector input[type=checkbox]').uncheck();" %>
          </div>
        <% end -%>
        <span class="title">Choose photos to tag from your photostream</span>
      </div>
      <% if logged_in? -%>
        <% if current_user.flickr_identity %>
          <div id="photo_selector" class="stacked clear">
            <% unless @flickr_photos.blank? %>
              <%= render :partial => "photos/photo_list_form", :locals => { 
                :photos => @flickr_photos, 
                :checked => true } %>
            <% end %>
          </div>
          <div class="clear buttonrow">
            <input type="submit" name="tag_photos_button" value="Tag these photos" id="tag_photos_button" class="default button"/>
          </div>
        <% else %>
          <div id="link_flickr_message">
            You need to have a linked Flickr account to tag your photos.
            <%= link_to "Link your Flickr account with iNaturalist",
                        {:controller => 'flickr', :action => 'link'},
                        :class => 'button' %>
          </div>
        <% end %>
      <% else %>
        <div id="sign_in_sign_up" class="buttonrow">
          <%= link_to "Sign in with Flickr", auth_url_for('flickr', :scope => 'write'), :class => 'button providerlink flickr' %>
          <span class="inter">to tag your Flickr photos from here without cutting and pasting.</span>
        </div>
      <% end -%>
    </div>
  </div>

<% end %>

<div id="greasemonkeylink" class="column span-24 description">
  If you use <a href="http://www.mozilla.com/firefox/" title="Firefox">Firefox</a> 
  and <a href="http://www.greasespot.net/" title="Greasespot">Greasemonkey</a>, 
  there's also 
  <a href="http://userscripts.org/scripts/show/46129" title="iNaturalist Taxonomic Flickr Tagger for Greasemonkey">a Greasemonkey script</a>
  that will insert a link to this tool on every Flickr photo page.  
  <a href="http://userscripts.org/scripts/show/46129" title="iNaturalist Taxonomic Flickr Tagger for Greasemonkey" class="readmore">Check it out</a>
</div>
