<% content_for(:title) do %>
Taxa &middot; All Species
<% end -%>

<% content_for(:extrajs) do %>
  <!--[if lt IE 8]>
  <script src="http://ie7-js.googlecode.com/svn/trunk/lib/IE8.js" type="text/javascript"></script>
  <![endif]-->
<% end %>

<%- content_for(:extracss) do %>
<%= stylesheet_link_tag 'taxa/index' %>
<% end -%>

<h2>Species <span class="description">&amp; Other Taxa</span></h2>

<%= render :partial => 'search_form' %>

<div id="iconic_taxa" class="column span-19">
  <% for iconic_taxon in @iconic_taxa %>
  <div id="<%= iconic_taxon.name %>" class="iconic_taxon clear column span-6 <%= cycle('first', '', 'last', :name => 'rowpos') %>">
    <div class="photos clear">
      <% for photo in iconic_taxon.flickr_photos[0..5] %>
        <%- photo_tag = image_tag(
          photo.is_a?(FlickrPhoto) ? photo.square_url : "http://flickr.com/photos/#{photo.photo_xml[:owner]}/#{photo.id}",
          :width => 75, :height => 75, 
          :title => photo.is_a?(FlickrPhoto) ? "Photo: #{photo.flickr_username}" : "Photo: #{photo.photo_xml['ownername']}"
        ) -%>
        <%= link_to(photo_tag, iconic_taxon, :class => cycle('', '', 'last')) %>
      <% end %>
    </div>
    <h3>
      <% link_to iconic_taxon do %>
        <%= render :partial => 'shared/taxon', :object => iconic_taxon %>
      <% end %>
    </h3>
  </div>
  <% end %>
</div>

<div id="recently_observed" class="last column span-5">
  <div class="box clear">
    <h3>Recently Observed</h3>
    <% for observation in @recent %>
    <p>
      <% link_to(observation.taxon) do %>
        <%= render :partial => 'shared/taxon', :object => observation.taxon %>
      <% end %>
      <span class="description date">on <%= observation.observed_on.to_s(:long) %></span>
    </p>
    <% end %>
  </div>
</div>
