<%- content_for(:title) do -%>
  <%= @title = "Taxa" %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .taxa img {width:73px;}
  </style>
<%- end -%>
<h2><%= @title %></h2>
<% if @taxa.blank? -%>
  <%= t(:no_taxa_yet) %>
<% else %>
  <div class="taxa">
    <% for taxon in @taxa %>
      <%= link_to taxon_image(taxon), taxon %>
    <% end %>
  </div>
  <%= will_paginate @taxon_photos %>
<% end -%>
