<h1><%= t(:listing_taxa) %></h1>

<table>
  <tr>
  <% for column in Taxon.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for taxon in @taxa %>
  <tr>
  <% for column in Taxon.content_columns %>
    <td><%=h taxon.send(column.name) %></td>
  <% end %>
    <td><%= link_to t(:show), :action => 'show', :id => taxon %></td>
  </tr>
<% end %>
</table>

<%= link_to t(:previous_page), { :page => @taxon_pages.current.previous } if @taxon_pages.current.previous %>
<%= link_to t(:next_page), { :page => @taxon_pages.current.next } if @taxon_pages.current.next %> 

<br />
