<%- @qtip2 = true -%>
<%- content_for(:title) do -%>
  <%- @title = capture do %>
    Map for <%= link_to @taxon.name, @taxon %>
  <%- end -%>
  <%= strip_tags(@title) %>
<%- end -%>

<%- content_for(:extrajs) do -%>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag "polymaps.min", "polymaps.extra", "polymaps.kml", "jquery/plugins/jquery.qtip2.min", "d3.min", 'inaturalist/map3' %>
  <script type="text/javascript" charset="utf-8">
    var TILESTACHE_SERVER = <%= INAT_CONFIG['tile_servers']['tilestache'].inspect %>
    var CLOUDMADE_KEY = <%= @cloudmade_key.inspect %>
    var BING_KEY = <%= @bing_key.inspect %>
    var countyListings = <%= @county_listings.to_json %>;
    var stateListings = <%= @state_listings.to_json %>;
    var countryListings = <%= @country_listings.to_json %>;
    var extent = <%= @extent.to_json %>;
    var taxonRangeUrl = <%= (@taxon_range ? taxon_range_geom_url(@taxon, :format => "geojson") : nil).to_json %>
    var taxonRangeKmlUrl = <%= (@taxon_range ? root_url.gsub(/\/$/, "") + @taxon_range.range.url : nil).to_json %>
    var observationsKmlUrl = <%= observations_url(:format => :kml, :taxon_id => @taxon.id).inspect %>
    var observationsJsonUrl = <%= observations_of_url(@taxon.id, :format => :json).inspect %>
    var children = <%= @children.to_json %>
    
    $(document).ready(function() {
      var script = document.createElement("script")
      script.setAttribute("type", "text/javascript")
      if ($.browser.msie) {
        script.setAttribute("src", "/javascripts/taxa/map.gmaps.js")
      } else {
        script.setAttribute("src", "/javascripts/taxa/map.polymaps.js")
      }
      document.body.appendChild(script);
    })
  </script>
  
<%- end -%>

<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "jquery/plugins/jquery.qtip.min", "observations", "taxa/map" %>
<%- end -%>

<div id="map" class="fullscreen"></div>

<div id="controls">
  <div id="basemap">
    <input type="radio" name="basemap" value="map" id="basemap_map" checked="checked">
    <label for="basemap_map">Map</label>
    <input type="radio" name="basemap" value="sat" id="basemap_sat">
    <label for="basemap_sat">Sat</label>
  </div>
</div>
<div id="copyright"></div>
<div id="legend">
  <div class="clear stacked">
    <div class="stacked breadcrumbs">
      <%- link_to @taxon, :class => "back crumb" do %>
        Back to
        <%= render :partial => "shared/taxon", :object => @taxon, :locals => {:link => false} %>
      <% end %>
    </div>
    <%= link_to taxon_image(@taxon, :size => "square"), @taxon, :class => "taxonimage" %>
    <ul>
      <li class="putative observations" rel="observations">
        <input type="checkbox" checked="checked" id="observations_check"/>
        <div class="symbol"></div>
        <label for="observations_check">Observations (last 500)</label>
        
        <div class="confirmed">
          <input type="checkbox" checked="checked" style="visibility: hidden"/>
          <div class="symbol"></div>
          <label for="observations_check">Observations (confirmed)</label>
        </div>
      </li>
      <li class="range" rel="range">
        <input type="checkbox" checked="checked" id="range_check"/>
        <div class="symbol"></div>
        <label for="range_check">Range</label>
      </li>
      <li class="putative places" rel="countries_simple states_simple counties_simple counties">
        <input type="checkbox" checked="checked" id="places_check"/>
        <div class="symbol"></div>
        <label for="places_check">Checklist places</label>
        <div class="confirmed">
          <input type="checkbox" checked="checked" style="visibility: hidden"/>
          <div class="symbol"></div>
          <label for="places_check">Checklist places (confirmed)</label>
        </div>
      </li>
    </ul>
  </div>
  
  <div class="clear small meta">
    Only country, state, and county equivalent places shown for now. <br/>
    Zoom in to see smaller places.
  </div>
</div>
