<%- @title = capture do %>
  Map for
  <% if @taxon -%>
    <%=raw link_to @taxon.name, @taxon %>
  <% elsif @taxa %>
    <%=raw @taxa.map {|t| link_to(t.name, t)}.join(', ') %>
  <% else %>
    Taxa
  <% end -%>
<%- end -%>
<%- content_for(:title) do -%>
  <%= strip_tags(@title) %>
<%- end -%>

<%- content_for(:extrajs) do -%>
  <%= google_maps_js %>
  <%= javascript_include_tag "polymaps.min", "polymaps.extra", "polymaps.kml", 'd3.min', 'inaturalist/map3' %>
  <script type="text/javascript" charset="utf-8">
    var TILESTACHE_SERVER = <%= CONFIG.tile_servers.tilestache.inspect.html_safe %>
    var CLOUDMADE_KEY = <%= @cloudmade_key ? @cloudmade_key.inspect.html_safe : 'null' %>
    var BING_KEY = <%= @bing_key ? @bing_key.inspect.html_safe : 'null' %>
    var M_TO_OBSCURE_THREATENED_TAXA = <%= Observation::M_TO_OBSCURE_THREATENED_TAXA %>
    var PLANETARY_RADIUS = <%= Observation::PLANETARY_RADIUS %>
    var DEGREES_PER_RADIAN = <%= Observation::DEGREES_PER_RADIAN %>
    var OBSCURATION_DISTANCE_IN_DEGREES = M_TO_OBSCURE_THREATENED_TAXA / PLANETARY_RADIUS * DEGREES_PER_RADIAN
    var countyListings = <%= @county_listings.to_json(:methods => [:occurrence_status]).html_safe %>;
    var stateListings = <%= @state_listings.to_json(:methods => [:occurrence_status]).html_safe %>;
    var countryListings = <%= @country_listings.to_json(:methods => [:occurrence_status]).html_safe %>;
    var extent = <%= @extent.to_json.html_safe %>;
    var taxonRange = <%= @taxon_range.to_json(:include => [:source]).html_safe %>
    var taxonRangeUrl = <%= (@taxon_range ? taxon_range_geom_url(@taxon.id, :format => "geojson") : nil).to_json.html_safe %>
    var taxonRangeKmlUrl = <%= (@taxon_range ? root_url.gsub(/\/$/, "") + @taxon_range.range.url : nil).to_json.html_safe %>
    var observationsKmlUrl = <%= @taxon ? observations_url(:format => :kml, :taxon_id => @taxon.id).inspect.html_safe : 'null' %>
    var observationsJsonUrl = <%= @taxon ? observations_of_url(@taxon.id, :format => :json).inspect.html_safe : 'null' %>
    var observationsGeoJsonUrl = <%= @taxon ? observations_of_url(@taxon.id, :format => :geojson).inspect.html_safe : 'null' %>
    var children = <%= @children.to_json.html_safe %>
    var place = <%= @place.to_json.html_safe %>
    var placeGeometry = <%= @place_geometry.to_json.html_safe %>
    var placeKmlUrl = <%= @place_geometry ? place_geometry_url(@place, :format => "kml").inspect.html_safe : 'null' %>
    var placeGeoJsonUrl = <%= @place_geometry ? place_geometry_url(@place, :format => "geojson").inspect.html_safe : 'null' %>
    var taxa = <%= @taxa_data.to_json.html_safe %>
    
    $(document).ready(function() {
      var script = document.createElement("script")
      script.setAttribute("type", "text/javascript")
      if ($.browser.msie) {
        script.setAttribute("src", "/assets/taxa/map.gmaps.js")
      } else {
        script.setAttribute("src", "/assets/taxa/map.polymaps.js")
      }
      document.body.appendChild(script);
    })
  </script>
  
<%- end -%>

<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "taxa/map" %>
<%- end -%>

<div id="map" class="fullscreen"></div>

<div id="controls" class="floating">
  <div id="basemap">
    <label id="basemap_map_label" for="basemap_map">
      <input type="radio" name="basemap" value="map" id="basemap_map" checked="checked">
      <%= t(:map) %>
    </label>
    <label id="basemap_sat_label" for="basemap_sat">
      <input type="radio" name="basemap" value="sat" id="basemap_sat"/>
      <%= t(:Sat) %>
    </label>
  </div>
</div>
<div id="copyright"></div>
<div id="legend" class="floating">
  <%= link_to_function "collapse/expand", "toggleLegend()", :id => "togglecollapse", :class => "ui-icon ui-icon-arrow-1-sw" %>
  <% if @taxon -%>
    <div class="breadcrumbs nobr">
      <%= link_to @taxon, :class => "back crumb" do %>
        <%= t(:back_to) %>
        <%= render :partial => "shared/taxon", :object => @taxon, :locals => {:link => false} %>
      <% end %>
    </div>
  <% end -%>
  
  <div id="legendcontent" class="stacked">
    <table border="0">
      <tr>
        <td>
          <%= link_to taxon_image(@taxon, :size => "square"), @taxon, :class => "taxonimage" %>
        </td>
        <td>
          <ul>
            <li class="putative observations" rel="observations">
              <input type="checkbox" checked="checked" id="observations_check"/>
              <div class="symbol"></div>
              <label for="observations_check"><%= t(:observations_last500) %></label>

              <div class="confirmed">
                <input type="checkbox" checked="checked" style="visibility: hidden"/>
                <div class="symbol"></div>
                <label for="observations_check"><%= t(:observations_confirmed) %></label>
              </div>

              <div class="obscured">
                <input type="checkbox" checked="checked" style="visibility: hidden"/>
                <div class="symbol"></div>
                <label for="observations_check"><%= t(:observations_obscured) %></label>
              </div>
            </li>
            <li class="range" rel="range">
              <input type="checkbox" checked="checked" id="range_check"/>
              <div class="symbol"></div>
              <label for="range_check"><%= t(:range) %></label>
            </li>
            <li class="putative places" rel="countries_simple states_simple counties_simple counties">
              <input type="checkbox" checked="checked" id="places_check" />
              <div class="symbol"></div>
              <label for="places_check"><%= t(:checklist_places) %></label>
              <div class="confirmed">
                <input type="checkbox" checked="checked" style="visibility: hidden"/>
                <div class="symbol"></div>
                <label for="places_check"><%= t(:checklist_places_confirmed) %></label>
              </div>
              <div class="absent">
                <input type="checkbox" checked="checked" style="visibility: hidden"/>
                <div class="symbol"></div>
                <label for="places_check"><%= t(:checklist_places_absent) %></label>
              </div>
              <div class="introduced">
                <input type="checkbox" checked="checked" style="visibility: hidden"/>
                <div class="symbol"></div>
                <label for="places_check"><%= t(:checklist_places_introduced) %></label>
              </div>

              <%#= link_to_toggle "Toggle place types", "#place_types" %>
              <div>
                <%= link_to_function t(:toggle_place_types), "$('#place_types').toggle(400, expandLegend); $(this).toggleClass('open')", :rel => '#place_types', :class => "togglelink" %>
              </div>
              <ul id="place_types" style="display:none">
                <li class="place_type" rel="countries_simple">
                  <input name="place_type" type="radio" id="place_type_countries"/>
                  <label for="place_type_countries"><%= t(:countries) %></label>
                </li>
                <li class="place_type" rel="states_simple">
                  <input name="place_type" type="radio" id="place_type_states"/>
                  <label for="place_type_states"><%= t(:states) %></label>
                </li>
                <li class="place_type" rel="counties_simple">
                  <input name="place_type" type="radio" id="place_type_counties"/>
                  <label for="place_type_counties"><%= t(:counties) %></label>
                </li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
      
  <div id="legendfooter" class="clear small meta">
    <a href="/" title="<%= CONFIG.site_name %>"><img src="/assets/logo-mini.png" alt="#{CONFIG.site_name} logo" class="left" style="width: 75px"></a>
    <div class="last right column">
      <%= link_to_function "<span class='ui-icon ui-icon-help inlineblock'>help</span>About this map".html_safe, 
        "$('#maphelp').dialog({modal: true, title: '#{t(:about_this_map)}', width: 500})", 
        :class => "helplink right" %>
    </div>
  </div>
</div>

<div id="maphelp" class="dialog" style="display:none">
  <ul>
    <li>
      <%= t(:cheklist_places_are_places_with_contain_taxon) %>
    </li>
    <li>
      <%= t(:confirmed_observations_are) %>
      <%= link_to t(:research_grade), help_url(:anchor => "quality") %>
      <%= t(:observations_on_inat_check_list, :site_name => SITE_NAME_SHORT) %>
    </li>
    <li>
      <%= link_to t(:obscured), help_url(:anchor => "obscured") %>
      <%= t(:observations_have_had_their_coordinates, :km => Observation::M_TO_OBSCURE_THREATENED_TAXA / 1000 ) %>
    </li>
    <li>
      <%= t(:observations_circle_have_their_radii_scaled) %>
    </li>
    <li>
      <%= t(:only_country_state_and_county) %>
    </li>
  </ul>
</div>
