<%- content_for(:title) do -%>
  <%= t(:merging) %> <%=h @taxon.name %>
<%- end -%>

<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag 'jquery/plugins/jquery.string.1.0', 
                             "jquery/plugins/jqModal",
                             "taxon_browser" %>
  <script type="text/javascript" charset="utf-8">
    var TAXON = <%=json_escape @taxon.to_json.html_safe %>
    $(document).ready(function() {
      $('#keeper_name').simpleTaxonSelector({
        isActive: 'any',
        includeID: true,
        afterSelect: function() {
          $('#confirm').html('<div class="loading status">Loading comparison...</div>')
          $('#confirm').load('<%= url_for(:id => @taxon, :format => "js") %>', "taxon_id="+$('#taxon_id').val(), function(responseText, status, request) {
            if (status == 'error') {
              $(this).html('<div class="padded error status">'+responseText+'</div>')
            }
          })
          $('#submitbutton, #swapbutton').attr('disabled', false).removeClass('disabled');
        },
        afterUnselect: function() {
          $('#submitbutton, #swapbutton').attr('disabled', true).addClass('disabled');
        }
      })
    })

    function makeTaxonSwap() {
      var rejectId = TAXON.id,
          keeperId = $('#taxon_id').val()
      if (!keeperId || !rejectId) return false
      window.location = '/taxon_changes/new?type=TaxonSwap&input_taxon_ids[]='+rejectId+'&output_taxon_ids[]='+keeperId
      return false
    }
  </script>
<%- end -%>

<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .simpleTaxonSelector {
      float: left;
      margin-right: 10px;
    }
    #keeper_name {
      width: 400px;
    }
  </style>
<%- end -%>

<div class="pageheader">
  <span class="breadcrumbs">
    <%= link_to t(:back_to_viewing, :taxon => @taxon.name).html_safe,
                taxon_path(@taxon), :class => 'back crumb' %>
  </span>
  <h2><%= t(:merge) %> <em><%= @taxon.name %></em></h2>
  <p class="notice box">
    <%= t(:delete_taxon_and_merge_most_data_html, :taxon => @taxon.name, :curator_url => "/pages/curator+guide") %>
  </p>
</div>

<%= form_tag merge_taxon_path(@taxon), :class => "clear buttons" do %>
  <%= text_field_tag :keeper_name, @taxon.name, :class => "text" %>
  <%= hidden_field_tag :taxon_id, @keeper ? @keeper.id : nil %>
  <%= submit_tag t(:merge), :disabled => true, :class => "default button", 
    :id => "submitbutton",
    :data => {
      :loading_click => t(:merging),
      :confirm => t(:are_you_sure_delete_taxon_move_associates, :taxonname => @taxon.name, :taxonid => @taxon.id)
    } %>
  <%= link_to_function t(:make_a_taxon_swap_instead?), "makeTaxonSwap()",
    :id => "swapbutton",
    :class => "button disabled" %>
<% end %>

<div id="confirm" class="clear"></div>
