<%- content_for(:title) do -%>
  <%- @title = capture do %>
    <%= t :schemes_including %> <%= link_to @taxon.name, @taxon %>
  <%- end -%>
  <%= strip_tags(@title) %>
<%- end -%>

<h2><%= @title %></h2>

<ul>
  <% for scheme_taxon in @scheme_taxa %>
    <li>
      <%= link_to scheme_taxon.taxon_scheme.title, scheme_taxon.taxon_scheme %>
      <%= "(#{scheme_taxon.source_identifier})" unless scheme_taxon.source_identifier.blank? %>
      <%= scheme_taxon.taxon_name.name unless scheme_taxon.taxon_name.blank? %>
      <% if is_curator? -%>
        <%= link_to t(:edit), edit_taxon_scheme_taxon_path(scheme_taxon), :class => 'small description' %>
      <% end -%>
    </li>
  <% end %>
</ul>
<% if logged_in? && current_user.is_curator? -%>
  <%= link_to t(:add_to_a_scheme), new_taxon_taxon_scheme_taxon_path(@taxon), :class => 'readmore' %>
<% end -%>
