<% content_for(:title) do %>
  <%= render "taxa/taxon.txt.erb", taxon: @taxon %>
<% end -%>

<%- content_for(:extrahead) do -%>
  <% if CONFIG.facebook -%>
    <meta property="og:type" content="<%= CONFIG.facebook.namespace %>:taxon"/>
  <% end -%>
  <meta property="og:title" content="<%= @taxon.to_plain_s(:verb => true, :no_time => true) %>"/>
  <% if @photos.blank? -%>
    <meta property="og:image" content="<%= iconic_taxon_image_url(@taxon) %>"/>
    <meta property="twitter:image" content="<%= iconic_taxon_image_url(@taxon) %>"/>
  <% else %>
    <meta property="og:image" content="<%= @photos.first.medium_url %>"/>
    <meta property="twitter:image" content="<%= @photos.first.medium_url %>"/>
  <% end -%>
  <meta property="og:url" content="<%= taxon_url(@taxon) %>"/>
  <% if CONFIG.facebook && !CONFIG.facebook.admin_ids.blank? -%>
    <meta property="fb:admins" content="<%= CONFIG.facebook.admin_ids.join(',') %>"/>
  <% end -%>
  <%-
     description = @taxon.wikipedia_summary.blank? ? @taxon.name : @taxon.wikipedia_summary
     og_description = description
     og_description = "#{og_description} (Photo: #{@taxon.default_photo.attribution})" unless @photos.blank?
  -%>
  <meta name="description" content="<%= html_attributize description %>"/>
  <meta property="og:description" content="<%= html_attributize og_description %>"/>

<%- end -%>

<%- content_for(:extracss) do %>
  <%= stylesheet_link_tag 'taxa/show' %>
  <!--[if lte IE 7]>
    <%= stylesheet_link_tag 'observations-ie' %>
    <style type="text/css" media="screen">
      #search_taxa { width: 365px; }
    </style>
  <![endif]-->
<% end -%>

<%- content_for(:extrajs) do %>
  <!--[if lt IE 8]>
  <script src="http://ie7-js.googlecode.com/svn/trunk/lib/IE8.js" type="text/javascript"></script>
  <![endif]-->

  <%= google_maps_js %>
  <%= javascript_include_tag "jquery/plugins/inat/photo_selectors.js",
                             'map_bundle',
                            'jquery/plugins/jqModal',
                            'taxa/show' %>

  <script type="text/javascript" charset="utf-8">
    var TAXON = <%=json_escape @taxon.to_json.html_safe %>,
        ADDITIONAL_RANGES = <%=json_escape @additional_ranges.to_json(:methods => [:kml_url], :include => [:source]).html_safe %>
    $(document).ready(function() {
      <% if (!@taxon.species_or_lower? && @photos.size < 24) || @photos.blank? %>
        $('#photos_loading_status').show()
        $('#photos').load('<%= taxon_photos_path(@taxon) %>', function() {
          $('#modal_image_box').jqmAddTrigger('#photos a.modal_image_link')
        });
      <% end %>

      <% if logged_in? %>
        <% if @taxon.species_or_lower? -%>
          $('#add_to_place_dialog').jqm({
            closeClass: 'close',
            method: 'get',
            ajax: '<%= taxon_path(@taxon) %>/add_places',
            onShow: function(h) {
              h.w.append($('<div class="loading description">'+I18n.t('loading')+'</div>'));
              iNaturalist.modalCenter(h.w)
              h.w.fadeIn(500);
            },
            onLoad: function(h) {
              iNaturalist.modalCenter(h.w)
              $('#place_selector').tabs();
            },
            onHide: function(h) {
              h.w.fadeOut(500,function(){ h.o.remove(); })
            }
          });
        <% end %>
      <% end %>
    })
  </script>
<% end -%>

<div id="pageheader" class="last column span-24">
  <span class="breadcrumbs">
    <%= link_to t(:all_species), taxa_path, :class => 'back crumb' %>
    <% for iconic_taxon in Taxon::ICONIC_TAXA %>
      <%= link_to "&nbsp;".html_safe, iconic_taxon, :class => "iconic_taxon_sprite #{iconic_taxon.name.downcase} #{'selected' if @taxon.iconic_taxon_id == iconic_taxon.id}",
        :title => t("all_taxa.#{Taxon::ICONIC_TAXON_NAMES[iconic_taxon.name].gsub(' ','_').gsub('-','_').downcase}") %>
    <% end %>
  </span>
  <div id="meta" class="right description">
    <% if @taxon.source && @taxon.source_url %>
      <%= t(:source)%>: <%=h link_to truncate(t("source_list.#{(@taxon.source.title).gsub(':','').gsub(' ','_').downcase}", :default => @taxon.source.title), :length => 27), @taxon.source_url %>
    <% elsif @taxon.source && @taxon.source.url %>
      <%= t(:source)%>: <%=h link_to truncate(t("source_list.#{(@taxon.source.title).gsub(':','').gsub(' ','_').downcase}", :default => @taxon.source.title), :length => 27), @taxon.source.url %>
    <% elsif @taxon.source %>
      <%= t :source %>: <%=h link_to truncate(t("source_list.#{(@taxon.source.title).gsub(':','').gsub(' ','_').downcase}", :default => @taxon.source.title), :length => 27), @taxon.source %>
    <% elsif @taxon.creator %>
      <%= t(:added_by) %> <%= link_to h(@taxon.creator.login), @taxon.creator %>
    <% else %>
      <%= t(:source_unknown)%>
    <% end %>

    | <%= link_to t(:permalink), url_for(@taxon), :title => t(:named_based_url_might_change)%>
    <% if logged_in? -%>
      | <%= link_to t(:map), taxon_map_path(@taxon) %>
    <% end -%>
    <% if logged_in? && @taxon.editable_by?( current_user ) %>
      | <strong><%= link_to t(:edit), edit_taxon_path(@taxon) %></strong>
    <% end %>
    <% if @taxon.flagged? %>
      | <span id="flaggings_heads_up" class="description">
      <%= t(:flagged_for_curation) %>
      <%= link_to t(:view_flags), taxon_flags_path(@taxon), :class => 'readmore',
        :title => t(:see_something_wrong_with_taxon) %>
      </span>
    <% else %>
      <% if logged_in? %>
      | <%= link_to t(:flag_for_curation), new_taxon_flag_path(@taxon), :id => "flag_this" %>
      <% end %>
    <% end %>
  </div>

  <div class="clear">
    <span id="search_taxa">
      <%= render :partial => 'search_form', :locals => {:css_class => "clear smallbuttons buttonrow"} %>
    </span>

    <h2>
      <%= render :partial => 'shared/taxon', :locals => { taxon: @taxon, named_ancestor: true, place: @place } %>
    </h2>
  </div>
</div>

<% unless @taxon.is_active %>
  <div class="column span-24">
    <div class="notice">
      <strong><%= t :heads_up %>:</strong> <%= t :this_taxon_concept_is_inactive %>.
      <% if @taxon_change -%>
        <%= t :it %> <%= @taxon_change.committed? ? t(:has_been) : t(:will_be) %>
        <% case @taxon_change.class.to_s when 'TaxonSplit' %>
          <% if @taxon_change.taxon_id == @taxon.id -%>
            <%= t('change_types.split_into') %>
            <%= commas_and @taxon_change.taxa.map {|t| "<i>#{link_to(t.name, t)}</i>"} %>.
          <% else %>
            <%= t('change_types.split_from') %>
            <em><%= link_to @taxon_change.taxon.name, @taxon_change.taxon %></em>.
          <% end -%>
        <% when 'TaxonMerge' %>
          <% if @taxon_change.taxon_id == @taxon.id -%>
            <%= t :replacing %>
            <%= commas_and @taxon_change.taxa.map {|t| "<i>#{link_to(t.name, t)}</i>"} %>.
          <% else %>
            <%= t('change_types.merged_into') %>
            <em><%= link_to @taxon_change.taxon.name, @taxon_change.taxon %></em>.
          <% end -%>
        <% when 'TaxonDrop' %>
          <%= t('change_types.dropped') %>.
        <% when 'TaxonSwap' %>
          <% if @taxon_change.taxon_id == @taxon.id -%>
            <%= t :replacing %>
            <% if @taxon_change.old_taxon -%>
              <em><%= link_to @taxon_change.old_taxon.name, @taxon_change.old_taxon %></em>.
            <% else %>
              <span class="meta">[<%=t :deleted_taxon %>]</span>.
            <% end -%>
          <% else %>
            <%= t('change_types.replaced_by') %>
            <em><%= link_to @taxon_change.taxon.try(:name), @taxon_change.taxon %></em>.
          <% end -%>
        <% when 'TaxonStage' %>
          <%= t('change_types.activated_soon') %>.
        <% end -%>
        <%= link_to t(:view_taxonomic_changes), taxon_changes_path(:taxon_id => @taxon), :class => "readmore" -%>
      <% end -%>
    </div>
  </div>
<% end %>

<% if @conservation_status || @listed_taxon -%>
  <div class="column span-24 unstacked">
    <% if @conservation_status %>
      <div class="column span-<%= @listed_taxon ? 12 : 24 %>">
        <%= render 'conservation_status', :hide_prefix => true %>
      </div>
    <% end %>

    <% if @listed_taxon -%>
      <%-
        css_class = "clear box"
        css_class += " #{@listed_taxon.establishment_means.parameterize.underscore}" unless @listed_taxon.establishment_means.blank?
        css_class += @listed_taxon.introduced? ? ' introduced' : ' native'
      -%>
      <div class="column span-<%= @conservation_status ? '12 last' : 24 %>">
        <div id="listed_taxon_blurb" class="<%= css_class %>">
          <% if (stats = @listed_taxon.observation_month_stats) && !stats.blank? -%>
            <div class="ministats monthstats right" data-tip="#listed_taxon_blurb .monthstatstip" data-tip-position-at="bottom center" data-tip-hide-delay="300">
              <%= month_graph(stats) %>
            </div>
            <div class="monthstats monthstatstip" style="display:none">
              <div class="ui description">
                <strong><%= @listed_taxon.observations_count %></strong>
                <%=raw t(@listed_taxon.observations_count == 1 ? 'observation' : 'observations').downcase -%>
                <%=t :in %>
                <%= t @listed_taxon.place.name, :default => @listed_taxon.place.name %>,
                <strong class="count"><%= @listed_taxon.confirmed_observations_count %></strong>
                <%=raw t(:research_grade).downcase %>
              </div>
              <%- obs_url_params = {
                :controller => "observations",
                :action => "index",
                :place_id => @listed_taxon.place_id,
                :taxon_id => @taxon.id}
              -%>
              <div class="observedgraph" style="margin-bottom:40px">
                <%= month_graph @listed_taxon.observation_month_stats,
                  :link => obs_url_params %>
              </div>
              <div class="confirmedgraph">
                <%= month_graph @listed_taxon.confirmed_observation_month_stats,
                  :link => obs_url_params.merge(:quality_grade => 'research'),
                  :max => @listed_taxon.observation_month_stats.values.max %>
              </div>
            </div>
          <% end -%>
          <%= establishment_blob(@listed_taxon, :class => "inlineblock") if @listed_taxon.endemic? || @listed_taxon.introduced? %>
          <strong>
            <% if @listed_taxon.establishment_means.blank? -%>
              <%= t(:present).capitalize %>
            <% else %>
              <%= t("establishment.#{@listed_taxon.establishment_means}", :default => t(:present)).capitalize %>
            <% end -%>
          </strong>

          <%- if @listed_taxon.native? %>
            <%= t(:to_).downcase %>
          <%- elsif @listed_taxon.introduced? %>
            <%= t(:in).downcase %>
          <%- else %>
            <%= t(:in_).downcase %>
          <%- end %>
          <%= link_to t(@listed_taxon.place.name, :default => @listed_taxon.place.display_name), @listed_taxon.place %>
          <span class="small">
            (<%= link_to t(:view_details), @listed_taxon %>)
          </span>
        </div>
      </div>
    <% end -%>
  </div>
<% end -%>

<div class="column span-4 aka">
  <h3>
    <%= t(:classification) %>
    <div class="description"><%=t :within_inaturalist, :site_name => SITE_NAME %></div>
  </h3>

  <%= render :partial => 'classification_list' %>

  <div id="all_names">
    <h3><%= t(:all_names) %></h3>
    <%= render 'names' %>
    <% if logged_in? -%>
      <%= link_to t(:add_a_name), new_taxon_taxon_name_path(@taxon), :class => 'readmore' %>
      <%= link_to t(:manage_names), names_taxon_path(@taxon), :class => 'readmore' %>
    <% end -%>
  </div>

  <% if @taxon.species_or_lower? -%>
    <div id="colors" class="clear">
      <h3>
        <%=t :guide_colors %>
        <% if logged_in? -%>
          <% helptip_for :colors do %>
            <%= t :color_categories_for_this_species %>
          <% end -%>
        <% end -%>
      </h3>
      <% if @colors.blank?-%>
        <div class="description">
          <%= t(:no_colors_selected) %>.
        </div>
      <% end -%>
      <div id="colorboxen">
        <% for color in @colors %>
          <%= link_to "&nbsp;".html_safe, {:controller => "taxa", :action => "search", :colors => color.id},
            :class => "color", :style => "background-color: #{color.value}", :title => color.value,
            :rel => "nofollow" %>
        <% end %>
      </div>
      <% if logged_in? -%>
        <div id="edit_colors">
          <%= link_to_toggle t(:edit_colors), "#edit_colors_dialog" %>
          <div id="edit_colors_dialog" style="display: none">
            <%= form_for @taxon, :method => :put,
                :url => {:action => 'update_colors', :id => @taxon, :format => 'json'},
                :remote => true do |f| %>
              <% for color in Color.all %>
                <div class="color_field <%= color.value %>">
                  <%= check_box_tag "taxon[color_ids][]", color.id,
                    @taxon.color_ids.include?(color.id),
                    :id => "color_ids_#{color.value}",
                    :class => 'checkbox',
                    :alt => color.value %>
                  <%= label :color_ids, t(color.value) %>
                </div>
              <% end %>
              <%= hidden_field_tag "taxon[color_ids][]", '' %>
              <div class="buttonrow">
                <%= f.submit t(:save_colors), :class => 'button', :style => 'margin: 0.5em auto' %>
                <div class="inter loading status" style="display: none; clear: left"><%= t(:saving) %></div>
              </div>
            <% end %>
          </div>
        </div>
      <% end -%>
    </div>
  <% end -%>

  <% if @taxon.species_or_lower? -%>
    <div id="places" class="clear">
      <h3>
        <%= t(:places) %>
        <% if @check_listed_taxa.total_entries > @check_listed_taxa.size -%>
          <span class="small description"><%= @check_listed_taxa.size %> <%= t :of %> <%= @check_listed_taxa.total_entries %></span>
        <% end -%>
      </h3>

      <% if @us_states -%>
        <span class="description"><%=t(:US_states)%>:</span>
        <%= google_charts_map_for_places(@us_states, {:chs => '150x75'}) %>
      <% elsif !@countries.blank? %>
        <span class="description"><%= t(:countries)%>:</span>
        <%= google_charts_map_for_places(@countries, {:chs => '150x75'}) %>
      <% end -%>

      <% if @check_listed_taxa.blank? -%>
        <% unless logged_in? %><div class="description"><%= t(:no_places_selected)%></div><% end %>
      <% else %>
        <ul id="places_list">
          <% for lt in @sorted_check_listed_taxa %>
            <% next if lt.place.blank? -%>
            <li>
              <%= link_to t(lt.place.display_name, :default => lt.place.display_name), lt.place,
                :class => ( "absent" if lt.is_absent? ) %>
              <% if logged_in? && lt.editable_by?(current_user) -%>
                <%= link_to(t(:edit), lt, :class => "small description editlink") %>
              <% end -%>

              <% if lt.introduced? -%>
                <div class="small description"><%= lt.establishment_means %></div>
              <% end -%>
            </li>
          <% end %>
        </ul>
      <% end -%>

      <% if logged_in? -%>
        <% if @places.blank? -%>
          <div class="notice">
            <%= t(:do_you_know_where_this_species_lives) %>
            <strong><%= link_to_function t(:add_it_to_place_raquo).html_safe, "$('#add_to_place_dialog').jqmShow()" %></strong>
          </div>
        <% else %>
          <strong><%= link_to_function t(:add_a_place_raquo).html_safe, "$('#add_to_place_dialog').jqmShow()" %></strong>
        <% end -%>
        <div id="add_to_place_dialog" class="modalbox dialog" style="display:none"></div>
      <% end -%>
    </div>
  <% end %>

  <div id="extras">
    <h3><%= t(:extras) %></h3>

    <p class="ui">
      <%= link_to t(:taxonomic_changes_raquo_html), taxon_changes_path(:taxon_id => @taxon),
        "data-tip" => "View the history of this taxon on #{CONFIG.site_name_short}, e.g. splits, merges, etc." %>
    </p>

    <p class="ui">
      <%= link_to t(:taxon_schemes_raquo_html), schemes_for_taxon_path(@taxon),
        "data-tip" => "Schemes are sets of taxa recognized by different authorities." %>
    </p>

    <p class="ui">
      <%= link_to t(:make_taxonomic_flickr_tags_for_taxon_raquo).html_safe,
        flickr_tagger_path(:taxon_id => @taxon.id) %>
    </p>

    <p class="ui">
      <%= link_to raw("#{t(:invite_photos_from_other_sites)} &raquo;"), photo_inviter_url(taxon_id: @taxon.id) %>
    </p>

    <p class="ui">
      <%= link_to t(:wikipedia_taxobox_raquo).html_safe, "#", :onclick => "return false;", :id => "taxoboxlink" %>
      <%- taxobox_content = capture do -%>
        <pre><%= render(:partial => 'wikipedia_taxobox', :object => @taxon).strip %></pre>
        <%= link_to t(:about_the_taxobox_raquo).html_safe, "http://en.wikipedia.org/wiki/Template:Taxobox" %>
      <%- end -%>
      <script type="text/javascript" charset="utf-8">
        $('#taxoboxlink').qtip($.extend(true, {}, QTIP_DEFAULTS, {
          show: {event: 'click'},
          hide: {event: 'unfocus'},
          content: "<%= escape_javascript(taxobox_content) %>"
        }));
      </script>
    </p>

    <p class="ui">
      <%= link_to t(:search_descendant_taxa_raquo).html_safe,
        {:controller => "taxa", :action => "search", :taxon_id => @taxon, :view => TaxaController::LIST_VIEW},
        :rel => "nofollow" %>
    </p>

    <p class="ui">
      <%= link_to t(:embed_a_widget_for_this_taxon_on_website).html_safe, observations_widget_path(:taxon_id => @taxon),
        :rel => "nofollow" %>
    </p>

    <% if logged_in? -%>
      <p class="ui">
        <%= render :partial => 'subscriptions/subscription', :locals => {:resource => @taxon } %>
      </p>
    <% end -%>

  </div>

  <% if @taxon.editable_by?( current_user ) -%>
    <div id="curation" class="quiet box">
      <h3><%= t(:curation) %></h3>
      <ul>
        <li><%= link_to t(:edit), edit_taxon_path(@taxon) %></li>
        <li><%= link_to t(:merge), merge_taxon_path(@taxon) %></li>
      </ul>
      <% if @taxon.locked? -%>
        <div class="notice">
          <%= t(:heads_up_this_taxon_locked_users_cant_add_descendants).html_safe %>
        </div>
      <% end -%>
    </div>
  <% end -%>
</div>

<div id="rightcol" class="last column span-20">
  <div id="photoscol" class="column span-13">
    <% if logged_in? && @taxon.species_or_lower? && @photos.empty? %>
      <div class="notice">
        <%= t(:this_taxon_has_no_default_photo) %>
        <%= link_to_function(t(:add_one), "$('#edit_photos_dialog').dialog('open')", :class => 'readmore') %>
      </div>
    <% end %>
    <div id="photos">
      <%= render :partial => "photos", :locals => { :photos => @photos } %>
      <div id="photos_loading_status" class="loading status" style="display:none"><%= t(:loading_more_photos) %></div>
    </div>

    <% if logged_in? %>
      <%= link_to_function(t(:edit_photos), "$('#edit_photos_dialog').dialog('open')", :class => 'readmore') %>
      <div id="edit_photos_dialog" class="dialog" style="display: none"></div>
    <% end %>
  </div>

  <div id="obscol" class="column span-7 last">
    <div id="actions" class="clear">
      <div id="toplinks">
        <% if logged_in? -%>
          <%= link_to_toggle t(:add_to_list), '#add_to_list' %> |
        <% end -%>
        <%= link_to( t(:add_an_observation), new_observation_path(:taxon_id => @taxon),
          :class => 'readmore', :rel => 'nofollow') %>
      </div>

      <% if logged_in? -%>
        <ul id="add_to_list" class="clear<%= ' lots' if @current_user_lists.size > 5 %>" style="display: none">
          <% for list in @current_user_lists %>
            <% if @lists_rejecting_taxon.include?(list) -%>
              <li class="clear description">
                "<%= link_to truncate(h(list.title), :length => 35), list %>"
                <%= t(:only_accepts_taxa) %>
                <%= list.rules.map(&:terms).join(', ') %>
              </li>
            <% else %>
              <%= render :partial => 'lists/list_selector_row', :locals => {
                :list => list,
                :taxon_id => @taxon.id,
                :listed_taxon => @listed_taxa_by_list_id[list.id],
                :last => list == @current_user_lists.last
              } %>
            <% end -%>
          <% end %>
        </ul>
      <% end -%>
    </div>


    <div id="taxon_observations" class="stacked">
      <% if @observations.blank? -%>
        <h3><%= t(:recent_observations) %></h3>
        <div id="noobservations" class="clear">
          <div class="readable description">
            <%= t(:no_ones_observed) %>
            <%= render(:partial => 'shared/taxon', :locals => {
              :taxon => @taxon,
              :include_article => true
            }) -%>.
          </div>
        </div>
      <% else %>
        <h3>
          <div class="compact observationcontrols right" style="margin-top: 6px;"></div>
          <%=t :recent_observations %>
        </h3>
        <div id="observations" class="medium observations stacked" data-map-height="this">
          <%= compact render(:partial => "observations/cached_component", :collection => @observations) %>
        </div>
      <% end -%>

      <% if logged_in? -%>
        <%= link_to t(:view_all_observations), observations_path(:taxon_id => @taxon.id), :class => 'readmore', :rel => "nofollow" %>
        <br/>
        <%= link_to t(:view_your_observations), observations_by_login_path(current_user.login, :taxon_id => @taxon.id), :class => 'readmore' %>
      <% else %>
        <%= link_to  t(:view_all_observations), observations_path(:taxon_id => @taxon.id), :class => 'readmore', :rel => "nofollow" %>
      <% end -%>
    </div>

    <div id="fblike" class="stacked">
      <script src="//connect.facebook.net/<%= t(:fblocale) %>/all.js#xfbml=1"></script>
      <fb:like send="true" show_faces="true" width="270" layout="button_count"></fb:like>
    </div>
  <div><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="inaturalist">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
  </div>

  <div class="last column span-20">
    <div id="taxon_links" class="right tabs">
      <ul>
        <li class="description"><%= t(:more_info) %></li>
        <% for taxon_link in @taxon_links[0..3] %>
          <li class="taxon_link">
            <%= link_to taxon_link.short_title.blank? ? taxon_link.site_title : taxon_link.short_title, taxon_link.url_for_taxon(@taxon) -%>
            <%- if logged_in? -%>
              <span class="controls">
                <%= link_to image_tag('silk/pencil_grey.png'), edit_taxon_link_path(taxon_link), :title => t(:edit_this_link) %>
              </span>
            <%- end -%>
          </li>
        <% end %>
        <% if @taxon_links.size > 4 -%>
          <li style="padding: 0; border: 0;">
            <% link_to_toggle_menu t(:more) do %>
              <ul>
                <%- @taxon_links[4..-1].each do |taxon_link| -%>
                  <li class="taxon_link">
                    <%= link_to taxon_link.short_title.blank? ? taxon_link.site_title : taxon_link.short_title, taxon_link.url_for_taxon(@taxon) -%>
                    <%- if logged_in? -%>
                      <span class="controls">
                        <%= link_to image_tag('silk/pencil_grey.png'), edit_taxon_link_path(taxon_link), :title => t(:edit_this_link) %>
                      </span>
                    <%- end -%>
                  </li>
                <%- end -%>
              </ul>
            <% end %>
          </li>
        <% end %>
        <% if logged_in? -%>
          <li class="description" style="padding-right: 0">
            <%= link_to t(:add_a_link_raquo).html_safe, new_taxon_link_path(:taxon_id => @taxon.id) %>
          </li>
        <% end -%>
      </ul>
    </div>
    <div id="tabs">
      <ul>
        <li><a href="#description"><span><%= t(:description) %></span></a></li>
        <li><a href="#taxon_range"><span><%= t(:map) %></span></a></li>
      </ul>

      <div id="description" class="last column span-20">
        <%= render :partial => 'taxa/description' %>

        <% unless @conservation_statuses.blank? -%>
          <%= separator %>
          <div id="conservation_statuses">
            <h3><%= t(:conservation_summary) %></h3>
            <%- global_statuses = @conservation_statuses.select{|cs| cs.place_id.blank?} -%>
            <% unless global_statuses.blank? -%>
              <ul>
                <li>
                  <strong><%= t(:globally).capitalize %></strong>
                  <dl>
                    <% for cs in global_statuses %>
                        <dt>
                          <%= render 'conservation_status', :conservation_status => cs, :no_box => true, :hide_prefix => true, :hide_place => true, :description => true %>
                        </dt>
                        <dd class="ui">
                          <%= cs.description unless cs.description.blank? %>
                        </dd>
                    <% end %>
                  </dl>
                </li>
              </ul>
            <% end -%>
            <%= nested_place_list @conservation_statuses do |place| %>
              <%= link_to place.display_name, place %>
              <dl>
                <% for cs in @conservation_statuses.select{|cs| cs.place_id == place.id} %>
                  <dt>
                    <%= render 'conservation_status', :conservation_status => cs, :no_box => true, :hide_prefix => true, :hide_place => true, :description => true %>
                  </dt>
                  <dd class="ui">
                    <%= cs.description unless cs.description.blank? %>
                  </dd>
                <% end %>
              </dl>
            <% end -%>
          </div>
        <% end -%>
      </div>

      <%= render partial: 'show_map' %>
    </div>
  </div>

</div><!-- end #rightcol -->

<% if logged_in? %>
  <div class="last column span-24">
    <%= form_tag join_test_user_path( current_user, test: "taxon-page" ),
        method: "put",
        class: "clear quiet box centered buttonrow smallbuttons" do %>
      <span class="inter">Want to test out a new version of the taxon page?</span>
      <%= submit_tag "Try it out", class: "button" %>
    <% end %>
  </div>
<% end %>

