<% content_for(:title) do %>
Taxa &middot; <%= render :partial => "taxa/taxon.txt.erb", 
                     :locals => { :taxon => @taxon } %>
<% end -%>

<%- content_for(:extracss) do %>
<%= stylesheet_link_tag 'taxa/show', 'observations' %>
<style type="text/css" media="screen">
  #noobservations .readable.description {
    margin-bottom: 0.5em;
  }
  
  #noobservations .button {
    width: auto;
    float: none;
    margin: 0 auto;
  }
  
  .edit_taxon_photos .taxon_photos {
    margin-bottom: 1em;
  }
  
  #photos .photos_wrapper a {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
  }
  
  #photos .photos_wrapper a.last {
    margin-right: 0;
  }
  
  #extras {
    margin-top: 1em;
  }
  
  #add_to_list {
    list-style: none;
    margin: 0;
  }
  
  #add_to_list.lots {
    max-height: 175px;
    overflow: auto;
  }
  
  #add_to_list li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  
  #add_to_list li.last {
    padding: 0;
    border: 0 none;
  }
  
  #add_to_list .controls {
    float: right;
  }
  
  #add_to_list .action {
    font-weight: bold;
  }
  
  #add_to_list .added a,
  #add_to_list li.description a {
    color: #888;
  }
  
  #add_to_list .added a:hover,
  #add_to_list li.description a:hover {
    color: black;
  }
  
  #actions {
    background-color: #eee;
    margin-bottom: 10px;
  }
  
  #actions #toplinks {
    padding: 10px;
    color: #888;
  }
  
  #add_to_list {
    padding: 0 10px 10px 10px;
  }
  
  #taxon_links.tabs li {
    padding: 4px 15px 4px 10px;
    border: 1px solid transparent;
    position: relative;
  }
  
  .taxon_link .controls {
    display: none;
  }
  
  .taxon_link .controls img {
    width: 12px;
  }
  
  #taxon_links.tabs li.taxon_link:hover .controls {
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
  }
  
  #taxon_links.tabs li#more_taxon_links_wrapper {
    position: relative;
    padding: 0;
    border: 0 none;
  }
  
  #more_taxon_links_button {
    display: block;
    border: 1px solid transparent;
    padding: 4px 10px 4px 16px;
  }
    
  #more_taxon_links_button.open {
    position: relative;
    z-index: 10;
    border-color: #ccc;
    border-bottom: 1px solid white;
    background-position: 3px 50%;
  }
  
  #more_taxon_links {
    position: absolute;
    z-index: 1;
    top: 27px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0.5em;
    -webkit-box-shadow: 3px 3px 5px #999;
  }
  
  #all_names {
    margin-bottom: 1em;
  }
  
  .aka h3 {
    margin-bottom: 0.5em;
  }
  
  #colors .color {
    float: left; margin: 0 5px 5px 0; width: 16px; height: 16px;
    border: 1px solid #ccc;
  }
  
  #edit_colors {
    clear:both;
  }
  
  #edit_colors .color_field {
    float: left;
    margin-right: 10px;
    width: 60px;
    padding: 2px;
  }
  
  #edit_colors .color_field input.checkbox {
    margin: 0;
  }
  
  #edit_colors .black  { color: lightgrey;  background-color: black;}
  #edit_colors .white  { color: grey;       background-color: white;}
  #edit_colors .red    { color: lightpink;  background-color: red;}
  #edit_colors .green  { color: lightgreen; background-color: green;}
  #edit_colors .blue   { color: lightblue;  background-color: blue;}
  #edit_colors .purple { color: violet;     background-color: purple;}
  #edit_colors .yellow { color: goldenrod;  background-color: yellow;}
  #edit_colors .grey   { color: lightgrey;  background-color: grey;}
  #edit_colors .orange { color: chocolate;  background-color: orange;}
  #edit_colors .brown  { color: peru;       background-color: saddlebrown;}
  #edit_colors .pink   { color: deeppink;   background-color: pink;}
  
</style>

<!--[if lte IE 7]>
  <%= stylesheet_link_tag 'observations-ie' %>
  <style type="text/css" media="screen">
    #search_taxa {
      width: 365px;
    }
  </style>
<![endif]-->
<% end -%>

<%- content_for(:extrajs) do %>
  <!--[if lt IE 8]>
  <script src="http://ie7-js.googlecode.com/svn/trunk/lib/IE8.js" type="text/javascript"></script>
  <![endif]-->
  
  <%= javascript_include_tag 'jquery/plugins/jqModal',
                             'modal_image',
                             "jquery/plugins/inat/photo_selectors.js" %>
  
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#photos').load('<%= taxon_photos_path(@taxon) %>', {
        authenticity_token: encodeURIComponent(<%= form_authenticity_token.inspect %>)
      }, function() {
        $('#modal_image_box').jqmAddTrigger('#photos a.modal_image_link');
      });
      $.ajax({
        url: '<%= formatted_observations_path(:html) %>',
        method: 'get',
        data: {
          partial: 'cached_component',
          taxon_id: <%= @taxon.id %>,
          per_page: 3
        },
        success: function(data, status) {
          $('#observations').html(data);
        },
        error: function(request, status, error) {
          $('#noobservations').show();
          $('#observations .loading').hide();
        }
      });
      
      <% if @taxon.auto_description? %>
        $.ajax({
          url: '<%= describe_taxon_path(@taxon) %>',
          method: 'get',
          success: function(data, status) {
            $('#wikipedia_description').html(data);
          },
          error: function(request, status, error) {
            $('#nodescription').show();
            $('#wikipedia_description .loading').hide();
          }
        });
      <% end %>
      
      // Set up photo modal dialog
      <% if logged_in? %>
      $('#edit_photos_dialog').jqm({
        closeClass: 'close', 
        ajax: '<%= taxon_path(@taxon) %>/edit_photos',
        onShow: function(h) {
          h.w.append($('<div class="loading description">Loading...</div>'));
          h.w.fadeIn(500);
        },
        onHide: function(h) {
          h.w.fadeOut(500,function(){ h.o.remove(); })
        },
        onLoad: function(h) {
          $(h.w).find('.taxon_photos').photoSelector({
            defaultQuery: '<%= @taxon.name %>',
            urlParams: {
              authenticity_token: encodeURIComponent(<%= form_authenticity_token.inspect %>),
              limit: 15
            }
          });
        }
      });
      <% end %>
    });
  </script>
<% end -%>

<div id="pageheader" class="last column span-24">
  <div id="search_taxa">
    <span class="breadcrumbs">&nbsp;</span>
    <%= render :partial => 'search_form' %>
  </div>
  <span class="breadcrumbs">
    <%= link_to 'Back to All Species', 
                taxa_path,
                :class => 'back crumb' %>
  </span>
  <h2>
    <%= render :partial => 'shared/taxon', :locals => { :taxon => @taxon } %>
  </h2>
  <span class="description">
    <% if @taxon.source_url %>
      Source: <%= link_to @taxon.source.title, @taxon.source_url %>
    <% elsif @taxon.source %>
      Source: <%= @taxon.source.title %>
    <% else %>
      Source: unknown
    <% end %>
  </span>
  <% if logged_in? and @user.is_curator? %>
  |
  <span class="description">
    <%= link_to "Edit this taxon", edit_taxon_path(@taxon) %>
  </span>
  <% end %>
  <% if @taxon.flagged? %>
  |
  <span id="flaggings_heads_up" class="description">
    HEADS UP: this taxon has been flagged for curation.
    <%= link_to "View flags", taxon_flags_path(@taxon) %>
  </span>
  <% else %>
    <% if logged_in? %>
    |
    <span class="description">
      See something wrong?  
      <%= link_to "Flag this for curation", new_taxon_flag_path(@taxon),
                  :id => "flag_this" %>
    </span>
    <% end %>
  <% end %>
</div>

<div class="column span-4 aka">
  <h3>
    Classification
    <div class="description">within iNaturalist</div>
  </h3>
  <ul class="taxonomic_tree leafylist">
    <li>
      <%= link_to "Life", taxa_path %>
    </li>
    <% unless @taxon.grafted? -%>
    <li class="unknown">
      <span class="description">
        Still working on classifying this taxon.  Check back later<br/>
        &hellip;
      </span>
    </li>
    <%- else -%>
    <% for ancestor in @taxon.ancestors[1..-1] %>
    <li class="<%= ancestor.iconic_taxon.name.downcase if ancestor.iconic_taxon %>">
      <a href="<%= taxon_path(ancestor) %>">
        <%= render :partial => 'shared/taxon', 
                   :locals => { 
                     :taxon => ancestor, :include_parens => false } %>
      </a>
    </li>
    <% end %>
    <%- end -%>
    <li class="<%= @taxon.iconic_taxon.name.downcase if @taxon.iconic_taxon %>">
      <%= render :partial => 'shared/taxon', 
                 :locals => { :taxon => @taxon, :include_parens => false } %>
      <ul>
        <% for child in @taxon.children %>
        <li class="<%= child.iconic_taxon.name.downcase if child.iconic_taxon %>">
          <a href="<%= taxon_path(child) %>">
            <%= render :partial => 'shared/taxon', 
                       :locals => {
                         :taxon => child, :include_parens => false } %>
          </a>
        </li>
        <% end %>
      </ul>
    </li>
  </ul>
  
  <div id="all_names">
    <h3>All Names</h3>
    <% for taxon_name in @taxon.taxon_names %>
    <%= render :partial => 'shared/taxon_name', 
               :locals => { :taxon_name => taxon_name } %>
    <% end %>
  </div>
  
  <% if @taxon.species_or_lower? -%>
    <div id="colors" class="clear">
      <h3>Colors</h3>
      <% if @taxon.colors.blank?-%>
        <% if logged_in? -%>
          <div class="notice">
            This species has no colors! Help improve species searches by telling
            us what color this is!
          </div>
        <% else -%>
          <div class="description">
            No colors selected.
          </div>
        <% end -%>
      <% end -%>
      <div id="colorboxen">
        <% for color in @taxon.colors %>
          <div class="color" style="background-color: <%= color.value %>;" title="<%= color.value %>">
            &nbsp;
          </div>
        <% end %>
      </div>
      <% if logged_in? -%>
        <div id="edit_colors">
          <%= link_to_toggle "edit colors", "#edit_colors_dialog" %>
          <div id="edit_colors_dialog" style="display: none">
            <% remote_form_for @taxon, 
                :url => {:action => 'update_colors', :id => @taxon, :format => 'js'},
                :datatype => 'text',
                :loading => 
                  "$('#edit_colors .button').hide();" +
                  "$('#edit_colors .loading').show()",
                :complete => 
                 "$('#edit_colors .button').show();" +
                 "$('#edit_colors .loading').hide();",
                :success => 
                  "$('#colorboxen .color').remove();" +
                  "$('#colors .notice').remove();" +
                  "$('#colors .description').remove();" +
                  "$('#edit_colors input:checked').each(function() {" +
                    "$('#colorboxen').append(" +
                      "$('<div>&nbsp;</div>').css({" +
                        "'background-color': $(this).attr('alt')" +
                      "}).addClass('color').attr('title', $(this).attr('alt'))" +
                    ");" +
                  "});" do |f| %>
              <%#= f.collection_select :color_ids, Color.all, :id, :value, {:include_blank => true}, :multiple => true %>
              <% for color in Color.all %>
                <div class="color_field <%= color.value %>">
                  <%= check_box_tag "taxon[color_ids][]", color.id, 
                    @taxon.color_ids.include?(color.id), 
                    :id => "color_ids_#{color.value}",
                    :class => 'checkbox',
                    :alt => color.value %>
                  <%= label :color_ids, color.value %>
                </div>
              <% end %>
              <%= hidden_field_tag "taxon[color_ids][]", '' %>
              <div class="buttonrow">
                <%= f.submit "Save Colors", :class => 'button', :style => 'margin: 0.5em auto' %>
                <div class="inter loading status" style="display: none; clear: left">Saving...</div>
              </div>
            <% end %>
          </div>
          <% if @taxon.colors.blank? -%>
            <script type="text/javascript" charset="utf-8">
              $('#edit_colors_dialog').prev('.togglelink').click();
            </script>
          <% end -%>
        </div>
      <% end -%>
    </div>
  <% end -%>
  
  <div id="extras">
    <%= link_to "Make taxonomic Flickr tags for this taxon &raquo;", 
      flickr_tagger_path(:taxon_id => @taxon.id) %>
  </div>
</div>

<div id="rightcol" class="last column span-20">
  <div id="photoscol" class="column span-13">
    <% if logged_in? && @taxon.species_or_lower? && @taxon.flickr_photos.empty? %>
      <div class="notice">
        This taxon has no default photo!
        <%= link_to_function("Add one", "$('#edit_photos_dialog').jqmShow()", :class => 'readmore') %>
      </div>
    <% end %>
    <div id="photos">
      <div id="photos_status" class="loading status">Loading photos...</div>
    </div>
    
    <% if logged_in? %>
      <div>
        <%= link_to_function("Edit photos", "$('#edit_photos_dialog').jqmShow()", :class => 'readmore') %>
      </div>
      <div id="edit_photos_dialog" class="modalbox dialog" style="display: none"></div>
    <% end %>
  </div>

  <div id="obscol" class="column span-7 last">
    <div id="actions" class="clear">
      <div id="toplinks">
        <% if logged_in? -%>
          <%= link_to_toggle "Add to list", '#add_to_list' %> |
        <% end -%>
        <%= link_to("Add an observation", new_observation_path(:taxon_id => @taxon), 
          :class => 'readmore', :rel => 'nofollow') %>
      </div>
      
      <% if logged_in? -%>
        <ul id="add_to_list" class="clear<%= ' lots' if @current_user_lists.size > 5 %>" style="display: none">
          <% for list in @current_user_lists %>
            <% if @lists_rejecting_taxon.include?(list) -%>
              <li class="clear description">
                "<%= link_to truncate(h(list.title), 35), list %>"
                only accepts taxa
                <%= list.rules.map(&:terms).join(', ') %>
              </li>
            <% else %>
              <%= render :partial => 'lists/list_selector_row', :locals => {
                :list => list,
                :taxon_id => @taxon.id,
                :listed_taxon => @listed_taxa_by_list_id[list.id],
                :last => list == @current_user_lists.last
              } %>
            <% end -%>
          <% end %>
        </ul>
      <% end -%>
    </div>
    
    <div id="taxon_observations">
      <h3>Recent Observations</h3>
      <div id="observations" class="table observations">
        <div id="observations_status" class="loading status">
          Loading recent observations...
        </div>
      </div>
      <div id="noobservations" class="clear" style="display: none">
        <div class="readable description">
          No one's observed
          <%= render(:partial => 'shared/taxon', :locals => {
            :taxon => @taxon,
            :include_article => true
          }) -%>.
        </div>
      </div>

      <a href="<%= observations_path(:taxon_id => @taxon.id) %>" style="font-weight: bold">
        View all observations of
        <%= render :partial => 'shared/taxon', 
                   :locals => { :taxon => @taxon } -%>
        &raquo;
      </a>
    </div>
  </div>

  <div class="last column span-20">
    <div class="column-separator">
      <img src="/images/logo-eee-15px.png">
    </div>
  </div>
  
  <div id="description" class="last column span-20">
    <div id="taxon_links" class="right tabs">
      <ul>
        <li class="description">More info:</li>
        <% for taxon_link in @taxon_links[0..3] %>
          <li class="taxon_link">
            <%= link_to taxon_link.site_title, taxon_link.url_for_taxon(@taxon) -%>
            <%- if logged_in? -%>
              <span class="controls">
                <%= link_to image_tag('silk/pencil_grey.png'), edit_taxon_link_path(taxon_link), :title => "Edit this link" %>
              </span>
            <%- end -%>
          </li>
        <% end %>
        <% if @taxon_links.size > 4 -%>
          <li id="more_taxon_links_wrapper">
            <%= link_to_function "More", 
              "$('#more_taxon_links').toggle(); " + 
              "$(this).toggleClass('open'); " + 
              "$('#more_taxon_links_wrapper').toggleClass('open')",
              :id => 'more_taxon_links_button',
              :class => 'togglelink' %>
            <ul id="more_taxon_links" style="display: none">
              <%- @taxon_links[4..-1].each do |taxon_link| -%>
                <li class="taxon_link">
                  <%= link_to taxon_link.site_title, taxon_link.url_for_taxon(@taxon) -%>
                  <%- if logged_in? -%>
                    <span class="controls">
                      <%= link_to image_tag('silk/pencil_grey.png'), edit_taxon_link_path(taxon_link), :title => "Edit this link" %>
                    </span>
                  <%- end -%>
                </li>
              <%- end -%>
            </ul>
          </li>
        <% end %>
        <% if logged_in? -%>
          <li class="description" style="padding-right: 0">
            <%= link_to "Add a link &raquo;", new_taxon_link_path(:taxon_id => @taxon.id) %>
          </li>
        <% end -%>
      </ul>
    </div>
    <h3>
      Description
      <span class="description">(from
        <a href="http://en.wikipedia.org/wiki/<%= @taxon.name %>">Wikipedia</a>)
      </span>
    </h3>
    <% unless @taxon.auto_description? %>
    <h3 class="description">
      Automatic descriptions have been disabled for this taxon.
    </h3>
    <% else %>
      <div id="wikipedia_description">
        <div class="loading status">Loading description...</div>
      </div>
      <div id="nodescription" style="display: none">
        <h3 class='description'>There isn't a Wikipedia article or 
        redirect titled '<i><%= @taxon.name %></i>'.  Perhaps you'd like to
        <a href='http://en.wikipedia.org/wiki/<%= @taxon.name %>'>
        make one</a>?</h3>
      </div>
    <% end %>
  </div>
</div><!-- end #rightcol -->
