<% content_for(:title) do %>
<%= render :partial => "taxa/taxon.txt.erb", :locals => { :taxon => @taxon } %>
<% end -%>

<%- content_for(:extrahead) do -%>
  <meta property="og:title" content="<%= @taxon.to_plain_s(:verb => true, :no_time => true) %>"/> 
  <% if @photos.blank? -%>
    <meta property="og:image" content="<%= iconic_taxon_image_url(@taxon) %>"/> 
  <% else %>
    <meta property="og:image" content="<%= @photos.first.small_url %>"/> 
  <% end -%>
  <meta property="og:url" content="<%= taxon_url(@taxon) %>"/> 
  <meta property="og:site_name" content="iNaturalist"/> 
  <meta property="fb:admins" content="611249211,800415373"/>
  <meta property="fb:app_id" content="26558815027" />
	<%-
	   description = @taxon.wikipedia_summary.blank? ? @taxon.name : @taxon.wikipedia_summary
	   og_description = description
	   og_description = "(Photo: #{@photos.first.attribution}) #{og_description}" unless @photos.blank?
	-%>
	<meta name="description" content="<%= html_attributize description %>"/>
	<meta property="og:description" content="<%= html_attributize og_description %>"/>
	
<%- end -%>

<%- content_for(:extracss) do %>
<%= stylesheet_link_tag 'taxa/show' %>
<style type="text/css" media="screen">
  #noobservations .readable.description {
    margin-bottom: 0.5em;
  }
  
  #noobservations .button {
    width: auto;
    float: none;
    margin: 0 auto;
  }
  
  .edit_taxon_photos .taxon_photos {
    margin-bottom: 1em;
  }
  
  #photos .photos_wrapper a {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
  }
  #photos img {max-width: 500px;}
  
  #photos .photos_wrapper a.last {
    margin-right: 0;
  }
  
  #extras {
    margin-top: 1em;
  }
  
  #add_to_list {
    list-style: none;
    margin: 0;
  }
  
  #add_to_list.lots {
    max-height: 175px;
    overflow: auto;
  }
  
  #add_to_list li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  
  #add_to_list li.last {
    padding: 0;
    border: 0 none;
  }
  
  #add_to_list .controls {
    float: right;
  }
  
  #add_to_list .action {
    font-weight: bold;
  }
  
  #add_to_list .added a,
  #add_to_list li.description a {
    color: #888;
  }
  
  #add_to_list .added a:hover,
  #add_to_list li.description a:hover {
    color: black;
  }
  
  #actions {
    background-color: #eee;
    margin-bottom: 10px;
  }
  
  #actions #toplinks {
    padding: 10px;
    color: #888;
  }
  
  #add_to_list {
    padding: 0 10px 10px 10px;
  }
  
  #taxon_links.tabs li {
    padding: 4px 15px 3px 10px;
    border: 1px solid transparent;
    position: relative;
  }
  #taxon_links .toggle_menu ul { list-style: none; margin: 0;}
  
  .taxon_link .controls {
    display: none;
  }
  
  .taxon_link .controls img {
    width: 12px;
  }
  
  #taxon_links.tabs li.taxon_link:hover .controls {
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
  }
  
  .toggle_menu .togglelink {
    border: 1px solid transparent;
    padding: 4px 10px 3px 16px;
  }
  
  .toggle_menu .menu {
    right: 0;
    left: auto;
  }
  
  #all_names {
    margin-bottom: 1em;
  }
  
  .aka h3 {
    margin-bottom: 0.5em;
  }

  #colors {
    margin-bottom: 10px;
  }
  
  #colors .color {
    float: left; margin: 0 5px 5px 0; width: 16px; height: 16px;
    border: 1px solid #ccc;
  }
  
  #edit_colors {
    clear:both;
  }
  
  #edit_colors .color_field {
    float: left;
    margin-right: 10px;
    width: 60px;
    padding: 2px;
  }
  
  #edit_colors .color_field input.checkbox {
    margin: 0;
  }
  
  #edit_colors .black  { color: lightgrey;  background-color: black;}
  #edit_colors .white  { color: grey;       background-color: white;}
  #edit_colors .red    { color: lightpink;  background-color: red;}
  #edit_colors .green  { color: lightgreen; background-color: green;}
  #edit_colors .blue   { color: lightblue;  background-color: blue;}
  #edit_colors .purple { color: violet;     background-color: purple;}
  #edit_colors .yellow { color: goldenrod;  background-color: yellow;}
  #edit_colors .grey   { color: lightgrey;  background-color: grey;}
  #edit_colors .orange { color: chocolate;  background-color: orange;}
  #edit_colors .brown  { color: peru;       background-color: saddlebrown;}
  #edit_colors .pink   { color: deeppink;   background-color: pink;}
  
  .add_to_place_link {
    padding: 5px;
    
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    width: 269px;
    margin: 0 10px 10px 0;
  }
  
  #place_selector_search .add_to_place_link {
    width: auto;
    float: none;
  }
  
  .add_to_place_link:hover {
    background-color: #fafafa;
  }
  
  #place_selector.ui-tabs .ui-tabs-nav {
    margin-bottom: 10px;
  }
  
  #place_selector.ui-tabs .ui-tabs-panel {
    padding: 0;
  }
  
  #search_taxa form {
    float: right;
    margin-top: 5px;
  }
  
  #search_taxa .button {
    margin-right: 0;
  }
  
  #place_selector_paste form {
    width: 250px;
    float: left;
    margin-right: 10px;
  }
  
  #place_selector_paste textarea {
    width: 236px;
    height: 100px;
  }
  
  #place_selector_paste .places {
    float: left;
    width: 250px;
  }
  
  .ui-tabs .ui-tabs-panel { padding: 10px 0; }
  #taxon_links { 
    position: relative;
    z-index: 1;
  }
</style>

<!--[if lte IE 7]>
  <%= stylesheet_link_tag 'observations-ie' %>
  <style type="text/css" media="screen">
    #search_taxa { width: 365px; }
  </style>
<![endif]-->
<% end -%>

<%- content_for(:extrajs) do %>
  <!--[if lt IE 8]>
  <script src="http://ie7-js.googlecode.com/svn/trunk/lib/IE8.js" type="text/javascript"></script>
  <![endif]-->
  
  <%= javascript_include_tag 'jquery/plugins/jqModal',
                             'modal_image',
                             "jquery/plugins/inat/photo_selectors.js",
                             'jquery/plugins/jquery.autocomplete.min.js',
                             'jquery/plugins/inat/place_autocomplete.js' %>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <%= javascript_include_tag 'inaturalist/map3', 'jquery/plugins/inat/taxonmap' %>
  
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#tabs').tabs()
      
      $('#taxon_range_map').taxonMap()
      window.map = $('#taxon_range_map').data('taxonMap')
      $('#tabs').bind('tabsshow', function(event, ui) {
        if (ui.panel.id == "taxon_range") {
          google.maps.event.trigger(window.map, 'resize')
          $('#taxon_range_map').taxonMap('fit')
        }
      })
      
      <% if (!@taxon.species_or_lower? && @photos.size < 24) || @photos.blank? %>
        $('#photos_loading_status').show()
        $('#photos').load('<%= taxon_photos_path(@taxon) %>', function() {
          $('#modal_image_box').jqmAddTrigger('#photos a.modal_image_link')
        });
      <% end %>
      
      <% if @taxon.auto_description? %>
        $.ajax({
          url: '<%= describe_taxon_path(@taxon, :description => params[:description]) %>',
          method: 'get',
          beforeSend: function() {
            $('#description_loading_status').show()
          },
          success: function(data, status) {
            $('#wikipedia_description').html(data);
          },
          error: function(request, status, error) {
            $('#nodescription').show();
            $('#wikipedia_description .loading').hide();
          }
        });
      <% end %>
      
      // Set up photo modal dialog
      <% if logged_in? %>
        $('#edit_photos_dialog').jqm({
          closeClass: 'close', 
          ajax: '<%= taxon_path(@taxon) %>/edit_photos',
          method: 'get',
          onShow: function(h) {
            h.w.append($('<div class="loading description">Loading...</div>'));
            h.w.fadeIn(500);
            iNaturalist.modalCenter(h.w)
          },
          onHide: function(h) {
            h.w.fadeOut(500,function(){ h.o.remove(); })
          },
          onLoad: function(h) {
            iNaturalist.modalCenter(h.w)
            $(h.w).find('#flickr_taxon_photos .taxon_photos').photoSelector({
              defaultQuery: '<%= @taxon.name %>',
              urlParams: {
                authenticity_token: encodeURIComponent(<%= form_authenticity_token.inspect %>),
                limit: 15
              },
              afterQueryPhotos: function() {
                iNaturalist.modalCenter(h.w)
              }
            });
            
            $(h.w).find('#inat_obs_taxon_photos .taxon_photos').photoSelector({
              baseURL: '<%= taxon_observation_photos_url(@taxon) %>',
              urlParams: {
                authenticity_token: encodeURIComponent(<%= form_authenticity_token.inspect %>),
                limit: 15
              },
              afterQueryPhotos: function() {
                iNaturalist.modalCenter(h.w)
              }
            });

						$(h.w).find('#eol_taxon_photos .taxon_photos').photoSelector({
              baseURL: '<%= eol_photo_fields_url %>',
              urlParams: {
								taxon_id: '<%= @taxon.id %>',
                authenticity_token: encodeURIComponent(<%= form_authenticity_token.inspect %>),
                limit: 15
              },
              afterQueryPhotos: function() {
                iNaturalist.modalCenter(h.w)
              }
            });
            $(h.w).find('.tabs').tabs()
          }
        });
      
        <% if @taxon.species_or_lower? -%>
          $('#add_to_place_dialog').jqm({
            closeClass: 'close',
            method: 'get',
            ajax: '<%= taxon_path(@taxon) %>/add_places',
            onShow: function(h) {
              h.w.append($('<div class="loading description">Loading...</div>'));
              iNaturalist.modalCenter(h.w)
              h.w.fadeIn(500);
            },
            onLoad: function(h) {
              iNaturalist.modalCenter(h.w)
              $('#place_selector').tabs();
            },
            onHide: function(h) {
              h.w.fadeOut(500,function(){ h.o.remove(); })
            }
          });
        <% end %>
      <% end %>
    });
  </script>
<% end -%>

<div id="pageheader" class="last column span-24">
  <span class="breadcrumbs">
    <%= link_to 'All Species', taxa_path, :class => 'back crumb' %>
    <% for iconic_taxon in Taxon::ICONIC_TAXA %>
      <%= link_to "&nbsp;", iconic_taxon, :class => "iconic_taxon_sprite #{iconic_taxon.name.downcase} #{'selected' if @taxon.iconic_taxon_id == iconic_taxon.id}", 
        :title => Taxon::ICONIC_TAXON_NAMES[iconic_taxon.name] %>
    <% end %>
  </span>
  <div id="meta" class="right description">
    <% if @taxon.source && @taxon.source_url %>
      Source: <%= link_to h(truncate(@taxon.source.title, :length => 40)), @taxon.source_url %>
    <% elsif @taxon.source %>
      Source: <%= @taxon.source.title %>
    <% elsif @taxon.creator %>
      Added by <%= link_to h(@taxon.creator.login), @taxon.creator %>
    <% else %>
      Source: unknown
    <% end %>
    
    | <%= link_to "Permalink", url_for(@taxon), :title => "Name-based URLs might change, but this won't." %>
    <% if logged_in? -%>
      | <%= link_to "Map", taxon_map_path(@taxon) %>
    <% end -%>
    <% if logged_in? and @user.is_curator? %>
      | <strong><%= link_to "Edit", edit_taxon_path(@taxon) %></strong>
    <% end %>
    <% if @taxon.flagged? %>
      | <span id="flaggings_heads_up" class="description">
      Flagged for curation.
      <%= link_to "View flags", taxon_flags_path(@taxon), :class => 'readmore', 
        :title => "See something wrong with this taxon?  Let the curators know." %>
      </span>
    <% else %>
      <% if logged_in? %>
      | <%= link_to "Flag for curation", new_taxon_flag_path(@taxon), :id => "flag_this" %>
      <% end %>
    <% end %>
  </div>
  
  <div class="clear">
    <span id="search_taxa">
      <%= render :partial => 'search_form', :locals => {:css_class => "clear smallbuttons buttonrow"} %>
    </span>

    <h2>
      <%= render :partial => 'shared/taxon', :locals => { :taxon => @taxon } %>
    </h2>
  </div>
</div>

<% if @conservation_status_name %>
  <div class="column span-24">
    <div class="conservation_status <%= @conservation_status_name %> box">
      Global conservation status: <strong><%= @conservation_status_name.humanize.downcase %></strong>
      <span class="small">
        (Source:
        <% if @conservation_status_source && !@conservation_status_source.url.blank? -%>
          <%= link_to @conservation_status_source.title, @conservation_status_source.url -%>
        <%- else -%>
          <%= @conservation_status_source.title -%>
        <%- end -%>)
      </span>
    </div>
  </div>
<% end %>

<div class="column span-4 aka">
  <h3>
    Classification
    <div class="description">within iNaturalist</div>
  </h3>
  
  <%= render :partial => 'classification_list' %>
  
  <div id="all_names">
    <h3>All Names</h3>
    <ul>
      <% for lexicon, taxon_names in @taxon.taxon_names.group_by(&:lexicon) %>
        <%- lexicon = lexicon.blank? ? 'Unknown' : lexicon.capitalize %>
        <li>
          <span class="description"><%= lexicon %></span>
          <ul class="taxon_names">
            <% for taxon_name in taxon_names %>
              <li>
                <span class="taxon_name <%= lexicon.split.join('_') %><%= ' invalid' unless taxon_name.is_valid? %>">
                  <%= taxon_name.name %></span>
                <% if logged_in? && (!taxon_name.is_scientific? || current_user.is_curator?) -%>
                  <%= link_to "edit", edit_taxon_name_path(taxon_name), :class => 'small description' %>
                <% end -%>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>

    <% if logged_in? -%>
      <%= link_to "Add a name", new_taxon_taxon_name_path(@taxon), :class => 'readmore' %>
    <% end -%>
  </div>
  
  <% if @taxon.species_or_lower? -%>
    <div id="colors" class="clear">
      <h3>Colors</h3>
      <% if @colors.blank?-%>
        <% if logged_in? -%>
          <div class="notice">
            This species has no colors! Help improve species searches by telling
            us what color this is!
          </div>
        <% else -%>
          <div class="description">
            No colors selected.
          </div>
        <% end -%>
      <% end -%>
      <div id="colorboxen">
        <% for color in @colors %>
          <%= link_to "&nbsp;", {:controller => "taxa", :action => "search", :colors => color.id},
            :class => "color", :style => "background-color: #{color.value}", :title => color.value, 
            :rel => "nofollow" %>
        <% end %>
      </div>
      <% if logged_in? -%>
        <div id="edit_colors">
          <%= link_to_toggle "Edit colors", "#edit_colors_dialog" %>
          <div id="edit_colors_dialog" style="display: none">
            <% remote_form_for @taxon, 
                :url => {:action => 'update_colors', :id => @taxon, :format => 'js'},
                :datatype => 'text',
                :loading => 
                  "$('#edit_colors .button').hide();" +
                  "$('#edit_colors .loading').show()",
                :complete => 
                 "$('#edit_colors .button').show();" +
                 "$('#edit_colors .loading').hide();",
                :success => 
                  "$('#colorboxen .color').remove();" +
                  "$('#colors .notice').remove();" +
                  "$('#colors .description').remove();" +
                  "$('#edit_colors input:checked').each(function() {" +
                    "$('#colorboxen').append(" +
                      "$('<div>&nbsp;</div>').css({" +
                        "'background-color': $(this).attr('alt')" +
                      "}).addClass('color').attr('title', $(this).attr('alt'))" +
                    ");" +
                  "});" do |f| %>
              <%#= f.collection_select :color_ids, Color.all, :id, :value, {:include_blank => true}, :multiple => true %>
              <% for color in Color.all %>
                <div class="color_field <%= color.value %>">
                  <%= check_box_tag "taxon[color_ids][]", color.id, 
                    @taxon.color_ids.include?(color.id), 
                    :id => "color_ids_#{color.value}",
                    :class => 'checkbox',
                    :alt => color.value %>
                  <%= label :color_ids, color.value %>
                </div>
              <% end %>
              <%= hidden_field_tag "taxon[color_ids][]", '' %>
              <div class="buttonrow">
                <%= f.submit "Save Colors", :class => 'button', :style => 'margin: 0.5em auto' %>
                <div class="inter loading status" style="display: none; clear: left">Saving...</div>
              </div>
            <% end %>
          </div>
          <% if @colors.blank? -%>
            <script type="text/javascript" charset="utf-8">
              $('#edit_colors_dialog').prev('.togglelink').click();
            </script>
          <% end -%>
        </div>
      <% end -%>
    </div>
  <% end -%>
  
  <% if @taxon.species_or_lower? -%>
    <div id="places" class="clear">
      <h3>
        Places
        <% if @check_listed_taxa.total_entries > @check_listed_taxa.size -%>
          <span class="small description"><%= @check_listed_taxa.size %> of <%= @check_listed_taxa.total_entries %></span>
        <% end -%>
      </h3>
    
      <% if @us_states -%>
        <span class="description">US states:</span>
        <%= google_charts_map_for_places(@us_states, {:chs => '150x75'}) %>
      <% elsif !@countries.blank? %>
        <span class="description">Countries:</span>
        <%= google_charts_map_for_places(@countries, {:chs => '150x75'}) %>
      <% end -%>
    
      <% if @check_listed_taxa.blank? -%>
        <% unless logged_in? %><div class="description">No places selected.</div><% end %>
      <% else %>
        <ul id="places_list">
          <% for lt in @sorted_check_listed_taxa %>
            <li>
              <%= link_to lt.place.display_name, lt.place %>
              <% if logged_in? && lt.editable_by?(current_user) -%>
                <%= link_to("edit", lt, :class => "small description editlink") %>
              <% end -%>
              
              <% if %w(introduced naturalised managed).include?(lt.establishment_means) -%>
                <div class="small description"><%= lt.establishment_means %></div>
              <% elsif lt.establishment_means == 'invasive' %>
                <div class="small description" style="color: deeppink">invasive</div>
              <% end -%>
            </li>
          <% end %>
        </ul>
      <% end -%>
    
      <% if logged_in? -%>
        <% if @places.blank? -%>
          <div class="notice">
            Do you know where this species lives?
            <strong><%= link_to_function "Add it to a place &raquo;", "$('#add_to_place_dialog').jqmShow()" %></strong>
          </div>
        <% else %>
          <strong><%= link_to_function "Add a place &raquo;", "$('#add_to_place_dialog').jqmShow()" %></strong>
        <% end -%>
        <div id="add_to_place_dialog" class="modalbox dialog" style="display:none"></div>
      <% end -%>
    </div>
  <% end %>
  
  <div id="extras">
    <h3>Extras</h3>
    
    <p class="ui">
      <%= link_to "Make taxonomic Flickr tags for this taxon &raquo;", 
        flickr_tagger_path(:taxon_id => @taxon.id) %>
    </p>
    
    <p class="ui">
      <%= link_to "Flickr invite link &raquo;", 
        url_for(:controller => "flickr", :action => "create_invite", :taxon_id => @taxon.id) %>
    </p>
    
    <p class="ui">
      <%= link_to_function "Wikipedia taxobox &raquo;", "return false;", :id => "taxoboxlink" %>
      <%- taxobox_content = capture do -%>
        <pre><%= render(:partial => 'wikipedia_taxobox', :object => @taxon).strip %></pre>
        <%= link_to "About the taxobox &raquo;", "http://en.wikipedia.org/wiki/Template:Taxobox" %>
      <%- end -%>
      <script type="text/javascript" charset="utf-8">
        $('#taxoboxlink').qtip($.extend(QTIP_DEFAULTS, {
          show: {when: 'click'},
          hide: {when: 'unfocus'},
          content: "<%= escape_javascript(taxobox_content) %>"
        }));
      </script>
    </p>
    
    <p class="ui">
      <%= link_to "Tree Browser &raquo;", {:controller => "taxa", :action => "tree", :taxon_id => @taxon},
        :rel => "nofollow" %>
    </p>
    
    <p class="ui">
      <%= link_to "Search descendant taxa &raquo;", 
        {:controller => "taxa", :action => "search", :taxon_id => @taxon, :view => TaxaController::LIST_VIEW},
        :rel => "nofollow" %>
    </p>
    
    <p class="ui">
      <%= link_to "Embed a widget for this taxon on your website &raquo;", observations_widget_path(:taxon_id => @taxon), 
        :rel => "nofollow" %>
    </p>
    
  </div>
  
  <% if logged_in? && current_user.is_curator? -%>
    <div id="curation" class="quiet box">
      <h3>Curation</h3>
      <ul>
        <li><%= link_to "Edit", edit_taxon_path(@taxon) %></li>
        <li><%= link_to "Merge", merge_taxon_path(@taxon) %></li>
      </ul>
      <% if @taxon.locked? -%>
        <div class="notice">
          <strong>Heads up:</strong> this taxon is locked, which means that most users can't add
          new descendants to it by importing taxa. Curators can still do so by
          editing taxa and choosing a parent, but please consider merging taxa
          instead.
        </div>
      <% end -%>
    </div>
  <% end -%>
</div>

<div id="rightcol" class="last column span-20">
  <div id="photoscol" class="column span-13">
    <% if logged_in? && @taxon.species_or_lower? && @photos.empty? %>
      <div class="notice">
        This taxon has no default photo!
        <%= link_to_function("Add one", "$('#edit_photos_dialog').jqmShow()", :class => 'readmore') %>
      </div>
    <% end %>
    <div id="photos">
      <%= render :partial => "photos", :locals => { :photos => @photos } %>
      <div id="photos_loading_status" class="loading status" style="display:none">Loading more photos...</div>
    </div>
    
    <% if logged_in? %>
      <%= link_to_function("Edit photos", "$('#edit_photos_dialog').jqmShow()", :class => 'readmore') %>
      <div id="edit_photos_dialog" class="modalbox dialog" style="display: none"></div>
    <% end %>
  </div>

  <div id="obscol" class="column span-7 last">
    <div id="actions" class="clear">
      <div id="toplinks">
        <% if logged_in? -%>
          <%= link_to_toggle "Add to list", '#add_to_list' %> |
        <% end -%>
        <%= link_to("Add an observation", new_observation_path(:taxon_id => @taxon), 
          :class => 'readmore', :rel => 'nofollow') %>
      </div>
      
      <% if logged_in? -%>
        <ul id="add_to_list" class="clear<%= ' lots' if @current_user_lists.size > 5 %>" style="display: none">
          <% for list in @current_user_lists %>
            <% if @lists_rejecting_taxon.include?(list) -%>
              <li class="clear description">
                "<%= link_to truncate(h(list.title), :length => 35), list %>"
                only accepts taxa
                <%= list.rules.map(&:terms).join(', ') %>
              </li>
            <% else %>
              <%= render :partial => 'lists/list_selector_row', :locals => {
                :list => list,
                :taxon_id => @taxon.id,
                :listed_taxon => @listed_taxa_by_list_id[list.id],
                :last => list == @current_user_lists.last
              } %>
            <% end -%>
          <% end %>
        </ul>
      <% end -%>
    </div>
    
    
    <div id="taxon_observations">
      <h3>Recent Observations</h3>
        <% if @observations.blank? -%>
          <div id="noobservations" class="clear">
            <div class="readable description">
              No one's observed
              <%= render(:partial => 'shared/taxon', :locals => {
                :taxon => @taxon,
                :include_article => true
              }) -%>.
            </div>
          </div>
        <% else %>
          <div id="observations" class="table observations">
            <%= render :partial => "observations/cached_component", :collection => @observations %>
          </div>
        <% end -%>
      
      <% if logged_in? -%>
        <%= link_to "View all observations", observations_path(:taxon_id => @taxon.id), :class => 'readmore' %>
        <br/>
        <%= link_to "View your observations", observations_by_login_path(current_user.login, :taxon_id => @taxon.id), :class => 'readmore' %>
      <% else %>
        <%= link_to "View all observations", observations_path(:taxon_id => @taxon.id), :class => 'readmore' %>
      <% end -%>
    </div>
    
    <div id="fblike" class="stacked">
      <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
      <fb:like send="true" show_faces="true" width="270" layout="button_count"></fb:like>
    </div>
  <div><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="inaturalist">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
  </div>
  
  <div class="last column span-20">
    <div id="taxon_links" class="right tabs">
      <ul>
        <li class="description">More info:</li>
        <% for taxon_link in @taxon_links[0..3] %>
          <li class="taxon_link">
            <%= link_to taxon_link.site_title, taxon_link.url_for_taxon(@taxon) -%>
            <%- if logged_in? -%>
              <span class="controls">
                <%= link_to image_tag('silk/pencil_grey.png'), edit_taxon_link_path(taxon_link), :title => "Edit this link" %>
              </span>
            <%- end -%>
          </li>
        <% end %>
        <% if @taxon_links.size > 4 -%>
          <li style="padding: 0; border: 0;">
            <% link_to_toggle_menu "More" do %>
              <ul>
                <%- @taxon_links[4..-1].each do |taxon_link| -%>
                  <li class="taxon_link">
                    <%= link_to taxon_link.site_title, taxon_link.url_for_taxon(@taxon) -%>
                    <%- if logged_in? -%>
                      <span class="controls">
                        <%= link_to image_tag('silk/pencil_grey.png'), edit_taxon_link_path(taxon_link), :title => "Edit this link" %>
                      </span>
                    <%- end -%>
                  </li>
                <%- end -%>
              </ul>
            <% end %>
          </li>
        <% end %>
        <% if logged_in? -%>
          <li class="description" style="padding-right: 0">
            <%= link_to "Add a link &raquo;", new_taxon_link_path(:taxon_id => @taxon.id) %>
          </li>
        <% end -%>
      </ul>
    </div>
    <div id="tabs">
      <ul>
        <li><a href="#description"><span>Description</span></a></li>
        <li><a href="#taxon_range"><span>Map</span></a></li>
      </ul>

      <div id="description" class="last column span-20">
        <%= render :partial => 'taxa/description' %>
      </div>

      <div id="taxon_range">
        <div id="taxon_range_map" style="width: 790px; height: 488px"
          data-taxon-id="<%= @taxon.id %>"
          data-taxon-range-kml="<%= (root_url.gsub(/\/$/, "") + @taxon_range.range.url) if @taxon_range %>"
          data-gbif-kml="http://data.gbif.org/ws/rest/occurrence/list?coordinatestatus=true&maxresults=500&coordinateissues=false&scientificname=<%= @taxon_gbif %>&format=kml"></div>
        <div class="ui description">
          <% if @taxon_range -%>
            <% if @taxon_range.source -%>
              <div>
                <strong>Source:</strong>
                <%= auto_link(@taxon_range.source.citation) || @taxon_range.source.url || @taxon_range.source.title %>
              </div>
            <% end -%>
            <% unless @taxon_range.description.blank? -%>
              <div>
                <strong>Description:</strong>
                <%= @taxon_range.description %>
              </div>
            <% end -%>
            <% if logged_in? && current_user.is_curator? -%>
              <%= link_to "Edit range &raquo;", edit_taxon_range_path(@taxon_range) %>
            <% end -%>
          <% else %>
            No range data available.
          <% end -%>
        </div>
      </div>
    </div>
  </div>

</div><!-- end #rightcol -->
