- @no_footer_gap = true
- content_for :title do
  = render "taxa/taxon.txt.erb", taxon: @taxon
- content_for :extrajs do
  :javascript
    var SERVER_PAYLOAD = {
      taxon: #{ @node_taxon_json.encode }.results[0],
      place: #{ @node_place_json.encode }.results[0],
      chosenTab: #{ @chosen_tab.to_json },
      ancestorsShown: #{ @ancestors_shown.to_json }
    };
    SERVER_PAYLOAD.taxon.wikipedia_summary = #{ @taxon.wikipedia_summary.to_json };
    SERVER_PAYLOAD.taxon.auto_summary = #{ @taxon.wikipedia_summary.blank? ? @taxon.auto_summary.to_json : "null" };
  = javascript_include_tag "taxa-show-webpack"
- content_for :extracss do
  = stylesheet_link_tag "c3", "taxa/show2"
- content_for :extrahead do
  %meta{ name: "config:inaturalist_api_url", content: CONFIG.node_api_url }
  - if CONFIG.facebook
    %meta{ property: "og:type", content: "#{CONFIG.facebook.namespace}:taxon"}
  %meta{ property: "og:title", content: @taxon.to_plain_s( verb: true, no_time: true ) }
  - if @taxon.photos.blank?
    %meta{ property: "og:image", content: ( @shareable_image_url = iconic_taxon_image_url( @taxon ) ) }
    %meta{ property: "twitter:image", content: @shareable_image_url }
  - else
    %meta{ property: "og:image", content: ( @shareable_image_url = @taxon.photos.first.medium_url ) }
    %meta{ property: "twitter:image", content: @shareable_image_url }
    %meta{ property: "twitter:card", content: "summary_large_image" }
  %meta{ property: "og:url", content: taxon_url( @taxon ) }
  - if @taxon.wikipedia_summary.blank?
    - description = @taxon.auto_summary
  - else
    - description = @taxon.wikipedia_summary
    - attribution = "Source: Wikipedia"
    - attribution += ". Photo: #{@taxon.photos.first.attribution}" unless @taxon.photos.blank?
    - description = "#{description} (#{attribution})"
  %meta{ name: "description", content: html_attributize( description ) }
  %meta{ property: "og:description", content: html_attributize( description ) }
#app
  #initial-loading.text-center
    = loading nil, class: "bigloading"
