<% content_for(:title) do %>
<%= render :partial => "taxa/taxon.txt.erb", :locals => { :taxon => @taxon } %>
<% end -%>

<%- content_for(:extracss) do %>
<%= stylesheet_link_tag 'taxa/show', 'observations', "jquery/ui.tabs.css" %>
<style type="text/css" media="screen">
  #noobservations .readable.description {
    margin-bottom: 0.5em;
  }
  
  #noobservations .button {
    width: auto;
    float: none;
    margin: 0 auto;
  }
  
  .edit_taxon_photos .taxon_photos {
    margin-bottom: 1em;
  }
  
  #photos .photos_wrapper a {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
  }
  
  #photos .photos_wrapper a.last {
    margin-right: 0;
  }
  
  #extras {
    margin-top: 1em;
  }
  
  #add_to_list {
    list-style: none;
    margin: 0;
  }
  
  #add_to_list.lots {
    max-height: 175px;
    overflow: auto;
  }
  
  #add_to_list li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  
  #add_to_list li.last {
    padding: 0;
    border: 0 none;
  }
  
  #add_to_list .controls {
    float: right;
  }
  
  #add_to_list .action {
    font-weight: bold;
  }
  
  #add_to_list .added a,
  #add_to_list li.description a {
    color: #888;
  }
  
  #add_to_list .added a:hover,
  #add_to_list li.description a:hover {
    color: black;
  }
  
  #actions {
    background-color: #eee;
    margin-bottom: 10px;
  }
  
  #actions #toplinks {
    padding: 10px;
    color: #888;
  }
  
  #add_to_list {
    padding: 0 10px 10px 10px;
  }
  
  #taxon_links.tabs li {
    padding: 4px 15px 4px 10px;
    border: 1px solid transparent;
    position: relative;
  }
  
  .taxon_link .controls {
    display: none;
  }
  
  .taxon_link .controls img {
    width: 12px;
  }
  
  #taxon_links.tabs li.taxon_link:hover .controls {
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
  }
  
  #taxon_links.tabs li#more_taxon_links_wrapper {
    position: relative;
    padding: 0;
    border: 0 none;
  }
  
  #more_taxon_links_button {
    display: block;
    border: 1px solid transparent;
    padding: 4px 10px 4px 16px;
  }
    
  #more_taxon_links_button.open {
    position: relative;
    z-index: 10;
    border-color: #ccc;
    border-bottom: 1px solid white;
    background-position: 3px 50%;
  }
  
  #more_taxon_links {
    position: absolute;
    z-index: 1;
    top: 27px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0.5em;
    -webkit-box-shadow: 3px 3px 5px #999;
  }
  
  #all_names {
    margin-bottom: 1em;
  }
  
  .aka h3 {
    margin-bottom: 0.5em;
  }

  #colors {
    margin-bottom: 10px;
  }
  
  #colors .color {
    float: left; margin: 0 5px 5px 0; width: 16px; height: 16px;
    border: 1px solid #ccc;
  }
  
  #edit_colors {
    clear:both;
  }
  
  #edit_colors .color_field {
    float: left;
    margin-right: 10px;
    width: 60px;
    padding: 2px;
  }
  
  #edit_colors .color_field input.checkbox {
    margin: 0;
  }
  
  #edit_colors .black  { color: lightgrey;  background-color: black;}
  #edit_colors .white  { color: grey;       background-color: white;}
  #edit_colors .red    { color: lightpink;  background-color: red;}
  #edit_colors .green  { color: lightgreen; background-color: green;}
  #edit_colors .blue   { color: lightblue;  background-color: blue;}
  #edit_colors .purple { color: violet;     background-color: purple;}
  #edit_colors .yellow { color: goldenrod;  background-color: yellow;}
  #edit_colors .grey   { color: lightgrey;  background-color: grey;}
  #edit_colors .orange { color: chocolate;  background-color: orange;}
  #edit_colors .brown  { color: peru;       background-color: saddlebrown;}
  #edit_colors .pink   { color: deeppink;   background-color: pink;}
  
  .add_to_place_link {
    padding: 5px;
    
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    width: 269px;
    margin: 0 10px 10px 0;
  }
  
  #place_selector_search .add_to_place_link {
    width: auto;
    float: none;
  }
  
  .add_to_place_link:hover {
    background-color: #fafafa;
  }
  
  #place_selector.ui-tabs .ui-tabs-nav {
    margin-bottom: 10px;
  }
  
  #place_selector.ui-tabs .ui-tabs-panel {
    padding: 0;
  }
  
  #search_taxa form {
    float: right;
    margin-top: 5px;
  }
  
  #search_taxa .button {
    margin-right: 0;
  }
  
  #place_selector_paste form {
    width: 250px;
    float: left;
    margin-right: 10px;
  }
  
  #place_selector_paste textarea {
    width: 236px;
    height: 100px;
  }
  
  #place_selector_paste .places {
    float: left;
    width: 250px;
  }
</style>

<!--[if lte IE 7]>
  <%= stylesheet_link_tag 'observations-ie' %>
  <style type="text/css" media="screen">
    #search_taxa { width: 365px; }
  </style>
<![endif]-->
<% end -%>

<%- content_for(:extrajs) do %>
  <!--[if lt IE 8]>
  <script src="http://ie7-js.googlecode.com/svn/trunk/lib/IE8.js" type="text/javascript"></script>
  <![endif]-->
  
  <%= javascript_include_tag 'jquery/plugins/jqModal',
                             'modal_image',
                             "jquery/plugins/inat/photo_selectors.js",
                             'jquery/plugins/jquery.autocomplete.min.js',
                             'jquery/plugins/inat/place_autocomplete.js',
                             "jquery/plugins/jquery.qtip.min",
                             'jquery/jquery.ui.all.packed' %>
  
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#photos').load('<%= taxon_photos_path(@taxon) %>', function() {
        $('#modal_image_box').jqmAddTrigger('#photos a.modal_image_link');
      });
      $.ajax({
        url: '<%= observations_path(:format => "html", :partial => "cached_component", :taxon_id => @taxon, :per_page => 3) %>',
        method: 'get',
        success: function(data, status) {
          $('#observations').html(data);
        },
        error: function(request, status, error) {
          $('#noobservations').show();
          $('#observations .loading').hide();
        }
      });
      
      <% if @taxon.auto_description? %>
        $.ajax({
          url: '<%= describe_taxon_path(@taxon) %>',
          method: 'get',
          success: function(data, status) {
            $('#wikipedia_description').html(data);
          },
          error: function(request, status, error) {
            $('#nodescription').show();
            $('#wikipedia_description .loading').hide();
          }
        });
      <% end %>
      
      // Set up photo modal dialog
      <% if logged_in? %>
      $('#edit_photos_dialog').jqm({
        closeClass: 'close', 
        ajax: '<%= taxon_path(@taxon) %>/edit_photos',
        method: 'get',
        onShow: function(h) {
          h.w.append($('<div class="loading description">Loading...</div>'));
          h.w.fadeIn(500);
        },
        onHide: function(h) {
          h.w.fadeOut(500,function(){ h.o.remove(); })
        },
        onLoad: function(h) {
          $(h.w).find('.taxon_photos').photoSelector({
            defaultQuery: '<%= @taxon.name %>',
            urlParams: {
              authenticity_token: encodeURIComponent(<%= form_authenticity_token.inspect %>),
              limit: 15
            }
          });
        }
      });
      
      <% if @taxon.species_or_lower? -%>
        $('#add_to_place_dialog').jqm({
          closeClass: 'close',
          method: 'get',
          onShow: function(h) {
            if (h.w.html() == '') {
              h.w.append($('<div class="loading description">Loading...</div>'));
              h.w.load('<%= taxon_path(@taxon) %>/add_places', null, function() {
                $('#place_selector > ul').tabs();
              });
            }
            h.w.fadeIn(500);
          },
          onHide: function(h) {
            h.w.fadeOut(500,function(){ h.o.remove(); })
          }
        });
      <% end %>
      <% end %>
    });
  </script>
<% end -%>

<%- content_for(:extrahead) do -%>
  <% unless @taxon.wikipedia_summary.blank? -%>
    <meta name="description" content="<%= strip_tags(@taxon.wikipedia_summary).gsub('"', "'") %>"/>
  <% end -%>
<%- end -%>

<div id="pageheader" class="last column span-24">
  <span class="breadcrumbs">
    <%= link_to 'Back to All Species', 
                taxa_path,
                :class => 'back crumb' %>
  </span>
  <div id="meta" class="right description">
    <% if @taxon.source_url %>
      Source: <%= link_to @taxon.source.title, @taxon.source_url %>
    <% elsif @taxon.source %>
      Source: <%= @taxon.source.title %>
    <% else %>
      Source: unknown
    <% end %>
    
    | <%= link_to "Permalink", url_for(@taxon), :title => "Name-based URLs might change, but this won't." %>
    <% if logged_in? and @user.is_curator? %>
    
    | <strong><%= link_to "Edit", edit_taxon_path(@taxon) %></strong>
    <% end %>
    <% if @taxon.flagged? %>
    
    | <span id="flaggings_heads_up" class="description">
      Flagged for curation.
      <%= link_to "View flags", taxon_flags_path(@taxon), :class => 'readmore', 
        :title => "See something wrong with this taxon?  Let the curators know." %>
    </span>
    <% else %>
      <% if logged_in? %>
      | <%= link_to "Flag for curation", new_taxon_flag_path(@taxon), :id => "flag_this" %>
      <% end %>
    <% end %>
  </div>
  
  <div class="clear">
    <span id="search_taxa" class="smallbuttons">
      <%= render :partial => 'search_form' %>
    </span>

    <h2>
      <%= render :partial => 'shared/taxon', :locals => { :taxon => @taxon } %>
    </h2>
  </div>
</div>

<div class="column span-4 aka">
  <h3>
    Classification
    <div class="description">within iNaturalist</div>
  </h3>
  
  <%= render :partial => 'classification_list' %>
  
  <div id="all_names">
    <h3>All Names</h3>
    <ul>
      <% for lexicon, taxon_names in @taxon.taxon_names.group_by(&:lexicon) %>
        <%- lexicon = lexicon.blank? ? 'Unknown' : lexicon.capitalize %>
        <li>
          <span class="description"><%= lexicon %></span>
          <ul class="taxon_names">
            <% for taxon_name in taxon_names %>
              <li>
                <span class="taxon_name <%= lexicon.split.join('_') %><%= ' invalid' unless taxon_name.is_valid? %>">
                  <%= taxon_name.name %></span>
                <% if logged_in? && (taxon_name.name != @taxon.name || current_user.is_curator?) -%>
                  <%= link_to "edit", edit_taxon_name_path(taxon_name), :class => 'small description' %>
                <% end -%>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>

    <% if logged_in? -%>
      <%= link_to "Add a name", new_taxon_taxon_name_path(@taxon), :class => 'readmore' %>
    <% end -%>
  </div>
  
  <% if @taxon.species_or_lower? -%>
    <div id="colors" class="clear">
      <h3>Colors</h3>
      <% if @taxon.colors.blank?-%>
        <% if logged_in? -%>
          <div class="notice">
            This species has no colors! Help improve species searches by telling
            us what color this is!
          </div>
        <% else -%>
          <div class="description">
            No colors selected.
          </div>
        <% end -%>
      <% end -%>
      <div id="colorboxen">
        <% for color in @taxon.colors %>
          <%= link_to "&nbsp;", {:controller => "taxa", :action => "search", :colors => color.id},
            :class => "color", :style => "background-color: #{color.value}", :title => color.value, 
            :rel => "nofollow" %>
        <% end %>
      </div>
      <% if logged_in? -%>
        <div id="edit_colors">
          <%= link_to_toggle "Edit colors", "#edit_colors_dialog" %>
          <div id="edit_colors_dialog" style="display: none">
            <% remote_form_for @taxon, 
                :url => {:action => 'update_colors', :id => @taxon, :format => 'js'},
                :datatype => 'text',
                :loading => 
                  "$('#edit_colors .button').hide();" +
                  "$('#edit_colors .loading').show()",
                :complete => 
                 "$('#edit_colors .button').show();" +
                 "$('#edit_colors .loading').hide();",
                :success => 
                  "$('#colorboxen .color').remove();" +
                  "$('#colors .notice').remove();" +
                  "$('#colors .description').remove();" +
                  "$('#edit_colors input:checked').each(function() {" +
                    "$('#colorboxen').append(" +
                      "$('<div>&nbsp;</div>').css({" +
                        "'background-color': $(this).attr('alt')" +
                      "}).addClass('color').attr('title', $(this).attr('alt'))" +
                    ");" +
                  "});" do |f| %>
              <%#= f.collection_select :color_ids, Color.all, :id, :value, {:include_blank => true}, :multiple => true %>
              <% for color in Color.all %>
                <div class="color_field <%= color.value %>">
                  <%= check_box_tag "taxon[color_ids][]", color.id, 
                    @taxon.color_ids.include?(color.id), 
                    :id => "color_ids_#{color.value}",
                    :class => 'checkbox',
                    :alt => color.value %>
                  <%= label :color_ids, color.value %>
                </div>
              <% end %>
              <%= hidden_field_tag "taxon[color_ids][]", '' %>
              <div class="buttonrow">
                <%= f.submit "Save Colors", :class => 'button', :style => 'margin: 0.5em auto' %>
                <div class="inter loading status" style="display: none; clear: left">Saving...</div>
              </div>
            <% end %>
          </div>
          <% if @taxon.colors.blank? -%>
            <script type="text/javascript" charset="utf-8">
              $('#edit_colors_dialog').prev('.togglelink').click();
            </script>
          <% end -%>
        </div>
      <% end -%>
    </div>
  <% end -%>
  
  <% if @taxon.species_or_lower? -%>
    <div id="places" class="clear">
      <h3>
        Range
        <% if @places.total_entries > @places.size -%>
          <span class="small description"><%= @places.size %> of <%= @places.total_entries %></span>
        <% end -%>
      </h3>
    
      <% if @us_states -%>
        <span class="description">US states:</span>
        <%= google_charts_map_for_places(@us_states, {:chs => '150x75'}) %>
      <% elsif !@countries.blank? %>
        <span class="description">Countries:</span>
        <%= google_charts_map_for_places(@countries, {:chs => '150x75'}) %>
      <% end -%>
    
      <% if @places.blank? -%>
        <% unless logged_in? %><div class="description">No places selected.</div><% end %>
      <% else %>
        <ul id="places_list">
          <% for place in @places %>
            <li><%= link_to place.display_name, place %></li>
          <% end %>
        </ul>
      <% end -%>
    
      <% if logged_in? -%>
        <% if @places.blank? -%>
          <div class="notice">
            Do you know where this species lives?
            <strong><%= link_to_function "Add it to a place &raquo;", "$('#add_to_place_dialog').jqmShow()" %></strong>
          </div>
        <% else %>
          <strong><%= link_to_function "Add a place &raquo;", "$('#add_to_place_dialog').jqmShow()" %></strong>
        <% end -%>
        <div id="add_to_place_dialog" class="modalbox dialog" style="display:none"></div>
      <% end -%>
    </div>
  <% end %>
  
  <div id="extras">
    <h3>Extras</h3>
    
    <p class="ui">
      <%= link_to "Make taxonomic Flickr tags for this taxon &raquo;", 
        flickr_tagger_path(:taxon_id => @taxon.id) %>
    </p>
    
    <p class="ui">
      <%= link_to_function "Wikipedia taxobox &raquo;", "return false;", :id => "taxoboxlink" %>
      <%- taxobox_content = capture do -%>
        <pre><%= render(:partial => 'wikipedia_taxobox', :object => @taxon).strip %></pre>
        <%= link_to "About the taxobox &raquo;", "http://en.wikipedia.org/wiki/Template:Taxobox" %>
      <%- end -%>
      <script type="text/javascript" charset="utf-8">
        $('#taxoboxlink').qtip($.extend(QTIP_DEFAULTS, {
          show: {when: 'click'},
          hide: {when: 'unfocus'},
          content: "<%= escape_javascript(taxobox_content) %>"
        }));
      </script>
    </p>
    
    <p class="ui">
      <%= link_to "Tree Browser &raquo;", {:controller => "taxa", :action => "tree", :taxon_id => @taxon},
        :rel => "nofollow" %>
    </p>
    
    <p class="ui">
      <%= link_to "Search descendant taxa &raquo;", 
        {:controller => "taxa", :action => "search", :taxon_id => @taxon, :view => TaxaController::LIST_VIEW},
        :rel => "nofollow" %>
    </p>
    
  </div>
  
  <% if logged_in? && current_user.is_curator? -%>
    <div id="curation">
      <h3>Curation</h3>
      <ul>
        <li><%= link_to "Edit", edit_taxon_path(@taxon) %></li>
        <li><%= link_to "Merge", :controller => "taxa", :action => "merge", :id => @taxon %></li>
      </ul>
    </div>
  <% end -%>
</div>

<div id="rightcol" class="last column span-20">
  <div id="photoscol" class="column span-13">
    <% if logged_in? && @taxon.species_or_lower? && @taxon.photos.empty? %>
      <div class="notice">
        This taxon has no default photo!
        <%= link_to_function("Add one", "$('#edit_photos_dialog').jqmShow()", :class => 'readmore') %>
      </div>
    <% end %>
    <div id="photos">
      <div id="photos_status" class="loading status">Loading photos...</div>
    </div>
    
    <% if logged_in? %>
      <div>
        <%= link_to_function("Edit photos", "$('#edit_photos_dialog').jqmShow()", :class => 'readmore') %>
      </div>
      <div id="edit_photos_dialog" class="modalbox dialog" style="display: none"></div>
    <% end %>
  </div>

  <div id="obscol" class="column span-7 last">
    <div id="actions" class="clear">
      <div id="toplinks">
        <% if logged_in? -%>
          <%= link_to_toggle "Add to list", '#add_to_list' %> |
        <% end -%>
        <%= link_to("Add an observation", new_observation_path(:taxon_id => @taxon), 
          :class => 'readmore', :rel => 'nofollow') %>
      </div>
      
      <% if logged_in? -%>
        <ul id="add_to_list" class="clear<%= ' lots' if @current_user_lists.size > 5 %>" style="display: none">
          <% for list in @current_user_lists %>
            <% if @lists_rejecting_taxon.include?(list) -%>
              <li class="clear description">
                "<%= link_to truncate(h(list.title), :length => 35), list %>"
                only accepts taxa
                <%= list.rules.map(&:terms).join(', ') %>
              </li>
            <% else %>
              <%= render :partial => 'lists/list_selector_row', :locals => {
                :list => list,
                :taxon_id => @taxon.id,
                :listed_taxon => @listed_taxa_by_list_id[list.id],
                :last => list == @current_user_lists.last
              } %>
            <% end -%>
          <% end %>
        </ul>
      <% end -%>
    </div>
    
    <div id="taxon_observations">
      <h3>Recent Observations</h3>
      <div id="observations" class="table observations">
        <div id="observations_status" class="loading status">
          Loading recent observations...
        </div>
      </div>
      <div id="noobservations" class="clear" style="display: none">
        <div class="readable description">
          No one's observed
          <%= render(:partial => 'shared/taxon', :locals => {
            :taxon => @taxon,
            :include_article => true
          }) -%>.
        </div>
      </div>

      <a href="<%= observations_path(:taxon_id => @taxon.id) %>" style="font-weight: bold">
        View all observations of
        <%= render :partial => 'shared/taxon', 
                   :locals => { :taxon => @taxon } -%>
        &raquo;
      </a>
    </div>
  </div>

  <div class="last column span-20">
    <div class="column-separator">
      <img src="/images/logo-eee-15px.png">
    </div>
  </div>
  
  <div id="description" class="last column span-20">
    <div id="taxon_links" class="right tabs">
      <ul>
        <li class="description">More info:</li>
        <% for taxon_link in @taxon_links[0..3] %>
          <li class="taxon_link">
            <%= link_to taxon_link.site_title, taxon_link.url_for_taxon(@taxon) -%>
            <%- if logged_in? -%>
              <span class="controls">
                <%= link_to image_tag('silk/pencil_grey.png'), edit_taxon_link_path(taxon_link), :title => "Edit this link" %>
              </span>
            <%- end -%>
          </li>
        <% end %>
        <% if @taxon_links.size > 4 -%>
          <li id="more_taxon_links_wrapper">
            <%= link_to_function "More", 
              "$('#more_taxon_links').toggle(); " + 
              "$(this).toggleClass('open'); " + 
              "$('#more_taxon_links_wrapper').toggleClass('open')",
              :id => 'more_taxon_links_button',
              :class => 'togglelink' %>
            <ul id="more_taxon_links" style="display: none">
              <%- @taxon_links[4..-1].each do |taxon_link| -%>
                <li class="taxon_link">
                  <%= link_to taxon_link.site_title, taxon_link.url_for_taxon(@taxon) -%>
                  <%- if logged_in? -%>
                    <span class="controls">
                      <%= link_to image_tag('silk/pencil_grey.png'), edit_taxon_link_path(taxon_link), :title => "Edit this link" %>
                    </span>
                  <%- end -%>
                </li>
              <%- end -%>
            </ul>
          </li>
        <% end %>
        <% if logged_in? -%>
          <li class="description" style="padding-right: 0">
            <%= link_to "Add a link &raquo;", new_taxon_link_path(:taxon_id => @taxon.id) %>
          </li>
        <% end -%>
      </ul>
    </div>
    <h3>
      Description
      <span class="description">(from
        <a href="http://en.wikipedia.org/wiki/<%= @taxon.name %>">Wikipedia</a>)
      </span>
    </h3>
    <% unless @taxon.auto_description? %>
    <h3 class="description">
      Automatic descriptions have been disabled for this taxon.
    </h3>
    <% else %>
      <div id="wikipedia_description">
        <p>
          <%= @taxon.wikipedia_summary unless @taxon.wikipedia_summary.blank? || !@taxon.wikipedia_summary.match(/^\d\d\d\d-\d\d-\d\d$/) %>
          <span class="loading status">Loading full description...</span>
        </p>
      </div>
      <div id="nodescription" style="display: none">
        <h3 class='description'>There isn't a Wikipedia article or 
        redirect titled '<i><%= @taxon.name %></i>'.  Perhaps you'd like to
        <a href='http://en.wikipedia.org/wiki/<%= @taxon.name %>'>
        make one</a>?</h3>
      </div>
    <% end %>
  </div>
</div><!-- end #rightcol -->
