<%- content_for(:title) do -%>
  <%= @title = default_taxon_name(@taxon) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "taxa" %>
  <style type="text/css" media="screen">
    #photo .taxonimage {display:block; width: auto; margin:0 auto 10px;min-width:310px;}
    .taxonimage, .taxa.grid .taxon {text-align:center;}
    #photo .nophoto.taxonimage {padding: 20px 0;}
    #photo .taxon .name { text-align: center; font-size: 200%; display:block; margin-bottom:10px;}
    .infolink {display:none;}
    .taxonimage img {max-width:310px;}
    .taxa.grid .info {height: 4em;}
    .wikipedia_summary { margin-bottom: 10px; }
    .taxa.grid .taxon {width:90px;}
    .taxa.grid .taxonimage, .taxa.grid .taxonimage a { width: 90px; height:90px;}
    .taxa.grid .taxonimage img { max-width: 90px; max-height: 90px;}
    #obslink { padding-left: 30px; background: url('/images/notebook-icon-color-15px.png') 9px 45% no-repeat; }
  </style>
<%- end -%> 
<% in_format :html do %>
  <div class="small stacked crumbs">
    <%= @taxon.self_and_ancestors.map{|t| link_to(t.name, t.name == 'Life' ? taxa_path : t)}.join(' > ') %>
  </div>
  <div id="photo" class="stacked">
    <%= render :partial => "taxa/taxon", :object => @taxon, :locals => {
      :image_options => {:size => "medium"},
      :include_image_attribution => true
    } %>
  </div>
  
  <%= link_to "View observations &raquo;", observations_path(:taxon_id => @taxon), 
    :id => "obslink",
    :class => "iconified full button inlineblock stacked " %>
  
  <% if !@siblings.blank? -%>
    <div class="siblings">
      <h3>Similar species</h3>
      <div class="taxa grid">
        <% for taxon in @siblings %>
          <%= render :partial => "taxa/taxon", :object => taxon, :locals => {
            :image_options => {:size => "thumb"},
            :link_image => true,
            :link_name => true,
            :hide_wikipedia_summary => true
          } %>
        <% end %>
      </div>
    </div>
  <% elsif !@children.blank? %>
    <div class="children">
      <h3>Child taxa</h3>
      <div class="taxa grid">
        <% for taxon in @children %>
          <%= render :partial => "taxa/taxon", :object => taxon, :locals => {
            :image_options => {:size => "thumb"},
            :link_image => true,
            :link_name => true,
            :hide_wikipedia_summary => true
          } %>
        <% end %>
      </div>
    </div>
  <% end -%>
<% end -%>
