- content_for :extrajs do
  :javascript
    $( document ).ready( function() {
      var taxon_framework_table = $( '.taxon_framework_table' );
      taxon_framework_table.hide();
      $( ".taxon_framework_count" ).find( 'a[href="#"]' ).click( function ( e ) {
        e.preventDefault();
        taxon_framework_table.slideToggle( 500 );
      } );      
      var flagged_taxa_table = $( '.flagged_taxa_table' );
      flagged_taxa_table.hide();
      $( ".flagged_taxa_count" ).find( 'a[href="#"]' ).click( function ( e ) {
        e.preventDefault();
        flagged_taxa_table.slideToggle( 500 );
      } );      
      $( '[data-toggle="popover"]' ).popover({html:true});
    } );
- content_for( :extracss ) do
  :css
    .table.table-bordered{
      border:0px;
    }
    .table.table-bordered > thead > tr > th{
      border:0px;
      border-bottom:1px solid gray;
    }
    .table.table-bordered > tbody > tr > td{
      border:0px;
    }
    .info-link{
      color: "green";
    }
    .media{
      margin-bottom:5px;
    }
    .admin-box {
        border-width: 2px;
        border-style: dotted;
        position: relative;
        padding: 5px;
    }
.container
  .col-md-12
    %ul.list-unstyled
      %li
        = link_to t(:back_to_x, :noun => @taxon.name), @taxon, :class => "back crumb"
    - if @taxon_framework_relationship
      .pull-right
        = link_to t(:view_taxon_framework_relationship), taxon_framework_relationship_path( @taxon_framework_relationship )
    %h3
      = t(:taxonomy_details_for)
      \#{render :partial => "shared/taxon", :object => @taxon, :locals => { :link_url => url_for(@taxon) }}
      %span.glyphicon.glyphicon-info-sign.info-link{ "style" => "margin-left:5px;font-size:15px;color:gray", "data-content" => t(:taxonomy_details_info), "data-placement" => "top", "data-toggle" => "popover" }
    - if @upstream_taxon_framework
      = render :partial => '/taxon_framework_relationships/show_taxon_framework_relationship_container', object: { upstream_taxon_framework: @upstream_taxon_framework, taxon_framework_relationship: @taxon_framework_relationship, taxon: @taxon, taxon_framework: @taxon_framework, downstream_deviations_counts: @downstream_deviations_counts, downstream_flagged_taxa_count: @downstream_flagged_taxa_count, downstream_flagged_taxa: @downstream_flagged_taxa}
    - else
      .panel.panel-default
        .panel-heading
          = t :not_covered_by_any_taxon_frameworks
          - if @taxon.rank_level == Taxon::ROOT_LEVEL
            = "(" + t( :x_is_the_root_of_the_tree, rank: t("ranks.#{@taxon.rank}").capitalize, name: @taxon.name ) + ")"
    - if @taxon_framework
      = render :partial => 'defines_taxon_framework', object: { taxon_framework: @taxon_framework, taxon: @taxon, overlapping_downstream_taxon_frameworks_count: @overlapping_downstream_taxon_frameworks_count, overlapping_downstream_taxon_frameworks: @overlapping_downstream_taxon_frameworks, deviations_count: @deviations_count, tfr_count: @tfr_count, taxon_curators: @taxon_curators, flagged_taxa: @flagged_taxa, flagged_taxa_count: @flagged_taxa_count, relationship_unknown_count: @relationship_unknown_count  }
    - else
      - if is_admin?
        .pull-right
          .admin-box
            = link_to "Add Taxon Framework", new_taxon_framework_path( { taxon_id: @taxon.id } )
