.clear.stacked
  = link_to taxon_image(@taxon, :size => "small", :class => "right"), @taxon
  = render "shared/taxon", :taxon => @taxon, :link_url => @taxon
  .description= (@taxon.wikipedia_summary || t(:no_summary_from_wikipedia)).html_safe

%table{:width => "100%"}
  %colgroup
    %col
    - if @observation && !@places.blank?
      %col{:span => @places.size}
    %col{:span => [true, current_user, @observation].compact.size, :style => "background-color: #eee"}
  %tr
    %th= t(:taxon)
    - if @observation && !@places.blank?
      %th{:colspan => @places.size}= t(:identotron_for)
    %th{:colspan => [true, current_user, @observation].compact.size}= t(:observations_by)
  - for taxon in @taxon.self_and_ancestors[1..-1]
    %tr
      %td.nobr
        = link_to_taxon(taxon, :sciname => true)
      - if @observation && !@places.blank?
        - for place in @places
          %td
            = link_to place.code || place.name, identotron_path(:observation_id => @observation, :place => place.id, :taxon => taxon.id)
      %td
        = link_to(t(:everyone), observations_path(:taxon_id => taxon.id))
      - if @observation
        %td= link_to( @observation.user.login, observations_path( user_id: @observation.user.login, taxon_id: taxon.id ) )
      - if logged_in?
        %td= link_to( t(:you), observations_path( user_id: current_user.login, taxon_id: taxon.id ) )
