<%- check_list ||= form ||= @check_list -%>
<%= error_messages_for :check_list %>
<%= form_for check_list, :builder => DefaultFormBuilder do |f| %>
  <%= f.hidden_field :place_id %>
  <%- optionscol = capture do -%>
    <div id="taxonfield" class="type_fields">
      <h3><%= t :what_want_to_list? %> <span class="small description">(<%= t :optional %>)</span></h3>
      <p class="ui description">
        <%= t :check_list_description %>
      </p>
      
      <% if check_list.taxon -%>
        <%- alt_name = capture do -%>
          <%= render :partial => "shared/taxon", :locals => { :taxon => check_list.taxon, :no_common => true } -%>
        <%- end -%>
        <%= f.hidden_field(:taxon_id, :alt => alt_name.html_safe.gsub(/"/, "'"), :rel => taxon_image_url(check_list.taxon)) %>
      <%- else -%>
        <%= f.hidden_field(:taxon_id) %>
      <% end -%>

      <%= fields_for :taxon, check_list.taxon, :builder => DefaultFormBuilder do |t| %>
        <%= t.text_field :name, :label => t(:add_higher_level_taxon) %>
      <% end %>
      
      <label><%= t :or_choose_high_level_taxa %></label>
      <%= collection_select :iconic_taxon, :id, @iconic_taxa, :id, 
        :to_plain_s, {:include_blank => true}, :class => 'select' %>
    </div>
    
    <% if is_admin? -%>
      <% if check_list.new_record? -%>
        <div class="box">
          <%= t :new_check_list_record %>
        </div>
      <% else %>
        <%= f.check_box :comprehensive, :label => t(:comprehensive?), :label_after => true,
          :description => t(:contain_all_descendants?) %>
      <% end -%>
    <% end -%>
  <%- end -%>
  
  <%= render :partial => 'lists/form_fields', :locals => {
    :f => f,
    :optionscol => optionscol
  } %>
  
  <div class="stacked column span-24">
    <%= render :partial => "sources/nested_form_fields", :locals => { :f => f, :label_text => t(:source) + " <span class=\"meta\">(" + t(:optional) + ")</span>" } %>
  </div>
  
  <div class="column span-24">
    <div class="clear buttonrow">
      <%= f.submit t(:save), :class => 'default button' %>
      <%= link_to t(:cancel), check_list.place || places_path, :class => 'button' %>
      <%= link_to(t(:delete), check_list,
        :data => {:confirm => t(:you_sure_delete_check_list)},
        :method => :delete, :class => 'minor delete button') unless check_list.new_record? %>
    </div>
  </div>
<% end %>
