<h1>
  Find Missing Listings
</h1>
Find taxa listed in this place elsewhere, but missing from the <%= list_title %>.
<br>
<form action="">
  <input class="taxonchooser nosubmit" name="missing_filter_taxon" type="text" class="text" placeholder="<%= @missing_filter_taxon ? @missing_filter_taxon.name : (t :type_taxon_name) %>" value="<%= @missing_filter_taxon.try(&:id) %>" style="width:200px"/>
  <br>
  <%= check_box_tag "hide_ancestors", @hide_ancestors, @hide_ancestors %>
  Hide ancestors of listed taxa on the checklist
  <br>
  
  <%# <input type="checkbox" name="hide_descendants" value=<%=params[:hide_descendants]%>
  <%= check_box_tag "hide_descendants", @hide_descendants, @hide_descendants %>
  Hide descendants of listed taxa on the checklist
  <br>
  <input type="hidden" name= 'find_missing_listings' value="true">
  <input type="submit" value="filter">
  <% missing_listings.each do |missing_listing| %>
    <div id="innerstats">
      <span class="stat no-toggle <%=missing_listing.taxon.iconic_taxon.name if missing_listing.taxon.iconic_taxon %>" href="/check_lists/92970-Plants-of-Fort-Funston?find_missing_listings=true&amp;iconic_taxon=47126">
        <span class="title"> &nbsp; </span>
      </span>
      <%= missing_listing.taxon.name %>
      <%= link_to "view listing", listed_taxon_path(missing_listing) %>
    </div>
  <% end %>
</form>
<br>
<div id="pagination">
  <%= will_paginate missing_listings, {:renderer => INatLinkRenderer, param_name: "missing_listings_page"} %>
</div>
<br>
