<% content_for(:title) do -%>
  <%= @title = "Editing #{@list.title}" %>
<% end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'lists/form', 'check_lists/form' %>
<% end -%>
<% content_for(:extrajs) do -%>
  <%= javascript_include_tag 'check_lists/form' %>
<% end -%>
<div id="pageheader" class="column span-24 last">
  <span class="breadcrumbs">
    <%= link_to "Back to #{@list.title}", @list, :class => 'back crumb' %>
  </span>
  <h2><%= @title %></h2>
</div>

<div class="column span-24">
  <%= render :partial => 'form', :object => @list %>
</div>
