<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "jquery/plugins/jquery.autocomplete.css", "projects/form" %>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= google_maps_js %>
  <script type="text/javascript">
    var PROJECT = <%=json_escape @project.to_json.html_safe %>,
        PLACE = <%=json_escape @project.place.to_json(:methods => [:kml_url]).html_safe %>,
        SHOW_PLACE_GEOMETRY = <%= @place_geometry ? "true" : "false" %>,
        KML_ASSET_URLS = <%= @kml_assets ? @kml_assets.map{|a| root_url.gsub(/\/$/, "") + a.asset.url}.inspect.html_safe : "[]" %>
    $( function( ) {
      $("form.project_form").confirmModal({
        condition: function( ) {
          return $("#aggregation").is(":visible") &&
            $("#project_prefers_aggregation").prop( "checked" );
        },
        text: function( ) {
          var rules = $(".observationrules ul").clone( );
          rules.find( "a" ).remove( );
          var text = I18n.t( "you_are_setting_this_project_to_aggregate", {
            rules: rules[0].outerHTML
          });
          return text;
        },
        onCancel: function( ) {
          var button = $( "input[name='commit']" );
          button.enable( );
          button.removeClass( "description" );
          button.attr( "value", button.data( "originalValue" ) );
        }
      });
    });
  </script>
  <%= javascript_include_tag "observations/observation_fields",
                             'map_bundle',
                             "jquery/plugins/jquery.latLonSelector.js",
                             "jquery/plugins/inat/datepicker.js",
                             "projects/form" %>
<%- end -%>
<%- project ||= @project -%>
<%= form_for project, :builder => DefaultFormBuilder, :html => {:multipart => true, :class => "project_form"} do |f| %>
  <%= f.error_messages %>

  <div class="column span-12">
    <%= f.text_field :title, :required => true %>
    <%= f.select :project_type, @project_types.map{ |type| [ t( type.gsub( " ", "_" ), default: type ).downcase, type ] },
      :include_blank => t(:normal),
      :description => t(:project_type_description) %>
  </div>
  
  <div id="icon_fields" class="column span-12 last">
    <%= f.form_field :project_icon, :label => "#{t(:project_icon)} (PNG, JPG, or GIF)", :description => t('views.projects.edit.icon_desc'), :wrapper => {:class => 'clear'} do %>
      <% if project.icon.file? -%>
        <%= image_tag(project.icon.url(:thumb), :class => "left") %>
        <div>
          <%= check_box_tag :icon_delete %>
          <label for="icon_delete"><%=t :delete_icon? %></label>
        </div>
        <%= link_to_toggle t(:change_icon), "#iconfield" %>
        <div id="iconfield" style="display: none">
          <%= f.file_field :icon, :label => false, :accept => "image/jpg,image/jpeg,image/png,image/gif" %>
        </div>
      <% else %>
        <%= f.file_field :icon, :label => false, :size => 20, :accept => "image/jpg,image/jpeg,image/png,image/gif" %>
      <% end -%>
    <% end %>

    <%= f.form_field :project_cover, :label => "#{t(:project_cover)} (PNG, JPG, or GIF)", :description => t('views.projects.edit.cover_desc'), :wrapper => {:class => 'clear'} do %>
      <% if project.cover.file? -%>
        <%= image_tag(project.cover.url, :class => "left", :style => "max-width:200px") %>
        <div>
          <%= check_box_tag :cover_delete %>
          <label for="cover_delete"><%=t :delete_cover? %></label>
        </div>
        <%= link_to_toggle t(:change_cover), "#coverfield" %>
        <div id="coverfield" style="display: none">
          <%= f.file_field :cover, :label => false, :accept => "image/jpg,image/jpeg,image/png" %>
        </div>
      <% else %>
        <%= f.file_field :cover, :label => false, :size => 20, :accept => "image/jpg,image/jpeg,image/png" %>
      <% end -%>
    <% end %>
  </div>

  <div class="column span-12">
    <%= f.form_field :preferred_membership_model, :description => t(:project_membership_model_description) do %>
      <% for type in Project::MEMBERSHIP_MODELS %>
        <%= f.radio_button "preferred_membership_model", type, :label => t(type), :label_after => true, :wrapper => {:class => "inlineblock"} %>  
      <% end %>
    <% end -%>
  </div>

  <div class="last column span-12">
    <%= f.form_field :preferred_submission_model, description: t(:submission_model_description) do %>
      <% for type in Project::SUBMISSION_MODELS %>
        <%= f.radio_button "preferred_submission_model", type, :label => t("views.projects.edit.submission_models.#{type}", default: type), :label_after => true, :wrapper => {:class => "inlineblock"} %>  
      <% end %>
    <% end -%>
  </div>
  
  <%= f.text_area :description, :description => t(:describe_purpose) %>
  <%= f.text_area :terms, :description => t(:terms_new_users) %>

  <div class="column span-24">
    <fieldset id="bioblitz" style="<%= "display:none;" unless @project.bioblitz? %>">
      <legend><%=t :bioblitz %></legend>
      <div class="description"><%= t('views.projects.edit.bioblitz_desc_html') %></div>
      <div class="column span-12">
        <%= f.text_field :start_time, :value => f.object.start_time ? f.object.start_time.iso8601 : nil, :description => t('views.projects.edit.start_time_desc') %>
      </div>
      <div class="last column span-11">
        <%= f.text_field :end_time, :value => f.object.end_time ? f.object.end_time.iso8601 : nil, :description => t('views.projects.edit.end_time_desc') %>
      </div>
      <div class="column span-23">
        <%= f.check_box :prefers_range_by_date, label_after: true, label: t(:ignore_times), description: "If your bioblitz spans multiple days and multiple time zones and you don't care about the exact time of the boundaries, you can just calculate the stats by the date the observations were made." %>
      </div>
      <div class="column span-23">
        <%= f.text_field :event_url, :placeholder => t(:event_url), :description => t('views.projects.edit.event_url_desc') %>
      </div>
    </fieldset>
  </div>

  <div class="column span-24">
    <fieldset class="location">
      <legend><%= t :location %></legend>
      <p class="description">
        <%= t :if_your_project_is %>
      </p>
      <div class="column span-7">
        <%= f.text_field :latitude, :label => t(:latitude) %>
        <%= f.text_field :longitude, :label => t(:longitude)%>
        <%= f.select :map_type, Project::MAP_TYPES.map{|type| [t(type, default: type).downcase, type]} %>
        <%= f.text_field :zoom_level %>
        <%= f.text_field :place_id, :placeholder => t(:start_typing_place_name), :label => t(:site_name_place, :site_name => @site.name) %>
        <% if @place -%>
          <%= link_to t(:view_place), @place, :class => "readmore", :target => "_blank", rel: "noopener noreferrer" %>
        <% end -%>
        <div class="upstacked stacked">
          <label><%=t :not_finding_place_you_want? %></label>
          <div class="meta">
            <%=t "views.projects.edit.new_place_desc_html",
              places_url: places_url,
              new_place_url: new_place_url %>
          </div>
        </div>
        <%= f.check_box :prefers_place_boundary_visible, :label_after => true, :description => t(:you_can_show_the_boundary_of) %>
      </div>
      <div class="last column span-16">
        <div class="stacked">
          <%= text_field_tag :map_search, "", :placeholder => t(:search_the_map), :class => "text" %>
        </div>
        <div id="map"></div>
      </div>
    </fieldset>
  </div>

  <fieldset id="aggregation" class="observationrules<% unless @project.bioblitz? || is_curator? -%> curatorsonly<% end -%>" <% unless @project.prefers_aggregation? && (@project.bioblitz? || is_curator?) -%>style="display:none"<% end -%>>
    <legend><%= t(:observation_aggregation).titleize %></legend>
    <%= f.check_box :prefers_aggregation, label_after: true, label: t(:automatically_add_observations_to_this_project) %>
    <div id="last_aggregated_at" class="column span-24" <% unless @project.prefers_aggregation? -%>style="display:none"<% end -%>>
      <div class="inlabel">
        <label for="last_aggregated_at">
          <%= t("activerecord.projects.last_aggregated_at") %>
        </label>
      </div>
      <div class="description"><%= t("views.projects.edit.last_aggregated_at_desc") %></div>
      <span class="static_value">
        <%= f.object.last_aggregated_at ? f.object.last_aggregated_at.iso8601 : t("views.projects.edit.aggregation_pending") %>
      </span>
    </div>
    <%=t 'views.projects.edit.observation_aggregation_desc_html' %>
  </fieldset>

  <fieldset class="observationrules">
    <legend><%= t(:observation_rules).titleize %></legend>
    <p class="description">
      <%= raw t(:observation_rules_description, :site_name => @site.preferred_site_name_short) %>
    </p>

    <ul>
      <li id="observed_after_rule" style="display:none" />
      <li id="observed_before_rule" style="display:none" />
      <%= f.fields_for :project_observation_rules do |por| %>
        <li>
          <%= por.object.terms %>
          <%= por.hidden_field :id, label: false %>
          <%= por.hidden_field :_destroy, :class => "destroyer", label: false %>
          <%- unless por.object.operand_type == "ObservationField" -%>
            <%= link_to_function t(:remove),
              "$(this).parent().fadeTo('fast', 0.5).css('text-decoration', 'line-through');" +
              "$(this).parent().find('.destroyer').val(true)" %>
          <%- end -%>
        </li>
      <% end %>
    </ul>

    <%- new_rule_field = capture do %>
      <fieldset id="new_project_observation_rule">
        <%= f.fields_for :project_observation_rules, [Rule.new] do |pu| %>
          <%= pu.select :operator, ProjectObservation::RULE_METHODS.map{|m| [t("views.projects.edit.rules.#{m.to_s.underscore.gsub('?', '').downcase}", :default => m.to_s.humanize.gsub('?', '')).downcase, m]},
            :include_blank => t(:choose_rule),
            :label => t(:observation_must_dotdotdot) %>
          <%= pu.hidden_field :operand_type, :id => "new_operand_type" %>
          <div id="place_selector">
            <%= pu.text_field :operand_id, :id => "new_operand_id", :placeholder => t(:type_place_name), :label => t(:choose_a_place) %>
            <span class="description">
              <%=t :place_must_have_a_boundary_defined %> <%=t :not_finding_place_you_want? %>
              <%= link_to t(:make_a_new_place), new_place_path, :class => "readmore", :target => "_blank", rel: "noopener noreferrer" %>
            </span>
          </div>
          <div id="taxon_selector">
            <label for="taxon_q"><%=t :choose_taxon %></label><br/>
            <input type="text" name="taxon_q" value="" id="taxon_q" class="text">
          </div>
        <% end %>
        <%= link_to_function t(:remove), "$(this).parent().next('a').show();$(this).parent().remove() " %>
      </fieldset>
    <% end -%>
    <%= link_to_function t(:add_new_rule), "$(this).before('#{escape_javascript new_rule_field}'); rulify(); $(this).hide()" %>
  </fieldset>

  <div class="column span-24">
    <fieldset id="taxa">
      <legend><%=t :project_list %></legend>
      <%=t 'views.projects.edit.project_list_desc_html' %>
      <%= f.check_box :prefers_display_checklist,
          :label => t(:display_link_to_checklist),
          :label_after => true %>
    </fieldset>
  </div>
    
  <% if (current_user.is_admin? || (@project.editable_by?(current_user) && @project.trusted)) && !@project.new_record? -%>
    <fieldset id="project_assets">
      <legend><%=t :project_assets %></legend>
      <%=t 'views.projects.edit.project_assets_desc_html' %>
      <ul>
        <% for project_asset in @project.project_assets %>
        <li>
          <%= link_to project_asset.asset.url, project_asset.asset.url %>
          <small style="margin-left: 10px">
            <%= link_to t(:edit), edit_project_asset_path(project_asset) %>
            <%= link_to t(:delete), project_asset, :method => :delete, 
              :data => {:confirm => t(:you_sure_delete_asset?)},
              :class => 'description' %>
          </small>
        </li>
        <% end %>
      </ul>

      <%= link_to t(:add_asset), new_project_asset_path(:project_id => @project.id), :class => "readmore", :target => "_blank", rel: "noopener noreferrer" %>
    </fieldset>

    <fieldset id="custom_project_fields">
      <legend><%=t :custom_project_fields %></legend>
      <p class="description"><%= t('views.projects.edit.custom_project_fields_means') %></p>
      <% if @project.custom_project -%>
        <%= link_to t(:edit_custom_project_fields), edit_custom_project_path(@project.custom_project), :class => "readmore", :target => "_blank", rel: "noopener noreferrer" %>
      <% else %>
        <%= link_to t(:add_custom_project_fields), new_custom_project_path(:project_id => @project.id), :class => "readmore", :target => "_blank", rel: "noopener noreferrer" %>
      <% end -%>
    </fieldset>

    <% if current_user.is_admin? && !@project.new_record? -%>
        <fieldset class="admin">
          <legend><%= t :extra_properties %></legend>

          <%= f.text_field :group,
            :label => t(:project_group_label),
            :description => t(:project_group_description) %>
          <%= f.text_field :source_url, :description => t(:url_identifier_of_a_project_derived_from) %>

          <%= f.check_box :trusted,
                        :label => t(:trusted_project?),
                        :label_after => true, :description => t('views.projects.edit.trusted_project_means') %>
        </fieldset>
    <%- end %>
  <% end -%>

  <fieldset>
    <legend><%= t :observation_fields %></legend>
    <p class="description">
      <%= t :suggest_or_require_that %>
    </p>

    <ul class="project_observation_fields">
      <%= f.fields_for :project_observation_fields do |pof| %>
        <%= render 'project_observation_field_row', :builder => pof %>
      <% end -%>
    </ul>
    <div>
      <%- new_pof_fields = capture do %>
        <%= f.fields_for :project_observation_fields, f.object.project_observation_fields.build do |pof| %>
          <%= render 'project_observation_field_row', :builder => pof %>
        <% end -%>
      <% end -%>
      <div class="inline buttonrow">
        <label><%= t :add_a_field %></label>
        <input name="observation_field"
               class="observation_field_chooser"
               type="text"
               placeholder="<%= t :start_typing_field_name %>"
               data-chooser-default-sources="<%=json_escape @observation_fields.to_json.html_safe %>">
        <%= link_to_function t(:add_a_field), "newProjectObservationField('#{escape_javascript(new_pof_fields)}')", :class => "button addfieldbutton" %>
        <%= link_to t(:create_a_new_field), new_observation_field_path, :id => "createfieldbutton", :class => "button" %>
      </div>
    </div>
  </fieldset>

  <% if @project.persisted? %>
    <fieldset id="change-admin">
      <legend><%=t :change_admin %></legend>
      <p class="description">
        <%=t "views.projects.edit.change_admin_desc" %>
      </p>
      <ul class="plain">
        <% if @project_curators.blank? %>
          <div class="nocontent">
            <%=t "views.projects.edit.no_curators" %>
          </div>
        <% else %>
          <%- for pu in @project_curators %>
            <li class="inline smallbuttons buttonrow">
              <span class="inter">
                <%= link_to image_tag( pu.user.icon.url(:mini), class: "usericon" ), pu.user %>
                <%= link_to_user pu.user %>
              </span>
              <%= link_to t(:make_admin), change_admin_project_path( @project, pu.user ),
                class: "inline button smallbutton glaucous",
                data: {
                  method: "put",
                  confirm: t(:are_you_sure_no_undo)
                } %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </fieldset>
  <% end %>

  <%= f.text_field :tracking_codes, :description => t(:comma_separated_list_of_tracking_codes, :root_url => root_url, :project_id => @project.id) %>

  <div class="buttons buttonrow">
    <%= f.submit project.new_record? ? t(:create) : t(:save), :class => "default button", "data-loading-click" => t(:saving) %>
    <%= link_to t(:cancel), projects_path, :class => "button" %>
    <% if @project_user && @project_user.is_admin? && !project.new_record? -%>
      <%= link_to t(:delete_project), project, :method => :delete,
        :data => {:confirm => t(:you_sure_delete_project?)},
        :class => "minor delete button" %>
    <% end -%>
    <span class="inter right">
      <span class="required">* <%= t(:required_field) %></span>
    </span>
  </div>
<% end %>
