<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "jquery/plugins/jquery.autocomplete.css" %>
  <style type="text/css" media="screen">
    .title_field,.description_field,.project_type_field{margin-right:20px;}
    .description_field,.terms_field,.title_field, .preference_fields, .project_type_field{float:left;width:465px;}
    .project_icon_field{float:left;width:225px;}
    .description_field,.project_type_field{clear:left;}
    .title_field input{width:390px;}
    .description_field textarea,.terms_field textarea{width:450px;}
    #place_q,#taxon_q{width:300px;}
    .observationrules{clear:left;}
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag 'jquery/plugins/jquery.autocomplete.min.js',
                             'jquery/plugins/inat/place_autocomplete.js',
                             'jquery/plugins/inat/taxon_selectors.js' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

    })
    function rulify() {
      $('#place_q').placeAutocomplete('<%= url_for(:controller => "places", :action => "autocomplete") %>', {
        placeIdField: $('#new_operand_id'),
        afterChoosePlace: function(input, json) {
          $('#new_operand_type').val("Place")
        },
        afterClearPlace: function(input, json) {
          $('#new_operand_type').val('')
        }
      })
      
      $('#taxon_q').simpleTaxonSelector({
        taxonIDField: $('#new_operand_id'),
        afterSelect: function() {
          $('#new_operand_type').val("Taxon")
        },
        afterUnselect: function() {
          $('#new_operand_type').val('')
        }
      })
      $('#taxon_selector').hide()
      
      $('.observationrules .togglelink').click()
      
      $('.operator_field select').change(function() {
        if ($(this).val() == 'observed_in_place?') {
          $('#place_selector').show()
        } else {
          $('#place_selector').hide()
        }
        if ($(this).val() == 'in_taxon?') {
          $('#taxon_selector').show()
        } else {
          $('#taxon_selector').hide()
        }
      })
      $('.operator_field select').change()
    }
  </script>
<%- end -%>
<%- project ||= @project -%>
<% form_for project, :builder => DefaultFormBuilder, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  
  <%= f.text_field :title, :required => true %>
  
  <% f.form_field :project_icon, :wrapper => {:class => 'clear'} do %>
    <% if project.icon.file? -%>
      <%= image_tag(project.icon.url(:thumb), :class => "left") %>
      <div>
        <%= check_box_tag :icon_delete %>
        <label for="icon_delete">Delete icon?</label>
      </div>
      <%= link_to_toggle "Change icon", "#iconfield" %>
      <div id="iconfield" style="display: none">
        <%= f.file_field :icon, :label => false %>
      </div>
    <% else %>
      <%= f.file_field :icon, :label => false, :size => 20 %>
    <% end -%>
  <% end %>
  
  <%= f.text_area :description, :description => "Describe the purpose of this project." %>
  <%= f.text_area :terms, :description => "Terms new users must agree to before joining this project." %>
  
  <%= f.select :project_type, Project::PROJECT_TYPES, {:include_blank => "normal"},
    :description => "Contest projects will rank contributors base on how many unique species they've observed." %>
  
  <div class="preference_fields">
    <%= f.check_box :prefers_count_from_list, 
      :label => "Show total listed taxa", 
      :label_after => true,
      :description => 
        "Show the total number of taxa on the project's list alongside " + 
        "the number of taxa observed." %>
    <%= f.check_box :prefers_place_boundary_visible, 
      :label => "Show place boundary on map", 
      :label_after => true,
      :description => 
        "If you have an observation rule specifying a place (see below), " + 
        "you can show the boundary of that place on your project page, if " + 
        "the place has a boundary." %>
  </div>
  
  <!-- <fieldset class="userrules">
    <legend>New User Rules</legend>
    
    <% f.fields_for :project_user_rules do |pu| %>
      <div>
        <%= pu.select :operator, ProjectUser::RULE_METHODS, :include_blank => "Choose a rule" %>
        <%= pu.hidden_field :_destroy, :class => "destroyer" %>
        <%= link_to_function "remove", "$(this).parent().fadeTo('fast', 0.5); $(this).parent().find('.destroyer').val(true)" %>
      </div>
    <% end %>
    <% f.fields_for :project_user_rules, [Rule.new] do |pu| %>
      <div>
        <%= pu.select :operator, ProjectUser::RULE_METHODS, :include_blank => "Choose a rule" %>
        <%= link_to_function "add another", "$(this).parent().clone().appendTo($(this).parents('fieldset'))" %>
      </div>
    <% end %>
  </fieldset> -->
  
  <fieldset class="observationrules">
    <legend>New Observation Rules</legend>
    <p class="description">
      You can choose rules to determine what observations can be added to this
      project, like limiting observations to a certain place. Note: limiting
      to places currently relies on iNat Places, and can only limit
      observations to the smallest rectangle that surrounds a place.
    </p>
    
    <ul>
      <% f.fields_for :project_observation_rules do |por| %>
        <li>
          <%= por.object.terms %>
          <%= por.hidden_field :_destroy, :class => "destroyer" %>
          <%= link_to_function "remove", 
            "$(this).parent().fadeTo('fast', 0.5).css('text-decoration', 'line-through');" + 
            "$(this).parent().find('.destroyer').val(true)" %>
        </li>
      <% end %>
    </ul>
    
    <%- new_rule_field = capture do %>
      <fieldset id="new_project_observation_rule">
        <% f.fields_for :project_observation_rules, [Rule.new] do |pu| %>
          <%= pu.select :operator, ProjectObservation::RULE_METHODS.map{|m| [m.to_s.humanize.gsub('?', '').downcase, m]}, 
            :include_blank => "Choose a rule",
            :label => "Rule: must be..." %>
          <%= pu.hidden_field :operand_type, :id => "new_operand_type" %>
          <%= pu.hidden_field :operand_id, :id => "new_operand_id" %>
          <div id="place_selector">
            <label for="place_q">Choose a place</label><br/>
            <input type="text" name="place_q" value="" id="place_q" class="text">
            <span class="description">
              Not finding the place you want?
              <%= link_to "Make a new place", new_place_path, :class => "readmore", :target => "_blank" %>
            </span>
          </div>
          <div id="taxon_selector">
            <label for="taxon_q">Choose a taxon</label><br/>
            <input type="text" name="taxon_q" value="" id="taxon_q" class="text">
          </div>
        <% end %>
        <%= link_to_function "remove", "$(this).parent().next('a').show();$(this).parent().remove() " %>
      </fieldset>
    <% end -%>
    <%= link_to_function "add a new rule", "$(this).before('#{escape_javascript new_rule_field}'); rulify(); $(this).hide()" %>
  </fieldset>
  
  <% if current_user.is_admin? && !@project.new_record? -%>
    <fieldset id="project_assets">
      <legend>Project Assets</legend>
      
      <ul>
        <% for project_asset in @project.project_assets %>
        <li>
          <%= link_to project_asset.asset.url, project_asset.asset.url %>
          <small style="margin-left: 10px">
            <%= link_to "edit", edit_project_asset_path(project_asset) %>
            <%= link_to "delete", project_asset, :method => :delete, :confirm => "Are you sure you want to delete this asset?", 
              :class => 'description' %>
          </small>
        </li>
        <% end %>
      </ul>
      
      <%= link_to "Add asset", new_project_asset_path(:project_id => @project.id), :class => "readmore" %>
    </fieldset>
    
    <fieldset id="custom_project_fields">
      <legend>Custom Project Fields</legend>
      
      <% if @project.custom_project -%>
        <%= link_to "Edit custom project fields", edit_custom_project_path(@project.custom_project), :class => "readmore" %>
      <% else %>
        <%= link_to "Add custom project fields", new_custom_project_path(:project_id => @project.id), :class => "readmore" %>
      <% end -%>
    </fieldset>
  <% end -%>

  <div class="buttons">
    <%= f.submit project.new_record? ? "Create" : "Save", :class => "default button", "data-loading-click" => "Saving..." %>
    <%= link_to "Cancel", projects_path, :class => "button" %>
    <% unless project.new_record? -%>
      <%= link_to "Delete this project", project, :method => :delete, 
        :confirm => "Are you sure you want to delete this project?",
        :class => "minor delete button" %>
    <% end -%>
  </div>
<% end %>
