<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "jquery/plugins/jquery.autocomplete.css" %>
  <style type="text/css" media="screen">
    .title_field,.description_field{margin-right:20px;}
    .description_field,.terms_field,.title_field{float:left;width:465px;}
    .project_icon_field{float:left;width:225px;}
    .description_field,.project_type_field{clear:left;}
    .title_field input{width:390px;}
    .description_field textarea,.terms_field textarea{width:450px;}
    #place_q,#taxon_q{width:300px;}
    .observationrules{clear:left;}
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag 'jquery/plugins/jquery.autocomplete.min.js',
                             'jquery/plugins/inat/place_autocomplete.js' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

    })
    function rulify() {
      $('#place_q').placeAutocomplete('<%= url_for(:controller => "places", :action => "autocomplete") %>', {
        placeIdField: $('#new_operand_id'),
        afterChoosePlace: function(input, json) {
          $('#new_operand_type').val("Place")
        },
        afterClearPlace: function(input, json) {
          $('#new_operand_type').val('')
        }
      })
      
      $('#taxon_q').simpleTaxonSelector({
        taxonIDField: $('#new_operand_id'),
        afterSelect: function() {
          $('#new_operand_type').val("Taxon")
        },
        afterUnselect: function() {
          $('#new_operand_type').val('')
        }
      })
      $('#taxon_selector').hide()
      
      $('.observationrules .togglelink').click()
      
      $('.operator_field select').change(function() {
        if ($(this).val() == 'observed_in_place?') {
          $('#place_selector').show()
        } else {
          $('#place_selector').hide()
        }
      })
      $('.operator_field select').change()
    }
  </script>
<%- end -%>
<%- project ||= @project -%>
<% form_for project, :builder => DefaultFormBuilder, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :title, :required => true %>
  
  <% f.form_field :project_icon, :wrapper => {:class => 'clear'} do %>
    <% if project.icon.file? -%>
      <%= image_tag(project.icon.url(:thumb), :class => "left") %>
      <div>
        <%= check_box_tag :icon_delete %>
        <label for="icon_delete"><%=t :delete_icon? %></label>
      </div>
      <%= link_to_toggle t(:change_icon), "#iconfield" %>
      <div id="iconfield" style="display: none">
        <%= f.file_field :icon, :label => false %>
      </div>
    <% else %>
      <%= f.file_field :icon, :label => false, :size => 20 %>
    <% end -%>
  <% end %>
  
  <%= f.text_area :description, :description => t(:describe_purpose) %>
  <%= f.text_area :terms, :description => t(:terms_new_users) %>

  <%= f.select :project_type, Project::PROJECT_TYPES, {:include_blank => "normal"},
    :description => t(:contest_projects_description) %>
  
  <div class="preference_fields">
    <%= f.check_box :prefers_count_from_list, 
      :label => "Show total listed taxa", 
      :label_after => true,
      :description => 
        "Show the total number of taxa on the project's list alongside " + 
        "the number of taxa observed." %>
    <%= f.check_box :prefers_place_boundary_visible, 
      :label => "Show place boundary on map", 
      :label_after => true,
      :description => 
        "If you have an observation rule specifying a place (see below), " + 
        "you can show the boundary of that place on your project page, if " + 
        "the place has a boundary." %>
  </div>
  
  <!-- <fieldset class="userrules">
    <legend><%= t(:new_user_rules) %></legend>
    
    <% f.fields_for :project_user_rules do |pu| %>
      <div>
        <%= pu.select :operator, ProjectUser::RULE_METHODS, :include_blank => t(:choose_rule) %>
        <%= pu.hidden_field :_destroy, :class => "destroyer" %>
        <%= link_to_function t(:remove), "$(this).parent().fadeTo('fast', 0.5); $(this).parent().find('.destroyer').val(true)" %>
      </div>
    <% end %>
    <% f.fields_for :project_user_rules, [Rule.new] do |pu| %>
      <div>
        <%= pu.select :operator, ProjectUser::RULE_METHODS, :include_blank => t(:choose_rule) %>
        <%= link_to_function t(:add_another), "$(this).parent().clone().appendTo($(this).parents('fieldset'))" %>
      </div>
    <% end %>
  </fieldset> -->
  
  <fieldset class="observationrules">
    <legend><%=t :new_observation_rules %></legend>
    <p class="description">
    
      <%= raw t(:observation_rules_description) %> 
    </p>
    
    <ul>
      <% f.fields_for :project_observation_rules do |por| %>
        <li>
          <%= por.object.terms %>
          <%= por.hidden_field :_destroy, :class => "destroyer" %>
          <%= link_to_function t(:remove), 
            "$(this).parent().fadeTo('fast', 0.5).css('text-decoration', 'line-through');" + 
            "$(this).parent().find('.destroyer').val(true)" %>
        </li>
      <% end %>
    </ul>
    
    <%- new_rule_field = capture do %>
      <fieldset id="new_project_observation_rule">
        <% f.fields_for :project_observation_rules, [Rule.new] do |pu| %>
          <%= pu.select :operator, ProjectObservation::RULE_METHODS.map{|m| [m.to_s.humanize.gsub('?', '').downcase, m]}, 
            :include_blank => t(:choose_rule),
            :label => t(:rule_must_be) %>
          <%= pu.hidden_field :operand_type, :id => "new_operand_type" %>
          <%= pu.hidden_field :operand_id, :id => "new_operand_id" %>
          <div id="place_selector">
            <label for="place_q"><%=t :choose_place %></label><br/>
            <input type="text" name="place_q" value="" id="place_q" class="text">
            <span class="description">
              <%=t :not_finding_place_you_want? %>
              <%= link_to t(:make_new_place), new_place_path, :class => "readmore", :target => "_blank" %>
            </span>
          </div>
          <div id="taxon_selector">
            <label for="taxon_q"><%=t :choose_taxon %></label><br/>
            <input type="text" name="taxon_q" value="" id="taxon_q" class="text">
          </div>
        <% end %>
        <%= link_to_function t(:remove), "$(this).parent().next('a').show();$(this).parent().remove() " %>
      </fieldset>
    <% end -%>
    <%= link_to_function t(:add_new_rule), "$(this).before('#{escape_javascript new_rule_field}'); rulify(); $(this).hide()" %>
  </fieldset>
  
  <%= f.text_field :tracking_codes, :description => 
    "Comma-separated list of tracking codes. Add these if you want to " + 
    "append a tracking code when sending people to the new observation form, " + 
    "e.g. #{root_url}observations/new?project_id=#{@project.id}&tracking_code=yourcode123. " + 
    "You can use this to track participation from different sources. " + 
    "You can access these codes when downloading your project's observations as CSV." %>
  
  <% if current_user.is_admin? && !@project.new_record? -%>
    <fieldset id="project_assets">
      <legend><%=t :project_assets %></legend>
      
      <ul>
        <% for project_asset in @project.project_assets %>
        <li>
          <%= link_to project_asset.asset.url, project_asset.asset.url %>
          <small style="margin-left: 10px">
            <%= link_to t(:edit), edit_project_asset_path(project_asset) %>
            <%= link_to t(:delete), project_asset, :method => :delete, :confirm => t(:you_sure_delete_asset?), 
              :class => 'description' %>
          </small>
        </li>
        <% end %>
      </ul>
      
      <%= link_to t(:add_asset), new_project_asset_path(:project_id => @project.id), :class => "readmore" %>
    </fieldset>
    
    <fieldset id="custom_project_fields">
      <legend><%=t :custom_project_fields %></legend>
      
      <% if @project.custom_project -%>
        <%= link_to t(:edit_custom_project_fields), edit_custom_project_path(@project.custom_project), :class => "readmore" %>
      <% else %>
        <%= link_to t(:add_custom_project_fields), new_custom_project_path(:project_id => @project.id), :class => "readmore" %>
      <% end -%>
    </fieldset>
    
    <fieldset class="admin">
      <legend>Extra Properties</legend>
      
      <%= f.check_box :featured_at, 
        :label => "Feature this project?", 
        :label_after => true %>
        
      <%= f.text_field :source_url, :description => "URL / identifier of a project derived from some external resource" %>
    </fieldset>
  <% end -%>

  <div class="buttons">
    <%= f.submit project.new_record? ? t(:create) : t(:save), :class => "default button" %>
    <%= link_to t(:cancel), projects_path, :class => "button" %>
    <% unless project.new_record? -%>
      <%= link_to t(:delete_project), project, :method => :delete, 
        :confirm => t(:you_sure_delete_project?),
        :class => "minor delete button" %>
    <% end -%>
  </div>
<% end %>
