<h3>About this Project</h3>
<div class="description">
  <%= formatted_user_text(@project.description).gsub(/\<a /, '<a target="_blank" ').html_safe %>
</div>

<h3>Project Curators</h3>
<div class="clear">
  <% @project_curators.each do |project_curator| %>
    <div class="stacked column span-5">
      <%= link_to(
            image_tag(project_curator.user.icon.url(:thumb), :class => 'left usericon'),
            person_by_login_path(project_curator.user.login)) %>
      <div class="column span-3">
        <%= link_to project_curator.user.login, person_by_login_path(project_curator.user.login), :class => "readable nobr" %>
        <br/>
        <%= link_to("<span class='count'>#{project_curator.user.observations.count}</span> observations".html_safe, observations_by_login_path(project_curator.user.login)) %>
      </div>
    </div>
  <% end %>
</div>
<div class="description">
  Please be aware that project curators will be able to see any private or obscured locations of observations added to this project.
</div>
<%= separator %>

<% unless @project.terms.blank? -%>
  <h3>Terms</h3>
  <div class="stacked description">
    <%= formatted_user_text(@project.terms).gsub(/\<a /, '<a target="_blank" ').html_safe %>
  </div>
<% end -%>

<% unless @project.project_user_rules.blank? -%>
  <h3>Rules for Becoming a Member</h3>
  <ul class="stacked">
    <% for rule in @project.project_user_rules %>
      <li><%= rule.terms %></li>
    <% end %>
  </ul>
<% end -%>

<% unless @project.project_observation_rules.blank? -%>
  <h3>Rules for Adding Observations</h3>
  <ul class="stacked">
    <% for rule in @project.project_observation_rules %>
      <li><%= rule.terms %></li>
    <% end %>
  </ul>
<% end -%>

<div class="clear buttonrow">
  <%= link_to "Yes, I want to join", 
    @observation ? join_project_path(@project, :observation_id => @observation.id) : join_project_path(@project), 
    :method => :post, 
    :class => "default button",
    "data-loading-click" => "Joining..." %>
  <%= link_to "Cancel", @project, :class => "button" %>
</div>
