<h3><%= t(:about_this_project) %></h3>
<div class="description">
  <%= truncate_with_more formatted_user_text(@project.description).gsub(/\<a /, '<a target="_blank" ').html_safe, :length => 500 %>
</div>

<h3><%= t(:project_curators) %></h3>
<div class="clear">
  <% @project_curators.each do |project_curator| %>
    <div class="stacked column span-5">
      <%= link_to(
            image_tag(project_curator.user.icon.url(:thumb), :class => 'left usericon'),
            person_by_login_path(project_curator.user.login)) %>
      <div class="column span-3">
        <%= link_to project_curator.user.login, person_by_login_path(project_curator.user.login), :class => "readable nobr" %>
        <br/>
        <%= link_to("<span class='count'>#{project_curator.user.observations.count}</span> observations".html_safe, observations_by_login_path(project_curator.user.login)) %>
      </div>
    </div>
  <% end %>
</div>
<div class="description">
  <%= t(:please_be_aware_project_curators) %>
</div>
<%= separator %>

<% unless @project.terms.blank? -%>
  <h3><%= t(:terms) %></h3>
  <div class="stacked description">
    <%= truncate_with_more formatted_user_text(@project.terms).gsub(/\<a /, '<a target="_blank" ').html_safe, :length => 500 %>
  </div>
<% end -%>

<% unless @project.project_user_rules.blank? -%>
  <h3><%= t(:rules_for_becoming_memner) %></h3>
  <ul class="stacked">
    <% for rule in @project.project_user_rules %>
      <li><%= rule.terms %></li>
    <% end %>
  </ul>
<% end -%>

<% unless @project.project_observation_rules.blank? -%>
  <h3><%= t(:rules_for_adding_observations) %></h3>
  <ul class="stacked">
    <% for rule in @project.project_observation_rules %>
      <li><%= rule.terms %></li>
    <% end %>
  </ul>
<% end -%>

<div class="clear buttonrow">
  <%= link_to t(:yes_i_want_to_join), 
    @observation ? join_project_path(@project, :observation_id => @observation.id) : join_project_path(@project), 
    :method => :post, 
    :class => "default button",
    "data-loading-click" => "Joining..." %>
  <%= link_to t(:cancel), session[:return_to] || @project, :class => "button" %>
</div>
