<%-
  project ||= object || @project
  project_user ||= nil
  last ||= false
-%>
<div class="stacked column span-8 project<%= ' last' if last %>">
  <div class="column span-2 iconcol">
    <%= link_to image_tag(project.icon.url(:span2), :alt => "#{h(project.title)} icon", 
      :width => 70, :height => 70), project %>
  </div>
  <div class="last column span-6">
    <h4><%= link_to h(project.title), project %></h4>
    <% unless project.description.blank? %>
      <div class="description">
        <%= h truncate(strip_tags(project.description), :length => 110) %>
      </div>
    <% end %>
    <% if project_user -%>
      <div>
        <%= link_to "View #{possessive(project_user.user)} contributions", 
          project_show_contributor_path(project, project_user.user.login),
          :class => "readmore" %>
      </div>
    <% end -%>
  </div>  
</div>
