<%- 
  builder ||= project_observation_field_row
  pof = builder.object
  observation_field ||= pof.observation_field
-%>
<%= content_tag :li, :class => "project_observation_field lined", data: { json: observation_field.to_json } do %>
  <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
  <div class="title"><%= observation_field.name if observation_field %></div>
  <div class="description"><%= observation_field.description if observation_field %></div>
  <div class="allowed meta">
    <label><%= t :allowed_values %>:</label>
    <span><%= observation_field.allowed_values if observation_field %></span>
  </div>
  <%= builder.hidden_field :project_id %>
  <%= builder.hidden_field :observation_field_id %>
  <%= builder.check_box :required, :label_after => true, :label => t(:required) %>
  <%= builder.hidden_field :position %>
  <div class="small">
    <%= builder.hidden_field "_destroy" %>
    <%= link_to_function t(:remove), "$(this).prev().val(1); $(this).parents('.project_observation_field').slideUp().attr('id', '')" %>
    |
    <%= link_to t(:edit_field), observation_field ? edit_observation_field_url(observation_field) : '', :target => "_blank", rel: "noopener noreferrer", :class => "editlink" %>
    <span class="small meta"><%= t :fields_can_only_be_edited_by_the_people_who %></span>
  </div>
<% end -%>
