<%- project = resource -%>
<table border="0" cellspacing="0" cellpadding="0">
  <% updates.each do |update| %>
    <% 
      post = update.notifier 
      the_post_url = project_journal_post_url(:project_id => project.id, :id => post.id)
    %>
    <tr>
      <td width="75" align="center" valign="top" style="<%= 'padding-right: 10px;' %> padding-bottom: 10px; max-width:75px;">
        <% if post.user -%>
          <%= link_to(user_image(post.user, :size => "thumb"), the_post_url) %>
        <% else %>
          <%= link_to image_tag("#{CONFIG.site_url}/attachment_defaults/users/icons/defaults/thumb.png", :class => "userimage"), the_post_url %>
        <% end -%>
      </td>
      <td>
        <%= link_to(h(post.title), the_post_url) %>
        <div><%= formatted_user_text(truncate(strip_tags(post.body), length: 500, escape: false)) %></div>
        <div style="color:#aaaaaa;font-size:smaller;margin-bottom:10px;">
          <%=t :posted_by %>
          <% if post.user -%>
            <%= link_to(truncate(you_or_login(post.user), :length => 20), person_url(post.user.login)) %>
          <% else %>
            a deleted user
          <% end -%>
          <span class="when">
            <abbr class="date timeago" title="<%= post.published_at.iso8601 %>"><%=t :time_ago, :time => time_ago_in_words(post.published_at) %></abbr>
          </span> | 
          <%= link_to(t(:view_post), the_post_url) %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
