<% project = resource %>
<% 
  post = updates.first.notifier 
  author = post.try(:user)
  the_post_path = project_journal_post_path(:project_id => project.id, :id => post.id)
  target_id = bootstrapTargetID
%>
<div class="timeline-body">
  <h3><%= post.title %></h3>
  <%= formatted_user_text(stripped_first_paragraph_of_text(post.body,"\r\n\r\n"), scrubber: PostScrubber.new(tags: Post::ALLOWED_TAGS, attributes: Post::ALLOWED_ATTRIBUTES), skip_simple_format: (post.preferred_formatting == Post::FORMATTING_NONE)) %>
  <%- remaining_paragraphs = remaining_paragraphs_of_text(post.body,"\r\n\r\n")  %>
  <div id="expand<%= target_id %>" class="collapse out">
      <%= formatted_user_text(remaining_paragraphs, scrubber: PostScrubber.new(tags: Post::ALLOWED_TAGS, attributes: Post::ALLOWED_ATTRIBUTES), skip_simple_format: (post.preferred_formatting == Post::FORMATTING_NONE)) %>
  </div>
</div>
<div class="timeline-footer">
  <%= link_to t(:view_post), the_post_path, :type => "button", :class => 'btn btn-sm btn-primary' do %>
    <%- unless remaining_paragraphs.length == 0 %>
      <button type="button" class='btn btn-sm btn-default btn_expand collapsed pull-right' data-toggle="collapse" data-target="#expand<%= target_id %>">
        <span class="expand_inactive">
          <i class="glyphicon.glyphicon-collapse-down">Show More...</i>
        </span>
        <span class="expand_active">
          <i class="glyphicon.glyphicon-collapse-up">Show Less</i>
        </span>
      </button>
  <% end -%>
</div>          