- project ||= update_email_curator_change
- viewing_user = current_user rescue @user
%table
  - for update in updates
    :ruby
      project_user = update.notifier
      user = project_user.user
      role = if project_user.user_id == project_user.project.user_id
        "#{t :the} <strong>#{t :admin}</strong>".html_safe
      elsif t(project_user.role.to_s, :default => "curator") =~ /^[aeiou]/
        "#{t :an} <strong>#{t project_user.role}</strong>".downcase.html_safe
      else
        "#{t :a} <strong>#{t project_user.role}</strong>".downcase.html_safe
      end
    %tr
      %td{:valign => "top"}
        = user_image(user, :size => "thumb", :width => 32, :height => 32)
      %td
        - if is_me?(user, :current_user => viewing_user)
          = t(:you_are_now_role_for_project_html, :role => role, :project => project.title)
        - else
          = t(:user_is_now_role_for_project_html, :user => user.login, :role => role, :project => project.title)
        - unless user.description.blank? || is_me?(user, :current_user => viewing_user)
          Here's a little about
          = surround '', ': ' do
            = user.login
          %blockquote
            = surround '"', '"' do
              = truncate(strip_tags(user.description), length: 100, escape: false)
        - unless is_me?(user, :current_user => viewing_user)
          %div= link_to t(:view_more_about_x, :x => user.login), person_url(user), :class => "readmore"
        - if user.id == viewing_user.id && project.user_id == viewing_user.id
          %p
            %em=t 'views.users.dashboard.new_project_admin_html', :site_name => @site.preferred_site_name_short, :help_email => @site.email_help
%p.ui= t 'views.users.dashboard.curators_can_see'
