<% project = resource %>
<% updates.each do |update| %>
  <% 
    post = update.notifier 
    author = post.try(:user)
    the_post_path = project_journal_post_path(:project_id => project.id, :id => post.id)
  %>
  
  <div id="<%= id_for(post) %>" class="post clear stacked">
    <div class="post_user column">
      <% if author -%>
        <%= link_to(image_tag(author.icon.url(:thumb), :class => 'usericon'), the_post_path) %>
      <% end -%>
    </div>
    <div class="post_content last column item_content">
      <%= link_to(h(post.title), the_post_path) %>
      <div class="readable body"><%= formatted_user_text(truncate(post.body, :length => 200)) %></div>
      <div class="meta">
        Posted by <%= link_to(truncate(you_or_login(post.user), :length => 20), person_path(project.user.login)) %>
        <span class="when">
          <abbr class="date timeago" title="<%= project.created_at.iso8601 %>"><%= time_ago_in_words(project.created_at) %> ago</abbr>
        </span> | 
        <%= link_to "View post", the_post_path %>

      </div>
    </div>
  </div>
<% end %>
<%= link_to "View #{h(project.title)}'s journal", project_journal_path(project), :class => 'readmore' %>
