<%- content_for(:title) do -%>
  <%= t(:browse_projects) %>
  <% if @projects.current_page > 1 -%>
    (page <%= @projects.current_page %>)
  <% end -%>
  <%= @title = t(:browse_projects) %>
<%- end -%>
<div id="pageheader" class="column span-24">
  <div class="breadcrumbs">
    <div class="clear right inline buttonrow smallbuttons">
      <%= form_tag url_for, :method => :get do %>
        <%= label :order, t(:order_by) %>
        <%= select_tag :order, options_for_select(ProjectsController::ORDERS.map{|o| [t(o, default: o).downcase, o]}, @order), :onchange => "$(this).parents('form:first').submit()" %>
      <% end %>
      <%= link_to t(:start_a_new_project), new_project_path, :class => "button" %>
      <%= render :partial => 'projects/search_form', :locals => {:q => ''} %>
    </div>
    <%= link_to t(:back_to_projects), projects_path, :class => 'back crumb' %>
  </div><!-- /#breadcrumbs -->
  <% if @place -%>
    <%- place_name = t( "places_name.#{@place.name.parameterize.underscore}", default: @place.name ) -%>
    <h2 class="inlineblock"><%= t :projects_from_place, place: place_name, vow_or_con: place_name[0].downcase %></h2>
    <%- localized_everywhere = t( :everywhere, default: "everywhere" ) -%>
    (<%= link_to t(:view_projects_from_place, place: localized_everywhere, vow_or_con: localized_everywhere[0].downcase ), url_for_params( everywhere: true ) %>)
  <% elsif @site_place %>
    <%- site_place_name = t( "places_name.#{@site_place.name.parameterize.underscore}", default: @site_place.name ) -%>
    <h2 class="inlineblock"><%=t :browse_projects %></h2>
    (<%= link_to t( :view_projects_from_place, place: site_place_name, vow_or_con: site_place_name[0].downcase ), url_for_params( everywhere: false ) %>)
  <% else %>
    <h2><%= t(:browse_projects).titleize %></h2>
  <% end -%>
</div>

<% @projects.each_with_index do |project, i| %>
  <%= render :partial => 'project', :object => project, :locals => {:last => i % 3 == 2} %>
  <% if i % 3 == 2 -%><div class="clear" style="margin-bottom: 10px"></div><% end -%>
<% end %>

<%= will_paginate @projects, renderer: INatLinkRenderer, skip_right: true %>
