<%- content_for(:title) do -%>
  <%= is_me?(@selected_user) ? t(:your) : t(:user_s, :user => " #{@login} ", :model_name => t(:projects)) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .box .project .span-6 { width: 210px; }
    a.invitations_button {width: 292px; float:none; text-align:center;}
  </style>
<%- end -%>
<%- before = capture do %>
  <div class="right inline clear buttonrow">
    <%= link_to t(:all_projects), projects_path, :class => "inter readmore" %>
  </div>
<% end %>
<%= render :partial => 'shared/by_login_header', :locals => { :before => before } %>

<div class="column span-16">
  <div id="started" class="projects clear">
    <% if @projects.blank? -%>
        <%= is_me? ? t(:you_havent) : t(:x_hasnt, :login => "#{@login}") %> <%= t(:joined_any_projects) %>
    <% else %>
      <% @project_users.each_with_index do |project_user, i| %>
        <%= render :partial => 'project', :object => project_user.project, :locals => {
          :project_user => project_user,
          :last => i % 2 == 1} %>
        <% if i % 2 == 1 -%><div class="clear" style="margin-bottom: 10px"></div><% end -%>
      <% end %>
    <% end -%>
  </div>
  <%= will_paginate @project_users, :renderer => INatLinkRenderer %>
</div>

<div class="last column span-8">
  <% if is_me? %>
    <%= link_to t(:manage_your_project_invitations), project_invitations_path, :class => "button stacked invitations_button" %>
  <% end -%>
  <div id="started" class="projects clear box">
    <h3> <%= t(:projects) %> <%= is_me? ? t(:you_admin) : t(:x_admin, :login => "#{@login}") %></h3>
    <% if @started.blank? -%>
      <p class="meta noresults">
        <%= is_me? ? t(:no_project_to_admin_current_user) : t(:no_project_to_admin_login, login: @login.to_s) %>
      </p>
    <% else %>
      <% @started.each_with_index do |project, i| %>
        <%= render :partial => 'project', :object => project, :locals => {:last => true} %>
      <% end %>
    <% end -%>
    
    <%= link_to(t(:start_a_project), new_project_path, :class => "default button") if is_me? %>
  </div>
</div>
