- content_for :title do
  =t :are_you_sure_leave_this_project
#pageheader.clear
  .breadcrumbs
    %strong= link_to "&laquo #{h @project.title}".html_safe, @project, :class => 'crumb'
  %h2=t :are_you_sure_leave_this_project

= form_for @project, url: leave_project_path(@project), method: :delete do |f|
  .field
    %label
      = radio_button_tag :keep, 'true', checked: true
      =t 'views.projects.confirm_leave.keep_observations_desc'
  .field
    %label
      = radio_button_tag :keep, 'false'
      =t 'views.projects.confirm_leave.remove_observations_desc'

  = f.submit t(:leave_this_project), 'class': 'default button'
  = link_to t(:cancel), :back, :class => "button"
