- content_for(:title) do
  = raw @title = t( :editing_project, project: @project.title )
#pageheader.clear
  .breadcrumbs
    %strong
      = link_to "&laquo #{h @project.title}".html_safe, @project, :class => 'crumb'
  %h2= @title

- if @project.can_be_converted_to_collection_project? && ( current_user.has_role?(:admin) || ( @project_user && @project_user.is_admin? ) )
  .bootstrap
    .row
      .col-xs-12
        .box.text-center.upstacked
          = raw t( "views.projects.edit.it_looks_like_this_project_can_be_converted", url: "/blog/15450-announcing-changes-to-projects-on-inaturalist")
          %br
          = raw t( "views.projects.edit.you_can_preview", url: project_path(@project, collection_preview: true))

= render :partial => 'form'
