<%- content_for(:title) do -%>
  <%= @title = t(:projects) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .project .iconcol img { max-width: 70px; }
    #pageheader .buttonrow .button,
    #pageheader .buttonrow form {
      margin-left: 10px;
    }
    #pageheader .buttonrow form .button { margin-left: 5px; }
  </style>
<%- end -%>

<div id="pageheader" class="column span-24">
  <div class="clear right inline buttonrow">
    <%= link_to t(:start_new_project), new_project_path, :class => "button" %>
    <%= render :partial => 'projects/search_form', :locals => {:q => ''} %>
  </div>
  <h2><%= @title %></h2>
</div>

<p class="description">
  <%=raw t :projects_description, :site_name => @site.preferred_site_name_short %>
</p>

<% unless @started.blank? -%>
  <div id="started" class="projects clear">
    <h3><%=t :projects_you_admin %></h3>
    <% @started.each_with_index do |project, i| %>
      <%= render :partial => 'project', :object => project, :locals => {:last => i % 3 == 2} %>
      <% if i % 3 == 2 -%><div class="clear" style="margin-bottom: 10px"></div><% end -%>
    <% end %>
  </div>
  <% if logged_in? -%>
    <%= link_to t(:view_all_your_projects), projects_by_login_path(current_user.login), :class => "readmore" %>
  <% end -%>
  <%= separator %>
<% end -%>

<% unless @joined.blank? -%>
  <div id="joined" class="projects clear">
    <h3><%=t :projects_youve_joined %></h3>
    <% @joined.each_with_index do |project, i| %>
      <%= render :partial => 'project', :object => project, :locals => {:last => i % 3 == 2} %>
      <% if i % 3 == 2 -%><div class="clear" style="margin-bottom: 10px"></div><% end -%>
    <% end %>
  </div>
  <% if logged_in? -%>
    <%= link_to t(:view_all_your_projects), projects_by_login_path(current_user.login), :class => "readmore" %>
  <% end -%>
  <%= separator %>
<% end -%>

<% unless @featured.blank? -%>
  <div id="featured" class="projects clear">
    <div class="clear">
      <% if @place -%>
        <h3 class="inlineblock"><%=t :featured_projects_from_place, :place => t(@place.name, :default => @place.name) %></h3>
        (<%= link_to t(:view_projects_from_place, :place => t(:everywhere, :default => "everywhere")), url_for_params(:everywhere => true) %>)
      <% elsif @site_place %>
        <h3 class="inlineblock"><%=t :featured_projects_from_everywhere %></h3>
        (<%= link_to t(:view_projects_from_place, :place => t(@site_place.name, :default => @site_place.name)), url_for_params(:everywhere => false) %>)
      <% else %>
        <h3><%= t(:featured).titleize %></h3>
      <% end -%>
    </div>
    <% @featured.each_with_index do |project, i| %>
      <%= render :partial => 'project', :object => project, :locals => {:last => i % 3 == 2} %>
      <% if i % 3 == 2 -%><div class="clear" style="margin-bottom: 10px"></div><% end -%>
    <% end %>
  </div>
  <%= separator %>
<% end -%>

<div id="recent" class="projects clear">
  <div class="clear">
    <% if @place -%>
      <h3 class="inlineblock"><%=t :recently_active_projects_from_place, :place => t(@place.name, :default => @place.name) %></h3>
      (<%= link_to t(:view_projects_from_place, :place => t(:everywhere, :default => "everywhere")), url_for_params(:everywhere => true) %>)
    <% elsif @site_place %>
      <h3 class="inlineblock"><%=t :recently_active_projects_from_everywhere %></h3>
      (<%= link_to t(:view_projects_from_place, :place => t(@site_place.name, :default => @site_place.name)), url_for_params(:everywhere => false) %>)
    <% else %>
      <h3><%= t(:recently_active).titleize %></h3>
    <% end -%>
  </div>
  <% if @projects.blank? -%>
    <div class="noresults">
      <%= t :no_recently_active %>
    </div>
  <% else %>
    <% @projects.each_with_index do |project, i| %>
      <%= render :partial => 'project', :object => project, :locals => {:last => i % 3 == 2} %>
      <% if i % 3 == 2 -%><div class="clear" style="margin-bottom: 10px"></div><% end -%>
    <% end %>
  <% end -%>
</div>

<%= separator %>

<div id="created" class="projects clear">
  <div class="clear">
    <% if @place -%>
      <h3 class="inlineblock"><%=t :recently_created_projects_from_place, :place => t(@place.name, :default => @place.name) %></h3>
      (<%= link_to t(:view_projects_from_place, :place => t(:everywhere, :default => "everywhere")), url_for_params(:everywhere => true) %>)
    <% elsif @site_place %>
      <h3 class="inlineblock"><%=t :recently_created_projects_from_everywhere %></h3>
      (<%= link_to t(:view_projects_from_place, :place => t(@site_place.name, :default => @site_place.name)), url_for_params(:everywhere => false) %>)
    <% else %>
      <h3><%= t(:recently_created).titleize %></h3>
    <% end -%>
  </div>
  <% if @created.blank? -%>
    <div class="noresults">
      <%= t :no_projects_yet %>
    </div>
  <% else %>
    <% @created.each_with_index do |project, i| %>
      <%= render :partial => 'project', :object => project, :locals => {:last => i % 3 == 2} %>
      <% if i % 3 == 2 -%><div class="clear" style="margin-bottom: 10px"></div><% end -%>
    <% end %>
  <% end -%>
</div>

<%= link_to t(:browse_all_projects), browse_projects_path, :class => "readmore" %>
