<%- content_for(:title) do -%>
  <%= @title = "#{h truncate(@project.title, :length => 85)} Invitations" %>
<%- end -%>

<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    
    .observations.medium.grid .observation, .observations.medium.grid .photos, .observations.medium.grid .icon {
      width: 185px;
      height: 185px;
    }
  </style>
<%- end -%>

<h2><%= link_to truncate(@project.title, :length => 85), project_path %> suitable observations</h2>

<% if @observations.empty? %>
  <p class="description">
    No observations suitable for this project that haven't yet been contributed or invited.
  </p>
<% else %>
  <p class="description">
    These observations pass the project rules and haven't yet been contributed or invited.
  </p>
  
  <table border="0" cellspacing="5" cellpadding="5">
    <tbody>
      <% for observation in @observations %>
        <tr>
          <td>
            <div class="observations table">
              <%= render(:partial => "observations/cached_component", :object => observation) %>
            </div>
          </td>
          <td>
            <%= link_to "invite",
              { :controller => 'project_invitations',
                :action => 'create',
                :project_id => @project.id,
                :observation_id => observation.id,
                :user_id => current_user.id },
              :method => :post,
              :class => "glaucous button",
              "data-loading-click" => "inviting..." %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate @observations %>
<% end %>

