<%- content_for(:title) do -%>
  <%= @title = h(truncate(@project.title, :length => 85) + ' ' + t(:invitations))  %>
<%- end -%>

<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    
    .observations.medium.grid .observation, .observations.medium.grid .photos, .observations.medium.grid .icon {
      width: 185px;
      height: 185px;
    }
    .observations.mini .observation {border: 0 transparent;}
    .row {border-bottom: 1px solid #eee;}
    .observations.mini .place {white-space: nowrap; overflow:hidden;}
  </style>
<%- end -%>

<%- content_for(:extrajs) do -%>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.invite_button').bind('ajax:success', function() {
        $(this).parent().html($('<span>' + I18n.t('invited') + '</span>').addClass('inter success status'))
      }).bind('ajax:error', function(event, request) {
        var json = eval('(' + request.responseText + ')')
        alert(json.full_messages || json.error)
      })

      $('.add_button').bind('ajax:success', function() {
        $(this).parent().html($('<span>' + I18n.t('added') + ' </span>').addClass('inter success status'))
      }).bind('ajax:error', function(event, request) {
        var json = eval('(' + request.responseText + ')')
        alert(json.full_messages || json.error)
      })
    })
  </script>
<%- end -%>

<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <%= link_to t(:invite_photos_from_other_sites), photo_inviter_path(:project_id => @project), :class => "right readmore" %>
    <strong><%= link_to "&laquo #{h @project.title}".html_safe, @project, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  <h2>
    <% unless @project.curated_by?(current_user) -%>
      Your
    <% end %>
    <%= link_to truncate(@project.title, :length => 85), project_path %> <%= t :siutable_observations %>
  </h2>
</div>

<% if @project_user.blank? %>
<p class="notice">
  <%= t :you_have_to %> <%= link_to t(:join_this_project), join_project_path(@project) %> <%= t :before_you_can_contribute_your_observations %>
</p>
<% end %>

<p class="description">
  <%= t :filtering_observations_that_pass_the %>
  <% if @project.curated_by?(current_user) -%>
    <%= t :or_invited %>
  <% end %>
  <%= t :these_arent_necessarily_relevant_to %> <%= link_to t(:project_terms_and_rules).html_safe, project_terms_path(@project) %> <%= t :for_more_information %>
</p>

<div class="stacked ui">
  <% if @project.curated_by?(current_user) -%>
    <%= t :showing_observations_by %> <strong><%= params[:by] == "you" ? t(:you).downcase : t(:everyone) %></strong>
    <%- opposite = params[:by] == "you" ? "everyone" : "you" -%>
    <%= link_to '(' + t(:show_observations_from) + ' ' + t(opposite).downcase + ')', {:by => opposite, :on_list => params[:on_list]}, :class => "small" %>
    |
  <% end %>
  <strong><%= params[:on_list] == "yes" ? t(:filtering) : t(:not_filtering) %></strong> <%= t :by_project_list %>
  <%- list_opposite = params[:on_list] == "yes" ? "no" : "yes" -%>
  <%= link_to "(#{list_opposite == "no" ? t(:dont_filter) : t(:filter)} #{t(:by_project_list)})", {:on_list => list_opposite, :by => params[:by]}, :class => "small" %>
</div>

<% if @observations.blank? %>
  <p class="description">
    <%= t :no_observations_suitable_for_this_project %>
  </p>
<% else %>
  <div class="clear column span-24">
    <% for observation in @observations %>
      <div class="stacked row <%= cycle('first', 'last') %> column span-12">
        <div class="mini observations">
          <%= render :partial => "observations/cached_component", :object => observation %>
        </div>

        <div style="text-align:center;" class="stacked inline buttonrow" id="<%= dom_id(observation, 'buttons') %>">
          <% unless @project_user.blank? %>
            <% if current_user.id == observation.user_id %>
              <%= link_to t(:add_to_project),
                add_project_observation_path(@project, :observation_id => observation.id),
                :remote => true,
                "data-type" => :json,
                :method => :post,
                "data-loading-click" => t(:adding),
                :class => "glaucous button add_button" %>
            <% else %>
              <%= link_to t(:invite_to_project),
                url_for(:controller => 'project_invitations',
                  :action => 'create',
                  :project_id => @project.id,
                  :observation_id => observation.id,
                  :user_id => current_user.id),
                :remote => true,
                :method => :post,
                :datatype => :json,
                :class => "glaucous inline button invite_button",
                "data-loading-click" => t(:inviting) %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  
  <%= will_paginate @observations %>
<% end %>
