= content_for :title do
  = @title = t(:invite_people_to_project, :project => @project.title, :default => "Invite people")
= content_for :extracss do
  :css
    #project_user_invitation_invited_user_id_chooser { float: left; margin-right: 1em;}
    #new_project_user_invitation .button { padding: 5px 10px 5px 7px;}
    #new_project_user_invitation {margin-bottom: 2em;}
#pageheader
  .breadcrumbs
    %strong= link_to "&laquo #{h @project.title}".html_safe, @project, :class => 'crumb'
  %h2= @title

.column.span-24
  .column.span-16
    = form_for ProjectUserInvitation.new(:project => @project), :builder => DefaultFormBuilder, :html => {:class => "clear buttonrow"} do |f|
      = f.text_field :invited_user_id, :label => false, :placeholder => t(:start_typing_someones_name)
      = f.hidden_field :project_id
      = f.submit t(:invite, :default => "Invite").capitalize, :class => "default button"

    %h3=t :pending_invitations
    - if @project_user_invitations.blank?
      .nocontent.meta=t :no_one_has_been_invited_yet
    - else
      %table
        %thead
          %tr
            %th{:width => "100%"}=t :invited_person
            %th.nobr=t :who_sent_the_invitation?
            %th.nobr=t :invited_at
            %th
        %tbody
          - for pui in @project_user_invitations
            %tr
              %td
                = link_to user_image(pui.invited_user), pui.invited_user
                = link_to_user pui.invited_user
              %td
                = link_to user_image(pui.user), pui.user
                = link_to_user pui.user
              %td.nobr=l pui.created_at
              %td.buttonrow.smallbuttons= link_to t(:delete), pui, :method => :delete, 
                :data => {:confirm => t(:are_you_sure?)}, :class => "inline button glaucous"
      = will_paginate @project_user_invitations
  .column.span-8.last
    .quiet.box=t 'views.projects.invite.description_html'
:javascript
  $('#project_user_invitation_invited_user_id').chooser({
    queryParam: 'q',
    collectionUrl: '/people/search.json',
    resourceUrl: '/people/{{id}}.json'
  })
