<div>
  <strong><%= t(:project_list) %></strong>
</div>
<% if @listed_taxa.blank? -%>
  <div class="notice" style="margin-bottom: 0; text-align: center">
      <%= t(:no_taxa) %>
  </div>
<% else %>
  <ul>
  <% for taxon in @taxa %>
    <li><%= taxon_image(taxon, :id => dom_id(taxon, 'image')) %></li>
    <script type="text/javascript" charset="utf-8">
      $('#<%= dom_id(taxon, "image") %>').data('json', 
      <%=json_escape taxon.to_json(:include => :photos, 
        :methods => [:image_url, :default_name, :common_name, 
        :scientific_name, :html]).html_safe %>
      );
      </script>
    <% end %>
  </ul>
<% end -%>
