- content_for(:title) do
  = @title = t(:project_members, :project => h(truncate(@project.title, :length => 85)))
- content_for(:extracss) do
  :css
    td .usericon{vertical-align:middle;}
    td{vertical-align:middle;}
    td .description{display:block;}
    \#active .usericon{float:left;}
    \#active .attr{display:block;padding-left:58px;color:#888;}
    \#active .attr strong{font-weight:normal;color:#333;}
    \#active .attr.login{font-size:120%;}
    \#active .user{border-bottom:1px solid #ddd;padding-bottom:1em;margin-bottom:1em;}
    \#letter_nav{font-size:100%;margin-bottom:1em;text-align:left;}
    \#invite{float:right;}
    \#invite .button{margin-right:0;}
    td.actions .smallbuttons:first-child {margin-bottom:5px;}
    td.actions .button {width:100%;}
    td.actions {padding-right:15px;}
#pageheader.clear
  .breadcrumbs
    %strong= link_to "&laquo; #{h @project.title}".html_safe, @project, :class => 'crumb'
  %h2
    - if @project.icon.file?
      = image_tag @project.icon.url(:thumb), :style => "vertical-align: middle"
    = @title
- if @project.project_type == Project::BIOBLITZ_TYPE
  .notice.box
    = t 'views.projects.members.bioblitz_notice_html'
#members.column.span-24{:style => "margin-bottom: 10px"}
  - if @project_users.blank?
    .noresults
      = t(:no_members_yet)
  - else
    .column.span-16
      %table{:width => "100%"}
        %thead
          %tr
            %th= t :user
            %th
            %th= t :role
            %th.nobr
              \# #{t :obs}.
            %th
            - if logged_in? && @project_user && @project_user.is_manager?
              %th
              %th
        - for project_user in @project_users
          %tr
            %td
              = link_to image_tag(project_user.user.icon.url(:thumb), :class => 'usericon'),                     |
                observations_by_login_path(project_user.user.login),                                             |
                :alt => h(project_user.user.login),                                                              |
                :title => "#{h(project_user.user.login)}, joined #{project_user.created_at.to_date.to_s(:long)}" |
            %td{:width => "100%"}
              = link_to h(project_user.user.login), observations_by_login_path(project_user.user.login)
            %td
              - if project_user.is_admin?
                %span.description= t :admin
              - elsif !project_user.role.blank?
                %span.description= t(project_user.role).downcase
            %td.nobr.numeric
              = link_to number_with_delimiter(project_user.observations_count),  |
                project_show_contributor_path(@project, project_user.user.login) |
            %td.nobr
              = link_to t(:view_stats),                                           |
                project_show_contributor_path(@project, project_user.user.login), |
                :class => "readmore"                                              |
            - if logged_in? && @project_user && @project_user.is_manager?
              %td.actions
                - if @project.user_id != project_user.user.id
                  .buttonrow.smallbuttons.clear
                    - if project_user.role == ProjectUser::CURATOR
                      = link_to t(:remove_curator), change_project_user_role_path(@project.id, project_user.id),
                        :method => :post,
                        :class => "pale button nobr",
                        :data => {
                          :confirm => t(:are_you_sure_you_want_to_remove_curator, :user => project_user.user.login),
                          :loading_click => true
                        }
                    - else
                      = link_to t(:make_curator), change_project_user_role_path(@project.id, project_user.id, :role => ProjectUser::CURATOR), |
                        :method => :post,                                                                                                     |
                        :class => "glaucous button nobr",                                                                                     |
                        "data-loading-click" => true                                                                                          |
                - if @project.user_id != project_user.user_id
                  .smallbuttons.buttonrow
                    - if project_user.role == ProjectUser::MANAGER
                      = link_to t(:remove_manager), change_project_user_role_path(@project.id, project_user.id),
                        :method => :post,
                        :class => "pale button nobr",
                        :data => {
                          :confirm => t(:are_you_sure_you_want_to_remove_manager, :user => project_user.user.login),
                          :loading_click => true
                        }
                    - else
                      = link_to t(:make_manager), change_project_user_role_path(@project.id, project_user.id, :role => ProjectUser::MANAGER), |
                        :method => :post,                                                                                                     |
                        :class => "glaucous button nobr",                                                                                     |
                        "data-loading-click" => true                                                                                          |
              %td.smallbuttons.buttonrow
                - if @project.user_id != project_user.user_id
                  = link_to t(:remove_from_project), remove_project_user_path(@project.id, project_user.id),
                    :data => {
                      :confirm => t(:are_you_sure_you_want_to_remove_from_project, :user => project_user.user.login),
                      :loading_click => t(:removing)
                    }
                    :class => "delete button nobr"
      = will_paginate @project_users, :renderer => INatLinkRenderer
    .last.column.span-8
      - if @project.curated_by?(current_user) && @project.preferred_membership_model == Project::MEMBERSHIP_INVITE_ONLY
        .box.notice
          Your project only accepts invited people. You can
          = link_to "invite new members here", invite_to_project_path(@project), :class => "readmore"
      .quiet.box
        .stacked
          %h3= t :curators
          %p.ui
            = t :curators_can_remove_observations_from
          - if !@curators.blank?
            %ul.clear.plain
              - for user in @curators
                %li.stacked
                  = link_to user_image(user, :size => "thumb"), person_path(user.login)
                  = link_to_user user
          - else
            .nocontent= t :no_curators_set
        .stacked
          %h3= t :managers
          %p.ui
            = t :managers_can_do
          - if !@managers.blank?
            %ul.clear.plain
              - for user in @managers
                %li.stacked
                  = link_to user_image(user, :size => "thumb"), person_path(user.login)
                  = link_to_user user
          - else
            .nocontent= t :no_managers_set
        .stacked
          %h3= t :admin
          %p.ui
            = t :the_admin_is_the_person_who
          %ul.clear.plain
            %li.stacked
              = link_to user_image(@admin, :size => "thumb"), person_path(@admin.login)
              = link_to_user @admin
.breadcrumbs
  %strong= link_to "&laquo #{h @project.title}".html_safe, @project, :class => 'crumb'
