<%- content_for(:title) do -%>Search Projects<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .project { margin-bottom: 5px; }
    .project img { vertical-align: middle; }
    form .default.button {margin-right: 10px;}
  </style>
<%- end -%>
<div id="pageheader">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo Projects", projects_path, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  <h2>Search Projects</h2>
</div>

<div class="clear buttonrow">
  <%= render :partial => "search_form" %>
  <span class="inter">
    <%= render(:partial => "shared/page_results", :object => @projects) unless @projects.blank? %> 
  </span>
</div>

<% if @projects.blank? -%>
  <div class="description noresults">
    No matching projects.
  </div>
<% else %>
  <div class="clear projects">
    <% for project in @projects %>
      <div class="project">
        <%= image_tag project.icon.url(:mini) %>
        <%= link_to h(project.title), project %>
        <span class="description">
          <%= truncate strip_tags(h(project.description)), :length => 100 %>
        </span>
      </div>
    <% end %>
  </div>
  <%= will_paginate @projects, :renderer => INatLinkRenderer %>
<% end -%>