<%- content_for(:title) do -%>Search Projects<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .project { margin-bottom: 5px; }
    .project img { vertical-align: middle; }
    form .default.button {margin-right: 10px;}
  </style>
<%- end -%>
<div id="pageheader">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo Projects".html_safe, projects_path, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  <h2>Search Projects</h2>
</div>

<div class="clear buttonrow">
  <%= render :partial => "search_form" %>
  <span class="inter">
    <%= render(:partial => "shared/page_results", :object => @projects) unless @projects.blank? %> 
  </span>
</div>

<% if @projects.blank? -%>
  <div class="description noresults">
    No matching projects.
  </div>
<% else %>
  <div class="clear projects">
    <% for project in @projects %>
      <div class="column span-24 stacked">
        <div class="column span-2">
          <%= link_to image_tag(project.icon.url(:span2)), project %>
        </div>
        <div class="column span-22 last">
          <h4><%= link_to project.title, project %></h4>
          <div class="meta">
            <%= truncate strip_tags(project.description), :length => 300 %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @projects, :renderer => INatLinkRenderer %>
<% end -%>
