<%- content_for(:title) do -%>
  <%=h @project.title %>
<%- end -%>

<%- content_for(:extrahead) do -%>
  <meta property="og:type" content="website"> 
  <meta property="og:title" content="<%= @project.title %>"/> 
  <% unless @project.icon.blank? -%>
    <meta property="og:image" content="<%= uri_join(root_url, @project.icon.url(:original)) %>"/> 
  <% end -%>
  <meta property="og:url" content="<%= project_url(@project) %>"/> 
  <% unless @fb_admin_ids.blank? -%>
    <meta property="fb:admins" content="<%= @fb_admin_ids.join(',') %>"/>
  <% end -%>
  <% unless @project.description.blank? -%>
    <% og_description = truncate(strip_tags(@project.description).gsub(/\s+/, ' '), :length => 1000) %>
  <% end -%>
  <meta property="og:description" content="<%= og_description %>"/>
<%- end -%>

<%- content_for(:extrajs) do -%>
  <%= google_maps_js %>
  <%= javascript_include_tag 'map_bundle', 'projects/show' %>
  <script type="text/javascript" charset="utf-8">
    var PRESERVE_VIEWPORT = <%= (@project.latitude && @project.zoom_level ? true : false).to_s %>,
        OBSERVATIONS_URL = <%= @observations_url.inspect.html_safe %>
        KML_ASSET_URLS = <%= @kml_assets.map{|a| a.asset.url}.inspect.html_safe %>
  </script>
<%- end -%>

<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'projects/show' %>
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <% if @custom_project && !@custom_project.css.blank? -%>
    <style type="text/css" media="screen">
      <%= @custom_project.css %>
    </style>
  <% end -%>
<%- end -%>

<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <span class="right">
      <%-
        links = []
        if !@project.terms.blank? || !@project.project_observation_rules.blank? || !@project.project_user_rules.blank?
          links << link_to(t(:terms_and_rules_html), project_terms_path(@project), :class => "ui")
        end
        if @project.editable_by?(current_user)
          links << link_to(t(:edit_project), edit_project_path(@project), :class => "ui description")
        end
        if @project_user && @project_user.user_id != @project.user_id
          links << link_to( t(:leave_this_project), confirm_leave_project_path(@project), 'class': 'ui description')
        end
        if @project_user.blank?
          links << link_to( t(:join_project), join_project_path(@project), :class => "ui")
        end
      -%>
      <%= links.join(" | ").html_safe unless links.blank? %>
    </span>
    <strong><%= link_to "&laquo; #{t(:projects)}".html_safe, projects_path, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  
  <% if @custom_project && !@custom_project.head.blank? -%>
    <%= @custom_project.head.html_safe %>
  <% elsif @project.cover.file? %>
    <div id="cover">
      <%= image_tag @project.cover.url, :id => "coverimg" %>
      <h1>
        <% if @logo_image -%>
          <%= image_tag @logo_image.asset.url, :id => "iconimg" %>
        <% else %>
          <%= image_tag @project.icon.url(:thumb), :id => "iconimg", :class => "#{'custom' if @project.icon.file?}" %>
          <%= truncate @project.title, :length => 55 %>
        <% end -%>
      </h1>

      <%= link_to new_observation_path(:project_id => @project.id), :id => 'addbutton', :rel => "nofollow" do %>
        <small><%= t(:add) %></small>
        <big><%= t(:observations) %></big>
      <% end -%>

      <% if @project.project_type == Project::BIOBLITZ_TYPE -%>
        <div class="timespan">
          <%- start_time = @project.start_time.in_time_zone(@project.user.time_zone) %>
          <%- end_time = @project.end_time.in_time_zone(@project.user.time_zone) %>
          <% if start_time.to_date == end_time.to_date -%>
            <%=l start_time.to_date, :format => :long %>,
            <%=l start_time, :format => :hours %>
            -
            <%=l end_time, :format => :hours %>
            <%= end_time.strftime("%Z") %>
          <% elsif end_time.to_date - start_time.to_date == 1 %>
            <%=l start_time.to_date, :format => :long %>,
            <%=l start_time, :format => :hours %>
            -
            <%=l end_time.to_date, :format => :long %>,
            <%=l end_time, :format => :hours %>
            <%= end_time.strftime("%Z") %>
          <% else %>
            <%= start_time.to_date.to_s(:long) %>
            to
            <%= end_time.to_date.to_s(:long) %>
          <% end -%>
        </div>
      <% end -%>
    </div>
  <% else %>
    <h2>
      <% if @logo_image -%>
        <%= image_tag @logo_image.asset.url %>
      <% else %>
        <% if @project.icon.file? -%>
          <%= image_tag @project.icon.url(:thumb), :style => "vertical-align: middle" %>
        <% end -%>
        <%= truncate @project.title, :length => 55 %>
      <% end -%>
    </h2>
    
    <% if !@project.invite_only? || @project_user -%>
      <span class="right buttonrow">
        <%= link_to t(:add_observations_project), new_observation_path(:project_id => @project.id), 
          :class => 'last button default', :rel => "nofollow" %>
      </span>
    <% end -%>
  <% end -%>
</div>

<div id="bioblitz" class="column span-24 stacked">
  <% if @project.project_type == Project::BIOBLITZ_TYPE -%>
    <% if !@project.event_url.blank? && !@project.event_started? -%>
      <div id="event" class="clear stacked <%= 'with_description' unless @project.description.blank? %>">
        <% if @project.eventbrite_id -%>
          <iframe src="http://www.eventbrite.com/tickets-external?eid=<%= @project.eventbrite_id %>&ref=etckt&v=2" frameborder="0" height="300" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        <% elsif (uri = URI.parse(@project.event_url) rescue nil) %>
          <div class="inline buttonrow centered quiet box unstacked">
            <%= link_to t(:register), @project.event_url, :class => "default button" %>
            <span class="inter">
              <%=t :register_for_this_event_at_x_html, :x => link_to(uri.host, @project.event_url) %>
            </span>
          </div>
        <% end -%>
      </div>
    <% end -%>

    <% if !@project.event_started? && !@project.description.blank? -%>
      <%= formatted_user_text(@project.description, 
        :tags => Post::ALLOWED_TAGS + %w(table tr td img p iframe div), 
        :attributes => Post::ALLOWED_ATTRIBUTES, 
        :skip_simple_format => @project.description.to_s[0] == "<") %>
    <% end -%>
  <% end %>

  <% if (@project.project_type != Project::BIOBLITZ_TYPE) || @project.event_started? -%>
    <div id="projectstats" class="stacked">
      <div class="inline buttonrow right">
        <% if @project.project_type == Project::BIOBLITZ_TYPE -%>
          <%= link_to t(:all_observations, :default => "All observations").capitalize, observations_url(@observations_url_params), :class => "inter" %>
        <% else %>
          <%= link_to t(:all_observations, :default => "All observations").capitalize, project_observations_url(@project), :class => "inter" %>
        <% end %>
        <%= link_to t(:all_species, :default => "All species").capitalize, taxa_observations_url(@observations_url_params.merge(:hrank => Taxon::SPECIES)), :class => "inter" %>
        <%= link_to t(:all_people, :default => "All people").capitalize, user_stats_observations_url(@observations_url_params), :class => "inter" %>
        <% if @project.project_type == Project::BIOBLITZ_TYPE -%>
          <%= link_to_dialog t(:about_bioblitz_results), :width => "60%", :link => {:class => "meta inter"} do %>
            <%=t 'views.projects.show.bioblitz_results_desc_html' %>
          <% end -%>
          <% if signed_in? && @project.event_in_progress? -%>
            <%= link_to t(:view_real_time_stats_in_a_new_window), stats_observations_url(@observations_url_params.merge(:refresh => true)), :class => "inter readmore", :target => "_new" %>
          <% end -%>
        <% end %>
      </div>
      <h2 class="stacked">
        <% if @project.project_type == Project::BIOBLITZ_TYPE -%>
          <%= @project.event_in_progress? ? t(:event_in_progress) : t(:event_stats) %>
        <% else %>
          <%=t :stats %>
        <% end %>
      </h2>
      <div id="rtstats" class="clear">
        <%= render :partial => "observations/real_time_stats" %>
      </div>
    </div>
  <% end -%>

  <%= separator %>
</div>


<div class="column span-16">
  <%- map_attributes = setup_map_tag_attrs(
    observations: @observations,
    place_layers: @place_geometry ? [ { place: @place_geometry.place } ] : nil,
    zoom_level: @project.zoom_level,
    latitude: @project.latitude,
    longitude: @project.longitude,
    map_type: @project.map_type,
    observation_layers: [ { project_id: @project.id, observations: @observations } ] ) %>
  <div class="stacked">
    <%= content_tag("div", "", map_attributes.merge({ id: "map" })) %>
  </div>
  
  <% if @project_journal_posts.blank? && @project.curated_by?(current_user) %>
    <div id="journal" class="quiet box">
      <h3><%=t :journal %></h3>
      <%=t 'views.projects.show.no_journal_blurb_html', url: new_project_journal_post_path(@project) %>
    </div>
  <% elsif !@project_journal_posts.blank? %>
    <div id="journal" class="quiet box">
      <div class="stacked">
        <%= render :partial => 'posts/post', :locals => { :post => @project_journal_posts.first, :truncate_length => 1000 } %>
      </div>
      
      <% if @project_journal_posts.size > 1 -%>
        <div class="stacked">
          <label><%= t :recent_post %></label>
          <ul class="plain">
            <% for post in @project_journal_posts[1..-1] %>
              <li>
                <span class="date meta"><%= post.published_at.to_date.strftime('%b %d') %></span>
                <%= link_to truncate(post.title, :length => 100), project_journal_post_path(@project, post) %>
              </li>
            <% end %>
          </ul>
        </div>
        <%= link_to t(:more_journal_posts), project_journal_path(@project), :class => "readmore" %>
      <% end -%>
    </div>
  <% end %>

  <div id="observations">
    <% if false && logged_in? && @project_user && @project.matching_project_observation_rules.count > 0 -%>
      <div class="right add_matching_link inlineblock">
        <%= render 'project_invitations/import_button' %>
      </div>
    <% end -%>

    <% if @project.project_type == Project::ASSESSMENT_TYPE -%>
      <div class="stacked">
        <%= render :partial => 'project_assessments' %>
        <%= separator %>
      </div>
    <% end -%>

    <div id="recent_observations">
      <div class="clear">
        <h3 class="left">
          <%=t :recent_observations %>
          <%= link_to t(:view_all), @project.project_type == Project::BIOBLITZ_TYPE ? @observations_url : project_observations_url(@project), :class => "ui readmore", :style => "font-size: 60%; margin-left: 5px" %>
        </h3>
        <div class="right observationcontrols"></div>
      </div>
      <div class="observations medium grid">
        <%= loading %>
      </div>
      <%= link_to t(:more_observations), @project.project_type == Project::BIOBLITZ_TYPE ? @observations_url : project_observations_url(@project),
        :class => "readmore" %>
    </div>
  </div>
</div>

<div class="last column span-8">
  <ul id="projectnav" class="stacked quiet box">
    <li>
      <% if @members_count.to_i > 1 -%>
        <span class="right sectioncount">
          <span class="count"><%= @members_count %></span> <%= t(:members).to_s.downcase %>
        </span>
      <% end -%>
      <%= link_to "<span class='lead'>&raquo;</span> #{t(:members)}".html_safe, project_members_path(@project), :class => "navlink" %>
      <div class="inner">
        <div class="stacked clear">
          <% for project_user in @project_users %>
            <%= link_to image_tag(project_user.user.icon.url(:thumb), :class => 'usericon'),
              project_show_contributor_path(@project, project_user.user.login),
              :alt => h(project_user.user.login),
              :title => "#{h(project_user.user.login)}, joined #{project_user.created_at.to_date.to_s(:long)}" %>
          <% end %>
        </div>
        <%= link_to t(:view_all_members), project_members_path(@project), :class => "readmore" %>
      </div>
    </li>

    <% if @project_user -%>
      <li>
        <span class="right sectioncount">
          <%=t :x_observations_html, count: @project_user.observations_count %>
        </span>
        <%= link_to "<span class='lead'>&raquo;</span> #{t(:your_membership, default: 'Your membership').capitalize}".html_safe, project_show_contributor_path(@project, @project_user.user.login), :class => "navlink" %>
      </li>
      <li>
        <%= link_to "<span class='lead'>&raquo;</span> #{t(:add_from_your_observations)}".html_safe, observations_by_login_path(current_user.login, @project.observations_url_params.merge(not_in_project: @project.slug)), :class => "navlink" %>
        <div class="inner">
          <%=t :download_bulk_import_template_html, :url => project_bulk_template_url(@project) %>
        </div>
      </li>
    <% end -%>
    <% if @project.curated_by?(current_user) && !@project.observations_url_params.blank? -%>
      <li><%= link_to "<span class='lead'>&raquo;</span> #{t(:find_suitable_observations)}".html_safe, observations_path(@project.observations_url_params.merge(not_in_project: @project.slug)), :class => "navlink" %></li>
    <% end -%>
    <li>
      <%= link_to "<span class='lead'>&raquo;</span> #{t(:export_observations)}".html_safe, export_observations_path(projects: [@project]), :class => "navlink" %>
      <div class="inner feeds">
        <%= link_to("Atom", project_observations_path(@project, :format => 'atom'), :class => 'atomlink', :rel => "nofollow") %> /
        <%= link_to("KML",  project_observations_path(@project, :format => 'kml'),  :class => 'kmllink', :rel => "nofollow") %> /
        <%= link_to("CSV",  export_observations_path('projects[]' => @project),  :class => 'csvlink', :rel => "nofollow") %>
        <% if @project.curated_by?(current_user) -%>
          /
          <%= link_to t(:all_csv), all_project_observations_url(@project, :format => 'csv'), 
            :class => "delayedlink csvlink", 
            "data-delayed-link-msg" => 
              t(:please_hold_on_while_the_file),
            :rel => "nofollow" %>
        <% end -%>
      </div>
      <% if @project.project_type == Project::BIOBLITZ_TYPE -%>
        <div class="inner small meta upstacked">
          <%=t 'views.projects.show.project_observations_desc' %>
        </div>
      <% end -%>
    </li>
    <% if @project.project_type != Project::BIOBLITZ_TYPE %>
      <li>
       <%= link_to "<span class='lead'>&raquo;</span> #{t(:checklist)}".html_safe, list_path(@project.project_list, {rank: @project.preferred_count_by}), :class => "navlink" %>
      </li>
    <% end -%>
    <% if logged_in? && @project.project_type != Project::BIOBLITZ_TYPE -%>
      <li>
        <%= link_to "<span class='lead'>&raquo;</span> #{t(:usage_stats)}".html_safe, project_stats_path(@project), :class => "navlink" %>
      </li>
      <% if @project.curated_by?(current_user) && @project.preferred_membership_model == Project::MEMBERSHIP_INVITE_ONLY -%>
        <li><%= link_to "<span class='lead'>&raquo;</span> #{t(:invite_people)}".html_safe, invite_to_project_path(@project), :class => "navlink" %></li>
      <% end -%>
      <% if @project_user_invitation && @project_user_invitation.pending? -%>
        <li class="invited">
          <%= link_to "<span class='lead'>&raquo;</span> #{t(:join_this_project?)}".html_safe, join_project_path(@project), :class => "navlink" %>
          <div class="inner">
            <%=t :user_invited_you_to_join_this_project_on_date_html, :user => link_to_user(@project_user_invitation.user), :date => l(@project_user_invitation.created_at) %>
          </div>
        </li>
      <% end -%>
    <% end -%>
  </ul>
  
  <% unless @project.project_type == Project::BIOBLITZ_TYPE && !@project.event_started? %>
    <h3><%=t :about %></h3>
    <%= truncate_with_more formatted_user_text(@project.description, 
      :tags => Post::ALLOWED_TAGS + %w(table tr td img p iframe div), 
      :attributes => Post::ALLOWED_ATTRIBUTES, 
      :skip_simple_format => @project.description.to_s[0] == "<"
    ), :length => 400 %>
  <% end -%>
  
  <% if @custom_project && !@custom_project.side.blank? -%>
    <div class="stacked">
      <%=raw @custom_project.side %>
    </div>
  <% end -%>
  
  <div id="fblike" class="stacked">
    <script src="//connect.facebook.net/<%= t(:fblocale) %>/all.js#xfbml=1"></script>
    <fb:like send="true" show_faces="true" width="270" layout="button_count"></fb:like>
  </div>
  
  
  <%= link_to image_tag(@project.user.icon.url(:mini), :style => "vertical-align:middle;"),
    observations_by_login_path(@project.user.login), :alt => @project.user.login %>
  <%= link_to @project.user.login, @project.user %>
  <span class="description"><%=t :project_created_on, :date => l(@project.created_at.to_date, :format => :long) %></span>
  <%= render :partial => "shared/flagging", :locals => { :instance => @project } %>
  
  <%= separator %>
  <center class="small meta">
    <%= link_to t(:embed_widget_project), observations_widget_path(:project_id => @project.id),
      :rel => "nofollow" %>
  </center>
</div>
