- content_for :title do
  = raw @project.title
- content_for :extrahead do
  %meta{ property: "og:type", content: "website" }
  %meta{ property: "og:title", content: @project.title }
  - og_image = @project.icon.blank? ? @project.cover : @project.icon
  - unless og_image.blank?
    - @shareable_image_url = uri_join( root_url, og_image.url( :original ) )
    %meta{ property: "og:image", content: @shareable_image_url }
    %meta{ property: "twitter:image", content: @shareable_image_url }
  %meta{ property: "og:url", content: project_url( @project ) }
  - unless @fb_admin_ids.blank?
    %meta{ property: "fb:admins", content: @fb_admin_ids.join( "," ) }
  - unless @project.description.blank?
    - og_description = truncate(strip_tags( @project.description ).gsub( /\s+/, " " ), length: 1000 )
  %meta{ property: "og:description", content: og_description }
- content_for :extracss do
  = stylesheet_link_tag "projects/show2"
- content_for :extrajs do
  - if logged_in?
    :ruby
      js_current_user = {
        id: current_user.id,
        login: current_user.login,
        curator_project_ids: current_user.project_users.curator_privilege.pluck(:project_id),
        site_admin: is_site_admin?,
        icon_url: current_user.icon.file? ? current_user.icon.url(:medium) : nil,
        roles: current_user.roles.map(&:name),
        prefers_scientific_name_first: current_user.prefers_scientific_name_first,
        preferred_observations_search_map_type: current_user.preferred_observations_search_map_type,
        blockedUserHashes: current_user.user_blocks.map{|ub| Digest::MD5.hexdigest( ub.blocked_user_id.to_s ) },
        blockedByUserHashes: current_user.user_blocks_as_blocked_user.map{|ub| Digest::MD5.hexdigest( ub.user_id.to_s ) },
        testGroups: current_user.test_groups_array
      }
  :javascript
    var CURRENT_USER = #{ js_current_user ? js_current_user.to_json.html_safe : "{ }" };
    var PROJECT_DATA = #{ @projects_data.to_json.html_safe };
    var CURRENT_TAB = "#{ @current_tab }";
    var CURRENT_SUBTAB = "#{ @current_subtab }";
    var ROOT_TAXON_ID = #{ Taxon::LIFE.id };
  = javascript_include_tag "projects-show-webpack"

#app
  #initial-loading.text-center
    .loading_spinner
