<%- content_for(:title) do -%>
  <%=h @project.title %>
<%- end -%>

<%- content_for(:extrahead) do -%>
  <meta property="og:title" content="<%= @project.title %>"/> 
  <% if Rails.env.development? %>
    <meta property="og:image" content="http://inaturalist.org/<%= @project.icon.url(:span2) %>"/> 
  <% else %>
    <meta property="og:image" content="<%= @project.icon.url(:span2) %>"/>
  <% end %>
  <meta property="og:url" content="<%= project_url(@project) %>"/> 
  <meta property="og:site_name" content="iNaturalist"/> 
  <meta property="fb:admins" content="611249211,800415373"/>
  <meta property="fb:app_id" content="26558815027" /> 
  <% og_description = h strip_tags(truncate(@project.description, :length => 110)) %>
  <meta property="og:description" content="<%= og_description %>"/>
<%- end -%>

<%- content_for(:extrajs) do -%>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag 'inaturalist/map3', 'projects/show' %>
  <script type="text/javascript" charset="utf-8">
    var PLACE = <%= @place.to_json %>,
        PLACE_GEOMETRY_KML_URL = <%= @place_geometry.blank? ? 'null' : place_geometry_url(@place, :format => "kml").inspect %>,
        OBSERVATIONS = <%= @observations.to_json(:include => :iconic_taxon) %>,
        KML_ASSET_URLS = <%= @kml_assets.map{|a| root_url.gsub(/\/$/, "") + a.asset.url}.inspect %>
  </script>
<%- end -%>

<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'projects/show' %>
  <% if @custom_project && !@custom_project.css.blank? -%>
    <style type="text/css" media="screen">
      <%= @custom_project.css %>
    </style>
  <% end -%>
<%- end -%>

<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <span class="right">
      <%-
        links = []
        if !@project.terms.blank? || !@project.project_observation_rules.blank? || !@project.project_user_rules.blank?
          links << link_to("Terms &amp; Rules", project_terms_path(@project), :class => "ui")
        end
        if @project.editable_by?(current_user)
          links << link_to("Edit project", edit_project_path(@project), :class => "ui description")
        end
        if @project_user && @project_user.user_id != @project.user_id
          links << link_to("Leave this project", leave_project_path(@project), :method => :post, :class => "ui description",
            :confirm => "Are you sure you want to leave this project?")
        end
        if @project_user.blank?
          links << link_to("Join this project", join_project_path(@project), :class => "ui")
        end
      -%>
      <%= links.join(" | ") unless links.blank? %>
    </span>
    <strong><%= link_to "&laquo Projects", projects_path, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  
  <% if @custom_project && !@custom_project.head.blank? -%>
    <%= @custom_project.head %>
  <% else %>
    <h2>
      <% if @logo_image -%>
        <%= image_tag @logo_image.asset.url %>
      <% else %>
        <% if @project.icon.file? -%>
          <%= image_tag @project.icon.url(:thumb), :style => "vertical-align: middle" %>
        <% end -%>
        <%=h truncate @project.title, :length => 55 %>
      <% end -%>
    </h2>
    
    <span class="right buttonrow">
      <%= link_to 'Add observations to this project', new_observation_path(:project_id => @project.id), 
        :class => 'last button default', :rel => "nofollow" %>
    </span>
  <% end -%>
</div>



<div class="column span-16">
  <div id="map" class="stacked"></div>
  
  <div id="observations">
    <h3>
      Recent Observations
      <%= link_to "View all", project_observations_path(@project), :class => "ui readmore", :style => "font-size: 60%; margin-left: 5px" %>
    </h3>
    <% if @project_observations.blank? -%>
      <div class="description noresults">
        No observations have been added to this project yet.
      </div>
    <% else %>
      <div class="mini observations">
        <% for project_observation in @project_observations %>
          <%= render :partial => 'project_observation', :object => project_observation %>
        <% end %>
      </div>
      <%= link_to "More observations", {:controller => "observations", :action => "project", :id => @project},
        :class => "readmore" %>
    <% end -%>
  </div>
</div>

<div class="last column span-8">
  <ul id="projectnav" class="stacked quiet box">
    <li>
      <%= link_to "<span class='lead'>&raquo;</span> Observations / Map", project_observations_path(@project), :class => "navlink" %>
      <div class="inner feeds">
        <%= link_to("Atom", project_observations_path(@project, :format => 'atom'), :class => 'atomlink', :rel => "nofollow") %> /
        <%= link_to("KML",  project_observations_path(@project, :format => 'kml'),  :class => 'kmllink', :rel => "nofollow") %> /
        <%= link_to("CSV",  project_observations_path(@project, :format => 'csv'),  :class => 'csvlink', :rel => "nofollow") %>  
        <% if @project.curated_by?(current_user) -%>
          / <%= link_to("All CSV",  all_project_observations_path(@project, :format => 'csv'), :class => 'csvlink', :rel => "nofollow") %>
        <% end -%>
      </div>
    </li>
    <li>
      <% if @project.prefers_count_from_list? -%>
        <span class="right" style="margin: 4px 10px 0 10px">
          <span class="count"><%= @observed_taxa_count %></span> of <span class="count"><%= @project.project_list.listed_taxa.count %></span> taxa observed
        </span>
      <% else -%>
       <% if @observed_taxa_count.to_i > 0 -%>
         <span class="right" style="margin: 4px 10px 0 10px">
           <span class="count"><%= @observed_taxa_count %></span> taxa observed
         </span>
        <% end -%>
      <% end -%>
      <%= link_to "<span class='lead'>&raquo;</span> Checklist", list_path(@project.project_list), :class => "navlink" %>
    </li>
    <li>
      <% if @project.contest? -%>
        <%= link_to "<span class='lead'>&raquo;</span> Top Contributors", project_contributors_path(@project), :class => "navlink" %>
      <% else %>
        <%= link_to "<span class='lead'>&raquo;</span> Members", project_members_path(@project), :class => "navlink" %>
      <% end -%>
      <div class="inner">
        <% if @project.contest? && !@project_users.blank? && !@top_observers.blank? -%>
          <ol class="readable">
            <% for project_user in @top_observers[0..2] %>
              <li>
                <div class="clear">
                  <%= link_to image_tag(project_user.user.icon.url(:thumb), :class => 'usericon left'),
                    observations_by_login_path(project_user.user.login),
                    :alt => h(project_user.user.login),
                    :title => "#{h(project_user.user.login)}, joined #{project_user.created_at.to_date.to_s(:long)}" -%>
                  <div>
                    <%= link_to truncate(h(project_user.user.login), :length => 20), project_show_contributor_path(@project, project_user.user.login) %>
                  </div>
                  <div class="small ui">
                    <span class="count"><%= project_user.taxa_count %></span> species,
                    <span class="count"><%= project_user.observations_count %></span> observations
                  </div>
                </div>
              </li>
            <% end %>
          </ol>
          <%= link_to "View leaderboard", project_contributors_path(@project), :class => "readmore" %>
          <span class="description"> | </span>
          <%= link_to "View all members", project_members_path(@project), :class => "readmore" %>
        <% else %>
          <div class="stacked clear">
            <% for project_user in @project_users %>
              <%= link_to image_tag(project_user.user.icon.url(:thumb), :class => 'usericon'),
                observations_by_login_path(project_user.user.login),
                :alt => h(project_user.user.login),
                :title => "#{h(project_user.user.login)}, joined #{project_user.created_at.to_date.to_s(:long)}" %>
            <% end %>
          </div>
          <%= link_to "View all members", project_members_path(@project), :class => "readmore" %>
        <% end %>
      </div>
    </li>
    <% if logged_in? -%>
      <li>
        <%= link_to "<span class='lead'>&raquo;</span> Stats", project_stats_path(@project), :class => "navlink" %>
      </li>
    <% end -%>
  </ul>
  
  <h3>About</h3>
  <%= truncate_with_more formatted_user_text(@project.description), :length => 400 %>
  
  <% if @custom_project && !@custom_project.side.blank? -%>
    <%= @custom_project.side %>
  <% end -%>
  
  <div id="fblike" class="stacked">
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <fb:like send="true" show_faces="true" width="270" layout="button_count"></fb:like>
  </div>
  
  
  <%= link_to image_tag(@project.user.icon.url(:mini), :style => "vertical-align:middle;"),
    observations_by_login_path(@project.user.login),
    :alt => h(@project.user.login),
    :title => "#{h(@project.user.login)}, joined #{project_user.created_at.to_s(:long)}" %>
  <%= link_to h(@project.user.login), @project.user %>
  <span class="description">created this project on <%= @project.created_at.to_date.to_s(:long) %></span>
  
  <%= separator %>
  <center class="small meta">
    <%= link_to "embed a widget for this project on your website", observations_widget_path(:project_id => @project.id),
      :rel => "nofollow" %>
  </center>
</div>
