<%- content_for(:title) do -%>
  <%=h @project.title %>
<%- end -%>

<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'observations', 'observations/by_login', 'observations/filters' %>
  <style type="text/css" media="screen">
    h2 {
      line-height: 1;
      margin: 0;
      float: left;
    }
    .inat-contributor-block {
        display: inline-block;
    }
    .inat-contributor-pic {
      text-align: center;
      max-width: 50px;
      float: left;}
  </style>
  
  <% if @custom_project && !@custom_project.css.blank? -%>
    <style type="text/css" media="screen">
      <%= @custom_project.css %>
    </style>
  <% end -%>
<%- end -%>

<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo Projects", projects_path, :class => 'crumb' %></strong>
    <span class="right">
      <%-
        links = []
        if !@project.terms.blank? || !@project.project_observation_rules.blank? || !@project.project_user_rules.blank?
          links << link_to("Terms &amp; Rules", project_terms_path(@project), :class => "ui")
        end
        if logged_in? && current_user.id == @project.user_id
          links << link_to("Edit project", edit_project_path(@project), :class => "ui description")
        end
        if @project_user && @project_user.user_id != @project.user_id
          links << link_to("Leave this project", leave_project_path(@project), :method => :post, :class => "ui description",
            :confirm => "Are you sure you want to leave this project?")
        end
        if @project_user.blank?
          links << link_to("Join this project", join_project_path(@project), :class => "ui")
        end
      -%>
      <%= links.join(" | ") unless links.blank? %>
    </span>
  </div><!-- /#breadcrumbs -->
  
  <% if @custom_project && !@custom_project.head.blank? -%>
    <%= @custom_project.head %>
  <% else %>
    <h2>
      <% if @logo_image -%>
        <%= image_tag @logo_image.asset.url %>
      <% else %>
        <% if @project.icon.file? -%>
          <%= image_tag @project.icon.url(:thumb), :style => "vertical-align: middle" %>
        <% end -%>
        <%=h truncate @project.title, :length => 55 %>
      <% end -%>
    </h2>
    
    <span class="right">
      <% if logged_in? %>
      <%= link_to 'Add Observations to This Project!', new_observation_path(:project_id => @project.id), :id => 'addobs', :class => 'button default', :rel => "nofollow" %>
      <% else %>
      <%= link_to 'Sign Up to Add to This Project!', signup_url, :id => 'signup', :class => 'button default' %>
      <% end %>
    </span>
  <% end -%>
</div>

<div class="column span-15 append-1">
  <div class="description">
    <%= formatted_user_text(@project.description) %>
  </div>
  
  <div id="observations">
    <h3>
      Observations
      <%= link_to "View map", project_observations_path(@project), :class => "ui readmore", :style => "font-size: 60%; margin-left: 5px" %>
    </h3>
    <% if @project_observations.blank? -%>
      <div class="description noresults">
        No observations have been added to this project yet.
      </div>
    <% else %>
      <div class="mini observations">
        <%= render :partial => "observations/cached_component", :collection => @project_observations %>
      </div>
      <%= link_to "More observations", {:controller => "observations", :action => "project", :id => @project},
        :class => "readmore" %>
    <% end -%>
  </div>
</div>

<div class="last column span-8">
  <div class="quiet box">
    <h3>Data</h3>
    <ul>
      <li><%= link_to "Observations / Map", project_observations_path(@project) %></li>
      <li class="feeds">
        <%= link_to("Atom", project_observations_path(:format => 'atom'), :id => 'atomlink', :rel => "nofollow") %> /
        <%= link_to("KML",  project_observations_path(:format => 'kml'), :id => 'kmllink', :rel => "nofollow") %> /
        <%= link_to("CSV",  project_observations_path(:format => 'csv'), :id => 'csvlink', :rel => "nofollow") %>
      </li>
      <li><%= link_to "Checklist", list_path(@project.project_list) %></li>
    </ul>

    <% if @project.contest? && !@project_users.blank? && @top_observers.first.taxa_count > 0 -%>
      <h3>Unique Contributions</h3>
      <div id="species-count" style="font-size: larger">
        <b><%= @species_count %> Species Observed</b>
      </div>
      </br>
      <div id="top observers" style="margin-bottom: 10px">
        <h3>Top Contributors</h3>
        <% for project_user in @top_observers %>
          <div class="inat-contributor-block">
            <div class="inat-contributor-pic">
              <%= link_to image_tag(project_user.user.icon.url(:thumb), :class => 'usericon'),
                observations_by_login_path(project_user.user.login),
                :alt => h(project_user.user.login),
                :title => "#{h(project_user.user.login)}, joined #{project_user.created_at.to_date.to_s(:long)}" %>
              <%= link_to truncate(h(project_user.user.login), :length => 20), project_show_contributor_path(@project,project_user) %>
            </div>
            <div class="inat-contributor-pic">
              <b><%= project_user.taxa_count %></b> sp.<br /><b><%= project_user.observations_count %></b> obs.
            </div>
          </div>
          <br />
        <% end %>
      </div>
      <%= link_to "See more contributions", project_contributors_path(@project) %>
    <% end %>
    
    <div id="members" style="margin-bottom: 10px">
      <h3>Members</h3>
      <% if @project_users.blank? -%>
        <div class="noresults">
          No members yet.
        </div>
      <% else %>
        <% for project_user in @project_users %>
          <%= link_to image_tag(project_user.user.icon.url(:thumb), :class => 'usericon'),
            observations_by_login_path(project_user.user.login),
            :alt => h(project_user.user.login),
            :title => "#{h(project_user.user.login)}, joined #{project_user.created_at.to_date.to_s(:long)}" %>
        <% end %>
        <br /><%= link_to "View all members", project_members_path(@project) %>
      <% end -%>
    </div>

    <h3>Admin</h3>
    <%= link_to image_tag(@project.user.icon.url(:mini), :style => "vertical-align:middle;"),
      observations_by_login_path(@project.user.login),
      :alt => h(@project.user.login),
      :title => "#{h(@project.user.login)}, joined #{project_user.created_at.to_s(:long)}" %>
    <%= link_to h(@project.user.login), @project.user %>
    <span class="description">created this project on <%= @project.created_at.to_date.to_s(:long) %></span>
  </div>
  
  <% if @custom_project && !@custom_project.side.blank? -%>
    <%= @custom_project.side %>
  <% end -%>

  <div class="last column span-8">
    <div class="small meta right">
      <%= link_to "embed a widget for this project on your website", observations_widget_path(:project_id => @project) %>
    </div>
  </div>
</div>
