- content_for :title do
  = raw @project.title
- content_for :extrahead do
  - # TODO: meta tags
- content_for :extracss do
  = stylesheet_link_tag "projects/show2"
- content_for :extrajs do
  - if logged_in?
    :ruby
      js_current_user = { id: current_user.id,
        login: current_user.login,
        curator_project_ids: current_user.project_users.curator_privilege.pluck(:project_id),
        icon_url: current_user.icon.file? ? current_user.icon.url(:medium) : nil,
        roles: current_user.roles.map(&:name),
        prefers_scientific_name_first: current_user.prefers_scientific_name_first,
        blockedUserHashes: current_user.user_blocks.map{|ub| Digest::MD5.hexdigest( ub.blocked_user_id.to_s ) },
        blockedByUserHashes: current_user.user_blocks_as_blocked_user.map{|ub| Digest::MD5.hexdigest( ub.user_id.to_s ) }
      }
  :javascript
    var CURRENT_USER = #{ js_current_user ? js_current_user.to_json : "{ }" };
    var PROJECT_DATA = #{ @projects_data.to_json };
    var CURRENT_TAB = "#{ @current_tab }";
    var CURRENT_SUBTAB = "#{ @current_subtab }";
    var ROOT_TAXON_ID = #{ Taxon::LIFE.id };
  = javascript_include_tag "projects-show-webpack"

#app
  #initial-loading.text-center
    .loading_spinner
