<%- content_for(:title) do -%>
  <%=h @project.title %>
<%- end -%>

<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'observations/by_login', 'observations/filters' %>
  <style type="text/css" media="screen">
    .observations.medium.grid .observation, .observations.medium.grid .photos, .observations.medium.grid .icon {
      width: 172px;
      height: 172px;
    }
  </style>
<% end %>

<%- content_for(:extrajs) do -%>
  <%= google_maps_js %>
  <%= javascript_include_tag 'map_bundle' %>
<%- end -%>

<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo #{h @project.title}".html_safe, @project, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  <h2>
    <%= t(:contributions_from) %>
    <%= link_to h(@contributor.user.login), observations_by_login_path(@contributor.user.login) %>
    <%=t :to %>
    <% if @project.icon.file? -%>
      <%= image_tag @project.icon.url(:span1), :style => "vertical-align: middle" %>
    <% end -%>
    <%=h truncate @project.title, :length => 55 %>
  </h2>
</div>  
  
<div class="column span-18">
  <div id="observations">
    <% if @project_observations.blank? -%>
      <div class="description noresults">
        <%= link_to h(@contributor.user.login), observations_by_login_path(@contributor.user.login) %> 
        <%= t(:hasnt_contributed_any_observations) %>
      </div>
    <% else %>
      <div class="stacked observationcontrols"></div>
      <div class="medium observations grid">
        <% compact do %>
          <%= render :partial => "observations/cached_component", :collection => @project_observations.map{|po| po.observation}.compact %>
        <% end -%>
      </div>
      <script type="text/javascript" charset="utf-8">
        $('.observationcontrols').observationControls('medium')
      </script>
     <%= will_paginate @project_observations, :renderer => INatLinkRenderer %>
    <% end -%>
  </div>
</div>

<div class="last column span-6">
  <h3><%= t(:stats) %></h3>
  <ul class="meta">
    <li><%= t :x_taxa_observed_html, :count => number_with_delimiter(@contributor.taxa_count) %></li>
    <li><%= t :x_observations_html, :count => number_with_delimiter(@contributor.observations_count) %></li>
    <li><%= t :x_research_grade_observations_html, :count => number_with_delimiter(@research_grade_count) %></li>
    <li><%= t :x_research_grade_observations_to_species_html, :count => number_with_delimiter(@research_grade_species_count) %></li>
  </ul>
</div>
