<%- content_for(:title) do -%>
  <%=h @project.title %>
<%- end -%>

<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'observations', 'observations/by_login', 'observations/filters' %>
  <style type="text/css" media="screen">
    h2 {
      line-height: 1;
      margin: 0;
      float: left;
    }
    td .usericon {
      vertical-align: middle;
    }
  
    td {
      vertical-align: middle;
    }
  
    td .description {
      display: block;
    }
  </style>
<% end %>

<div id="pageheader" class="clear">

  <h2>
    Contributions from <%= link_to h(@contributor.user.login), observations_by_login_path(@contributor.user.login) %> to
    <% if @project.icon.file? -%>
      <%= image_tag @project.icon.url(:thumb), :style => "vertical-align: middle" %>
    <% end -%>
    <%=h truncate @project.title, :length => 55 %>
  </h2>
</div>  

<div id="stats" class="column span-20">
  <table class="readable">
    <tr>
      <td width="50%">
        <span class="description"><%= @contributor.taxa_count %> taxa observed</span>
      </td>
      <td width="50%">
        <span class="description"><%= @contributor.observations_count %> total observations</span>
      </td>
    </tr>
  </table>
</div>
  
<div class="column span-17 append-1">
  <div id="observations">
    <h3>
      Observations
    </h3>
    <% if @project_observations.blank? -%>
      <div class="description noresults">
        <%= link_to h(@contributor.user.login), observations_by_login_path(@contributor.user.login) %> 
        hasn't contributed any observations to this project.
      </div>
    <% else %>
      <div class="mini observations">
        <%= render :partial => "observations/cached_component", :collection => @project_observations %>
      </div>
     <%= will_paginate @project_observations %>
    <% end -%>
  </div>
</div>

<div class="breadcrumbs">
  <strong><%= link_to "&laquo #{h @project.title}", @project, :class => 'crumb' %></strong>
</div><!-- /#breadcrumbs -->
