<%- content_for(:title) do -%>
  <%= @title = t(:x_project_stats, :project => @project_name = "#{h truncate(@project.title, :length => 85)}") %>
<%- end -%>

<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo #{@project.title}".html_safe, @project, :class => 'crumb' %></strong>
  </div>
  
  <h2>
    <% if @project.icon.file? -%>
      <%= image_tag @project.icon.url(:thumb), :style => "vertical-align: middle" %>
    <% end -%>
    <%= @title.html_safe %>
  </h2>

</div>

<div class="column span-12">
  <table>
    <thead>
      <tr>
        <%- @headers.each do |header| %>
          <th><%= header.downcase %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% for line in @data %>
        <tr>
          <%- line.each do |item| %>
            <td><%= item %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= link_to t(:download_csv), formatted_project_stats_path(@project, 'csv') %>
</div>

<div class="last column span-12">
  <table>
    <tr>
      <td><%= t(:total_members) %></td>
      <td><%= @total_project_users %></td>
    </tr>
    <tr>
      <td><%= t(:total_observations) %></td>
      <td><%= @total_project_observations %></td>
    </tr>
    <tr>
      <td><%= t(:total_unique_observers) %></td>
      <td><%= @total_unique_observers %></td>
    </tr>
  </table>
  
  <% if @project_user -%>
    <%- txt = is_me?(@project_user.user) ? t(:view_your_observations) : t(:view_user_observations, :user => possessive(@project_user.user)) -%>
    <%= link_to txt, 
      project_show_contributor_path(@project, @project_user.user.login),
      :class => "readmore" %>
  <% end -%>
</div>
