- content_for :extrahead do
  = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"
  = stylesheet_link_tag "projects/stats_slideshow"
  = javascript_include_tag 'i18n'
  %meta{ name: "config:inaturalist_api_url", content: CONFIG.node_api_url }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0" }
  :javascript
    SLIDESHOW_PROJECT = #{ @slideshow_project.to_json };
#app
- content_for :delayed_js do
  = javascript_include_tag 'i18n/translations'
  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"
  = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"
  = javascript_include_tag "project-slideshow-webpack"
  = javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
  = stylesheet_link_tag "fontastic-icons"
