- content_for :extrahead do
  = stylesheet_link_tag "bootstrap"
  = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"
  = stylesheet_link_tag "projects/stats_slideshow"
  = javascript_include_tag 'i18n'
  %meta{ name: "config:inaturalist_api_url", content: CONFIG.node_api_url }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0" }
  :javascript
    SLIDESHOW_PROJECT = #{ @slideshow_project.to_json.html_safe };
    TILESERVER = "#{ CONFIG.tile_servers.elasticsearch }";
#app
- content_for :delayed_js do
  = javascript_include_tag 'i18n/translations'
  = javascript_include_tag "ang/models/taxon"
  = javascript_include_tag "jquery/jquery-1.11.3.min.js"
  = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"
  = javascript_include_tag "project-slideshow-webpack"
  = javascript_include_tag "bootstrap.min"
  = stylesheet_link_tag "fontastic-icons"
