<%- content_for(:extrajs) do -%>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag 'inaturalist/map3' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var map = window.map = iNaturalist.Map.createMap({lat: 0, lng: 0, zoom: 3}),
          place = <%= @place.to_json %>,
          placeGeometryKmlUrl = <%= @place_geometry.blank? ? 'null' : place_geometry_url(@place, :format => "kml").inspect %>,
          observations = <%= @observations.to_json(:include => :iconic_taxon) %>
      var lyr, kmlSet = false;
      <%- for kml_asset in @kml_assets %>
        lyr = new google.maps.KmlLayer('<%= root_url.gsub(/\/$/, "") + kml_asset.asset.url %>');
        lyr.setMap(window.map);
        kmlSet = true
      <% end %>
      
      if (placeGeometryKmlUrl) {
        lyr = new google.maps.KmlLayer(placeGeometryKmlUrl, {preserveViewport: true})
        map.addOverlay(place.name + ' boundary', lyr)
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(new iNaturalist.OverlayControl(map))
      }
      
      map.addObservations(observations)
      
      if (!kmlSet) {
        if (place) {
          if (place.swlat) {
            var bounds = new google.maps.LatLngBounds(
              new google.maps.LatLng(place.swlat, place.swlng),
              new google.maps.LatLng(place.nelat, place.nelng)
            )
            map.fitBounds(bounds)
          } else {
            map.setCenter(new google.maps.LatLng(place.latitude, place.longitude));
          }
        } else if (observations && observations.length > 0) {
          map.zoomToObservations()
        }
      }
    })
  </script>
<%- end -%>

<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'observations' %>
  <style type="text/css" media="screen">
	
    h2{line-height:1;margin:0;float:left;}
    .inat-contributor-block{display:inline-block;}
    .inat-contributor-pic{text-align:center;max-width:50px;float:left;}
    #map { width: 100%; height: 300px;}
    #projectnav {
      margin: 0 0 10px 0;
      list-style: none;
      padding: 0;
    }
    #projectnav li { border-top: 2px solid white; padding: 5px 0; margin: 0;}
    #projectnav li:first-child { border-top: 0 transparent; }
    #projectnav .navlink {
      display: block;
      font-family: Georgia, Times, serif;
      font-size: 140%;
      padding: 0 10px;
    }
    #projectnav li:hover { background-color: #F4F4F4; }
    #projectnav .navlink .lead {
      font-family: Arial;
      font-size: 130%;
      line-height: 0;
      color: #333;
    }
    #projectnav li .inner { margin-left: 25px;}
    #projectnav ol { margin-right: 0; margin-bottom: 10px;}
    #projectnav ol li { padding: 5px 0; }
    #pageheader .buttonrow {margin-top: 5px;}

	.hMenu {text-align:justify; margin:0 auto;}
	.filler {width:100%; display: inline-block; height:0px;}
	.item{ display: inline-block; height:20px;}
  </style>
  
  <% if @custom_project && !@custom_project.css.blank? -%>
    <style type="text/css" media="screen">
      <%= @custom_project.css %>
    </style>
  <% end -%>
<%- end -%>

<div class="span-12 header">
	<div class="hMenu">
		<ul>
			<li class="item">
				<span class="buttonrow">
      				<%= link_to 'Add Observations', new_observation_path(:project_id => @project.id), 
        			:class => 'last button default', :rel => "nofollow" %>
    			</span>
			</li>
			<li class="item">
				<% if @project.prefers_count_from_list? -%>
          			<span class="count"><%= @observed_taxa_count %></span> of <span class="count">
					<%=@project.project_list.listed_taxa.count %></span> taxa observed</span>
      			<% else -%>
       				<% if @observed_taxa_count.to_i > 0 -%>
	   					<% if @observed_taxa_count.to_i > 1 -%>
           					<span class="count"><%= @observed_taxa_count %></span> taxa observed
		 				<% else -%>
							<span class="count"><%= @observed_taxa_count %></span> taxon observed
						<% end -%>
        			<% end -%>
      			<% end -%>
			</li>
			<li class="item">
				<a href="/" title="<%= APP_CONFIG[:site_name] %>" class="logolink">
			        <img src="/images/inat-logo-pb.png" alt="Powered by iNaturalist.org" />
			      </a>
			</li>
			<li class="filler"></li>
		</ul>
	</div>
</div>

<div class="span-12 header">
  <div id="map" class="stacked"></div>
</div>
<div class="column span-6">
  <div id="observations">
    <h3>
		<%= link_to "Recent Observations", project_observations_path(@project), :class => "navlink" %>
    </h3>
    <% if @project_observations.blank? -%>
      <div class="description noresults">
        No observations have been added to this project yet.
      </div>
    <% else %>
      <div class="mini observations">
        <% for project_observation in @project_observations %>
          <%= render :partial => 'project_observation', :object => project_observation %>
        <% end %>
      </div>
    <% end -%>
  </div>
</div>

<div class="last column span-6">
	<h3>
      <%= link_to "Top Contributors", project_contributors_path(@project), :class => "navlink" %>
    </h3>
  <ul>
          <ol class="readable">
            <% for project_user in @top_observers  %>
              <li>
                <div class="clear">
                  <%= link_to image_tag(project_user.user.icon.url(:thumb), :class => 'usericon left'),
                    observations_by_login_path(project_user.user.login),
                    :alt => h(project_user.user.login),
                    :title => "#{h(project_user.user.login)}, joined #{project_user.created_at.to_date.to_s(:long)}" %>
                  <%= link_to truncate(h(project_user.user.login), :length => 20), project_show_contributor_path(@project,project_user) %>
                  <div class="small ui">
                    <span class="count"><%= project_user.taxa_count %></span> species,
                    <span class="count"><%= project_user.observations_count %></span> observations
                  </div>
                </div>
              </li>
            <% end %>
          </ol>
    </li>
  </ul>
</div>
