<%- content_for(:title) do -%>
  <%= @title = "#{h truncate(@project.title, :length => 85)} Terms &amp; Rules" %>
<%- end -%>
<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo #{h @project.title}", @project, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  
  <h2>
    <% if @project.icon.file? -%>
      <%= image_tag @project.icon.url(:thumb), :style => "vertical-align: middle" %>
    <% end -%>
    <%= @title %>
  </h2>

</div>

<% if !@project.terms.blank? -%>
  <%= formatted_user_text(@project.terms) %>
<% end %>

<% if !@project_user_rules.blank? || !@project_observation_rules.blank? %>
  <h3>Project Rules</h3>
  <% unless @project_user_rules.blank? -%>
    <h4>New members...</h4>
    <ul>
      <% for rule in @project_user_rules %>
        <li>...<%= rule.terms %></li>
      <% end %>
    </ul>
  <% end -%>

  <% unless @project_observation_rules.blank? -%>
    <h4>New observations...</h4>
    <ul>
      <% for rule in @project_observation_rules %>
        <li>...<%= rule.terms %></li>
      <% end %>
    </ul>
  <% end -%>
<% end -%>

<div class="breadcrumbs">
  <strong><%= link_to "&laquo #{h @project.title}", @project, :class => 'crumb' %></strong>
</div><!-- /#breadcrumbs -->
