<%- content_for(:title) do -%>
  <%= @title = truncate(@project.title, :length => 85) %> <%=t(:terms_and_rules_html) %>
<%- end -%>
<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo #{h @project.title}".html_safe, @project, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  
  <h2>
    <% if @project.icon.file? -%>
      <%= image_tag @project.icon.url(:thumb), :style => "vertical-align: middle" %>
    <% end -%>
    <%= @title %>
  </h2>

</div>

<% if !@project.terms.blank? -%>
  <%= formatted_user_text(@project.terms) %>
<% end %>

<% if !@project_user_rules.blank? || !@project_observation_rules.blank? %>
  <h3><%= t(:project_rules) %></h3>

  <% unless @project_observation_rules.blank? -%>
    <h4><%= t(:new_observations_ellispsis) %></h4>
    <ul>
      <% @project_observation_rules.group_by(&:operator).each do |operator, rules| %>
        <li>...<%= rules.map(&:terms).join(" #{t(:or, :default => "OR")} ") %></li>
      <% end %>
    </ul>
  <% end -%>
<% end -%>

<div class="breadcrumbs">
  <strong><%= link_to "&laquo #{h @project.title}".html_safe, @project, :class => 'crumb' %></strong>
</div><!-- /#breadcrumbs -->
