<%= render 'header' %>

<p><%= @message %></p>

<% unless @errors.nil? %>
  <% @errors.each do |field, errors| %>
    <% if field == 'species_not_found' %>
      <%=t :the_species_listed_below_were_not_found_in_the_site_database, :site_name => @site_name %>
    <% end -%>
    <ul>
      <% errors.each do |error, rows|  %>
      <li>
        <%= error %>
        <ul><li><%=t :row_singular_or_plural %>: <%= rows.join(', ') %></li></ul>
      </li>
      <% end %>
      <% unless @field_options[field].blank? %>
      <li><%=t :valid_options_are %>: <%= @field_options[field] %></li>
      <% end %>
    </ul>
    <% if field == 'species_not_found' %>
      <p><%=t 'views.emailer.bulk_import_error.taxon_spelling_notice_html', 
        :search_taxa_url => search_taxa_url, :site_name => @site_name %>
      </p>
    <% end %>
  <% end %>
<% end %>

<p><%=t :please_fix_your_csv_and_try_again %></p>

<%= render 'footer' %>
