<%= render 'header' %>

<p>
  <%=t :hi_user, :user => @user.name.blank? ? @user.login : @user.name %>,
</p>

<p><%=t 'views.emailer.bulk_import_success.success_message', :filename => @filename %></p>

<p><%= link_to t(:view_your_observations), observations_by_login_url(:login => @user.login) %></p>

<%= render 'footer' %>
