= render "header"
- user_site = @user.site || Site.default

- if @observation.photos? && @observation.appropriate?
  %div{ style: "float: right; width: 118px; margin: 10px; text-align: center;" }
    = link_to observation_url( @observation ) do
      %div{ style: "width:110px; height:110px; overflow:hidden; border-radius:50%; margin: 10px auto; margin-right:10px;background-image:url('#{observation_image_url( @observation, size: "medium" )}'); background-size:cover; background-position:center; border: 4px solid #74AC00;" }

%p= "Hello, #{@user.published_name}!"
%p= "Thank you for posting this observation to #{user_site.name}!"
%p= "There is some key information you can add to make this observation more likely to be seen by the community and used for science and conservation:"
%ul
  - @errors.each do | error |
    %li= error
%p
= link_to "Are you able to add these to your observation?", observation_url( @observation )

%p= "Updating these will make it likely to Research Grade which is shared with scientists and represents an important source of biodiversity data for science and conservation."
%p= "Did you know that Research Grade observations posted to #{user_site.name} are shared with scientists and represent an important source of biodiversity data for science and conservation?"
%p= "We hope you'll continue to post observations to #{user_site.name}!"

%img{ src: "https://static.inaturalist.org/wiki_page_attachments/3930-original.png", style: "display: block; margin: 20px auto; max-width: 75%; height: auto;" }

= render "footer"