= render "header"
- user_site = @user.site || Site.default

- if @observation.photos? && @observation.appropriate?
  %div{ style: "float: right; width: 118px; margin: 10px; text-align: center;" }
    = link_to observation_url( @observation ) do
      %div{ style: "width:110px; height:110px; overflow:hidden; border-radius:50%; margin: 10px auto; margin-right:10px;background-image:url('#{observation_image_url( @observation, size: "medium" )}'); background-size:cover; background-position:center; border: 4px solid #74AC00;" }

%p= "Hello, #{@user.published_name}!"

%p
  = "Congratulations on posting "
  = link_to "your first Research Grade observation", observation_url( @observation )
  = " to #{user_site.name}!"
%p= "While #{user_site.name} is a great place to learn about captive animals and cultivated plants, did you know that observations of wild organisms can become  Research Grade observations shared with scientists and represent an important source of biodiversity data for science and conservation?"
%p= "Research Grade observations have been vetted by the community and are shared with scientist"
%p= "Did you know that, according to the Global Biodiversity Information Facility, more than half of all biodiversity records for most species this decade come from #{user_site.name} Research Grade observations?"
- if @post_url.present?
  - post_link = link_to "this month’s News Highlights", @post_url
  %p
    = "You can read about some of the science and conservation stories behind #{user_site.name} observations in "
    = post_link
    = "."
%img{ src: "https://static.inaturalist.org/wiki_page_attachments/3931-original.png", style: "display: block; margin: 20px auto;" }
- if @followers.any?
  %p Click on the profile pictures of these nearby observers to see what they've found nearby this week:
  %table{ border: "0", cellpadding: "0", cellspacing: "0", width: "100%", style: "border-collapse: collapse !important;" }
    %tr
      %div{ style: "display: flex; flex-wrap: wrap; justify-content: center; max-width: 598px;" }
        - @followers.each do |to_follow|
          %div{ style: "width: 110px; text-align: center; margin: 10px;" }
            - merged_params = @search_params.merge(user_id: to_follow[:user].id)
            = link_to observations_url(merged_params) do
              %div{ style: "width: 110px; height: 110px; overflow: hidden; border-radius: 50%; margin: 0 auto; background-image: url('#{to_follow[:user].icon.url(:medium)}'); background-size: cover; background-position: center; border: 4px solid #74AC00;" }
            %p{ style: "margin: 0; padding-top: 10px; width: 110px; text-align: center; word-wrap: break-word; overflow: hidden;" }
              = link_to to_follow[:user].published_name, user_url( to_follow[:user] )
= render "footer"