= render "header"
- user_site = @user.site || Site.default

- if @observation.photos? && @observation.appropriate?
  %div{ style: "float: right; width: 118px; margin: 10px; text-align: center;" }
    = link_to observation_url( @observation ) do
      %div{ style: "width:110px; height:110px; overflow:hidden; border-radius:50%; margin: 10px auto; margin-right:10px;background-image:url('#{observation_image_url( @observation, size: "medium" )}'); background-size:cover; background-position:center; border: 4px solid #74AC00;" }

%p= "Hello, #{@user.published_name}!"

%p
  = "Congratulations on posting "
  = link_to "your first Research Grade observation", observation_url( @observation )
  = " to #{user_site.name}!"
%p= "Research Grade observations have been vetted by the community and are shared with scientists."
%p= "Did you know that, according to the Global Biodiversity Information Facility, more than half of all biodiversity records for most species this decade come from #{user_site.name} Research Grade observations?"
%img{ src: "https://static.inaturalist.org/wiki_page_attachments/3931-original.png", style: "display: block; margin: 20px auto; max-width: 100%; height: auto;" }
- if @post_url.present?
  %hr
  - post_link = link_to "this month’s News Highlights", @post_url
  %p
    = "You can read about some of the science and conservation stories behind #{user_site.name} observations in "
    = post_link
    = "."
= render "footer"