= render "header"
- user_site = @user.site || Site.default
%p= "Hello, #{@user.published_name}!"

- if @set == "research"
  %p
    | Congratulations on posting
    = link_to "a Research Grade observation", observation_url( @observation )
    = " to #{user_site.name}!"
- else
  %p
    | Congratulations on posting
    = link_to "your first observation", observation_url( @observation )
    = " to #{user_site.name}!"

- if @set == "captive_or_human"
  %p= "Did you know that observations of wild organisms posted to #{user_site.name} are shared with scientists and represent an important source of biodiversity data for science and conservation?"
  %p= "We hope you'll continue to use #{user_site.name} to explore nature."
  %p= "Can you find one of these wild organisms commonly seen near #{@city} in #{@month_name} and share it as your next observation?"
- else
  - if @set == "error_subject"
    %p= "It looks like your observation includes photos of several different species."
    %p= "Because each #{user_site.name} observation should represent a single species, it won't be eligible to become Research Grade until you split it into separate observations."
  - elsif @set == "error_dqa" || @set == "error_missing"
    %p= "However, there is some key information you can add to make it more likely to get input from the community and be used for science and conservation."
    %p="Your observation as missing"
    %ul
      - @errors.each do | error |
        %li= @error_mapping[error]
    %p= "So it won't be eligible to become Research Grade and is less likely to get attention from the #{user_site.name} community"
  %p= "Did you know that Research Grade observations posted to #{user_site.name} are shared with scientists and represent an important source of biodiversity data for science and conservation."
  - if @set == "error_subject"
    %p= "We hope you'll continue to post to #{user_site.name}. Will you try posting another observation that represents a single species?"
  - elsif @set == "error_dqa" || @set == "error_missing"
    %p= "We hope you'll continue to post to #{user_site.name}. Will you try posting another observation that includes the missing pieces described above?"
  - else
    %p= "We hope you'll continue to use #{user_site.name} to contribute to important data for science and conservation!"
  %p= "Here are some more species commonly seen near #{@city} in #{@month_name} to inspire you."
%tr
  %td{ valign: "top", class: "bodyContent", "mc:edit": "body_content00", style: "color: #505050; font-family: Helvetica; font-size: 16px; line-height: 150%; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; text-align: left;" }
    %table{ border: "0", cellpadding: "0", cellspacing: "0", width: "100%", style: "border-collapse: collapse !important;" }
      %tr
        %div{ style: "display: flex; flex-wrap: wrap; justify-content: center; max-width: 598px;" }
          - @nearby_species.each do |taxon|
            %div{ style: "width: 118px; margin: 10px; text-align: center;" }
              = link_to taxon_url( taxon ) do
                %div{ style: "width:110px; height:110px; overflow:hidden; border-radius:50%; margin:0 auto; margin-right:10px; background-image:url('#{taxon_image_url( taxon, size: "medium" )}'); background-size:cover; background-position:center; border: 4px solid #74AC00;" }
                %p{ style: "margin:0; padding-top:10px; width: 110px; text-align: center; word-wrap: break-word; height: 80px; overflow: hidden;" }
                  = render partial: 'shared/taxon', object: taxon, locals: { include_parens: false, exclude_rank: true, one_name: true }

= render "footer"