<%- content_for(:title) do -%>
  <%= @title = pluralize(@invited.size, "invite") + " sent" %>
<%- end -%>

<%= link_to t(:back_to_people), people_path, :class => "back crumb" %>
<h2><%= @title %></h2>

<% if @invited.size > 0 -%>
  <h3><%=t :send_invites_to %></h3>
  <div class="success">
    <%= @invited.join(', ') %>
  </div>
<% end -%>

<% if @not_invited.size > 0 || @existing_users.size > 0 || @existing_invites.size > 0 -%>
  <h3><%=t :did_not_send_invitations_because %></h3>
  
  <% if @existing_users.size > 0 -%>
    <h4><%=t :they_already_have_iNat_accounts, :site_name => @site.preferred_site_name_short %></h4>
    <div class="box clear">
      <% for user in @existing_users %>
        <div class="column span-7">
          <%= image_and_content user_image(user, :size => "thumb"), :class => "stacked", :image_size => 48 do %>
            <strong><%= link_to user.login, user %></strong>
            <div class="description"><%= user.email %></div>
            <div class="small inline buttonrow">
              <%= friend_button current_user, user, :class => "glaucous button" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end -%>
  
  <% if @existing_invites.size > 0 -%>
    <h4><%=t :they_have_been_invited %></h4>
    <div class="quiet box">
      <%= @existing_invites.map(&:invite_address).join(', ') %>
    </div>
  <% end -%>
  
  <% if @not_invited.size > 0 -%>
    <h4><%=t :you_are_over_your_invites_quota %></h4>
    <div class="quiet box">
      <%= @not_invited.join(', ') %>
    </div>
  <% end -%>
<% end -%>

<div class="description">
  <%= link_to t(:back_to_people), people_path, :class => "back crumb" %>
  <%- if @not_invited.size == 0 %>
    or
    <%= link_to t(:invite_more), emailer_invite_path, :class => "readmore" %>
  <% end %>
</div>
