<% content_for(:title) do -%>Invite a Naturalist<% end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    input.text,
    textarea {
      width: 400px;
    }
    
    form .field label {
      display: block;
    }
    
    #email_addresses,
    #email_personal_message {
      height: 100px;
    }
    
    #preview {
      margin-top: 0.5em;
    }
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#email_sender_name').keyup(function() {
        if ($(this).val() != '') {
          $('.preview_sender_name').html($(this).val());
        };
      });

      $('#email_personal_message').keyup(function() {
        if ($(this).val() != '') {
          $('#preview_personal_message').html($(this).val());
        }
      });
    });
  </script>
<%- end -%>

<div id="pageheader" class="column span-24">
  <span class="breadcrumbs">    
    <%= link_to t(:back_to_browsing_people), 
                people_path,
                :class => 'back crumb' %>
  </span>
  <h2><%=t :invite_your_friends %></h2>
  <p class="description">
    <%=t :invite_your_friends_description, :site_name => @site.name %>
  </p>
</div>

<div class="column span-11 append-1">
  <%= form_tag(:action => 'invite_send') do %>
  
  <div class="clear field">
    <%= label :email, :sender_name, t(:from) %>
    <%= text_field(:email, :sender_name, :value => @sending_user_real_name, :class => 'text') %>
  </div>
  
  <div class="clear field">
    <%= label :email, :addresses, t(:email_addresses_to_receive_invites) %>
    <div class="description">
      <%=t :email_addresses_description %>
    </div>
    <%=  text_area(:email, :addresses) %>
  </div>
  
  <div class="clear field">
    <%= label :email, :personal_message, t(:personal_message) %>
    <div class="description">
      <%=t :personal_message_description %>
    </div>
    <%=  text_area(:email, :personal_message) %>
  </div>
  
  <%= submit_tag(t(:send_the_invites), :class => 'default button') %><br />
    
  <% end %>
</div>

<div class="last column span-12">
  <label><%=t :preview_your_message %></label>
  <div id="preview" class="box">
    <p><%=t :hi %></p>
    
    <p id="preview_personal_message">
      <%= t(:preview_personal_message, :site=> @site.name ) %>
    </p>
   
    <p>
      <%=t :you_can_sign_free_at, :site_name => @site.name %>
    </p>
    
    <p>
      <%= link_to signup_url, signup_url %>
    </p>
    
    <p>

    <%=t :check_out_my_observations_at %>
    </p>
    
    <p>
    <%= link_to observations_url({user_id: current_user.login}), 
      observations_url({user_id: current_user.login}) %>.
    </p>
    
    <p>
      - <span class="preview_sender_name"><%= @sending_user_real_name %></span>
    </p>
  </div>
</div>
