= render "header"

%div{:style => "color: #777;"}
  =t :x_sent_you_a_new_message_on_y_html, :x => link_to_user(@message.from_user), :y => @user.site.try(:name) || SITE_NAME
%table{:cellpadding => 10}
  %tr
    %td.nobr.from{:valign => "top"}
      %p
        = link_to user_image(@message.from_user, :size => "thumb", :border => 0), person_url(@message.from_user)
    %td.body= formatted_user_text(@message.body)

= link_to t(:reply).capitalize, message_url(@message)
&nbsp; | &nbsp;
= link_to t(:view_your_inbox).capitalize, messages_url

= render 'footer'
