%div{:style => "color: #777;"}=t :user_invited_you_to_join_html, :user => link_to_user(@sender)
%table{:cellpadding => 10}
  %tr
    %td{:valign => "top"}
      = link_to image_tag(image_url(@project.icon.url(:span2)), :alt => "#{h(@project.title)} icon", :width => 70, :height => 70), project_url(@project)
    %td
      %h3= link_to @project.title, project_url(@project)
      = truncate(strip_tags(@project.description), :length => 300)

= link_to t(:join_this_project), join_project_url(@project)

= render 'footer'
