<%= render 'header' %>

<p><%=t :new_updates_in_the_last_24_hours_from, :site_name => ( @user.site || Site.default ).try(:name) %></p>

<%= render :partial => 'shared/updates_table' %>

<p>
  <%=t :view_your_dashboard_for_more_updates_html, :url => dashboard_url %>
</p>

<%= render 'footer' %>
