New updates in the last 24 hours from <%= APP_CONFIG[:site_name] %>

<%= render :partial => 'shared/updates_table' %>

<p>
  <%= link_to "View your dashboard", dashboard_url %> for more recent updates.
</p>

<p>
  <%= link_to "Edit your settings", edit_user_url(@user) %> to change the kinds of updates you receive or unsubscribe completely.
</p>

<center><a href="<%= root_url %>"><img valign="middle" src="<%= root_url %>/images/logo-small.gif" alt="<%= APP_CONFIG[:site_name] %>"/></a></center>
