- translated_reason = ModeratorAction.translate_reason( @reason )
%p<>
  = succeed "," do
    = t(:hi_user, user: @user.name.blank? ? @user.login : @user.name)
- if @indefinite
  %p<>
    = t("views.emailer.user_suspended.message_indefinite", reason: translated_reason)
- else
  %p<>
    = t("views.emailer.user_suspended.message_timed", |
      reason: translated_reason, |
      duration: ApplicationController.helpers.time_until_in_words( @suspended_until ) |
    ) |
%p<>
  = t("views.emailer.user_suspended.appeal_html", |
    contact_us_url: "https://help.inaturalist.org/support/tickets/new" |
  ) |
%p<>
  = t("views.emailer.user_suspended.abide_html", |
    community_guidelines_url: "https://www.inaturalist.org/pages/community+guidelines", |
    terms_of_use_url: "https://www.inaturalist.org/pages/terms" |
  ) |
