<%-  
  flaggable = flag.flaggable
  flaggable_class = flaggable.class
-%>
<div class="flag <%= 'resolved' if flag.resolved? %>">
  <% if flag.user -%>
    <%= link_to flag.user.login, flag.user %>
  <% else %>
    iNat
  <% end -%>
  <%= link_to "flagged", flag, :action=>"show" %>
  <%= 
    if flaggable.methods.include?("user")
      link_to "#{flaggable.user.login}'s'", :controller => "users", :action => "show", :id => flaggable.user_id 
    else
      "the"
    end
  %>
  <%= flaggable_class.name %>
  <%= link_to flaggable.to_plain_s, flaggable %> 
  because 
  "<%= flag.flag %>"
  <span class="small meta ui">
    <%= link_to "resolve", flag %> |
    <%= link_to "delete", flag, 
      :confirm => "Are you sure you want to delete this flag?", 
      :method => :delete %>
  </span>
</div>
<% if flag.resolved? && !flag.comment.blank? -%>
  <div class="resolution description">
    <strong> 
      <% if flag.resolver -%>
        Resolved by <%= link_to flag.resolver.login, flag.resolver %>:
      <% else %>
        Resolved:
      <% end -%>
    </strong>
    <%= h flag.comment %>
  </div>
<% end -%>
