- items = [@flags, @moderator_actions].flatten.compact.sort_by(&:created_at).reverse
- content_for(:title) do
  - @title = t( :flags_for_x_html, x: link_to( @object.try_methods(:to_plain_s, :to_s), @object ) )
  =raw strip_tags @title
.container
  .row
    .col-xs-12
      #pageheader
        %span.breadcrumbs
          = link_to t(:back_to_x , noun: "#{@object.try_methods(:to_plain_s, :to_s)}"), @object, class: "back crumb"
          = link_to t(:add_a_flag), send( "new_#{@model.name.underscore}_flag_path" ), class: "pull-right"
        %h2= @title
      .description
        %p
          - translated_model_name = t( "activerecord.models.#{@model.name}", default: translate_with_consistent_case( @model.name.underscore, default: @model.name ) )
          = t :flags_explanation, :site_name => @site.name
          = t :flagged_thing_explanation, thing: translated_model_name, vow_or_con: translated_model_name[0].downcase, gender: @model.name.underscore
      - if items.empty?
        %ul
          %li.quiet.description= t :no_flags
      - else
        = render partial: "flag_table", locals: { flags: items, site: @site}
