<div id="pageheader" class="column span-24">
  <span class="breadcrumbs">
    <%= link_to "Back to the #{@model.name}", 
                @object,
                :class => 'back crumb' %>
  </span>

  <h2>
    Flags for <%= link_to @object.to_plain_s, @object %>
  </h2>
</div>

<div class="description">
  <p>
    iNaturalist users flag observations when they find something that is not right. Here are
    some issues that haven't been resolved by the curators yet. Users have flagged this <%= @model.name %> because:
  </p>
</div>

<ul class="readable">
  <% if @flags.empty? %>
    <li class="quiet description">No flags at this time!</li>
  <% end %>

  <%# Username flagged user's model model_string because  %>
  <% if logged_in? && current_user.is_curator? %>
    <%= render :partial => "flag_list", :locals => { :flags => @flags } %>
  <% else %>
        <% for flag in @flags %>
          <li>
           "<%= flag.flag %>"
          </li>
        <% end %>
  <% end %>
</ul>