- items = [@flags, @moderator_actions].flatten.compact.sort_by(&:created_at).reverse
- content_for(:title) do
  - @title = t( :flags_for_x_html, x: link_to( @object.try_methods(:to_plain_s, :to_s), @object ) )
  =raw strip_tags @title
.container
  .row
    .col-xs-12
      #pageheader
        %span.breadcrumbs
          = link_to t(:back_to_x , noun: "#{@object.try_methods(:to_plain_s, :to_s)}"), @object, class: "back crumb"
          = link_to t(:add_a_flag), send( "new_#{@model.name.underscore}_flag_path" ), class: "pull-right"
        %h2= @title
      .description
        %p
          = t :flags_explanation, :site_name => @site.name
          = t :flagged_thing_explanation, :thing => @model.name.downcase
      - if items.empty?
        %ul
          %li.quiet.description= t :no_flags
      - else
        %table.table
          %tbody
          - for item in items do
            %tr
              %td
                %time.datetime{ datetime: item.created_at.iso8601, title: l( item.created_at, format: :long ) }=l item.created_at, format: :long
              %td
                - if item.is_a?( Flag )
                  = render "flag", flag: item
                - elsif item.action == ModeratorAction::HIDE
                  =t :user_hid_this_item_because_reason_html, user: link_to_user( item.user ), item: t( @model.name.underscore ), reason: formatted_user_text( item.reason, skip_simple_format: true )
                - else
                  =t :user_unhid_this_item_because_reason_html, user: link_to_user( item.user ), item: t( @model.name.underscore ), reason: formatted_user_text( item.reason, skip_simple_format: true )
