<%- content_for(:title) do -%>
  <% @title = t( :flags_for_x_html, x: link_to( @object.try_methods(:to_plain_s, :to_s), @object ) ) %>
  <%= strip_tags @title %>
<%- end -%>
<div id="pageheader" class="column span-24">
  <span class="breadcrumbs">
    <%= link_to t(:back_to_x , noun: "#{@object.try_methods(:to_plain_s, :to_s)}"),
                @object,
                :class => 'back crumb' %>
  </span>

  <h2><%= @title %></h2>
</div>

<div class="description">
  <p>
    <%=t :flags_explanation, :site_name => @site.name %>
    <%=t :flagged_thing_explanation, :thing => @model.name.downcase %>
  </p>
</div>

<% if @flags.empty? %>
  <ul>
    <li class="quiet description"><%=t :no_flags %></li>
  </ul>
<% else %>
  <%= render :partial => "flag_list", :locals => { :flags => @flags } %>
<% end %>
