<%- content_for(:title) do -%>
  <% @title = capture do %>
    Flags for <%= link_to @object.try_methods(:to_plain_s, :to_s), @object %>
  <% end %>
  <%= strip_tags @title %>
<%- end -%>
<div id="pageheader" class="column span-24">
  <span class="breadcrumbs">
    <%= link_to "Back to #{@object.try_methods(:to_plain_s, :to_s)}", 
                @object,
                :class => 'back crumb' %>
  </span>

  <h2><%= @title %></h2>
</div>

<div class="description">
  <p>
    iNaturalist users flag things when they find something that's right. Here
    are some issues that haven't been resolved by the curators yet. Users have
    flagged this <%= @model.name.downcase %> because:
  </p>
</div>

<ul>
  <% if @flags.empty? %>
    <li class="quiet description">No flags at this time!</li>
  <% end %>  
  <%= render :partial => "flag_list", :locals => { :flags => @flags } %>
</ul>
