<div id="pageheader" class="column span-24">
  <span class="breadcrumbs">
    <%= link_to "Back to the observation", observation_path(@object),
                :class => 'back crumb' %>
  </span>
  <h2>New Flag for <%= link_to @model.name, @object %></h2>
</div>

<div class="description">
  <p>Flag this content to let the curators know something is wrong with it.</p>
</div>

<div class="clear readable buttonrow">
  <% form_for([@object,  @flag]) do |f| %>
    <%= f.label :reason, "&ldquo;I'm flagging this #{@model.name} because" %>
    <%= f.text_field :flag, :class => 'text' %>
    <label>&rdquo;</label>
    <%= f.hidden_field :user_id, :value=>current_user.id %>    
    <%= f.hidden_field :flaggable_id, :value=>@object.id %>
    <%= f.hidden_field :flaggable_type, :value=>@model.name %>
    <%= f.submit "Flag it!", :class => 'default button' %>
  <% end %>
</div>

<%= render :partial => "flag_list", :locals => { :flags => @flags } %>
