<% content_for(:title) do %>
  <%- @title = "Flag for #{link_to(@object.to_plain_s, @object) rescue @object.to_plain_s}".html_safe -%>
  <%= strip_tags @title %>
<% end %>
<% content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #tools {
      float: right;
    }
    
    .status {
      display: inline;
      padding: 2px;
    }
    td {vertical-align: middle;}
  </style>
<% end -%>

<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <%-
      url = send("#{@object.class.name.underscore}_flags_url", @object)
    -%>
    <strong><%= link_to "&laquo; #{t :back_to_x, :noun => "#{t(:flags_for).downcase} #{@object.to_plain_s}"}".html_safe, url, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  <h2><%= @title %></h2>
</div>

<table>
  <tr>
    <th>Created</th>
    <th>Object</th>
    <th>Flagger</th>
    <th>Reason</th>
    <th>Resolved By</th>
    <th>Resolve Comment</th>
  </tr>
  <tr>
    <td><%= @flag.created_at %></td>
    <td><%= link_to @object.to_plain_s, @object %></td>
    <td>
      <% if @flag.user -%>
        <%= link_to h(@flag.user.login), @flag.user %>
      <% else %>
        <%= @site.site_name_short %>
      <% end -%>
    </td>
    <td><%= h @flag.flag %></td>
    <td><%= 
      unless @flag.resolver.nil? 
        link_to h(@flag.resolver.login), @flag.resolver
      else
        "Not Resolved"
      end
      %></td>
    <td class="buttonrow">
      <% if is_curator? -%>
        <%= form_for(@flag, :action => "update") do |f| %>
          <%= f.text_field :comment, :class => 'text inline' %>
          <%= f.hidden_field :resolver_id, :value => current_user.id %>
          <%= f.hidden_field :resolved, :value => true %>
          <%= f.submit 'Resolve with comment', :class => 'inline button' %>
        <% end %>
      <% else %>
        <%= @flag.comment %>
      <% end -%>
    </td>
  </tr>
</table>

<div class="column span-12">
  <%= render :partial => 'comments/comments', :locals => { :parent => @flag } %>
</div>
