<% content_for(:title) do %>Flag for <%= @object.to_plain_s %><% end %>
<% content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #tools {
      float: right;
    }
    
    .status {
      display: inline;
      padding: 2px;
    }
    td {vertical-align: middle;}
  </style>
<% end -%>

<h2>Flag for <%= link_to @object.to_plain_s, @object %></h2>

<table>
  <tr>
    <th>Created</th>
    <th>Object</th>
    <th>Reason</th>
    <th>Flagger</th>
    <th>Resolved By</th>
    <th>Resolve Comment</th>
  </tr>
  <tr>
    <td><%= @flag.created_at %></td>
    <td><%= link_to @object.to_plain_s, @object %></td>
    <td><%= h @flag.flag %></td>
    <td>
      <% if @flag.user -%>
        <%= link_to h(@flag.user.login), @flag.user %>
      <% else %>
        iNat
      <% end -%>
    </td>
    <td><%= 
      unless @flag.resolver.nil? 
        link_to h(@flag.resolver.login), @flag.resolver
      else
        "Not Resolved"
      end
      %></td>
    <td class="buttonrow">
      <%= form_for(@flag, :action => "update") do |f| %>
        <%= f.text_field :comment, :class => 'text inline' %>
        <%= f.hidden_field :resolver_id, :value => current_user.id %>
        <%= f.hidden_field :resolved, :value => true %>
        <%= f.submit 'Resolve with comment', :class => 'inline button' %>
      <% end %>
    </td>
  </tr>
</table>