<%- content_for(:extrajs) do -%>
  <script type="text/javascript" charset="utf-8">
    // $(document).ready(function() {
    //   $('#taxon_name_lexicon').autocomplete()
    // });
  </script>
<%- end -%>
<%= form_for(@taxon_name, 
    :url => @taxon_name.new_record? ? taxon_taxon_names_path(@taxon || @taxon_name.taxon) : @taxon_name) do |n| %>
  <%= error_messages_for :taxon_name %>
  
  <%= n.hidden_field :taxon_id %>
  
  <% unless @taxon_name.source_identifier.blank? -%>
    <div class="clear quiet box right">
      <div class="description">
        This taxon name was originally imported from an external name provider:
      </div>
      <p class="ui">
        <%= n.label :name_provider %><br/>
        <%= n.text_field :name_provider, :disabled => true, :class => "text" %>
      </p>

      <p class="ui">
        <%= n.label :source_url %><br/>
        <%= n.text_field :source_url, :disabled => true, :class => "text" %>
      </p>
      <p class="ui">
        <%= n.label :source_identifier %><br/>
        <%= n.text_field :source_identifier, :disabled => true, :class => "text" %>
      </p>
    </div>
  <%- end -%>
  
  <p class="ui">
    <%= n.label :name %><br/>
    <%= n.text_field :name, :class => "text" %>
  </p>
  <p class="ui">
    <%= n.label :lexicon %><br/>
    <%-
      options = TaxonName::DEFAULT_LEXICONS + ['---------------------------'] + 
        (TaxonName::LEXICONS.values.sort - TaxonName::DEFAULT_LEXICONS)
    -%>
    <%= n.select :lexicon, options, :include_blank => "Unknown", :disabled => '---------------------------' %>
  </p>
  <p class="ui">
    <%= link_to_function "Add new lexicon", 
      "$('#new_lexicon_field').show(); " +
      "$('#new_lexicon_field input').attr('name', 'taxon_name[lexicon]');" +
      "$('#taxon_name_lexicon_select').attr('name', 'lexicon_select');" +
      "$(this).hide();",
      :id => "new_lexicon_link" %>
    <div id="new_lexicon_field" style="display: none">
      <%= n.text_field :lexicon, :name => "lexicon_text", :class => "text" %>
      <%= link_to_function "Cancel", 
        "$('#new_lexicon_field').hide(); " +
        "$('#new_lexicon_field input').attr('name', 'lexicon_text');" +
        "$('#taxon_name_lexicon_select').attr('name', 'taxon_name[lexicon]');" +
        "$('#new_lexicon_link').show();" %>
    </div>
  </p>
  <p class="ui" style="margin: 20px 0">
    <%= label_tag 'If this is a scientific name, is it currently accepted?' %><br/>
    <%= n.radio_button :is_valid, true.to_s %> <%= n.label :is_valid_true, 'True' %>
    <%= n.radio_button :is_valid, false %>  <%= n.label :is_valid_false, 'False' %>
  </p>
  
  <div class="clear buttonrow">
    <%= n.submit "Save", :class => 'default button', "data-loading-click" => "Saving..." %>
    <%= link_to "Cancel", @taxon || @taxon_name.taxon, :class => 'button' %>
    <%- unless @taxon_name.new_record? -%>
      <%= link_to 'Delete', @taxon_name,
                  :method => :delete,
                  :confirm => "Are you sure you want to delete this name?",
                  :class => 'minor delete button' %>
    <%- end -%>
  </div>
<% end %>