<%- taxon_name ||= object -%>
<%- taxon ||= taxon_name.taxon -%>
<%- fields_for "taxon_names[]", taxon_name do |n| -%>
<div class="column span-24 taxon_name_fields">
  <div class="column span-8">
    <p class="ui">
      <%= n.label :name %><br/>
      <%= n.text_field :name, :class => "text" %>
    </p>
    <p class="ui">
      <%= n.label :lexicon %><br/>
      <%= n.text_field :lexicon, :class => "text" %>
    </p>
    <p class="ui">
      <%= label_tag t(:valid_interrogation) %><br/>
      <%= n.radio_button :is_valid, true.to_s %> <%= n.label :is_valid_true, t(:true) %>
      <%= n.radio_button :is_valid, false %>  <%= n.label :is_valid_false, t(:false) %>
    </p>
  </div>

  <% unless taxon_name.source_identifier.blank? -%>
    <div class="column span-8">
      <div class="description">
        <%= t(:this_taxon_name_was_originally_imported) %>
      </div>
      <p class="ui">
        <%= n.label :name_provider %><br/>
        <%= n.text_field :name_provider, :disabled => true, :class => "text" %>
      </p>
      
      <p class="ui">
        <%= n.label :source_url %><br/>
        <%= n.text_field :source_url, :disabled => true, :class => "text" %>
      </p>
      <p class="ui">
        <%= n.label :source_identifier %><br/>
        <%= n.text_field :source_identifier, :disabled => true, :class => "text" %>
      </p>
    </div>
  <%- end -%>
  
  <%- unless taxon_name.new_record? -%>
    <div class="last column span-8">
      <%#= link_to "Edit more attributes for this taxon name", 
        edit_taxon_name_path(taxon, taxon_name), 
        :class => 'minor button readmore' %>
      <%= link_to t(:delete_this_name), taxon_name_path(taxon, taxon_name),
                  :method => :delete,
                  :confirm => t(:are_you_sure_want_delete_this_name),
                  :class => 'minor delete button' %>
    </div>
  <%- end -%>
</div>
<% end %>
