- content_for(:title) do
  = t(:editing_taxon_name)
  "#{@taxon_name.name}" #{t :for} #{default_taxon_name @taxon}
.container
  .row
    #pageheader.span12
      %span.breadcrumbs
        = link_to t(:back_to_taxon, :defaulttaxon => "#{default_taxon_name(@taxon)}"), @taxon, :class => 'back crumb'
      %h2
        = t(:editing_taxon_name)
        "#{@taxon_name.name}" #{t :for}
        \#{render :partial => "shared/taxon", :object => @taxon, :locals => { :link_url => url_for(@taxon) }}
  = render :partial => 'form'
  - if @taxon_name.creator
    .row.meta
      .span12
        = t(:created_by, gender: 'taxon')
        = link_to @taxon_name.creator.login, @taxon_name.creator
        = t :on_day
        = l(@taxon_name.created_at.to_date, :format => :long)
        %br/
        - if @taxon_name.updater
          = t(:updated_by)
          = link_to @taxon_name.updater.login, @taxon_name.updater
          = t :on_day
          = l(@taxon_name.updated_at.to_date, :format => :long)
  - unless @synonyms.blank?
    .row.small.upstacked.meta
      .span12
        %h3= t :synonyms
        %p.ui
          = t :there_are_x_synonyms_html, :count => @synonyms.total_entries
          (#{t :showing_one_to}#{@synonyms.size}).
          %span.button= link_to t(:delete_all), delete_synonyms_of_taxon_name_path(@taxon_name), :method => :delete, :confirm => t(:are_you_sure?)
        %table.nobr
          %tr
            %th Name
            %th Lexicon
            %th Taxon
            %th Added by
            %th Added on
            %th
          - for tn in @synonyms
            %tr
              %td= tn.name
              %td= t(tn.lexicon, :default => tn.lexicon) unless tn.lexicon.blank?
              %td= link_to_taxon tn.taxon, :sciname => true
              %td= link_to_user(tn.creator) if tn.creator
              %td= l tn.created_at, :format => :default
              %td
                = link_to t(:edit), tn
                = link_to t(:delete), tn, :method => :delete, :data => {:confirm => t(:are_you_sure?)}
