<h1>Listing Taxon Names</h1>

<table>
  <tr>
  <% for column in TaxonName.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for taxon_name in @taxon_names %>
  <tr>
  <% for column in TaxonName.content_columns %>
    <td><%=h taxon_name.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => taxon_name %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => taxon_name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New taxon name', :action => 'new' %>
