- content_for(:title) do
  = t(:new_taxon_name_for)
  = default_taxon_name @taxon
.container
  .row
    .col-md-12
      %h2
        = t(:new_taxon_name_for)
        = render :partial => "shared/taxon", :object => @taxon, :locals => { :link_url => url_for(@taxon) }
      = render :partial => 'form'
