= content_for :title do
  = strip_tags(@title = t(:names_for_taxon_html, :taxon => render("shared/taxon", :taxon => @taxon, :link_url => @taxon)))
= content_for :extracss do
  = stylesheet_link_tag "taxon_names/taxon"
= content_for :extrajs do
  = javascript_include_tag "taxon_names/taxon"
.container
  .col-md-12
    %ul.breadcrumb.unstacked
      %li
        = link_to t(:back_to_x, :noun => @taxon.name), @taxon, :class => "back crumb"
    %h2= @title
    %p= t 'views.taxon_names.taxon.about_html'
    %h3=t :global_names
    %ul.plain.names
      - @taxon_names.each_with_index do |tn,i|
        %li
          = form_for tn, :remote => true, :html => {:class => "inline unstacked", "data-type" => "json"} do |f|
            = f.text_field :position, :class => "sortable-position"
          %span{:class => "taxon_name #{tn.lexicon.split.join('_')}#{' invalid' unless tn.is_valid?}"}
            = tn.name
          %span.meta
            = surround '(', ')' do
              = tn.lexicon
          - if logged_in? && (!tn.is_scientific? || current_user.is_curator?)
            = link_to t(:edit), edit_taxon_name_path(tn), :class => 'small description'
          .badge.pull-right=t :default

  - @names_by_place.each do |place, place_taxon_names|
    .col-md-12
      %h3= link_to place_name_and_type(place), place
      %ul.plain.names
        - place_taxon_names.each do |ptn|
          %li
            = form_for ptn.taxon_name, :remote => true, :html => {:class => "inline unstacked", "data-type" => "json"} do |f|
              = f.fields_for :place_taxon_names, ptn do |ptn_form|
                = ptn_form.text_field :position, :class => "sortable-position"
            = ptn.taxon_name.name
            - if logged_in? && (!ptn.taxon_name.is_scientific? || current_user.is_curator?)
              = link_to t(:edit), edit_taxon_name_path(ptn.taxon_name), :class => 'small description'
            .badge.pull-right=t :default
  
