<%- content_for(:title) do -%>
  <%= @title = t(:comparing_observations_from, :user=>"#{possessive(@selected_user)}", :dates=>"#{@dates.join(', ')}") %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .bigun {text-align: center; width: 75px; height: 75px; border-radius: 75px; background-color: #eee; position: relative;}
    .bigun .inner { width: 75px; height: 75px; top: 50%; margin-top: -28px; position: absolute;}
    .bigun .count { font-size: 200%;}
    .map { height: 310px; }
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= google_maps_js %>
  <%= javascript_include_tag 'map_bundle' %>
  <script type="text/javascript" charset="utf-8">
    var DATES = <%= @dates.to_json.html_safe %>
    $(document).ready(function() {
      <% for date in @dates %>
        var map = iNaturalist.Map.createMap({
          div: "map-<%= date %>"
        })
        map.addObservations(<%=json_escape @observations_by_date_by_taxon_id[date].values.flatten.to_json(:include => [:iconic_taxon]).html_safe %>)
        map.zoomToObservations()
      <% end -%>
    })
  </script>
<%- end -%>

<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo #{t(:back_to_calendar, :user=> possessive(@selected_user))}".html_safe, calendar_path(@login), :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  
  <h2><%= @title %></h2>
</div>

<div class="column span-16">
  <table>
    <thead>
      <tr>
        <th style="width: 100%;">Taxon</th>
        <% for date in @dates %>
          <th class="numeric">
            <div class="bigun">
              <div class="inner">
                <%- count = @observations_by_date_by_taxon_id[date].keys.size -%>
                <div class="count"><%= number_with_delimiter count %></div>
                <div class="meta label"><%= count == 1 ? 'taxon' : 'taxa' %></div>
              </div>
            </div>
            <%= link_to date, calendar_date_path(@login, *date.split('-')) %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% for taxon in @taxa %>
        <%-
          iconic_taxon = Taxon::ICONIC_TAXA_BY_ID[taxon.iconic_taxon_id] if taxon
          iconic_taxon_name = (iconic_taxon.try(:name) || "unknown").downcase
        -%>
        <tr>
          <td>
            <span class="iconic_taxon_sprite selected <%= iconic_taxon_name %>"></span>
            <%= render :partial => "shared/taxon", :object => taxon, :locals => { :link_url => url_for_taxon(taxon) } %>
          </td>
          <% for date in @dates %>
            <%- observations = @observations_by_date_by_taxon_id[date][taxon.id] -%>
            <td class="numeric">
              <% if observations -%>
                <span class="count"><%= observations.size %></span>
              <% else %>
                <span class="meta">&middot;</span>
              <% end -%>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

<div class="last column span-8">
  <% @dates.each do |date| %>
    <div class="stacked">
      <h3><%= t(:observations_from, :date =>date) %></h3>
      <div id="map-<%= date %>" class="map"></div>
    </div>
    
    <div class="mini compact infowindow observations" style="display:none">
      <%= render :partial => "observations/cached_component", :collection => @observations_by_date_by_taxon_id[date].values.flatten %>
    </div>
  <% end -%>
</div>
