<%- content_for(:title) do -%>
  <%= @title = "Observation calendar for #{@login} in #{@year}" %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .yearnav {position:relative;}
    .yearnav .left, .yearnav .right {position:absolute;}
    .yearnav .left { left: 0;}
    .yearnav .right { right: 0;}
    .yearnav select { margin-top:10px;}
  </style>
<%- end -%>

<%- content_for(:extrajs) do -%>
  <%= javascript_include_tag "d3.min", "calendars" %>
<%- end -%>

<%= render :partial => 'shared/by_login_header', :locals => {:title => @title} %>

<div class="column span-24 yearnav">
  <h2 class="left"><%= link_to "&lsaquo; #{@year - 1}", :year => @year - 1 %></h2>
  <% if @year < Date.today.year -%>
    <h2 class="right"><%= link_to "#{@year + 1} &rsaquo;", :year => @year + 1 %></h2>
  <% end -%>
  <h2 style="text-align: center;">
    <%= @year %>
  </h2>
</div>

<div class="clear">
  <% %w(January February March April May June July August September October November December).each_with_index do |month, i| %>
    <%= render :partial => 'calendar', :locals => {
      :observations => @observations_by_month[i+1], 
      :year => @year, 
      :month => i+1,
      :month_name => month
    } %>
  <% end -%>
</div>

<div class="column span-24 yearnav">
  <h2 class="left"><%= link_to "&lsaquo; #{@year - 1}", :year => @year - 1 %></h2>
  <% if @year < Date.today.year -%>
    <h2 class="right"><%= link_to "#{@year + 1} &rsaquo;", :year => @year + 1 %></h2>
  <% end -%>
  <h2 style="text-align: center;">
    <form method="get">
      <%= select_tag :year, options_for_select(1950..Date.today.year, :selected => @year), "data-autosubmit" => true %>
    </form>
  </h2>
</div>
