.nested-fields.guide-range-fields
  = f.hidden_field :guide_taxon_id
  = f.text_field :thumb_url
  = f.text_field :medium_url
  = f.text_field :original_url
  = link_to_remove_association "remove range", f
