- content_for :title do
  = @title = "Editing #{@guide_taxon.name} in #{@guide.title}"
.container-fluid
  %ul.breadcrumb
    %li
      = link_to t(:back_to_x, :noun => @guide.title), edit_guide_path(@guide), :class => "back"
  %h2= @title
  = render 'form'
