<div class="clear">
  <div class="column span-12">
    <%= f.text_field :taxon_id %>
    <% if f.object.range.file? -%>
      <% f.form_field :range do %>
        <%= link_to f.object.range.url, f.object.range.url %>
        <%= link_to_function t(:replace_parentesis), 
          "$(this).parents('.field').after('#{f.file_field(:range)}'); " + 
          "$(this).parents('.field').hide()", :class => "small" %>
      <% end %>
    <% else %>
      <%= f.file_field :range %>
    <% end -%>
    <%= f.text_field :url %>
    <%= f.text_field :source_identifier %>
    <%= f.text_area :description %>  
  </div>

  <div class="last column span-12">
    <fieldset id="source">
      <legend><%= t(:source) %></legend>
      <%= render :partial => 'sources/nested_form_fields', :locals => {:f => f} %>
    </fieldset>
  </div>
</div>
