.row.stacked
  .col-xs-6
    = f.text_field :taxon_id
    - if f.object.range.file?
      .field
        = link_to f.object.range.url, f.object.range.url
        = link_to_function t(:replace_parentesis), "$(this).parents('.field').after('#{f.file_field(:range)}'); $(this).parents('.field').hide()", :class => "small"
        = f.check_box :delete_range, :label_after => true
    - else
      = f.file_field :range
    = f.form_field :iucn_relationship, :label => false do
      = label_tag :is_this_an_iucn_redlist_range_map_and_if_not_why, t(:is_this_an_iucn_redlist_range_map_and_if_not_why)
      = f.radio_button :iucn_relationship, TaxonRange::IUCN_REDLIST_MAP, label: t(:this_is_an_iucn_redlist_range_map)
      = f.radio_button :iucn_relationship, TaxonRange::IUCN_REDLIST_MAP_HAS_ISSUES, label: t(:iucn_redlist_range_map_for_this_taxon_has_issues)
      = f.radio_button :iucn_relationship, TaxonRange::NOT_ON_IUCN_REDLIST, label: t(:taxon_not_in_the_iucn_redlist)
    %fieldset#source
      = render :partial => 'sources/nested_form_fields', :locals => {:f => f}
    = f.text_field :url
    = f.text_field :source_identifier
    = f.text_area :description
  .col-xs-6
    .box
      %h3= t :guidelines
      %p= t :each_taxon_can_have
      %p=raw t :the_iucn_redlist_is_the
      %p=raw t :if_you_are_not_uploading
      %p=raw t :please_provide_details, url: "/pages/taxon_ranges"