.row.stacked
  .col-xs-6
    = f.text_field :taxon_id
    - if f.object.range.file?
      .field
        = link_to f.object.range.url, f.object.range.url
        = link_to_function t(:replace_parentesis), "$(this).parents('.field').after('#{f.file_field(:range)}'); $(this).parents('.field').hide()", :class => "small"
        = f.check_box :range_delete, label: t(:delete_range), label_after: true
    - else
      = f.file_field :range
    = f.form_field :iucn_relationship, :label => false do
      = label_tag :taxon_range_iucn_relationship_is_this_an_iucn_red_list_range_map, t(:taxon_range_iucn_relationship_is_this_an_iucn_red_list_range_map)
      = f.radio_button :iucn_relationship, TaxonRange::IUCN_RED_LIST_MAP, label: t(:taxon_range_iucn_relationship_this_is_an_iucn_red_list_range_map)
      = f.radio_button :iucn_relationship, TaxonRange::IUCN_RED_LIST_MAP_UNSUITABLE, label: t(:taxon_range_iucn_relationship_iucn_red_list_map_unsuitable)
      = f.radio_button :iucn_relationship, TaxonRange::NOT_ON_IUCN_RED_LIST, label: t(:taxon_range_iucn_relationship_taxon_not_on_the_iucn_red_list)
    %fieldset#source
      = render :partial => 'sources/nested_form_fields', :locals => {:f => f}
    = f.text_field :url
    = f.text_field :source_identifier
    = f.text_area :description
  .col-xs-6
    .box
      %h3= t :guidelines
      %p= t :taxon_range_guidelines_each_taxon_can_have
      %p= t :taxon_range_guidelines_the_iucn_red_list_html, link_start_tag: "<a href='https://www.iucnredlist.org/'>".html_safe, link_end_tag: "</a>".html_safe
      %p= t :taxon_range_guidelines_if_you_are_not_uploading
      %ul
        %li
          %p= t :bold_label_colon_value_html, label: t( :taxon_range_guidelines_iucn_red_list_range_map_is_unsuitable ), value: t( :taxon_range_guidelines_for_example_you_have_manually_narrowed )
        %li
          %p= t :bold_label_colon_value_html, label: t( :taxon_range_guidelines_taxon_is_not_in_the_iucn_red_list ), value: t( :taxon_range_guidelines_for_example_the_taxon_is_lumped )
      %p
        = t :taxon_range_guidelines_please_provide_details
        = link_to t( :taxon_range_guidelines_learn_more_about_taxon_ranges ), "/pages/taxon_ranges"