<h2>
  <%= t(:editing_taxon_range) %>
  <% if @taxon_range.taxon -%>
    for <%= link_to @taxon_range.taxon.name, @taxon_range.taxon %>
  <% end -%>
</h2>

<%= form_for(@taxon_range, :builder => DefaultFormBuilder, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'form_fields', :locals => {:f => f} %>

  <%= f.submit t(:update), :class => "default button" %>
<% end %>

<%= link_to t(:back), @taxon_range.taxon || taxa_path, :class => "button" %>
<%= link_to t(:delete), @taxon_range, :method => :delete, 
  :data => {:confirm => t(:are_you_sure_want_delete_this_range)}, 
  :class => "minor delete button" %>
