<h2>
  <% if @taxon_range.taxon -%>
    <%=t :label_colon, label: t(:new_taxon_range) %>
    <%= link_to @taxon_range.taxon.name, @taxon_range.taxon %>
  <% else %>
    <%= t(:new_taxon_range) %>
  <% end -%>
</h2>

<%= form_for(@taxon_range, :builder => DefaultFormBuilder, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'form_fields', :locals => {:f => f} %>

  <%= f.submit t(:create), :class => "default button" %>
<% end %>

<%= link_to t(:back), @taxon_range.taxon || taxa_path, :class => "button" %>
