- content_for :title do
  Taxon Range for
  = render "taxa/taxon.txt.erb", taxon: @taxon_range.taxon

.container
  .row
    .col-xs-12
      %h2.pull-left
        =t :taxon_range_for_taxon_html, taxon: render( "shared/taxon", taxon: @taxon_range.taxon, named_ancestor: true, link_url: @taxon_range.taxon )
      - if current_user.is_curator?
        .pull-right= link_to t( :edit ), edit_taxon_range_path( @taxon_range )
  .row.cf#top
    .col-sm-3.col-xs-12.pull-right
      .panel.panel-info
        .panel-heading
          %h3.panel-title
            =t :about_taxon_ranges
        .panel-body
          %p
            =raw t :about_taxon_ranges_desc, url: "/pages/taxon_ranges"
          %img.media-object{ src: "https://static.inaturalist.org/wiki_page_attachments/2817-original.png", class: "img-responsive" }
    .col-sm-9.col-xs-12.pull-left#left
      %table.table.table-bordered
        %tr
          %td= t(:range)
          - if @taxon_range.range
            %td= link_to @taxon_range.range.url, @taxon_range.range.url
          - else
            %td= t(:no_attached_range)
        %tr
          %td= t(:is_this_an_iucn_redlist_range_map_and_if_not_why)
          %td= iucn_relationship_text( @taxon_range.iucn_relationship )
        %tr
          %td= t(:source)
          - if @taxon_range.source
            %td= link_to @taxon_range.source.title, @taxon_range.source.url
          - else
            %td= t(:unknown)
        %tr
          %td= t(:url)
          %td= link_to @taxon_range.url, @taxon_range.url
        %tr
          %td= t(:description)
          %td= @taxon_range.description

      - if @taxon_range.user
        .row.meta
          .col-md-12
            =raw t( :created_by_user_on_date, user: link_to( @taxon_range.user.login, @taxon_range.user ), date: l( @taxon_range.created_at.to_date, format: :long ) )
      - if @taxon_range.updater
        .row.meta
          .col-md-12
            = t( :updated_by_user_on_date_html, user: link_to( @taxon_range.user.login, @taxon_range.user ), date: l( @taxon_range.created_at.to_date, format: :long ) )
