<h2>Reset your password</h2>

<%= form_for(:user, :builder => DefaultFormBuilder, :url => { :action => 'update_after_forgetting' }) do |f| %>
  <%= f.error_messages %>

  <p>Please enter a new password and confirm it.</p>
  
  <%= f.password_field :password, :class => "text" %>
  <%= f.password_field :password_confirmation, :class => "text" %>
  <%= hidden_field_tag :reset_code, params[:reset_code] %>
  <%= f.submit "Submit", :class => "default button" %>
  
<% end %>
