<%- 
  subscription ||= @subscription
  resource = @resource || subscription.resource
%>
<ul class="edit_subscription_inline">
  <% if resource.is_a?(Place) && subscription -%>
    <li>
      <%= form_for subscription, :builder => DefaultFormBuilder do |f| %>
        <div class="field">
          <div>
            <label><%= t :only_receive_updates_about_this_taxon %></label>
          </div>
          <%= text_field_tag :taxon_name, subscription.taxon.try(:name),
            :width => 50,
            :placeholder => t(:type_a_taxon_name, :default => "Type a taxon name"),
            :class => "taxonchooser text" %>
          <%= f.hidden_field(:taxon_id, 
            :alt => (subscription.taxon ? 
              "<span class='taxon sciname #{subscription.taxon.rank} #{Taxon::ICONIC_TAXA_BY_ID[subscription.taxon.iconic_taxon_id].try(:name)}'>#{subscription.taxon.name}</span>" : nil),
            :rel => (subscription.taxon ? taxon_image_url(subscription.taxon) : nil)) %>
        </div>
      <% end -%>
    </li>
  <% end -%>
  <li class="createdestroy">
    <%- new_subscription = Subscription.new(:user => current_user, :resource => resource) %>
    <%= form_for new_subscription, :html => {
      :class => "subscribe",
      :style => "#{'display:none;' if subscription}"
    } do |f| %>
      <%= f.hidden_field :resource_type %>
      <%= f.hidden_field :resource_id %>
      <%= f.hidden_field :user_id %>
      <%= link_to_function t(:subscribe_to_this) + ' ' + t(resource.class.to_s.underscore.humanize.downcase).downcase, "$(this).parents('form:first').submit()" %>
    <% end -%>

    <%= form_tag delete_subscription_url(resource.class.to_s, resource.id), 
        :method => :delete, 
        :class => 'unsubscribe', 
        :style => "#{'display:none;' unless subscription}" do %>
      <%= hidden_field_tag :resource_type, resource.class.to_s %>
      <%= hidden_field_tag :resource_id, resource.id %>
      <%= link_to_function t(:unsubscribe), "$(this).parents('form:first').submit()" %>
    <% end -%>
  </li>
</ul>
