= form_for @subscription, :builder => DefaultFormBuilder do |f|
  = f.hidden_field :resource_type, :value => @type.camelcase
  = f.text_field :resource_id, :placeholder => t("choose_a_#{@type.humanize.downcase}".to_sym, default: "choose a taxon"), :required => true, :label => t(@type.to_sym)
  = f.text_field :taxon_id, :placeholder => t(:choose_a_taxon), :label => t(:taxon)
  .inline.stacked.buttonrow
    = f.submit t(:save), :class => "default button", "data-loading-click" => t(:saving)
  .required * #{t(:required).capitalize}

:javascript
  window.defaultTaxa = #{json_escape Taxon::ICONIC_TAXA.to_json(:methods => [:html]).html_safe}

  if ($('#subscription_resource_type').val() == 'Place') {
    $('#subscription_resource_id').chooser({
      collectionUrl: '/places/autocomplete.json?with_geom=t',
      resourceUrl: '/places/{{id}}.json?partial=autocomplete_item',
      afterSelect: function(item) {
        $('#subscription_resource_type').val('Place')
      }
    })
    $('#subscription_taxon_id').chooser({
      collectionUrl: '/taxa/autocomplete.json',
      resourceUrl: '/taxa/{{id}}.json?partial=chooser',
      defaultSources: defaultTaxa
    })
  } else if ($('#subscription_resource_type').val() == 'Taxon') {
    $('#subscription_resource_id').chooser({
      collectionUrl: '/taxa/autocomplete.json',
      resourceUrl: '/taxa/{{id}}.json?partial=chooser',
      defaultSources: defaultTaxa
    })
    $('.taxon_id_field').hide()
  } else {
    $('.taxon_id_field').hide()
  }
