<%- content_for :extrajs do %>
  <script type="text/javascript" charset="utf-8">
    $( ".subscription form" ).submit( function ( ) {
      $( this ).fadeOut( function ( ) {
        $( this ).siblings( "form" ).fadeIn( );
      } );
      var data = $( this ).serialize() + "&format=json";
      $.ajax( {
        url: $( this ).attr( "action" ),
        type: "post",
        data: data
      } );
      return false;
    } );
    $( ".subscriptionsettings" ).subscriptionSettings( );
    $( ".subscription form .submit-link" ).click( function ( ) {
      $( this ).parents( "form:first" ).submit( );
      return false;
    } );
  </script>
<% end %>
<%- 
  subscription ||= @subscription
  resource ||= subscription.resource if subscription
  resource_type = resource.class.to_s.underscore if resource
  subscription ||= if resource && logged_in?
    current_user.subscriptions.where( resource_type: resource.class.base_class.to_s, resource_id: resource.id ).first
  end
-%>
<div class="meta subscription">
  <%- new_subscription = Subscription.new(:user => current_user, :resource => resource) %>
  <%= form_for new_subscription, :html => {
    :class => "subscribe",
    :style => "#{'display:none;' if subscription}"
  } do |f| %>
    <%= f.hidden_field :resource_type %>
    <%= f.hidden_field :resource_id %>
    <%= f.hidden_field :user_id %>
    <%=
      notifiers = resource.class.notifying_associations.keys.sort
      key = if notifiers.size == 1 && notifiers[0].to_s == "comments"
        "subscribe_to_comments_on_this_#{resource_type}_html"
      else
        "subscribe_to_#{notifiers.join( "_" )}_from_this_#{resource_type}_html"
      end
      t key, tag_start: "<a href='' class='submit-link'>".html_safe, tag_end: "</a>".html_safe, default: t(
        :subscribe_to_x_from_this_y_html, 
        x: commas_and( resource.class.notifying_associations.keys.map{|k| t( k.to_s.underscore ) } ),
        y: t( resource_type )
      )
    %>
  <% end -%>

  <%= form_tag delete_subscription_url( resource.class.base_class.to_s, resource.id ), 
      :method => :delete, 
      :class => 'unsubscribe', 
      :style => "#{'display:none;' unless subscription}" do %>
    <%=
      notifiers = resource.class.notifying_associations.keys.sort
      key = if notifiers.size == 1 && notifiers[0].to_s == "comments"
        "you_are_subscribed_to_comments_on_this_#{resource_type}"
      else
        "you_are_subscribed_to_#{notifiers.join( "_" )}_from_this_#{resource_type}"
      end
      t key
    %>
    <%= hidden_field_tag :resource_type, resource.class.to_s %>
    <%= hidden_field_tag :resource_id, resource.id %>
    <nobr>
      <% if resource.is_a?(Place) -%>
        <%= link_to ("<span class='ui-icon inlineblock ui-icon-gear'></span>" + t(:settings).capitalize).html_safe, edit_subscription_by_resource_url(resource.class.to_s, resource.id),
          :class => "subscriptionsettings" %>
      <% else %>
        <%= link_to_function t(:unsubscribe), "$(this).parents('form:first').submit()" %>
      <% end -%>
    </nobr>
  <% end -%>
</div>
