<%- content_for(:title) do -%>
  <%= 
    @title = t(:editing_subscription_to_x_html, :x => link_to(@resource.try_methods(:display_name, :name, :to_s), @resource))
    strip_tags @title
  %>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%-
    @default_taxa = Taxon::ICONIC_TAXA.map do |taxon|
      taxon.html = render(:partial => "taxa/chooser.html.erb", :object => taxon)
      taxon
    end
    if @subscription.taxon
      @subscription.taxon.html = render(:partial => "taxa/chooser.html.erb", :object => @subscription.taxon)
    end
  -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#subscription_taxon_id').chooser({
        collectionUrl: '/taxa/autocomplete.json',
        resourceUrl: '/taxa/{{id}}.json?partial=chooser',
        defaultSources: <%=json_escape @default_taxa.to_json(:methods => [:html]).html_safe %>,
        chosen: <%=json_escape @subscription.taxon.to_json.html_safe %>
      })
    })
  </script>
<%- end -%>

<h2>
  <%= @title %>
</h2>

<%= form_for @subscription, :builder => DefaultFormBuilder do |f| %>
  <% if @subscription.resource_type == Place.to_s -%>
    <%= f.text_field :taxon_id, :placeholder => t(:choose_a_taxon), :label => t(:only_receive_updates_about_this_taxon) %>
  <% end -%>
  <%= f.submit t(:update_subscription), :class => "default button" %>
  <%= link_to t(:delete), @subscription, :method => "delete", 
    :data => {:confirm => t(:are_you_sure?, :default => "Are you sure?")}, 
    :class => "delete button" %>
<% end -%>
