<%- content_for(:title) do -%>
  <%= @title = t(:manage_all_your_subscriptions) %>
<%- end -%>
<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo #{t(:back_to_your_dashboard)}".html_safe, dashboard_path, class: "crumb" %></strong>
  </div><!-- /#breadcrumbs -->
  <h2><%= @title %></h2>
</div>

<div class="column span-4">
  <ul class="leftmenu">
    <% for klass in Subscription.subscribable_classes.sort %>
      <li>
        <%= link_to t( klass.underscore.pluralize, default: klass ),
          url_for( type: klass.underscore ),
          class: @type == klass.underscore ? "active" : nil
        %>
      </li>
    <% end %>
  </ul>
</div>
<div class="last column span-20">
  <% if @subscriptions.blank? -%>
    <div class="noresults meta"><%= t :no_results_found %></div>
  <%- else %>
    <table border="0" cellspacing="5" cellpadding="5" width="100%">
      <thead>
        <tr>
          <th><%= t :resource, default: 'Resource' %></th>
          <th><%= t :actions, default: 'Actions' %></th>
        </tr>
      </thead>
      <tbody>
        <% for subscription in @subscriptions %>
          <tr>
            <td>
              <%=t subscription.resource_type.parameterize.underscore, default: subscription.resource_type %> <%= subscription.resource_id %>:
              <% name = subscription.resource.try_methods(:to_plain_s, :login, :name, :title, :to_s) %>
              <%= link_to name, subscription.resource %>
            </td>
            <td class="nobr meta">
              <% if subscription.resource_type == "Place" -%>
                <%= link_to t(:edit), edit_subscription_url(subscription) %>
                |
              <% end -%>
              <%= link_to t(:unsubscribe), subscription_url(subscription), :method => "delete",
                :data => {:confirm => t(:are_you_sure_you_want_to_unsubscribe_from_this, default: 'Are you sure you want to unsubscribe from this?')} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @subscriptions %>
  <% end -%>
</div>
