- content_for :extracss do
  :css
    .source input.text {width: 300px;}
    
- content_for :extrajs do
  :javascript
    $( document ).ready( function() {
      
      $( "#taxon_name" ).taxonAutocomplete( { idEl: $( "#concept_taxon_id" ) } );
      
      var had_references = false;
      function show_confirm() {
        if(had_references == true){
          $('input[type=submit]').attr("data-confirm","It looks like you might have changed the Source or the Rank level. If so saving will destroy all associated Taxon References. Are you sure?");
        }
      }
      
      if( $( "#concept_rank_level" ).val() != "" ) {
        $( "#framework" ).prop('checked', true);
        $( "#framework_details" ).show();
        if( $( ".source_nested_form_fields" ).find( ".existing" ).val() != "" ) {
          $( "#external_reference" ).prop('checked', true);
          $( "#external_reference_details" ).show();
          had_references = true;
          $( "#concept_rank_level" ).change(show_confirm);
          $( ".source_nested_form_fields" ).change(show_confirm);
          $( "#taxon_name" ).attr("disabled", true).removeClass("text").addClass("form-control-plaintext");
        }
      }

      $( "#framework" ).click(function() {
        if( this.checked ){
          $( "#framework_details" ).show(500);
        }else{
          if( $( "#external_reference" ).is( ":checked" ) ){
            $( "#external_reference" ).prop( "checked", false);
            $( ".source_nested_form_fields" ).find( ".existing" ).chooser( "clear" );
            show_confirm();
            $( "#external_reference_details" ).hide(500);
          }
          $( "#framework_details" ).hide(500);
          $( "#concept_rank_level" ).val("");
          show_confirm();
          $( "#concept_complete" ).prop( "checked", false);
        }
      });
      
      $( "#external_reference" ).click(function() {
        if( this.checked ){
          $( "#external_reference_details" ).show(500);
        }else{
          $( ".source_nested_form_fields" ).find( ".existing" ).chooser( "clear" );
          show_confirm();
          $( "#external_reference_details" ).hide(500);
        }
      });
      
    } );
= form_for @concept, builder: BootstrapFormBuilder do |f|
  .form-group
    = f.form_field :taxon do
      = text_field_tag :taxon_name, "", class: "form-control", placeholder: t(:start_typing_taxon_name)
      = f.hidden_field :taxon_id, value: f.object.taxon_id || params[:taxon_id]

  .form-group
    = f.text_area :description, class: "form-control"
  
  .form-group
    = label_tag 'Make it a framework'
    = check_box_tag :framework
    
    #framework_details{:style=>"display:none;"}
      = f.select :rank_level, @rank_levels, :include_blank => t(:none), :selected => @concept.try(:rank_level), :label=>t(:rank_level)
      = f.check_box :complete

      .form-group
        = label_tag 'Add external reference'
        = check_box_tag :external_reference
    
      #external_reference_details{:style=>"display:none;"}
        .source
          = render :partial => 'sources/nested_form_fields', :locals => {:f => f}
   
  .form-group
    = f.submit t(:save), class: "btn btn-primary"
