.container
  .row
    .breadcrumbs
      %strong= link_to "&laquo back to taxon".html_safe, taxon_path(@concept.taxon), :class => 'crumb'
    .col-xs-12.prepend-12
      .pull-right= link_to t( :edit ), edit_concept_path( @concept )
      %h4 Taxonomic Concept for #{@concept.taxon.name}
      - if @concept.rank_level
        %p Downstream coverage: #{@rank_levels.invert[@concept.rank_level]}
        %p If the taxonomic framework has taxon curators, make it clear that only they can edit the taxon
        %p If the taxonomic framework is complete, make it clear that it has all the nodes in place
      %p= formatted_user_text @concept.description, tags: Post::ALLOWED_TAGS, attributes: Post::ALLOWED_ATTRIBUTES
      - if @overlapping_upstream_concepts.count > 0
        %p #{@overlapping_upstream_concepts.count} overlapping upstream taxonomic frameworks [link to concepts]
      - if @overlapping_downstream_concepts.count > 0
        %p #{@overlapping_downstream_concepts.count} overlapping downstream taxonomic frameworks [link to concepts]
      - if @concept.source
        %p Source: #{link_to @concept.source.title, @concept.source.url}
        - if @deviations
          %p #{link_to @deviations.count, taxon_references_path({concept_id: @concept.id})} deviations
      %p [comments]
  - if @concept.user
    .pull-right
      = link_to @concept.user.login, @concept.user
      = "created this taxonomic framework on #{l(@concept.created_at.to_date, :format => :long)}"