<%- 
  photo ||= object 
  size ||= (photo.is_a?(FacebookPhoto) ? 'large' : 'medium' ) # fb 'large' is roughly equivalent to flickr 'medium'
  size_method ||= "#{size}_url" 
  photo_source = photo.class.to_s.underscore.humanize.split.first
-%>
<div id="modal_photo_<%= photo.id %>" class="modal_photo">
  <span class="close corner">&times;</span>
  <div class="clear tabs">
    <ul>
      <% for photo_size in %w"small medium large original" %>
        <%- next if photo.send("#{photo_size}_url").blank? %>
        <li class="<%= photo_size %>_link <%= 'selected' if photo_size == size %>">
          <%= link_to_function photo_size, 
            "$('#photo_wrapper_#{photo.id} img').hide().removeClass('small medium large').addClass('#{photo_size} photo'); " +
            "$('#photo_#{photo.id}_#{photo_size}').css('display', 'block').attr('src', '#{photo.send("#{photo_size}_url")}'); " +
            "$(this).parents('li').addClass('selected').siblings('li').removeClass('selected')" %>
        </li>
      <% end %>
      <li class="native_page_url">
        <%- photographer_name = (photo.native_realname || photo.native_username) -%>
        <% unless photo.native_page_url.blank? -%>
          <%= link_to "View original #{'by '+photographer_name if !photographer_name.blank?} on #{photo_source}", 
            photo.native_page_url %>
        <% end -%>
      </li>
    </ul>
  </div>
  
  <div id="photo_wrapper_<%= photo.id %>" class="clear photo_wrapper">
    <% for photo_size in %w"small medium large original" %>
      <%- next if photo.send("#{photo_size}_url").blank? %>
      <% if photo_size == size -%>
        <%= image_tag(photo.send(size_method), 
          :id => "photo_#{photo.id}_#{photo_size}", 
          :class => "#{size} photo") %>
      <%- else -%>
        <%= image_tag('spinner.gif', 
          :id => "photo_#{photo.id}_#{photo_size}", 
          :class => size, 
          :style => 'display: none') %>
      <%- end -%>
    <% end %>
  </div>
  <div class="attribution description">
    <%= link_to "View details", photo.becomes(Photo), :class => "readmore right" %>
    <%= photo.attribution %>
  </div>
</div>
