<%- 
  index ||= @i
  checked ||= false
  synclink_base ||= nil
  photo_identity ||= nil
  local_photos ||= false
  local_photos = false unless logged_in?
  organized_by_album ||= false
-%>

<% if @reauthorization_needed -%>
  <p class="notice ui">
    Flickr needs to confirm that you want your account connected to iNat.
    <%= link_to "Confirm now", ProviderAuthorization::AUTH_URLS['Flickr'], :class => "readmore" %>
  </p>
<% elsif photos.blank? && !local_photos %>
  <div class="description" style="clear: both">
    We didn't find any photos using the search terms you provided.
  </div>
<% else %>
  <% if organized_by_album %>
    <label><a href='#' class="back_to_albums">&laquo; Back to albums</a></label><br />
  <% end %>
  <% photos.each do |photo| %>
    <%- 
      native_photo_id = photo.is_a?(Photo) ? photo.native_photo_id : photo.id
      thumb_url = photo.is_a?(Photo) ? photo.thumb_url : photo.source_url(:thumb)
      next unless thumb_url
      prefix = photo.is_a?(Photo) ? photo.class.to_s.underscore : 'flickr_photo'
      unique_id = serial_id
      if index.blank?
        input_name = "#{prefix.pluralize}[]"
        input_id = "#{prefix}_#{native_photo_id}_#{unique_id}"
      else
        input_name = "#{prefix.pluralize}[#{index}][]"
        input_id = "#{prefix}_#{index}_#{native_photo_id}_#{unique_id}"
      end
    -%>
    <div class="photo">
      <%= check_box_tag input_name, 
        native_photo_id, 
        checked, 
        {:id => input_id, :class => "checkbox"} %>

      <% if synclink_base && synclink_uri = URI.parse(synclink_base) %>
        <% 
          if synclink_uri.query.blank?
            synclink_uri.query = "#{prefix}_id=#{native_photo_id}"
          else
            synclink_uri.query += "&#{prefix}_id=#{native_photo_id}"
          end 
          synclink_url = synclink_uri.to_s
        -%>
        <%= link_to "Sync?", synclink_url, :class => "small synclink", 
          :id => dom_id(photo, "synclink"),
          :title => "Import date, time, location, description, and taxonomic information from this photo.",
          :confirm => "Are you sure you want to sync this " + 
            "observation's data with this Flickr photo?  You will lose " +
            "changes you've made to this form, but you will be able to " +
            "revert to your saved copy." %>
      <% end %>

      <label for="<%= input_id %>">
        <%= image_tag(thumb_url) %>
      </label>
    </div>
  <% end %>
<% end %>

<% if local_photos -%>
  <div class="clear local_photos">
    <% photo_file_field = capture do %>
      <div class="photo_file_field clear quiet box inlineblock">
        <%= file_field_tag("local_photos[#{index}][]", :accept => "image/jpg,image/jpeg,image/png,image/gif") %>
        <%= link_to_function "clear", "$(this).siblings('input[type=file]').val('')" %>
      </div>
    <% end %>
    <%= photo_file_field %>
    <%#= link_to_function "Add another photo", "$(this).before('#{escape_javascript(photo_file_field)}')" %>
  </div>
<% end -%>
