<%- content_for(:title) do -%>
  <%= @title = t('views.photos.inviter.invite_other_photographers_to_inat', :site_name => @site.name) %>
<%- end -%>
<% content_for(:extrajs) do %>
  <%= javascript_include_tag "jquery/plugins/inat/photo_selectors.js" %>
<% end %>
<%- content_for(:extracss) do -%>
  <style type="text/css">
    ul .providerlink, ul .button.providerlink {width:auto;}
  </style>
<%- end -%>

<h2><%= @title %></h2>
<p class="description">
  <%=t "views.photos.inviter.invite_your_friends_description", :site_name => @site.preferred_site_name_short %>
</p>

<%= form_tag(url_for, {:method => :post, :class => "photo_inviter_form"}) do %>
  
  <div class='photo_inviter'></div>
  <label for="taxonchooser"><%=t "views.photos.inviter.automatically_id_the_new_obs_as" %></label>
  <%= text_field_tag :taxon_id, @taxon.try(:id), :class => "chooser text", :id => "taxonchooser", :placeholder => t(:type_species_name) %>
  &nbsp;
  <label for="taxonchooser"><%=t "views.photos.inviter.automatically_add_to_project" %></label>
  <%= text_field_tag :project_id, @project.try(:id), :class => "chooser text", :id => "projectchooser", :placeholder => t(:type_project_name) %>
  <div class='invite_comment'>
    <label><%=t 'add_a_comment' %> (<%=t 'views.photos.inviter.dont_forget_the_invite_link_placeholder' %>):</label>
    <br />
    <%= text_area_tag :comment, t(:default_invite_comment, :site_name => @site.name), :class=>'text' %>
  </div>
  <%= submit_tag(t(:send_invite), :class => 'default button', "data-loading-click" => t(:sending)) %>
<% end -%>


<script type="text/javascript" charset="utf-8">
  $('#taxonchooser').chooser({
    queryParam: 'q',
    collectionUrl: '/taxa/autocomplete.json',
    resourceUrl: '/taxa/{{id}}.json?partial=chooser',
  })
  $('#projectchooser').chooser({
    queryParam: 'q',
    collectionUrl: '/projects/search.json',
    resourceUrl: '/projects/{{id}}.json',
    defaultSources: <%=json_escape @projects.to_json.html_safe %>
  })
  var PHOTO_SOURCES = {
    facebook: {
      title: 'Facebook', 
      url: '/facebook/photo_fields', 
      contexts: [
        //["Your photos", 'user'], 
        ["Your friends' photos", 'friends'], 
        ["Your groups' photos", 'groups']]},
    flickr: {
      title: 'Flickr', 
      url: '/flickr/photo_fields', 
      contexts: [
        ["Your friends' photos", 'friends'], 
        ["Public photos", 'public', {searchable:true}]]},
    picasa: {
      title: 'Picasa', 
      url: '/picasa/photo_fields', 
      contexts: [
        ["Your friends' photos", 'friends'], 
        ["Public photos", 'public', {searchable:true}]]}
  }
  $('.photo_inviter').each(function() {
    // The photo_fields endpoint needs to know the auth token and the index for the field
    var authenticity_token = $(this).parents('form').find('input[name=authenticity_token]').val()
    var options = {
      urlParams: {
        authenticity_token: authenticity_token,
        index: 0,
        limit: 30,
        require_write: true,
        licenses:'any'
      },
      sources: PHOTO_SOURCES,
      defaultSource: '<%= (@default_source || "flickr") %>',
      defaultContext: '<%= (@default_context || "public") %>',
      skipLocal: true,
      defaultQuery: <%=json_escape params[:q].to_json.html_safe %>
    }
    $(this).photoSelector(options)
  })
</script>
