<% content_for(:extracss) do %>
  <%= stylesheet_link_tag("invite") %>
<% end %>
<% content_for(:extrajs) do %>
  <%= javascript_include_tag "jquery/plugins/inat/photo_selectors.js" %>
<% end %>
<h2>Invite other photographers to iNaturalist</h2>
<p class="description">
  You can make it super easy for people on Facebook and Flickr to add their photos as iNat
  observations. Just leave a comment including this special invite URL below.
  You can also pre-select a taxon and project for the new observation.
</p>

<!--
<div class="stacked">
  <textarea class="text" style="width: 100%; height: 1.2em; font-size: 175%"><%= @invite_url %></textarea>
</div>
-->

<% form_tag(url_for, {:method => :post, :class => "photo_invite"}) do %>
  
  <div class='observation_photos'></div>
  <label for="taxonchooser">Automatically ID the new obs as</label>
  <%= text_field_tag :taxon_id, @taxon.try(:id), :class => "chooser text", :id => "taxonchooser", :placeholder => "Type species name..." %>
  &nbsp;
  <label for="taxonchooser">Automatically add to project</label>
  <%= text_field_tag :project_id, @project.try(:id), :class => "chooser text", :id => "projectchooser", :placeholder => "Type project name..." %>
  <div class='invite_comment'>
    <label>Add a comment (don't forget to include the {{INVITE_LINK}} placeholder):</label>
    <br />
    <%= text_area_tag :comment, Photo::DEFAULT_INVITE_COMMENT, :class=>'text' %>
  </div>
  <%= submit_tag("Send invite", :class => 'default button') %>
<% end -%>


<script type="text/javascript" charset="utf-8">
  $('#taxonchooser').chooser({
    queryParam: 'q',
    collectionUrl: 'http://'+window.location.host + '/taxa/search.json',
    resourceUrl: 'http://'+window.location.host + '/taxa/{{id}}.json'
  })
  $('#projectchooser').chooser({
    queryParam: 'q',
    collectionUrl: 'http://'+window.location.host + '/projects/search.json',
    resourceUrl: 'http://'+window.location.host + '/projects/{{id}}.json',
    defaultSources: <%= @projects.to_json %>
  })
    //var DEFAULT_PHOTO_IDENTITY_URL = "/facebook/photo_fields";
    var PHOTO_SOURCES = {
      facebook: {
        title: 'Facebook', 
        url: '/facebook/photo_fields', 
        contexts: [["Your photos", 'user'], ["Your friends' photos", 'friends']]},
      flickr: {
        title: 'Flickr', 
        url: '/flickr/photo_fields', 
        contexts: [["Your photos", 'user'], ["Your friends' photos", 'friends'], ["Public photos", 'public', {searchable:true}]]}
    }

$('.observation_photos').each(function() {
  var authenticity_token = $(this).parents('form').find('input[name=authenticity_token]').val()
  // The photo_fields endpoint needs to know the auth token and the index for the field
  var options = {
    urlParams: {
      authenticity_token: authenticity_token,
      index: 0,
      limit: 24,
      //synclink_base: window.location.href,
      //context: 'friends'
    },
    //baseURL: DEFAULT_PHOTO_IDENTITY_URL,
    //urls: PHOTO_IDENTITY_URLS,
    sources: PHOTO_SOURCES,
    defaultSource: "facebook",
    defaultContext: "friends"
  }
/*
  if (DEFAULT_PHOTO_IDENTITY_URL) {
  } else {
    options.baseURL = '/photos/local_photo_fields' //?context=user'
    options.queryOnLoad = false
  }
  if (PHOTO_IDENTITY_URLS && PHOTO_IDENTITY_URLS.length > 0) {
    options.urls = PHOTO_IDENTITY_URLS
  }
  */
  $(this).photoSelector(options)
})
</script>
