<%-
  @title = t(:add_your_photo_to, :project => "#{@project ? h(@project.title) : CONFIG.site_name}")
  @img = if @project && @project.icon.file?
    image_url @project.icon.url(:span2)
  else
    image_url CONFIG.logo_icon_square_big
  end
-%>
<%- @description = capture do %>
  <% if @project && !@project.description.blank? -%>
    <%= formatted_user_text @project.description %>
  <% else %>
    <p>
      <%_ t(:inaturalist_is_an_online_community, :site_name => SITE_NAME)
      <% if @taxon -%>
        <% if @taxon.species_or_lower? && @taxon.common_name && @taxon.common_name.to_s !~/'/ -%>
          <%= t(:the) %>
        <% end -%>
        <%= render(:partial => "shared/taxon", :object => @taxon, :locals => {:link_url => taxon_url(@taxon)}) %>
      <% else %>
        <%= t(>this_species) %>
      <% end -%>
      <%= t(:and_help_the_inaturalist_community_grow, :site_name => SITE_NAME) %>
    </p>
  <% end -%>
<% end %>

<%- content_for(:title) do -%>
  <%= @title %>!
<%- end -%>

<%- content_for(:extrahead) do -%>
  <meta property="og:title" content="<%= @title %>"/> 
  <meta property="og:image" content="<%= @img %>"/>
  <% if CONFIG.facebook && !CONFIG.facebook.admin_ids.blank? -%>
    <meta property="fb:admins" content="<%= CONFIG.facebook.admin_ids.join(',') %>"/>
  <% end -%>
  <% og_description = h strip_tags(@description) %>
  <meta property="og:description" content="<%= og_description %>"/>
<%- end -%>

<h2><%= @title %></h2>

<%= image_tag @img, :class => "right" %>

<%= @description %>

<p>
  <%- url = url_for(params.reject{|k,v| k.to_s == 'test'}.merge(:only_path => false)) -%>
  <%= link_to t(:add_your_photo), url, :class => "default button" %>
</p>
