<%- content_for(:title) do -%>
  <%= @title = "Photo #{@photo.id}, #{@photo.attribution}"  %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "taxa" %>
  <style type="text/css" media="screen">
    th, td { vertical-align: top;}
    .photocell {min-width: 500px;}
    .mini.observations .observation {border: 0 transparent;}
    th {border-bottom: 1px solid #DDD;}
  </style>
<%- end -%>

<h2><%= @title %></h2>

<table>
  <tr>
    <td class="photocell">
      <% if @photo.send("#{@size}_url") -%>
        <%= image_tag @photo.send("#{@size}_url"), :class => "#{@size} photo" %>
      <% else %>
        <div class="nocontent meta">
          No photo of that size.
        </div>
      <% end -%>
    </td>
    
    <td style="width: 100%">
      <table width="100%">
        <tr>
          <th>Attribution</th>
          <td width="100%">
            <%= rights @photo %>
            <% if @photo.editable_by?(current_user) -%>
              <span class="button">
                <%= link_to_function "edit license", "$('#editlicense').dialog({modal:true, width:'auto', title: 'Edit license'})" %>
              </span>
              <div id="editlicense" class="dialog" style="display:none">
                <div class="column span-18 verticalmiddle licensechoices">
                  <p class="ui description">
                    Licensing your content gives others the legal right to use it if
                    they stick to the terms of the license. <%= CONFIG.site_name_short %> uses your Creative
                    Commons-licensed content to share with data partners like the 
                    <a href="http://www.gbif.org/">Global Biodiversity Information Facility</a>
                    (GBIF).
                  </p>
                  <%= render :partial => 'shared/license_form' %>
                </div>
              </div>
            <% end -%>
          </td>
        </tr>
        <% unless @photo.is_a?(LocalPhoto) -%>
          <tr>
            <th>Source</th>
            <td><%= @photo.source_title %></td>
          </tr>
          <tr>
            <th>Original</th>
            <td><%= link_to @photo.native_page_url, @photo.native_page_url %></td>
          </tr>
        <% end -%>
        <% unless @observations.blank? -%>
          <tr>
            <th>Associated observations</th>
            <td class="mini observations">
              <%= render :partial => "observations/cached_component", :collection => @observations %>
            </td>
          </tr>
        <% end -%>

        <% unless @taxa.blank? -%>
          <tr>
            <th>Associated taxa</th>
            <td class="taxa grid">
              <%= render :partial => "taxa/taxon", :collection => @taxa, :locals => {
                :hide_wikipedia_summary => true,
                :link_name => true,
                :include_full_name => true
              } %>
            </td>
          </tr>
        <% end -%>
        
        <tr>
          <th>Sizes</th>
          <td>
            <ul>
              <% %w(small medium large original).each do |size| %>
                <%- next if @photo.send("#{size}_url").blank? -%>
                <li>
                  <%= link_to size, url_for(:size => size) %>
                </li>
              <% end -%>
            </ul>
            
            <% if @photo.respond_to?(:repair) && (is_me?(@photo.user) || is_curator?) -%>
              <span class="button">
                <%= link_to "Repair broken URLs", photo_repair_path(@photo), :method => :put, :confirm => "This might delete the photo if it was deleted from the external site or the owner has revoked permission.  Proceed?" %>
              </span>
            <% end -%>
          </td>
        </tr>
        <% if is_me?(@photo.user) -%>
          <tr>
            <th>Actions</th>
            <td>
              <%= link_to "Delete photo", @photo.becomes(Photo), :method => :delete, 
                :confirm => "Are you sure you want to delete this photo?", "data-loading-click" => "Deleting...", 
                :class => "delete button" %>
            </td>
          </tr>
        <% end -%>
      </table>
    </td>
  </tr>
</table>
