<%- content_for(:title) do -%>
  <%= @title = "Photo #{@photo.id}, #{@photo.attribution}" %>
<%- end -%>
<h2><%= @title %></h2>
<%= image_tag @photo.send("#{@size}_url") %>

<h3>Sizes</h3>
<ul>
  <% %w(small medium large original).each do |size| %>
    <%- next if @photo.send("#{size}_url").blank? -%>
    <li>
      <%= link_to size, url_for(:size => size) %>
    </li>
  <% end -%>
</ul>

<table width="100%">
  <tr>
    <th>Attribution</th>
    <td width="100%"><%= rights @photo %></td>
  </tr>
  <% unless @photo.is_a?(LocalPhoto) -%>
    <tr>
      <th>Source</th>
      <td><%= @photo.class.to_s.gsub(/Photo$/, '') %></td>
    </tr>
    <tr>
      <th>Original</th>
      <td><%= link_to @photo.native_page_url, @photo.native_page_url %></td>
    </tr>
  <% end -%>
</table>