<%- content_for(:title) do -%>
  <%= @title = "Photo #{@photo.id}, #{@photo.attribution}"  %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "taxa" %>
  <style type="text/css" media="screen">
    th, td { vertical-align: top;}
  </style>
<%- end -%>

<h2><%= @title %></h2>

<table>
  <tr>
    <td>
      <%= image_tag @photo.send("#{@size}_url"), :class => "#{@size} photo" %>
    </td>
    
    <td style="width: 100%">
      <table width="100%">
        <tr>
          <th>Attribution</th>
          <td width="100%">
            <%= rights @photo %>
            <% if @photo.editable_by?(current_user) -%>
              <span class="button">
                <%= link_to_function "edit license", "$('#editlicense').dialog({modal:true, width:'auto', title: 'Edit license'})" %>
              </span>
              <div id="editlicense" class="dialog" style="display:none">
                <div class="column span-18 verticalmiddle licensechoices">
                  <p class="ui description">
                    Licensing your content gives others the legal right to use it if
                    they stick to the terms of the license. iNat uses your Creative
                    Commons-licensed content to share with data partners like the 
                    <a href="http://www.gbif.org/">Global Biodiversity Information Facility</a>
                    (GBIF).
                  </p>
                  <%= render :partial => 'shared/license_form' %>
                </div>
              </div>
            <% end -%>
          </td>
        </tr>
        <% unless @photo.is_a?(LocalPhoto) -%>
          <tr>
            <th>Source</th>
            <td><%= @photo.class.to_s.gsub(/Photo$/, '') %></td>
          </tr>
          <tr>
            <th>Original</th>
            <td><%= link_to @photo.native_page_url, @photo.native_page_url %></td>
          </tr>
        <% end -%>
        <% unless @observations.blank? -%>
          <tr>
            <th>Associated observations</th>
            <td class="mini observations">
              <%= render :partial => "observations/cached_component", :collection => @observations %>
            </td>
          </tr>
        <% end -%>

        <% unless @taxa.blank? -%>
          <tr>
            <th>Associated taxa</th>
            <td class="taxa grid">
              <%= render :partial => "taxa/taxon", :collection => @taxa, :locals => {
                :hide_wikipedia_summary => true,
                :link_name => true,
                :include_full_name => true
              } %>
            </td>
          </tr>
        <% end -%>
        
        <tr>
          <th>Sizes</th>
          <td>
            <ul>
              <% %w(small medium large original).each do |size| %>
                <%- next if @photo.send("#{size}_url").blank? -%>
                <li>
                  <%= link_to size, url_for(:size => size) %>
                </li>
              <% end -%>
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
