<%- content_for(:title) do -%>
  <%= @title = "Photo #{@photo.id}, #{@photo.attribution}"  %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "taxa", "observations" %>
  <style type="text/css" media="screen">
    th, td { vertical-align: top;}
  </style>
<%- end -%>

<h2><%= @title %></h2>

<table>
  <tr>
    <td>
      <%= image_tag @photo.send("#{@size}_url") %>
    </td>
    
    <td style="width: 100%">
      <table width="100%">
        <tr>
          <th>Attribution</th>
          <td width="100%"><%= rights @photo %></td>
        </tr>
        <% unless @photo.is_a?(LocalPhoto) -%>
          <tr>
            <th>Source</th>
            <td><%= @photo.class.to_s.gsub(/Photo$/, '') %></td>
          </tr>
          <tr>
            <th>Original</th>
            <td><%= link_to @photo.native_page_url, @photo.native_page_url %></td>
          </tr>
        <% end -%>
        <% unless @observations.blank? -%>
          <tr>
            <th>Associated observations</th>
            <td class="mini observations">
              <%= render :partial => "observations/cached_component", :collection => @observations %>
            </td>
          </tr>
        <% end -%>

        <% unless @taxa.blank? -%>
          <tr>
            <th>Associated taxa</th>
            <td class="taxa grid">
              <%= render :partial => "taxa/taxon", :collection => @taxa, :locals => {
                :hide_wikipedia_summary => true,
                :link_name => true,
                :include_full_name => true
              } %>
            </td>
          </tr>
        <% end -%>
        
        <tr>
          <th>Sizes</th>
          <td>
            <ul>
              <% %w(small medium large original).each do |size| %>
                <%- next if @photo.send("#{size}_url").blank? -%>
                <li>
                  <%= link_to size, url_for(:size => size) %>
                </li>
              <% end -%>
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
