<%- content_for(:title) do -%>
  <%= @title = t(:photo_by_id_attribution, :id => @photo.id, :attribution => @photo.attribution) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "taxa" %>
  <style type="text/css" media="screen">
    th, td { vertical-align: top;}
    .photocell {min-width: 500px;}
    .mini.observations .observation {border: 0 transparent;}
    th {border-bottom: 1px solid #DDD;}
    .button.rotateleft {padding-left:25px; background: url(<%= asset_path("silk/arrow_turn_left.png") %>) 5px 5px no-repeat;}
    .button.rotateright {padding-left:25px; background: url(<%= asset_path("silk/arrow_turn_right.png") %>) 5px 5px no-repeat;}
  </style>
<%- end -%>

<h2><%= @title %></h2>

<% unless @flags.blank? -%>
  <div class="notice box">
    <h3><%=t :heads_up_this_photo_has_been_flagged %></h3>
    <%= render :partial => "flags/flag", :collection => @flags %>
    <% if logged_in? && current_user.is_curator? -%>
      <h4 class="upstacked"><%=t :curators %></h4>
      <p class="ui">
        <%=t 'views.photos.show.view_original_html', :url => @photo.is_a?(LocalPhoto) ? @photo.file.url(:original) : @photo.native_page_url %>
      </p>
    <% end -%>
  </div>
<% end -%>

<table>
  <tr>
    <td class="photocell">
      <% if @photo.send("#{@size}_url") -%>
        <%= image_tag @photo.send("#{@size}_url"), :class => "#{@size} photo" %>
      <% else %>
        <div class="nocontent meta">
          No photo of that size.
        </div>
      <% end -%>
    </td>
    
    <td style="width: 100%">
      <table width="100%">
        <tr>
          <th><%=t :attribution %></th>
          <td width="100%">
            <%= rights @photo %>
            <% if @photo.editable_by?(current_user) -%>
              <span class="button">
                <%= link_to_function t(:edit_license), "$('#editlicense').dialog({modal:true, width:'auto', title: I18n.t('edit_license')})" %>
              </span>
              <div id="editlicense" class="dialog" style="display:none">
                <div class="column span-18 verticalmiddle licensechoices">
                  <p class="ui description">
                  <%= t(:licensing_your_content_gives_others_legal, :site_name => @site.preferred_site_name_short) %>
                    <a href="http://www.gbif.org/">Global Biodiversity Information Facility</a>
                    (GBIF).
                  </p>
                  <%= render :partial => 'shared/license_form' %>
                </div>
              </div>
            <% end -%>
          </td>
        </tr>
        <% if @photo.user -%>
          <tr>
            <th class="nobr"><%=t :uploaded_by %></th>
            <td>
              <%= link_to user_image(@photo.user), person_url(@photo.user) %>
              <%= link_to_user @photo.user %>
            </td>
          </tr>
        <% end -%>
        <% unless @photo.native_page_url.blank? -%>
          <% unless @photo.source_title.blank? %>
            <tr>
              <th><%=t :source %></th>
              <td><%= @photo.source_title %></td>
            </tr>
          <% end %>
          <tr>
            <th><%=t :original %></th>
            <td><%= link_to @photo.native_page_url, @photo.native_page_url %></td>
          </tr>
        <% end -%>
        <% unless @observations.blank? -%>
          <tr>
            <th><%=t :associated_observations %></th>
            <td class="mini observations">
              <%= render :partial => "observations/cached_component", :collection => @observations %>
            </td>
          </tr>
        <% end -%>

        <% unless @taxa.blank? -%>
          <tr>
            <th><%= t(:associated_taxa) %></th>
            <td class="taxa grid">
              <%= render :partial => "taxa/taxon", :collection => @taxa, :locals => {
                :hide_wikipedia_summary => true,
                :link_name => true,
                :include_full_name => true
              } %>
            </td>
          </tr>
        <% end -%>
        
        <tr>
          <th><%= t(:sizes).capitalize %></th>
          <td>
            <ul>
              <% %w(small medium large original).each do |size| %>
                <%- next if @photo.send("#{size}_url").blank? -%>
                <li>
                  <%= link_to t(size), url_for(:size => size) %>
                </li>
              <% end -%>
            </ul>
            
            <% if @photo.respond_to?(:repair) && (is_me?(@photo.user) || is_curator?) -%>
              <span class="button">
                <%= link_to "Repair broken URLs", photo_repair_path(@photo), :method => :put, 
                  :data => {
                    :confirm => "This might delete the photo if it was deleted from the external site or the owner has revoked permission.  Proceed?"
                  } %>
              </span>
            <% end -%>
          </td>
        </tr>
        <% if is_me?(@photo.user) -%>
          <tr>
            <th><%= t(:actions).capitalize %></th>
            <td>
              <% if @photo.is_a?(LocalPhoto) -%>
                <%= link_to t(:rotate_left), rotate_photo_path(@photo, :left => true), :method => :put, :class => "button rotateleft", "data-loading-click" => "Rotating..." %>
                <%= link_to t(:rotate_right), rotate_photo_path(@photo), :method => :put, :class => "button rotateright", "data-loading-click" => "Rotating..." %>
              <% end -%>
              <%= link_to t(:delete_photo), @photo.becomes(Photo), :method => :delete, 
                :data => {
                  :confirm => t(:are_you_sure_you_want_to_delete_this_photo?),
                  :loading_click => t(:deleting)
                },
                :class => "delete button" %>
            </td>
          </tr>
        <% end -%>
        <% if logged_in? && !@photo.metadata.blank? %>
          <%- coords_viewable = @photo.observations.detect{|o| !o.coordinates_viewable_by?(current_user)}.blank? -%>
          <% for k,v in @photo.metadata %>
            <%- next if !coords_viewable && k.to_s =~ /(gps|date)/i -%>
            <%- next if k.to_s == 'dc' || k.to_s =~ /description/ || k.to_s == "dimensions" %>
            <tr>
              <% if k.to_s =~ /gps/i -%>
                <th><%= k.to_s.humanize.gsub(/Gps/, 'GPS') %></th>
                <td><%= v.is_a?(EXIFR::TIFF::Degrees) || v.is_a?(Rational) ? v.to_f : v %></td>
              <% else %>
                <th><%= k.to_s.humanize %></th>
                <td>
                  <%= case
                  when v.is_a?(EXIFR::TIFF::Orientation) then v.to_i
                  when v.is_a?(String) then v.utf_safe
                  else v
                  end %>
                </td>
              <% end -%>
            </tr>
          <% end %>
        <% end -%>
      </table>

      <% if @photo.flagged? %>
        <div id="flaggings_heads_up" class="description">
          <%=t :heads_up_this_photo_has_been_flagged %>
          <%= link_to t(:view_flags), photo_flags_path(@photo) %>
          |
          <%= link_to t(:add_another_flag), new_photo_flag_path(@photo),
                      :id => "flag_this", :rel => "nofollow", :class => "flaglink" %>
        </div>
      <% elsif logged_in? %>
        <p class="description ui">
          <%= link_to t(:flag_this_photo), new_photo_flag_path(@photo), :id => "flag_this", :rel => "nofollow", :class => "flaglink" %>
        </p>
      <% end %>
    </td>
  </tr>
</table>
