- archives ||= @archives
- display_user ||= @display_user
#archives
  %h3= t(:archives)
  %ul.readable
    %li.clear
      = t(:month)
      %span.count= t(:posts)
    - for year, month_num, month_name, count in archives
      %li.clear
        = link_to "#{t("date_format.month."+month_name.downcase).humanize} #{year}", post_archives_by_month_path(@parent, year, month_num)
        %span.count= count
