<%- archives ||= @archives -%>
<%- display_user ||= @display_user -%>
<div id="archives">
  <h3><%= t(:archives) %></h3>
  <ul class="readable">
    <li class="clear">
      <span class="label"><%= t(:month) %></span>
      <span class="count"><%= t(:posts) %></span>
    </li>
    <% for year, month_num, month_name, count in archives %>
      <li class="clear">
        <%= link_to "#{month_name} #{year}", journal_archives_by_month_path(display_user.login, year, month_num) %>
        <span class="count"><%= count %></span></li>
    <% end %>
  </ul>
</div>
