<%- post ||= @post -%>
<%- observations ||= @observations ||= @post.observations -%>
<% content_for(:extrajs) do -%>
  <%= javascript_include_tag 'jquery/plugins/jquery.labelize',
                             "jquery/plugins/inat/observation_selectors" %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#observation_selector').observationSelector({
        urlParams: { 
          authenticity_token: encodeURIComponent(<%= form_authenticity_token.inspect %>),
          include: "<%= @post.observation_ids.join(',') %>",
          user_id: <%= current_user.id %>
        }
      });
    });
  </script>
<% end -%>
<% content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    a.button.nextlink {
      float: right;
    }
  </style>
<% end -%>
<% form_for(post, :html => {:class => 'post_form'}) do |f| %>
  <div class="column span-13 append-1">
    <%= error_messages_for :post %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, :class => 'text' %>
    </div>

    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :parent_id %>
    <%= f.hidden_field :parent_type %>
    
    <div class="buttonrow">
      <% if post.published_at -%>
        <%= f.submit 'Save', :id => 'post_save', :class => 'default button' %>
        <%= f.submit 'Unpublish', :class => 'button' %>
      <% else -%>
        <%= f.submit 'Save Draft', :id => 'post_save', :class => 'button' %>
        <%= f.submit 'Publish', :class => 'default button' %>
      <% end -%>
      <% if post.new_record? -%>
        <%= link_to "Cancel", journal_by_login_path(post.user.login), :class => 'inter' %>
      <% else -%>
        <%= f.submit "Preview", :id => 'post_preview', :class => 'button' unless post.new_record? %>
        <%= link_to "Delete", journal_post_path(post.user.login, post), 
                    :confirm => "Are you sure you want to delete this post?", 
                    :method => :delete, 
                    :id => "delete_post_button", 
                    :class => "minor delete button" %>
      <% end -%>
    </div>
  </div>
  
  <div class="last column span-10">
    <div class="field">
      <label>Observations</label>
      <div class="description">
        You can choose observations to associate with this journal post.
      </div>
    </div>
    <div id="observation_selector" class="observations table">
      <%= render :partial => "observations/selector", :locals => { :observations => observations, :check_box_checked => true }%>
    </div>
  </div>
<% end %>
