<% include_breadcrumbs ||= false %>

<% breadcrumbs = capture do %>
  <% if include_breadcrumbs %>
    <%= render :partial => 'posts/breadcrumbs' %>
  <% end %>
<% end %>

<% if @parent.is_a?(Project) %>

  <%- tools = capture do -%>
    <% if @display_project.editable_by?(current_user) %>
      <div id="tools" class="buttonrow">
        <%= link_to t(:new_post), new_project_journal_post_path(@parent_slug),
                    :id => "newpostbutton", :class => "default button"%>
      </div>
    <% end %>
  <% end %>
  <%= render :partial => "shared/by_project_header", :locals => { :before => breadcrumbs, :after => tools, :model_name => "Journal", :project => @parent } %>
<% else # parent is not a project %>
  <%- tools = capture do -%>
    <% if logged_in? && current_user.login == @parent_display_name -%>
      <div id="tools" class="buttonrow">
        <%= link_to t(:new_post), new_journal_post_path(@parent_slug),
                    :id => "newpostbutton", :class => "default button"%>
        <%= feature_test :trips do %>
          <%= link_to t(:new_trip), new_trip_path,
                      :id => "newtripbutton", :class => "default button" %>
        <% end -%>

      </div>
    <% end -%>
  <% end %>
  <%= render :partial => "shared/by_login_header", :locals => { :before => breadcrumbs, :after => tools, :model_name => "Journal" } %>
<% end %>
