<%- truncate_length ||= nil %>
<%- @parent ||= post.parent %>
<%- post_url = (@parent.is_a?(Project) ?
                project_journal_post_path(@parent.slug, post) :
                journal_post_path(post.user.login, post))
%>
<div id="post-<%= post.id %>" class="post">
  <h3 class="title"><%= link_to h(post.title), post_url %></h3>
  <div class="body clear">
    <% if truncate_length -%>
      <%= truncate formatted_user_text(post.body), :length => truncate_length %>
    <%- else -%>
      <%= formatted_user_text(post.body, :tags => Post::ALLOWED_TAGS, :attributes => Post::ALLOWED_ATTRIBUTES) %>
    <% end -%>
  </div>
  <div class="meta">
    <span class="label">Posted on</span>
    <% if post.published_at -%>
      <span class="date"><%= post.published_at.to_s(:long) %></span>
    <% else -%>
      <span>DRAFT!</span>
    <% end -%>
    <span class="label">by</span>
    <% if post.user -%>
      <%= link_to user_image(post.user), post.user %>
      <%= link_to(post.user.login, observations_by_login_path(post.user.login)) %>
    <% else %>
      deleted user
    <% end -%>
    <% if post.observations.size > 0 -%>
      |
      <span class="count"><%= post.observations.size %></span>
      observations
    <% end -%>
    |
    <span class="count"><%= post.comments.size %></span>
    comments
    |
    <%= link_to 'Leave a comment', post_url + "#new_comment" %>
  </div>
</div>
