- if !posts.blank?
  - posts.each do |post|
    .media
      - if post.parent_type == "Project"
        = link_to(image_tag(post.parent.icon.url(:thumb), class: "usericon media-object img-rounded"), project_journal_path(post.parent), class: "pull-left")
      - else
        = link_to_user post.user, class: "pull-left" do
          = user_image post.user, size: "thumb", class: "media-object"
      .media-body
        = render "posts/post", post: post, hard_truncate_length: 500
- else
  #noposts.description= t(:no_one_posted_anything_yet)

