:ruby
  truncate_length ||= nil
  hard_truncate_length ||= nil
  @parent ||= post.parent
  post_url = flexible_post_path(post)
.post{:id => "post-#{post.id}"}
  %h3.title.media-heading
    = link_to post.title, post_url
    - if post.is_a?(Trip)
      %span.text-muted
        = surround '(', ')' do
          =t :trip
  .body.clear
    - text = formatted_user_text(post.body, scrubber: PostScrubber.new(tags: Post::ALLOWED_TAGS, attributes: Post::ALLOWED_ATTRIBUTES), skip_simple_format: (post.preferred_formatting == Post::FORMATTING_NONE))
    - if hard_truncate_length
      = truncate_with_more text, length: hard_truncate_length, ellipsize: true
      %p
        = link_to t(:view_post), post_url, class: "readmore"
    - elsif truncate_length
      = truncate_with_more text, length: truncate_length
    - else
      = text
  .meta
    = render "posts/attribution", post: post
    - if post.observations.size > 0
      |
      =t :x_observations_html, count: post.observations.size
    - if post.comments.size > 0 || !post.prefers_no_comments?
      |
      =t :x_comments_html, count: post.comments.size
    - unless post.prefers_no_comments?
      |
      = link_to t(:leave_a_comment), post_url + "#new_comment"
