<% content_for(:title) do -%>
  <%= t(:x_journal_archives_for_y, :user => @display_user.login) %>  <%= @target_date.strftime('%B %Y') %>
<%- end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag "posts" %>
  <style type="text/css" media="screen">
    h2.title {
      border-bottom: 1px dotted #888;
    }
  </style>
<% end -%>


<%= render :partial => "posts/header", :locals => { :include_breadcrumbs => true } %>

<div id="postscol" class="column span-16 append-1">
  <h2 class="title"><%= t(:journal_archives_for) %> <%= @target_date.strftime('%B %Y') %></h2>
  <div id="postdates" class="posts_by_date">
    <%= render :partial => 'posts_by_date' %>
    
    <% if @posts.empty? %>
      <center id="noposts" class="readable description">
        <%= t(:no_post_yet) %>
        <% if logged_in? && current_user.login == @display_user.login -%>
          <%= link_to t(:add_one), new_post_path(@display_user.login), 
            :class => "default button" %>
        <% end -%>
      </center>
    <% end %>
  </div>
  
  <%= will_paginate @posts, :renderer => INatLinkRenderer %>
</div>

<div id="sidecol" class="last column span-7">  
  <% unless @archives.blank? -%>
    <%= render :partial => 'archives' %>
  <% end -%>
</div>
