- content_for(:title) do
  = t( :x_journal_archives_for_y, user: @parent.try_methods( :login, :title, :name ) )
  = l @target_date, format: :month_year
- content_for(:extracss) do
  = stylesheet_link_tag "posts"
  %style{:media => "screen", :type => "text/css"}
    h2.title {
    border-bottom: 1px dotted #888;
    }

.container
  .row
    = render :partial => "posts/header", :locals => { :include_breadcrumbs => true }
  .row
    #postscol.column.col-md-8
      %h2.title
        = t(:journal_archives_for)
        = l @target_date, format: :month_year
      #postdates.posts_by_date
        = render :partial => 'posts_by_date'
        - if @posts.empty?
          %center#noposts.readable.description
            = t(:no_post_yet)
            - if logged_in? && current_user.login == @display_user.login
              = link_to t(:add_one), new_post_path(@display_user.login), |
                :class => "default button"                               |
      = will_paginate @posts, :renderer => INatLinkRenderer
    #sidecol.col-md-4
      - unless @archives.blank?
        = render :partial => 'archives'
