- content_for(:title) do
  =raw t :editing_this, elem: title_by_user( @post.title )
- content_for(:extracss) do
  = stylesheet_link_tag "observations", "posts"
- content_for(:extrajs) do
  = javascript_include_tag "posts/edit"
.container
  .row
    #pageheader.col-md-12
      .breadcrumbs
        %strong= link_to t(:back_to_post).html_safe, @post, :class => 'crumb'
      %h2
        = t(:editing)
        = @post.title
      .meta
        - if %w(Project Site).include?( @post.parent_type )
          =t :post_from_journal_by_parent_html, parent: @post.parent.try_methods(:title, :name), url: url_for( @post.parent )
        - else
          =t :post_from_your_journal_html, url: journal_by_login_path( current_user.login )
  .row
    .col-md-12
      - if @preview
        #preview.box
          %h3=t :preview
          = render "post", post: @post
  = render "#{@post.class.name.underscore}_form"
