- content_for(:title) do
  = t(:x_journal_editing, :user => @parent_display_name).html_safe
  "#{@post.title}"
- content_for(:extracss) do
  = stylesheet_link_tag "observations", "posts"
- content_for(:extrajs) do
  = javascript_include_tag "posts/edit"
.container
  .row
    #pageheader.col-md-12
      .breadcrumbs
        %strong= link_to t(:back_to_post).html_safe, @post, :class => 'crumb'
      %h2
        = t(:editing)
        = @post.title
      .meta
        = t(:post) + ' ' + t(:from).downcase
        - if %w(Project Site).include?( @post.parent_type )
          = link_to t(:x_journal, user: @post.parent.try_methods(:title, :name)), @post.parent
        - else
          = link_to t(:x_journal, user: t(:your).downcase.singularize), journal_by_login_path(current_user.login)
  .row
    .col-md-12
      - if @preview
        #preview.box
          %h3=t :preview
          = render "post", post: @post
  = render "#{@post.class.name.underscore}_form"
