<% content_for(:title) do -%>
  <%= @parent_display_name %>'s Journal &middot; Editing "<%= @post.title %>"
<%- end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag "posts" %>
<% end -%>
<div id="pageheader" class="column span-24">
  
  <h2>Editing "<%= @post.title %>"</h2>
</div>

<div class="column span-24">
  <% if @preview -%>
    <div id="preview" class="box">
      <h3>Preview</h3>
      <%= render :partial => "post", :locals => { :post => @post } %>
    </div>
  <% end -%>

  <%= render :partial => 'form' %>  
</div>

