<% content_for(:title) do -%>
  <%=h @parent_display_name %>'s Journal
<%- end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag "posts" %>
  <style type="text/css" media="screen">
    #footercol .feeds {
      text-align: right;
    }
  </style>
<% end -%>

<%= render :partial => "posts/header" %>

<div id="postscol" class="column span-16 append-1">
  <div id="postdates" class="posts_by_date">
    <%= render :partial => 'posts_by_date' %>
    
    <% if @posts.empty? %>
      <center id="noposts" class="readable description">
        No posts yet!
        <% if (@parent.is_a?(Project) && @display_project.editable_by?(current_user)) %>
          <%= link_to "Add one!", new_project_journal_post_path(@parent_slug), 
                      :id => "newpostbutton", :class => "default button"%>
        <% elsif logged_in? && current_user.login == @parent_display_name -%>
          <%= link_to "Add one!", new_journal_post_path(@parent_slug), 
            :class => "default button" %>
        <% end -%>
      </center>
    <% end %>
  </div>
  
  <%= will_paginate @posts %>
</div>
<div id="sidecol" class="last column span-7">  
  <% unless @drafts.blank? -%>
    <div class="box">
      <h3>Drafts</h3>
      <ul>
        <% for post in @drafts %>
          <li>
            <%= link_to h(post.title), edit_journal_post_path(current_user.login, post) %>
            <div class="meta">
              <span class="label">Created on</span>
              <span class="date"><%= post.created_at.to_s(:long) %></span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end -%>
  
  <% unless @archives.blank? -%>
    <%= render :partial => 'archives' %>
  <% end -%>
</div>

<div id="footercol" class="column span-24">
  <div class="feeds">
    <%= link_to("Atom", 
                (@parent.is_a?(Project) ?
                  project_journal_path(:project_id => @parent_slug, :format => 'atom') :
                  journal_by_login_path(:login => @parent_slug, :format => 'atom')),
                :class => 'atomlink') %>
  </div>
</div>

