<% content_for(:title) do -%>
  <%=h @display_user.login %>'s Journal
<%- end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag "posts" %>
  <style type="text/css" media="screen">
    #footercol .feeds {
      text-align: right;
    }
  </style>
<% end -%>

<%- tools = capture do -%>
  <% if logged_in? && current_user.login == @display_user.login -%>
    <div id="tools" class="buttonrow">
      <%= link_to "New Post", new_journal_post_path(@display_user.login), 
                  :id => "newpostbutton", :class => "default button"%>
    </div>
  <% end -%>
<% end %>
<%= render :partial => "shared/by_login_header", :locals => { :after => tools, :model_name => "Journal" } %>

<div id="postscol" class="column span-16 append-1">
  <div id="postdates" class="posts_by_date">
    <%= render :partial => 'posts_by_date' %>
    
    <% if @posts.empty? %>
      <center id="noposts" class="readable description">
        No posts yet!
        <% if logged_in? && current_user.login == @display_user.login -%>
          <%= link_to "Add one!", new_journal_post_path(@display_user.login), 
            :class => "default button" %>
        <% end -%>
      </center>
    <% end %>
  </div>
  
  <%= will_paginate @posts %>
</div>
<div id="sidecol" class="last column span-7">  
  <% unless @drafts.blank? -%>
    <div class="box">
      <h3>Your Drafts</h3>
      <ul>
        <% for post in @drafts %>
          <li>
            <%= link_to h(post.title), edit_journal_post_path(current_user.login, post) %>
            <div class="meta">
              <span class="label">Created on</span>
              <span class="date"><%= post.created_at.to_s(:long) %></span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end -%>
  
  <% unless @archives.blank? -%>
    <%= render :partial => 'archives' %>
  <% end -%>
</div>

<div id="footercol" class="column span-24">
  <div class="feeds">
    <%= link_to("Atom", posts_path(:login => @display_user.login, :format => 'atom'), :class => 'atomlink') %>
  </div>
</div>

