<% content_for(:title) do -%>
  <%= @post.user.login %>'s Journal &middot; New Post
<%- end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag "posts" %>
<% end -%>
<div id="pageheader" class="column span-24">
  <div class="breadcrumbs">
    <% if current_user and current_user.login == @post.user.login %>
    <%= link_to 'Back to your journal', 
                journal_by_login_path(current_user.login),
                :class => 'back crumb' %>
    <% else %>
    <%= link_to "Back to #{@post.user.login}'s journal", 
                journal_by_login_path(@post.user.login),
                :class => 'back crumb' %>
    <% end %>
  </div><!-- /#breadcrumbs -->
  <h2>New Journal Post</h2>
</div>

<div class="column span-24">
  <%= render :partial => 'form' %>  
</div>
