- content_for(:title) do
  = t(:x_journal_new_post, :user => @parent_display_name)
- content_for(:extracss) do
  = stylesheet_link_tag "posts"
- content_for(:extrajs) do
  = javascript_include_tag "posts/edit"
.container
  .row
    #pageheader.span12
      = render :partial => 'posts/breadcrumbs'
      %h2
        = t("new_#{@post.class.name.underscore}", default: "New #{@post.class.name.humanize}")
  = render "#{@post.class.name.underscore}_form"
