- content_for :title do
  = @title = t(:find_journal_posts)
- content_for(:extracss) do
  = stylesheet_link_tag "posts"
  :css
    .post {margin-bottom: 1em;}
    .iconcol {width: 48px;}
.container
  %ul.breadcrumb
    %li
      = link_to t(:journal_posts), journals_path
      %li.active=t :search
  #post_search.row.stacked
    .col-xs-12
      %h1= @title
      = form_tag journal_search_path, method: :get, class: "form-search form-inline" do
        .input-group
          = text_field_tag :q, params[:q], placeholder: t(:find_a_journal_post), class: "form-control"
          .input-group-btn
            = submit_tag t(:search), class: "btn btn-primary"
  .row
    .col-md-12
      = render "posts/posts", posts: @posts, hard_truncate_length: 500
      = will_paginate @posts
