<%- 
  index ||= @i
  checked ||= false
  synclink_base ||= nil
  sound_identity ||= nil
-%>
<% if @reauthorization_needed -%>
  <p class="notice ui">
    <%= t(:soundcloud_needs_to_confirm, :site_name => @site.preferred_site_name_short) %>
    <%= link_to t(:confirm_now), ProviderAuthorization::AUTH_URLS['soundcloud'], :class => "readmore" %>
  </p>
<% elsif @timeout %>
  <p class="error ui">
    <%=t 'sounds.request_timed_out' %>
  </p>
<% elsif @soundcloud_error %>
  <p class="error ui">
    <%=t 'sounds.soundcloud_replied_with_an_error' %>
  </p>
<% elsif sounds.blank? %>
  <div class="description" style="clear: both">
    <br />
    <%= t(:'sounds.we_didnt_find_any_sounds') %>
  </div>
<% else %>
  <h4><%= t :'sounds.select_one_or_more_sounds' %></h4>
  <%= hidden_field_tag :editing_sounds, true %>
  <% sounds.each do |sound| %>
    <%- 
      unique_id = serial_id
      input_name = "soundcloud_sounds#{"["+index.to_s+"]" if index}[]"
      input_id = "soundcloud_sound#{"_"+index.to_s if index}#{sound.native_sound_id}_#{unique_id}"
    -%>
    <div class="sound" data-sound-class="soundcloud_sound">
      <%= check_box_tag input_name, 
        sound.native_sound_id, 
        checked, 
        {:id => input_id, :class => "checkbox"} %>

<!-- TODO -->
      <% if false && synclink_base && (synclink_uri = URI.parse(synclink_base) rescue nil) %>
        <% 
          if synclink_uri.query.blank?
            synclink_uri.query = "#{prefix}_id=#{native_photo_id}"
          else
            synclink_uri.query.gsub!(/\&?#{prefix}_id=[^\&]+/, '')
            synclink_uri.query += "&#{prefix}_id=#{native_photo_id}"
          end
          synclink_uri.query += "&sync_photo=t"
          synclink_url = synclink_uri.to_s
        -%>
        <%= link_to t(:sync), synclink_url, :class => "small synclink", 
          :title => t(:import_date_time_location_taxonomic),
          :data => {
            :confirm => "Are you sure you want to sync this " + 
              "observation's data with this #{photo.is_a?(LocalPhoto) ? 'photo' : photo.class.name.underscore.humanize}? " + 
              "You will lose changes you've made to this form, but you will be able to " +
              "revert to your saved copy."
          } %>
      <% end %>

      <label for="<%= input_id %>">
        <%= sound.native_response['title'] %>
      </label>
      <span class='small view_sound'><%= link_to(t(:'sounds.listen'), sound.native_page_url, :target => '_blank') %></span>
    </div>
  <% end %>
<% end %>
