:ruby
  pui = resource
  project = pui.project
= image_and_content link_to(image_tag(project.icon.url(:col-md-2), :alt => "#{h(project.title)} icon", :width => 70, :height => 70), project), :image_size => 70 do
  %h4= link_to project.title, project
  .stacked
    = truncate(strip_tags(project.description), :length => 300)
%br
= link_to t(:join_this_project), join_project_url(project)
