:ruby
  pui = update_invited || object
  project = pui.project
  non_remote ||= false
  remote = !non_remote
.media
  .media-left
    = link_to(image_tag(project.icon.url(:span2), :alt => "#{h(project.title)} icon", :style => "max-width: 70px;", :class => "media-object img-thumbnail"), project)
  .media-body
    %h3= link_to project.title, project
    =formatted_user_text(truncate(project.description, :length => 300))
    - unless project.terms.blank?
      %h5=t :terms
      = truncate_with_more formatted_user_text(project.terms), :length => 300
    - if pui.accepted?
      =t :you_joined_this_project
    - else
      %p
        <span class="inter plain status" style="display:none"><%= t :joined! %></span>
        = link_to t(:join_this_project), join_project_url(pui.project_id),
          :remote => remote,
          :method => :post,
          "data-type" => remote ? "json" : nil,
          "data-project-id" => pui.project_id,
          "data-user-id" => current_user.id,
          :class => "btn btn-sm btn-primary"
        = link_to t(:about_this_project), project_url(pui.project_id), class: "btn btn-sm btn-default"
