<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #custom_project_head { width: 99%; height: 100px;}
    #custom_project_css { width: 99%;}
    .side_field textarea {width: 297px;}
  </style>
<%- end -%>

<%- content_for(:extrajs) do -%>
    <script type="text/javascript">
      $(document).ready(function(){
              $('.assetpreviewbutton').click(function() {
                  var button = this
                  $(button).show()
                  $(button).nextAll('.loading').hide()

                  var head = unescape($(this).parents('form').find(':input[name="custom_project[head]"]').serialize()).replace(/^(.*?)=/, "")
                  var side = unescape($(this).parents('form').find(':input[name="custom_project[side]"]').serialize()).replace(/^(.*?)=/, "")
                  var css = unescape($(this).parents('form').find(':input[name="custom_project[css]"]').serialize()).replace(/^(.*?)=/, "")
                  var css_page = <%= stylesheet_link_tag('blueprint_bundle.css').inspect.html_safe %>
                  css_page += <%= stylesheet_link_tag('application_bundle.css').inspect.html_safe %>

                  if (side != "") {
                      var side_content="<br><div style=\"height:auto;width:830px;float:left;\">"
                      side_content+="<div style=\"height:auto;width:190px;float:right;\">" + side + "</div></div>";
                  } else{
                      var side_content=""
                  }

                  var html = css_page + head + "<style type=\"text/css\">" + css + "</style>" + side_content
                  var html_content= '<div class="dialog">'+html.replace(/\+/gm, " ").replace(/(\r\n|\n|\r)/gm,"")+'</div>'
                  var w = window.open('', '', 'width=950,height=600,resizeable,scrollbars');
                  w.document.write(html_content);
                  w.document.close();
              return false;
             })
      })
    </script>
<%- end -%>

<%= form_for(@custom_project, :builder => DefaultFormBuilder) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :project_id %>
  <div class="quiet box">
    <label><%=t :breadcrumbs %></label>
  </div>
  <div class="column span-24">
    <%= f.text_area :head, :description => t(:breadcrumbs_description )%>
  </div>
  <div class="column span-15 append-1">
    <div class="quiet box">
      <label><%=t :main_content %></label>
      <%=t :main_content_description %>
    </div>
    
    <%= f.text_area :css, :description => t(:css_description) %>
  </div>
  <div class="last column span-8">
    <div class="quiet box">
      <label><%=t :nav %></label>

      <%=t :nav_description %>
    </div>
    
    <%= f.text_area :side %>
  </div>

  <div class="column span-24">
    <div class="notice box"><%= t('views.custom_projects.edit.custom_project_fields_warning') %></div>
  </div>

  <div class="column span-24 actions">
    <%= f.submit f.object.new_record? ? t(:create) : t(:update), :class => "default button" %>
    <%= link_to t(:preview), '', :class => 'button assetbutton assetpreviewbutton' %>
    <%= link_to t(:cancel), :back, :class => "button" %>
    <% unless f.object.new_record? -%>
      <%= link_to t(:delete), f.object, :method => :delete, 
        :data => {:confirm => t(:you_sure_delete_custom_field?)},
        :class => "minor delete button" %>
    <% end -%>
  </div>
<% end %>
