= form_for([:oauth, application], :builder => DefaultFormBuilder) do |f|
  .stacked
    = f.text_field :name
    = errors_for application, :name
    = f.text_field :redirect_uri
    = errors_for application, :redirect_uri
    - if Doorkeeper.configuration.test_redirect_uri && is_admin?
      .meta
        Use
        %strong= Doorkeeper.configuration.test_redirect_uri
        for local tests
  .actions.inline.buttonrow
    = f.submit :Submit, :class => "default button"
    = link_to "Cancel", oauth_applications_path, :class => "button"
