= form_for( application, as: :oauth_application, url: application.new_record? ? oauth_applications_path : oauth_application_path(application), builder: BootstrapFormBuilder, html: { multipart: true } ) do |f|
  .stacked
    = error_messages_for application
    = f.file_field :image, label: t( :image )
    = f.text_field :name, label: t( :name ), required: true
    = f.text_field :redirect_uri, required: true
    = f.check_box :confidential, label_after: true, description: t( :make_your_app_confidential ), label: t( :confidential )
    = f.text_area :description, label: t( :description )
    = f.text_field :url, :description => t( :url_for_your_app_outside_of_inaturalist ), label: t( :url )

  - if is_admin?
    .admin.stacked
      = f.check_box :official, label_after: true
      = f.check_box :trusted, label_after: true
  .actions.inline.buttonrow
    = f.submit t( :save ), class: "default button"
    = link_to t( :cancel ), oauth_applications_path, class: "button"
