= content_for :title do
  = @title = t(:applications)
.container
  %header.page-header
    - if current_user.is_app_owner?
      = link_to t(:new_application), new_oauth_application_path, :class => "right button"
    - else
      = link_to t(:apply_to_be_an_app_owner), app_owner_application_path, :class => "right button"
    %h2= @title

  - if @current_user_applications
    %h3=t :your_applications
    - if @current_user_applications.size == 0
      %p.center-block.nocontent=t :no_applications_yet
    - else
      = render "table", applications: @current_user_applications
    %h3=t :all_applications
    = render "table", applications: @applications
  - else
    = render "table", applications: @applications
  = will_paginate @applications
