<h1>Listing guide_ranges</h1>

<table>
  <tr>
    <th>Guide taxon</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guide_ranges.each do |guide_range| %>
  <tr>
    <td><%= guide_range.guide_taxon_id %></td>
    <td><%= link_to 'Show', guide_range %></td>
    <td><%= link_to 'Edit', edit_guide_range_path(guide_range) %></td>
    <td><%= link_to 'Destroy', guide_range, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guide range', new_guide_range_path %>
