<%= form_for(@taxon_scheme_taxon, 
    :builder => DefaultFormBuilder,
    :url => @taxon_scheme_taxon.new_record? ? taxon_taxon_scheme_taxa_path(@taxon_scheme || @taxon_scheme_taxon.taxon) : @taxon_scheme_taxon) do |n| %>
  <%= error_messages_for :taxon_scheme_taxon %>
  
  <%= n.hidden_field :taxon_id %>
  <%= n.select :taxon_scheme_id, @taxon_schemes.map{|ts| [ts.title, ts.id]}, :selected => @taxon_scheme_taxon.try(:taxon_scheme_id) %>
  <%= n.text_field :source_identifier, :class => 'text', :id => "taxon_scheme_taxon_id" %>
  <%= n.text_field :taxon_name_id, :class => 'text' %>

  <div class="clear buttonrow">
    <%= n.submit "Save", :class => 'default button' %>
    <%= link_to "Cancel", taxon_schemes_path(@taxon), :class => 'button' %>
    <%- unless @taxon_scheme_taxon.new_record? -%>
      <%= link_to 'Delete', @taxon_scheme_taxon,
                  :method => :delete,
                  :data => {:confirm => "Are you sure you want to delete this taxon scheme taxon?"},
                  :class => 'minor delete button' %>
    <%- end -%>
  </div>
<% end %>