:ruby
  existing_donor = logged_in? && @user_parent && @user_parent.donor?
  current_step = existing_donor ? 3 : 2
- content_for :extracss do
  = stylesheet_link_tag :user_parents
- content_for :extrajs do
  = fundraise_up_js
  :javascript
    FundraiseUp.on( "donationComplete", function( details ) {
      $( "#step2" ).removeClass( "current" );
      $( "#step3" ).addClass( "current" );
      $( "#formcol iframe" ).hide( );
      $( "#user-parent-thanks" ).show( );
      $( window ).scrollTo( 0 )
    } );
- content_for :title do
  =t "views.user_parents.new.step2_title"
- content_for :left do
  .user-parent-progress.hidden-xs.hidden-sm
    %h1=t "views.user_parents.new.inaturalist_minor_account_signup"
    %ol.plain
      - ( 1..3 ).each do |step|
        %li{ id: "step#{step}", class: step == current_step ? "current" : "" }
          .title
            .step= step
            %h2
              - if step == 3 && existing_donor
                =t "views.user_parents.new.step3_donor_title"
              - else
                =t "views.user_parents.new.step#{step}_title"
          %p
            - if step == 3 && existing_donor
              =t "views.user_parents.new.step3_donor_desc"
            - else
              =t "views.user_parents.new.step#{step}_desc"
.formcol-content
  .user-parent-progress.hidden-md.hidden-lg.hidden-xl
    %h1=t "views.user_parents.new.inaturalist_minor_account_signup"
    %ol.plain
      - ( 1..3 ).each do |step|
        %li{ id: "step#{step}", class: step == current_step ? "current" : "" }
          .title
            .step= step
            %h2
              - if step == 3 && existing_donor
                =t "views.user_parents.new.step3_donor_title"
              - else
                =t "views.user_parents.new.step#{step}_title"
          %p
            - if step == 3 && existing_donor
              =t "views.user_parents.new.step3_donor_desc"
            - else
              =t "views.user_parents.new.step#{step}_desc"
  - unless existing_donor
    .fundraiseup-form
      %a{ href: "#XDBENMYL", style:"display: none" }
  #user-parent-thanks{ class: existing_donor ? "existing-donor" : "" }
    %h2=t "views.user_parents.confirm.thanks_for_creating_a_minor_account"
    - if existing_donor
      =t "views.user_parents.confirm.thanks_donor_html"
    - else
      %p=t "views.user_parents.confirm.we_will_send_you_an_email"
    = link_to t(:continue_to_site, site_name: @site.name), root_url, class: "btn btn-inat btn-primary btn-lg"
