:ruby
  donorbox_params = { utm_content: "user_parent", email: @user_parent_email, first_name: @user_parent_name.split.first, last_name: @user_parent_name.split.last }
  donorbox_params[:utm_source] = @site.name if donorbox_params[:utm_source].blank?
  donorbox_params[:utm_medium] = "web" if donorbox_params[:utm_medium].blank?
- content_for :extracss do
  = stylesheet_link_tag :user_parents
- content_for :extrajs do
  = javascript_include_tag "https://donorbox.org/widget.js", paypalExpress: false
  :javascript
    $( ".sharing .btn" ).click( function( ) {
      return !window.open( this.href, $(this).text( ), "width=640,height=400" );
    } );
    window.addEventListener( "message", function( event ) {
      if ( event.origin !== "https://donorbox.org" ) {
        return;
      }
      if ( event.data !== "donation_complete" ) {
        return;
      }
      $( "#step2" ).removeClass( "current" );
      $( "#step3" ).addClass( "current" );
    }, false);
- content_for :left do
  #progress
    %h1=t "views.user_parents.new.inaturalist_minor_account_signup"
    %ol.plain
      - ( 1..3 ).each do |step|
        %li{ id: "step#{step}", class: step == 2 ? "current" : "" }
          .title
            .step= step
            %h2=t "views.user_parents.new.step#{step}_title"
          %p=t "views.user_parents.new.step#{step}_desc"

%iframe#donorbox-iframe{ src: "https://donorbox.org/embed/seek-verification?#{donorbox_params.to_query}", seamless: "seamless", name: "donorbox", frameborder: "0", scrolling: "no", allowpaymentrequest: true }
