<%= render 'emailer/header' %>

<%-
  @user = @resource
  if site = @resource.site || @site
    logo_url = site.logo.url
    logo_square_url = site.logo_square.url
    site_url = site.url
    site_name = site.name
    help_url = site.help_url
    feedback_url = site.feedback_url
  else
    logo_url = CONFIG.logo
    logo_square_url = CONFIG.logo_icon_square_big
    site_url = root_url
    site_name = CONFIG.site_name
    help_url = CONFIG.help_url
    feedback_url = CONFIG.feedback_url
  end
-%>
<h1>
<%=raw t(:your_account_has_been_activated) %>
</h1>

<p><%= t(:wondering_what_to_do_next) %></p>

<ul>
  <li><%= link_to t(:read_our_getting_started_guide), url_for(:controller => "help", :action => "getting_started", :only_path => false) %></li>
  <li><%= link_to t(:add_an_observation).capitalize, new_observation_url %></li>
  <li><%= link_to t(:fill_out_your_profile).capitalize, edit_user_url(@resource) %></li>
  <li>
    <%= link_to t(:find_some_people_to_follow).capitalize, people_url %>
    <%= t(:or) %>
    <%= link_to t(:invite_your_friends).downcase, emailer_invite_url %>
  </li>
</ul>

<p>
  <%=raw t(:if_you_have_any_trouble_with_the_site_check_out, :help_url => help_url, :feedback_url => feedback_url).capitalize %>
</p>

<%= render 'emailer/footer' %>
