<%= render 'emailer/header' %>

<%-
  @user = @resource
  site = @resource.site || @site || Site.default
  site_name = site.name
  help_url = if site.help_url.to_s =~ /http/
    site.help_url
  else
    URI.join( site.url.to_s, site.help_url.to_s )
  end
  feedback_url = site.discourse_url
  feedback_url = site.feedback_url if feedback_url.blank?
  feedback_url = feedback_url.to_s
  feedback_url = if feedback_url =~ /http/
    feedback_url
  else
    URI.join( site.url.to_s, feedback_url )
  end
  community_guidelines_url = if site.community_guidelines_url =~ /http/
    site.community_guidelines_url
  else
    URI.join( site.url.to_s, site.community_guidelines_url.to_s )
  end
  teachers_url = URI.join( site.url.to_s, "pages/#{CGI.escape( "teacher's+guide" )}" )
-%>
<h1>
<%=raw t(:your_account_has_been_activated) %>
</h1>

<p><%= t(:wondering_what_to_do_next) %></p>

<ul>
  <li><%= link_to t(:read_our_getting_started_guide).capitalize, getting_started_help_url %></li>
  <li><%= link_to t(:add_an_observation).capitalize, upload_observations_url %></li>
  <li><%= link_to t(:fill_out_your_profile).capitalize, edit_user_url(@resource) %></li>
  <li>
    <%= link_to t(:find_some_people_to_follow).capitalize, people_url %>
  </li>
  <li><%= t( "views.devise.mailer.confirmation_instructions.community_guidelines_html", url: community_guidelines_url ) %></li>
</ul>

<p>
  <%=raw t(:if_you_have_any_trouble_with_the_site_check_out, :help_url => help_url, :feedback_url => feedback_url).capitalize %>
</p>

<strong>
  <i>
    <%= t( "views.devise.mailer.confirmation_instructions.are_you_planning_on_using_in_the_classroom", site_name: site_name ) %>
  </i>
</strong>
<p>
  <%= t( "views.devise.mailer.confirmation_instructions.please_read_the_teachers_guide_html", url: teachers_url, site_name: site_name ) %>
</p>

<%= render 'emailer/footer' %>
