- ofv ||= observation_field_value
- observation ||= @observation || ofv.observation
- hide_extra ||= false
.observation_field_value
  %label{"data-tip" => ofv.observation_field.description, "data-tip-width" => "auto"}
    = succeed ':' do
      = link_to ofv.observation_field.name, ofv.observation_field
  = observation_field_value_for(ofv)
  - unless hide_extra
    %span.extra.small
      = link_to t(:observations_w_field),
        observations_path("field:#{ ofv.observation_field.normalized_name(escape: true) }" => ""),
        :rel => "nofollow"
      - if ofv.value.to_s.size < 30
        |
        = link_to t(:observations_w) + "#{ofv.observation_field.name}=#{ofv.value}",
          observations_path("field:#{ ofv.observation_field.normalized_name(escape: true) }" => ofv.value),
          :rel => "nofollow"
      - if ofv.user_id != observation.user_id
        |
        =t :added_by
        = link_to_user ofv.user
      - if ofv.updater_id != ofv.user_id && !ofv.updater_id.blank?
        |
        =t :updated_by
        = link_to_user ofv.updater
