- content_for(:title) do
  = @title = t(:editing_observation_field)
#pageheader.column.span-24
  #nav.clear
    .breadcrumbs
      = link_to t(:back_to_x, noun: t(:observation_field, default: "observation field").downcase), @observation_field, :class => 'back crumb'
  %h2= @title
= render :partial => 'form'
= link_to t(:cancel), observation_fields_path, :class => "button"
= link_to t(:delete), @observation_field, :method => :delete, :data => {:confirm => t(:are_you_sure?)}, :class => "delete button"
= link_to t(:merge), merge_observation_field_path(@observation_field), :class => "minor button"
