<%- content_for(:title) do -%>
  <%= @title = t(:editing_observation_field) %>
<%- end -%>
<h2><%= @title %></h2>

<%= render :partial => 'form' %>

<%= link_to t(:show), @observation_field %> |
<%= link_to t(:back), observation_fields_path %>
