<%- content_for(:title) do -%>
  <%= @title = "Observation Fields" %>
<%- end -%>
<h2><%= @title %></h2>
<p class="description">
  Observation fields are additional data fields that can be added to observations.
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Datatype</th>
    <th>Description</th>
  </tr>

<% @observation_fields.each do |observation_field| %>
  <tr>
    <td><%=h link_to observation_field.name, observation_field %></td>
    <td><%=h observation_field.datatype %></td>
    <td><%=h observation_field.description %></td>
    <% if observation_field.editable_by?(current_user) -%>
      <td><%= link_to 'Edit', edit_observation_field_path(observation_field) %></td>
      <td>
        <%= link_to 'Delete', observation_field, 
          :confirm => 'Are you sure? Other people may be using this field too.', 
          :method => :delete %>
      </td>
    <% end -%>
  </tr>
<% end %>
</table>

<%= will_paginate @observation_fields %>

<%= link_to 'New observation field', new_observation_field_path, :class => "button" %>