<%- content_for(:title) do -%>
  <%= @title = t(:observation_fields) %>
<%- end -%>
<%= form_tag(observation_fields_path, :method => :get, :class => "right smallbuttons buttonrow") do %>
  <%= text_field_tag :q, @q, :class => 'text' %>
  <% unless @q.blank? -%>
    <%= link_to t(:clear).capitalize, observation_fields_path, :class => "glaucous button" %>
  <% end -%>
  <%= submit_tag t(:search), :class => 'last default button' %>
<% end %>
<h2><%= @title %></h2>
<p class="description">
  <%=t :observation_fields_are_additional %> 
</p>

<table>
  <tr>
    <th><%=t :name %></th>
    <th><%=t :datatype %></th>
    <th><%=t :description %></th>
  </tr>

<% @observation_fields.each do |observation_field| %>
  <tr>
    <td><%=h link_to observation_field.name, observation_field %></td>
    <td><%=h observation_field.datatype %></td>
    <td><%=h observation_field.description %></td>
    <% if observation_field.editable_by?(current_user) -%>
      <td><%= link_to t(:edit), edit_observation_field_path(observation_field) %></td>
      <td>
        <%= link_to t(:delete), observation_field, 
          :data => {:confirm => 'Are you sure? Other people may be using this field too.'}, 
          :method => :delete %>
      </td>
    <% end -%>
  </tr>
<% end %>
</table>

<%= will_paginate @observation_fields %>

<%= link_to t(:new_observation_field), new_observation_field_path, :class => "button" %>
