<%- content_for(:title) do -%>
  <%= @title = t(:observation_fields) %>
<%- end -%>
<h2><%= @title %></h2>
<p class="description">
  <%=t :observation_fields_are_additional %> 
</p>

<table>
  <tr>
    <th><%=t :name %></th>
    <th><%=t :datatype %></th>
    <th><%=t :description %></th>
  </tr>

<% @observation_fields.each do |observation_field| %>
  <tr>
    <td><%=h link_to observation_field.name, observation_field %></td>
    <td><%=h observation_field.datatype %></td>
    <td><%=h observation_field.description %></td>
    <% if logged_in? && (current_user.id == observation_field.id || current_user.is_curator?) -%>
      <td><%= link_to t(:edit), edit_observation_field_path(observation_field) %></td>
      <td><%= link_to t(:destroy), observation_field, :confirm => t(:are_you_sure?), :method => :delete %></td>
    <% end -%>
  </tr>
<% end %>
</table>

<%= will_paginate @observation_fields %>

<%= link_to t(:new_observation_field), new_observation_field_path, :class => "button" %>
