- of_name = t(@observation_field.name, :default => @observation_field.name)
- attrs = %w(name datatype description allowed_values observations_count projects_count).freeze
- content_for :title do
  = @title = t(:merge_observation_field_x_into, :x => of_name)
- content_for :extrajs do
  :javascript
    var ATTRS = #{raw(attrs.to_json)}
    $(document).ready(function() {
      $('#merge_target_id').chooser({
        collectionUrl: '/observation_fields.json?extra=counts',
        resourceUrl: '/observation_fields/{{id}}.json?extra=counts',
        afterSelect: function(of) {
          for (var i = 0; i < ATTRS.length; i++) {
            $('#'+ATTRS[i]+'_row .keeper').html(of[ATTRS[i]])
          }
        },
        afterClear: function() {
          $('.keeper').html("<div class='meta'>#{t :you_must_choose_an_observation_field}</div>")
        }
      })
    })
#pageheader
  .breadcrumbs
    = link_to "&raquo; #{t(:back_to_x, :noun => "\"#{of_name}\"")}".html_safe, @observation_field
  %h2= @title

.box.notice=t 'views.observation_fields.merge.warning_html'

= form_tag merge_observation_field_path, :method => :put do
  %table
    %thead
      %tr
        %th=t :attribute
        %th= of_name
        %th.nobr=t :what_to_keep
        %th
          %input{:type => "text", :name => 'with', :id => "merge_target_id", :class => "text", :placeholder => t(:start_typing_field_name), :value => @keeper.try(:id)}
    %tbody
      - attrs.each do |a|
        %tr{:id => "#{a}_row"}
          %td
            %strong= t(a, :default => a.humanize)
          %td.reject= @reject.send(a)
          %td
            - if a !~ /_count/
              %label{:for => "keep_#{a}_reject"} &larr;
              - if a == 'allowed_values'
                = check_box_tag "keep_#{a}[]", 'reject', false, :id => "keep_#{a}_reject"
                = check_box_tag "keep_#{a}[]", 'keeper', true, :id => "keep_#{a}_keeper"
              - else
                = radio_button_tag "keep_#{a}", 'reject', false
                = radio_button_tag "keep_#{a}", 'keeper', true
              %label{:for => "keep_#{a}_keeper"} &rarr;
          %td.keeper
            - if @keeper
              = @keeper.send(a)
            - else
              .meta=t :you_must_choose_an_observation_field
  = submit_tag t(:merge), :class => "default button"
