<%- content_for(:title) do -%>
  <%= @title = "New observation field" %>
<%- end -%>
<div class="pageheader">
  <div class="breadcrumbs">
    <%= link_to 'Back to observation fields', observation_fields_path, :class => "back crumb" %>
  </div>
  <h2><%= @title %></h2>
</div>

<%= render :partial => 'form' %>

<%= link_to 'Cancel', observation_fields_path, :class => "button" %>
