<%- content_for(:title) do -%>
  <%= @title = t(:new_observation_field) %>
<%- end -%>
<div class="pageheader">
  <div class="breadcrumbs">
    <%= link_to t(:back_to_observation_fields), observation_fields_path, :class => "back crumb" %>
  </div>
  <h2><%= @title %></h2>
</div>

<%= render :partial => 'form' %>

<%= link_to t(:cancel), observation_fields_path, :class => "button" %>
