<%- index ||= @i -%>
<%- checked ||= false -%>
<%- synclink_base ||= nil -%>
<div id="flickr_photos_list">
  <% if photos.size > 0 %>
    <% photos.each do |photo| %>
      <%- flickr_native_photo_id = photo.is_a?(FlickrPhoto) ? photo.flickr_native_photo_id : photo.id -%>
      <%- square_url = photo.is_a?(FlickrPhoto) ? photo.square_url : photo.source_url(:square) -%>
      <div class="flickr_photo">
        <% if index %>
          <%= check_box_tag "flickr_photos[#{index}][]", 
            flickr_native_photo_id, 
            checked, 
            {:id => "flickr_photo_#{index}_#{flickr_native_photo_id}", :class => "checkbox"} %>
            
          <% if synclink_base && synclink_uri = URI.parse(synclink_base) %>
            <% 
              if synclink_uri.query.blank?
                synclink_uri.query = "flickr_photo_id=#{flickr_native_photo_id}"
              else
                synclink_uri.query += "&flickr_photo_id=#{flickr_native_photo_id}"
              end 
              synclink_url = synclink_uri.to_s
            -%>
            <%= link_to "Sync?", synclink_url, :class => "small synclink", 
              :id => dom_id(photo, "synclink"),
              :title => "Import date, time, location, description, and taxonomic information from this photo.",
              :confirm => "Are you sure you want to sync this " + 
                "observation's data with this Flickr photo?  You will lose " +
                "changes you've made to this form, but you will be able to " +
                "revert to your saved copy." %>
          <% end %>
          
          <label for="flickr_photo_<%= index %>_<%= flickr_native_photo_id %>">
            <%= image_tag(square_url) %>
          </label>
        <% else %>
          <%= check_box_tag "flickr_photos[]", 
            flickr_native_photo_id, 
            checked, 
            {:id => "flickr_photo_#{flickr_native_photo_id}", :class => "checkbox"} %>
          <label for="flickr_photo_<%= flickr_native_photo_id %>">
            <%= image_tag(square_url) %>
          </label>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="notice" style="clear: both">
      We didn't find any photos using the search terms you provided.
    </div>
  <% end %>
</div>
