<label for="flickr_photo_search_<%= i %>">Did you put any photos on Flickr?</label>
<% unless @user.flickr_identity %>
<div>
  <br/>
  <span>We currently support Flickr for image hosting and hope to add other image hosts shortly.</span>
  <br/><br/>
<%= link_to "You can activate your Flickr account with iNaturalist to add\
             photos by clicking on this link.",
            :controller => 'flickr',
            :action => 'link' %>
</div>
<% else %>
<%= 
  link_to_function("Yes, find them!", nil, :id => "find_photos_link_#{i}", :class => 'button') do |page|
    page["find_photos_link_#{i}".to_sym].hide
    page.visual_effect(:appear, "flickr_photos_field_#{i}")
    page << "queryPhotos('', #{i}, $('flickr_photos_status_#{i}'));"
  end
%>
<div id="flickr_photos_field_<%= i %>" style="display: none">
  <div class="clear buttonrow">
    <%= text_field_tag "flickr_photo_search_#{i}",
                       "",
                       :title => "Search your photos",
                       :class => "text flickr_photo_search_input" %>
    <input type="button" class="flickr_search_button" id="flickr_search_button_<%= i %>" value="Search"/>
  </div>
  <div id="flickr_photos_status_<%= i %>" class="status flickr_photo_status" style="display:none"></div>
  <div id="flickr_photos_<%= i %>" class="flickr_photo_display"></div>
</div>
<% end %>
