<h2><%=t :invite_flickr_photos %></h2>
<p class="description">
 <%=t :invite_your_friends_description %>
</p>

<div class="stacked">
  <textarea class="text" style="width: 100%; height: 1.2em; font-size: 175%"><%= @invite_url %></textarea>
</div>

<% form_tag url_for, :method => :get do %>
  <label for="taxonchooser"><%=t :automatically_id_new %></label>
  <%= text_field_tag :taxon_id, @taxon.try(:id), :class => "chooser text", :id => "taxonchooser", :placeholder => t(:type_species_name) %>
  &nbsp;
  <label for="taxonchooser"><%=t :automatically_add_to_project %></label>
  <%= text_field_tag :project_id, @project.try(:id), :class => "chooser text", :id => "projectchooser", :placeholder => t(:type_project_name) %>
  
  <%= submit_tag t(:regenerate_url) %>
<% end -%>


<script type="text/javascript" charset="utf-8">
  $('#taxonchooser').chooser({
    queryParam: 'q',
    collectionUrl: 'http://'+window.location.host + '/taxa/search.json',
    resourceUrl: 'http://'+window.location.host + '/taxa/{{id}}.json'
  })
  $('#projectchooser').chooser({
    queryParam: 'q',
    collectionUrl: 'http://'+window.location.host + '/projects/search.json',
    resourceUrl: 'http://'+window.location.host + '/projects/{{id}}.json',
    defaultSources: <%= @projects.to_json %>
  })
</script>
