<div class="column span-13 append-1">
  <h3><%=t :link_to_flickr %></h3>
  <p> <%=t :flickr_description %> </p>
  <p><%=t :linked_flickr_howto %></p>
  <h3><%=t :we_care_privacy %></h3>
  <ul class="readable">
    <li>
      <%= raw t(:linked_flickr_password) %>
    </li>
    <li>
      <%=t :linked_flickr_photo_copy %>
    </li>
  </ul>
</div>

<div id="flickr-link" class="column last span-6">
  <div class="box buttonrow">
    <%= render :partial => 'link_to_flickr', :locals => {:flickr_url => @flickr_url} -%>
    <span class="inter">or</span>
    <%= link_to t(:no_link_flickr), 
                { :controller => 'observations', :action => @user.login },
                :class => 'button' %>
  </div>
</div>
