<%- content_for(:title) do -%>
  <%= @title = t(:flickr_account_information) %>
<%- end -%>
<h2><%= @title %></h2>

<!-- options info -->
<div class="column span-13">
<% if current_user.flickr_identity -%>
  <% if @photos %>
    <p>
      <% @photos.each do |photo| -%>
        <img src="<%= photo.url_sq -%>" />
      <% end -%>
    </p>
  <% end %>
<p>
  <%=t :linked_flickr, :site_name => @site.name %>
</p>
<p>
  <%=t :linked_flickr_description, :site_name => @site.name %>
</p>
<% else -%>
<h3><%=t :not_linked_flickr, :site_name => @site.preferred_site_name_short %></h3>
<p class="description">
  To connect Flickr with <%= @site.site_name_short %> , click the link on the right and sign into
  Flickr.com. Flickr will ask you if you want to give <%= @site.name %> permission
  to <strong>read</strong> from your Flickr account and will then send you
  back here.
</p>
<p class="description">
  <%=t :linked_flickr_password_html %>
</p>

<p class="description">
  <%=t :linked_flickr_automatically, :site_name => @site.name %>
</p>
<% end -%>

<hr/>

<p><!-- auto import from flickr into your queue -->
<% if current_user.flickr_identity && current_user.flickr_identity.auto_import %>
<!-- You currently have your iNaturalist account setup to import from your Flickr account automatically. -->
<% elsif current_user.flickr_identity && !current_user.flickr_identity.auto_import %>
<!-- You currently do not have your iNaturalist account setup to import from your Flickr account. -->
<% end %>
</p>
</div>

<!-- options actions-->
<div class="column span-7 last">
  <% if current_user.flickr_identity %>
    <p>
      <%= button_to t(:unlink_your_flickr_account),
        { controller: "flickr", action: "unlink_flickr_account" }, class: "inline delete button" %>
    </p>
    <% if @scope && @provider_authorization && @provider_authorization.scope != @scope %>
      <p class="ui">
        <%=t :connect_to_flickr_again_to_authorize_write_permissions %>
      </p>
      <%= link_to t(:connect_to_provider, provider: "flickr" ), 
        auth_url_for( "flickr", scope: @scope ),
        method: :post,
        class: "button" %>
    <% end %>
  <% else %>
    <p>
      <%= render :partial => 'link_to_flickr', :locals => { flickr_url: @flickr_url } -%>
    </p>
  <% end %>
</div>
