<%- content_for(:title) do -%>
  <%= @title = t(:flickr_account_information) %>
<%- end -%>
<h2><%= @title %></h2>

<!-- options info -->
<div class="column span-13">
<% if current_user.flickr_identity -%>
  <% if @photos %>
    <p>
      <% @photos.each do |photo| -%>
        <img src="<%= photo.url_sq -%>" />
      <% end -%>
    </p>
  <% end %>
<p>
  <%=t :linked_flickr, :site_name => @site.name %>
</p>
<p>
  <%=t :linked_flickr_description, :site_name => @site.name %>
</p>
<% else -%>
<h3><%=t :not_linked_flickr, :site_name => @site.preferred_site_name_short %></h3>
<p class="description">
  <%=t :linked_flickr_howto %> <%= link_to t(:flickr_tagger), flickr_tagger_path %>.
  To connect Flickr with <%= @site.site_name_short %> , click the link on the right and sign into
  Flickr.com. Flickr will ask you if you want to give <%= @site.name %> permission
  to <strong>read</strong> from your Flickr account and will then send you
  back here.
</p>
<p class="description">
  <%=t :linked_flickr_password_html %>
</p>

<p class="description">
  <%=t :linked_flickr_automatically, :site_name => @site.name %>
</p>
<% end -%>

<hr/>

<p><!-- auto import from flickr into your queue -->
<% if current_user.flickr_identity && current_user.flickr_identity.auto_import %>
<!-- You currently have your iNaturalist account setup to import from your Flickr account automatically. -->
<% elsif current_user.flickr_identity && !current_user.flickr_identity.auto_import %>
<!-- You currently do not have your iNaturalist account setup to import from your Flickr account. -->
<% end %>
</p>
</div>

<!-- options actions-->
<div class="column span-7 last">
<p>
<% if current_user.flickr_identity %>
<%= button_to t(:hate_me_flickr, :site_name => @site.name),
  {:controller => 'flickr', :action => 'unlink_flickr_account'}, :class => 'delete button' %>
<% else %>
<%= render :partial => 'link_to_flickr', :locals => {:flickr_url => @flickr_url} -%>
<% end %>
</p>
</div>
