<%- content_for(:title) do -%>
  <%= @title = t(:flickr_account_information) %>
<%- end -%>
<h2><%= @title %></h2>

<!-- options info -->
<div class="column span-13">
<% if @user.flickr_identity -%>
  <% if @photos %>
    <p>
      <% @photos.each do |photo| -%>
        <img src="<%= photo.url_sq -%>" />
      <% end -%>
    </p>
  <% end %>
<p>
  <%=t :linked_flickr %>
</p>
<p>
 <%=t :linked_flickr_description %>
</p>
<% else -%>
<h3><%=t :not_linked_flickr %></h3>
<p class="description">
  <%=t :linked_flickr_howto %> <%= link_to t(:flickr_tagger), flickr_tagger_path %>.
</p>
<p class="description">
  <%=t :linked_flickr_password %>
</p>

<p class="description">
  <%=t :linked_flickr_automatically %>
</p>
<% end -%>

<hr/>

<p><!-- auto import from flickr into your queue -->
<% if @user.flickr_identity && @user.flickr_identity.auto_import %>
<!-- You currently have your iNaturalist account setup to import from your Flickr account automatically. -->
<% elsif @user.flickr_identity && !@user.flickr_identity.auto_import %>
<!-- You currently do not have your iNaturalist account setup to import from your Flickr account. -->
<% end %>
</p>
</div>

<!-- options actions-->
<div class="column span-7 last">
<p>
<% if @user.flickr_identity %>
<%= button_to t(:hate_me_flickr), 
  {:controller => 'flickr', :action => 'unlink_flickr_account'}, :class => 'delete button' %>
<% else %>
<%= render :partial => 'link_to_flickr', :locals => {:flickr_url => @flickr_url} -%>
<% end %>
</p>
</div>
