<%- content_for(:title) do -%>
  <%= @title = "Your Flickr Account Information" %>
<%- end -%>
<h2><%= @title %></h2>

<!-- options info -->
<div class="column span-13">
<% if current_user.flickr_identity -%>
  <% if @photos %>
    <p>
      <% @photos.each do |photo| -%>
        <img src="<%= photo.url_sq -%>" />
      <% end -%>
    </p>
  <% end %>
<p>
  Your <%= CONFIG.site_name %> account is currently linked to your Flickr account.
</p>
<p>
  Keeping your <%= CONFIG.site_name %> account linked to your Flickr account allows you to
  add multiple photos to your observations.  Of course, if you ever want
  <%= CONFIG.site_name %> and Flickr to break up, we won't stop you, you just won't be
  able to add photos. Sometimes this might be for the best, like if you create
  a new Flickr account that you want to link <%= CONFIG.site_name %> to.
</p>
<% else -%>
<h3>Your <%= CONFIG.site_name %> account is not linked to your Flickr account :(</h3>
<p class="description">
  To connect Flickr with <%= CONFIG.site_name_short %>, click the link on the right and sign into
  Flickr.com. Flickr will ask you if you want to give <%= CONFIG.site_name %> permission
  to <strong>read</strong> from your Flickr account and will then send you
  back here.
</p>
<p class="description">
  We will never ask you for your Flickr password (but Flickr might, check the
  url that the button sends you and make sure it's Flickr.com). We will also
  won't change your Flickr data unless you want us to. We're the good guys!
</p>

<p class="description">
  Also, keep in mind that if you log in to <%= CONFIG.site_name_short %> via Flickr, we will
  automatically re-link your <%= CONFIG.site_name_short %> and Flickr accounts. Seems reasonable that
  if you use Flickr you'll want to be able to import Flickr photos, right?
</p>
<% end -%>

<hr/>

<p><!-- auto import from flickr into your queue -->
<% if current_user.flickr_identity && current_user.flickr_identity.auto_import %>
<!-- You currently have your iNaturalist account setup to import from your Flickr account automatically. -->
<% elsif current_user.flickr_identity && !current_user.flickr_identity.auto_import %>
<!-- You currently do not have your iNaturalist account setup to import from your Flickr account. -->
<% end %>
</p>
</div>

<!-- options actions-->
<div class="column span-7 last">
<p>
<% if current_user.flickr_identity %>
<%= button_to "Unlink your Flickr and #{CONFIG.site_name} Accounts", 
  {:controller => 'flickr', :action => 'unlink_flickr_account'}, :class => 'delete button' %>
<% else %>
<%= render :partial => 'link_to_flickr', :locals => {:flickr_url => @flickr_url} -%>
<% end %>
</p>
</div>
