<h2><%=t :able_to_connect_flickr %></h2>

<div class="column span-13" id="flickr-photos">
  <p><%=t :you_should_recognize_ %>:</p>
  <% @photos.each do |photo| -%>
  <img src="<%= photo.source_url(:square) -%>" />
  <% end -%>
</div>

<div class="column span-7 last">
  <h3><%=t :flickr_youre_all_set %>:</h2>
  <p><%= link_to t(:get_started_with_site), :controller => 'observations', :action => @user.login %></p>
</div>
