<%-
  identification ||= box
  observation ||= @observation
  skip_body ||= false
-%>
<div class="identification <%= identification.user_id == observation.user_id ? 'box' : 'quiet box' %>">
  <div class="boxheader">
    <% if is_me? identification.user -%>
      <%=t :your_id %>
    <% else %>
      <%=t :users_id, :user => identification.user.login %>
    <% end -%>
  </div>
  <div class="boxbody ui-helper-clearfix">
    <%= image_and_content link_to(user_image(identification.user, :size => "thumb"), identification.user) do %>
      <%= image_and_content link_to(taxon_image(identification.taxon), identification.taxon) do %>
        <% if logged_in? && identification.user_id != current_user.id -%>
          <%= link_to t(:agree?), {
               :controller => 'identifications',
               :action => 'agree',
               :observation_id => identification.observation_id,
               :taxon_id => identification.taxon_id },
             :method => :post,
             "data-loading-click" => "...",
             :class => "glaucous button" %>
        <% end -%>
        <div class="stacked">
          <%= render :partial => "shared/taxon", :object => identification.taxon, :locals => {
            :link_url => url_for(identification.taxon),
            :include_parens => false,
            :named_ancestor => true
          } %>
        </div>
      <% end -%>
    <% end -%>
    <% if !identification.body.blank? && !skip_body -%>
      <%= formatted_user_text identification.body %>
    <% end -%>
  </div>
</div>
