<%- show_body ||= false -%>
<%- body_label ||= t(:remarks_optional).html_safe -%>
  <div class="field species_guess_field">
    <label for="identification_species_guess-<%= identification.observation_id %>"><%=t :species%></label>
    <%= text_field_tag(:species_guess, '',
      :placeholder => t(:type_species_name),
      :size => '', 
      :class => 'text species_guess',
      :id => "identification_species_guess-#{identification.observation_id}") %>
    <%= f.hidden_field :taxon_id, class: "ac_hidden_taxon_id",
                       :id => "identification_taxon_id-#{identification.observation_id}" -%>
  </div>
  <% if show_body -%>
    <div class="field body_field">
      <%= f.label :body, body_label.html_safe %>
      <%= f.text_area :body, maxlength: Comment::MAX_LENGTH %>
    </div>

    <div class="field">
      <%= f.check_box :captive_flag %>
      <%= f.label :captive_flag, t(:organism_appears_captive_cultivated) %>
      <% helptip_for "captive_flag" do %>
        <%=t 'views.observations.captive_help_html' %>
      <% end -%>
    </div>
  <% end -%>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :observation_id %>
