<%
  identification ||= @identification
  taxon ||= identification.taxon
  observation ||= identification.observation
  user ||= identification.user
  viewers_identification ||= @viewers_identification
  usertext ||= nil
  identification_classes = ''
  if logged_in? && identification.user_id == current_user.id
    identification_classes += ' yours'
  end
  if identification.user_id == observation.user_id
    identification_classes += ' owners'
  end
  identification_classes += " #{identification.current? ? 'current' : 'outdated'}"
  hide_actions ||= false
  hide_agree ||= false
  extra ||= nil
-%>
<div id="<%= id_for(identification) %>" class="clear identification <%= identification_classes %>" data-taxon-id="<%= taxon.id if taxon %>">
  <div class="identification_image">
    <%= link_to taxon_image(taxon), taxon %>
  </div>
  <div class="identification_body">
    <span class="user_and_taxon">
      <span class="user">
        <% if user -%>
          <% if is_me?(user) %>
            <strong><%=t(:your).singularize %></strong> <%= t :id %>:
          <% else %>
            <%= link_to(t(:user_s_id, :user => user.login, :id => t(:id)), person_path(user)) %>:
          <% end %>
        <% elsif usertext %>
          <%= usertext %>
        <% end -%>
      </span>
      <%= render :partial => 'shared/taxon', 
                 :locals => { :taxon => taxon,
                              :link_url => taxon,
                              :named_ancestor => true } %>
    </span>
    <% unless hide_actions -%>
      <% if logged_in? && 
          !hide_agree &&
          identification.user_id != current_user.id && 
          (viewers_identification.blank? || viewers_identification.taxon_id != identification.taxon_id) %>
        <span class="agree button">
          <%= link_to t(:agree?), {
               :controller => 'identifications',
               :action => 'agree',
               :observation_id => identification.observation_id,
               :taxon_id => identification.taxon_id },
             :method => :post,
             "data-loading-click" => t(:agreeing) -%></span>
      <% end %>
      <% if logged_in? && identification.user_id == current_user.id && identification.current? %>
        <span class="button"><%= link_to t(:withdraw), identification_path( identification ),
            method: :delete,
            "data-loading-click" => t(:withdrawing),
            class: "removelink" -%></span>
      <% end %>
    <% end -%>
    
    <%= extra if extra %>
    
    <% unless taxon.is_active -%>
      <span class="small meta">
        (<%= link_to t(:inactive_taxon), taxon_changes_path(:taxon_id => taxon.id) -%>)
      </span>
    <% end -%>

    <% if tc = identification.taxon_change -%>
      <span class="small meta nobr">
        <%= t :added_as_a_part_of %> <%= link_to tc.class.name.underscore.humanize.downcase, taxon_change_path(tc) -%>
      </span>
    <% end -%>

    <%= feature_test :idcats, audience: [:users] do %>
      <div class="small status">
        <%= identification.category %>
      </div>
    <% end %>
  </div>
</div>
