<%
  identification ||= @identification
  taxon ||= identification.taxon
  observation ||= identification.observation
  user ||= identification.user
  viewers_identification ||= @viewers_identification
  usertext ||= nil
  identification_classes = ''
  if logged_in? && identification.user_id == current_user.id
    identification_classes += ' yours'
  end
  if identification.user_id == observation.user_id
    identification_classes += ' owners'
  end
  hide_actions ||= false
  hide_agree ||= false
  extra ||= nil
-%>
  <div class="media">
    <div class="media-left">
      <%= link_to taxon_image(taxon, :class => "media-object img-thumbnail", :style => "width:50px;height:50px;"), taxon %>
    </div>
    <div class="media-body">
      <% unless hide_actions -%>
        <% if logged_in? && 
            !hide_agree &&
            identification.user_id != current_user.id && 
            (viewers_identification.blank? || viewers_identification.taxon_id != identification.taxon_id) %>
          <span class="btn btn-sm btn-default btn_agree">
            <%= link_to t(:agree_), {
                 controller: "identifications",
                 action: "agree",
                 observation_id: identification.observation_id,
                 taxon_id: identification.taxon_id },
               method: :post,
               target: "_blank" -%>
          </span>
        <% end %>
        <% if logged_in? && identification.user_id == current_user.id && identification.current? %>
          <span class="btn btn-sm btn-default btn_agree"><%= link_to t(:withdraw), identification_path(identification),
              :method => :delete,
              "data-loading-click" => t(:withdrawing),
              :class => "removelink" -%></span>
        <% end %>
      <% end -%>
      <% unless identification.current? -%>
        <span class="label label-default label_refined"><%= t(:id_withdrawn) %></span>
      <% end -%>
      <h3 class="dashboard_id">
        <%= render :partial => 'shared/taxon', 
                   :locals => { :taxon => taxon,
                                :link_url => taxon,
                                :named_ancestor => false } %>        
      </h3>

    



  </div>
</div>
