<%-
  identification_form ||= nil
  identification ||= identification_form
-%>
<% if logged_in? %>
  <%- identification ||= Identification.new(:user => current_user, 
                                           :observation => observation) -%>
  <%= form_for(identification, :remote => true,
    :html => {
      "data-type" => "json",
     :id => "new_identification-#{observation.id}",
     :class => "identificationform"
    }) do |f| %>
    
    <%= render :partial => 'identifications/form_fields', :locals => {
      :identification => identification,
      :f => f
    } %>

    <div class="buttonrow" style="text-align:center">
      <%= image_tag('spinner.gif', 
        :id => "new_identification-#{observation.id}-loading", 
        :class => 'loading inlineblock', 
        :style => 'display: none') %>
      <%= f.submit(t(:save), :class => 'default button inlineblock', :tabindex => observation.id+1) %>
    </div>
  <% end %>
<% else %>
  <%= link_to t(:sign_in), login_path %>
  <%=t :or %> <%= link_to t(:sign_up), signup_path %>
  <%=t :to_add_ids %>
<% end %>
