<%- identification ||= identification_with_observation || @identification -%>
<div class="mini <%= 'compact' if request.format.mobile? %> observations observationcol column span-8">
  <%= render :partial => "observations/cached_component", :locals => { 
    :observation => identification.observation } %>
</div>
<div class="identificationcol last column span-10">
  <%- extra = capture do -%>
    <div class="small description">
     <%=t :added_on_datetime, datetime: l( identification.created_at.to_date, format: :month_day_year ) %>.
     <div class="ident-category">
       <%=t identification.category, default: identification.category %>
     </div>
    </div>
  <%- end -%>
  <%= render :partial => "identifications/identification", :locals => { 
    :identification => identification,
    :extra => extra
  } %>
</div>
