<% content_for(:title)  do %>
Identifications by <%= h @login %>
<% end %>
<% content_for(:extracss) do %>
<%= stylesheet_link_tag 'identifications' %>
<style type="text/css" media="screen">
  .identification {
    padding: 1em;
    background-color: #eee;
  }
  
  .observations.mini .observation {
    padding: 1em 0;
    margin-bottom: 0;
    border: 0;
  }
  
  .identification .identification_body {
    float: left;
    width: 280px;
  }
  
  .row {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .count {
    font-weight: bold;
  }
</style>
<!--[if lte IE 7]>
  <%= stylesheet_link_tag 'blueprint/ie', 'observations-ie' %>
<![endif]-->
<% end %>

<%= render :partial => "shared/by_login_header" %>

<div id="identifications" class="column span-18">
  <% if @identifications.empty? -%>
    <div id="no_content" class="readable description">
      <%= (logged_in? && @selected_user.id == current_user.id) ? "You haven't" : "#{@login} hasn't" %>
      added identifications to anyone's observations.
    </div>
  <% end -%>
  <% for identification in @identifications %>
    <div class="row column span-18">
      <%= render :partial => 'identification_with_observation', :object => identification %>
    </div>
  <% end %>
  
  <%= will_paginate @identifications, :renderer => INatLinkRenderer %>
</div>

<div class="last column span-6">
  <div class="box">
    <h3>Stats</h3>
    <ul>
      <li>
        <span class="count"><%= @identifications.total_entries %></span>
        <label>IDs made for others</label>
      </li>
      <% if @helpful_id_count -%>
        <li>
          <span class="count">
            <%= number_to_percentage(@helpful_id_count * 1.0 / @identifications.total_entries, :precision => 0) %>
          </span>
          <label>helped the observer make their final ID (i.e. they were made before the final ID and they match it)</label>
        </li>
      <% end -%>
    </ul>
  </div>
</div>
