<% content_for(:title)  do %>
  <%= t(:identifications_by, :user=> @login) %>
<% end %>
<% content_for(:extracss) do %>
<%= stylesheet_link_tag 'identifications' %>
<style type="text/css" media="screen">
  .identification {
    padding: 10px;
    background-color: #eee;
  }
  
  .observations.mini .observation {
    padding: 10px 0;
    margin-bottom: 0;
    border: 0;
  }
  
  .identification .identification_image {width: 75px;}
  .identification .identification_body {float: left;}
  
  .row {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .count {
    font-weight: bold;
  }
</style>
<!--[if lte IE 7]>
  <%= stylesheet_link_tag 'blueprint/ie', 'observations-ie' %>
<![endif]-->
<% end %>

<%= render :partial => "shared/by_login_header" %>

<div id="identifications" class="column span-18">
  <% if @identifications.empty? -%>
    <div id="no_content" class="readable description">
      <% if logged_in? && @selected_user.id == current_user.id %>
        <%= t 'no_identifications_added.current_user' %>
      <% else %>
        <%= t 'no_identifications_added.user', user: @login.to_s %>
      <% end %>
    </div>
  <% end -%>
  <% for identification in @identifications %>
    <div class="row column span-18">
      <%= render :partial => 'identification_with_observation', :object => identification %>
    </div>
  <% end %>
  
  <%= will_paginate @identifications, :renderer => INatLinkRenderer %>
</div>

<div class="last column span-6">
  <div class="box">
    <h3><%=t :stats %></h3>
    <ul>
      <li>
        <span class="count"><%= @identifications.total_entries %></span>
        <label><%=t :ids_made_for_others %></label>
      </li>
    </ul>
  </div>
</div>
