<%- content_for(:title) do -%>
  Edit Your Identification
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'identifications' %>
  <style type="text/css" media="screen">
    .identification {
      width: 100%;
      margin-bottom: 10px;
    }
    
    .button.delete {
      color: DeepPink;
      float: right;
    }
  </style>
<%- end -%>
<h2>Edit Your Identification</h2>
<div class="column prepend-3 span-8 append-1 mini observations">
  <h3><%= @identification.observation.user.login %>'s Observation</h3>
  <%= render :partial => "observations/cached_component", :locals => { 
    :observation => @identification.observation
  } %>
</div>
<div class="last column span-9 append-3">
  <h3>Your Identification</h3>
  <%= render :partial => "identifications/identification", :locals => { 
    :identification => @identification,
    :hide_actions => true } %>
  <% form_for @identification do |f| %>
    <div class="field body_field">
      <%= f.label :body, 'Remarks' %>
      <%= f.text_area :body %>
    </div>
    <div class="buttonrow">
      <%= submit_tag 'Save Identification', :class => 'default button' %>
      <%- unless @identification.new_record? -%>
        <span class="description inter">or</span>
        <%= link_to 'Cancel', url_for(@identification.observation) + "##{id_for(@identification)}", :class => 'button' %>
      <%- end -%>
      <%= link_to "Delete", identification_path(@identification), 
        :method => :delete, :class => 'minor delete button' %>
    </div>
  <% end %>
</div>
