- primary_term_label = (@term && @term.term_label || ControlledTermLabel.new)
- term = @term || ControlledTerm.new
.container
  .row
    = form_for term do |f|
      = f.fields_for primary_term_label do |ctl_f|
        = ctl_f.hidden_field :id, value: primary_term_label.id
        = render partial: "controlled_term_labels/form_fields", locals: { f: ctl_f, label: primary_term_label }
      .row.form-horizontal
        .col-md-12
          .form-group
            %label.col-sm-2.control-label Ontology URI
            .col-sm-10
              = f.text_field :ontology_uri, class: "form-control"
          .form-group
            %label.col-sm-2.control-label URI
            .col-sm-10
              = f.text_field :uri, class: "form-control"
          .form-group
            .col-sm-offset-2.col-sm-10
              .checkbox
                %label
                  = f.check_box :is_value
                  Is a value?
                - unless term.is_value?
                  %label
                    = f.check_box :multivalued
                    Multivalued?
                %label
                  = f.check_box :active
                  Active?
      .row
        .col-sm-2.form-horizontal
          .control-label
            %label Taxa
        .col-sm-10.controlled_term_taxa
          = f.fields_for :controlled_term_taxa do |ctt|
            = render "controlled_term_taxon_fields", f: ctt
          .upstacked
            = link_to_add_association "Add a taxon", f, :controlled_term_taxa, class: "btn btn-success btn-sm"
      .row
        .col-md-12.text-center
          = f.submit class: "btn btn-primary"


  - if term
    - if term.is_value?
      %br
      %br
      %hr
      .row
        %h3 Attribute Associations
      - term.controlled_term_value_attrs.each do |ctv|
        .row
          .form-group
            %label.col-sm-2.control-label= ctv.controlled_attribute.label
            .col-sm-10
              = button_to "remove association", ctv, method: :delete, data: { confirm: t(:are_you_sure?) }, class: "btn btn-danger"
      - if term.possible_attribute_associates.any?
        .row
          = form_for ControlledTermValue.new do |f|
            = f.hidden_field :controlled_value_id, value: term.id
            .form-group
              %label.col-sm-2.control-label
                = f.select :controlled_attribute_id, term.possible_attribute_associates, class: "form-control"
              .col-sm-10
                = f.submit "Create attribute association", class: "btn btn-primary"

    - term.labels.where("id != ?", primary_term_label).order(:id).each do |l|
      %br
      %br
      %hr
      .row
        %h3
          = "Label: #{l.label} (#{l.locale})"
          = button_to "Delete label", l, method: :delete, data: { confirm: t(:are_you_sure?) }, class: "btn btn-danger"
        = render partial: "controlled_term_labels/form", locals: { label: l }
    %br
    %br
    %hr
    .row
      %h3 Create a New Label
      = render partial: "controlled_term_labels/form"

