%li{ style: "font-weight: #{term.active ? 'bold' : 'normal'}" }
  - term_label = term.term_label
  = term_label.try(:label) ||term.try(:uri)
  - if term.controlled_term_taxa.count > 0
    [
    - if term.taxa.count > 0
      within
      = raw term.taxa.map{ |t| link_to( t.name, t) }.join( ", " )
    - if term.excepted_taxa.count > 0
      except
      = raw term.excepted_taxa.map{ |t| link_to( t.name, t) }.join( ", " )
    ]
  - if term_label && term_label.icon.exists?
    = image_tag term_label.icon.url, style: "max-width: 30px; max-height: 30px;"
  = link_to t(:edit), [ :edit, term ]
  = link_to t(:delete), term, method: :delete, data: { confirm: t(:are_you_sure?) }
