- content_for :extrahead do
  = stylesheet_link_tag "font-awesome"
  = stylesheet_link_tag "bootstrap"
  = stylesheet_link_tag "controlled_terms/form"
  = javascript_include_tag "controlled_terms/form"

= link_to "Back to all terms", controlled_terms_path
%h3 Edit term
= render partial: "form"
