<%-
  data_attrs = if @taxa
    {
      'data-page' => @taxa.current_page,
      'data-total-pages' =>  @taxa.total_pages,
      'data-total-entries' => @taxa.total_entries,
      'data-current-user-observed-count' => @current_user_observed_count,
      'data-listed-taxa-count' => @listed_taxa_count,
      'data-confirmed-listed-taxa-count' => @confirmed_listed_taxa_count
    }
  else
    {}
  end
  data_attrs.delete_if{|k,v| k == 'data-current-user-observed-count'} if @filter_params.blank?
-%>

<%- compact do %>
  <div class="guide_taxa" <%= data_attrs.map{|k,v| "#{k}=\"#{v}\""}.join(' ') %>>
    <% if @taxa.total_pages == 0 -%>
      <div class="noresults meta">
        <% if @filter_params.blank? -%>
          No species have been listed for this place yet!
        <% else %>
          No matching species.
        <% end -%>
      </div>
    <% else %>
      <% for taxon in @taxa %>
        <% if @listed_taxa_by_taxon_id -%>
          <%-
            listed_taxon = @listed_taxa_by_taxon_id[taxon.id]
            cache_key = listed_taxon.guide_taxon_cache_key
          -%>
          <%- cache cache_key do %>
            <%= render :partial => "listed_taxa/guide_taxon", :locals => { :listed_taxon => listed_taxon, :taxon => taxon } %>
          <% end -%>
        <% else %>
          <%= render :partial => "taxa/guide_taxon", :locals => { :taxon => taxon } %>
        <% end -%>
      <% end %>
      <%= will_paginate @taxa, :params => {:action => 'guide'}, :renderer => INatLinkRenderer %>
    <% end -%>
    <%# NOTE this is a lame kludge to get some JSON in here such that infinite scroll won't nix it %>
    <% unless @taxa_by_taxon_id.blank? -%>
      <code class="json listed_taxon" style="display:none;">
        <%= @taxa_by_taxon_id.to_json(:methods => [:common_name]) %>
      </code>
    <% end -%>
  </div>
<%- end -%>
