<%-
  grid ||= "grid"
  size ||= "medium"
  labeled ||= nil
  guide_url ||= @guide_url || place_guide_url(@place)
  extra ||= nil
-%>
<div id="sidecol">
  <div id="confirmedchart" class="barchart clear stacked">
    <%= render "shared/barchart_datum",
      :value => @confirmed_listed_taxa_count.to_i,
      :max => @listed_taxa_count.to_i, 
      :min_remainder_label_width => 50
    %>
  </div>

  <div id="browsingtaxa" class="stacked">
    <ul class="taxon_links">
      <li>
        <%= link_to t(:all_life), url_for(:taxon => nil), :class => "default_taxon taxon #{'selected' if @taxon.blank?}" %>
        <ul>
          <% taxonomic_taxon_list(@arranged_taxa, :class => "clear") do |taxon| %>
            <%-
              css_class = "taxon"
              css_class += ' selected' if @taxon && @taxon.id == taxon.id
              css_class += " #{Taxon::ICONIC_TAXA_BY_ID[taxon.iconic_taxon_id].try(:name)}"
              css_class += " taxon_#{taxon.id} taxon_#{taxon.name}"
            -%>
            <%= link_to default_taxon_name(taxon).capitalize, url_for(:taxon => taxon.id), :class => css_class %>
          <% end -%>
        </ul>
      </li>
    </ul>
  </div>
  
  <%= extra %>
</div>

<div id="maincol">
  <div id="controls" class="clear buttonrow smallbuttons">
    <div id="filters">
      <%= form_tag url_for, :method => :get, :class => "searchfilter inlineblock" do %>
        <div class="inline buttonrow">
          <%= text_field_tag :q, @q, :class => "text", :placeholder => t(:search_for_species), :id => "searchFilter" %>
          <%= submit_tag t(:search), :class => "glaucous button" %>
          <%= link_to "&times;".html_safe, url_for_params(:without => [:q]), :class => "pale button", :style => "#{'display:none' if @q.blank?}", :title => t(:clear_search) %>
        </div>
      <% end %>
      
      <%= form_tag url_for, :method => :get, :class => "establishmentfilter inlineblock" do %>
        <div class="inline buttonrow">
          <%= hidden_fields_for_params :without => [:establishment_means, :page] %>
          <%-
            options = [[t("establishment.establishment").capitalize, nil]] + ListedTaxon::ESTABLISHMENT_MEANS.map {|em| [t("establishment.#{em}").capitalize,em]}
          -%>
          <%= select_tag "establishment_means", options_for_select(options, @establishment_means), :id => "establishmentFilter", :class => "inlineblock" %>
          <%= submit_tag "Filter", :class => "glaucous button" %>
          <%= link_to "&times;".html_safe, url_for_params(:without => [:establishment_means]), :class => "pale button", :style => "#{'display:none' if @colors.blank?}", :title => t(:clear) %>
        </div>
      <% end %>
      
      <%= form_tag url_for, :method => :get, :class => "threatenedfilter inlineblock" do %>
        <div class="inline buttonrow">
          <%= hidden_fields_for_params :without => [:threatened, :page] %>
          <span class="inter">
            <%= hidden_field_tag :threatened, 0 %>
            <%= check_box_tag :threatened, 1, @threatened, :id => "threatened_box" %>
          </span>
          <label for="threatened_box" class="inter"><%= t(:threatened, :default => "threatened").capitalize %></label>
          <%= submit_tag "Filter", :class => "glaucous button" %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="listed_taxa">
    <div id="taxa" class="clear taxa <%= grid %> <%= size %> <%= labeled %> grid" data-guide-url="<%= guide_url %>"></div>
  </div>
</div>
