<%-
  grid ||= "fluid"
  size ||= "medium"
  labeled ||= nil
  guide_url ||= @guide_url || place_guide_url(@place)
  extra ||= nil
-%>
<div id="sidecol">
  <div id="confirmedchart" class="barchart clear stacked">
    <%= render :partial => "shared/barchart_datum", :locals => {
      :value => @confirmed_listed_taxa_count.to_i, 
      :max => @listed_taxa_count.to_i, 
      :label_text => "of #{@listed_taxa_count.to_i} confirmed",
      :min_remainder_label_width => 50
    } %>
  </div>
  <% if logged_in? && @place -%>
    <div class="stacked">
      <div id="observedchart" class="barchart inlineblock" data-original-count="<%= @current_user_observed_count.to_i %>" data-original-total="<%= @listed_taxa_count.to_i %>">
        <%= render :partial => "shared/barchart_datum", :locals => {
          :value => @current_user_observed_count.to_i, 
          :max => @listed_taxa_count.to_i, 
          :label_text => "of #{@listed_taxa_count.to_i}" } %>
      </div>
      <div class="extralabel">
        <%-
          percent = @listed_taxa_count.to_i == 0 ? 0 : (@current_user_observed_count.to_f / @listed_taxa_count.to_f * 100).round
        -%>
        <strong><span class="value"><%= percent %></span>%</strong>
        <%= link_to "on your life list", compare_lists_url(@place.check_list_id, :with => current_user.life_list_id) %>
      </div>
    </div>
  <% end -%>

  <div id="browsingtaxa" class="stacked">
    <ul class="taxon_links">
      <li>
        <%= link_to "All life", url_for(:taxon => nil), :class => "default_taxon taxon #{'selected' if @taxon.blank?}" %>
        <ul>
          <% taxonomic_taxon_list(@arranged_taxa, :class => "clear") do |taxon| %>
            <%-
              css_class = "taxon"
              css_class += ' selected' if @taxon && @taxon.id == taxon.id
              css_class += " #{Taxon::ICONIC_TAXA_BY_ID[taxon.iconic_taxon_id].try(:name)}"
              css_class += " taxon_#{taxon.id} taxon_#{taxon.name}"
            -%>
            <%= link_to default_taxon_name(taxon).capitalize, url_for(:taxon => taxon.id), :class => css_class %>
          <% end -%>
        </ul>
      </li>
    </ul>
  </div>
  
  <%= extra %>
</div>

<div id="maincol">
  <div id="controls" class="clear buttonrow smallbuttons">
    <div id="filters">
      <%- form_tag url_for, :method => :get, :class => "searchfilter inlineblock" do %>
        <div class="inline buttonrow">
          <%= text_field_tag :q, @q, :class => "text", :placeholder => "Search for species", :id => "searchFilter" %>
          <%= submit_tag "Search", :class => "glaucous button" %>
          <%= link_to "&times;", url_for_params(:without => [:q]), :class => "pale button", :style => "#{'display:none' if @q.blank?}", :title => "Clear search" %>
        </div>
      <% end %>

      <%- form_tag url_for, :method => :get, :class => "colorfilter inlineblock" do %>
        <div class="inline buttonrow">
          <%= hidden_fields_for_params :without => [:colors, :page] %>
          <%= select_tag "colors[]", options_for_select(Color.all.map(&:value).sort, :selected => @colors), :multiple => true, :id => "colorsFilter", :class => "inlineblock" %>
          <%= submit_tag "Filter", :class => "glaucous button" %>
          <%= link_to "&times;", url_for_params(:without => [:colors]), :class => "pale button", :style => "#{'display:none' if @colors.blank?}", :title => "Clear color filters" %>
        </div>
      <% end %>
      
      <%- form_tag url_for, :method => :get, :class => "establishmentfilter inlineblock" do %>
        <div class="inline buttonrow">
          <%= hidden_fields_for_params :without => [:establishment_means, :page] %>
          <%-
            options = [['Establishment', nil]] + ListedTaxon::ESTABLISHMENT_MEANS.map {|em| [em,em]}
          -%>
          <%= select_tag "establishment_means", options_for_select(options, @establishment_means), :id => "establishmentFilter", :class => "inlineblock" %>
          <%= submit_tag "Filter", :class => "glaucous button" %>
          <%= link_to "&times;", url_for_params(:without => [:establishment_means]), :class => "pale button", :style => "#{'display:none' if @colors.blank?}", :title => "Clear" %>
        </div>
      <% end %>
      
      <%- form_tag url_for, :method => :get, :class => "conservationfilter inlineblock" do %>
        <div class="inline buttonrow">
          <%= hidden_fields_for_params :without => [:conservation_status, :page] %>
          <%-
            options = [['Conservation status', nil]] + Taxon::IUCN_STATUS_NAMES.map{|n| [n.humanize.downcase, n]}
          -%>
          <%= select_tag "conservation_status", options_for_select(options, @conservation_status), :id => "conservationFilter", :class => "inlineblock" %>
          <%= submit_tag "Filter", :class => "glaucous button" %>
          <%= link_to "&times;", url_for_params(:without => [:conservation_status]), :class => "pale button", :style => "#{'display:none' if @colors.blank?}", :title => "Clear" %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="listed_taxa">
    <div id="taxa" class="clear taxa <%= grid %> <%= size %> <%= labeled %> grid" data-guide-url="<%= guide_url %>"></div>
  </div>
</div>
