= content_for :title do
  =t :guides
= content_for :extracss do
  :css
    .bootstrap .media-object [class^="icon-"], .bootstrap .media-object [class*=" icon-"] {width: 70px; height:70px; text-align:center;}
.container-fluid
  .hero-unit
    %h1=t :welcome_to_guides, :site_name => SITE_NAME
    %p
      =t 'views.guides.index.welcome_message_html'
    %p
      =t :ready_to_get_started?
      = link_to t(:create_a_guide), new_guide_path, :class => "btn btn-primary"
  - for row in @guides.in_groups_of(2)
    .row-fluid
      - for guide in row.compact
        .span6
          .media
            .pull-left
              - if guide.icon.file?
                = link_to image_tag(guide.icon.url(:span2), :class => "img-rounded"), guide
              - else
                .media-object
                  <i class="icon-book icon-4x"></i>
            .media-body
              %h2.media-heading= link_to guide.title, guide
              = truncate(formatted_user_text(guide.description), :length => 300).html_safe
  .quiet.box.text-center.upstacked
    =t 'views.guides.index.funding_html'
