<h1>Listing guides</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Published at</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>User</th>
    <th>Place</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guides.each do |guide| %>
  <tr>
    <td><%= guide.title %></td>
    <td><%= guide.description %></td>
    <td><%= guide.published_at %></td>
    <td><%= guide.latitude %></td>
    <td><%= guide.longitude %></td>
    <td><%= guide.user_id %></td>
    <td><%= guide.place_id %></td>
    <td><%= link_to 'Show', guide %></td>
    <td><%= link_to 'Edit', edit_guide_path(guide) %></td>
    <td><%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guide', new_guide_path %>
