- content_for :title do
  =t :new_guide
- content_for :extracss do
  :css
    .bootstrap input, .bootstrap textarea {width:100%;}
.container-fluid
  .row-fluid
    .span3
    .span6
      %h2=t :new_guide
      = form_for @guide, :builder => DefaultFormBuilder do |f|
        = error_messages_for @guide
        = f.text_field :title, :label => t(:title).capitalize
        = f.text_area :description, :label => t(:description), :style => "height:200px;"
        = f.submit t(:save_and_add_taxa), :class => "btn btn-primary"
        = link_to t(:cancel), guides_path, :class => "btn"
    .span3
