- content_for :title do
  New Guide
- content_for :extracss do
  :css
    .bootstrap input, .bootstrap textarea {width:100%;}
.container-fluid
  .row-fluid
    .span3
    .span6
      %h2 New guide
      = form_for @guide, :builder => DefaultFormBuilder do |f|
        = f.text_field :title
        = f.text_area :description, :style => "height:200px;"
        = f.submit "Save", :class => "btn btn-primary"
        = link_to "Cancel", guides_path, :class => "btn"
    .span3
