%h2 New guide
= form_for @guide, :builder => DefaultFormBuilder do |f|
  .column.span-12
    = f.text_field :title
    = f.text_area :description
  .column.span-12.last
    %h3 Pre-populate your guide with taxon form a
    = f.form_field :place do
      = text_field_tag :place_id, nil, :id => "placechooser", :class => "text", :placeholder => "Start typeing a place name..."
    = f.form_field :taxon do
      = text_field_tag :taxon_id, nil, :id => "taxonchooser", :class => "text", :placeholder => "Start typeing a taxon name..."
  .column.span-24
    .actions.buttonrow
      = f.submit "Save", :class => "default button"
      = link_to "Cancel", guides_path, :class => "button"
:javascript
  $('#placechooser').chooser({
    collectionUrl: 'http://'+window.location.host + '/places/autocomplete.json',
    resourceUrl: 'http://'+window.location.host + '/places/{{id}}.json?partial=autocomplete_item',
  })
  $('#taxonchooser').chooser({
    collectionUrl: 'http://'+window.location.host + '/taxa/autocomplete.json',
    resourceUrl: 'http://'+window.location.host + '/taxa/{{id}}.json?partial=chooser',
  })
