- content_for :title do
  = @title = t(:find_guides)
= content_for :extracss do
  = stylesheet_link_tag "guides"
.container-fluid
  %ul.breadcrumb
    %li
      = link_to t(:guides), guides_path
      %span.divider /
      %li.active=t :search
  %h1= @title
  = form_tag search_guides_path, :method => :get, :class => "form-search form-inline" do
    .input-append
      = text_field_tag :q, params[:q], :placeholder => "Find a guide", :class => "search-query input-xlarge"
      = submit_tag t(:search), :class => "btn btn-primary"
  %ul.media-list
    - for g in @guides
      = render 'media_object', :guide => g, :tag => :li
  = will_paginate @guides
