- content_for :title do
  = @title = t(:find_guides)
= content_for :extracss do
  = stylesheet_link_tag "guides"
.container-fluid
  %ul.breadcrumb
    %li
      = link_to t(:guides), guides_path
      %li.active=t :search
  .row.stacked
    .col-xs-12
      %h1= @title
      = form_tag search_guides_path, :method => :get, :class => "form-search form-inline" do
        .input-group
          = text_field_tag :q, params[:q], :placeholder => t(:find_a_guide), :class => "form-control"
          .input-group-btn
            = submit_tag t(:search), :class => "btn btn-primary"
  .row
    .col-xs-12
      %ul.media-list
        - for g in @guides
          = render 'media_object', :guide => g, :tag => :li, :img_class => "col-md-2"
      = will_paginate @guides
