- content_for :extracss do
  :css
    body .bootstrap {font-size: 10px; }
    .bootstrap h1 {margin-top:0;}
    .bootstrap .thumbnails .img {height: 110px; position:relative;}
    .noimg { height: 110px;border: 1px solid #eee;}
    .bootstrap .thumbnails img {max-height: 110px; display:block; margin:0 auto;}
    .bootstrap .thumbnails img.iconic {padding-top:20px; }
    .bootstrap .thumbnail.borderless {border: 0 transparent; box-shadow: none; -webkit-box-shadow:none; -webkit-border-radius: 0px;}
    .bootstrap .thumbnails li {margin-bottom:0px;}
    .thumbnail {page-break-inside: avoid;}
    #attribution {page-break-inside: avoid;}
    #attribution, #attribution li, #attribution p {line-height: 1.4;}
    #attribution ul {margin-left:0;padding-left:0;display:inline;}
    #attribution li {display:inline;}
    #attribution li:after {content: ', ';}
    #attribution li:last-child:after {content: '';}
    #attribution {font-size:65%;}
    @media print{@page {size: portrait}}
.container-fluid
  %h3= @guide.title
  - for row in @guide_taxa.in_groups_of(4)
    .row
      .thumbnails
        - for guide_taxon in row.compact
          .col-md-3.col-sm-3.col-xs-3
            .thumbnail.borderless
              - if gp = guide_taxon.default_guide_photo
                .img= image_tag gp.photo.small_url, :class => "img-responsive"
              - elsif guide_taxon.taxon
                .noimg= iconic_taxon_image(guide_taxon.taxon, :class => "img-responsive")
              .display_name
                %strong= guide_taxon.display_name
              .name
                %i= guide_taxon.name
                = cite(gp.attribution) if gp = guide_taxon.default_guide_photo
  #attribution.text-muted
    .stacked
      %strong
        = succeed ':' do
          =t :photos
      = references(:linked => true)
    %p
      - if @guide.license.blank?
        =t :compiled_by_name, :name => @guide.user.name.blank? ? @guide.user.login : @guide.user.name
      - else
        = succeed ',' do
          =t :compiled_by_name, :name => @guide.user.name.blank? ? @guide.user.login : @guide.user.name
        =t 'copyright.some_rights_reserved'
        = surround '(', ')' do
          = link_to @guide.license.sub('-', ' '), url_for_license(@guide.license)
    %p
      =t :built_with_site_guides_html, :site_name => (@site || Site.default).name, :url => guides_url
