<%- content_for(:title) do %>
  <%= @guide.title %>
<%- end %>
<%- content_for(:extracss) do -%>
  <style type="text/css">
    .taxon.tile { width: 200px; float: left; margin-right:10px;overflow:hidden;}
    .taxon.tile .img {width: 200px; height:200px; overflow:hidden;position:relative;}
    .taxon.tile .img img {max-height: 300px;}
    .taxon.tile h3 {white-space: nowrap;}
    .card img, .page img {max-width:300px;}
    td {vertical-align:top;}
    .guide_section h4 { border-bottom: 1px solid #ccc;}
  </style>
<%- end -%>

<div id="pagheader">
  <div class="clear crumbs">
    <%= link_to "Back to guides", guides_path, :class => "left back crumb" %>
    <%= link_to "Edit", edit_guide_path(@guide), :class => "right" %>
</div>
<div id="emberapp" class="clear"></div>

<script type="text/x-handlebars">
  <h2>{{title}}</h2>
  <p class="description">{{description}}</p>
  {{outlet}}
</script>

<script data-template-name="guide" type="text/x-handlebars">
  <div class="grid-100">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
  </div>
  <div class="grid-33">
    <ul>
      {{#each taxon in guide_taxa}}
        <li>{{taxon.name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="grid-66">
    {{#each taxon in guide_taxa}}
      {{render 'card' taxon}}
    {{/each}}
  </div>
</script>

<script data-template-name="taxonTile" type="text/x-handlebars">
  <div class="taxon tile">
    <div class="img">
      {{#linkTo guideTaxon taxon}}<img {{bindAttr src="defaultPhotoUrl"}}>{{/linkTo}}
    </div>
    <h3>{{#linkTo guideTaxon taxon}}{{taxon.displayName}}{{/linkTo}}</h3>
  </div>
</script>

<script data-template-name="card" type="text/x-handlebars">
  <div class="card">
    <h3>{{taxon.displayName}}</h3>
    <table>
      <tr>
        <td class="img"><img {{bindAttr src="defaultPhotoUrl"}}></td>
        <td>
          {{{defaultSection.description}}}
        </td>
      </tr>
    </table>
  </div>
</script>

<script data-template-name="page" type="text/x-handlebars">
  <div class="page">
    <h3>{{displayName}}</h3>
    <div class="stacked meta">{{name}}</div>
    <table>
      <tr>
        <td class="img">
          <img {{bindAttr src="defaultPhotoUrl"}} class="stacked">
          <div class="other-photos stacked">
            {{#each photo in otherPhotos}}
              {{render 'photoThumb' photo}}
            {{/each}}
          </div>
          {{#if hasRange}}
            <img {{bindAttr src="guideRangeUrl"}} class="stacked">
          {{/if}}
        </td>
        <td>
          {{#each section in guideSections}}
            <div class="guide_section">
              <h4>{{section.title}}</h4>
              {{{section.description}}}
            </div>
          {{/each}}
        </td>
      </tr>
    </table>
  </div>
</script>

<script data-template-name="photoThumb" type="text/x-handlebars">
  <img {{bindAttr src="squareUrl"}}>
</script>

<script data-template-name="index" type="text/x-handlebars">
  <button {{action showTiles}}>Tiles</button>
  <button {{action showCards}}>Cards</button>
  {{#if isCard}}
    {{#each taxon in model}}
      {{render 'card' taxon}}
    {{/each}}
  {{else}}
    {{#each taxon in model}}
      {{render 'taxonTile' taxon}}
    {{/each}}
  {{/if}}
</script>

<script data-template-name="guideTaxon" type="text/x-handlebars">
  {{#linkTo index}}&laquo; Back to guide{{/linkTo}}
  {{render 'page' content}}
</script>


<script src="https://raw.github.com/wycats/handlebars.js/1.0.0-rc.4/dist/handlebars.js"></script>
<script src="http://builds.emberjs.com.s3.amazonaws.com/ember-latest.js"></script>
<script src="http://builds.emberjs.com.s3.amazonaws.com/ember-data-latest.js"></script>
<script type="text/javascript">
  var GUIDE = <%=raw @guide.to_json(:includes => [:guide_taxa]) %>
  $('.tile').imagesLoaded(function() {
    $(this).centerInContainer()
  })
</script>
<%= javascript_include_tag "guides/show" %>
