- content_for :extracss do
  :css
    .guide_photos img {max-height:200px;}
    #attribution {page-break-inside: avoid;}
    #attribution ul {list-style:none;}
.container-fluid
  %h1= @guide.title
  = formatted_user_text @guide.description
  - for gt in @guide_taxa
    .guide_taxon
      %h2= gt.display_name
      .row-fluid.stacked
        .guide_photos
          - for p in gt.guide_photos.sort_by(&:position)
            = image_tag p.medium_url, :class => "thumb"
            = cite p.attribution
      .row-fluid
        .span9
          .guide_sections
            - for s in gt.guide_sections.sort_by(&:position)
              %h3
                = s.title
                = cite do
                  = s.attribution
                  = link_to(s.source_url, s.source_url) unless s.source_url.blank?
              = formatted_user_text s.description
        .span3
          - gt.guide_ranges.each do |gr|
            .stacked
              = image_tag gr.medium_url, :class => "stacked"
              %p.meta.small
                = gr.attribution
  #attribution
    %h3=t :references
    = references(:linked => true)
    %p
      - if @guide.license.blank?
        =t :compiled_by_name, :name => @guide.user.name.blank? ? @guide.user.login : @guide.user.name
      - else
        = succeed ',' do
          =t :compiled_by_name, :name => @guide.user.name.blank? ? @guide.user.login : @guide.user.name
        =t 'copyright.some_rights_reserved'
        = surround '(', ')' do
          = link_to @guide.license.sub('-', ' '), url_for_license(@guide.license)
    %p
      =t :built_with_site_guides_html, :site_name => SITE_NAME, :url => guides_url
