:ruby
  observation_by_login_title = if is_me?(@selected_user)
    t('votes_by_login.title.current_user',
      default: t(:second_person_possessive_singular_, :noun => t(:favorites).downcase))
  else
    t('votes_by_login.title.login', login: @login,
      default: t(:third_person_possessive_singular, :noun => t(:favorites).titleize, :object_phrase => @login))
  end

- content_for :title do
  = @title ||= observation_by_login_title

- content_for :extrajs do
  = google_maps_js
  = javascript_include_tag 'map_bundle'
  :javascript
    $(document).ready(function() {
      $('.observationcontrols').observationControls('medium')
    })

.column.span-24
  = render :partial => "shared/by_login_header", :locals => { title: observation_by_login_title }
.columns.span-24
  - if @votes.size == 0
    .nocontent.meta
      - if logged_in? && is_me?(@selected_user)
        = t 'no_favorites_added.current_user'
      - else
        = t 'no_favorites_added.user', user: @login.to_s
  - else
    .stacked.observationcontrols
    .observations.medium.grid
      - compact do
        - for vote in @votes
          = render 'observations/observation_component', observation: vote.votable

  = will_paginate @votes
