- content_for :extracss do
  :css
    .edit_site textarea {height: 300px;}
= form_for @record, :builder => DefaultFormBuilder do |f|
  - if @record.errors.any?
    .row
      .span12
        #error_explanation
          %h2= "#{pluralize(@record.errors.count, "error")} prohibited this site from being saved:"
          %ul
            - @record.errors.full_messages.each do |msg|
              %li= msg
  .row
    .span4= f.text_field :name, :required => true
    .span4= f.text_field :url, :required => true
    .span4= f.check_box :draft
  %fieldset
    %legend=t :images
    .row
      .span4
        = f.file_field :logo
        = image_tag @record.logo.url
      .span4
        = f.file_field :logo_square
        = image_tag @record.logo_square.url
      .span4
        = f.file_field :stylesheet
        = link_to @record.stylesheet.url, @record.stylesheet.url if @record.stylesheet?
  - for grp, prefs in @pref_groups
    %fieldset
      %legend= grp.capitalize
      - for pair in prefs.in_groups_of(3)
        .row
          - for pref in pair.compact
            .span4
              - if pref.type == :boolean
                = f.label "preferred_#{pref.name}", :class => "checkbox" do
                  = f.check_box "preferred_#{pref.name}", :label => false
                  = t("site_preferences.#{pref.name}")
              - elsif pref.type == :text
                = f.text_area "preferred_#{pref.name}", :label => t("site_preferences.#{pref.name}"), :class => "span4"
              - else
                = f.text_field "preferred_#{pref.name}", :label => t("site_preferences.#{pref.name}"), :class => "span4"
      - if grp == 'geo'
        = f.text_field :place_id
  .row
    .span12
      = f.submit t(:save), :class => 'btn btn-primary'
      = link_to t(:cancel), :back, :class => 'btn btn-link'
      = link_to t(:destroy), @record, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger pull-right'
