- content_for :extracss do
  = stylesheet_link_tag :sites
:ruby
  pref_descriptions = {
    google_analytics_tracker_id: "Google Analytics tracker ID if you want to track use of your site with your own Google Analytics account. This must just be the ID, e.g. G-12A3BC45DE, not a block of HTML.",
    google_webmaster_dns_verification: "Enter this value as a TXT record in your DNS settings (see <a href='https://support.google.com/a/topic/1409901'>Google's instructions</a>) and then contact iNaturalist staff when you have done so to enable Google sign in and related Google integrations on your site. If you do not have a custom domain (e.g. if your URL looks like <code>*.inaturalist.org</code>) then you don't have to worry about this.".html_safe,
    google_webmaster_dns_verified: "Whether or not this site's domain has been verified as an iNaturalist domain by Google. Staff: check this after the partner's DNS records have been updated but before re-submitting our OAuth consent screen to Google so Google reviewers will be able to see the sign in button on the partner site.".html_safe,
    twitter_sign_in: "This will show Twitter as a log in option. Twitter supports log in for 10 URLs per client, and we've used them all. To see which URLs we're using, check out iNat's Twitter developer settings.".html_safe,
    affiliated_organizations: "Brief listing of organizations supporting this iNaturalist Network partner in HTML"
  }
= form_for @record, :builder => BootstrapFormBuilder do |f|
  - if @record.errors.any?
    .row
      .col-md-12
        #error_explanation.alert.alert-danger
          %h2= "#{pluralize(@record.errors.count, "error")} prohibited this site from being saved:"
          %ul
            - @record.errors.full_messages.each do |msg|
              %li= msg
  .row
    .col-md-3= f.text_field :name, :required => true
    .col-md-3= f.text_field :url, :required => true
    .col-md-3= f.text_field :domain, :required => true
    .col-md-3= f.check_box :draft
  %fieldset
    %legend=t :assets
    .row
      .col-md-4
        = f.file_field :logo, description: "Displays in the upper left of the site header. PNG, JPG, GIF, or SVG, preferrably ~6:1 aspect ratio SVG. If using a PNG/JPG/GIF, the height should not be greater than 34px"
        .well
          = image_tag @record.logo.url
        = f.file_field :logo_blog, description: "Logo for the site blog. If not set, the square logo will be used by default. PNG, JPG, GIF, or SVG, preferrably ~3:1 ratio"
        - if @record.logo_blog?
          .well
            = image_tag @record.logo_blog.url
      .col-md-4
        = f.file_field :logo_square, description: "Used in situations where we need a brand that fits in a square or a circle (e.g. representing the site as an icon). JPG, PNG, or GIF, 1:1 ratio, ~300x300px"
        .well
          = image_tag @record.logo_square.url, :class => 'img-responsive'
      .col-md-4
        = f.file_field :favicon, description: "Displayed in address bar and tabs. PNG or ICO (preferrably PNG), 1:1, no more than 64x64px"
        .well
          = image_tag @record.favicon.url, :class => 'img-responsive'
    .row
      .col-md-4
        = f.file_field :logo_email_banner, description: "Displays at the top of all emails sent from the site to users. JPG, PNG, or GIF, ~6:1, 600px wide"
        .well
          = image_tag @record.logo_email_banner.url, :class => 'img-responsive'
      .col-md-4
        = f.file_field :shareable_image, description: "Default image used when sharing a page on social media. Ideal ratio and dimensions vary by platform, but we recommend a 1200px square that can be center-cropped to a 2:1 ratio. If no image is specified, the external site will usually choose an image for you from the content of the page"
        .well
          - if @record.shareable_image?
            = image_tag @record.shareable_image.url, :class => 'img-responsive'
          - else
            =t :no_content
      .col-md-4
        = f.file_field :stylesheet
        = link_to @record.stylesheet.url, @record.stylesheet.url if @record.stylesheet?
    .row
      .col-md-12
        = f.text_area :homepage_data
        = link_to_toggle_box "About homepage data" do
          %p
            JSON to populate the observation carousel and testimonials on the home
            page. Should look something like this (note that arrays can have
            multiple items even though this example only has one item per array):
          %pre
            :plain
              {
                "observations": [
                  {
                    "id": 1234,
                    "image_url": "https://url.of/some-image.jpg",
                    "place_guess": "Place where observation was made",
                    "user": {
                      "login": "observers-username",
                      "name": "Observer's Full Name",
                      "user_icon_url": "https://url.of/some-image.jpg"
                    }
                  }
                ],
                "testimonials": [
                  {
                    "body": "What the person had to say about iNat",
                    "name": "Name of the person who provided the testimonial",
                    "role": "Title or position of the person",
                    "location": "Place the person is from",
                    "image_url": "https://url.of/some-image-showing-what-the-person-looks-like.jpg",
                    "url": "https://www.inaturalist.org/people/persons-username"
                  }
                ]
              }
    .row
      .col-md-12
        = f.text_area :coordinate_systems_json
  - for grp, prefs in @pref_groups
    %fieldset
      %legend= grp.capitalize
      - for pair in prefs.in_groups_of(3)
        .row
          - for pref in pair.compact
            - disabled = Site::STAFF_ONLY_PREFERENCES.index(pref.name.to_sym) && !current_user.admin?
            .col-md-4
              - if pref.name == "site_observations_filter"
                = f.select "preferred_#{pref.name}", Site::OBSERVATIONS_FILTERS, label: pref.name.humanize, class: "col-md-4", disabled: disabled, description: pref_descriptions[pref.name.to_sym]
              - elsif pref.type.is_a?( ActiveRecord::Type::Boolean )
                = f.check_box "preferred_#{pref.name}", label_after: true, label: pref.name.humanize, disabled: disabled, description: pref_descriptions[pref.name.to_sym]
              - elsif pref.type.is_a?( ActiveRecord::Type::Text )
                = f.text_area "preferred_#{pref.name}", label: pref.name.humanize, class: "col-md-4", disabled: disabled, description: pref_descriptions[pref.name.to_sym]
              - else
                = f.text_field "preferred_#{pref.name}", label: pref.name.humanize, class: "col-md-4", disabled: disabled, description: pref_descriptions[pref.name.to_sym]
      - if grp == 'geo'
        .row
          .col-md-12
            = f.text_field :place_id, description: "Primary place the site is associated with, generally the place used for default searches etc."
          .col-md-12
            .inlabel
              %label Extra Places for Exports
          = f.fields_for :export_places_sites do |eps|
            = render "export_places_site_fields", f: eps
          .col-md-12
            = link_to_add_association "Add an extra place", f, :export_places_sites, class: "btn btn-success btn-sm"

  .row
    .col-md-12
      = f.submit t(:save), :class => 'btn btn-primary'
      = link_to t(:cancel), :back, :class => 'btn btn-link'
      = link_to t(:destroy), @record, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger pull-right'
