- content_for :title do
  = @title = t(:sites, :default => "Sites")
.container
  %h1= @title

  %table.table.table-bordered
    %tr
      %th
      %th=t :name
      %th=t :url
      %th

    - @records.each do |site|
      %tr
        %td= link_to image_tag(site.logo.url, style: "max-width: 50%"), site
        %td
          = link_to site.name, site
          - if site.draft?
            = "(#{t(:draft)})"
        %td= link_to site.url, site.url
        %td
          - if is_admin? || current_user.is_site_admin_of?(site)
            = link_to t(:edit), edit_site_path(site)

  %br

  - if is_admin?
    = link_to t(:new_site), new_site_path
