- content_for :title do
  = @title = t(:sites, :default => "Sites")
.container
  %h1= @title

  %table.table.table-bordered
    %tr
      %th
      %th=t :name
      %th=t :url
      %th

    - @records.each do |site|
      %tr
        %td= image_tag site.logo.url
        %td= site.name
        %td= site.url
        %td= link_to t(:edit), edit_site_path(site)

  %br

  = link_to t(:new_site), new_site_path
