.container
  .row
    %ul.breadcrumb
      %li
        = link_to t(:sites), sites_path
      %li.active= @record.name
    .col-md-4
      - %w{logo_square logo favicon logo_email_banner shareable_image logo_blog}.each do |attc|
        - if @record.send("#{attc}?")
          .meta.small.stacked{:style => "text-transform: uppercase;"}= attc.humanize
          = image_tag @record.send(attc.to_sym).url, class: "img-responsive stacked"
      - if @export_url
        .well.upstacked
          %h4 Site Data Export
          %p
            This export contains observational, taxonomic, and user data to
            which this site’s partner organization is entitled. It contains
            personal information as well as hidden observation locations so
            it should not be published or redistributed. It will be updated in
            June and December.
          = link_to @export_url, class: "btn btn-default btn-block stacked upstacked" do
            %i.fa.fa-download
            =t :download
            = surround "(", ")" do
              = number_to_human_size @export_bytes
          .small.text-center.text-muted
            =t :bold_label_colon_value_html, label: t(:date_updated), value: l( @export_mtime )
    .col-md-8
      %h2= @record.name
      - if is_admin? || current_user.is_site_admin_of?(@record)
        = link_to t(:edit), edit_site_path(@record), :class => "btn btn-default"
      %table.table.table-bordered.upstacked
        %tr
          %td=t :date_added
          %td=l @record.created_at, format: :long
        - unless @record.site_admins.blank?
          %tr
            %td=t :site_admins
            %td
              %ul{ style: "padding-left: 1em" }
                - for sa in @record.site_admins
                  %li= link_to_user sa.user
              %p These users are entitled to complete data exports including
              %ul{ style: "padding-left: 1em" }
                %li User data (including email addresses) of people affiliated with this site
                %li Observations added by people affiliated with this site
                - if @record.place
                  %li
                    Observations in 
                    = link_to @record.place.display_name, @record.place
                - for place in @record.export_places
                  %li
                    Observations in 
                    = link_to place.display_name, place
      - for grp, prefs in @pref_groups
        - prefs = prefs.select{|p| !@record.preferences[p.name].blank?}
        - next if prefs.blank?
        - unless !is_admin? && [ "contact", "google" ].include?( grp )
          %h3= grp.capitalize
          %table.table.table-bordered
            - for pref in prefs
              %tr
                %td= t("site_preferences.#{pref.name}")
                %td= @record.preferences[pref.name]
