.container
  .row
    %ul.breadcrumb
      %li
        = link_to t(:sites), sites_path
      %li.active= @record.name
    .col-md-4
      - %w{logo_square logo favicon logo_email_banner shareable_image logo_blog}.each do |attc|
        - if @record.send("#{attc}?")
          .meta.small.stacked{:style => "text-transform: uppercase;"}= attc.humanize
          = image_tag @record.send(attc.to_sym).url, class: "img-responsive stacked"
    .col-md-8
      %h2= @record.name
      - if is_admin? || current_user.is_site_admin_of?(@record)
        = link_to t(:edit), edit_site_path(@record), :class => "btn btn-default"
      %table.table.table-bordered.upstacked
        %tr
          %td=t :date_added
          %td=l @record.created_at, format: :long
        - unless @record.site_admins.blank?
          %tr
            %td=t :site_admins
            %td
              %ul.unstacked{ style: "padding-left: 1em" }
                - for sa in @record.site_admins
                  %li= link_to_user sa.user
      - for grp, prefs in @pref_groups
        - prefs = prefs.select{|p| !@record.preferences[p.name].blank?}
        - next if prefs.blank?
        - unless !is_admin? && [ "contact", "google" ].include?( grp )
          %h3= grp.capitalize
          %table.table.table-bordered
            - for pref in prefs
              %tr
                %td= t("site_preferences.#{pref.name}")
                %td= @record.preferences[pref.name]
