- content_for(:title) do
  =t :site_stats
- content_for(:extracss) do
  = stylesheet_link_tag :stats
- content_for(:extrajs) do
  = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
  :javascript
    google.charts.load( "current", {
      language: "#{I18n.locale}",
      packages: ["corechart", "annotationchart"]
    } );
    var STATS_JSON = #{ @stats.to_json.html_safe };
    $(document).ready(function( ) {
      Stats.loadCharts( );
    });
  = javascript_include_tag :stats, "d3.min"
.container
  %h2=t :site_stats
  .row.sparks
    .col-md-12
      %h3=t :_100_day_trends
    .col-md-2
      #obsspark.spark
      %label=t :observations
    .col-md-2
      #percentidspark.spark
      %label=t :_percent_ID_d
    .col-md-2
      #percentcidtogenusspark.spark
      %label=t :cid_d_to_genus
    .col-md-2
      #activeusersspark.spark
      %label=t :active_users
    .col-md-2
      #newusersspark.spark
      %label=t :new_users
    .col-md-2
      #new7obsusersspark.spark
      %label=t :new_users_w_7_obs
  .row
    .col-md-12
      %h3=t "views.stats.index.observations_1_week_moving_window"
      #obs_7.stacked.vis
        .loading.status=t :loading
    .col-md-6
      %dl.meta
        %dt=t :obs
        %dd=t "views.stats.index.obs_desc"
        %dt=t :obs_id_d
        %dd=t "views.stats.index.obs_id_d_desc"
        %dt=t :obs_cid_d
        %dd=t "views.stats.index.obs_cid_d_desc"
    .col-md-6
      %dl.meta
        %dt=t "views.stats.index.obs_cid_d_to_genus"
        %dd=t "views.stats.index.obs_cid_d_to_genus_desc"
        %dt=t "views.stats.index.obs_1_day"
        %dt=t "views.stats.index.obs_1_day_desc"
  .row
    .col-md-12
      %h3=t :observations_by_app
      #platforms.stacked.vis
        .loading.status=t :loading
    .col-md-6
      %dl.meta
        %dt=t :website
        %dd=t "views.stats.index.website_desc_html", url: site_url( "network" )
        %dt=t :iphone
        %dd=t "views.stats.index.iphone_desc_html", url: @site.iphone_app_url
    .col-md-6
      %dl.meta
        %dt=t :android
        %dd=t "views.stats.index.android_desc_html", url: @site.android_app_url
        %dt= t(:other).capitalize
        %dd=t "views.stats.index.other_desc_html", url: wiki_page_url( "developers" )
  .row
    .col-md-12
      %h3=t "views.stats.index.time_to_id_desc"
      #ttid.stacked.vis
        .loading.status=t :loading
    .col-md-6
      %dl.meta
        %dt=t "views.stats.index.TTID"
        %dd=t "views.stats.index.TTID_desc"
    .col-md-6
      %dl.meta
        %dt=t "views.stats.index.TTCID"
        %dd=t "views.stats.index.TTCID_desc"
    .col-md-12
      %p.meta=t "views.stats.index.TTID_note"
  .row
    .col-md-12
      %h3=t :active_users
      #active-users.stacked.vis
        .loading.status=t :loading
    .col-md-6
      %dl.meta
        %dt=t :active_users
        %dd=t "views.stats.index.active_desc"
  .row
    .col-md-12
      %h3=t :recent_new_users
      #recent-users.stacked.vis
        .loading.status=t :loading
    .col-md-6
      %dl.meta
        %dt=t :recent
        %dd=t "views.stats.index.recent_desc"
        %dt=t "views.stats.index.recent_w_7_obs"
        %dd=t "views.stats.index.recent_w_7_obs_desc"
    .col-md-6
      %dl.meta
        %dt=t "views.stats.index.recent_w_0_obs"
        %dd=t "views.stats.index.recent_w_0_obs_desc"
  .row
    .col-md-12
      %h3=t :daily_users
      #daily-users.stacked.vis
        .loading.status=t :loading
    .col-md-6
      %dl.meta
        %dt=t :new
        %dd=t "views.stats.index.new_users_desc"
        %dt=t :observers
        %dd=t "views.stats.index.observers_desc"
    .col-md-6
      %dl.meta
        %dt=t :identifiers
        %dd=t "views.stats.index.identifiers_desc"
  .row
    .col-md-6
      %h3=t :observations
      #observations.stacked.vis
        .loading.status=t :loading
    .col-md-6
      %h3=t :observations_by_app
      #cumulative-platforms.stacked.vis
        .loading.status=t :loading
  .row
    .col-md-6
      %h3=t :users
      #cumulative-users.stacked.vis
        .loading.status=t :loading
    .col-md-6
      %h3=t :projects
      #projects.stacked.vis
        .loading.status=t :loading
  .row
    .col-md-6
      %h3=t :observations_by_rank
      #ranks.stacked.vis
        .loading.status=t :loading
    .col-md-6
      %h3=t :taxon_ranks
      #ranks_pie.stacked.vis
        .loading.status=t :loading
