- content_for(:title) do
  = @title = "Segmentation Statistic"
- content_for(:extracss) do
  = stylesheet_link_tag :stats
  :css
    body { font-family: Arial,sans-serif; }
    .tooltip {
        position: absolute;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        pointer-events: none;
        opacity: 0;
    }
%script{ src: "https://d3js.org/d3.v4.js" }
- content_for(:extrajs) do
  :javascript
    var STATS_JSON = #{ @segmentation_statistic.to_json.html_safe };
    $( document ).ready( function() {
      var data = STATS_JSON;
      // Rename "power" to "pwr" in the data
      function renameNodes( node ) {
        if ( node.name === "power" ) node.name = "pwr";
        if ( node.children ) node.children.forEach( renameNodes );
      }
      renameNodes( data );
      var width = 1000;
          height = 1000;
      var rawSum = 0;
      ( function sumLeaves( node ) {
        if ( node.children && node.children.length ) {
          node.children.forEach( sumLeaves );
        } else {
          rawSum += node.value || 0;
        }
      } )( data );
      var minLeafArea = 30 * 30;
      var minValue = rawSum > 0 ? ( minLeafArea / ( width * height ) ) * rawSum : 0;
      var svg = d3.select( "#user_dataviz" ).append( "svg" )
        .attr( "viewBox", "0 0 " + width + " " + height )
        .attr( "preserveAspectRatio", "xMinYMin meet" );

      var root = d3.hierarchy( data ).sum( function( d ) {
        if ( d.children ) return 0;
        return Math.max( d.value || 0, minValue );
      } )
      root.eachAfter( function( d ) {
        if ( !d.children || d.children.length === 0 ) {
          d.rawValue = d.data.value || 0;
        } else {
          d.rawValue = d.children.reduce( function( sum, child ) {
            return sum + ( child.rawValue || 0 );
          }, 0 );
        }
      } );
      var sumOfLeaves = rawSum;
      d3.treemap()
        .size( [width, height] )
        .tile( function( parent, x0, y0, x1, y1 ) {
          // Depth 1 (new/existing): slice into rows
          // Depth 2 (power/casual/inactive): dice into columns
          // Depth 3+ (web/ios/etc): use squarify
          if ( parent.depth === 0 ) {
            d3.treemapSlice( parent, x0, y0, x1, y1 );
          } else if ( parent.depth === 1 ) {
            d3.treemapDice( parent, x0, y0, x1, y1 );
          } else {
            d3.treemapSquarify( parent, x0, y0, x1, y1 );
          }
        } )
        .paddingTop( function( d ) {
          if ( d.depth === 1 ) return 28;
          if ( d.depth === 2 ) return 24;
          return 5;
        } )
        .paddingRight( 5 )
        .paddingBottom( 5 )
        .paddingLeft( 5 )
        .paddingInner( 2 )
        ( root )

      var color = d3.scaleOrdinal()
        .domain( ["web", "ios", "android", "seek", "other", "ider"] )
        .range( ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd", "#8c564b"] );

      var opacity = d3.scaleLinear()
        .domain( [10, 30] )
        .range( [.5, 1] )

      svg
        .selectAll( "rect" )
        .data( root.leaves() )
        .enter()
        .append( "rect" )
        .attr( "x", function ( d ) { return d.x0; } )
        .attr( "y", function ( d ) { return d.y0; } )
        .attr( "width", function ( d ) { return d.x1 - d.x0; } )
        .attr( "height", function ( d ) { return d.y1 - d.y0; } )
        .style( "stroke", "black" )
        .style( "fill", function( d ){ return color( d.data.name );} )
        .style("opacity", function( d ){ return opacity( d.data.value ) } )
        .on( "mouseover", function( d ) {
          tooltip.style( "opacity", 1 );
          tooltip.style( "left", ( d3.event.pageX + 10 ) + "px" );
          tooltip.style( "top", ( d3.event.pageY + 10 ) + "px" );
          tooltip.html(
            "Name: " + d.data.name + "<br/>" + 
            "Value: " + ( d.data.value || 0 ).toLocaleString() + "<br/>" +
            "Percent: " + ( ( d.data.value || 0 ) / sumOfLeaves * 100 ).toFixed( 2 ) + "%"
          );
        } )
        .on( "mouseout", function() {
          tooltip.style( "opacity", 0 );
        } );
      
      var tooltip = d3.select( "body" )
        .append( "div" )
        .attr( "class", "tooltip" )
        .style( "opacity", 0 );
  
      svg
        .selectAll( "text" )
        .data( root.leaves().filter( function(d) { 
          return d.data.value > 10000;
        } ) )
        .enter()
        .append( "text" )
        .attr( "x", function( d ){ return d.x0 + 5} )
        .attr( "y", function( d ){ return d.y0 + 16} )
        .text( function( d ){ return d.data.name } )
        .attr( "font-size", "10px" )
        .attr( "fill", "white" )

      svg
        .selectAll( "vals" )
        .data( root.leaves().filter( function( d ) { 
          return d.data.value > 10000;
        } ) )
        .enter()
        .append( "text")
        .attr( "x", function(d){ return d.x0 + 5} )
        .attr( "y", function(d){ return d.y0 + 28} )
        .text( function(d){ return d.data.value.toLocaleString() } )
        .attr( "font-size", "8px" )
        .attr( "fill", "white" )

      svg
        .selectAll( "vals" )
        .data( root.leaves().filter( function( d ) { 
          return d.data.value > 10000; 
        } ) )
        .enter()
        .append( "text" )
          .attr( "x", function(d){ return d.x0+5} )
          .attr( "y", function(d){ return d.y0+40} )
          .text( function(d){ return ( d.data.value / sumOfLeaves * 100 ).toFixed( 2 ) + "%"; } )
          .attr( "font-size", "8px" )
          .attr( "fill", "white" )
          
      svg
        .selectAll( "titles")
        .data( root.descendants().filter( function( d ) {return d.depth==1} ) )
        .enter()
        .append( "text" )
          .attr( "x", function( d ){ return d.x0} )
          .attr( "y", function( d ){ return d.y0+18} )
          .text( function( d ){ 
            var ratio = ( d.rawValue / sumOfLeaves * 100 ).toFixed( 2 );
            return d.data.name + ": " + d.rawValue.toLocaleString() + " (" + ratio + "%)" 
          } )
          .attr( "font-size", "12px" )
          .attr( "fill",  "black" )
      
      svg
        .selectAll( "titles" )
        .data( root.descendants().filter( function( d ){return d.depth == 2;} ) )
        .enter()
        .append( "text" )
          .attr( "x", function( d ){ return d.x0} )
          .attr( "y", function( d ){ return d.y0+10} )
          .attr( "font-size", "10px" )
          .attr( "fill",  "black" )
          .each( function( d ) {
            var ratio = ( d.rawValue / sumOfLeaves * 100 ).toFixed( 2 );
            var text = d3.select( this );
            // Wrap all labels on two lines
            text.append( "tspan" )
              .attr( "x", d.x0+5 )
              .text( d.data.name + ": " + d.rawValue.toLocaleString() );
            text.append( "tspan" )
              .attr( "x", d.x0+5 )
              .attr( "dy", "10px" )
              .text( "(" + ratio + "%)" );
          } );
      } );
.container-fluid.stats-wide
  .row
    .col-xs-12
      = render "stats/staff_stats_bar"
      %h1 Logged in User Segments
      .stats-nav
        - if @segmentation_prev_record
          = link_to "Previous", user_segments_stats_path( date: @segmentation_prev_record.created_at.to_date ), class: "stats-nav-link"
        - else
          %span.stats-nav-link.is-disabled Previous
        - if @segmentation_record_created_at
          = link_to @segmentation_record_created_at.to_date.to_s, user_segments_stats_path( date: @segmentation_record_created_at.to_date ), class: "stats-nav-date"
        - else
          %span.stats-nav-date No data
        - if @segmentation_next_record
          = link_to "Next", user_segments_stats_path( date: @segmentation_next_record.created_at.to_date ), class: "stats-nav-link"
        - else
          %span.stats-nav-link.is-disabled Next
      = "30 days period ending on #{@record_date}"
      #user_dataviz
