:ruby
  @no_footer_gap = true
  @title = if @display_user
    t( :users_site_year_in_review, user: @display_user.login, site: @site.name, vow_or_con: @site.name[0].downcase, year: @year )
  else
    if @site.id == Site.default.id
      t( :inaturalist_global_year_in_review, year: @year )
    else
      t( :site_year_in_review, year: @year, site: @site.name, vow_or_con: @site.name[0].downcase )
    end
  end
- content_for :title do
  = @title.html_safe
- content_for :extrajs do
  :javascript
    var ROOT_TAXON_ID = #{ Taxon::LIFE.id };
    var YEAR = #{ @year };
    var YEAR_DATA = #{ @year_statistic.try(:data).to_json.html_safe };
    var DISPLAY_USER = #{ @display_user ? 
      @display_user.as_indexed_json.merge( icon_url: @display_user.medium_user_icon_url, display_donor_since: @display_user.display_donor_since ).to_json.html_safe
      :
      "null"
    };
    var YEAR_SITE = #{ @site.as_json( only: [:id, :name, :site_name_short, :url, :place_id], methods: [:locale] ).merge( icon_url: asset_url( @site.logo_square.url ), logo_url: asset_url( @site.logo.url ) ).to_json.html_safe };
    var SITES = #{ Site.where( "NOT draft AND created_at <= '#{@year}-12-31'" ).to_a.map{|s| s.as_json( only: [:id, :name, :site_name_short, :url, :place_id] ).merge( icon_url: asset_url( s.logo_square.url ), logo_url: asset_url( s.logo.url ) ) }.to_json.html_safe };
    var DEFAULT_SITE_ID = #{ Site.default.id };
    var WORLD_ATLAS_50M_JSON_URL = "#{image_url( "50m.json" )}";
    var WORLD_ATLAS_50M_TSV_URL = "#{image_url( "50m.tsv" )}";
    var YEAR_STATISTIC_UPDATED_AT = #{@year_statistic ? "new Date( '#{@year_statistic.updated_at.iso8601.html_safe}' )".html_safe : "null"};
    var FB_LOGO_URL = #{image_url( "facebook-f-logo-white.svg" ).inspect.html_safe};
  :javascript
    $( document ).ready( function() {
      if ( typeof( Object.assign ) !== 'function' ) {
        alert( "We're really sorry but this page probably won't work in older browsers like Internet Explorer. Please try it out in an up-to-date version of Chrome, Firefox, or Safari." );
      }
    })
    window._.any = _.some; // Patch so torque won't miss underscore
  = javascript_include_tag "https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  = javascript_include_tag "//unpkg.com/leaflet-gesture-handling"
  / required for Altmetric badges
  = javascript_include_tag "https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"
  = javascript_include_tag "torque.full.uncompressed"
  = javascript_include_tag "webpack/runtime-webpack"
  = javascript_include_tag "webpack/react-main-webpack"
  = javascript_include_tag "webpack/d3-webpack"
  = javascript_include_tag "webpack/stats-year-webpack"
- content_for :extracss do
  = stylesheet_link_tag "stats/year"
  = stylesheet_link_tag "https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  = stylesheet_link_tag "//unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css"
- content_for :extrahead do
  - if ( ys = @year_statistic ) && ys.year == 2019 && ys.site.blank? && ys.user.blank?
    %meta{ name: "og:image", property: "og:image", content: "https://static.inaturalist.org/misc/yir2019-shareable-v3.png" }
    %meta{ name: "og:image", property: "og:image:width", content: "1044" }
    %meta{ name: "og:image", property: "og:image:height", content: "548" }
    %meta{ name: "twitter:image", property: "twitter:image", content: "https://static.inaturalist.org/misc/yir2019-shareable-v3.png" }
    :javascript
      var SHAREABLE_IMAGE_URL = "https://static.inaturalist.org/misc/yir2019-shareable-v3.png";
  - elsif @shareable_image_url
    %meta{ name: "og:image", property: "og:image", content: image_url( @shareable_image_url ) }
    %meta{ name: "twitter:image", property: "twitter:image", content: image_url( @shareable_image_url ) }
    :javascript
      var SHAREABLE_IMAGE_URL = "#{image_url( @shareable_image_url )}";
  - else
    :javascript
      var SHAREABLE_IMAGE_URL = null;
  - if @year_statistic && @year_statistic.shareable_image?
    %meta{ name: "twitter:card", property: "twitter:card", content: "summary_large_image" }
    %meta{ property: "og:image:width", content: "1000" }
    %meta{ property: "og:image:height", content: "500" }
  - else
    %meta{ name: "twitter:card", content: "summary" }
    - if @display_user && @display_user.icon?
      %meta{ property: "og:image:width", content: "500" }
      %meta{ property: "og:image:height", content: "500" }
  %meta{ property: "og:title", content: @title }
  %meta{ property: "og:type", content: "website" }
  %meta{ property: "og:url", content: request.url }
  - if @display_user
    %meta{ property: "og:description", content: html_attributize( I18n.t( :users_highlights_and_stats_from_year_on_site, user: (@display_user.name || @display_user.login), year: @year, site: @site.name ) ) }
  - else
    %meta{ property: "og:description", content: html_attributize( I18n.t( :highlights_and_stats_from_year_on_site, year: @year, site: @site.name ) ) }
#fb-root
#app
  #initial-loading.text-center
    .loading_spinner
#logo
  %p=t :thanks_from_all_of_us_here_at
  = link_to @site.url do
    = image_tag @site.logo.url, alt: @site.name
