- @no_footer_gap = true
- content_for :title do
  - if @display_user
    =t :users_year_on_site, user: @display_user.login, site: @site.site_name_short || @site.name, year: @year
  - else
    =t :year_on_site, site: @site.name, year: @year
- content_for :extrajs do
  :javascript
    YEAR_DATA = #{ @year_statistic.try(:data).to_json };
    YEAR = #{ @year };
    DISPLAY_USER = #{ @display_user ? 
      @display_user.as_indexed_json.merge( icon_url: @display_user.medium_user_icon_url ).to_json
      :
      "null"
    };
    SITE = #{ @site.as_json( only: [:id, :name, :site_name_short] ).merge( icon_url: FakeView.asset_url( @site.logo_square.url ) ).to_json };
  = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js"
  = javascript_include_tag "torque.full.uncompressed"
  = javascript_include_tag "stats-year-webpack"
- content_for :extracss do
  = stylesheet_link_tag "stats/year"
  = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css"
#app
