- content_for( :extrajs ) do
  :javascript
    window.taxon = #{ json_escape @taxon.to_json( methods: [:html] ).html_safe }
    window.user = #{ json_escape @user.to_json( methods: [:html] ).html_safe }
    window.defaultTaxa = #{ json_escape @default_taxa.to_json( methods: [:html] ).html_safe }
    window.defaultUsers = #{ json_escape @default_users.to_json( methods: [:html] ).html_safe }
    $( document ).ready( function() {      
      $( "#filters_taxon_name" ).taxonAutocomplete( {
        idEl: $( "#filters_taxon_id" ),
        initialSelection: #{ raw @taxon.to_json },
        thumbnail: false,
        bootstrapClear: true
      } );      
    } )
- content_for( :extracss ) do
  :css
    .padding_right {
        padding-right: 25px;
    }
    .padding {
        padding: 5px;
    }
    #flagged { 
        color: darkred;
        padding: 5px;
    }
.container
  .row
    .col-xs-12
      %ul.list-unstyled
        %li
          = link_to t( :back_to_taxon_framework_for_x, taxon_name: @taxon_framework.taxon.name ), taxonomy_details_for_taxon_path( @taxon_framework.taxon ), :class => "back crumb"
      %h3
        = t :taxa_with_unknown_relationships
    .col-xs-3
      = form_for :filters, builder: DefaultFormBuilder, html: { method: :get } do |f|
        = f.text_field :taxon_name, placeholder: t(:type_taxon_name), label: t(:taxon_including_descendants)
        = f.hidden_field :taxon_id, value: @taxon ? @taxon.id : nil
        = f.select :rank, Taxon::RANKS, include_blank: t( :any ), selected: @rank, label: t( :rank )
        = f.submit t( :filter ), class: "default button", "data-loading-click": t( :filtering )
        = link_to t( :clear_filters ), relationship_unknown_path( @taxon_framework ), class: "minor button"
    .col-xs-9
      - if @relationship_unknown.empty?
        %p.description= t :no_taxa_with_unknown_relationships
      - for taxon in @relationship_unknown
        .panel
          .pull-right
            = link_to t( :new_taxon_change ), new_taxon_change_path( input_taxon_ids: [taxon.id] )
          .pull-right.padding_right
            = link_to t( :add_relationship ), new_taxon_framework_relationship_path( { taxon_id: taxon.id, taxon_framework_id: @taxon_framework.id } )
          .panel-body
            = image_and_content taxon_image(taxon), :image_size => 75 do
              = link_to taxonomy_details_for_taxon_path( taxon ), :class => "taxon #{taxon.rank}" do
                %span.sciname= taxon.name
              .stacked
                = link_to taxon.observations_count, observations_path( taxon_id: taxon.id, verifiable: "any", place_id: "any" ), :rel => "nofollow"
                = t :obs
                - if taxon.is_active?
                  |
                  %span.active= t(:active_taxon_status)
                - else
                  |
                  %span.inactive= t(:inactive_taxon_status)
                - if taxon.flagged?
                  |
                  = link_to t( :flagged_for_curation ), taxon_flags_path( taxon ), id: "flagged", class: "bg-danger"
                - else
                  - if logged_in?
                    | #{ link_to t( :flag_for_curation ), new_taxon_flag_path( taxon ), id: "flag_this", :title => t( :see_something_wrong_with_taxon ) }
      = will_paginate @relationship_unknown
