<%= form_for(@project_asset, :builder => DefaultFormBuilder, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :project_id %>
  <% if f.object.asset.file? -%>
    <%= f.form_field :asset do %>
      <%= link_to f.object.asset.url, f.object.asset.url %>
      <%= link_to_function t(:replace_parentesis), 
        "$(this).parents('.field').after('#{f.file_field(:asset)}'); " + 
        "$(this).parents('.field').hide()", :class => "small" %>
    <% end %>
  <% else %>
    <%= f.file_field :asset %>
  <% end -%>
  <div class="description stacked">
    <%=t :must_be_less_than_x_MB, :x => 5 %>
  </div>
  <%= f.submit @project_asset.new_record? ? t(:create) : t(:update), :class => "default button" %>
  <%= link_to t(:cancel), :back, :class => "button" %>
  <% unless @project_asset.new_record? -%>
    <%= link_to t(:delete), @project_asset, :method => :delete, 
      :data => {:confirm => t(:are_you_sure_delete_asset)}, 
      :class => "minor delete button" %>
  <% end -%>
<% end %>
