<h1><%= t(:listing_project_assets) %></h1>
<table>
  <tr>
    <th><%= t(:project) %></th>
  </tr>

<% @project_assets.each do |project_asset| %>
  <tr>
    <td><%=h project_asset.project_id %></td>
    <td><%= link_to t(:show), project_asset %></td>
    <td><%= link_to t(:edit), edit_project_asset_path(project_asset) %></td>
    <td><%= link_to t(:destroy), project_asset, :data => {:confirm => t(:are_you_sure)}, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_project_asset), new_project_asset_path %>
