<%- flickr_photo ||= @flickr_photo -%>
<%- size ||= 'medium' -%>
<%- size_method ||= "#{size}_url" -%>
<div id="modal_flickr_photo_<%= flickr_photo.id %>" class="modal_flickr_photo">
  <span class="close corner">&times;</span>
  <div class="tabs">
    <ul>
      <% for photo_size in %w"small medium large original" %>
        <%- next if flickr_photo.send("#{photo_size}_url").blank? %>
        <li class="<%= photo_size %>_link <%= 'selected' if photo_size == size %>">
          <%= link_to_function photo_size, 
            "$('#flickr_photo_wrapper_#{flickr_photo.id} img').hide(); $('#flickr_photo_#{flickr_photo.id}_#{photo_size}').css('display', 'block').attr('src', '#{flickr_photo.send("#{photo_size}_url")}'); $(this).parents('li').addClass('selected').siblings('li').removeClass('selected')" %>
        </li>
      <% end %>
      <li class="flickr_page_url">
        <%- photographer_name = (flickr_photo.flickr_realname || flickr_photo.flickr_username) -%>
        <%= link_to "View original #{'by '+photographer_name if !photographer_name.blank?} on Flickr", 
          flickr_photo.flickr_page_url %>
      </li>
    </ul>
  </div>
  
  <div id="flickr_photo_wrapper_<%= flickr_photo.id %>" class="clear flickr_photo_wrapper">
    <% for photo_size in %w"small medium large original" %>
      <%- next if flickr_photo.send("#{photo_size}_url").blank? %>
      <% if photo_size == size -%>
        <%= image_tag(flickr_photo.send(size_method), 
          :id => "flickr_photo_#{flickr_photo.id}_#{photo_size}", 
          :class => size) %>
      <%- else -%>
        <%= image_tag('spinner.gif', 
          :id => "flickr_photo_#{flickr_photo.id}_#{photo_size}", 
          :class => size, 
          :style => 'display: none') %>
      <%- end -%>
    <% end %>
  </div>
  <div class="attribution description">
    <%= flickr_photo.attribution %>
  </div>
</div>