= form_with( model: redirect_link, builder: BootstrapFormBuilder ) do |form|
  - if redirect_link.errors.any?
    #error_explanation
      %h2= pluralize(redirect_link.errors.count, "error") + " prohibited this redirect link from being saved:"
      %ul
        - redirect_link.errors.each do |error|
          %li= error.full_message
  = form.text_field :title, required: true
  = form.text_area :description
  = form.text_field :app_store_url, required: true
  = form.text_field :play_store_url, required: true
  = form.submit t( :save ), class: "btn btn-primary"
  - if redirect_link.persisted?
    = link_to t( :delete ), @redirect_link, method: :delete, data: { confirm: t( :are_you_sure? ) }, class: "btn btn-danger pull-right"
