<%-
  taxon ||= identotron || @taxon
  listed_taxon ||=  @listed_taxon
  if listed_taxon
    list ||= @list || listed_taxon.list
    place ||= listed_taxon.place
  end
  map_tag_attrs = setup_map_tag_attrs({
    taxon_layers: [ { taxon: taxon, ranges: true, observations: true, gbif: { disabled: true } } ],
    place_layers: [ { place: place } ],
    focus: :place,
    control_position: 'RIGHT_BOTTOM'
  })
  obs_url = observations_path(:place_id => listed_taxon.try(:place_id), :taxon_id => taxon.id)
  photos = taxon.taxon_photos.sort_by{|tp| tp.position || tp.id}.map{|tp| tp.photo}.compact
  dialog_url = listed_taxon_url(listed_taxon) if listed_taxon
-%>
<div class="clear listed_taxon stacked" href="<%= dialog_url %>" data-taxon-id="<%= taxon.id %>">
  <div class="column span-15 headercol">
    <h3>
      <%= render :partial => "shared/taxon", :object => taxon, :locals => {:link_url => url_for(taxon)} %>
    </h3>
    <% unless taxon.is_active? -%>
      <div class="notice box">
        <%= t(:this_taxon_is_inactive_this_means, :site_name => CONFIG.site_name).html_safe %>
        <%= link_to t(:view_taxon_changes), taxon_changes_path(:taxon_id => taxon), :class => "readmore" %>
      </div>
    <% end -%>
  </div>
  <div class="photos column span-9">
    <% if photos.blank? -%>
      <%= render :partial => 'taxa/nophoto', :object => taxon %>
    <% else %>
      <div class="stacked">
        <%= link_to image_tag(photos[0].try_methods(:medium_url, :large_url, :small_url)), photos[0].becomes(Photo), 
          :class => "zoomable",
          :title => t(:photo_by_id_attribution, :id => photos[0].id, :attribution => photos[0].attribution) %>
        <div class="meta">
          <%= t :photo %>: <%= link_to photos.first.attribution, native_url_for_photo(photos.first) %>
        </div>
      </div>
      <% for photo in photos[1..4] %>
        <%= link_to image_tag(photo.square_url), photo.becomes(Photo), :class => "zoomable", :title => t(:photo_by_id_attribution, 
        :id => photo.id, :attribution => photo.attribution) %>
      <% end %>
    <% end -%>
  </div>
  
  <%= content_tag :div, '', map_tag_attrs.merge(:class => "last column span-6 map") %>
</div>
