<%-
  place = update_new_observations || resource
  updates ||= []
  observations = if @update_cache && @update_cache[:observations]
    updates.map{|u| @update_cache[:observations][u.notifier_id]}
  else
    updates.map{|u| u.notifier}
  end.compact
-%>

<div class="updatecontent">
  <div class="observationcontrols stacked"></div>
  
  <div class="observations <%= observations.size > 1 ? 'medium grid' : 'mini' %> stacked">
    <%- compact do %>
      <%= render :partial => "observations/cached_component", :collection => observations %>
    <% end -%>
  </div>
  
  <div class="meta">
    <%= link_to t(:view_more_observations), observations_url(:place_id => place.id) %>
    <%= t(:from).downcase %>
    <%= link_to place.display_name, place %>
  </div>
</div>