<%- content_for(:title) do -%>
  Editing <%=h @place.name %>
<%- end -%>

<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #drawingMap {
      width: 400px;
      height: 400px;
    }
    
    .edit_place input.text,
    .edit_place textarea {
      width: 415px;
    }
    .latitude_field input.text, .longitude_field input.text { width: 175px;}
    
    input.ac_loading {
      background: white url('/images/spinner-small.gif') 420px 5px no-repeat;
    }
  </style>
<%- end -%>

<%- content_for(:extrajs) do -%>
  <%= render :partial => 'form_js' %>
  
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      <% if @place.swlat %>
        var bounds = new GLatLngBounds(
          new GLatLng(<%= @place.swlat %>, <%= @place.swlng %>),
          new GLatLng(<%= @place.nelat %>, <%= @place.nelng %>)
        );
        drawingMap.setZoom(drawingMap.getBoundsZoomLevel(bounds));
        drawingMap.setCenter(bounds.getCenter());
      <% else %>
        drawingMap.setCenter(new GLatLng(<%= @place.latitude %>, <%= @place.longitude %>));
      <% end %>
      
      $('#place_parent_id').chooser({
        collectionUrl: 'http://'+window.location.host + '/places/autocomplete.json',
        resourceUrl: 'http://'+window.location.host + '/places/{{id}}.json?partial=autocomplete_item',
        chosen: eval('(' + $('place_parent_id').attr('data-json') + ')')
      })
    })
  </script>
<%- end -%>

<div id="pageheader">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo; Back to #{@place.name}".html_safe, @place, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  <h2>Editing <%=h @place.name %></h2>
</div>

<div class="column span-11 append-1">
  <%= form_for @place, :builder => DefaultFormBuilder do |f| %>
    <%= error_messages_for :place %>
    <%= f.text_field :name, :required => true, :class => 'text' %>
    <%= f.text_field :display_name, :class => 'text' %>
    <%= f.text_field :code, :class => 'text', :description => "Short code for this place, e.g. US for the United States" %>
    <%= f.select :place_type, Place::PLACE_TYPE_CODES.sort, :include_blank => "Unknown", :class => 'select' %>
    <%= f.check_box :prefers_check_lists, :label_after => true, :label => "Check lists allowed?" %>
    
    <div class="last column span-11">
      <div class="column span-5 append-1">
        <%= f.text_field :latitude, :required => true, :class => 'text' %>
      </div>
      <div class="last column span-5">
        <%= f.text_field :longitude, :required => true, :class => 'text' %>
      </div>
    </div>
    
    <%= f.text_field :woeid %>
    <%= f.text_field :parent_id, :placeholder => "Type place name", "data-chooser-chosen" => @place.parent.to_json %>
    
    <div class="field">
      <%= link_to_function "Show KML", "$('#kmlfield').show(); $('#kmlfieldlink').hide();", :id => "kmlfieldlink" %>
      <div id="kmlfield" style="display: none">
        <label for="place_geometry">KML <%= link_to_function "(hide)", "$('#kmlfield').hide(); $('#kmlfieldlink').show();" %></label>
        <textarea id="place_geometry" name="kml" rows="8" cols="40"></textarea>
      </div>
    </div>
    
    <div class="clear buttonrow">
      <%= f.submit 'Save', :class => 'default button', "data-loading-click" => "Saving..." %>
      <%= link_to "Cancel", @place, :class => 'button' %>
      <%= link_to "Delete", @place, :method => :delete, 
        :confirm => "Are you sure you want to delete this place?", 
        :class => 'minor delete button' %>
    </div>
  <% end %>
</div>

<div class="last column span-12">
  <div id="drawingMap"></div>
</div>

<div class="column span-24">
  <div class="small description">
    Is this place a duplicate?  
    <%= link_to "Merge it with another place", {:action => 'merge', :id => @place}, :class => 'readmore' %>
  </div>
</div>
