<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "taxa" %>
  <style type="text/css" media="screen">
    .graph {
      height: 20px; 
      margin-bottom: 20px;
    }
    .bar {
      display: inline-block;
      background-color: #7E9739;
      margin-right: 1px;
      width: 19px;
      font-size: smaller;
      vertical-align: bottom;
      text-align: center;
      position: relative;
    }
    .bar .count {
      width: 100%;
      display: block;
      text-align: center;
      font-family: Helvetica;
      font-weight: bold;
      margin-top: 5px;
      position: absolute;
      top: -16px;
      -webkit-transform: rotate(-45deg);
      font-size: smaller;
    }
    .month {
      position: absolute;
      bottom: -15px;
      width: 100%;
      display: block;
      text-align: center;
    }
    .taxonimage {
      min-height: 206px;
    }
    .taxa.big.grid .taxon img { max-height: 206px;}
    .taxa.grid .taxon .image, 
    .taxa.grid .taxon .image a {
      text-align: left;
    }
    .taxa.grid .taxon .image.nophoto, 
    .taxa.grid .taxon .image.nophoto a {
      text-align: center;
    }
    .taxa.grid .taxon .image .iconic { margin: 80px; }
    
    .taxon .name { display: block; font-family: Georgia, serif; font-size: 140%;}
    .taxon .othernames { display: block;}
  </style>
<%- end -%>
<div id="pageheader">
  <div class="right">
    <%= will_paginate @taxa %>
  </div>
  <h2>
    Guide to
    <%= @place ? link_to(@place.name, @place) : link_to(@coords.inspect, observations_path(:swlat => params[:swlat], :swlng => params[:swlng], :nelat => params[:nelat], :nelng => params[:nelng])) %>
  </h2>
</div>

<div id="taxa" class="clear taxa <%= @view %>">
  <% for taxon in @taxa %>
    <%= render :partial => "taxa/taxon", :object => taxon, :locals => {
      :include_full_name => true,
      :image_options => {:size => 'medium'},
      :link_name => true,
      :link_image => true,
      :extra_class => cycle('first', '', 'last'),
    } %>
  <% end %>
</div>
<%= will_paginate @taxa %>
