<%- content_for(:title) do -%>
  <%=t :places %>
<%- end -%>

<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #map { width: 100%; height: 600px; }
    #mapcol h3 { margin-bottom: 0; position: relative; }
    #places { position: absolute; top: 475px; text-align:center; left: 50%; margin-left: -425px; width: 850px; padding: 10px; }
    #places .place { background-color: white; text-align: left; vertical-align: top; box-shadow: #888 0px 0px 5px; background-color: white; margin: 5px; opacity: 0.8; }
    #places .place:hover { opacity: 1; }
    #places .placeinfo { padding: 5px 10px 10px 10px; }
    #searchform { margin-top: 8px; }
  </style>
<%- end -%>

<%- content_for(:extrahead) do -%>
  <meta property="og:title" content="<%= t(:inaturalist_places, :site_name => SITE_NAME) %>"/> 
  <meta property="og:image" content="<%= @shareable_image_url = image_url('place_preview.jpg') %>"/> 
  <meta property="twitter:image" content="<%= @shareable_image_url %>"/> 
  <% if CONFIG.facebook && !CONFIG.facebook.admin_ids.blank? -%>
    <meta property="fb:admins" content="<%= CONFIG.facebook.admin_ids.join(',') %>"/>
  <% end -%>
  <meta property="og:description" name="description" content="<%= t(:the_world_is_full_of_interesting_places, :site_name => SITE_NAME) %>"/> 
<%- end -%>

<%- content_for(:extrajs) do -%>
  <%= google_maps_js %>
  <%= javascript_include_tag 'map_bundle' %>

  <script type="text/javascript" charset="utf-8">
    var places = <%=json_escape @places.to_json.html_safe %>,
        BOUNDS = <%= CONFIG.bounds ? raw(CONFIG.bounds.to_h.to_json) : "false" %>
    $(document).ready(function() {
      window.map = iNaturalist.Map.createMap({
        lat: 0, 
        lng: 0, 
        zoom: 2,
        minZoom: 2,
        mapTypeId: eval(I18n.t('maptype_for_places')),
        bounds: BOUNDS
      })
      for (var i=0; i < places.length; i++) {
        var place = places[i],
            icon = iNaturalist.Map.createPlaceIcon({color: 'DodgerBlue', character: i+1}),
            marker = map.createMarker(place.latitude, place.longitude, {icon: icon})
        marker._url = '/places/'+place.id
        google.maps.event.addListener(marker, 'click', function() {
          window.location = this._url
        })
        marker.setMap(map)
      }
    })
  </script>
<%- end -%>

<div id="pageheader" class="column span-24">
  <div id="searchform" class="clear right buttonrow smallbuttons">
    <%= render :partial => 'places/search_form', :locals => {:q => ''} %>
  </div>
  <h2>
    <%=t :places %>&nbsp;
        <span class="small description">
      <%= t(:find_new_place_to_explore) %>
    </span>
  </h2>
</div>

<div id="mapcol" class="stacked column span-24">
  <div id="map"></div>
  <div id="places">
    <% @places.each_with_index do |place, i| %>
      <div class="place inlineblock span-4">
        <%= link_to(
          google_static_map_for_place(
            place, 
            {
              :zoom => map_zoom_for_place(place, 150, 93),
              :size => '150x93', 
              :maptype => 'satellite', 
              :markers => "color:blue|label:#{i+1}|#{place.latitude},#{place.longitude}"}, 
            :class => 'map'
          ), place) %>
        <div class="placeinfo">
          <h3>
            <%= link_to h(truncate(place.name, :length => 30)), place %>
          </h3>
          <div class="small description">
            <%= t("place_geo.geo_planet_place_types.#{place.place_type_name.gsub(' ','_')}", :default => t(:unknown)) if(place.place_type_name) %>
            <% if place.parent -%>
              <%= t :in %> <%= link_to place.parent.display_name, place.parent %>
            <% end -%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<div id="aboutcol" class="column span-24">
  <div class="column span-16">
    <h3> <%= t(:about_places) %> </h3>
    <p>
      <%= t(:the_world_is_full_of_interesting_places_short) %>
    </p>

    <p>
      <%= t(:inaturalist_places_are_way_record_what_lives_where, :site_name => SITE_NAME) %>
    </p>
    
    <div class="column span-5">
      <%= image_tag "place_preview.jpg" %>
    </div>
    <div class="last column span-11">
      <h3> <%= t(:species_from_around_the_world) %> </h3>
      <p>
      	<%= t(:each_place_displays_all_species_inat_knows, :site_name => SITE_NAME) %>
      </p>
    </div>
    
    <div class="column span-11">
      <h3> <%= t(:localized_species_accounts) %> </h3>
      <p>
      	<%= t(:view_photos_ranges_observations_more, :site_name => SITE_NAME_SHORT) %>
      </p>
    </div>
    <div class="last column span-5">
      <%= image_tag "listed_taxon_preview.jpg" %>
    </div>
    
    <div class="column span-5">
      <%= image_tag "place_map_preview.jpg" %>
    </div>
    <div class="last column span-11">
      <h3> <%= t(:click_the_map_to_jump_new_place) %> </h3>
      <p>
      	<%= t(:blue_icons_represent_political_units) %>
      </p>
    </div>
  </div>
  <div class="last column span-8">
    <div class="clear box">
      <p>
        <%=t 'views.places.index.you_can_help_out_by' %>
      </p>
      <ul class="readable leafylist">
        <li><%= link_to t('views.places.index.adding_new_places'), new_place_path, :rel => "nofollow" %></li>
        <li><%= t 'views.places.index.confirming_identifications' %> </li>
        <li><%= t('views.places.index.filling_out_checklists') %></li>
      </ul>
      <div style="margin: 20px 0; text-align: center;">
        <%= link_to t(:add_new_place), new_place_path, :class => 'inline button readmore right', :rel => "nofollow" %>
      </div>
    </div>
  </div>
</div>
