<%- content_for(:title) do -%>
  <%= t :merging %> <%= t("places_name.#{@place.name.gsub(' ','_').downcase}", :default => @place.name) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "jquery/plugins/jquery.autocomplete.css" %>
  <style type="text/css" media="screen">
    td.target,td.merge_target{width:40%;}
    td.attr_name{font-weight:bold;}
    #merge_target_id{width:350px;}
    thead th{vertical-align:middle;}
    tr.fake td{padding-top:0;padding-bottom:0;border:0 none;}
    .map{width:370px;height:370px;}
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= google_maps_js %>
  <%= javascript_include_tag 'map_bundle' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#merge_target_id').chooser({
        collectionUrl: '/places/autocomplete.json',
        resourceUrl: '/places/{{id}}.json?partial=autocomplete_item',
        chosen: eval('(' + $('place_parent_id').attr('data-json') + ')'),
        afterSelect: function(item) {
          $.each(item, function(i, val) {
            $('#keepers .merge_target.' + i).html(val)
          })
          if (window.mergeTargetMap._lastPlace) {
            window.mergeTargetMap.removePlace(window.mergeTargetMap._lastPlace)
          }
          window.mergeTargetMap.overlayMapTypes.clear()
          window.mergeTargetMap.addPlace(item)
          window.mergeTargetMap.addPlaceLayer({place: item})
          window.mergeTargetMap.zoomToPlaces()
          window.mergeTargetMap._lastPlace = item
        },
        afterClear: function() {
          $('#keepers .merge_target').html('')
          if (window.mergeTargetMap._lastPlace) {
            window.mergeTargetMap.removePlace(window.mergeTargetMap._lastPlace)
          }
          window.mergeTargetMap.overlayMapTypes.clear()
        }
      })
      
      window.placeMap = iNaturalist.Map.createMap({
        div: 'place_map', controls: 'small'});
      window.placeMap.addPlace(<%=json_escape @place.to_json.html_safe %>);
      window.placeMap.addPlaceLayer({place: <%=json_escape @place.to_json.html_safe %>});
      window.placeMap.zoomToPlaces();
      
      window.mergeTargetMap = iNaturalist.Map.createMap({div: 'merge_target_map', controls: 'small'});
      <% if @merge_target %>
        window.mergeTargetMap.addPlace(<%=json_escape @merge_target.to_json.html_safe %>);
        window.placeMap.addPlaceLayer({place: <%=json_escape @merge_target.to_json.html_safe %>});
        window.mergeTargetMap.zoomToPlaces();
      <% end %>
    });
  </script>
<%- end -%>

<div id="pageheader">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo; #{t(:back_to)} #{t("places_name.#{@place.name.gsub(' ','_').downcase}", :default => @place.name)}".html_safe, @place, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  <h2><%= t(:merging_places) %></h2>
  <p class="description">
    <%= t(:merge_two_places_together) %>
  </p>
</div>

<%= form_tag do %>
<table width="100%">
  <thead>
    <tr class="fake">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><label for="merge_target_name"><%= t(:find_a_place) %></label></td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th><%= link_to t("places_name.#{@place.name.gsub(' ','_').downcase}", :default => @place.name), @place %></th>
      <th><%= t(:what_to_keep) %></th>
      <th>
        <input type="text" name="with" value="<%= @merge_target.id if @merge_target %>" id="merge_target_id" placeholder="<%= t(:type_place_name) %>" data-json="<%=json_escape @merge_target.to_json(:methods => [:place_type_name]).html_safe %>">
      </th>
    </tr>
  </thead>
  <tbody id="maps">
    <tr>
      <td>&nbsp;</td>
      <td><div id="place_map" class="map"></div></td>
      <td>&nbsp;</td>
      <td><div id="merge_target_map" class="map"></div></td>
    </tr>
  </tbody>
  <tbody id="keepers">
    <% for attr_name in %w"name place_type_name" %>
      <tr>
        <td class="attr_name"><%= t(attr_name, :default => attr_name) %></td>
        <td class="target <%= attr_name %>">

          <%- if attr_name.eql?('place_type_name') %>
            <%- place_type_name = @place.send(attr_name) || t(:unknown) -%>
            <%= t("place_geo.geo_planet_place_types.#{place_type_name.gsub(' ','_')}", :default => @place.send(attr_name)) %>
          <% else %>
              <%= t("places_name.#{@place.send(attr_name).gsub(' ','_').downcase}", :default => @place.send(attr_name)) %>
          <% end -%>
        </td>
        <td>
          <label for="<%= "keep_#{attr_name}_left" %>">&larr;</label>
          <%= radio_button_tag "keep_#{attr_name}", 'left', false %>
          <%= radio_button_tag "keep_#{attr_name}", 'right', true %>
          <label for="<%= "keep_#{attr_name}_right" %>">&rarr;</label>
        </td>
        <td class="merge_target <%= attr_name %>"><%= @merge_target.send(attr_name) if @merge_target %>&nbsp;</td>
      </tr>
    <% end %>
    <tr>
      <td class="attr_name"><%=t :boundary %></td>
      <td class="target boundary">
        <% if @place.place_geometry_without_geom.nil? -%>
          <div class="centered meta">No boundary to merge</div>
        <% else %>
          <div class="centered meta">This boundary will be kept if the new place has no boundary, otherwise it will be deleted</div>
        <% end -%>
      </td>
      <td></td>
      <td class="merge_target boundary">
      </td>
    </tr>
  </tbody>
</table>

<div class="buttonrow">
  <%= submit_tag t(:merge), :class => 'default button', :data => {:confirm => t(:are_you_sure_merge_these_places)} %>
  <%= link_to t(:cancel), @place, :class => 'button' %>
</div>
<% end %>
