<%- content_for(:title) do -%>
<%= t :create_a_new_place -%>

<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #places {
      min-height: 100px;
      max-height: 380px;
      overflow: auto;
    }
    #drawingMap {
      width: 590px;
      height: 475px;
    }
    
    .external_place_link {
      padding: 0.25em 0; 
      border-bottom: 1px solid #eee;
    }
    
    .external_place_link .button {
      background-color: #dedede;
      color: white;
      text-align: center;
      padding: 5px;
      float: right;
      margin-left: 10px;
    }
    
    .external_place_link .button:hover {
      background-color: #aaa;
      border-color: #aaa;
      color: white;
    }
    
    .external_place_link .description {
      display: block;
    }
    
    .external_place_link .namelink {
      font-weight: bold;
    }
    
    #new_place input.text {
      width: 100%;
    }
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <script type="text/javascript" charset="utf-8">
    var PLACE_INVALID = <%= @place && !@place.errors.blank? ? 'true' : 'false' %>,
        CURRENT_USER_IS_CURATOR = <%= logged_in? && current_user.is_curator? ? 'true' : 'false' %>
    $(document).ready(function() {

      $('#place_parent_id').chooser({
        collectionUrl: '/places/autocomplete.json?restrict_to_site_place=false',
        resourceUrl: '/places/{{id}}.json?partial=autocomplete_item',
        chosen: eval('(' + $('place_parent_id').attr('data-json') + ')')
      })

      $('.kml_field :input').bind('change', function() {
        var limit = CURRENT_USER_IS_CURATOR ? 1048576*5 : 1048576
        if (this.files[0].size > limit) {
          alert(I18n.t('kml_file_size_error'))
          $(this).val(null)
        }
      })
      $('#place_selector form')
        .on('ajax:before', function() {
          $('.loading', this).show()
        })
        .on('ajax:complete', function() {
          $('.loading', this).hide()
        })
        .on('ajax:success', function(event, json, status) {
          $(this).siblings('.place_selector_places').html(json.map(function(place) { 
            return '<li class="clear">' + place.html + '</li>'
          }).join(' '))
        })
    })
  </script>
<%- end -%>
<div id="pageheader">
  <div class="breadcrumbs">
    <%= link_to t(:back_to_places), places_path, :class => 'back crumb' %>
  </div><!-- /#breadcrumbs -->
  <h2><%= t(:create_a_new_place) %></h2>
</div>

<% if @user_quota_reached %>
  <div class="notice box">
    <%= t(:place_create_quota_exceeded, quota: PlacesController::QUOTA) %>
  </div>
<% else %>
  <div class="column span-24">
    <div class="notice box">
      <h3><%=t :warning_title %></h3>
      <p class="ui"><%=t :places_warning_new_places_are_slow_html %></p>
      <ul>
        <li>
          <p class="ui"><%=t :places_warning_look_for_existing2_html %></p>
        </li>
        <li>
          <p class="ui"><%=t :places_warning_projects_can_have_multiple_places %></p>
        </li>
        <li>
          <p class="ui"><%=t :places_warning_export_complex_boundary_html %></p>
        </li>
      </ul>
      <p class="ui">
        <%=t :places_warning_please_keep_in_mind %>
      </p>
      <ul>
        <li>
          <p class="ui"><%=t :places_warning_quota %></p>
        </li>
      </ul>
      <p class="ui"><%=t :places_warning_the_future %></p>
    </div>
  </div>
  <div class="last column span-24">
    <%= form_for @place, :builder => DefaultFormBuilder, :html => {:multipart => true} do |f| %>
      <%= f.text_field :name, :class => 'text', :required => true %>
      <%= f.text_field :parent_id, :placeholder => t(:type_place_name), :style => "width: 300px", label: t(:parent) %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
      <%= f.form_field :kml, :label => t(:kml), required: true, :description => t('views.places.kml_field_desc3') do %>
        <%= file_field_tag :file, :accept => "application/vnd.google-earth.kml+xml" %>
      <% end -%>
      <%= f.select :place_type, Place::PLACE_TYPE_CODES.map{|type, code| [t("place_geo.geo_planet_place_types.#{type.gsub(" ", "_")}"), code]}.sort,
                   :include_blank => t(:unknown), :class => 'select' %>
      <%= f.check_box :prefers_check_lists, :checked => false, :label_after => true, :description => t('views.places.new.check_list_note') %>
      <input type="hidden" id="place_geometry" name="geojson"/>
      <%= f.submit t(:save_place), :class => 'default button' %>
    <% end %>
  </div>
<% end %>
