<%- content_for(:title) do -%>
  <%= t(:find_places) %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    #tools {
      float: right;
    }
    
    #searchform {
      
    }
    #searchform form {
      float: left;
    }
  </style>
<%- end -%>
<div id="pageheader">
  <% if logged_in? && current_user.privileged_with?( UserPrivilege::ORGANIZER ) -%>
    <div id="tools" class="description">
      <%= t(:not_findig_what_you_want) %>
      <%= link_to t(:add_new_place), new_place_path, :class => 'readmore', :rel => "nofollow" %>
    </div>
  <% end -%>
  <div class="breadcrumbs">
    <strong><%= link_to t(:places), places_path, :class => 'crumb' %></strong>
    <span class="description">&gt;</span>
  </div><!-- /#breadcrumbs -->
  <h2><%= t(:find_places) %></h2>
</div>

<div id="searchform" class="clear buttonrow">
  <%= render :partial => 'places/search_form' %>
</div>

<% if @places.blank? -%>
  <div id="nodata" class=" readable description">
    <%= t(:no_matching_places) %>
  </div>
<% else %>
  <ul>
    <% for place in @places %>
      <li>
        <%= link_to place.translated_name( I18n.locale, default: place.display_name ), place %>
        <span class="small description">
          <%= t("place_geo.geo_planet_place_types.#{place.place_type_name.gsub(' ','_')}", :default => t(:unknown)) if(place.place_type_name) %>
        </span>
      </li>
    <% end %>
  </ul>
  
  <%= will_paginate @places, :renderer => INatLinkRenderer %>
<% end -%>
