<%- content_for(:title) do -%>
  <%= t @place.display_name, :default => @place.display_name %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "taxa", "taxa/guide", "barchart", "places/show", "guide" %>
  <!--[if lte IE 7]>
    <%= stylesheet_link_tag 'observations-ie' %>
    <style type="text/css" media="screen">
      #pageheader { z-index: 100; }
      .listed_taxon .monthstats { display: none; }
      #controls button, #controls .button {padding: 2px 5px; margin:0;}
      #controls button span { line-height: 1.3;}
    </style>
  <![endif]-->
<%- end -%>

<%- content_for(:extrahead) do -%>
  <meta property="og:title" content="<%= @place.display_name %>"/> 
  <% if CONFIG.facebook && !CONFIG.facebook.admin_ids.blank? -%>
    <meta property="fb:admins" content="<%= CONFIG.facebook.admin_ids.join(',') %>"/>
  <% end -%>
  <meta property="og:description" name="description" content='<%= t(:learn_about_the_species_live_in) + "#{@place.display_name}" %>!'/> 
  <meta property="og:image" content="<%= uri_join(root_url, path_to_image(CONFIG.logo_icon_square_big)) %>"/> 
<%- end -%>

<%- content_for(:extrajs) do -%>
  <%= google_maps_js %>
  <script type="text/javascript" charset="utf-8">
    var PLACE = <%= @place.to_json.html_safe %>,
        PLACE_GEOMETRY_KML_URL = <%=raw place_geometry_kml_url.inspect %>,
        WIKIPEDIA_DESCRIPTION_URL = <%= url_for(:action => "wikipedia", :id => @place.wikipedia_name).inspect.html_safe %>,
        FLICKR_API_KEY = <%= FLICKR_API_KEY.inspect.html_safe %>,
        NEARBY_PLACES = <%= @nearby_places.to_json.html_safe %>,
        INSIDE_PLACES = <%= @inside_places.to_json.html_safe %>,
        TILESTACHE_SERVER = <%= CONFIG.tile_servers.tilestache.inspect.html_safe %>
  </script>
  <%= javascript_include_tag 'inaturalist/map3', "jquery/plugins/inat/taxonmap", 
    "jquery/plugins/jquery.ba-bbq.min", "jquery/plugins/jquery.infinitescroll.min", 
    "taxon_guide", "places/show", 'jquery/plugins/waypoints.min' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var script = document.createElement("script")
      script.setAttribute("type", "text/javascript")
      if (true || $.browser.msie) {
        script.setAttribute("src", "/javascripts/places/show.gmaps.js")
      } else {
        script.setAttribute("src", "/javascripts/places/show.polymaps.js")
      }
      document.body.appendChild(script);
    })
  </script>
<%- end -%>

<div id="pageheader">
  <div id="searchform" class="clear right buttonrow smallbuttons">
    <%= render :partial => 'places/search_form', :locals => {:q => ''} %>
  </div>
  <div class="breadcrumbs">
    <strong><%= link_to t(:places), places_path, :class => 'crumb' %></strong>
    <span class="description">&gt;</span>
    <% @place.ancestors.each do |ancestor| %>
      <%- link_txt = capture do -%>
        <%= t("places_name.#{ancestor.name.gsub(' ','_').downcase}", :default => ancestor.name) %>
        <span class="small description">
          (<%= t("place_geo.geo_planet_place_types.#{ancestor.place_type_name.gsub(' ','_')}", :default => t(:unknown)) if ancestor.place_type_name %>)
        </span>
      <%- end -%>
      <%= link_to link_txt, ancestor, :class => 'crumb' %>
      <span class="description">&gt;</span>
    <% end %>
  </div><!-- /#breadcrumbs -->
  <div id="map" class="<%= 'nochecklist' unless @place.check_list %>"></div>
  <h2>
    <%= link_to t("places_name.#{@place.display_name.gsub(' ','_').downcase}", :default => @place.display_name), @place %>
    <span class="small description">
      <%= t("place_geo.geo_planet_place_types.#{@place.place_type_name.gsub(' ','_')}", :default => t(:unknown)) if @place.place_type_name %>
    </span>
  </h2>
  <div id="placephotos"></div>
</div>

<div id="maintabs">
  <div id="metalinks" class="meta right">
    <%-
      pieces = []
      pieces << link_to(t(:embed_place_widget), place_widget_path(@place.id), :rel => "nofollow") if @place.check_list
      pieces << link_to(t(:edit_place), edit_place_path(@place), :rel => "nofollow") if @place.editable_by?(current_user)
    -%>
    <%=raw pieces.join(' | ') %>
  </div>
  <ul>
    <li><a href="#guidetab"><span><%=t :species_guide %></span></a></li>
    <li><a href="#observationstab"><span><%= t(:observations).capitalize %></span></a></li>
    <% unless @projects.blank? %>
      <li><a href="#projectstab"><span><%= t(:projects).capitalize %></span></a></li>
    <% end -%>
    <li><a href="#abouttab"><span><%=t :about_x, :x => t(@place.name, :default => @place.name) %></span></a></li>
  </ul>
  
  <div id="guidetab">
    <% if @place.check_list -%>
      <%- extra = capture do -%>
        <p class="ui">
          <%= link_to t(:view_check_list_page), @place.check_list, :class => "readmore" %>
        </p>
        
        <% if logged_in? -%>
          <% if @place_geometry -%>
            <%= render :partial => 'subscriptions/subscription', :locals => {:resource => @place } %>
          <% else %>
            <div class="meta">
              <%= t :subscriptions_arent_available_for %>
            </div>
          <% end -%>
        <% end -%>
      <% end -%>
      <%= render :partial => 'guides/guide', :locals => {:extra => extra} %>
    <% else %>
      <div class="readable nocontent">
        <%= t :this_place_has_no_check_list %><% if @place_geometry %>, but you can still
        <%= render :partial => 'subscriptions/subscription', :locals => {:resource => @place } %>
        <% end %>
      </div>
    <% end -%>
  </div><!-- end guidetab -->
  
  <div id="observationstab">
    <div class="stacked observationcontrols"></div>
    <div class="medium observations grid">
      <div class="nocontent">
        <%= loading t(:loading), :class => "inline" %>
      </div>
    </div>
    <%= link_to t(:view_more_observations_from) + ' ' + "#{@place.name}", observations_url(:place_id => @place.id), :class => "readmore" %>
  </div>

  <% unless @projects.blank? -%>
    <div id="projectstab">
      <div class="clear">
        <h3><%= t(:projects_in_x, :x => @place.name) %></h3>
        <%= render :partial => 'projects/project', :collection => @projects %>
      </div>
    </div>
  <% end -%>
  
  <div id="abouttab">
    <div class="container">
      <div class="column span-8 append-1">
        <h3><%= t(:flickr_photos) %></h3>
        <div class="stacked photos">
          <div class="loading status"><%= t(:loading_flickr_photos) %></div>
        </div>
      </div>
      
      <%- wikipedia_url = @wikipedia.url_for_title(@place.wikipedia_name) -%>
      <div class="last column span-15">
        <h3><%= link_to "Wikipedia", wikipedia_url %> <%= t(:desription) %></h3>
        <div class="wikipedia_description">
          <div class="loading status"> <%= t(:loading_wikipedia_description) %></div>
          <div class="noresults description" style="display:none">
            <%= t(:there_is_no_wikipedia_page_matching) + " #{@place.wikipedia_name} "+ t(:would_you_like_to) %>
            <%= link_to t(:start_one).downcase, wikipedia_url %>?
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- end maintabs -->

<div class="meta right">
  <% if @place.user -%>
    <%= t(:place_added_to_inat_by, :site_name => SITE_NAME_SHORT) %>
    <%= link_to user_image(@place.user), @place.user %>
    <%= link_to you_or_login(@place.user), @place.user %>
      <%- date_format = @place.created_at.to_date.to_s(:long).split(" ") %>
      <%= t :on_ %> <%= t("date_format.date_long.#{date_format.first.downcase}", :day => date_format[1], :year =>date_format.last) %>
    |
  <% end -%>
  <%= link_to t(:add_new_place), new_place_path, :class => "readmore" %>
</div>
