<%- content_for(:title) do -%>
  <%= @place.display_name %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "taxa", "observations", "taxa/guide", "barchart", "places/show" %>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" charset="utf-8">
    var PLACE = <%= @place.to_json %>,
        PLACE_GEOMETRY_KML_URL = <%= @place_geometry.blank? ? ''.inspect : place_geometry_url(@place, :format => "kml").inspect %>,
        WIKIPEDIA_DESCRIPTION_URL = <%= url_for(:action => "wikipedia", :id => @place.wikipedia_name).inspect %>,
        FLICKR_API_KEY = <%= FLICKR_API_KEY.inspect %>,
        NEARBY_PLACES = <%= @nearby_places.to_json %>,
        INSIDE_PLACES = <%= @inside_places.to_json %>,
        TILESTACHE_SERVER = <%= INAT_CONFIG['tile_servers']['tilestache'].inspect %>
  </script>
  <%= javascript_include_tag 'inaturalist/map3', "jquery/plugins/inat/taxonmap", 
    "jquery/plugins/jquery.ba-bbq.min", "jquery/plugins/jquery.infinitescroll.min", "places/show" %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var script = document.createElement("script")
      script.setAttribute("type", "text/javascript")
      if (true || $.browser.msie) {
        script.setAttribute("src", "/javascripts/places/show.gmaps.js")
      } else {
        script.setAttribute("src", "/javascripts/places/show.polymaps.js")
      }
      document.body.appendChild(script);
    })
  </script>
<%- end -%>

<div id="pageheader">
  <div id="searchform" class="clear right buttonrow smallbuttons">
    <%= render :partial => 'places/search_form', :locals => {:q => ''} %>
  </div>
  <div class="breadcrumbs">
    <strong><%= link_to "Places", places_path, :class => 'crumb' %></strong>
    <span class="description">&gt;</span>
    <% @place.ancestors.reverse_each do |ancestor| %>
      <%- link_txt = capture do -%>
        <%= ancestor.name %>
        <span class="small description">(<%= ancestor.place_type_name %>)</span>
      <%- end -%>
      <%= link_to link_txt, ancestor, :class => 'crumb' %>
      <span class="description">&gt;</span>
    <% end %>
  </div><!-- /#breadcrumbs -->
  <div id="map" style="height: 100px"></div>
  <h2>
    <%= link_to h(@place.display_name), @place %>
    <span class="small description"><%= @place.place_type_name %></span>
  </h2>
  <div id="placephotos"></div>
</div>

<!-- <div id="sidecol">
  <div id="map" style="width: 230px; height: 230px;"></div>
  
  <h3>
    Description
    <span class="small description">(from
      <a href="http://en.wikipedia.org/wiki/<%= @place.wikipedia_name %>">Wikipedia</a>)
    </span>
  </h3>

  <div id="wikipedia_description">
    <div class="loading status">Loading description...</div>
  </div>
  <div id="nodescription" class="meta" style="display: none">
    There isn't a Wikipedia article or 
    redirect titled '<i><%= @place.wikipedia_name %></i>'.  Perhaps you'd like to
    <a href='http://en.wikipedia.org/wiki/<%= @place.wikipedia_name %>'>
    make one</a>?
  </div>
</div> -->

<div id="sidecol">
  <% if logged_in? -%>
    <div class="stacked">
      <div id="observedchart" class="barchart inlineblock">
        <%= render :partial => "shared/barchart_datum", :locals => {
          :value => @current_user_observed_count.to_i, 
          :max => @listed_taxa_count.to_i, 
          :label_text => "of #{@listed_taxa_count.to_i}" } %>
      </div>
      <div class="extralabel">
        <%-
          percent = @distinct_listed_taxa_count.to_i == 0 ? 0 : (@current_user_observed_count.to_f / @distinct_listed_taxa_count.to_f * 100).round
        -%>
        <strong><span class="value"><%= percent %></span>%</strong>
        observed by you
      </div>
    </div>
  <% end -%>
  
  <div id="browsingtaxa" class="stacked">
    <ul class="taxon_links">
      <li>
        <%= link_to "All life", url_for(:taxon => nil, :test => true), :class => "taxon #{'selected' if @taxon.blank?}" %>
        <ul>
          <% taxonomic_taxon_list(@arranged_taxa, :class => "clear") do |taxon| %>
            <%-
              css_class = "taxon"
              css_class += ' selected' if @taxon && @taxon.id == taxon.id
              css_class += " #{Taxon::ICONIC_TAXA_BY_ID[taxon.iconic_taxon_id].try(:name)}"
              css_class += " taxon_#{taxon.id} taxon_#{taxon.name}"
            -%>
            <%= link_to default_taxon_name(taxon).capitalize, url_for(:taxon => taxon.id, :test => true), :class => css_class %>
          <% end -%>
        </ul>
      </li>
    </ul>
  </div>
  
  <p class="ui">
    <%= link_to "View check list page", @place.check_list %>
  </p>
</div>

<div id="maincol">
  <div id="controls" class="stacked clear buttonrow smallbuttons">
    <div id="confirmedchart" class="barchart">
      <%= render :partial => "shared/barchart_datum", :locals => {
        :value => @confirmed_listed_taxa_count.to_i, 
        :max => @listed_taxa_count.to_i, 
        :label_text => "of #{@listed_taxa_count.to_i} confirmed",
        :min_remainder_label_width => 50
      } %>
    </div>
    
    <div id="filters">
      <%- form_tag url_for, :method => :get, :class => "searchfilter inlineblock" do %>
        <%= hidden_field_tag :test, true %>
        <%= text_field_tag :q, @q, :class => "text", :placeholder => "Search for species", :id => "searchFilter" %>
        <%= submit_tag "Search", :class => "glaucous button" %>
        <%= link_to "&times;", url_for_params(:without => [:q]), :class => "pale button", :style => "#{'display:none' if @q.blank?}", :title => "Clear search" %>
      <% end %>
      
      <%- form_tag url_for, :method => :get, :class => "colorfilter inlineblock" do %>
        <%= hidden_fields_for_params :without => [:colors, :page] %>
        <%= select_tag "colors[]", options_for_select(Color.all.map(&:value).sort, :selected => @colors), :multiple => true, :id => "colorsFilter" %>
        <%= submit_tag "Filter", :class => "glaucous button" %>
        <%= link_to "&times;", url_for_params(:without => [:colors]), :class => "pale button", :style => "#{'display:none' if @colors.blank?}", :title => "Clear color filters" %>
      <% end %>
    </div>
  </div>
  
  <div id="listed_taxa">
    <div id="taxa" class="clear taxa fluid medium grid" data-guide-url="<%= place_guide_url(@place) %>">
      <% if frag = controller.read_fragment(:action => "guide", :action_suffix => "first_page") -%>
        <%= frag %>
      <% end -%>
    </div>
  </div>
</div>