<%- content_for(:title) do -%>
  <%= @place.display_name %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "taxa", "taxa/guide", "barchart", "places/show", "guide" %>
  <!--[if lte IE 7]>
    <%= stylesheet_link_tag 'observations-ie' %>
    <style type="text/css" media="screen">
      #pageheader { z-index: 100; }
      .listed_taxon .monthstats { display: none; }
      #controls button, #controls .button {padding: 2px 5px; margin:0;}
      #controls button span { line-height: 1.3;}
    </style>
  <![endif]-->
<%- end -%>

<%- content_for(:extrahead) do -%>
  <meta property="og:title" content="<%= @place.display_name %>"/> 
  <meta property="og:site_name" content="iNaturalist"/> 
  <meta property="fb:admins" content="611249211,800415373"/>
  <meta property="fb:app_id" content="26558815027" />
  <meta property="og:description" name="description" content="Learn about the species that live in <%= @place.display_name %>!"/> 
  <meta property="og:image" content="<%= URI.join(root_url, path_to_image("bird.png")) %>"/> 
<%- end -%>

<%- content_for(:extrajs) do -%>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" charset="utf-8">
    var PLACE = <%= @place.to_json %>,
        PLACE_GEOMETRY_KML_URL = <%= @place_geometry.blank? ? ''.inspect : place_geometry_url(@place, :format => "kml").inspect %>,
        WIKIPEDIA_DESCRIPTION_URL = <%= url_for(:action => "wikipedia", :id => @place.wikipedia_name).inspect %>,
        FLICKR_API_KEY = <%= FLICKR_API_KEY.inspect %>,
        NEARBY_PLACES = <%= @nearby_places.to_json %>,
        INSIDE_PLACES = <%= @inside_places.to_json %>,
        TILESTACHE_SERVER = <%= INAT_CONFIG['tile_servers']['tilestache'].inspect %>
  </script>
  <%= javascript_include_tag 'inaturalist/map3', "jquery/plugins/inat/taxonmap", 
    "jquery/plugins/jquery.ba-bbq.min", "jquery/plugins/jquery.infinitescroll.min", 
    "jquery/plugins/jquery.scrollTo-min.js", "taxon_guide", "places/show" %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var script = document.createElement("script")
      script.setAttribute("type", "text/javascript")
      if (true || $.browser.msie) {
        script.setAttribute("src", "/javascripts/places/show.gmaps.js")
      } else {
        script.setAttribute("src", "/javascripts/places/show.polymaps.js")
      }
      document.body.appendChild(script);
    })
  </script>
<%- end -%>

<div id="pageheader">
  <div id="searchform" class="clear right buttonrow smallbuttons">
    <%= render :partial => 'places/search_form', :locals => {:q => ''} %>
  </div>
  <div class="breadcrumbs">
    <strong><%= link_to "Places", places_path, :class => 'crumb' %></strong>
    <span class="description">&gt;</span>
    <% @place.ancestors.reverse_each do |ancestor| %>
      <%- link_txt = capture do -%>
        <%= ancestor.name %>
        <span class="small description">(<%= ancestor.place_type_name %>)</span>
      <%- end -%>
      <%= link_to link_txt, ancestor, :class => 'crumb' %>
      <span class="description">&gt;</span>
    <% end %>
  </div><!-- /#breadcrumbs -->
  <div id="map" style="width: 100%; height: 100px"></div>
  <h2>
    <%= link_to h(@place.display_name), @place %>
    <span class="small description"><%= @place.place_type_name %></span>
  </h2>
  <div id="placephotos"></div>
</div>

<div id="maintabs">
  <div id="metalinks" class="meta right">
    <%= link_to "embed place widget", place_widget_path(@place), :rel => "nofollow" %>
    <% if @place.editable_by?(current_user) -%>
      |
      <%= link_to "edit place", edit_place_path(@place), :rel => "nofollow" %>
    <% end -%>
  </div>
  <ul>
    <li><a href="#guidetab"><span>Species Guide</span></a></li>
    <li><a href="<%= observations_url(:place_id => @place, :per_page => 50, :partial => "cached_component") %>" rel="<%= observations_url(:place_id => @place) %>" title="observationstab"><span>Observations</span></a></li>
    <li><a href="#abouttab"><span>About <%= @place.name %></span></a></li>
  </ul>
  
  <div id="guidetab">
    <%- extra = capture do -%>
      <p class="ui">
        <%= link_to "View check list page", @place.check_list, :class => "readmore" %>
      </p>
      
      <% if logged_in? -%>
        <%= render :partial => 'subscriptions/subscription', :locals => {:resource => @place } %>
      <% end -%>
    <% end -%>
    <%= render :partial => 'guides/guide', :locals => {:extra => extra} %>
  </div><!-- end guidetab -->
  
  <div id="observationstab" class="observations table">
    <div class="loading status">Loading...</div>
  </div>
  
  <div id="abouttab">
    <div class="container">
      <div class="column span-8 append-1">
        <h3>Flickr Photos</h3>
        <div class="stacked photos">
          <div class="loading status">Loading Flickr photos...</div>
        </div>
      </div>
      
      <%- wikipedia_url = "http://en.wikipedia.org/wiki/#{@place.wikipedia_name}" -%>
      <div class="last column span-15">
        <h3><%= link_to "Wikipedia", wikipedia_url %> Description</h3>
        <div class="wikipedia_description">
          <div class="loading status">Loading Wikipedia description...</div>
          <div class="noresults description" style="display:none">
            There is no Wikipedia page matching "<%= @place.wikipedia_name %>."  Would you like to
            <%= link_to "start one", wikipedia_url %>?
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- end maintabs -->

<div class="meta right">
  <% if @place.user -%>
    Place added to iNat by 
    <%= link_to user_image(@place.user), @place.user %>
    <%= link_to you_or_login(@place.user), @place.user %>
    on
    <%= @place.created_at.to_date.to_s(:long) %>
    |
  <% end -%>
  <%= link_to "Add a new place", new_place_path, :class => "readmore" %>
</div>
