<%- content_for(:title) do -%>
  <%= @place.name %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'observations',
                          'lists',
                          'lists/show_listed_taxa',
                          "jquery/ui.tabs", 
                          "jquery/ui.accordion",
                          "jquery/plugins/jquery.jcarousel" %>
  
  <style type="text/css" media="screen">
    #map {
      width: 100%;
      height: 320px;
    }
    
    #mapcontrols {
      text-align: right;
    }
    
    #mapcol {
      margin-bottom: 10px;
    }
    
    #observations, #other_places, #directions {
      max-height: 400px;
      overflow: auto;
    }
    
    #searchform {
      float: right;
    }
    
    #searchform .button {
      margin-right: 0;
    }
    
    #searchform .button,
    #searchform .text,
    #searchform label {
      padding: 2px 3px;
      font-size: 100%;
      margin-bottom: 0;
    }
    
    #pageheader h2 {
      clear: both;
    }
    
    #checklistcol {
      margin-bottom: 10px;
    }
    
    #carousellabel {
      margin-bottom: 5px;
    }
    
    #carousellabel strong {
      font-size: 120%;
    }
    
    #carousellabel .controls {
      color: #777;
    }
    
    .jcarousel-skin-inat .jcarousel-container-horizontal,
    .jcarousel-skin-inat .jcarousel-clip-horizontal {
      width: 896px;
      margin: 0 auto;
    }
    
    .jcarousel-skin-inat .jcarousel-item,
    .jcarousel-skin-inat .jcarousel-item img {
      width: 72px;
    }
    
    .jcarousel-skin-inat .jcarousel-item,
    .jcarousel-skin-inat .jcarousel-item img,
    .jcarousel-skin-inat .jcarousel-clip-horizontal {
      height: 72px;
    }
    
    #carouselwrapper {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background: #eee;
      border: 1px solid #ddd;
      padding: 5px 10px 10px 10px;
    }
    
    .jcarousel-skin-inat .jcarousel-container {
      border: 0 none;
      background-color: none;
    }
    
    .jcarousel-skin-inat .jcarousel-container-horizontal {
      padding: 0 20px;
    }
    
    .jcarousel-skin-inat .jcarousel-next-horizontal,
    .jcarousel-skin-inat .jcarousel-prev-horizontal {
        top: 30px;
    }
    
    #species_guess {
      width: 400px;
    }
    
    .simpleTaxonSelector {
      float: left;
      margin-right: 10px;
    }
    
    .listed_taxon .details {
      width: 360px;
    }
    
    #batchadder {
      min-height: 100px;
    }
    
    .taxon .name {
      font-size: larger;
      font-family: Georgia, serif;
    }
    .attribution {
      font-size: smaller;
    }
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%= gmap_include_tag %>
  <%= javascript_include_tag 'jquery/jquery-1.3.2.min', 
                             'jquery/jquery-ui-1.7.2.min',
                             'jquery/plugins/jqModal',
                             'modal_image',
                             'inaturalist/map2', 
                             'jquery/plugins/jquery.url.packed',
                             'jquery/plugins/jquery.jcarousel.pack',
                             'jquery/plugins/inat/taxon_selectors',
                             "jquery/plugins/jquery.qtip.min" %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#batchadder').addClass('modalbox dialog').jqm({
        closeClass: 'close'
      });
      
      <% unless @listed_taxa.blank? %>
        $('#carousel').jcarousel({
          size: <%= @listed_taxa.total_entries %>,
          scroll: <%= @listed_taxa.per_page %>,
          itemLoadCallback: function(carousel, state) {
            if (state == 'init') { carousel._page = 1; return; }
            var current = carousel.prevLast + 1;
            if (carousel.has(current)) return;
            carousel._page += 1;

            $.get('<%= formatted_place_taxa_path(@place, "json") %>', {
              page: carousel._page,
              per_page: <%= @listed_taxa.per_page %>,
              photos_only: 1
            }, function(json) {
              $.each(json, function() {
                carousel.add(current, taxonToCarouselItem(this));
                current += 1;
              })
            }, 'json');
          }
        });
        
        // Build tooltips for first load of taxa
        $('#carousel .jcarousel-item img').each(function(i) {
          var taxon = $(this).data('json');
          if (typeof(taxon) != 'undefined') {
            addToolTipToCarouselItem(this, $(this).data('json').html);
          };
        });
      <% end %>
      
      // Make that accordion
      $('#accordion').accordion({
        header: '.headerlink',
        autoHeight: false
      });
      $('#accordion').accordion('activate', '#observationsheaderlink');
      
      
      // Set up the map
      var map = iNaturalist.Map.createMap({controls: 'small'});
      window.map = map;
      
      <% if @place.swlat %>
        var bounds = new GLatLngBounds(
          new GLatLng(<%= @place.swlat %>, <%= @place.swlng %>),
          new GLatLng(<%= @place.nelat %>, <%= @place.nelng %>)
        );
        map.setZoom(map.getBoundsZoomLevel(bounds));
        map.setCenter(bounds.getCenter());
      <% else %>
        map.setCenter(new GLatLng(<%= @place.latitude %>, <%= @place.longitude %>));
      <% end %>
      map.addOverlay(
        map.createMarker(<%= @place.latitude %>, <%= @place.longitude %>, {
          icon: iNaturalist.Map.createPlaceIcon()
        })
      );
      
      <% if @place.place_geometry %>
        <% for geom in @place.place_geometry.geom %>
          map.addOverlay(<%= Ym4r::GmPlugin::GPolygonEncoded.from_georuby(geom, "#FF1493", 2 ,0.6,"#FF1493",0.2).to_javascript %>);
        <% end %>
      <% end %>
      
      // Add the observations
      var observations = <%= @observations.to_json(:include => { :user => { :only => :login }, :taxon => {}, :iconic_taxon => {} }) %>;
      $.each(observations, function() {
        // Add the obs
        var obs = map.addObservation(this);
        
        // Bind the clicks on the obs icon to popup the infowindow
        if (obs.marker) {
          $('#observation-'+this.id).click(function() {
            if ($(this).parents('.observations').hasClass('mini')) {
              map.openInfoWindow.apply(obs.marker);
            };
          });
        };
      });
      
      // Load directions
      window.directions = new GDirections(window.map, $('#directions_steps').get(0));
      GEvent.addListener(window.directions, 'error', function() {
        var status = window.directions.getStatus();
        switch (status.code) {
          case G_GEO_UNKNOWN_ADDRESS:
            alert("Google couldn't find one of those addresses.");
            break;
          case G_GEO_UNAVAILABLE_ADDRESS:
            alert("Google is forbidden from showing one of those addresses.");
            break;
          case G_GEO_UNKNOWN_DIRECTIONS:
            alert("Google couldn't find a route between those two points.");
            break;
          default:
            alert("Something went wrong looking up those directions from Google.");
        }
      });
      
      // Load wikipedia desc
      $.ajax({
        url: '<%= escape_javascript url_for(:action => "wikipedia", :id => @place.wikipedia_name) %>',
        method: 'get',
        success: function(data, status) {
          $('#wikipedia_description').html(data);
        },
        error: function(request, status, error) {
          $('#nodescription').show();
          $('#wikipedia_description .loading').hide();
        }
      });
    });
    
    function taxonToCarouselItem(taxon) {
      var carouselItem = $('<img></img>').attr('src', taxon.image_url);
      if (typeof(taxon.html) == 'undefined') {
        var toolTipContent = $('<img></img>').attr('src', taxon.flickr_photos[0].small_url);
      } else {
        var toolTipContent = taxon.html;
      }
      addToolTipToCarouselItem(carouselItem, toolTipContent);
      return carouselItem;
    }
    
    function addToolTipToCarouselItem(carouselItem, content) {
      if (typeof(content) == 'undefined') var content = null;
      $(carouselItem).qtip({
        content: {text: content},
        hide: {
          fixed: true
        },
        style: { 
          name: 'green',
          tip: 'topMiddle',
          border: {
            radius: 5
          },
          width: {
            max: 500
          }
        },
        position: {
          corner: {
            target: 'bottomMiddle',
            tooltip: 'topMiddle'
          }
        }
      });
    }
    
    function getDirections() {
      directions.load(getDirectionsStr());
    }
    
    function getDirectionsStr() {
      return 'from:' + $('#directions_from').val() + ', to:' + $('#directions_to').val();
    }
    
    function expandMap() {
      $('#map').animate({height: '520px'}, 'normal', 'linear', function() {
        map.checkResize();
      });
    }
    
    function shrinkMap() {
      $('#map').animate({height: '320px'}, 'normal', 'linear', function() {
        map.checkResize();
      });
    }
    
    var currentChildrenPage = <%= @children.current_page %>;
    function loadMoreChildren() {
      // Don't bother if we're on the last page
      if (currentChildrenPage >= <%= @children.total_pages %>) return;
      
      $('#other_places .loading').show();
      $('#morechildrenlink').hide();
      currentChildrenPage += 1;
      $.get('<%= place_children_path(@place) %>', {page: currentChildrenPage}, function(html) {
        $('#other_places ul').append(html);
        
        // Show the link unless this is the last page
        if (currentChildrenPage < <%= @children.total_pages %>) {
          $('#morechildrenlink').show();
        }
        $('#other_places .loading').hide();
      });
    }
  </script>
<%- end -%>
<div id="pageheader">
  <div id="searchform" class="clear right buttonrow">
    <%= render :partial => 'places/search_form', :locals => {:q => ''} %>
  </div>
  <div class="breadcrumbs">
    <strong><%= link_to "Places", places_path, :class => 'crumb' %></strong>
    <span class="description">&gt;</span>
    <% @place.ancestors.reverse_each do |ancestor| %>
      <%- link_txt = capture do -%>
        <%= ancestor.name %>
        <span class="small description">(<%= ancestor.place_type_name %>)</span>
      <%- end -%>
      <%= link_to link_txt, ancestor, :class => 'crumb' %>
      <span class="description">&gt;</span>
    <% end %>
  </div><!-- /#breadcrumbs -->
  <h2>
    <%=h @place.display_name %>
    <span class="small description"><%= @place.place_type_name %></span>
  </h2>
</div>

<div id="checklistcol" class="column span-24">
  <div id="carouselwrapper">
    <div id="carousellabel">
      <div class="right controls">
        <% if logged_in? -%>
          <%= link_to_function "Add Species", "$('#batchadder').jqmShow()" %> |
        <% end -%>
        <%= link_to "View Check List", @place.check_list, :class => 'readmore' %>
      </div>
      <strong>What lives here?</strong>
    </div>
    <% if @listed_taxa.blank? -%>
      <div class="notice" style="margin-bottom: 0; text-align: center">
        Do you know what lives in <%=h @place.name %>?
        <%= link_to "Add them to the list!", @place.check_list, :class => 'readmore' %>
      </div>
    <% else %>
      <ul id="carousel" class="jcarousel-skin-inat">
        <% for listed_taxon in @listed_taxa %>
          <li><%= taxon_image(listed_taxon.taxon, :id => dom_id(listed_taxon.taxon, 'image')) %></li>
          <script type="text/javascript" charset="utf-8">
            $('#<%= dom_id(listed_taxon.taxon, "image") %>').data('json', 
              <%= listed_taxon.taxon.to_json(:include => :flickr_photos, 
                :methods => [:image_url, :default_name, :common_name, 
                :scientific_name, :html]) %>
            );
          </script>
        <% end %>
      </ul>
    <% end -%>
  </div>
</div>

<div class="column span-24">
  <div class="column span-16">
    <div id="mapcol" class="last column span-16">
      <div id="map"></div>
      <div id="mapcontrols" class="small description">
        <%= link_to_function "Smaller map &uarr;", 
          "shrinkMap();" +
          "$('#bigmaplink').show();" + 
          "$(this).hide()",
          :id => 'smallmaplink', :style => 'display: none' %>
        <%= link_to_function "Bigger map &darr;", 
          "expandMap();" +
          "$('#smallmaplink').show();" + 
          "$(this).hide()",
          :id => 'bigmaplink' %>
      </div>
    </div>
    
    <div class="last column span-16">
      <h3>About</h3>

      <div id="wikipedia_description">
        <div class="loading status">Loading description...</div>
      </div>
      <div id="nodescription" style="display: none">
        <h3 class='description'>There isn't a Wikipedia article or 
        redirect titled '<i><%= @place.wikipedia_name %></i>'.  Perhaps you'd like to
        <a href='http://en.wikipedia.org/wiki/<%= @place.wikipedia_name %>'>
        make one</a>?</h3>
      </div>
    </div>

  </div>
  <div id="taxacol" class="last column span-8">
    <div id="accordion">
      <%= link_to "Directions to #{@place.name}", {:anchor => 'directions'}, :class => 'headerlink' %>
      <div id="directions">
        <h3>Getting There</h3>
        <form onsubmit="getDirections(); return false;">
          <div class="clear field">
            <label for="from">From: </label><input type="text" name="from" value="<%= @directions_from %>" id="directions_from">
          </div>
          <div class="clear field">
            <label for="to">End: </label><input type="text" name="to" value="<%= @directions_to %>" id="directions_to">
          </div>
          <div class="clear buttonrow">
            <input type="submit" value="Get Directions" class="default button" id="directions_button" />
            <%= link_to_function "Go to Google", "window.location = 'http://maps.google.com/?q=' + getDirectionsStr();", :class => 'button' %>
          </div>
        </form>
        <div id="directions_steps"></div>
      </div>
      
      <% unless @children.blank? -%>
        <%= link_to "Some places in #{@place.name}", {:anchor => 'other_places'}, :class => 'headerlink' %>
        <div id="other_places">
          <ul>
            <%= render :partial => "place_li", :collection => @children %>
          </ul>
          <% if @children.current_page < @children.total_pages -%>
            <%= link_to_function "More...", "loadMoreChildren()",
              :id => 'morechildrenlink',
              :style => 'font-weight: bold' %>
            <div class="loading status" style="display: none">Loading...</div>
          <% end -%>
        </div>
      <% end -%>
      
      <%= link_to "Recent Nearby Observations", {:anchor => 'observations'}, :id => 'observationsheaderlink', :class => 'headerlink' %>
      <div id="observations" class="mini observations">
        <%= render :partial => "observations/cached_component", :collection => @observations %>
        <% if @observations.blank? -%>
          <div class="nodata description">
            No nearby observations.  Want to 
            <%= link_to "add one?", 
              new_observation_path(:latitude => @place.latitude, :longitude => @place.longitude, :place_guess => @place.display_name, :location_is_exact => false),
              :rel => 'nofollow' %>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>

<div class="column span-24">
  <%= link_to "edit this place", edit_place_path(@place), :class => 'small right' %>
</div>

<div id="batchadder">
  <span class="close corner">&times;</span>
  <h3>Add species that live in <%= @place.name %></h3>
  
  <div class="clear">
    <%= render :partial => 'lists/add_to_list', :object => @place.check_list %>
  </div>
  
  <div id="justadded">
    <ul class="listed_taxa batchAdderTaxa"></ul>
  </div>
</div>
