<%-
@default_taxa = Taxon::ICONIC_TAXA.map do |taxon|
  taxon.html = render( partial: "taxa/chooser", handlers: [:erb], formats: [:html], object: taxon )
  taxon
end
-%>
<%- content_for(:title) do -%>
  <%= @title = "#{t(:widget_for)} #{@place.translated_name( I18n.locale, default: @place.display_name )}" %>
<%- end -%>
<%- content_for(:extracss) do -%>
  <style type="text/css" media="screen">
    .chooseritem .iconic_taxon_sprite {vertical-align:middle;}
  </style>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#taxonchooser').chooser({
        collectionUrl: '/taxa/autocomplete.json',
        resourceUrl: '/taxa/{{id}}.json?partial=chooser',
        defaultSources: <%=json_escape @default_taxa.to_json(:methods => [:html]).html_safe %>
      })
      
      $('#configureform').submit(function() {
        var params = $(this).serialize(),
            url = $('iframe:first').attr('src')
        if (url.match(/\?/)) {
          var newUrl = url.replace(/\?.*/, '?'+params)
        } else {
          var newUrl = url + '?' + params
        }
        var textarea = $(this).parents('.column:first').find('textarea')
        textarea.val(textarea.val().replace(url, newUrl))
        $('iframe:first').replaceWith(textarea.val())
        return false
      })
    })
  </script>
<%- end -%>
<div id="pageheader" class="clear">
  <div class="breadcrumbs">
    <strong><%= link_to "&laquo #{@place.translated_name( I18n.locale, default: @place.display_name )}".html_safe, @place, :class => 'crumb' %></strong>
  </div><!-- /#breadcrumbs -->
  
  <h2><%= @title %></h2>
</div>

<div class="column span-16">
  <h3><%= t :preview %></h3>
  <%= @widget_code = "<iframe width=\"100%\" height=\"600\" scrolling=\"auto\" src=\"#{place_guide_widget_url(@place)}\"></iframe>".html_safe -%>
</div>
<div class="last column span-8">
  <h3><%= t :configure %></h3>
  <form id="configureform" class="stacked">
    <div class="field">
      <label><%= t :icon_size %></label>
      <br/>
      <%= radio_button_tag 'size', 'medium', true %> <label for="size_medium"><%= t :normal %></label>
      <%= radio_button_tag 'size', 'small' %> <label for="size_small"><%= t :small %></label>
    </div>
    <div class="field">
      <label><%= t :layout %></label>
      <br/>
      <%= radio_button_tag 'grid', 'grid', true %> <label for="grid_grid"><%= t :grid %></label>
      <%= radio_button_tag 'grid', 'fluid' %> <label for="grid_fluid"><%= t :fluid %></label>
    </div>
    <div class="field">
      <label><%= t(:labels) %></label>
      <br/>
      <%= radio_button_tag 'labeled', 'labeled', true %> <label for="labeled_labeled"><%= t :yes %></label>
      <%= radio_button_tag 'labeled', 'unlabeled' %> <label for="labeled_unlabeled"><%= t :no %></label>
    </div>
    
    <div class="field">
      <label><%= t :bg_color %></label>
      <span class="small meta">
        <%= t :hex_color_eg %>
      </span>
      <br/>
      <%= text_field_tag 'bgcolor', nil, :class => "text" %>
    </div>
    
    <div class="field">
      <label><%= t :taxon %></label>
      <br/>
      <%= text_field_tag :taxon, nil, :class => "chooser text", :id => "taxonchooser", :placeholder => t(:type_taxon_name) %>
    </div>
    <input type="submit" value="<%= t(:configure) %>"/>
  </form>
  
  <h3><%= t :code %></h3>
  <textarea style="width:100%;"><%= @widget_code %></textarea>
</div>

