<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
     xmlns:fb="http://www.facebook.com/2008/fbml"
     xmlns:og="http://ogp.me/ns#">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <% if logged_in? && @provider_authorizations -%>
      <meta name="authenticators" content="<%= @provider_authorizations.map{|pa| pa.provider}.join(',') %>">
    <% end -%>
    <title><%= APP_CONFIG[:site_name] %> &middot; <%= yield :title %></title>
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <%= render :partial => 'shared/common_stylesheets'%>
    <%= javascript_include_tag 'jquery/jquery-1.8.3.min', 
                               'jquery/jquery-ui-1.9.1.min', 
                               "iso8601",
                               "jquery/plugins/jquery.qtip2.min", 
                               "jquery/plugins/jquery.multiselect.min", 
                               "jquery/plugins/jquery.ui.autocomplete.html",
                               "jquery/plugins/jquery.chooser",
                               "jquery/plugins/jquery-ui-timepicker-addon",
                               "jquery/plugins/jquery.imagesloaded.min",
                               "jquery/plugins/inat/taxon_selectors.js",
                               "jquery/plugins/jquery.timeago.js",
                               "jquery/plugins/jquery.scrollTo-min.js",
                               'rails',
                               'application', 
                               'inaturalist' %>
    <%= csrf_meta_tag %>
    <%= yield :extrahead %>
    <%= yield :extracss %>
    <%= yield :extrajs %>
  </head>
<body class="browser">
  <% unless @headless -%>
    <% cache(:controller => 'welcome', :action => 'header', :for => logged_in? ? current_user.id : nil, :version => ApplicationController::HEADER_VERSION, :site_name => SITE_NAME) do %>
      <%= render :partial => 'shared/header' %>
    <% end %>
  <% end -%>
  
  <% if flash[:notice] || flash[:alert] %>
  <p id="flash" class="notice"><%= (flash[:notice] || flash[:alert]).html_safe %></p> 
  <% end %>
  
  <% if flash[:error] %>
  <p id="flash" class="error"><%= flash[:error] %></p> 
  <% end %>

  <div id="wrapper" class="container clear">
    <%= yield %>
  </div><!-- end wrapper -->
  
  <div id="modal_image_box" class="modalbox" style="display:none"></div>
  <div id="comment_preview" class="modalbox" style="display: none"></div>

  <%= render :partial => 'shared/footer' unless @footless %>
  
  <% if logged_in? -%>
    <script type="text/javascript" charset="utf-8">
      setUpdatesCount(<%= session[:updates_count].to_i %>)
      setTimeout(getUpdatesCount, 1000)
    </script>
  <% end -%>
</body>
</html>
