<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
     xmlns:fb="http://www.facebook.com/2008/fbml"
     xmlns:og="http://ogp.me/ns#">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= APP_CONFIG[:site_name] %> &middot; <%= yield :title %></title>
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <%= render :partial => 'shared/common_stylesheets'%>
    <%= javascript_include_tag 'jquery/jquery-1.5.1.min', 
                               'jquery/jquery-ui-1.8.11.min.js', 
                               "jquery/plugins/jquery.qtip2.min", 
                               "jquery/plugins/jquery.multiselect.min", 
                               "jquery/plugins/jquery.ui.autocomplete.html",
                               "jquery/plugins/jquery.chooser",
                               "jquery/plugins/jquery-ui-timepicker-addon",
                               'application', 
                               'inaturalist' %>
    <%= csrf_meta_tag %>
    <%= yield :extrahead %>
    <%= yield :extracss %>
    <%= yield :extrajs %>
  </head>
<body>
  <% unless @headless -%>
    <% cache(:controller => 'welcome', :action => 'header', :for => logged_in? ? current_user.id : nil, :version => 5) do %>
      <%= render :partial => 'shared/header' %>
    <% end %>
  <% end -%>

  <% if flash[:notice] %>
  <p id="flash" class="notice"><%= flash[:notice] %></p> 
  <% end %>
  
  <% if flash[:error] %>
  <p id="flash" class="error"><%= flash[:error] %></p> 
  <% end %>

  <div id="wrapper" class="container clear">
    <%= yield %>
  </div><!-- end wrapper -->
  
  <div id="modal_image_box" class="modalbox" style="display:none"></div>
  <div id="comment_preview" class="modalbox" style="display: none"></div>

  <%= render :partial => 'shared/footer' unless @footless %>
</body>
</html>
