!!! 5
%html{ lang: I18n.locale }
  %head
    %title
      = content_for(:title) ? "#{content_for(:title)} · " : ""
      = @site.try(:name)
    = favicon_link_tag @site && @site.favicon? ? @site.favicon.url : "favicon.png"
    = csrf_meta_tag
    %meta{ http_equiv: "Content-Language", content: I18n.locale }
    - if current_user
      %meta{ name: "inaturalist-api-token", content: JsonWebToken.encode(user_id: current_user.id) }
    = render "shared/i18n"
    = javascript_include_tag "i18n_bundle"
    = yield :extrahead
  %body
    = content_for?(:content) ? yield(:content) : yield
    %script{ type: "text/javascript" }
      - site_place = @site && @site.place
      - user_place = current_user && current_user.place
      var PREFERRED_PLACE;
      - if place = (user_place || site_place)
        PREFERRED_PLACE = #{ json_escape (user_place || site_place). |
          to_json(only: [:id, :name, :place_type],                   |
          methods: [:ancestor_place_ids]).html_safe };               |
      var CURRENT_USER;
      - if logged_in?
        CURRENT_USER = {                                |
          id: #{ current_user.id },                     |
          login: "#{ current_user.login }",             |
          prefers_scientific_name_first: #{ current_user.prefers_scientific_name_first }, |
          preferred_observations_search_map_type: "#{ current_user.preferred_observations_search_map_type }", |
          prefers_not_nearby_suggestions: #{!!session[:prefers_not_nearby_suggestions]}, |
          roles: #{current_user.roles.map(&:name).to_json.html_safe}, |
          icon: "#{ current_user.icon.url(:thumb) }" }; |
      var TIMEZONE = "#{ Time.zone.tzinfo.name }";
      var SITE = #{ @site.to_json(                      |
        only: [ :id, :name, :logo ],                    |
        methods: [ :logo ],                             |
        include: { place: { only: [ :id, :name ] } }    |
      ).html_safe };                                    |
      var CONTROLLER_ACTION = "#{controller.class.to_s}::#{action_name}";
      var CONFIG = { |
        content_freeze_enabled: #{ !!CONFIG.content_freeze_enabled } |
      }; |
    - if content_for?(:delayed_js)
      = yield(:delayed_js)
