!!!
%html
  %head
    = stylesheet_link_tag "bootstrap_bundle", 'bootstrap-pdf', media: :all
    = yield :extrahead
    = yield :extracss
  %body
    .bootstrap
      = yield
    = yield :extrajs
    - if params && !params[:print].blank?
      :javascript
        window.print()
