<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
  <head>
    <title><%= CONFIG.site_name %> &middot; <%= yield :title %></title>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=980">
    <%= render :partial => 'shared/common_stylesheets'%>
    <!-- Bootstrap -->
    <%= stylesheet_link_tag 'bootstrap_bundle' %>
    <%= csrf_meta_tag %>
    <% if CONFIG.twitter && CONFIG.twitter.username -%>
      <meta name="twitter:site" content="<%= CONFIG.twitter.username %>">
    <% end -%>
    <meta property="og:site_name" content="<%= CONFIG.site_name %>"/>
    <% if CONFIG.facebook && CONFIG.facebook['app_id'] -%>
      <meta property="fb:app_id" content="<%= CONFIG.facebook['app_id'] %>" />
    <% end %>
    <% if !@headless && @site && @site.preferred_ios_app_id -%>
      <meta name="apple-itunes-app" content="app-id=<%= @site.preferred_ios_app_id %>">
    <% end -%>
    <%= yield :extrahead %>
    <%= yield :extracss %>
  </head>
  <body>
    <div id="bodywrapper">
      <% unless @headless -%>
        <% cache(:controller => 'welcome', :action => 'header', :for => logged_in? ? current_user.id : nil, :version => ApplicationController::HEADER_VERSION, :site_name => @site ? @site.name : SITE_NAME) do %>
          <%= render :partial => 'shared/header' %>
        <% end %>
      <% end -%>
      
      <% if flash[:notice] || flash[:alert] %>
        <p id="flash" class="notice"><%= (flash[:notice] || flash[:alert]).html_safe %></p> 
      <% end %>
      
      <% if flash[:error] %>
        <p id="flash" class="error"><%= raw flash[:error] %></p>
      <% end %>

      <div id="wrapper" class="bootstrap">
        <% if @feature_test -%>
          <div class="container">
            <div class="box bg-warning">
                <b><%= @feature_test %> test</b>. This is only a test, so please don't expect everything to work correctly.
            </div>
          </div>
        <% end -%>
        <% if flash[:warning] -%>
          <div class="container">
            <div class="alert alert-warning">
              <% if flash[:warning_title] -%>
                <strong><%=raw flash[:warning_title] %></strong>
              <% end -%>
              <p class="unstacked">
                <%=raw flash[:warning] %>
              </p>
            </div>
          </div>
        <% end -%>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>

    <%= render :partial => 'shared/footer' unless @footless %>

    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' %>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js' %>
    <script type="text/javascript">
      I18n = { }
      I18n.defaultLocale = "en"
      I18n.locale = "<%= I18n.locale %>"
      I18n.fallbacks = true
      <% site_place = @site && @site.place
         user_place = current_user && current_user.place -%>
      <% if site_place -%>
        var SITE_PLACE = <%= json_escape site_place.to_json(only: [:id, :name]).html_safe %>
      <% end -%>
      var PREFERRED_PLACE;
      <% if place = (user_place || site_place) -%>
      PREFERRED_PLACE = <%= json_escape (user_place || site_place).
        to_json(only: [:id, :name, :place_type], methods: [:ancestor_place_ids]).html_safe %>
      <% end -%>
      var CURRENT_USER;
      <% if logged_in? -%>
        CURRENT_USER = { id: <%= current_user.id %>, login: '<%= current_user.login %>' };
      <% end -%>
    </script>
    <%= javascript_include_tag 'application_bundle' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      // stop conflict btwn jqueryui button and bootstrap button
      var btn = $.fn.button.noConflict()
      $.fn.btn = btn
    </script>
    <%= google_maps_js libraries: %w(places geometry) %>
    <%= javascript_include_tag "map_bundle" %>
    <%= yield :extrajs %>
    <% if logged_in? -%>
      <script type="text/javascript" charset="utf-8">
        setUpdatesCount(<%= session[:updates_count].to_i %>)
        setTimeout(getUpdatesCount, 1000)
        setMessagesCount(<%= session[:messages_count].to_i %>)
        setTimeout(getMessagesCount, 1000)
      </script>
    <% end -%>
  </body>
</html>
