<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="<%= I18n.locale %>"
      lang="<%= I18n.locale %>"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
  <head>
    <title><%= content_for(:title) ? "#{content_for(:title)} · " : ( @page_title && "#{@page_title} · " ) %> <%= @site.try(:name) %> </title>
    <meta http-equiv="Content-Language" content="<%= I18n.locale %>">
    <%= favicon_link_tag @site && @site.favicon? ? @site.favicon.url : "favicon.png" %>
    <% if responsive? %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% else %>
      <meta name="viewport" content="width=980">
    <% end %>
    <%= render :partial => 'shared/common_stylesheets'%>
    <!-- Bootstrap -->
    <%= stylesheet_link_tag 'bootstrap_bundle' %>
    <%= csrf_meta_tag %>
    <meta name="config:inaturalist_api_url" content="<%= CONFIG.node_api_url %>">
    <% if logged_in? -%>
      <meta name="inaturalist-api-token" content="<%= JsonWebToken.encode( user_id: current_user.id ) %>">
    <% end -%>
    <% if !@site&.twitter_username.blank? -%>
      <meta name="twitter:site" content="<%= @site.twitter_username %>">
    <% end -%>
    <meta property="og:site_name" content="<%= @site&.name %>"/>
    <meta property="og:type" content="website"/>
    <% if CONFIG.facebook && CONFIG.facebook.app_id -%>
      <meta property="fb:app_id" content="<%= CONFIG.facebook.app_id %>" />
    <% end %>
    <% if !@headless && @site && !@site.ios_app_id.blank? -%>
      <meta name="apple-itunes-app" content="app-id=<%= @site.ios_app_id %>">
    <% end -%>
    <%= yield :extrahead %>
    <%= yield :extracss %>
    <% if @site && @shareable_image_url.blank? && @site.shareable_image? %>
      <meta property="og:image" content="<%= image_url @site.shareable_image.url %>"/>
    <% end %>
  </head>
  <body>
    <div id="bodywrapper"<%=raw " class='no-footer-gap'" if @no_footer_gap %>>
      <% unless @headless -%>
        <%= render :partial => 'shared/header' %>
      <% end -%>

      <% if (flash[:notice] || flash[:alert]) && !@flash_js %>
        <div class="bootstrap">
          <div class="container upstacked">
            <div class="alert alert-warning upstacked">
              <%= (flash[:notice] || flash[:alert]).html_safe %>
            </div>
          </div>
        </div>
      <% end %>

      <% if flash[:error] && !@flash_js %>
        <div class="bootstrap">
          <div class="container upstacked">
            <div class="alert alert-error upstacked">
              <%= raw flash[:error] %>
            </div>
          </div>
        </div>
      <% end %>

      <% if !@headless && flash.empty? %>
        <% if current_user && session[:potential_place] %>
          <div class="bootstrap">
            <div id="full-width-notice" class="container-fluid bg-warning">
              <%=t :would_you_prefer_to_view_common_names_used_in_place_html, place: session[:potential_place][:name] %>
              <%= link_to t(:yes), user_path( current_user, user: { place_id: session[:potential_place][:id] }, from_potential_place: true ), method: "PUT", class: "btn btn-success btn-xs" %>
              <%= link_to t(:no), user_path( current_user,  user: { prefers_no_place: true }, from_potential_place: true ), method: "PUT", class: "btn btn-default btn-xs" %>
            </div>
          </div>
        <% elsif current_user && session[:potential_site] %>
          <div class="bootstrap">
            <div id="full-width-notice" class="bg-warning">
              <div class="container">
                <%=raw t(
                  "network_affiliation_prompt_from_inat_to_#{session[:potential_site][:name].parameterize.underscore}_html",
                  inat_site_name: Site.default.name,
                  # For some reason network_affiliation_prompt_from_inat_html
                  # is no longer treated as html safe as of August 2022, so
                  # we have to use raw above and strip_tags below to make
                  # sure nothing bad is sneaking in via the place name
                  default: t( :network_affiliation_prompt_from_inat_html,
                    site_name: session[:potential_site][:name],
                    inat_site_name: Site.default.name,
                    place: strip_tags( session[:potential_site][:place_name] ),
                    vow_or_con: session[:potential_site][:place_name].first.downcase
                  )
                ) %>
                <span class="nobr">
                  <%= link_to t(:yes), user_path( current_user,  user: { site_id: session[:potential_site][:id] }, from_potential_site: true ), method: "PUT", class: "btn btn-default btn-xs" %>
                  <%= link_to t(:learn_more), affiliation_sites_path, class: "btn btn-default btn-xs" %>
                  <%= link_to t(:no), user_path( current_user,  user: { prefers_no_site: true }, from_potential_site: true ), method: "PUT", class: "btn btn-default btn-xs" %>
                </span>
              </div>
            </div>
          </div>
        <% elsif current_user && !current_user.prefers_no_site? && @site != Site.default && current_user.site != @site %>
          <div class="bootstrap">
            <div id="full-width-notice" class="bg-warning">
              <div class="container">
                <%=t :network_affiliation_prompt_from_other_site_html, site_name: @site.name, other_site_name: ( current_user.site || Site.default ).name %>
                <span class="nobr">
                  <%= link_to t(:yes), user_path( current_user,  user: { site_id: @site.id }, from_potential_site: true ), method: "PUT", class: "btn btn-default btn-xs" %>
                  <%= link_to t(:learn_more), affiliation_sites_path, class: "btn btn-default btn-xs" %>
                  <%= link_to t(:no), user_path( current_user,  user: { prefers_no_site: true }, from_potential_site: true ), method: "PUT", class: "btn btn-default btn-xs" %>
                </span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <div id="wrapper" class="bootstrap">
        <% if @feature_test -%>
          <div class="container">
            <div class="box bg-warning">
                <b><%= @feature_test %> test</b>. This is only a test, so please don't expect everything to work correctly.
            </div>
          </div>
        <% end -%>
        <% if flash[:warning] && !@flash_js -%>
          <div class="container">
            <div class="alert alert-warning">
              <% if flash[:warning_title] -%>
                <strong><%=raw flash[:warning_title] %></strong>
              <% end -%>
              <p class="unstacked">
                <%=raw flash[:warning] %>
              </p>
            </div>
          </div>
        <% end -%>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>

    <%= render :partial => 'shared/footer' unless @footless %>

    <div id="inat-universal-autocomplete"></div>

    <%= javascript_include_tag "jquery/jquery-1.11.3.min.js" %>
    <%= javascript_include_tag "jquery/jquery-ui-1.11.4.min.js" %>
    <%= render "shared/i18n" %>
    <script type="text/javascript">
      <% site_place = @site && @site.place
         user_place = current_user && current_user.place
         user_search_place = current_user && current_user.search_place -%>
      <% if site_place -%>
        var SITE_PLACE = <%= json_escape site_place.to_json(only: [:id, :name]).html_safe %>
      <% end -%>
      var PREFERRED_PLACE;
      <% if place = (user_place || site_place) -%>
      PREFERRED_PLACE = <%= json_escape place.
        to_json(only: [:id, :uuid, :name, :display_name, :place_type], methods: [:ancestor_place_ids]).html_safe %>
      <% end -%>
      var PREFERRED_SEARCH_PLACE;
      <% if search_place = user_search_place || site_place -%>
      PREFERRED_SEARCH_PLACE = <%= json_escape search_place.
        to_json(only: [:id, :uuid, :name, :display_name, :place_type], methods: [:ancestor_place_ids]).html_safe %>
      <% end -%>
      var CURRENT_USER;
      <% if logged_in? -%>
        CURRENT_USER = {
          id: <%= current_user.id %>,
          login: '<%= current_user.login %>',
          icon_url: '<%= current_user.icon.file? ? current_user.icon.url(:medium) : "null" %>',
          roles: <%= current_user.roles.map(&:name).to_json.html_safe %>,
          prefers_scientific_name_first: <%= current_user.prefers_scientific_name_first %>,
          prefers_medialess_obs_maps: <%= current_user.prefers_medialess_obs_maps %>,
          prefers_captive_obs_maps: <%= current_user.prefers_captive_obs_maps %>,
          preferred_observations_search_map_type: "<%= current_user.preferred_observations_search_map_type %>",
          prefers_not_nearby_suggestions: <%= !!session[:prefers_not_nearby_suggestions] %>,
          sites_admined: [<%= current_user.site_admins.pluck(:site_id).join( "," ) %>],
          testGroups: <%= current_user.test_groups_array.to_json.html_safe %>,
          donor: <%= current_user.donor? %>,
          monthlyDonor: <%= current_user.monthly_donor? %>
        };
      <% end -%>
      var RAILS_FLASH = <%= flash.to_hash.compact.to_json.html_safe %>;
      var TIMEZONE = "<%= Time.zone.tzinfo.name %>";
      var SITE = {
        id: <%= @site.id %>,
        name: "<%= @site.name %>",
        short_name: "<%= @site.site_name_short %>",
        help_email: "<%= @site.email_help %>",
        logo_square: "<%= @site.logo_square.url %>",
        copyrighted_media_image_urls: {
          original: "<%= image_url("copyright-infringement-original.png") %>",
          large: "<%= image_url("copyright-infringement-large.png") %>",
          medium: "<%= image_url("copyright-infringement-medium.png") %>",
          small: "<%= image_url("copyright-infringement-small.png") %>",
          square: "<%= image_url("copyright-infringement-square.png") %>"
        },
        processing_image_urls: {
          small: "<%= image_url(LocalPhoto.new.file.url(:small)) %>",
          square: "<%= image_url(LocalPhoto.new.file.url(:square)) %>"
        }
      };
      var CONTROLLER_ACTION = "<%= controller.class.to_s %>::<%= action_name %>";
      var CONFIG = {
        content_freeze_enabled: <%= !!CONFIG.content_freeze_enabled %>
      };
    </script>
    <%= javascript_include_tag "bootstrap_bundle" %>
    <script type="text/javascript">
      // stop conflict btwn jqueryui button and bootstrap button
      if ( $ && $.fn && $.fn.button && typeof( $.fn.button.noConflict ) === "function" ) {
        var btn = $.fn.button.noConflict( );
        $.fn.btn = btn;
      }
    </script>
    <%= google_maps_js( libraries: %w(places geometry drawing) ) unless @skip_external_connections %>
    <%= javascript_include_tag "map_bundle" unless @minimal_header || @skip_external_connections %>
    <%= yield :extrajs %>
    <% if logged_in? && !@minimal_header -%>
      <script type="text/javascript" charset="utf-8">
        setUpdatesCount(<%= session[:updates_count].to_i %>)
        setMessagesCount(<%= session[:messages_count].to_i %>)
        setTimeout( getHeaderCounts, 1000 )
      </script>
    <% end -%>
  </body>
</html>
