<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="<%= I18n.locale %>"
      lang="<%= I18n.locale %>"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
  <head>
    <title><%= content_for(:title) ? "#{content_for(:title)} · " : "" %> <%= @site.try(:name) %> </title>
    <meta http-equiv="Content-Language" content="<%= I18n.locale %>">
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=980">
    <%= render :partial => 'shared/common_stylesheets'%>
    <!-- Bootstrap -->
    <%= stylesheet_link_tag 'bootstrap_bundle' %>
    <%= csrf_meta_tag %>
    <meta name="config:inaturalist_api_url" content="<%= CONFIG.node_api_url %>">
    <% if logged_in? -%>
      <meta name="inaturalist-api-token" content="<%= JsonWebToken.encode(user_id: current_user.id) %>">
    <% end -%>
    <% if !@site.twitter_username.blank? -%>
      <meta name="twitter:site" content="<%= @site.twitter_username %>">
    <% end -%>
    <meta property="og:site_name" content="<%= @site.name %>"/>
    <% if CONFIG.facebook && CONFIG.facebook.app_id -%>
      <meta property="fb:app_id" content="<%= CONFIG.facebook.app_id %>" />
    <% end %>
    <% if !@headless && @site && !@site.ios_app_id.blank? -%>
      <meta name="apple-itunes-app" content="app-id=<%= @site.ios_app_id %>">
    <% end -%>
    <%= yield :extrahead %>
    <%= yield :extracss %>
    <% if @site && @shareable_image_url.blank? %>
      <meta property="og:image" content="<%= image_url @site.logo_square.url %>"/>
    <% end %>
  </head>
  <body>
    <div id="bodywrapper"<%=raw " class='no-footer-gap'" if @no_footer_gap %>>
      <% unless @headless -%>
        <%= render :partial => 'shared/header' %>
      <% end -%>
      
      <% if (flash[:notice] || flash[:alert]) && !@flash_js %>
        <p id="flash" class="notice"><%= (flash[:notice] || flash[:alert]).html_safe %></p> 
      <% end %>
      
      <% if flash[:error] && !@flash_js %>
        <p id="flash" class="error"><%= raw flash[:error] %></p>
      <% end %>

      <div id="wrapper" class="bootstrap">
        <% if @feature_test -%>
          <div class="container">
            <div class="box bg-warning">
                <b><%= @feature_test %> test</b>. This is only a test, so please don't expect everything to work correctly.
            </div>
          </div>
        <% end -%>
        <% if flash[:warning] && !@flash_js -%>
          <div class="container">
            <div class="alert alert-warning">
              <% if flash[:warning_title] -%>
                <strong><%=raw flash[:warning_title] %></strong>
              <% end -%>
              <p class="unstacked">
                <%=raw flash[:warning] %>
              </p>
            </div>
          </div>
        <% end -%>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>

    <%= render :partial => 'shared/footer' unless @footless %>

    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' %>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js' %>
    <script type="text/javascript">
      I18n = { }
      <% # Don't set this to CONFIG.default_locale, b/c I18n-js needs en as the final fallback %>
      I18n.defaultLocale = "en";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
      <% site_place = @site && @site.place
         user_place = current_user && current_user.place
         user_search_place = current_user && current_user.search_place -%>
      <% if site_place -%>
        var SITE_PLACE = <%= json_escape site_place.to_json(only: [:id, :name]).html_safe %>
      <% end -%>
      var PREFERRED_PLACE;
      <% if place = (user_place || site_place) -%>
      PREFERRED_PLACE = <%= json_escape place.
        to_json(only: [:id, :name, :display_name, :place_type], methods: [:ancestor_place_ids]).html_safe %>
      <% end -%>
      var PREFERRED_SEARCH_PLACE;
      <% if search_place = user_search_place || site_place -%>
      PREFERRED_SEARCH_PLACE = <%= json_escape search_place.
        to_json(only: [:id, :name, :display_name, :place_type], methods: [:ancestor_place_ids]).html_safe %>
      <% end -%>
      var CURRENT_USER;
      <% if logged_in? -%>
        CURRENT_USER = {
          id: <%= current_user.id %>,
          login: '<%= current_user.login %>',
          icon_url: '<%= current_user.icon.file? ? current_user.icon.url(:medium) : "null" %>',
          roles: <%= current_user.roles.map(&:name).to_json.html_safe %>,
          prefers_scientific_name_first: <%= current_user.prefers_scientific_name_first %>
        };
      <% end -%>
      var RAILS_FLASH = <%= flash.to_hash.compact.to_json.html_safe %>;
      var TIMEZONE = "<%= Time.zone.tzinfo.name %>";
    </script>
    <%= javascript_include_tag 'application_bundle' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      // stop conflict btwn jqueryui button and bootstrap button
      var btn = $.fn.button.noConflict()
      $.fn.btn = btn
    </script>
    <%= google_maps_js libraries: %w(places geometry drawing) %>
    <%= javascript_include_tag "map_bundle" unless @minimal_header %>
    <%= yield :extrajs %>
    <% if logged_in? && !@minimal_header -%>
      <script type="text/javascript" charset="utf-8">
        setUpdatesCount(<%= session[:updates_count].to_i %>)
        setTimeout(getUpdatesCount, 1000)
        setMessagesCount(<%= session[:messages_count].to_i %>)
        setTimeout(getMessagesCount, 1000)
      </script>
    <% end -%>
  </body>
</html>
