<html>
<head>
  <title>iNaturalist: Flickr Integration</title>
  <%= stylesheet_link_tag 'blueprint/screen' %>
  <%= stylesheet_link_tag 'index' %>
  <style type="text/css" media="screen">
    #flickr-link {
      margin-top: 60px;
      font-size: 120%;
    }
    #flickr-link input {
      padding: 10px;
      font-size: 1.6em;
    }
    
    #flickr-link .buttonrow .button,
    #flickr-link .buttonrow span {
      float: none;
      margin: 0 auto;
      text-align: center;
    }
  </style>
  <%= javascript_include_tag 'prototype' -%>
</head>
<body>
  <%= render :partial => 'shared/header' %>  
  <div id="wrapper" class="container clear">

    <% if flash[:notice] %>
    <p id="flash"><%= flash[:notice] %></p> 
    <% end %>

    <% if flash[:error] %>
    <p id="flash" class="error"><%= flash[:error] %></p> 
    <% end %>

    <%= @content_for_layout %>
  
  </div>

  <%= render :partial => 'shared/footer' %>
</body>
</html>
